// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

$brand: #191919;

$theme-colors: (
	"brand": $brand,
	"link": $brand,
	"link hover": $brand,
	"white": #fff,
	"black": #000,
	"content": $brand,
	"light green": #bacdd0,
	"light grey": #e1e1e0,
	"blue": #7ed3cb,
	"green": #658d95,
	"pink": #ec8085,
	"red": #ca3721,
	"grey": #9c9c9c,
	"peach": #f1c9b6
);

// helper variables
$font-color: map-get($theme-colors, "brand");
$loud-color: map-get($theme-colors, "brand");
