@font-face {
	font-family: "Apercu";
	font-style: normal;
	src: url("../fonts/Apercu-Light.eot") format("embedded-opentype"),
		url("../fonts/Apercu-Light.woff") format("woff"),
		url("../fonts/Apercu-Light.ttf") format("truetype"),
		url("../fonts/Apercu-Light.svg#Apercu-Light") format("svg");
	font-weight: 300;
}
@font-face {
	font-family: "Apercu";
	font-style: normal;
	src: url("../fonts/Apercu-Regular.eot") format("embedded-opentype"),
		url("../fonts/Apercu-Regular.woff") format("woff"),
		url("../fonts/Apercu-Regular.ttf") format("truetype"),
		url("../fonts/Apercu-Regular.svg#Apercu-Regular") format("svg");
	font-weight: normal;
}
@font-face {
	font-family: "Apercu";
	font-style: normal;
	src: url("../fonts/Apercu-Bold.eot") format("embedded-opentype"),
		url("../fonts/Apercu-Bold.woff") format("woff"),
		url("../fonts/Apercu-Bold.ttf") format("truetype"),
		url("../fonts/Apercu-Bold.svg#Apercu-bold") format("svg");
	font-weight: bold;
}
$primary: "Apercu", sans-serif;
// $sub-heading: "Apercu-Regular", sans-serif;
// $heading: "Apercu-Bold", sans-serif;
