.c-about {
	&-top {
		margin-bottom: 60px;
		position: relative;
		.page-scroll {
			right: 20px;
			@include mq(tablet) {
				right: 0;
			}
		}
		@include mq(tablet) {
			display: flex;
			justify-content: center;
			@include mq(wideScreen) {
				max-width: 1320px;
				margin: 0 auto;
			}
		}
		@include mq($until: tablet) {
			padding: 24px;
			margin-bottom: 0;
		}
		&__content {
			@include mq(tablet) {
				align-self: flex-end;
				// padding-left: 100px;
				padding-right: 60px;
				flex: 70%;
			}
			@include mq(wideScreen) {
				padding-right: 80px;
				max-width: 820px;
			}
			@include mq($until: tablet) {
				padding: 0;
				padding-right: 30px;
			}
			.cms-content {
				max-width: 600px;
				p {
					@include mq(tablet) {
						&:last-of-type {
							margin-bottom: 0;
						}
					}
				}
			}
		}
		&__image {
			background-size: cover;
			width: 100%;
			height: 100%;
			padding-bottom: 100%;
			background-position: center;
			@include mq(tablet) {
				padding-bottom: 60%;
				flex: 30%;
			}
			@include mq(wideScreen) {
				max-width: 500px;
				flex: auto;
			}
		}
	}
	&-team {
		padding: 50px 0 24px;
		@include mq(tablet) {
			padding: 100px 0 0;
		}
		h2 {
			font-weight: normal;
			margin-bottom: 36px;
		}
		&__types {
			position: relative;
			z-index: 10;
			margin-bottom: 12px;
			@include mq(tablet) {
				margin-bottom: 80px;
			}
			a {
				opacity: 0.5;
				display: inline-block;
				transition: 0.3s;
				margin-bottom: 18px;
				font-weight: normal;
				text-transform: uppercase;
				font-size: 16px;
				&:not(:last-of-type) {
					margin-right: 24px;
				}
				&:hover,
				&.active {
					opacity: 1;
				}
			}
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			align-self: baseline;
			animation: fade-in-fwd 0.5s ease-in;
			text-align: center;
			@include mq(tablet) {
				margin-bottom: 100px;
			}
		}
		&__each {
			flex: 100%;
			padding: 12px;
			max-width: 250px;
			position: relative;
			@include mq(tabletWide) {
				display: flex;
			}
			@include mq(mobileLandscape) {
				flex: 50%;
				max-width: 315px;
				width: 100%;
			}
			@include mq(tabletWide) {
				flex: 50%;
				max-width: 50%;
			}
			&:nth-child(4n + 1) {
				@include mq(tabletWide) {
					align-self: baseline;
				}
				&.animate {
					animation-delay: 0.2s;
				}
			}
			&:nth-child(4n + 2) {
				@include mq(mobileLandscape) {
					margin-top: 15%;
				}
				@include mq(tabletWide) {
					align-self: flex-end;
					justify-content: flex-end;
				}
				@include mq($until: tabletWide) {
					margin-left: auto;
				}
				&.animate {
					animation-delay: 0.3s;
				}
				@include mq($until: tablet, $from: tabletWide) {
					margin-left: 24px;
				}
			}
			&:nth-child(4n + 3) {
				@include mq(tabletWide) {
					align-self: flex-end;
					justify-content: flex-end;
					&:not(:last-of-type) {
						margin-bottom: 100px;
					}
				}
				&.animate {
					animation-delay: 0.4s;
				}
			}
			&:nth-child(4n + 4) {
				@include mq(mobileLandscape) {
					margin-top: 10%;
					align-self: flex-end;
					justify-content: flex-end;
				}
				&.animate {
					animation-delay: 0.5s;
				}
				@include mq($until: tabletWide) {
					margin-left: auto;
				}
			}
			// &.hidden {
			// 	display: none;
			// }
		}
		&__info {
			padding: 24px 0;
			text-align: left;
			@include mq(tabletWide) {
				flex: 50%;
				align-self: flex-end;
				padding-left: 48px;
				margin-bottom: 60px;
				max-width: 100%;
			}
			span {
				display: block;
				&.name {
					font-size: 26px;
					line-height: 1.2;
					font-weight: bold;
					@include mq($until: tabletWide) {
						display: inline-block;
						font-size: 20px;
						&:not(:last-of-type) {
							margin-right: 5px;
						}
					}
				}
			}
		}
		&__img {
			background-size: cover;
			max-width: 270px;
			width: 100%;
			padding-bottom: 81.7%;
			background-position: center;
			flex: 50%;
			@include mq($until: tabletWide) {
				padding-bottom: 120%;
				max-width: 100%;
			}
		}
		&__btn {
			font-size: 16px;
			text-transform: uppercase;
			margin-top: 18px;
			display: inline-block;
			font-weight: normal;
			svg {
				width: 12px;
				height: 12px;
				margin-left: 10px;
			}
			&:hover {
				svg {
					transform: translate(1px, -1px);
				}
			}
		}
		&__bio {
			display: none;
			background-color: #fff;
			position: absolute;
			height: 95%;
			overflow: scroll;
			top: 12px;
			padding: 20px;
			left: 50%;
			margin-left: 10px;
			animation: fade-in-fwd 0.5s ease-in;
			.js-about-bio__close {
				margin-top: 0;
			}
			@include mq($until: tabletWide) {
				top: 0;
				left: 0;
				width: 95%;
				font-size: 16px;
			}
		}
	}

	&-values {
		background-color: color("peach");
		color: #fff;
		line-height: 1.4;
		padding: 60px 0 20px;
		margin-bottom: 60px;
		@include mq(tablet) {
			padding: 100px 0 80px;
		}
		.page-title-alt {
			@include mq(tablet) {
				font-size: 78px;
			}
		}
		.o-module__item {
			align-items: center;
			@include mq(tablet) {
				&:nth-child(1) {
					order: 1;
				}
				&:nth-child(2) {
					order: 0;
				}
				&:nth-child(n + 3) {
					order: 2;
				}
			}
		}
		&__section {
			max-width: 530px;
			margin-bottom: 20px;
			@include mq(tablet) {
				margin-bottom: 50px;
			}
			&-label {
				display: block;
				font-weight: bold;
				margin-bottom: 5px;
			}
			p {
				margin-bottom: 0;
			}
		}
	}

	&-history {
		padding: 50px 24px 12px;
		@include mq(tablet) {
			padding: 80px 0 80px;
			padding-left: 48px;
			@include mq(wideScreen) {
				max-width: 1320px;
				margin: auto;
			}
		}
		&__next,
		&__prev {
			display: none;
			@include mq($until: tablet) {
				display: none;
				position: absolute;
				right: -10px;
				top: -15px;
				z-index: 999;
				width: 20px;
				height: 20px;
				cursor: pointer;
				svg {
					width: 15px;
					height: 15px;
				}
			}
		}
		&__prev {
			right: unset;
			left: -10px;
			transform: rotate(180deg);
			display: none;
		}
		&__content {
			position: relative;
			color: #d1d1d1;
			display: flex;
			min-height: 500px;
			@include mq($until: tablet) {
				flex-direction: column;
				color: color("brand");
				margin-top: 0;
			}
		}
		&__years {
			@include mq($until: tablet) {
				display: flex;
				overflow: auto;
				margin-bottom: 48px;
				scrollbar-width: none; /* Firefox */
				-ms-overflow-style: none; /* IE 10+ */
				&::-webkit-scrollbar {
					width: 0px;
					background: transparent; /* Chrome/Safari/Webkit */
				}
			}
			@include mq(tablet) {
				flex: 135px;
				max-width: 135px;
			}
			@include mq(tabletWide) {
				flex: 195px;
				max-width: 195px;
			}
			animation: fade-in-fwd 0.8s ease-in;
			transition: 0.5s;
			a {
				color: #d1d1d1;
				&.active {
					color: color("brand");
					svg {
						opacity: 1;
					}
				}
				@include mq($until: tablet) {
					&:not(:last-of-type) {
						margin-right: 30px;
					}
					@include mq($until: mobileLandscape) {
						&:not(:last-of-type) {
							margin-right: 10px;
						}
					}
				}
			}
			h3 {
				margin-bottom: 0;
				@include mq(tablet) {
					margin-bottom: 48px;
				}
			}
			svg {
				transform: rotate(-90deg);
				width: 25px;
				height: 25px;
				vertical-align: middle;
				margin-left: 32px;
				opacity: 0;
				@include mq($until: tablet) {
					display: none;
				}
			}
		}
		&__events {
			@include mq(tablet) {
				flex: 52%;
				max-width: 52%;
			}
			@include mq(tabletWide) {
				padding-left: 36px;
			}
		}
		&__event {
			display: none;
			border-bottom: 2px solid;
			margin-bottom: 48px;
			cursor: pointer;
			transition: 0.3s;
			&-info {
				position: relative;
				@include mq(tablet) {
					padding-right: 100px;
				}
				svg {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 0;
					width: 55px;
					height: 55px;
					opacity: 0;
					@include mq($until: tablet) {
						display: none;
					}
				}
			}
			h3 {
				margin-bottom: 24px;
			}
			&.year-active {
				display: block;
			}
			&.active {
				color: color("brand");
				opacity: 1;
				animation: fade-in-fwd 0.8s ease-in;
				transition: opacity 0.3s;
				svg {
					opacity: 1;
				}
			}
		}
		&__event-img {
			display: none;
			transition: 0.3s;
			position: absolute;
			width: 25%;
			right: -5px;
			top: 0;
			.bgimg {
				background-size: contain;
				background-size: cover;
				width: 100%;
				height: 100%;
				padding-bottom: 145%;
				background-repeat: no-repeat;
				border-radius: 5px;
			}
			&.active {
				display: block;
				animation: fade-in-fwd 0.3s ease-in;
			}
			@include mq($until: tablet) {
				display: none !important;
			}
		}
	}

	&-images {
		margin: 0 -10px;
		// .bgimg{
		// 	background-size: cover;
		// 	padding-bottom: 100%;
		// 	background-position: center;
		// 	width: 100%;
		// 	height: 100%;
		// 	border-radius: 5px;
		// 	&--land{
		// 		padding-bottom: 72%;
		// 	}
		// }
	}
	.cycle-next {
		position: absolute;
		right: 0px;
		top: 30px;
		z-index: 999;
		width: 20px;
		height: 20px;
		cursor: pointer;
		@include mq(tablet) {
			right: 90px;
		}
		svg {
			width: 15px;
			height: 15px;
		}
	}
	&-career {
		padding: 50px 0 24px;
		@include mq(tablet) {
			padding: 100px 0 0;
		}
		&__testimonial {
			padding: 0 !important;
			display: inline-block;
			width: 100%;
			position: relative;
			color: color("blue");
			margin-bottom: 48px;
			margin-top: 24px;
			@include mq(tablet) {
				.center-content .c-quotes__list-eachinner {
					top: 0 !important;
					transform: none;
				}
			}
			.c-quotes__list-each {
				@include mq($until: tablet) {
					text-align: left;
				}
			}
		}
	}
	&-middle-section {
		width: 100%;
		position: relative;
		margin-bottom: 48px;
		@include mq(tablet) {
			display: flex;
		}
		h3 {
			position: relative;
			z-index: 10;
		}
		&__slider {
			width: 100%;
			margin-bottom: 30px;
			@include mq(tablet) {
				flex: 40%;
				width: 100%;
				max-width: 460px;
				margin-left: 30px;
			}
		}
		&__content {
			position: relative;
			z-index: 10;
			@include mq(tablet) {
				flex: 60%;
				max-width: 100%;
				width: 730px;
				padding: 48px 24px;
			}
			p {
				max-width: 500px;
			}
		}
		&__images {
			width: 100% !important;
			position: relative;
			padding-bottom: 30px;
			height: 400px;

			@include mq(tablet) {
				flex: 50%;
				max-width: 100%;
			}
			.c-slide {
				padding-right: 30px;
				@include mq(tabletWide) {
					padding-right: 100px;
				}
			}
			img {
				max-height: 380px;
				max-width: 340px;
				height: auto;
				width: auto;
				border-radius: 5px;
				// @include mq(tablet) {
				// 	max-height: 460px;
				// 	max-width: 340px;
				// 	height: auto;
				// 	width: auto;
				// }
			}
			.cycle-next {
				top: 50%;
				transform: translateY(-50%);
				color: #fff;
			}
			.cycle-pager {
				position: absolute;
				bottom: 0;
				margin-top: 48px;
				max-width: 340px;
				// height: 2px;
				display: flex;
				text-align: left;

				span {
					height: 2px;
					width: 100%;
					background: #7ed3cb;
					padding: 0px 32px;
					line-height: 0;
					color: transparent;
					font-size: 2px;
					border-radius: 7px;
					&.cycle-pager-active {
						background-color: color("brand");
					}
				}
			}
		}
	}
	&-positions {
		@include mq(tablet) {
			margin-bottom: 24px;
			margin-top: 100px;
		}
		h2 {
			text-align: center;
		}
		&__list {
			padding-top: 24px;
			&-item {
				display: inline-block;
				@include mq(tablet) {
					margin-bottom: 18px;
				}
				@include mq($until: tablet) {
					padding: 0;
				}
			}
			.swiper-controls {
				@include mq(tablet) {
					display: none;
				}
			}
		}
		.bgimg {
			background-size: cover;
			padding-bottom: 70%;
			display: inline-block;
			width: 100%;
			background-position: center;
			position: relative;
			border-radius: 5px;
			color: #fff;
			@include mq($until: tablet) {
				padding-bottom: 55%;
			}
			&:after {
				content: "";
				top: 0;
				left: 0;
				background: linear-gradient(
					360deg,
					#191919 0%,
					rgba(25, 25, 25, 0) 100%
				);
				width: 100%;
				height: 100%;
				position: absolute;
				border-radius: 5px;
			}
			h2 {
				position: absolute;
				bottom: 0;
				padding: 24px;
				z-index: 10;
				text-align: left;
				margin-bottom: 0;
				@include mq($until: laptopMed) {
					font-size: 24px;
				}
			}
		}
		&__seeall {
			color: color("brand") !important;
			border: 1px solid color("brand");
			background-color: transparent;
			&:after {
				display: none;
			}
		}
	}
	&-bottom {
		text-align: center;
		h2 {
			@include mq($until: tablet) {
				font-size: 26px;
			}
		}
	}
}
