.c-blogs {
	&__header {
		position: relative;
		padding-bottom: 30px;
		.page-scroll {
			top: 0;
		}
		.cms-content {
			max-width: 650px;
		}
	}
	&-top {
		background-color: #f1c9b6;
		// padding: 60px 0;
		display: flex;
		align-items: center;
		margin: 50px 0 15px;
		border-radius: 5px;
		@include mq($until: tablet) {
			margin: 0px 0 24px;
			flex-direction: column;
			// padding: 24px;
		}
		&__img {
			max-width: 450px;
			background-size: cover;
			background-position: center;
			height: 100%;
			width: 100%;
			padding-bottom: 40%;
			border-radius: 5px 0 0 5px;
			@include mq($until: tabletWide) {
				padding-bottom: 50%;
			}
			@include mq($until: tablet) {
				max-width: 100%;
				border-radius: 5px 5px 0 0;
			}
		}
		&__content {
			padding: 24px;
			color: #fff;
			@include mq(tablet) {
				padding: 24px;
				padding-left: 80px;
				max-width: 650px;
				margin-top: 100px;
			}
			&-tag {
				text-transform: uppercase;
				font-weight: normal;
				font-size: 16px;
				margin-bottom: 20px;
			}
		}
	}
	.o-layout {
		margin-left: -15px;
		&__item {
			padding-left: 15px;
		}
	}
	&-middle-section {
	}
	&__top-stories {
		background: #fff;
		padding: 24px 12px;
		border-radius: 5px;
		&--title {
			font-size: 14px;
			font-weight: normal;
			text-transform: uppercase;
			margin-bottom: 24px;
			padding: 0 12px;
		}
		&--list {
			display: flex;
			flex-wrap: wrap;
			.c-blogs-list__inner {
				display: inline-block;
				height: 100%;
				flex: 100%;
				overflow: hidden;
				padding: 6px;
				@include mq(mobileLandscape) {
					flex: 50%;
					max-width: 50%;
					padding: 12px;
				}
				.c-blogs-list__img {
					padding-bottom: 41.6%;
					margin-bottom: 12px;
				}
				&:hover {
					h4 {
						opacity: 0.75;
					}
					.c-blogs-list__img {
						transform: scale(1.03);
					}
				}
			}
		}
	}
	h4 {
		margin-bottom: 6px;
		font-weight: normal;
		font-weight: normal;
		line-height: 1.15;
		transition: 0.3s;
		@include mq($until: tablet) {
			font-size: 18px;
		}
	}
	&__featured-posts {
		.c-blogs-list__inner {
			background: #fff;
			border-radius: 5px;
			display: flex;
			font-size: 0;
			margin-bottom: 15px;
		}
		.c-blogs-list__img {
			border-radius: 0 5px 5px 0;
			margin-bottom: 0;
			padding-bottom: 41.6%;
			flex: 0;
			@include mq(mobileLandscape) {
				flex: 50%;
			}
		}
		.c-blogs-list__content {
			align-self: center;
			padding: 24px;
			max-width: 360px;
			flex: 50%;
		}
	}
	&__categories {
		// text-align: center;
		padding-top: 20px;
		a {
			opacity: 0.5;
			display: inline-block;
			transition: 0.3s;
			font-weight: normal;
			text-transform: uppercase;
			font-size: 16px;
			margin-bottom: 12px;
			&:not(:last-of-type) {
				margin-right: 24px;
			}
			&:hover,
			&.active {
				opacity: 1;
			}
		}
	}
	&__listing {
		padding: 50px 0;
		@include mq(tablet) {
			padding: 100px 0;
		}
	}
	.new-tag {
		background-color: color("pink");
		color: #fff;
		padding: 6px 9px;
		line-height: 0.85;
		text-align: center;
		border-radius: 5px;
	}
	&-list {
		padding-top: 36px;
		&__img {
			background-color: #cccccc;
			background-position: center;
			background-size: cover;
			padding-bottom: 54%;
			border-radius: 5px;
			width: 100%;
			height: 100%;
			margin-bottom: 20px;
			transition: 0.3s;
			overflow: hidden;
		}
		&__cate {
			text-transform: uppercase;
			font-weight: normal;
			font-size: 16px;
			line-height: 1;
			margin-bottom: 20px;
		}
		h4 {
			margin-bottom: 6px;
			font-weight: normal;
			font-weight: normal;
			line-height: 1.15;
			transition: 0.3s;
		}
		&__container {
			position: relative;
			overflow: hidden;

			&:hover {
				h4 {
					opacity: 0.75;
				}
				.c-blogs-list__img {
					transform: scale(1.03);
				}
			}
		}
	}
	&__pagination {
		text-align: center;
		display: inline-block;
		width: 100%;
		margin: 50px 0 0px;
		@include mq(tablet) {
			margin: 60px 0;
		}
		&-pages {
			display: inline-block;
			padding: 0 60px;
			a {
				font-size: 16px;
				color: color("grey");
				line-height: 1;
				transition: 0.3s;
				&:not(:last-of-type) {
					margin-right: 24px;
				}
				&.is-active {
					color: color("brand");
				}
			}
			span {
				margin-right: 24px;
				color: color("grey");
			}
		}
		&-arrows {
			display: inline-block;
			transition: 0.3s;
			svg {
				width: 15px;
				height: 15px;
			}
			&:hover {
				opacity: 0.75;
				transform: scale(1.08);
			}
		}
	}
}
