.c-contact {
	&__top {
		position: relative;
		.page-scroll {
			top: 0;
		}
		.cms-content {
			max-width: 450px;
			padding-right: 24px;
		}
		.page-title {
			margin-top: 0px;
		}
	}
	&__details {
		@include mq(tablet) {
			margin-bottom: 100px;
			margin-top: 50px;
		}
		span {
			display: block;
			margin-bottom: 8px;
		}
		a {
			font-size: 36px;
			font-weight: bold;
			margin-bottom: 24px;
			display: inline-block;
			@include mq($until: mobileLandscape) {
				font-size: 21px;
			}
		}
		.email {
			@include mq($until: tablet) {
				// line-break: anywhere;
			}
		}
	}
	h2 {
		margin-bottom: 24px;
	}
	&__bottom {
		display: flex;
	}
	&__image {
		flex: 30%;
		// @include mq($until: wideScreen) {
		// }
		@include mq($until: tablet) {
			display: none;
		}
	}
	&__walkthrough {
		max-width: 400px;

		a:first-child {
			display: block;
			margin-bottom: 30px;
			border-radius: 5px;
			overflow: hidden;
		}
	}

	&__form {
		padding: 48px;
		flex: 70%;
		padding-left: 100px;
		@include mq(tablet) {
			margin-top: 50px;
		}
		@include mq(wideScreen) {
			padding-left: 120px;
		}
		@include mq($until: tablet) {
			padding: 24px;
		}
		.wpcf7 {
			max-width: 780px;
		}
	}
	.c-images-layout {
		padding: 50px 0;
		@include mq(tablet) {
			padding: 100px 0;
		}
	}
}
