.c-flex-content {
	&--all {
		margin: 60px 0;
	}
	// Content Module
	&--content {
	}

	//  2 COlumn Content Module
	&--2-column-content {
		column-gap: 40px;
		column-count: 2;
	}

	// Repeater Module
	&--repeater {
		&_block {
			img {
				width: 200px;
				margin: 0 auto;
			}
		}
	}

	// Image Left, Content Right Module
	&--image-content {
		&_left {
			img {
				width: 200px;
				margin: 0 auto;
			}
		}
		&_right {
		}
	}

	// Content Left, Image Right Module
	&--content-image {
		&_left {
		}
		&_right {
			img {
				width: 200px;
				margin: 0 auto;
			}
		}
	}
}
