.c-home {
	h2 {
		margin-bottom: 12px;
		line-height: 1;
	}
	&-top {
		margin-bottom: 60px;
		position: relative;
		@include mq($until: tablet) {
			min-height: 70vh;
		}
		&__mockup {
			max-width: 350px;
			max-width: 25%;
			margin: auto;
			text-align: center;
			position: relative;
			z-index: 1;
			@include mq(tablet) {
				margin-left: 40%;
				margin-top: 50px;
			}
			@include mq(wideScreen) {
				margin-left: 42%;
				max-width: 20%;
			}
			@include mq($until: tablet) {
				max-width: 200px;
			}
			img {
				transition: 3s;
				background-color: transparent;
				border-width: 0;
				border-radius: 0;
			}
			video {
				transition: 3s;
				width: 100%;
				height: auto;
				margin: 0 auto;
			}
			.js-rand-parallax {
				position: relative;
				transition: 3s;
				.gif-mockup {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
		&__logo {
			position: absolute;
			top: 48%;
			transform: translateY(-50%);
			z-index: 10;
			opacity: 0.95;
			@include mq($until: tablet) {
				display: none;
			}
		}

		&__logo-mobile {
			display: none;
			@include mq($until: tablet) {
				display: block;
				max-width: 130px;
				max-height: 90vh;
				width: auto;
				height: auto;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				z-index: 1;
				margin-top: -80px;
			}
		}
		&__scroll {
			position: relative;
			.page-scroll {
				top: -20px;
				right: 20px;
			}
			// text-decoration: none;
			// transform: rotate(-90deg);
			// transform-origin: bottom;
			// display: inline-block;
			// text-transform: uppercase;
			// font-weight: normal;
			// margin-top: 30px;
			// margin-left: -20px;
			// .c-svgicon {
			// 	width: 22px;
			// 	height: 22px;
			// 	transform: rotate(90deg) translate(5px, 4px);
			// 	display: inline-block;
			// 	transition: 0.3s;
			// }
			// &:hover {
			// 	opacity: 0.8;
			// 	.c-svgicon {
			// 		transform: rotate(90deg) translate(5px, 8px);
			// 	}
			// }
			// @include mq($until: tablet) {
			// 	font-size: 14px;
			// 	margin-top: 80px;
			// }
		}
	}
	&-intro {
		padding: 60px 0;
		@include mq(tablet) {
			margin-top: 150px;
			padding: 60px 0 0;
		}
		.page-title {
			color: color("green");
			max-width: 100%;
			@include mq(tablet) {
				margin-bottom: 60px;
			}
		}
		.intro-para {
			margin-bottom: 30px;
		}
	}
	&-services {
		padding: 50px 0;
		@include mq(tablet) {
			padding: 0px 0 100px;
		}
		&__each {
			text-align: center;
			img {
				max-height: 140px;
				max-width: 170px;
				width: auto;
				height: auto;
				margin: 0 auto 30px;
			}
			&-title {
				text-transform: uppercase;
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 12px;
				display: block;
			}
			p {
				max-width: 360px;
				margin: 0 auto 30px;
			}
			&-link {
				// color: color("green");
				vertical-align: middle;
				text-transform: uppercase;
				transition: 0.3s;
				font-weight: normal;
				svg {
					margin-left: 15px;
				}
				&:hover {
					color: color("brand");
				}
			}
		}
	}
	.c-section {
		margin-bottom: 15px;
		padding: 55px 0 36px;
		@include mq($until: tablet) {
			padding: 48px 0 24px;
			text-align: center;
		}
		.o-layout__item {
			vertical-align: middle;
		}
		span {
			text-transform: uppercase;
			display: block;
			color: color("grey");
			margin-bottom: 24px;
		}
		.cms-content {
			padding: 0 24px;
			max-width: 520px;
			@include mq(tablet) {
				margin-top: 150px;
			}
		}
		p {
			max-width: 540px;
		}
	}
	&-success {
		background-color: color("brand");
		.home & {
			background: linear-gradient(
				90deg,
				rgb(126, 211, 203) 30%,
				rgb(101, 141, 149) 90%
			);
			color: #fff;
			border-radius: 5px;

			&__images {
				position: relative;
			}
			.cms-content {
				span {
					color: #fff;
				}
			}
			a {
				@extend .o-btn--white;
			}
		}
		.skater-images {
			position: relative;
			width: 100%;
			padding: 0 24px;
			@include mq(tabletWide) {
				margin-left: 70px;
			}
			@include mq($until: tablet) {
				overflow: hidden;
				display: none;
				margin-left: 0;
			}
			.mobile {
				width: 160px;
				@include mq(tablet) {
					width: 260px;
				}
			}
			.skater {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include mq(tablet) {
					opacity: 0;
				}
				&-1 {
					@include mq(tablet) {
						width: 18%;
						transform: translate(-58%, -36%);
					}
				}
				&-2 {
					z-index: 1;
					@include mq(tablet) {
						width: 25%;
						transform: translate(-20%, -47%);
					}
				}
				&-3 {
					z-index: 2;
					@include mq(tablet) {
						width: 32%;
						transform: translate(2%, -51%);
					}
				}
				&-4 {
					z-index: 4;
					@include mq(tablet) {
						width: 38%;
						transform: translate(21%, -52%);
					}
				}
			}
		}
		.skater-mob-img {
			display: none;
			@include mq($until: tablet) {
				display: block;
			}
		}
	}
	&-recipe {
		background: #fff;
		border-radius: 5px;
		.cms-content {
			@include mq(tabletWide) {
				max-width: 560px !important;
				padding-left: 100px !important;
			}
		}
		&__video-wrap {
			position: relative;
			top: 0;
			display: block;
			width: 100%;
			overflow: hidden;
		}

		&__video {
			display: block;
			position: relative;
			background-clip: border-box;
			float: left;
			z-index: 2;
			height: auto;
			width: 100%;
			padding: 0;
			text-align: center;
			@include mq(tablet) {
				width: auto;
				height: 400px;
			}
		}
	}

	&-marketing {
		background: linear-gradient(
			90deg,
			rgb(241, 201, 182) 30%,
			rgb(236, 128, 133) 90%
		);
		.cms-content {
			span {
				color: #fff;
			}
		}
		a {
			@extend .o-btn--alt;
		}
		color: #fff;
		border-radius: 5px;
		.weight-images {
			position: relative;
			width: 100%;
			overflow: hidden;
			@include mq(tabletWide) {
				margin-left: 60px;
			}
			@include mq($until: tablet) {
				display: none;
			}
			.main-img {
				width: 310px;
			}
			.weight {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include mq(tablet) {
					opacity: 0;
				}
				&-1 {
					width: 42%;
					transform: translate(-71%, -87%);
				}
				&-2 {
					z-index: 1;
					width: 54%;
					transform: translate(-44%, -52%);
				}
				&-3 {
					z-index: 2;
					width: 70%;
					transform: translate(-24%, -28%);
				}
				// &-4 {
				// 	z-index: 4;
				// 	width: 44%;
				// 	transform: translate(-15%, -29%);
				// }
			}
		}
		.weight-mob-img {
			display: none;
			@include mq($until: tablet) {
				display: block;
			}
		}
		.cms-content {
			@include mq(tablet) {
				margin-top: 150px !important;
			}
		}
	}
	&-about {
		padding: 50px 0;
		&__top {
			@include mq(tablet) {
				padding-top: 50px;
			}
			img {
				border-radius: 5px;
				margin-bottom: 24px;
				@include mq(tablet) {
					max-width: 360px;
					margin-bottom: 0;
				}
			}
		}
		&__top-content {
			margin-bottom: 24px;
			max-width: 650px;
			@include mq(tablet) {
				margin-top: 80px;
			}
		}
		&__slider {
			margin-bottom: 50px;
			.bgimg {
				background-size: cover;
				background-position: center;
				width: 100%;
				height: 100%;
				border-radius: 5px;
				padding-bottom: 60%;
				@include mq(tablet) {
					padding-bottom: 34%;
				}
			}
		}

		&__list {
			@include mq(tablet) {
				margin-top: 100px;
			}
			text-align: center;
			img {
				margin: 0 auto 38px;
				max-height: 80px;
				width: auto;
				@include mq(tablet) {
					margin-bottom: 90px;
				}
			}
		}
		&__metric {
			font-size: 50px;
			line-height: 0.9;
			margin-bottom: 8px;
			font-weight: bold;
			display: block;
		}

		.intro-para-extended {
			display: none;
			max-width: 830px;
			// font-size: 36px;
			// font-weight: bold;
			margin-bottom: 24px;
			line-height: 1.25;
		}
	}
	&-clients {
		padding: 60px 0 40px;
		@include mq(tablet) {
			padding: 60px 0;
		}
		background-color: #fff;
		&__top {
			@include mq(tablet) {
				margin-top: 150px;
			}
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			@include mq(tablet) {
				margin-top: 60px;
			}
		}
		&__each {
			@include mq(tablet) {
				max-width: 20%;
				flex: 20%;
			}
			img {
				width: auto;
				margin: auto;
				max-height: 110px;
				filter: brightness(0.1);
				@include mq(tablet) {
					max-height: 150px;
				}
				@include mq($until: mobileM) {
					max-height: 75px;
				}
			}
		}
	}
	&-contact {
		background-color: color("white");
	}
}
