.c-images-layout {
	.o-module__item {
		&:nth-child(1) {
			@include mq(tablet) {
				order: 2;
			}
		}
		&:nth-child(3) {
			@include mq(tablet) {
				order: 3;
			}
		}
	}
	.o-layout {
		margin-left: -15px;
		&__item {
			margin-bottom: 15px;
			padding-left: 15px;
		}
	}
	.bgimg {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		padding-bottom: 82.19%;
		border-radius: 5px;
		@include mq(wideScreen) {
			padding-bottom: 70%;
		}

		&--1 {
			order: 2;
			padding-bottom: 39.4%;
			.single.single-ra-project & {
				padding-bottom: 50%;
			}
		}
		&--3 {
			order: 3;
			.single.single-ra-project & {
				padding-bottom: 50%;
			}
		}
		&--2 {
			order: 2;
			.single.single-ra-project & {
				padding-bottom: 50%;
			}
		}
	}
}
