.c-footer {
	background-color: color("green");
	padding: 70px 0;
	color: #fff;
	overflow: hidden;
	font-weight: normal;
	@include mq($until: tabletWide) {
		text-align: center;
	}
	&-top {
		display: flex;
		@include mq($until: tabletWide) {
			flex-direction: column;
		}
		&__left {
			@include mq(tabletWide) {
				flex: 75%;
			}
			display: flex;
			@include mq($until: tabletWide) {
				flex-direction: column;
			}
			.c-cols {
				margin-bottom: 24px;
				@include mq(tabletWide) {
					flex: 20%;
					padding: 0 12px;
					margin-bottom: 0;
				}
			}
		}
		&__right {
			flex: 25%;
		}
	}
	&__logo {
		width: 112px;
		height: 18px;
	}
	a {
		color: #fff;
		font-size: 14px;
		line-height: 1.4;
		text-decoration: none;
		text-transform: uppercase;
		margin-bottom: 12px;
		transition: 0.3s;
		font-weight: normal;
		&:hover {
			opacity: 0.6;
		}
	}
	&__links {
		a {
			display: block;
			margin-bottom: 12px;
		}
		&-dm {
			&:not(:first-of-type) {
				font-size: 12px;
				margin-bottom: 5px;
				color: color("white");
			}
		}
	}
	&__contact {
		position: relative;
		a {
			display: block;
		}
		&-email {
			// line-break: anywhere;
		}
		@include mq(tabletWide) {
			&:before {
				content: "";
				position: absolute;
				border-left: 1px solid rgba(147, 147, 147, 0.3);
				width: 1px;
				height: 241%;
				top: -70px;
				left: 0;
				@include mq(tabletWide) {
					left: 20px;
				}
			}
		}
	}
	&__contact-details {
		@include mq(tabletWide) {
			padding-left: 70px;
		}
		display: inline-block;
	}
	&__copy {
		p,
		a {
			color: #fff;
			font-size: 12px;
			line-height: 1.6;
			text-transform: uppercase;
			margin-bottom: 4px;
		}
		.partner-link {
			text-decoration: underline;
		}
	}
	.c-social {
		margin-top: 24px;
		&__icon {
			display: inline-block;
			&:not(:last-of-type) {
				margin-right: 8px;
				@include mq(tabletWide) {
					margin-right: 15px;
				}
			}
			svg {
				width: 30px;
				height: 30px;
				@include mq(tabletWide) {
					width: 40px;
					height: 40px;
				}
			}
			&:hover {
				opacity: 0.6;
			}
		}
	}
}
