.c-top {
	padding: 20px 0;
	position: relative;
	z-index: 500;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 900;
	transition: 0.3s;
	&.fixed {
		background: #fff;
		padding: 6px 0;
		@include mq($until: tabletWide) {
			padding: 10px 0 2px;
		}
	}
	&--spacer {
		height: 100px;
		.admin-bar & {
			height: calc(100px - 32px);
		}
	}
	@include mq($until: tabletWide) {
		&.nav-open {
			position: fixed;
			width: 100%;
			min-height: 100vh;
			top: 0;
			left: 0;
			background: color("brand");
			z-index: 500;
			transition: 0.3s;
			padding: 20px 0;
			.c-header__toggle {
				display: none;
			}
			.c-header__close {
				display: block;
			}
			.c-header__logo {
				.home & {
					opacity: 1;
					color: #fff;
				}
			}
			.c-site-nav {
				display: block;
				position: absolute;
				width: 100%;
				text-align: center;
				top: 50%;
				left: 50%;
				z-index: 500;
				transform: translate(-50%, -50%);
			}
			a {
				color: #fff;
			}
			.c-top__headerbg {
				display: none;
				z-index: -1;
			}
		}
	}
}
.c-top-headerbg {
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	// transform: translateY(-40%);
	// canvas {
	// 	height: 500px;
	// 	opacity: 0.6;
	// }
	// background: linear-gradient(
	// 	180deg,
	// 	rgba(236, 128, 133, 1) 10%,
	// 	#f6f6f5 50%
	// );
	video {
		width: 100%;
		height: auto;
		width: 120%;
		margin: 0 -5%;
	}
	&:after {
		content: "";
		position: absolute;
		background: linear-gradient(
			180deg,
			rgba(239, 238, 238, 0) 70%,
			rgb(246, 246, 245) 100%
		);
		z-index: -1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.c-header {
	@include mq(tabletWide) {
		position: relative;
	}
	a {
		color: #fff;
		@include mq(tablet) {
			.fixed & {
				color: color("brand");
			}
		}
	}

	.c-logo-wrap {
		display: inline-block;
		line-height: 0;
		cursor: pointer;
		@include mq(tabletWide) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}
	&__logo {
		width: 142px;
		height: 22px;
		transition: 0.3s;
		color: #fff;
		.c-top.fixed & {
			width: 112px;
			height: 18px;
			color: color("brand");
		}
		.c-top.fixed.nav-open & {
			color: #fff;
		}
		@include mq($until: tabletWide) {
			width: 112px;
			height: 18px;
			.home & {
				opacity: 0;
			}
			.c-top.fixed & {
				opacity: 1;
			}
		}
	}
	&__toggle {
		display: block;
		line-height: 0;
		width: auto;
		float: right;
		.c-top.fixed & {
			color: color("brand");
		}
		&-icon {
			width: 25px;
			height: 16px;
		}
		@include mq(tabletWide) {
			display: none;
		}
	}
	&__close {
		display: none;
		width: auto;
		float: right;
		line-height: 0;
		&-icon {
			width: 20px;
			height: 20px;
		}
		.nav-open & {
			color: #fff;
		}
		@include mq(tabletWide) {
			display: none;
		}
	}
	&__social-mobile {
		display: none;
		@include mq($until: tabletWide) {
			display: block;
			.c-social {
				// margin-top: 24px;
				&__icon {
					display: inline-block;
					&:not(:last-of-type) {
						margin-right: 15px;
					}
					svg {
						width: 40px;
						height: 40px;
					}
					&:hover {
						opacity: 0.6;
					}
				}
			}
		}
	}
}
