.c-content {
	.home & {
		padding-top: 0;
		// z-index: unset;
	}
	position: relative;
	z-index: 10;
	padding-top: 40px;
	@include mq(tablet) {
		padding-top: 200px;
	}
}

.c-main-content {
}

.c-cms-content {
}
