.c-skip {
	position: absolute;
	top: -10px;
	z-index: -999;
	width: 1px;
	height: 1px;
	overflow: hidden;
	@include attention() {
		top: $spacing-unit--small;
		left: 50%;
		z-index: 999;
		display: inline-block;
		width: auto;
		height: auto;
		transform: translateX(-50%);
	}
}

.c-site-nav {
	display: inline-block;
	width: 100%;
	position: relative;
	top: 6px;

	@include mq($until: tabletWide) {
		display: none;
		margin-top: 24px;
	}
}

.c-nav {
	margin-bottom: 0;
	list-style: none;
	@include mq(tabletWide) {
		.fixed & {
			padding-top: 10px;
		}
	}
	li {
		transition: 0.3s;
		border-bottom: 2px solid transparent;
		position: relative;
		@include mq(tabletWide) {
			&:hover,
			&.current-menu-item {
				border-bottom: 2px solid #fff;
				.c-top.fixed & {
					border-color: color("brand");
				}
			}
		}
		@include mq(tabletWide) {
			display: inline-block;
			&:not(:last-child) {
				margin-right: 30px;
			}
		}
		a {
			font-size: 16px;
			line-height: 1;
			text-transform: uppercase;
			text-decoration: none;
			display: inline-block;
			font-weight: normal;
			@include mq($until: tabletWide) {
				font-size: 24px;
				margin-bottom: 30px;
				font-weight: bold;
			}
		}
	}
	&-left {
		@include mq(tabletWide) {
			float: left;
		}
	}
	&-right {
		@include mq(tabletWide) {
			float: right;
		}
	}
	.sub-menu {
		@include mq(tabletWide) {
			display: none;
			z-index: 500;
			position: absolute;
			left: 50%;
			top: 60px;
			width: 250px;
			list-style: none;
			background: white;
			padding: 24px 12px;
			border-radius: 3px;
			transform: translateX(-50%);
			text-align: center;
			box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
			&:before {
				content: "";
				position: absolute;
				top: -10px;
				left: 50%;
				width: 20px;
				height: 20px;
				background-color: #fff;
				transform: translateX(-50%) rotate(45deg);
			}
		}
		li {
			display: block;
			margin-right: 0;
			border: 0;
			transition: 0.2s;
			@include mq(tabletWide) {
				&:not(:last-of-type) {
					margin-bottom: 12px;
				}
			}
			a {
				@include mq(tabletWide) {
					color: color("brand");
				}
			}
			@include mq($until: tabletWide) {
				a {
					opacity: 0.6;
				}
			}
			@include mq(tabletWide) {
				&:hover,
				&.current-menu-item {
					border-bottom: 0;
					opacity: 0.8;
				}
			}
		}
	}
	&__subnav-toggle {
		position: relative;
		display: inline-block;
		margin-left: 5px;
		width: 12px;
		height: 12px;
		background-image: url(../img/select-arrow-white.png);
		background-size: 12px 7px;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-transition: 0.25s;
		-o-transition: 0.25s;
		transition: 0.25s;
		.c-top.fixed & {
			background-image: url(../img/select-arrow.png);
		}

		@include mq($until: tabletWide) {
			display: none;
		}
	}
}

.c-page-nav {
	margin-top: 36px;
	padding-top: 12px;
	border-top: 1px solid color("content");
	text-align: center;
	.page-numbers {
		display: inline-block;
		padding: 4px 6px;
		color: color("content");
		text-decoration: none;
		&:hover,
		&.current {
			color: shade(color("content"), 30%);
		}
	}
}
