.c-services {
	&-top {
		position: relative;
		margin-bottom: 50px;
		.cms-content {
			max-width: 650px;
			padding-right: 24px;
		}
		@include mq(tablet) {
			margin-bottom: 100px;
		}
	}
	.w-950 {
		max-width: 950px;
	}
	&-list {
		&__wrap {
			display: flex;
			margin-bottom: 48px;
			flex-direction: column;
			@include mq(tablet) {
				margin-bottom: 100px;
			}
		}
		h2 {
			color: color("green");
			opacity: 0.3;
			max-width: 100%;
			margin-bottom: 24px;
			font-size: 42px;
			line-height: 1.1;
			font-weight: normal;
			@include mq(tablet) {
				align-self: flex-start;
				margin-top: 60px;
				font-size: 64px;
			}
			// @include mq($until: tablet) {
			// 	font-size: 48px;
			// }
		}
		&__each {
			width: 100%;
			display: flex;
			align-items: center;
			@include mq($until: tablet) {
				flex-direction: column;
			}
		}
		&__card {
			&.ecom-section {
				.page-template-tmpl-services &,
				.home &,
				.page-template-tmpl-single-service & {
					background-color: color("blue");
					color: color("white");
					margin-bottom: 100px;
					@include mq($until: tablet) {
						padding: 50px 0 24px;
						margin-bottom: 50px;
					}
					.c-services-list__wrap {
						margin-bottom: 24px;
						@include mq(tablet) {
							margin-bottom: 40px;
						}
					}
					.c-services-list__img {
						@include mq(tablet) {
							margin-bottom: -50px;
						}
					}
					.c-services-list__info {
						@include mq(tablet) {
							margin-top: 0;
						}
					}
					h2 {
						color: color("white");
						opacity: 0.5;
					}
					.c-services-list__btn {
						.o-btn {
							@extend .o-btn--alt;
						}
					}
				}
			}
			.page-template-tmpl-services &:last-of-type {
				background: #fff;
				margin-top: -100px;
				padding-top: 50px;
				@include mq($until: tablet) {
					padding: 50px 0 10px;
					margin-top: -50px;
				}
				.c-services-list__img {
					@include mq(tablet) {
						margin-bottom: -50px;
					}
				}
			}
			&:nth-of-type(odd) {
				@include mq(tablet) {
					.c-services-list__img {
						order: 2;
					}
					.c-services-list__info {
						padding-left: 0;
						order: 1;
						padding-right: 60px;
					}
					h2 {
						align-self: flex-end;
					}
				}
			}
		}

		&__img {
			background-size: cover;
			background-position: top center;
			width: 100%;
			height: 100%;
			color: #fff;
			position: relative;
			margin-bottom: 24px;
			padding-bottom: 45%;
			@include mq(tablet) {
				max-width: 55%;
				padding-bottom: 33.3%;
				flex: 55%;
				margin-bottom: 0;
			}
		}
		&__info {
			// max-width: 430px;
			@include mq(tablet) {
				max-width: 45%;
				flex: 45%;
				padding-left: 90px;
				margin-top: 80px;
			}
			h3 {
				margin-bottom: 50px;
				@include mq(tablet) {
					font-size: 36px;
				}
			}
		}
	}
}
