.c-service {
	.page-title {
		@include mq($until: mobileLandscape) {
			font-size: 45px;
		}
	}
	&-h1 {
		font-weight: normal;
		font-size: 40px;
		line-height: 1.1;
		@include mq(tablet) {
			font-size: 64px;
		}
	}
	.page-scroll {
		right: 15px;
		bottom: 0;
		top: unset;
		@include mq(tablet) {
			top: 0;
			right: 30px;
		}
	}
	.c-cms-content {
		p {
			margin-bottom: 18px;
		}
		&.content-two-col {
			@include mq(tablet) {
				div {
					column-count: 2;
					column-gap: 18px;
				}
			}
		}
	}
	.w-950 {
		max-width: 950px;
	}
	.swiper-controls {
		@include mq(tablet) {
			display: none;
		}
	}
	&__top {
		margin-bottom: 24px;
		position: relative;
		@include mq(tablet) {
			margin-bottom: 80px;
			display: flex;
		}
		h1 {
			@include mq(tablet) {
				max-width: 720px;
				flex: 1;
			}
		}
		&-content {
			@include mq($until: tablet) {
				padding-right: 20px;
			}
			@include mq(tablet) {
				max-width: 480px;
				padding: 0 40px;
			}
		}
	}
	&__banner {
		background-position: top center;
		background-size: cover;
		border-radius: 5px;
		margin-bottom: 50px;
		padding-bottom: 48%;
		@include mq(tablet) {
			padding-bottom: 33%;
			margin-bottom: 100px;
		}
	}
	.c-cms-content {
		margin-bottom: 36px;
		@include mq(tablet) {
			margin-bottom: 80px;
		}
		h2,
		h3,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 24px;
		}
		h5 {
			font-size: 18px;
			@include mq(tablet) {
				font-size: 18px;
			}
		}
		h2,
		h3,
		h4 {
			font-size: 26px;
			@include mq(tablet) {
				font-size: 36px;
			}
		}
		a {
			color: color("pink");
		}
		img {
			width: 100%;
			height: auto;
			max-width: 400px;
			min-width: auto;
			margin: auto;
		}
	}

	// data transformation page

	&__video-wrap {
		position: relative;
		top: 0;
		display: block;
		width: 100%;
		overflow: hidden;
	}

	&__video {
		display: block;
		position: relative;
		background-clip: border-box;
		float: left;
		z-index: 2;
		height: auto;
		width: 100%;
		padding: 0;
		text-align: center;
		@include mq(tablet) {
			width: auto;
			height: 400px;
		}
	}

	&-sections {
		.c-section {
			margin-bottom: 48px;
			@include mq(tablet) {
				margin-bottom: 80px;
			}
			h5 {
				margin-bottom: 6px;
			}
			ul {
				margin-bottom: 0;
			}
			.c-metrics {
				display: flex;
				padding-top: 24px;
				// align-items: flex-end;
				@include mq($until: tablet) {
					flex-wrap: wrap;
					justify-content: center;
				}
				&__each {
					&:not(:last-of-type) {
						margin-right: 24px;
					}
					@include mq($until: tablet) {
						flex: 100%;
						&:not(:last-of-type) {
							margin-right: 12px;
						}
						text-align: center;
						max-width: auto;
					}
				}
				h3 {
					font-weight: bold;
					color: color("blue");
					line-height: 0.9;
					margin-bottom: 6px;
					font-size: 48px;
					@include mq(tablet) {
						font-size: 60px;
					}
				}
			}
			.o-layout__item {
				&:last-of-type {
					@include mq($until: tablet) {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	&-features {
		&__img {
			vertical-align: baseline;
			img {
				max-width: 150px;
				max-height: 150px;
				width: auto;
				height: auto;
			}
		}
		&__content {
			@include mq(tablet) {
				margin-bottom: 80px;
			}
			p {
				@include mq($until: tablet) {
					margin-bottom: 0;
				}
			}
		}
	}
	&-heading-content {
		&__contents {
			@include mq(tablet) {
				padding-left: 30px;
			}
			ul {
				margin-left: 20px;
				li {
					padding-left: 6px;
					margin-bottom: 12px;
					@include mq(tablet) {
						margin-bottom: 24px;
					}
				}
			}
		}
	}
	&-benifits {
		background-color: color("green");
		margin-bottom: 50px;
		margin-top: 0;
		padding-bottom: 50px;
		padding-top: 50px;
		@include mq(tablet) {
			padding-bottom: 80px;
			padding-top: 80px;
			margin-bottom: 80px;
		}
		.c-service-h1 {
			margin-bottom: 40px;
			color: color("white");
			text-align: center;
		}
		&__list {
			.o-layout {
				@include mq($until: tablet) {
					flex-wrap: nowrap;
					justify-content: flex-start;
					align-items: stretch;
					margin-left: 0;
					overflow: visible;
					.o-layout__item {
						margin-bottom: 0;
						padding-left: 0;
					}
				}
			}
			&.swiper-container {
				overflow: visible;
				-ms-overflow-style: none; /* IE and Edge */
				scrollbar-width: none; /* Firefox */
				&::-webkit-scrollbar {
					display: none;
				}
			}
		}
		&__item {
			width: 100%;
			padding: 20px;
			color: #fff;
			position: relative;
			border-radius: 5px;
			padding: 30px 20px;
			border: 1px solid rgba(255, 255, 255, 0.4);
			@include mq(tablet) {
				padding: 50px 20px;
			}
			@include mq($until: tablet) {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			&-content {
				text-align: center;
				padding-top: 20px;
				p {
					margin-bottom: 0;
				}
				@include mq(tablet) {
					position: absolute;
					top: 0;
					bottom: 20px;
					left: 50%;
					transform: translateX(-50%);
					width: 100%;
					opacity: 0;
					transition: 0.5s;
					padding: 20px;
					text-overflow: ellipsis;
					display: flex;
					align-items: center;
					justify-content: center;
					overflow: hidden;
					padding: 50px 20px 20px;
				}
			}
			&-title {
				transition: 0.2s;
				text-align: center;
				@include mq(tablet) {
					margin-top: auto;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
				img {
					max-width: 100px;
					max-height: 80px;
					width: auto;
					height: auto;
					margin: 0 auto;
					margin-bottom: 34px;
				}
				h2 {
					line-height: 0.9;
					margin-bottom: 0;
				}
			}
			&-img {
				flex-grow: 1;
			}
			&:hover {
				@include mq(tablet) {
					.c-service-benifits__item-content {
						opacity: 1;
					}
					.c-service-benifits__item-title {
						opacity: 0;
					}
				}
			}
		}
	}
	&-services {
		&__content {
			position: relative;
			display: flex;
			margin-top: 50px;
			@include mq($until: tablet) {
				flex-direction: column;
				color: color("brand");
				margin-top: 0;
			}
		}
		&__list {
			animation: fade-in-fwd 0.8s ease-in;
			transition: 0.5s;
			@include mq(tablet) {
				max-width: 600px;
				width: 60%;
				align-self: center;
				@include mq(tabletWide) {
					padding-right: 100px;
				}
			}
			a {
				color: rgba(101, 141, 149, 0.7);
				transition: 0.3s;
				&.active,
				&:hover {
					color: color("brand");
				}
				@include mq($until: tablet) {
					&:not(:last-of-type) {
						margin-right: 30px;
					}
				}
			}
			@include mq($until: tablet) {
				display: flex;
				overflow: auto;
				scrollbar-width: none; /* Firefox */
				-ms-overflow-style: none; /* IE 10+ */
				&::-webkit-scrollbar {
					width: 0px;
					background: transparent; /* Chrome/Safari/Webkit */
				}
			}
		}
		&__container {
			text-align: center;
			.cms-content {
				animation: fade-in-fwd 0.8s ease-in;
				transition: 0.5s;
				img {
					max-width: 110px;
					max-height: 100px;
					width: auto;
					height: auto;
					margin: 0 auto;
					margin-bottom: 30px;
				}
			}
			@include mq(tablet) {
				align-self: center;
				padding-left: 50px;
				max-width: 400px;
				width: 40%;
			}
		}
	}

	&-tc-content-image {
		background-color: color("peach");
		margin-bottom: 0 !important;
		color: #fff;
		padding: 50px 0;
		@include mq(tablet) {
			padding: 100px 0 50px;
		}
		img {
			border-radius: 5px;
		}
		&__content {
			p {
				max-width: 580px;
				margin-bottom: 12px;
			}
			@include mq(tabletWide) {
				padding-right: 40px;
			}
		}
	}
	&-tc-image-content {
		background-color: color("peach");
		color: #fff;
		margin-bottom: 0 !important;
		padding-bottom: 50px;

		img {
			border-radius: 5px;
		}
		&__content {
			@include mq(laptopMed) {
				padding-left: 15%;
			}
			p {
				max-width: 580px;
			}
		}
	}
	&-tc-content-image-alt {
		position: relative;
		display: inline-block;
		width: 100%;
		&.img-left {
			@include mq(tablet) {
				.c-service-tc-content-image-alt__img {
					top: 0px;
					left: -10px;
					right: unset;
				}
				.c-service-tc-content-image-alt__content {
					margin-left: auto;
				}
				.c-service-tc-content-image-alt__heading {
					max-width: 60%;
					margin-left: auto;
				}
			}
		}

		&__content {
			p {
				margin-bottom: 12px;
				@include mq(tablet) {
					margin-bottom: 18px;
				}
			}
			ul,
			ol {
				li {
					margin-bottom: 12px;
					margin-left: 12px;
					padding-left: 10px;
				}
			}
			@include mq(tablet) {
				max-width: 60%;
				// min-height: 550px;
			}
		}
		&__img {
			border-radius: 5px;
			display: none;
			@include mq(tablet) {
				display: block;
				position: absolute;
				max-width: 35%;
				max-height: 600px;
				width: auto;
				height: auto;
				top: 100px;
				right: -10px;
			}
		}
	}
	&-tc-contents {
		&__heading {
			text-align: center;
		}
		.o-module__item {
			@include mq($until: tablet) {
				display: block;
			}
		}
		&__content {
			background-color: color("peach");
			color: color("black");
			padding: 50px 20px;
			@include mq(tablet) {
				padding: 50px 50px 20px;
			}
			border-radius: 5px;
			p {
				margin-bottom: 18px;
			}
			img {
				width: 100%;
				max-width: 300px;
				margin: 50px auto 20px;
				@include mq(laptopMed) {
					margin: 50px auto 0px;
					max-width: 450px;
					max-height: 300px;
					width: auto;
					height: auto;
				}
			}
			ul,
			ol {
				li {
					margin-bottom: 12px;
					margin-left: 12px;
					padding-left: 10px;
				}
			}
		}
	}
	&-results {
		background-color: rgba(#fff, 0.5);
		padding: 50px 0 40px;
		@include mq(tablet) {
			padding: 100px 0 80px;
		}
		&__heading {
			@include mq(tablet) {
				font-weight: normal;
				font-size: 64px;
				line-height: 45px;
				margin-bottom: 100px;
			}
		}
		.o-layout > .o-layout__item {
			align-items: center;
		}
		&__sections {
			&:not(:last-of-type) {
				margin-bottom: 40px;
				@include mq(tablet) {
					margin-bottom: 80px;
				}
			}
			&.o-module {
				overflow: visible;
			}
			@include mq(tablet) {
				&:nth-child(even) {
					.c-service-results__img {
						order: 2;
						@include mq(laptop) {
							img {
								@include mq(laptop) {
									margin-left: 0;
									margin-right: -100px;
								}
							}
						}
					}
					.c-service-results__content {
						padding-left: 0;
						@include mq(tabletWide) {
							padding-right: 20px;
						}
					}
				}
			}
		}
		&__img {
			padding: 0 24px;
			@include mq(laptop) {
				max-width: 50%;
			}
			&.o-layout__item.Top {
				align-items: flex-start;
			}
			&.o-layout__item.Center {
				align-items: center;
			}
			&.o-layout__item.Bottom {
				align-items: flex-end;
			}
			img {
				border-radius: 5px;
				@include mq(laptop) {
					max-height: 450px;
					max-width: 410px;
					width: auto;
					height: auto;
					margin-left: -10%;
				}
			}
		}
		&__content {
			max-width: 575px;
			@include mq(tabletWide) {
				padding-left: 80px;
			}
			h2 {
				margin-bottom: 12px;
			}
		}
	}
	&-partners {
		position: relative;
		img {
			max-width: 375px;
			@include mq($until: tablet) {
				margin-bottom: 24px;
			}
		}
		&__content {
			max-width: 750px;
			p {
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
		.o-layout > .o-layout__item {
			vertical-align: middle;
			&:first-of-type {
				margin-bottom: 0;
			}
		}
	}
	&-partners2 {
		position: relative;
		img {
			max-width: 350px;
			@include mq($until: tablet) {
				margin-bottom: 24px;
			}
		}
		&__content {
			max-width: 750px;
		}
		&__features {
			position: relative;
			&.o-layout > .o-layout__item {
				vertical-align: top;
			}
			&-copy {
				margin-bottom: 10px;
				animation: fade-in-fwd 0.8s ease-in;
				display: none;
			}
			h5 {
				position: relative;
				display: inline-block;
				padding-right: 20px;
			}
			.c-svgicon--select-arrow {
				margin-left: 8px;
				position: absolute;
				right: 2px;
				top: 6px;
			}
		}
	}
	&-projects {
		&__content {
			max-width: 580px;
		}
		&__img {
			align-items: center;
		}
		&__list {
			margin-bottom: 40px;
			&:first-of-type {
				background-color: color("pink");
				padding: 60px 0 40px;
				color: #fff;
				span {
					color: #fff;
				}
				.o-btn {
					@extend .o-btn--alt;
				}
			}
			.o-layout__item {
				vertical-align: middle;
				align-items: center;
			}
			@include mq(tablet) {
				margin-bottom: 80px;
			}
			img {
				border-radius: 5px;
				@include mq(laptop) {
					max-height: 450px;
					max-width: 410px;
					width: auto;
					height: auto;
				}
			}
			&:nth-child(even) {
				@include mq(tablet) {
					.c-service-projects__img {
						order: -1;
						@include mq(laptop) {
							margin-right: -60px;
						}
					}
				}
				@include mq(tabletWide) {
					.c-service-projects__content {
						padding-left: 100px;
					}
				}
			}
			span {
				text-transform: uppercase;
				display: block;
				color: color("grey");
				font-size: 16px;
				// margin-bottom: 24px;
			}
			h2 {
				margin-bottom: 6px;
				line-height: 1;
			}
		}
	}
	&-logos {
		&__content {
			max-width: 700px;
			margin-bottom: 50px;
			@include mq(tablet) {
				margin-bottom: 80px;
			}
			p {
				margin-bottom: 10px;
			}
		}
		&__list {
			img {
				max-width: 190px;
			}
		}
	}
	.swiper-container {
		width: 100%;
		height: 100%;
		overflow: visible;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
	}

	&-support {
		.o-layout {
			@include mq($until: tablet) {
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: stretch;
				margin-left: 0;
				overflow: visible;
				.o-layout__item {
					margin-bottom: 0;
					padding-left: 0;
				}
			}
		}
		&__copy {
			max-width: 700px;
		}
		img {
			max-width: 150px;
			margin: 0 auto 24px;
			// filter: grayscale(100) brightness(2);
		}
		&__list {
			h3 {
				font-weight: normal;
			}
			p {
				max-width: 480px;
				margin: auto;
			}
		}
		&__item {
			background-color: #fff;
			border-radius: 5px;
			text-align: center;
			transition: 0.3s;
			position: relative;
			height: auto;
			border-radius: 5px;
			padding: 30px 24px;
			width: 100%;
			display: inline-block;
			@include mq(tablet) {
				padding: 50px 24px;
			}
			// @include mq($until: mobileM) {
			// 	width: calc(100% - 40px) !important;
			// }
		}
	}
	&-testimonial {
		display: inline-block;
		width: 100%;
		position: relative;
		color: color("blue");
	}
	&-ecom {
		img {
			max-width: 220px;
		}
		.o-layout > .o-layout__item {
			vertical-align: middle;
		}
	}
	&-process {
		background-color: #fff;
		padding-top: 60px;
		margin-bottom: 0px;
		@include mq(tablet) {
			margin-bottom: 0px !important;
		}
		&__next,
		&__prev {
			display: none;
			@include mq($until: tablet) {
				display: block;
				position: absolute;
				right: -10px;
				top: -15px;
				z-index: 999;
				width: 20px;
				height: 20px;
				cursor: pointer;
				svg {
					width: 15px;
					height: 15px;
				}
			}
		}
		&__prev {
			right: unset;
			left: -10px;
			transform: rotate(180deg);
			display: none;
		}
		&__content {
			position: relative;
			display: flex;
			margin-top: 60px;
			@include mq($until: tablet) {
				flex-direction: column;
				color: color("brand");
				margin-top: 0;
			}
		}
		&__list {
			position: relative;
			@include mq($until: tablet) {
				display: flex;
				overflow: auto;
				margin-top: 20px;
				margin-bottom: 12px;
				margin-right: 0px;
				scrollbar-width: none; /* Firefox */
				-ms-overflow-style: none; /* IE 10+ */
				&::-webkit-scrollbar {
					width: 0px;
					background: transparent; /* Chrome/Safari/Webkit */
				}
			}
			@include mq(tabletWide) {
				flex: 380px;
				max-width: 380px;
			}
			animation: fade-in-fwd 0.8s ease-in;
			transition: 0.5s;
			a {
				color: #d1d1d1;
				transition: 0.3s;
				&.active,
				&:hover {
					color: color("brand");
					svg {
						opacity: 1;
					}
				}
				@include mq($until: tablet) {
					&:not(:last-of-type) {
						margin-right: 30px;
					}
				}
			}
			h3 {
				margin-bottom: 0;
				@include mq(tablet) {
					margin-bottom: 24px;
				}
			}
		}
		&__container {
			.cms-content {
				animation: fade-in-fwd 0.8s ease-in;
				transition: 0.5s;
				strong {
					font-weight: bold;
				}
				ul {
					margin-left: 20px;
					li {
						margin-bottom: 16px;
						padding-left: 6px;
					}
				}
			}
			// @include mq(tablet) {
			// 	flex: 100%;
			// 	max-width: 100%;
			// }
			@include mq(tabletWide) {
				padding-left: 50px;
			}
		}
	}
	.Project {
		background-color: color("peach");
		margin-bottom: 0;
		padding: 50px 0 15px;
		@include mq(tablet) {
			padding: 80px 0 15px;
		}
		h2,
		h2,
		h2,
		h2,
		h2,
		p {
			color: #fff;
		}
		p:first-of-type {
			margin-bottom: 10px;
		}
		.c-service-additional-services__list {
			padding-top: 0;
			p {
				margin-bottom: 20px;
			}
		}
		.c-service-additional-services__list-inner {
			padding-top: 0;
		}
	}

	&-additional-services {
		&__list {
			@include mq(tablet) {
				display: flex;
				margin-left: -15px;
				flex-wrap: wrap;
				padding-top: 36px;
			}
			&-wrap {
				padding: 0 0 15px 15px;
				max-width: 100%;
				@include mq(tablet) {
					flex: 50%;
					max-width: 50%;
				}
				@include mq(tabletWide) {
					flex: 33.33%;
					max-width: 33.33%;
				}
				@include mq($until: tablet) {
					padding: 0;
					margin-right: 24px;
					// width: calc(100% - 48px) !important;
					// padding: 0 24px;
					display: flex;
				}
			}
			&-inner {
				display: inline-block;
				width: 100%;
				background-color: #fff;
				border-radius: 5px;
				text-align: center;
				padding: 30px 12px;
				transition: 0.3s;
				@include mq(tablet) {
					height: 100%;
					padding: 50px 12px;
				}
				.Project & {
					background-color: color("peach");
					color: color("white");
				}
				img {
					max-width: 150px;
					max-height: 140px;
					width: auto;
					height: auto;
					margin: 0 auto 30px;
					transition: 0.5s;
				}
				h3 {
					font-weight: normal;
				}
				p {
					margin-top: -18px;
				}
				span {
					color: color("green");
					text-transform: uppercase;
					transition: 0.3s;
					svg {
						color: color("brand");
						margin-left: 15px;
						transition: 0.3s;
					}
					.Project & {
						font-weight: 500;
						color: color("pink");
						svg {
							color: color("pink");
						}
					}
				}
				&:hover {
					.Project & {
						box-shadow: none;
						span {
							color: #fff;
							svg {
								color: #fff;
							}
						}
					}
					box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
					img {
						transform: scale(1.04);
					}
					span {
						color: color("brand");
						svg {
							transform: translate(1px);
						}
					}
				}
			}
		}
	}

	&__projects {
		&-each {
			&:nth-child(odd) {
				background-color: color("brand");
				.cms-content {
					max-width: 520px;
				}
			}
			background-color: #fff;
			margin-bottom: 18px;
			padding: 40px 12px;
			border-radius: 5px;
			@include mq(tablet) {
				padding: 80px 12px;
			}
			span {
				text-transform: uppercase;
				display: block;
				color: color("grey");
				font-size: 16px;
				margin-bottom: 24px;
			}
			h2 {
				margin-bottom: 6px;
				line-height: 1;
			}
			.cms-content {
				padding: 0 24px;
				max-width: 560px;
				@include mq(tablet) {
					margin-top: 100px;
				}
			}
			.o-layout__item {
				vertical-align: middle;
			}
		}
	}

	&__related {
		padding-bottom: 0px;
		@include mq(tablet) {
			padding-bottom: 100px;
		}
		&-title {
			text-align: center;
			background-color: color("peach");
			color: #fff;
			padding-top: 50px;
			padding-bottom: 48px;
			margin-bottom: 0;
			@include mq(tablet) {
				padding-bottom: 90px;
				padding-top: 80px;
			}
		}
		.c-services-list {
			&__card {
				&:last-of-type {
					margin-bottom: 0;
					.c-services-list__wrap {
						margin-bottom: 0;
					}
					@include mq($until: tablet) {
						padding: 50px 0 50px;
					}
				}
				&:first-of-type {
					background-color: color("peach");
					color: #fff;
					padding-bottom: 50px;
					@include mq(tablet) {
						padding-bottom: 100px;
					}
					.c-services-list__wrap {
						margin-bottom: 0;
					}
					h2 {
						margin-top: 0;
						color: #fff;
						opacity: 0.7;
					}
					.o-btn {
						@extend .o-btn--alt;
					}
				}
			}
			h2 {
				margin-bottom: 24px;
				@include mq(tablet) {
					margin-bottom: 48px;
				}
			}
		}
	}
	.page-contact-bottom {
		p {
			max-width: 100%;
		}
	}
}
