.c-blog {
	position: relative;
	&__sidelinks {
		display: block;
		position: relative;
		font-size: 16px;
		font-weight: normal;
		text-transform: uppercase;
		line-height: 1;
		@include mq($until: tabletWide) {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 36px;
		}
		&-sharelinks {
			@include mq($until: tabletWide) {
				text-align: right;
				flex: auto;
			}
			@include mq(tabletWide) {
				text-align: center;
				position: absolute;
				top: 0px;
				right: 20px;
				@include mq(laptopMed) {
					right: 60px;
				}
			}
			a {
				display: inline-block;
				line-height: 0;
				vertical-align: middle;
				margin-right: 6px;
				@include mq(tabletWide) {
					display: block;
					margin-bottom: 12px;
					margin-right: 0;
				}
				svg {
					width: 18px;
					height: 18px;
					transition: 0.3s;
				}
				&:hover {
					svg {
						opacity: 0.75;
						transform: scale(1.1);
					}
				}
			}
			span {
				display: inline-block;
				@include mq(tabletWide) {
					margin-top: 28px;
					transform: rotate(-90deg);
					transform-origin: center;
				}
			}
		}
		&-back {
			display: inline-block;
			@include mq(tabletWide) {
				position: absolute;
				top: 100px;
				left: 35px;
				@include mq(laptopMed) {
					left: 65px;
				}
			}
			a {
				display: inline-block;
				text-align: center;
				margin: 0;
				transition: 0.3s;
				@include mq(tabletWide) {
					transform: rotate(-90deg);
					transform-origin: 0 0;
				}
				&:hover {
					opacity: 0.75;
				}
			}
		}
	}
	&__top {
		text-align: center;
		position: relative;
		margin-bottom: 36px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		h1 {
			line-height: 1.1;
			margin-bottom: 24px;
			font-size: 26px;
			@include mq(tablet) {
				font-size: 50px;
				margin-bottom: 80px;
			}
		}
	}
	&__banner {
		background-position: center;
		background-size: cover;
		padding-bottom: 42.78%;
	}
	.c-cms-content {
		margin-bottom: 36px;
		@include mq(tablet) {
			margin-bottom: 80px;
		}
		p:first-child {
			&::first-letter {
				font-size: 60px;
				font-weight: bold;
				color: color("blue");
				text-transform: uppercase;
				vertical-align: top;
				// display: inline-block;
				line-height: 0.75;
				float: left;
				margin-top: 8px;
				margin-bottom: 0;
				margin-right: 6px;
				.is-firefox & {
					margin-top: 6px;
				}
			}
		}
		h2,
		h3,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 24px;
		}
		h5 {
			font-size: 20px;
			@include mq(tablet) {
				font-size: 24px;
			}
		}
		h2,
		h3,
		h4 {
			font-size: 26px;
			@include mq(tablet) {
				font-size: 36px;
			}
		}
		a {
			color: color("pink");
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	&__nextpost {
		position: relative;
		background-image: url("../img/postnextbg.jpg");
		background-size: cover;
		background-position: center;
		padding: 48px 24px;
		border-radius: 5px;
		color: #fff;
		z-index: 1;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		&:after {
			content: "";
			top: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				90deg,
				color("brand") 15%,
				rgba(244, 244, 244, 0) 100%
			);
			border-radius: 5px;
			z-index: -1;
		}
		&-info {
			max-width: 950px;
			margin: auto;
			h3 {
				max-width: 365px;
				margin-bottom: 24px;
				font-size: 24px;
				@include mq(tablet) {
					font-size: 36px;
				}
			}
			a {
				text-transform: uppercase;
				color: #fff;
				font-weight: normal;
				svg {
					width: 13px;
					height: 13px;
					margin-left: 6px;
				}
			}
		}
	}
}
