.c-project {
	p {
		margin-bottom: 24px;
	}
	&-top {
		position: relative;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 80px;
		}
		&__prevnext {
			@include mq($until: tablet) {
				display: none;
			}
			position: relative;
			display: block;
			a {
				position: absolute;
				text-transform: uppercase;
				transform: rotate(-90deg);
				color: color("green");
				display: block;
				font-weight: normal;
			}
			.prev {
				top: 180px;
				left: 20px;
				transform-origin: left;
			}
			.next {
				right: 20px;
				top: 0;
				transform-origin: right;
			}
		}
		&__content {
			margin-bottom: 50px;
			@include mq(tablet) {
				margin: auto;
				max-width: 75%;
				margin-bottom: 80px;
			}
			.label {
				text-transform: uppercase;
				margin-bottom: 12px;
				font-weight: normal;
			}
		}
		&__name {
			// color: color("green");
			font-weight: bold;
			padding: 0 5px;
		}
		&__cate {
			padding: 0 5px;
			// color: color("blue");
		}

		.bgimg {
			width: 100%;
			background-size: cover;
			background-position: center;
			border-radius: 5px;
			padding-bottom: 46.6%;
			@include mq(tablet) {
				padding-bottom: 32.5%;
			}
		}
	}

	.bgimg-max {
		max-width: 100%;
	}

	&__contents {
		position: relative;
		z-index: 10;
		@include mq(tablet) {
			margin-top: 100px;
		}
		.c-project__two-column-content-bg &, 
		.c-project__content-image & {
			@include mq(tablet) {
				margin-top: 0px;
			}
		}
	}
	&__intro {
		&-content {
			max-width: 935px;
			margin: auto;
			p:first-child {
				&::first-letter {
					font-size: 60px;
					font-weight: bold;
					color: color("blue");
					text-transform: uppercase;
					vertical-align: top;
					// display: inline-block;
					line-height: 0.75;
					float: left;
					margin-top: 8px;
					margin-bottom: 0;
					margin-right: 6px;
					.is-firefox & {
						margin-top: 6px;
					}
				}
			}
			img {
				max-width: 100% !important;
				max-height: 100% !important;
				height: auto;
				border-radius: 0 !important;
			}
		}
	}
	&__content-image-bg {
		width: 100%;
		background-color: #ddd;
		background-size: cover;
		background-position: center;
		position: relative;
		z-index: 1;
		color: #fff;
		padding: 50px 0;
		@include mq(tablet) {
			padding: 100px 0;
		}
		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// background-color: rgba(25, 25, 25, 0.8);
		}
		&--content {
			margin-top: 24px;

			.o-layout__item {
				margin-bottom: 0;
			}
		}
		&.black {
			.cms-content,
			h2 {
				color: #fff;
			}
			&:after {
				background-color: rgba(25, 25, 25, 0.8);
			}
		}
		&.white {
			.cms-content,
			h2 {
				color: #000;
			}
			&:after {
				background-color: rgba(246, 246, 245, 0.8);
			}
		}
	}

	&__two-column-content-bg {
		.two_column_content  {
			padding: 12px;
			background: rgba(#fff, .04);
			margin-bottom: 0;
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
			.cms-content {
				@include mq($until: tablet) {
					margin-left: auto;
					margin-right: auto;
				}
			}
			h2 {
				max-width: 460px;
				@include mq($until: tablet) {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		
		&.black {
			.two-column-metrics {
				color: #fff;
			}
		}
		&.white {
			.two-column-metrics {
				color: #000;
			}
		}
		.two-column-metrics {
			padding-left: 48px;
			@include mq($until: tablet) {
				padding-left: 0;
			}
		}
	}

	&__content-bg,
	&__two-column-content-bg {
		width: 100%;
		background-size: cover;
		background-position: center;
		position: relative;
		z-index: 1;
		padding: 50px 0;
		background-color: #ddd;
		@include mq(tablet) {
			padding: 110px 0;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// background: linear-gradient(
			// 	180deg,
			// 	#f6f6f5 0%,
			// 	rgba(246, 246, 245, 0) 72%
			// );
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		&.black {
			.cms-content,
			h2 {
				color: #fff;
			}
			&:after {
				background-color: rgba(25, 25, 25, 0.8);
			}
		}
		&.white {
			&:after {
				background: linear-gradient(
					180deg,
					rgba(246, 246, 245, 0) 50%,
					#f6f6f5 100%
				);
			}
			&:before {
				background: linear-gradient(
					180deg,
					#f6f6f5 0%,
					rgba(246, 246, 245, 0) 72%
				);
			}
		}
		&--content {
			img {
				max-width: 365px;
				margin: auto;
			}
			&:after {
				content: "";
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					270deg,
					#f4f4f4 5%,
					rgba(246, 246, 245, 0) 100%
				);
				@include mq(tablet) {
					background: linear-gradient(
						270deg,
						rgba(239, 239, 239, 0.9) 5%,
						rgba(246, 246, 245, 0) 100%
					);
				}
			}
		}
	}
	&__content-image-left {
		&--content {
			.cms-content ul,
			h2,
			p {
				padding: 0 12px;
				@include mq(mobileLandscape) {
					padding-left: 24px;
				}
			}
		}
	}
	&__content-image {
		div.o-layout__item {
			margin-bottom: 0;
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
		.c-project__contents h2 {
			margin-top: 36px;
			@include mq(tablet) {
				margin-top: 0px;
			}
		}
	}
	&__nextpost {
		position: relative;
		background-image: url("../img/postnextbg.jpg");
		background-size: cover;
		background-position: center;
		padding: 48px 24px;
		border-radius: 5px;
		color: #fff;
		z-index: 1;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		&:after {
			content: "";
			top: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				90deg,
				color("brand") 45%,
				rgba(246, 246, 245, 0) 100%
			);
			border-radius: 5px;
			z-index: -1;
		}
		&-info {
			max-width: 950px;
			margin: auto;
			h3 {
				max-width: 365px;
				margin-bottom: 24px;
				font-size: 24px;
				font-weight: bold;
				@include mq(tablet) {
					font-size: 36px;
				}
			}
			h4 {
				font-weight: normal;
				text-transform: uppercase;
				font-size: 16px;
			}
			a {
				text-transform: uppercase;
				color: #fff;
				font-weight: normal;
				svg {
					width: 13px;
					height: 13px;
					margin-left: 6px;
				}
			}
		}
	}
	.c-section {
		margin-bottom: 60px;
		@include mq(tablet) {
			margin-bottom: 80px;
		}
		.o-layout__item {
			vertical-align: middle;
		}
		.cms-content {
			max-width: 460px;
			ul {
				margin-bottom: 36px;
				@include mq(tablet) {
					margin-bottom: 0;
				}
				li {
					margin-bottom: 10px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		&.c-project__content-image {
			margin-top: 70px;
			margin-bottom: 60px;
			@include mq(tablet) {
				margin-top: 100px;
				margin-bottom: 100px;
			}
		}
		.c-metrics {
			display: flex;
			flex-wrap: wrap;
			padding-top: 24px;
			@include mq($until: tablet) {
				justify-content: center;
			}
			&__each {
				&:not(:last-of-type) {
					margin-right: 36px;
				}
				@include mq($until: tablet) {
					&:not(:last-of-type) {
						margin-right: 12px;
					}
					text-align: center;
					max-width: auto;
				}
			}
			h3 {
				font-weight: bold;
				color: color("blue");
				line-height: 0.9;
				margin-bottom: 6px;
				font-size: 48px;
				@include mq(tablet) {
					font-size: 60px;
				}
			}
		}
		img {
			border-radius: 5px;
			@include mq(mobileLandscape) {
				max-height: 592px;
				max-width: 100%;
				width: auto;
				height: auto;
				margin: auto;
			}
		}
	}
	.page-contact-bottom {
		margin-bottom: 0;
	}
}
