.c-slider {
	position: relative;
	&__pager {
		position: absolute;
		bottom: 18px;
		z-index: 105;
		display: block;
		width: 100%;
		line-height: 0;
		text-align: center;
		span {
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: 0 4px;
			border-radius: 24px;
			text-indent: -99999px;
			cursor: pointer;
			background: color("white");
			opacity: 0.4;
			&.cycle-pager-active {
				background: color("brand");
			}
		}
	}
}

.c-slide {
	width: 100%;
	height: 390px;
	color: #fff;
	background: #000;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	@include mq(tablet) {
		height: 490px;
	}
	&__content {
		position: absolute;
		top: 45%;
		left: 50%;
		width: 100%;
		max-width: 610px;
		max-height: 490px;
		transform: translate(-50%, -50%);
	}
}

/* Slider */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	user-select: none;
	touch-action: pan-y;
	@include mq($until: laptop, $from: tablet) {
		padding: 0 80px;
	}
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	@include mq($until: tablet) {
		overflow: visible !important;
	}

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
	@include mq($until: tablet) {
		// width: 100% !important;
	}
}
.slick-arrow.slick-hidden {
	display: none;
}
.slick-arrow {
	cursor: pointer;
	position: absolute;
	top: calc(50%);
	z-index: 10;
	text-indent: -999999px;
	background-color: transparent;
	border: 0;
	appearance: none;
	background-position: center center;
	background-repeat: no-repeat;
	outline: none;
	font-size: 0;
	transform: translateY(-50%);
	transition: 0.25s;
	&:hover {
		transform: translateY(-50%) scale(1.1);
	}
	width: 45px;
	height: 45px;
	background-size: contain;
	@include mq(tabletWide) {
		width: 62px;
		height: 62px;
		background-size: 62px 62px;
	}
}
.slick-prev {
	left: 0px;
	background-image: url("../img/slick-next.png");
	@include mq(laptop) {
		background-image: url("../img/slick-prev.png");
		left: -90px;
	}
}
.slick-next {
	right: 0px;
	background-image: url("../img/slick-next.png");
	@include mq(laptop) {
		background-image: url("../img/slick-next.png");
		right: -90px;
	}
}
.slick-disabled {
	opacity: 0.5;
	@include mq($until: tablet) {
		display: none !important;
	}
}
