.c-quotes {
	padding: 20px 0;
	@include mq(tablet) {
		padding: 120px 0;
	}
	background-color: #f6f6f5;
	color: color("blue");
	&__name {
		font-weight: 700;
		margin-bottom: 0;
	}
	&__list {
		display: inline-block;
		width: 100%;
		position: relative;
		&-each {
			width: 100%;
			text-align: center;
			// top: 50% !important;
			// transform: translateY(-50%);
			// padding-bottom: 24px;
			h2 {
				line-height: 1.25;
				max-width: 95%;
				font-weight: bold;
				margin-bottom: 24px;
				@include mq($until: laptopMed) {
					font-size: 24px;
				}
			}
			@include mq(tablet) {
				text-align: left;
				padding-right: 100px;
			}
		}
		&-eachinner {
			.center-content & {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 100%;
				@include mq(tablet) {
					width: calc(100% - 100px);
				}
			}
		}
		.cycle-next {
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 999;
			width: 20px;
			height: 20px;
			cursor: pointer;
			@include mq(tablet) {
				right: 90px;
			}
			svg {
				width: 15px;
				height: 15px;
			}
			@include mq($until: tablet) {
				display: none;
			}
		}
	}
}
