.c-work {
	&-top {
		position: relative;
		margin-bottom: 50px;
		.cms-content {
			max-width: 650px;
			padding-right: 24px;
		}
		@include mq(tablet) {
			margin-bottom: 100px;
		}
	}
	&-middle {
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
	}
	.c-section {
		margin-bottom: 15px;
		@include mq($until: tablet) {
			text-align: center;
		}
		.o-layout__item {
			vertical-align: middle;
		}
		span {
			text-transform: uppercase;
			display: block;
			color: color("grey");
			font-size: 16px;
			margin-bottom: 24px;
		}
		.cms-content {
			// padding: 0 24px;
			// max-width: 520px;

			padding: 0;
			max-width: 565px;
			margin-right: auto;
			margin-left: auto;

			@include mq(tablet) {
				margin-top: 50px;
			}
		}
		h2 {
			margin-bottom: 6px;
			line-height: 1;
			font-weight: bold;
		}
		p {
			max-width: 540px;
		}
		.o-layout {
			margin-left: -15px;
			&__item {
				padding-left: 15px;
				margin-bottom: 15px;
			}
		}
		&-success {
			padding: 40px 30px 24px;
			border-radius: 5px;
			@include mq(tablet) {
				padding: 55px 30px;
			}
			background: linear-gradient(
				90deg,
				rgb(241, 201, 182) 30%,
				color("pink") 80%
			);
			color: #fff;
			span {
				color: #fff;
			}
			video {
				max-width: 100%;
				@include mq(tablet) {
					padding-left: 30px;
				}
			}
			.weight-images {
				position: relative;
				width: 100%;
				overflow: hidden;
				@include mq(tabletWide) {
					margin-left: 20px;
				}
				@include mq($until: tablet) {
					display: none;
				}
				.mobile {
					width: 250px;
					@include mq(tablet) {
						width: 310px;
					}
				}
				.weight {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					@include mq(tablet) {
						opacity: 0;
					}
					&-1 {
						width: 42%;
						transform: translate(-71%, -87%);
					}
					&-2 {
						z-index: 1;
						width: 54%;
						transform: translate(-44%, -52%);
					}
					&-3 {
						z-index: 2;
						width: 70%;
						transform: translate(-24%, -28%);
					}
				}
			}
			.weight-mob-img {
				display: none;
				@include mq($until: tablet) {
					display: block;
				}
			}
		}
		&-marketing {
			background: color("brand");
			color: #fff;
			border-radius: 5px;
		}
		&-recipe {
			background: #fff;
			border-radius: 5px;
		}
		&-recipe,
		&-marketing {
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-end;
			padding: 50px 12px;
			@include mq(tablet) {
				padding: 60px 12px;
			}
			img {
				max-width: 460px;
				margin: auto;
				margin-bottom: 60px;
			}
			video {
				max-width: 100%;
				margin: auto;
				margin-bottom: 60px;
			}
		}
	}
	&__categories {
		text-align: center;
		margin-bottom: 48px;

		a {
			opacity: 0.5;
			display: inline-block;
			transition: 0.3s;
			font-weight: normal;
			text-transform: uppercase;
			font-size: 16px;
			&:not(:last-of-type) {
				margin-right: 24px;
			}
			&:hover,
			&.active {
				opacity: 1;
			}
		}
	}
	&__list {
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 80px;
		}
		.o-layout__item {
			font-size: 0;
			transition: 0.3s;
			&.animatein {
				animation: fade-in-fwd 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
					both;
			}
		}
		&-each {
			color: #fff;
			position: relative;
			display: inline-block;
			width: 100%;
			overflow: hidden;
			border-radius: 5px;
			&:hover {
				.c-work__list-inner {
					transform: scale(1.08);
				}
				h3 {
					opacity: 0.8;
				}
			}
		}
		&-inner {
			background-size: cover;
			background-position: center;
			padding-bottom: 100%;
			border-radius: 5px;
			width: 100%;
			position: relative;
			z-index: 1;
			transition: 0.5s;
			@include mq($until: mobileLandscape) {
				padding-bottom: 65%;
			}
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					180deg,
					rgba(25, 25, 25, 0) 40%,
					#191919 100%
				);
				border-radius: 5px;
				z-index: -1;
			}
		}
		&-info {
			padding: 0 24px;
			position: absolute;
			bottom: 15px;
			z-index: 1;
			h3 {
				margin-bottom: 10px;
				font-size: 24px;
				line-height: 1;
			}
			span {
				text-transform: uppercase;
				font-size: 16px;
			}
		}
	}
	&__loadmore {
		text-align: center;
		font-weight: normal;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		svg {
			width: 15px;
			height: 15px;
			vertical-align: middle;
			margin-left: 6px;
			// transition: .3s;
		}
		a {
			transition: all 0.3s;
			display: inline-block;
			&:hover {
				opacity: 0.75;
				transform: translateY(3px);
			}
		}
	}
}
