<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
  {%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
  <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>

  <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

  {% include 'style-tags', layout: 'gift_card' %}
  {% include 'css-variables' %}
  {% include 'script-tags', layout: 'gift_card' %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.6/base.min.css" integrity="sha512-hEjkvMSM0ql6VJcNK0gTmjt9ar8F2yHeBUbJKtyvQhkkbGMhiJ4+MaiB8XxsthLAHJx5vy2I9dN0un8HiWG2LA==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.6/tailwind.min.css" integrity="sha512-l7qZAq1JcXdHei6h2z8h8sMe3NbMrmowhOl+QkP3UhifPpCW2MC4M0i26Y8wYpbz1xD9t61MLT9L1N773dzlOA==" crossorigin="anonymous" />
<link type="text/css" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/layout.gift_card@layout.theme.css?v=8192599988013960127" rel="stylesheet"><link type="text/css" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/layout.gift_card@layout.theme.styleLiquid.scss.css?v=6369897630603819526" rel="stylesheet"><link rel="prefetch" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/layout.password.css?v=11114211812898971072" as="style"><link rel="prefetch" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/layout.password.styleLiquid.scss.css?v=6369897630603819526" as="style"><link type="text/css" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/vendors@layout.theme.css?v=17222682293317109083" rel="stylesheet"><link type="text/css" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/layout.theme.css?v=144865921546712128" rel="stylesheet"><link type="text/css" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/layout.theme.styleLiquid.scss.css?v=6369897630603819526" rel="stylesheet"><link rel="prefetch" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/template.article.css?v=641433088744204813" as="style"><link rel="prefetch" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/template.blog.css?v=12969348499802367292" as="style"><link rel="prefetch" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/template.cart.css?v=5465664171557691178" as="style"><link rel="prefetch" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/template.collection.css?v=497926472392498935" as="style"><link rel="prefetch" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/template.gift_card.css?v=4210603021017912100" as="style"><link type="text/css" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/template.index.css?v=8825510085214765874" rel="stylesheet"><link rel="prefetch" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/template.page.css?v=14341436661900278465" as="style"><link rel="prefetch" href="//cdn.shopify.com/s/files/1/0483/0013/0469/t/1/assets/template.product.css?v=9738330632029429507" as="style">
  
  {{ content_for_header }}
</head>

<body class="template-giftcard loaded">
  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>
</body>
</html>
