<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {% comment %} add the seo header to home page and if not homepage, add CACAO at the start- to be consistant on the site {% endcomment %}
    {% if template == 'index' %}
      {{ page_title }} | {{ settings.seo_header }}
    {%- else -%}
      {{ page_title }} | CACAO {{ settings.seo_header }}
    {%- endif -%}

    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {% comment %} {%- assign escaped_page_title = page_title | escape -%} {% endcomment %}
    {% comment %} {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%} {% endcomment %}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'theme' %}
  {% include 'css-variables' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'cart.min.js' | asset_url | script_tag }}
  <!-- {{ 'rivets.min.js' | asset_url | script_tag }} -->
  <!-- {{ 'rivets.bundled.min.js' | asset_url | script_tag }} -->
  {{ 'mini-cart.js' | asset_url | script_tag }}
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');
    CartJS.init({{ cart | json }}, {
          "dataAPI": false,
          "requestBodyClass": "loading",
          "moneyFormat": "{{ shop.money_format }}",
          "moneyWithCurrencyFormat": "{{ shop.money_with_currency_format }}"
        });
    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      requestBodyClass: "cart-loading",
      "cart" : {{ cart | json }},
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {%- if template contains 'product' -%}
    {% include 'script-tags', layout: 'theme', template: 'product' %}
  {%- elsif template contains 'page' -%}
    {% include 'script-tags', layout: 'theme', template: 'page' %}
  {%- else -%}
    {% include 'script-tags', layout: 'theme' %}
  {%- endif -%}

  {{ content_for_header }}



  <!-- BEGIN GOOGLE ANALYTICS CODEs -->
  <script type="text/javascript">
    //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-53290213-1']);
        _gaq.push(['_trackPageview']); 
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    //]]>
  </script>
  <!-- END GOOGLE ANALYTICS CODE -->

  <script type="text/javascript">
    //<![CDATA[
      var Translator = new Translate([]);
    //]]>
  </script>
  <meta name="google-site-verification" content="WrEpK2iJENrwX0mPXYUSymYLxBdJ-L3ZulXZohbkv78" />
  {% comment %} <script type="text/javascript">
    window._mfq = window._mfq || [];
    (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/3909c92b-1143-4033-8f4c-02068bf6b520.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
    })();
  </script> {% endcomment %}

 <!-- Hotjar Tracking Code for https://www.cacao.com.au/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2091394,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

   <!-- Lucky orange Tracking Code for https://www.cacao.com.au/ -->

  <script type='text/javascript'>
window.__lo_site_id = 279105;

	(function() {
		var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
		wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
	  })();
	</script>

  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5QMSSJZ');</script>
  <!-- End Google Tag Manager -->

  <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '452570348869291'); 
      fbq('track', 'PageView');
    </script>
    <noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=452570348869291&ev=PageView&noscript=1"/>
    </noscript>
  <!-- End Facebook Pixel Code -->

  
  {% include 'giftship' %}
 {% render 'giftship' %} 
</head>

<!-- Setting all custom collections to the default collections id in order to maintain styeling -->
{% if template.name == 'collection' %}
  {%- assign page_id = page_title | handle -%}
  {%- if page_id == "chocolates"  or "macarons" or "hampers" or "petit-bites" or "chocolate-bars" -%}
        {%- assign page_id = "collections" -%}
  {%- endif -%}
{% endif %}




<body id="{{page_id}}" class="sm:flex sm:flex-col template-{{ template.name | handle }} page-{{ page_title | handle }} {% if template == 'page' %}page-generic{% endif %} {% if template contains 'selector' %} selector{% endif %}">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5QMSSJZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a> -->

  {%- if template contains 'index' -%}
    <div class="wide-parallax-mirror"></div>
    <div class="desktop-parallax-mirror"></div>
  {%- endif -%}
  {% section 'header' %}

  <main role="main" id="MainContent" class="sm:flex-1">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
  {% unless template contains 'cart' %}
    {%- include 'ajaxify-cart' -%}
  {%- endunless -%}
  {%- if template contains 'index' -%}
    {% section 'popups' %}
  {%- endif -%}

  {% comment %} show the announcement on all pages except homepage {% endcomment %}
  {%- unless template contains 'index' -%}
    {% section 'announcement' %}
  {%- endunless -%}

  
  <script>
  // Changes the message field to a note field
  var GsLoaded = function() {
  Gs.$('.gs__msg').attr('name', 'note');
  };
  </script>

</body>
</html>
