.collection-link {
  .image {
    > div {
      &:after {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }
  }
}
body.template-collection {
  .background-dark {
    background:  linear-gradient(180deg, #191818 0%, #000000 100%);
    height: calc(100% + 210px);
  }
}
