body.template.index {
  .bg-footer {
    &:after {
      content: '';
      height: 472px;
      width: 100%;
      background-color: #F5F5F5;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
[data-section-type="footer"] {
  nav {
    .border-link {
      &:hover {
        &:after {
          width: calc(100% - 3px);
        }
      }
    }
  }
}
