.sub-menu {
  max-height: 0;
  transition: all .2s;
}

.child-link {
  &:hover {
    .sub-menu {
      max-height: 1000px;
    }
  }
}

[data-section-type="header"] {
  -webkit-transition: background-color 0.5s ease, height 0.5s ease;
  transition: background-color 0.5s ease, height 0.5s ease;

  &:not(.bg-dark-choc) {
    background-color: transparent;
  }
  .logo {
    svg {
      -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease;
    }
  }
  &.fixed-header {
    background-color: #191818;
    .logo {
      padding: 18px 0;
      svg {
        @media (min-width: 640px) {
          width: 150px;
        }
      }
    }
  }

  &.open-nav {
    background-color: #191818;
  }

  [data-nav-child] {
    &.open {
      > a {
        color: #ffffff;
      }
    }
  }

  &.open-mobile-nav {
    background-color: #F5F5F5;

    [data-close-nav] {
      display: block;
    }
    [data-open-nav] {
      display: none;
    }

    .logo {
      a {
        color: #000000;
      }
      svg {
        fill: #000000;
      }
    }

    .header-links {
      * {
        color: #000000;
        fill: #000000;
      }
    }
  }
}
.mobile-menu {
  max-height: 0;
  overflow: hidden;
  transition: all .2s ease-out;
  .mobile-nav {
    overflow: auto;
    nav {
      height: calc(100vh - 200px);
    }
  }
  &.open {
    max-height: 1000px;
    height: 100vh;
  }


  .sub-mobile-menu {
    .icon {
      transition: transform .3s ease;
      display: flex;

      &.open {
        display: none;
      }
    }
    .content {
      max-height: 0;
      overflow: hidden;
      transition: max-height .2s ease-out;
    }

    &.open {
      .icon {
        display: none;
        &.open {
          display: flex;
        }
      }
    }
  }
}
