body.page-chocolates-selector {
  background-color: #E5E5E5;
}
.product-selector {
  .box-shadow {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }
  [type="radio"] {
    &+ label {
      &:before ,
      &:after {
        content: '';
        width: 14px;
        height: 14px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &:before {
        border: 1px solid #CFCFCF;
      }

      &:after {
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        left: 3px;
        top: -5px;
      }
    }

    &:checked {
      &+ label {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  .rte {
    p {
      font-size: 14px;
      line-height: 18px;
      padding: 0;
      color: #000;
      opacity: 0.6;
    }
  }

  .selection-image {
    .hover-image {
      opacity: 0;
      transition: all .3s;
    }
    > div {
      // transform: translateY(-100%);
      // transition: all .2s;
    }
    &:hover {
      > div {
        // transform: translateY(0%);
      }
      .hover-image {
        opacity: 1;
      }
    }
  }

  [data-remove-choc],
  [data-add-choc] {
    &.pointer-events-none {
      span {
        background: rgba(0,0,0,0.25);
      }
    }
  }
}
