.video {
  .link-hover {
    div {
      transition: all .3s ease;
      svg , p {
        transition: all .3s ease;
      }
    }

    div {
      &:hover {
        border-radius: 1px solid red;
        svg , p {
          opacity: 0.6;
        }
      }
    }
  }
}
