// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

$brand: #e6347c;

$theme-colors: (
	"brand": $brand,
	"link": $brand,
	"link hover": $brand,
	"white": #fff,
	"yellow": #f9a41a,
	"orange": #f26721,
	"blue": #00aeef,
	"pink": #ec0088,
	"content": #333,
	"black": #000,
	"internalbg": #f5f5f5
);

// helper variables
$font-color: map-get($theme-colors, "brand");
$loud-color: map-get($theme-colors, "brand");
