// Typography
$base-font-size: 16px;
$base-line-height: 24px;

//Maintain a typographic modular scale by only choosing font-size form the following map
//See tools.functions for size() helper function.
$modular_scale: (
	"xs": 11px,
	"sm": 13px,
	"s": 14px,
	"sbase": 15px,
	"base": $base-font-size,
	"sb": 17px,
	"smb": 18px,
	"mb": 19px,
	"b": 20px,
	"xb": 22px,
	"xxb": 23px,
	"xxxb": 24px,
	"sl": 25px,
	"l": 26px,
	"xl": 30px,
	"xml": 40px,
	"xxl": 42px,
	"xxxl": 50px,
	"h": 58px,
	"xh": 66px
);

// Z-index management. Read the following article.
// http://www.smashingmagazine.com/2014/06/12/sassy-z-index-management-for-complex-layouts/
// Also see tools.functions for z() helper function.
$site-elements: sidebar, slider, slider-controls, top, site-nav, access;

// Measurements and common values
$sitewidth: 100%;
$max-side-width: 1300px;

$base-round: 3px;

// set inuit config
$inuit-base-font-size: $base-font-size;
$inuit-base-line-height: $base-line-height;
