@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-ExtraBold.woff2") format("woff2"),
		url("../fonts/Poppins/Poppins-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
		url("../fonts/Poppins/Poppins-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2"),
		url("../fonts/Poppins/Poppins-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Black.woff2") format("woff2"),
		url("../fonts/Poppins/Poppins-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2"),
		url("../fonts/Poppins/Poppins-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Light.woff2") format("woff2"),
		url("../fonts/Poppins/Poppins-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

$primary: "FilsonSoft", filson-soft, sans-serif;
$secondary: "Poppins", sans-serif;
$tertiary: "Myriad Pro";
