[data-preview_size="full-width"] .image-wrap img,
[data-preview_size="full"] .image-wrap img {
    max-height: 180px !important;
    width: auto;
}

.acf-field-repeater table {
    border-collapse: collapse;
}

.acf-field-repeater tr.acf-row {
    border-bottom: solid 2px #4396C9;
}

#edittag {
	max-width: 1400px;
}



/* ul#adminmenu li#menu-posts-services div.wp-menu-image:before,
ul#adminmenu li#menu-posts-projects div.wp-menu-image:before,
ul#adminmenu li#menu-posts-project_gallery div.wp-menu-image:before {
    color: #fc0;
} */


/*MAKING CATEGORY TOGGLE*/

#service_category-all {
    max-height: 700px !important;
}

#service_category-all ul.categorychecklist .wpseo-make-primary-term {
    display: none;
}

#service_category-all ul.categorychecklist li.is-parent>label {
    font-weight: bold;
}

#service_category-all ul.categorychecklist li ul.children {
    display: none;
}


/* #service_category-all ul.categorychecklist li.open > ul.children { display: block; } */

#service_category-all ul.categorychecklist .toggler {
    float: right;
    color: #666;
    padding-top: 5px;
    font: 400 14px/1 dashicons!important;
    cursor: pointer;
}

#service_category-all ul.categorychecklist li.open>.toggler::after {
    content: "\f460";
}

#service_category-all ul.categorychecklist .toggler::after {
    content: "\f132";
}
