.animated {
	opacity: 1;
	animation: fadeInUp 0.5s;
	animation-fill-mode: both;
}

.u-animation-delay {
	&-0 {
		animation-delay: 0s;
	}

	&-1 {
		animation-delay: 0.2s;
	}

	&-2 {
		animation-delay: 0.4s;
	}
}

@keyframes curve1 {
	0% {
		color: rgba(color("light-background"), 0.07);
		transform: translate(0, 0);
	}
	50% {
		color: rgba(color("light-background"), 0.1);
		transform: translate(-50px, -50px);
		transform: rotate(-180deg);
	}
	100% {
		color: rgba(color("light-background"), 0.07);
		transform: translate(0, 0);
	}
}

@keyframes curve2 {
	0% {
		color: rgba(color("light-background"), 0.07);
		transform: translate(0, 400px);
		transform: rotate(-60deg);
	}
	50% {
		color: rgba(color("light-background"), 0.1);
		transform: translate(50px, -350px);
		transform: rotate(0deg);
	}
	100% {
		color: rgba(color("light-background"), 0.07);
		transform: translate(0, 0);
	}
}

@keyframes curve3 {
	0% {
		color: rgba(color("light-background"), 0.07);
		transform: translate(100px, -100px);
	}
	50% {
		color: rgba(color("light-background"), 0.1);
		transform: translate(-350px, -750px);
	}
	100% {
		color: rgba(color("light-background"), 0.07);
		transform: translate(0, 0);
	}
}

@keyframes pulseShrink {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.05);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 1;
	}
	70% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInScale {
	0% {
		color: rgba(color("brand"), 0);
		transform: scale(1);
	}
	50% {
		color: rgba(color("brand"), 1);
		transform: scale(1.2);
	}
	100% {
		color: rgba(color("brand"), 0);
		transform: scale(1.4);
	}
}
