.u-h1 {
	margin-top: 0;
	@include font-size(size("xxxl"), 1);
	@include mq("tablet") {
		@include font-size(size("h"), 1);
	}
}

.u-h2 {
	font-size: 40px;
	@include mq("tablet") {
		font-size: 50px;
	}
}

.u-sh {
	font-size: 50px;
	@include mq("tablet") {
		font-size: 60px;
	}
}

.u-h3 {
	@include font-size(size("xxb"));
	@include mq("tablet") {
		@include font-size(size("xl"));
	}
}

.u-h4 {
	@include font-size(size("xb"));
	@include mq("tablet") {
		@include font-size(size("xxb"));
	}
}

.u-h5 {
	@include h5();
}

.u-h6 {
	@include font-size(size("base"));
	@include mq("tablet") {
		@include font-size(size("sm"));
	}
}
