// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

$brand: #2c5234;

$theme-colors: (
	"brand": $brand,
	"link": $brand,
	"link hover": $brand,
	"off-white": #fffdf5,
	"white": #fff,
	"black": #000,
	"light-green": #8fab13,
	"light-green-2": #c4d6a4,
	"yellow": #f3d03e,
	"light-yellow": #eed484,
	"light-yellow-2": #f8e59a,
	"satin": #ceb888,
	"blue": #5bc2e7,
	"light-blue": #99d6ea,
	"orange": #ffae62,
	"brown": #473729,
	"content": #7b7066
);

// helper variables
$font-color: map-get($theme-colors, "brand");
$loud-color: map-get($theme-colors, "brand");
