@font-face {
	font-family: "Brown";
	font-style: normal;
	src: url("../fonts/brown-regular.woff") format("woff"),
		url("../fonts/brown-regular.woff2") format("woff2");
	font-weight: normal;
}
@font-face {
	font-family: "Brown";
	font-style: normal;
	src: url("../fonts/brown-light.woff") format("woff"),
		url("../fonts/brown-light.woff2") format("woff2");
	font-weight: 300;
}
@font-face {
	font-family: "Brown";
	font-style: normal;
	src: url("../fonts/brown-bold.woff") format("woff"),
		url("../fonts/brown-bold.woff2") format("woff2");
	font-weight: 700;
}
@font-face {
	font-family: "Faco";
	font-style: normal;
	src: url("../fonts/foco.woff") format("woff"),
		url("../fonts/foco.woff2") format("woff2");
	font-weight: normal;
}
@font-face {
	font-family: "Faco";
	font-style: normal;
	src: url("../fonts/focobold.woff") format("woff"),
		url("../fonts/focobold.woff2") format("woff2");
	font-weight: 700;
}
@font-face {
	font-family: "Qanelas Soft DEMO";
	font-style: normal;
	src: url("../fonts/QanelasSoft-ExtraBold.woff") format("woff"),
		url("../fonts/QanelasSoft-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}

$primary: "Brown", sans-serif;
$heading: "Faco", sans-serif;
$page-heading: "Qanelas Soft DEMO", sans-serif;
