.c-banner {
	position: relative;
	background-size: cover;
	color: #f2f2f2;
	z-index: 1;
	text-align: center;
	padding: 100px 0;
	@include mq($until: tablet) {
		padding: 36px 0 24px;
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(color("bright brand"), 0.9);
		z-index: -1;
	}
	&__content {
		max-width: 650px;
		margin: auto;
		h1 {
			font-size: 50px;
			font-weight: 800;
			line-height: 56px;
			margin-bottom: 24px;
			@include mq($until: tablet) {
				font-size: 36px;
				line-height: 1;
			}
		}
	}
}
.c-about {
	&__contents {
		padding-top: 60px;
		@include mq($from: tabletWide) {
			padding-top: 100px;
		}
		&-list {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-bottom: 24px;
			color: color("grey");
			@include mq($from: tablet) {
				flex-direction: row;
				margin-bottom: 85px;
				&:nth-of-type(odd) {
					.c-about__contents-list-img {
						order: 1;
					}
				}
			}
			@include mq($from: tablet) {
				&-img,
				&-text {
					flex: 50%;
				}
			}
			&-img {
				width: 100%;
				align-self: flex-start;
				.c-bgimg {
					background-size: cover;
					width: 100%;
					padding-bottom: 75%;
					border-radius: 20px;
				}
				@include mq($until: tablet) {
					margin-bottom: 24px;
				}
			}
			&-text {
				@include mq($from: tablet) {
					text-align: left;
					.c-contents {
						padding-left: 24px;
						padding-right: 24px;
					}
				}
				ul {
					list-style: none;
					li {
						position: relative;
						padding-left: 48px;
						&:before {
							content: "";
							width: 34px;
							height: 16px;
							background-image: url("../img/arrow.png");
							background-size: 34 px 16px;
							background-position: left top;
							background-repeat: no-repeat;
							position: absolute;
							top: 4px;
							left: 0;
						}
					}
				}
				h3 {
					color: color("brand");
					font-size: 28px;
					font-weight: 800;
					margin-bottom: 24px;
				}
			}

			// &:last-of-type{
			//     .c-bgimg{
			//         padding-bottom: 41%;
			//     }
			// }

			@include mq($from: tabletWide) {
				.c-contents {
					padding-left: 100px;
				}
				&:nth-of-type(odd) {
					.c-contents {
						padding-left: 0;
						padding-right: 100px;
					}
				}
			}
		}
	}
}
