.c-contact {
	padding: 48px 0;
	@include mq($from: tablet) {
		padding: 100px 0;
	}
	&__list {
		&:not(:last-of-type) {
			margin-bottom: 12px;
		}
		span {
			display: block;
			font-size: 16px;
		}
		a {
			display: inline-block;
			width: 100%;
			font-size: 22px;
			font-weight: 800;
			text-decoration: none;
			margin-bottom: 18px;
			line-height: 1.2;
			&:hover {
				text-decoration: underline;
				opacity: 0.8;
			}
		}
	}
}
