.c-home {
	&__banner {
		position: relative;
		background-size: cover;
		color: #f2f2f2;
		z-index: 1;
		text-align: center;
		@include mq($from: tabletWide) {
			padding: 100px 0 0px;
			text-align: left;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(color("bright brand"), 0.9);
			z-index: -1;
		}
		&-content {
			position: relative;
			font-size: 16px;
			margin: 48px auto 0;
			@include mq($from: mobileLandscape) {
				max-width: 80%;
			}
			@include mq($from: tabletWide) {
				max-width: 545px;
				margin: 0;
				p {
					position: relative;
					max-width: 450px;
					line-height: 35px;
					// span{
					// 	border-image: url(../img/nav-line.png);
					// }
				}
			}
			h1 {
				font-size: 65px;
				line-height: 65px;
				font-weight: 800;
				margin-bottom: 24px;
				@include mq($until: 1025px) {
					font-size: 62px;
				}
				@include mq($until: tabletWide) {
					font-size: 36px;
					line-height: 36px;
				}
			}
		}
		&-quote {
			background: #ffffff;
			border: 1px solid #c3cbcd;
			box-sizing: border-box;
			border-radius: 15px;
			padding: 24px 24px 12px;
			text-align: center;
			max-width: 520px;
			margin: auto;
			margin-bottom: -160px;
			@include mq($from: tabletWide) {
				max-width: 520px;
				margin-left: auto;
			}
			h2 {
				color: color("brand alt");
				font-weight: 800;
				font-size: 28px;
				margin-bottom: 24px;
			}
		}
		&-arrow {
			position: absolute;
			width: 180px;
			right: -20px;
			bottom: -150px;
			@include mq($until: tabletWide) {
				display: none;
			}
			@include mq($from: 1210px) {
				width: 220px;
				right: -60px;
				bottom: -160px;
			}
		}
		&-bottom {
			display: flex;
			position: absolute;
			padding: 180px 0 0;
			z-index: -1;
			@include mq($from: tabletWide) {
				padding: 48px 0 0;
			}
			@include mq($until: tabletWide) {
				justify-content: center;
				left: 25%; 
				right: 25%; 
				margin-left: auto;
				margin-right: auto;
			}
			img {
				max-height: 48px;
				height: auto;
				width: auto;
				&:not(:last-of-type) {
					margin-right: 12px;
				}
				@include mq($from: mobileSmall) {
					max-height: 72px;
					&:not(:last-of-type) {
						margin-right: 36px;
					}
				}
			}
		}
	}

	&__content {
		padding-top: 260px;
		@include mq(mobileSmall) {
			padding: 280px 0 60px;
		}
		@include mq(tabletWide) {
			padding: 210px 0 20px;
		}
		&-list {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-bottom: 24px;
			color: color("grey");
			@include mq($from: tablet) {
				flex-direction: row;
				margin-bottom: 85px;
				&:nth-of-type(even) {
					.c-home__content-list-img {
						align-self: flex-end;
						order: 1;
					}
				}
			}
			@include mq($from: tablet) {
				&-img,
				&-text {
					flex: 50%;
				}
			}
			&-img {
				width: 100%;
				.c-bgimg {
					background-size: cover;
					width: 100%;
					padding-bottom: 75%;
					border-radius: 20px;
				}
				@include mq($until: tablet) {
					margin-bottom: 24px;
				}
			}
			&-text {
				@include mq($from: tablet) {
					text-align: left;
					padding-left: 48px;
					margin-right: 24px;
					.c-contents {
						max-width: 400px;
						margin: auto;
					}
				}
			}
			&-copy {
				p {
					color: color("brand");
					&:first-of-type {
						font-size: 28px;
						font-weight: 800;
						margin-bottom: 24px;
					}
				}
			}
		}
	}

	&__bottom-content {
		text-align: center;
		max-width: 900px;
		margin: auto;
		padding-bottom: 80px;
		h3,
		h2,
		h4 {
			font-weight: 800;
			margin-bottom: 24px;
		}
	}
}
