.c-footer {
	@include mq($until: mobileLandscape) {
		text-align: center;
	}
	&__top {
		padding: 48px 0 24px;
		img {
			@include mq($from: tabletWide) {
				margin-top: 24px;
				height: 68px;
				width: auto;
			}
		}
	}
	&__logo {
		width: 206px;
		height: 38px;
		color: #fff;
		margin-bottom: 20px;
	}
	background-color: color("brand");
	.c-social {
		margin-top: 24px;
		a {
			text-decoration: none;
			display: inline;
			margin-right: 12px;
			color: #545fb2;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	h4 {
		color: #fff;
		font-size: 16px;
		margin-bottom: 10px;
		font-weight: 700;
	}
	&__links {
		a {
			font-size: 16px;
			text-decoration: none;
			display: block;
			color: color("light brand");
			margin-bottom: 6px;
			&:hover {
				opacity: 0.8;
				text-decoration: underline;
			}
			&.address {
				margin-top: 24px;
			}
		}
	}
	&__copy {
		padding: 24px 0 6px;
		background-color: #1d176c;
		color: color("light brand");
		text-align: center;
		font-size: 12px;
		a {
			color: color("light brand");
			text-decoration: none;
			&:hover {
				opacity: 0.8;
				text-decoration: underline;
			}
		}
	}
	&__btn {
		background: none;
		border: 1px solid #fff;
		color: #fff;
		&:hover {
			background: #fff;
			color: color("brand");
		}
	}
}
