.c-top {
	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		min-height: 100vh;
		background-color: #fff;
		z-index: 500;
		overflow: hidden;
		.c-header.sticky {
			box-shadow: none;
		}
	}
	&--spacer {
		height: 78px;
		width: 100%;
		.admin-bar & {
			height: calc(78px - 46px);
		}
		@include mq(tablet) {
			height: 90px;
			.admin-bar & {
				height: calc(90px - 32px);
			}
		}
	}
}
.c-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 300;
	padding-top: 24px;
	padding-bottom: 12px;
	background-color: #fff;
	@include mq($from: tabletMed) {
		padding-bottom: 24px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	&.sticky {
		box-shadow: 0 1px 3px rgba(#000, 0.1);
		transition: all 0.75s;
		padding: 12px 24px;
		@include mq($until: tablet) {
			padding-bottom: 6px;
		}
		@include mq($from: desktop) {
			padding: 12px 100px;
		}
	}

	.c-logo-wrap {
		line-height: 0;
		display: inline-block;
	}
	&__logo {
		width: 150px;
		height: 35px;
		color: color("brand");
		@include mq($from: tablet) {
			width: 180px;
			height: 40px;
		}
	}
	&__toggle {
		display: none;
		@include mq($until: tabletMed) {
			margin-top: 5px;
			float: right;
			display: block;
			span {
				display: block;
				width: 30px;
				height: 3px;
				margin-bottom: 5px;
				position: relative;
				background: color("brand");
				border-radius: 3px;
				z-index: 1;
				transform-origin: 4px 0px;
				transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
					background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
					opacity 0.55s ease;
				&:first-child {
					transform-origin: 0% 0%;
				}
				&:nth-last-child(2) {
					transform-origin: 0% 100%;
				}
			}
			&.clicked span {
				opacity: 1;
				&:nth-child(1) {
					transform: rotate(-45deg) translate(-14px, 15px);
				}
				&:nth-last-child(2) {
					opacity: 0;
					transform: rotate(0deg);
				}
				&:nth-child(3) {
					transform: rotate(45deg) translate(-8px, -11px);
				}
			}
		}
	}
}
