.c-skip {
	position: absolute;
	top: -10px;
	z-index: -999;
	width: 1px;
	height: 1px;
	overflow: hidden;
	@include attention() {
		top: $spacing-unit--small;
		left: 50%;
		z-index: 999;
		display: inline-block;
		width: auto;
		height: auto;
		transform: translateX(-50%);
	}
}
.c-site-nav {
	display: flex;
	flex: 1 1 auto;
	justify-content: flex-end;
	@include mq($until: tabletMed) {
		display: none;
		position: fixed;
		text-align: center;
		width: 100% !important;
		height: 100%;
		background: #fff;
		top: 80px;
		left: 0;
		z-index: 500;
		overflow: auto;
		padding-bottom: 80px;
	}
}
.c-nav {
	list-style: none;
	display: flex;
	align-items: center;
	margin-bottom: 0;
	@include mq($until: tabletMed) {
		flex-direction: column;
		margin-top: 48px;
	}
	li {
		@include mq($from: tabletMed) {
			padding-right: 24px;
		}
	}
	a {
		position: relative;
		text-decoration: none;
		color: color("grey");
		display: inline;
		&:after {
			content: " ";
			display: block;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url(../img/nav-line.png);
			width: 100%;
			height: 5px;
			text-indent: -9999px;
			position: absolute;
			opacity: 0;
			transition: 0.3s ease all;
			bottom: -6px;
			left: 0;
			background-size: 100% 100%;
		}
		&:hover:after {
			opacity: 1;
		}
		@include mq($until: tabletMed) {
			margin-bottom: 24px;
			display: block;
		}
	}
	.current_page_item a:after {
		opacity: 1;
	}
}

.c-page-nav {
	margin-top: 36px;
	padding-top: 12px;
	border-top: 1px solid color("content");
	text-align: center;
	.page-numbers {
		display: inline-block;
		padding: 4px 6px;
		color: color("content");
		text-decoration: none;
		&:hover,
		&.current {
			color: shade(color("content"), 30%);
		}
	}
}
