.c-solar {
	&-sections {
		padding-top: 60px;
		@include mq($from: tabletWide) {
			padding-top: 100px;
		}
	}
	&-section {
		text-align: center;
		margin-bottom: 48px;
		h3 {
			color: #312b7b;
			font-size: 28px;
			font-weight: 800;
			margin-bottom: 24px;
		}
		p {
			max-width: 850px;
			margin: auto;
		}

		.c-brands {
			padding-top: 48px;
			@include mq($from: tablet) {
				padding: 48px 0 0px;
			}
			&__content {
				@include mq($from: tablet) {
					margin-bottom: 48px;
				}
				h4 {
					color: #312b7b;
					font-size: 18px;
					font-weight: 800;
					margin-bottom: 12px;
				}
				a {
					display: block;
					margin-bottom: 12px;
					transition: opacity 500ms ease;
					img {
						vertical-align: middle;
						display: inline-block;
						width: auto;
						height: auto;
						max-width: 150px;
						max-height: 60px;
					}
					&:hover {
						img {
							opacity: 0.8;
						}
					}
				}
				p {
					&:first-of-type {
						font-weight: 800;
						font-size: 12px;
					}
					margin-bottom: 6px;
					line-height: 1.2;
					font-size: 14px;
				}
			}
		}
	}
	&-quote {
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		color: color("brand");
		margin-bottom: 48px;
		@include mq($from: tablet) {
			margin: 0 0 80px;
		}
	}
}
