.c-slider {
	position: relative;
	&__pager {
		display: block;
		width: 100%;
		line-height: 0;
		text-align: right;
		padding-right: 24px;
		span {
			display: inline-block;
			color: transparent;
			width: 12px;
			height: 12px;
			margin: 0 4px;
			border-radius: 24px;
			border: 1.5px solid color("white");
			text-indent: -99999px;
			cursor: pointer;
			&.cycle-pager-active {
				background: color("white");
			}
		}
	}
}

.c-slide {
	width: 100%;
	&__content {
		position: absolute;
		top: 45%;
		left: 50%;
		width: 100%;
		max-width: 610px;
		max-height: 490px;
		transform: translate(-50%, -50%);
	}
}
