.c-testimonials {
	background-color: #eb5757;
	padding: 80px 0 24px;
	color: #fff;
	&__header {
		display: flex;
		h2 {
			position: relative;
			font-weight: 800;
			font-size: 44px;
			line-height: 50px;
			@include mq(tabletWide) {
				max-width: 55%;
				margin-right: 24px;
			}
		}
		svg {
			@include mq($until: tablet) {
				display: none;
			}
			width: 138px;
			height: 51px;
			color: #b10707;
			flex: 1 1 0;
		}
	}
	p {
		font-size: 18px;
	}
	&__name {
		font-weight: 700;
		margin-bottom: 32px;
	}
}
