.c-win {
	&__contents {
		padding: 60px 0 36px;
		@include mq(tablet) {
			padding: 100px 0 75px;
		}
		h3 {
			color: color("brand");
			font-size: 28px;
			font-weight: 800;
			margin-bottom: 24px;
		}
		.c-contents {
			max-width: 460px;
		}
		&-img {
			width: 100%;
			.c-bgimg {
				background-size: cover;
				width: 100%;
				padding-bottom: 75%;
				border-radius: 20px;
			}
		}
	}
	&__compeinfo {
		background: #f8f8f8;
		padding: 48px 0 24px;
		@include mq(tablet) {
			padding: 70px 0 60px;
		}
		&-header {
			display: flex;
			h2 {
				line-height: 1.1;
				color: color("brand");
				font-weight: 800;
				font-size: 32px;
				@include mq(tabletWide) {
					font-size: 44px;
					max-width: 55%;
					margin-right: 24px;
				}
			}
			svg {
				width: 138px;
				height: 51px;
				color: #b10707;
				flex: 1 1 0;
				@include mq($until: tabletWide) {
					display: none;
				}
			}
		}
		ol li {
			color: color("brand");
			line-height: 1.1;
			font-weight: bold;
			font-size: 24px;
			margin-bottom: 24px;
			@include mq(tablet) {
				font-size: 28px;
			}
		}
	}
	&__competition {
		max-width: 520px;
		margin: auto;
		padding: 60px 0;
		text-align: center;
		@include mq($from: tabletWide) {
			max-width: 640px;
			margin-left: auto;
			padding: 70px 0;
		}

		&-link {
			font-weight: 800;
			display: inline-block;
			margin-top: 20px;
			text-decoration: none;
			text-align: center;
			color: color("brand");
			@include mq(tablet) {
				font-size: 18px;
			}
		}
	}
	&__form {
		display: block;
		width: 100%;
		background: #ffffff;
		border: 1px solid #c3cbcd;
		box-sizing: border-box;
		border-radius: 15px;
		padding: 24px 24px 12px;
		text-align: center;
		max-width: 520px;
		margin: auto;
		@include mq($from: tabletWide) {
			max-width: 640px;
			margin-left: auto;
		}
		h2 {
			color: color("brand alt");
			font-weight: 800;
			font-size: 28px;
			margin-bottom: 24px;
		}
	}
}
