@font-face {
	font-family: "OpenSans Regular";
	font-style: normal;
	src: url("../fonts/OpenSans-Regular.eot") format("embedded-opentype"),
		url("../fonts/OpenSans-Regular.woff") format("woff"),
		url("../fonts/OpenSans-Regular.ttf") format("truetype"),
		url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
}

$primary: "OpenSans Regular", sans-serif;
