.o-btn {
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	font-size: 24px;
	line-height: $unit;
	font-family: $secondary;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	background-color: transparent;
	color: color("brand");
	border: 3px solid color("brand");
	transition: all 0.5s;
	@include mq(tablet) {
		font-weight: 500;
		font-size: 25px;
	}
}

.o-btn-primay {
	border: none;
	@include easeOut;
	padding: 13px 24px 10px;
	@include mq(tablet) {
		padding: 13px 32px 10px;
	}
	@include btn-border-drawing(
		color("white"),
		color("brand"),
		3px,
		bottom,
		right
	);
}

.o-btn-simple {
	padding: 14px 28px 10px;
	&:hover,
	&:focus {
		color: color("white");
		background-color: color("brand");
	}
	.page-template-page-contact &,
	.page-template-page-services & {
		padding: 14px 54px 10px;
		@include mq(tablet) {
			padding: 14px 56px 10px;
		}
	}
}
