// .o-main,
// .o-side {
// 	// @include mq(lap) {
// 	//   float: left;
// 	// }
// }

.o-layout {
	> .o-layout__item {
		margin-bottom: 0;
	}
	&--normal\@tabletLarge {
		@include mq(tabletLarge) {
			margin-left: -24px;
			> .o-layout__item {
				margin-bottom: 0;
				padding-left: 24px;
			}
		}
	}
	&--medium {
		margin-left: -32px;
		> .o-layout__item {
			margin-bottom: 0;
			padding-left: 32px;
		}
	}
	&--three-columns {
		margin-left: -48px;
		> .o-layout__item {
			margin-bottom: 0;
			padding-left: 48px;
		}
		@include mq(tabletWide) {
			margin-left: -86px;
			> .o-layout__item {
				margin-bottom: 0;
				padding-left: 86px;
			}
		}
	}
	&--services-three-column {
		margin-left: -48px;
		> .o-layout__item {
			margin-bottom: 0;
			padding-left: 48px;
		}
		@include mq(tabletWide) {
			margin-left: -72px;
			> .o-layout__item {
				margin-bottom: 0;
				padding-left: 72px;
			}
		}
	}
	&--case-study-home {
		margin-left: -48px;
		> .o-layout__item {
			margin-bottom: 0;
			padding-left: 48px;
		}
		@include mq(tabletWide) {
			margin-left: -54px;
			> .o-layout__item {
				margin-bottom: 0;
				padding-left: 54px;
			}
		}
	}
	&--service-home {
		margin-left: -48px;
		> .o-layout__item {
			margin-bottom: 0;
			padding-left: 48px;
		}
		@include mq(tabletWide) {
			margin-left: -54px;
			> .o-layout__item {
				margin-bottom: 0;
				padding-left: 54px;
			}
		}
		@include mq(laptopMeduim) {
			margin-left: -81px;
			> .o-layout__item {
				margin-bottom: 0;
				padding-left: 81px;
			}
		}
	}
	&--case-studies {
		margin-left: -48px;
		> .o-layout__item {
			margin-bottom: 0;
			padding-left: 48px;
		}
		@include mq(tabletWide) {
			margin-left: -76px;
			> .o-layout__item {
				margin-bottom: 0;
				padding-left: 76px;
			}
		}
	}
	&--two-column {
		margin-left: -34px;
		> .o-layout__item {
			margin-bottom: 0;
			padding-left: 34px;
		}
	}
	&--large2 {
		margin-left: -48px;
		> .o-layout__item {
			margin-bottom: 0;
			padding-left: 48px;
		}
	}
	&--large3 {
		margin-left: -52px;
		> .o-layout__item {
			margin-bottom: 0;
			padding-left: 52px;
		}
	}
	&--flush {
		> .o-layout__item {
			margin-bottom: 0;
		}
	}
}

.o-order {
	@include mq(tablet) {
		&--tablet {
			display: flex;
		}
	}
	@include mq(tabletLarge) {
		&--tabletLarge {
			display: flex;
		}
	}
	&__1\@tablet {
		@include mq(tablet) {
			order: 1;
		}
	}
	&__2\@tablet {
		@include mq(tablet) {
			order: 2;
		}
	}

	&__1\@tabletLarge {
		@include mq(tabletLarge) {
			order: 1;
		}
	}
	&__2\@tabletLarge {
		@include mq(tabletLarge) {
			order: 2;
		}
	}
}
.o-order-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include mq(tablet) {
	}
}
