.o-btn {
	padding: 6px 24px;
	border: 2px solid color("purple");
	box-sizing: border-box;
	border-radius: 30px;
	opacity: 1;
	transition: 0.4s;
	font-size: 16px;
	line-height: 30px;
	font-weight: 600;
	color: color("purple");
	text-decoration: none;
	background: #fff;
	&:hover {
		opacity: 0.8;
	}
	&__services {
		padding: 12px 52px;
		background: transparent;
	}
	&--nav {
		&:hover {
			background-color: color("purple");
			color: white;
		}
		@include mq($until: tablet) {
			display: none;
		}
	}
}

.o-btn.btn-charcoal {
	cursor: pointer;
	color: #fff;
	border: 2px solid #fff;
	background-color: color("charcoal");
	&:hover {
		background-color: #fff;
		color: color("charcoal");
	}
}

.o-btn.btn-green {
	color: color("green");
	border: 2px solid color("green");
	&:hover {
		background-color: color("green");
		color: white;
	}
}

.o-btn.btn-purple {
	color: color("purple");
	border: 2px solid color("purple");
	&:hover {
		background-color: color("purple");
		color: white;
	}
}

.o-btn.btn-blue {
	color: color("blue");
	border: 2px solid color("blue");
	&:hover {
		background-color: color("blue");
		color: white;
	}
}
