.o-main,
.o-side {
	// @include mq(lap) {
	//   float: left;
	// }
}

.o-layout {
	> .o-layout__item {
		margin-bottom: 24px;
	}
	&--medium {
		margin-left: -30px;
		> .o-layout__item {
			margin-bottom: 30px;
			padding-left: 30px;
		}
	}
	&--medium2 {
		margin-left: -36px;
		> .o-layout__item {
			margin-bottom: 36px;
			padding-left: 36px;
		}
	}
	&--large2 {
		margin-left: -48px;
		> .o-layout__item {
			margin-bottom: 48px;
			padding-left: 48px;
		}
	}
	&--large3 {
		margin-left: -80px;
		> .o-layout__item {
			margin-bottom: 10px;
			padding-left: 80px;
		}
	}
	&--sidebyside {
		margin-left: -120px;
		> .o-layout__item {
			margin-bottom: 92px;
			padding-left: 120px;
		}
	}
	&--flush {
		> .o-layout__item {
			margin-bottom: 0;
		}
	}
}
