.c-about {
	&__content {
		margin-bottom: 48px;
		h3 {
			color: color("brand");
			line-height: 1.2;
			margin-top: 36px;
		}
		ul {
			list-style-position: outside;
			li {
				left: 1.2em;
				width: 95%;
				position: relative;
				margin-bottom: 5px;
			}
		}
	}
	&__explores {
		padding-bottom: 24px;
		max-width: 830px;
		h3 {
			font-size: 24px;
			line-height: 1.5;
			color: color("brand");
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		&-each {
			background-size: cover;
			background-position: center top;
			padding: 24px;
			padding-bottom: 62%;
			width: 100%;
			border-radius: 8px;
			position: relative;
			transition: 0.3s;
			&:hover {
				transform: scale(1.03);
			}
		}
		a {
			display: inline-block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			border-radius: 8px;
			position: relative;
			text-align: center;
			span {
				display: block;
				text-align: center;
				padding: 16px;
				line-height: 1;
				font-weight: bold;
				border-radius: 8px;
				position: absolute;
				bottom: 24px;
				left: 24px;
				width: calc(100% - 48px);
				font-family: $primary;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
}
