.c-accordion {
	margin-bottom: 50px;
	max-width: 830px;
	&__heading {
		margin: 50px 0 24px;
	}
	&__question {
		position: relative;
		padding: 12px 20px;
		padding-right: 42px;
		display: block;
		background-color: white;
		border-radius: 1.75px;
		text-decoration: none;
		transition: 0.25s;
		color: #ec0088;
		font-size: 18px;
		&:hover {
			text-decoration: none;
			box-shadow: 0 0 14px rgba(black, 0.2);
		}
		&:focus {
			text-decoration: none;
		}
		img {
			position: absolute;
			width: 10px;
			height: auto;
			float: right;
			top: 50%;
			right: 24px;
			transform: translateY(-50%);
			transition: 0.25s;
		}

		&.active {
			img {
				transform: rotate(180deg) translateY(50%);
			}
			box-shadow: none;
		}
	}
	&__item {
		margin-bottom: 12px;
	}
	&__answer {
		overflow: hidden;
		background-color: white;
		width: 100% !important;
		display: none;
	}
	&__content {
		padding: 0 20px;
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 16px;
			background-image: linear-gradient(
				to right,
				#d6d6d5 33%,
				rgba(255, 255, 255, 0) 0%
			);
			background-position: top;
			background-repeat: repeat-x;
			background-size: 6px 1px;
		}
		ul,
		ol {
			list-style-position: outside;
			li {
				left: 1.2em;
				width: 95%;
				position: relative;
				margin-bottom: 5px;
			}
		}
		ol {
			li {
				padding-left: 4px;
				left: 1em;
			}
		}
		p {
			font-size: 16px !important;
			margin-bottom: 18px;
		}
		.c-accordion--terms & {
			h3 {
				margin-bottom: 12px;
				font-size: 20px;
			}
			h4 {
				font-size: 20px;
			}
		}
	}
}
