.c-activity-tile {
	&.is-hidden {
		display: none;
	}
	.c-workout__list & {
		@include mq($from: mobileLandscape, $until: tablet) {
			&.animate:nth-of-type(2n + 2) {
				animation-delay: 0.2s;
			}
		}
		@include mq($from: tablet) {
			&.animate:nth-of-type(3n + 2) {
				animation-delay: 0.2s;
			}
			&.animate:nth-of-type(3n + 3) {
				animation-delay: 0.3s;
			}
		}
	}
	&__wrap {
		display: block;
		width: 100%;
		background: #ffffff;
		border-radius: 8px;
		transition: 0.5s;
		color: #000;
		position: relative;
		padding-bottom: 56px;
		&:hover {
			transform: scale(1.02);
			box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
			opacity: 1;
			.c-activity-tile__more {
				background-color: color("brand");
				color: #fff;
				border-radius: 0 0 8px 8px;
				opacity: 1;
				span {
					border-top: 0;
				}
			}
		}
	}
	&__img {
		display: inline-block;
		background-color: #ddd;
		background-size: cover;
		background-position: center center;
		padding-bottom: 56%;
		width: 100%;
		border-radius: 8px 8px 0 0;
		position: relative;
		&:after {
			content: "";
			border-radius: 8px 8px 0 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(37, 37, 37, 0.3);
		}
		span {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 70px;
			height: 70px;
			transform: translate(-50%, -50%);
			z-index: 2;
			cursor: pointer;
			transition: 0.4s;
		}
		&:hover {
			opacity: 1;
			svg {
				transform: scale(1.03);
				opacity: 0.8;
			}
		}
	}
	&__content {
		margin: 20px 20px 24px;
		h3 {
			font-size: 24px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 12px;
			&:first-of-type {
				margin-bottom: 30px;
			}
		}
	}
	&__grad {
		display: flex;
		align-items: center;
		span {
			line-height: 1.2;
		}
	}
	&__workout,
	&__effort,
	&__level {
		font-size: 16px;
		line-height: 1;
		text-transform: uppercase;
		color: #fff;
		margin-right: 8px;
		min-width: 120px;
		display: inline-block;
		text-align: center;
		border-radius: 6px;
		font-family: $primary;
		font-weight: medium;
		padding: 6px;
	}
	&__workout {
		background-color: color("pink");
	}
	&__effort {
		background-color: color("orange");
	}
	&__level {
		background-color: color("blue");
	}
	&__more {
		display: inline-block;
		width: 100%;
		font-weight: bold;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		// padding: 20px;
		color: color("brand");
		font-family: $primary;
		position: absolute;
		bottom: 0;
		transition: 0.3s;
		span {
			display: block;
			border-top: 1px solid #e1e1e1;
			padding: 20px 0px;
			margin: 0 20px;
		}
	}
}
