.c-athome,
.c-teams {
	&-list {
		margin-top: 60px;
		@include mq(tablet) {
			margin-top: 100px;
		}
		&__each {
			display: flex;
			@include mq($until: tablet) {
				flex-direction: column;
				margin-bottom: 60px;
			}
			@include mq(tablet) {
				margin-bottom: 100px;
				justify-content: center;
				align-items: center;
				&:nth-child(odd) {
					.c-athome-list__img,
					.c-teams-list__img {
						order: 1;
						border-radius: 8px 0 0 8px;
					}
				}
			}
		}
		&__wrapcontent {
			max-width: 100%;
			margin: auto;
			@include mq(tablet) {
				max-width: 50%;
				margin: auto;
				order: 1;
			}
		}
		&__content {
			text-align: center;
			max-width: 520px;
			margin: auto;
			p {
				font-size: 18px;
			}
			@include mq($until: tablet) {
				padding: 0 24px;
				p {
					font-size: 14px;
				}
			}
		}
		&__img {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			padding-bottom: 31%;
			max-width: 45%;
			border-radius: 0 8px 8px 0;
			@include mq(wideScreen) {
				max-width: 40%;
			}
			@include mq($until: tablet) {
				max-width: 100%;
				padding-bottom: 50%;
				width: 80%;
				margin: auto auto 24px;
				border-radius: 8px;
				order: -1;
			}
		}
	}
}
