.c-banner {
	background-color: rgba(#000, 0.2);
	background-size: cover;
	background-position: center;
	color: #fff;
	position: relative;
	z-index: 1;
	padding: 60px 0;
	margin-top: -60px;
	@include mq(tablet) {
		padding: 100px 0;
		margin-top: -100px;
	}
	&:after {
		content: "";
		position: absolute;
		background-color: rgba(#000, 0.7);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&__inner {
		display: flex;
		@include mq($until: tablet) {
			flex-direction: column;
		}
	}
	&__content {
		max-width: 1080px;
		width: 100%;
		flex: 1;
		@include mq(tablet) {
			margin-right: 24px;
		}
		h1 {
			margin-top: 0;
			margin-bottom: 24px;
			@include mq(tablet) {
				margin-bottom: 36px;
			}
		}
		p {
			@include mq(tablet) {
				margin-bottom: 0;
			}
		}
	}
	.o-btn--join {
		max-width: 230px;
		@include mq(tablet) {
			min-width: 290px;
			align-self: flex-end;
		}
	}
	&-bottom {
		margin-bottom: 60px;
		@include mq(tablet) {
			padding-top: 36px;
			margin-bottom: 120px;
		}
		.c-banner {
			margin-top: 0;
			border-radius: 8px;
			padding: 50px 30px;
			@include mq(tabletWide) {
				padding: 80px;
			}
			&:after {
				border-radius: 8px;
			}
			&__inner {
				p {
					max-width: 450px;
					font-weight: 500;
					@include mq(tablet) {
						font-size: 30px;
						line-height: 1.3;
						margin-bottom: 0;
					}
					@include mq($until: tablet) {
						text-align: center;
						margin: 0 auto 18px;
					}
				}
			}
		}

		.o-btn--join {
			align-self: center;
		}
	}
}
