.c-bottom-info-banner {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	padding: 18px 24px 18px 0;
	background-color: color("blue");
	box-shadow: 0 -5px 6px rgba(0, 0, 0, 0.25);
	opacity: 0;
	pointer-events: none;
	transition: 0.25s;
	p {
		margin: 0;
	}
	@include mq(tablet) {
		padding-right: 0;
	}
	&.active {
		opacity: 1;
		pointer-events: auto;
	}
	.o-wrapper {
		position: relative;
		height: 100%;
	}
	&__content {
		text-align: center;
		@include mq($until: laptopMed, $from: tablet) {
			padding-right: 40px;
		}
		img {
			position: fixed;
			top: -7px;
			left: 0;
			width: 28px;
			margin-right: 24px;
			@include mq(tablet) {
				position: relative;
				top: auto;
				left: auto;
				width: 24px;
				margin-right: 18px;
			}
		}
		&_mobile,
		&_desktop {
			font-size: 14px;
			font-family: $primary;
			@include mq(tablet) {
				font-size: 16px;
				line-height: 1.3;
				vertical-align: sub;
			}
			a {
				color: #333;
				display: inline-block;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		&_mobile {
			display: inline-block;
			@include mq(tabletWide) {
				display: none;
			}
		}
		&_desktop {
			display: none;
			@include mq(tabletWide) {
				display: inline-block;
			}
		}
	}
	&__cross {
		position: absolute;
		right: 12px;
		color: #333;
		top: 12px;
		@include mq(tablet) {
			right: 24px;
			top: 50%;
			transform: translateY(-50%);
		}
		svg {
			width: 20px;
			height: 20px;
			@include mq(tablet) {
				width: 24px;
				height: 24px;
			}
		}
	}
}
