.c-contact {
	@include mq(tablet) {
		margin-bottom: 60px;
	}
	&__tabs {
		margin-bottom: 24px;
		max-width: 830px;
		a {
			font-family: $primary;
			font-weight: bold;
			display: inline-block;
			margin-bottom: 12px;
			text-align: center;
			padding: 8px 20px;
			line-height: 1.04;
			@include mq(tablet) {
				margin-bottom: 24px;
				padding: 10px 24px;
				min-width: 190px;
				&:not(:last-of-type) {
					margin-right: 24px;
				}
			}
			&.active {
				background-color: color("brand");
				color: #fff;
			}
		}
	}
	&__tab-container {
		transition: 0.3s;
		max-width: 830px;
		display: none;
		.cms-content {
			margin-bottom: 48px;
		}
		h3 {
			color: color("brand");
			text-transform: uppercase;
			font-size: 24px;
			line-height: 1;
			margin-bottom: 48px;
		}
	}
	.js-tabs__general,
	.js-tabs__tech {
		display: none;
	}
}
