.c-flex-content {
	&--all {
		margin: 60px 0;
		max-width: 830px;
	}
	// Content Module
	&--content {
		strong {
			font-weight: 400;
		}
	}

	//  2 COlumn Content Module
	&--2-column-content {
		column-gap: 40px;
		column-count: 2;
	}

	// Repeater Module
	&--repeater {
		&_block {
			background: #fff;
			margin-bottom: 36px;
			box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
			border-radius: 8px;
			padding: 30px 20px;
			display: flex;
			position: relative;
			@include mq(mobileLandscape) {
				padding: 36px;
			}
			@include mq($until: tabletWide) {
				flex-direction: column;
			}
			h2 {
				color: color("pink");
				margin-bottom: 30px;
			}
			.h2-mob {
				display: none;
				@include mq($until: tabletWide) {
					display: block;
					text-align: center;
					margin-bottom: 24px;
				}
			}
			&-content {
				@include mq($until: tabletWide) {
					order: 2;
				}
				@include mq(tabletWide) {
					max-width: 50%;
					padding-right: 36px;
				}
				h2 {
					@include mq($until: tabletWide) {
						display: none;
					}
				}
				.o-btn {
					display: block;
					margin-top: 10px;
					color: #fff;
					@include mq($until: tabletWide) {
						margin-bottom: 30px;
					}
				}
			}
			&-img {
				width: 100%;
				margin-bottom: 24px;
				@include mq(tabletWide) {
					max-width: 50%;
					margin-bottom: 0;
				}
			}
		}
	}

	// Image Left, Content Right Module
	&--image-content {
		&_left {
			img {
				width: 200px;
				margin: 0 auto;
			}
		}
		&_right {
		}
	}

	// Content Left, Image Right Module
	&--content-image {
		&_left {
		}
		&_right {
			img {
				width: 200px;
				margin: 0 auto;
			}
		}
	}
}
