.c-home {
	.page-title {
		margin-top: 0;
	}
	&-banner {
		background-color: #ababab;
		background-size: cover;
		background-position: center;
		color: #fff;
		position: relative;
		z-index: 1;
		@include mq(tablet) {
			// min-height: 600px !important;
		}
		.slick-initialized &.slick-slide {
			display: flex;
			align-items: center;
			padding-bottom: 50px;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(4, 4, 4, 0.5);
			z-index: -1;
		}
		// &:after {
		// 	content: "";
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-color: rgba(4, 4, 4, 0.5);
		// 	background: linear-gradient(
		// 		180deg,
		// 		rgba(239, 238, 238, 0) 72.92%,
		// 		#efeeee 100%
		// 	);
		// 	z-index: -1;
		// }
		&__content {
			max-width: 720px;
			padding: 60px 0 30px;
			.slick-current & {
				animation: fadeInUp 0.5s;
			}
			@include mq(tablet) {
				padding: 100px 0 60px;
			}
			h1 {
				margin-top: 0;
				text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
				margin-bottom: 6px;
				@include mq(tabletWide) {
					font-size: 70px;
					line-height: 1.1;
				}
			}
			p {
				margin-bottom: 30px;
				max-width: 600px;
			}
		}
	}
	&-videos {
		position: relative;
		text-align: center;
		z-index: 10;
		margin: 60px 0;
		// margin-top: -200px;
		@include mq(tablet) {
			margin: 80px 0 100px;
		}
		h2 {
			margin-bottom: 20px;
		}
		&__list {
			position: relative;
		}
		&__each {
			position: relative;
			padding: 24px 12px 36px;
			@include mq(tablet) {
				padding: 24px 12px 48px;
			}
			&-inner {
				overflow: hidden;
				border-radius: 8px;
				box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.1);
				transition: 0.4s;
				.bgimg {
					border-radius: 8px 8px 0 0;
					display: inline-block;
					width: 100%;
					background-size: cover;
					background-position: center 0;
					padding-bottom: 60%;
					position: relative;
					transition: 0.5s;
					overflow: hidden;
					&:after {
						content: "";
						border-radius: 8px 8px 0 0;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: rgba(37, 37, 37, 0.2);
					}
					span {
						position: absolute;
						left: 50%;
						top: 50%;
						width: 70px;
						height: 70px;
						transform: translate(-50%, -50%);
						z-index: 2;
						cursor: pointer;
					}
				}
				&:hover {
					box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
					.bgimg {
						transform: scale(1.03);
						opacity: 1;
					}
				}
			}
			&-title {
				background: #ffffff;
				border-radius: 0 0 8px 8px;
				text-align: center;
				padding: 20px;
				font-size: 24px;
				line-height: 1.2;
				text-transform: uppercase;
				font-family: $primary;
				font-weight: 300;
				margin-top: -12px;
				position: relative;
				z-index: 2;
				span {
					display: block;
				}
			}
		}
	}
	&-team {
		background-color: #fff;
		background-size: cover;
		background-position: center;
		position: relative;
		z-index: 1;
		color: #fff;
		padding: 60px 0 18px;
		@include mq(tablet) {
			padding: 80px 0 30px;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.65);
			z-index: -1;
		}
		.c-home-team__wrapper > .o-layout__item {
			vertical-align: middle;
		}
		&__content {
			h1 {
				margin-bottom: 28px;
			}
			max-width: 500px;
			margin-bottom: 36px;
		}
		&__list {
			text-align: center;
			margin-bottom: 12px;
			transition: 0.5;
			.bg {
				background-color: #fff;
				background-size: cover;
				background-position: center;
				padding-bottom: 70%;
				border-radius: 8px;
				margin-bottom: 20px;
				transition: 0.5s;
			}
			a {
				width: 100%;
				display: inline-block;
				color: #fff;
				font-size: 24px;
				line-height: 1;
				font-family: $primary;
				span {
					text-transform: uppercase;
					font-weight: 300;
				}
			}
			&:hover {
				a {
					opacity: 1;
				}
				.bg {
					transform: scale(1.03);
				}
				span {
					opacity: 0.65;
				}
			}
		}
	}
	&-tracking {
		padding: 60px 0 40px;
		@include mq(tablet) {
			padding: 100px 0 75px;
		}
		text-align: center;
		.o-layout > .o-layout__item {
			vertical-align: middle;
		}
		video {
			width: 100%;
		}
	}

	&-resources {
		padding: 60px 0 40px;
		@include mq(tablet) {
			padding: 100px 0 75px;
		}
		background-color: #fff;
		background-size: cover;
		background-position: center;
		position: relative;
		z-index: 1;
		color: #fff;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.65);
			z-index: -1;
		}
		&__content {
			text-align: center;
		}
		.o-module {
			padding-top: 36px;
			overflow: visible;
			justify-content: center;
		}
	}
}
