.c-svgicon {
	&--cancel-circle {
		width: 36px;
		height: 36px;
		top: 11px;
		right: 0;
		position: absolute;
		color: #e3007b;
		transition: 0.25s;
	}
	&--play {
		width: 70px;
		height: 70px;
		color: #fff;
		transition: 0.3s;
	}
	&--close {
		width: 25px;
		height: 25px;
		@include mq(tablet) {
			width: 35px;
			height: 35px;
		}
	}
	&--logo-solid {
		width: 160px;
		height: 100px;
		@include mq(tablet) {
			width: 210px;
			height: 114px;
		}
	}
}
