.c-modal {
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.75);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 600;
	overflow: auto;
	&__container {
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translateX(-50%);
		padding: 0px;
		text-align: center;
		margin: auto;
		max-width: 880px;
		width: 88%;
		box-shadow: 0 2px 4px rgba(80, 80, 80, 0.4);
		@include mq(tablet) {
			width: 80%;
		}
		@include mq(tabletWide) {
			width: 100%;
		}
		@media (min-height: 620px) {
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__facebook {
		position: absolute;
		display: inline-block;
		height: auto;
		z-index: 10;
		top: 10px;
		left: 10px;
		img {
			max-width: 80px;
		}
	}
	&__content {
		position: relative;
		.o-aspect {
			margin-bottom: 36px;
			border-radius: 8px 8px 0 0;
		}
		#video_container {
			background-color: #000;
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}
	&__close {
		position: absolute;
		top: 30px;
		right: 30px;
		font-size: 30px;
		color: color("white");
		cursor: pointer;
	}
	.o-btn--join {
		background-color: color("pink");
		&:hover {
			background-color: shade(color("pink"), 20%);
		}
		@include mq($until: mobileLandscape) {
			font-size: 14px;
		}
	}
	&.intro-modal {
		display: none;
		.c-modal__close {
			top: 20px;
			right: 20px;
			color: #000;
		}
		.c-modal__logo {
			width: 160px;
			height: 100px;
			@include mq(tablet) {
				width: 210px;
				height: 124px;
			}
		}

		.c-modal__container {
			background: #fff;
			border-radius: 8px;
			color: #000;
			padding: 60px 24px;
			width: 80%;
			@include mq(tablet) {
				padding: 80px 60px;
				max-width: 1000px;
			}
		}
		.c-modal__content {
			max-width: 440px;
			margin: auto;
			.intro-para {
				font-family: $primary;
				margin: 24px 0;
				font-weight: 500;
				font-size: 24px;
				line-height: 1.2;
				@include mq(tablet) {
					font-size: 30px;
					line-height: 1.3;
				}
			}
		}
	}
}
