.c-site-nav {
	flex: 1;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
	transition: 0.4s;
	@include mq($until: laptopMed) {
		display: none;
		align-items: center;
		text-align: center;
	}
}
.c-nav__mobile {
	display: flex;
	@include mq(laptopMed) {
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 24px 0;
	}
	@include mq($until: laptopMed) {
		flex-direction: column;
	}
}
.c-nav {
	display: flex;
	list-style: none;
	margin-bottom: 0;
	font-family: $primary;
	font-weight: 300;
	@include mq($until: laptopMed) {
		flex-direction: column;
	}
	li {
		@include mq($until: laptopMed) {
			text-align: left;
		}
		a {
			display: inline-block;
			font-size: 16px;
			line-height: 1;
			color: color("content");
			text-transform: uppercase;
			text-decoration: none;
			padding-bottom: 3px;
			border-bottom: 2px solid transparent;
			@include mq($until: laptopMed) {
				margin-bottom: 24px;
				transition: 0.25s;
				font-size: 24px;
				line-height: 1;
			}
			&:hover {
				opacity: 1;
			}
		}
		@include mq($from: laptopMed, $until: laptop) {
			margin-right: 12px;
		}
		@include mq(laptopMed) {
			margin-right: 20px;
			transition: 0.4s;
			&.current-menu-item a,
			&.current-menu-parent a,
			&.current-menu-parent:hover a,
			&:hover a {
				border-color: color("brand") !important;
			}
		}
		& ul.sub-menu {
			z-index: 10;
			text-align: left;
			width: 100%;
			list-style: none;
			@include mq(laptopMed) {
				padding: 10px 0;
				opacity: 1;
				position: absolute;
				left: auto;
				top: 62px;
				.sub-menu-inner {
					display: flex;
					padding: 0;
				}
			}
			a {
				color: #5b5b5b;
				font-size: 14px;
				font-family: $secondary;
				font-weight: normal;
				text-transform: unset;
				border: 0;
				@include mq($until: laptopMed) {
					font-size: 18px;
					margin-bottom: 18px;
					font-family: $primary;
					font-weight: 300;
				}
			}

			& li {
				border: 0;
				@include mq(laptopMed) {
					&:last-of-type {
						margin-right: 0 !important;
					}
					&:not(:last-child) {
						margin-right: 20px;
					}
				}
				&.current-menu-item,
				&.current-menu-parent,
				&.current-menu-parent,
				&:hover {
					a {
						border-bottom: 0 !important;
						color: #000;
					}
				}
			}
		}
	}
	&__subnav-toggle {
		position: relative;
		display: inline-block;
		background-position: center;
		background-repeat: no-repeat;
		transition: 0.25s;
		margin-left: 4px;
		width: 12px;
		height: 12px;
		background-image: url(../img/select-arrow.png);
		background-size: 12px;
		@include mq($until: laptopMed) {
			margin-left: 8px;
			width: 14px;
			height: 18px;
			transform: rotate(-90deg);
			background-size: 14px;
			&.active {
				transform: none;
			}
		}
	}
	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0px;
		color: color("blue");
		@include mq($until: laptopMed) {
			position: fixed;
			bottom: 0px;
			left: 24px;
			width: calc(100% - 48px);
			justify-content: start;
			background-color: #fff;
			padding: 10px 0 20px;
		}
		&-search {
			svg {
				color: #f2b000 !important;
				@include mq($until: laptopMed) {
					color: #eeeeee !important;
				}
			}
		}
		li {
			list-style: none;
			&:not(:last-of-type) {
				font-size: 0;
			}
			a {
				display: inline-block;
				line-height: 1;
				svg {
					color: color("blue");
					transition: 0.25s;
					width: 32px;
					height: 32px;
				}
				&:hover {
					opacity: 1;
					svg {
						transform: scale(1.1);
					}
				}
			}
			&:not(:last-child) {
				margin-right: 12px;
			}
			@include mq($until: laptopMed) {
				&:nth-child(2) {
					flex: 1;
				}
				&:nth-child(2),
				&:nth-child(3) {
					order: 3;
					opacity: 0.65;
					text-align: right;
					svg {
						color: #656565;
					}
				}
				&:nth-child(3) {
					margin-right: 0;
				}
				.o-btn--nav {
					background-color: #eeeeee;
				}
			}
		}
	}
	// mobile subnav
	@include mq($until: laptopMed) {
		.menu-item-has-children {
			position: relative;
			transition: 0.25s;
			.sub-menu {
				margin-bottom: 20px;
				.sub-menu-inner {
					padding: 0;
				}
				display: none;
				&.active {
					display: block;
				}
			}
		}
	}
}

.c-nav-toggle {
	@include unstyle-button();
	position: absolute;
	z-index: 300;
	top: 28px;
	right: 22px;
	padding: 4px 6px;
	outline: none;
	border: 0;
	@include mq(laptopMed) {
		display: none;
	}
	&__icon {
		display: inline-block;
		height: 22px;
		width: 35px;
		transition: transform 0.25s;
		position: relative;
		&:before,
		&:after,
		span {
			transition: 0.25s;
		}
		span {
			width: 35px;
			height: 2px;
			display: block;
			opacity: 1;
			background: color("content");
			position: absolute;
			border-radius: 3px;
			top: 50%;
			transform: translateY(-50%);
			transition: opacity 0.2s 0.2s;
		}
		&:before,
		&:after {
			display: block;
			content: "";
			width: 100%;
			height: 2px;
			position: absolute;
			left: 0;
			background-color: color("content");
			transition: top 0.4s 0.2s, bottom 0.4s 0.2s, transform 0.2s;
			border-radius: 3px;
			&:hover {
				background: color("brand") !important;
			}
		}
		&:before {
			top: 0px;
		}
		&:after {
			bottom: 0px;
		}
		&.cross {
			width: 24px;
			span {
				opacity: 0;
				width: 24px;
			}
			&:before,
			&:after {
				margin: 0;
				transition: top 0.2s, bottom 0.2s, transform 0.3s 0.2s;
				width: 30px;
			}
			&:before {
				top: 10px;
				transform: rotate(45deg);
			}
			&:after {
				bottom: 10px;
				transform: rotate(-45deg);
			}
		}
	}
}
