.c-footer {
	background-color: #fff;
	padding: 50px 0 30px;
	@include mq($until: tablet) {
		text-align: center;
		.o-layout > .o-layout__item {
			margin-bottom: 0px;
		}
	}
	&__instagram {
		margin-bottom: 60px;
		&-title {
			text-align: center;
			h3 {
				display: inline-block;
				text-transform: uppercase;
				margin-bottom: 24px;
				@include mq(tablet) {
					font-size: 40px;
				}
			}
		}
		.wdi_feed_container {
			border: 0 !important;
		}
		.wdi_feed_info {
			display: none !important;
		}
		.wdi_feed_wrapper {
			font-size: 0 !important;
			line-height: 0 !important;
			.wdi_feed_item {
				width: 33.333333% !important;
				@include mq(mobileLandscape) {
					width: 25% !important;
				}
				@include mq(tabletWide) {
					width: 12.5% !important;
				}
				&:nth-child(7),
				&:nth-child(8) {
					@include mq($until: mobileLandscape) {
						display: none !important;
					}
				}
			}
		}
		.wdi_photo_img {
			transform: scale(1.01);
		}
		.wdi_photo_wrap {
			width: 100% !important;
			padding: 0 !important;
		}
		.wdi_photo_wrap_inner {
			border: 0 !important;
		}
	}
	.o-layout > .o-layout__item {
		vertical-align: middle;
	}
	&__info {
		@include mq($until: tablet) {
			font-size: 13px;
		}
		p {
			margin-bottom: 12px;
			@include mq(tablet) {
				margin-bottom: 0;
			}
			a {
				color: #000;
				text-decoration: none;
			}
		}
	}
	&__logo {
		width: 100%;
		color: #000;
		display: inline-block;
		vertical-align: super;
		@include mq(tablet) {
			text-align: right;
		}
		svg {
			width: 95px;
			height: 56px;
			&:not(:last-of-type) {
				margin-right: 20px;
			}
		}
		&-img {
			width: 138px !important;
			height: 82px !important;
		}
	}
}
