.c-page-tile {
	&__wrap {
		cursor: pointer;
		display: block;
		width: 100%;
		display: inline-block;
		background: #ffffff;
		border-radius: 8px;
		transition: 0.5s;
		color: #000;
		position: relative;
		padding-bottom: 56px;
		&:hover {
			transform: scale(1.02);
			box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
			opacity: 1;
			.c-page-tile__more {
				background-color: color("brand");
				color: #fff;
				border-radius: 0 0 8px 8px;
				span {
					border-top: 0;
				}
			}
		}
	}

	&__content {
		margin: 20px 20px 0;
		h3 {
			font-size: 18px;
			line-height: 19px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
	}
	&__more {
		display: inline-block;
		width: 100%;
		font-weight: bold;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		// padding: 20px;
		color: color("brand");
		font-family: $primary;
		position: absolute;
		bottom: 0;
		transition: 0.3s;
		span {
			display: block;
			border-top: 1px solid #e1e1e1;
			padding: 20px 0px;
			margin: 0 20px;
		}
	}
}
