.c-content {
	padding-top: 60px;
	@include mq(tablet) {
		padding-top: 100px;
	}
	.home & {
		padding-top: 0;
	}
}

.c-main-content {
}

.c-cms-content {
}
.large-para {
	max-width: 820px;
	p:first-of-type {
		font-family: $primary;
		font-weight: 300;
		font-style: normal;
		font-size: 20px;
		line-height: 1.3;
		@include mq(tablet) {
			font-size: 24px;
			line-height: 1.5;
		}
	}
}

.c-404 {
	margin-bottom: 100px;
}
