.c-top {
	padding: 11px 0;
	background: rgb(255, 255, 255);
	position: relative;
	transition: all 0.3s ease;
	z-index: 500;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	transition: 0.3s;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	&.fixed-nav {
		padding: 6px 0;
		.c-header__logo {
			width: 120px;
			height: 75px;
		}
		.c-nav li ul.sub-menu {
			top: 55px;
		}
	}
	&.subnav-open {
		padding-bottom: 20px;
	}
	@include mq($until: laptopMed) {
		&.is-nav-open {
			min-height: 100vh;
			z-index: 500;
			overflow-y: auto;
			height: 100%;
			.c-site-nav {
				display: block;
				position: absolute;
				top: 120px;
				left: 24px;
				width: calc(100% - 48px);
				padding-bottom: 60px;
			}
		}
	}
	&--spacer {
		display: block;
		width: 100%;
		height: 85px;
		.admin-bar & {
			height: calc(85px - 46px);
		}
		@include mq(laptopMed) {
			height: 128px;
			.admin-bar & {
				height: calc(128px - 32px);
			}
		}
	}
}
.c-header {
	display: flex;
	@include mq($until: laptopMed) {
		flex-direction: column;
	}
	.c-logo-wrap {
		display: inline-block;
		max-width: 180px;
		line-height: 1;
		&:hover {
			opacity: 1;
		}
	}
	&__logo {
		width: 110px;
		height: 60px;
		color: #fff;
		@include mq(laptopMed) {
			width: 172px;
			height: 103px;
		}
	}
}
