.c-resources-tile {
	.c-resources__list & {
		@include mq($from: mobileLandscape, $until: tablet) {
			&.animate:nth-of-type(2n + 2) {
				animation-delay: 0.2s;
			}
		}
		@include mq($from: tablet, $until: laptop) {
			&.animate:nth-of-type(3n + 2) {
				animation-delay: 0.2s;
			}
			&.animate:nth-of-type(3n + 3) {
				animation-delay: 0.3s;
			}
		}
		@include mq(laptop) {
			&.animate:nth-of-type(4n + 2) {
				animation-delay: 0.2s;
			}
			&.animate:nth-of-type(4n + 3) {
				animation-delay: 0.3s;
			}
			&.animate:nth-of-type(4n + 4) {
				animation-delay: 0.4s;
			}
		}
	}
	.c-home-resources__list & {
		@include mq($from: tablet) {
			&.animate:nth-of-type(3n + 2) {
				animation-delay: 0.2s;
			}
			&.animate:nth-of-type(3n + 3) {
				animation-delay: 0.3s;
			}
		}
	}
	&__wrap {
		cursor: pointer;
		display: block;
		width: 100%;
		background: #ffffff;
		border-radius: 8px;
		transition: 0.5s;
		color: #000;
		position: relative;
		padding-bottom: 56px;
		&:hover {
			transform: scale(1.02);
			box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
			opacity: 1;
			.c-resources-tile__more {
				background-color: color("brand");
				color: #fff;
				border-radius: 0 0 8px 8px;
				span {
					border-top: 0;
				}
			}
		}
	}
	&__img {
		background-color: #ddd;
		background-size: cover;
		background-position: center center;
		padding-bottom: 65%;
		width: 100%;
		border-radius: 8px 8px 0 0;
	}
	&__content {
		margin: 20px 20px 0;
		h3 {
			font-size: 18px;
			line-height: 19px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
	}
	&__date {
		color: #ababab;
		margin-bottom: 6px;
	}
	&__category {
		display: inline;
		color: color("brand");
	}
	&__more {
		display: inline-block;
		width: 100%;
		font-weight: bold;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		// padding: 20px;
		color: color("brand");
		font-family: $primary;
		position: absolute;
		bottom: 0;
		transition: 0.3s;
		span {
			display: block;
			border-top: 1px solid #e1e1e1;
			padding: 20px 0px;
			margin: 0 20px;
		}
	}
}
