.c-resources {
	margin-top: 50px;
	&__filter {
		&-item {
			padding: 10px 32px;
			font-weight: bold;
			font-size: 16px;
			line-height: 1;
			text-align: center;
			display: inline-block;
			margin-bottom: 18px;
			@include mq(tablet) {
				min-width: 175px;
				&:not(:last-of-type) {
					margin-right: 18px;
				}
			}
			&.is-active {
				background-color: color("brand");
				color: #fff;
			}
		}
	}
	&__list {
		padding-bottom: 60px;
		@include mq(tablet) {
			padding-bottom: 100px;
		}
		.o-module {
			padding-top: 48px;
			overflow: visible;
			justify-content: center;
		}
	}
	&__pagination {
		text-align: center;
		margin-top: 24px;
		span {
			padding: 6px;
		}
		a {
			display: inline-block;
			color: #999;
			border-radius: 50px;
			line-height: 1.73;
			width: 28px;
			height: 28px;
			background-color: transparent;
			transition: 0.3s;
			margin: 0 6px;

			&.is-active,
			&:hover {
				color: #fff;
				background-color: color("brand");
				opacity: 1;
			}
		}
	}
	&__notfound {
		font-size: 32px;
		margin-top: 24px;
	}
}
