.sidebar-sticky {
	position: sticky;
	top: 10px;
}
.c-sidebar {
	margin-top: 24px;
	&__item {
		margin-bottom: 30px;
	}
	&__resources {
		&-more {
			display: block;
			text-align: center;
			a {
				display: inline-block;
				margin-top: 24px;
				text-transform: uppercase;
				font-size: 20px;
				font-family: $primary;
				font-weight: 300;
				transition: 0.3s;
				border-bottom: 2px solid transparent;
				@include mq(tabletWide) {
					font-size: 24px;
				}
				&:hover {
					opacity: 1;
					border-color: color("brand") !important;
				}
			}
		}
	}
}
