.c-single-teaser {
	padding-bottom: 48px;
	&__back {
		margin-bottom: 24px;
	}
	&__intro {
		text-align: center;
		p {
			font-family: $primary;
			font-weight: 300;
			font-style: normal;
			font-size: 20px;
			line-height: 1.3;
			@include mq(tablet) {
				font-size: 24px;
				line-height: 1.5;
			}
		}
	}
	&__teaser {
		margin-bottom: 24px;
	}
	&__stats {
		margin-bottom: 24px;
		p {
			margin-bottom: 6px;
		}
	}
}
