.c-single-post {
	&__backlink {
		text-decoration: underline;
		font-family: $primary;
		text-transform: uppercase;
		color: #000;
		display: inline-block;
		margin: 30px 0;
	}
	&__banner {
		background-color: #ababab;
		border-radius: 8px;
		padding-bottom: 36%;
		background-position: center;
		background-size: cover;
	}
	.large-para {
		margin-bottom: 40px;
	}
	h3 {
		font-size: 24px;
		line-height: 1.5;
		color: color("brand");
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	ul,
	ol {
		list-style-position: outside;
		li {
			left: 1.2em;
			width: 95%;
			position: relative;
			margin-bottom: 5px;
			a {
				&:hover {
					transition: 0.25s;
					color: #ababab;
				}
			}
		}
	}
	table {
		border-radius: 4px;
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
		th {
			border-top: 0;
			border-bottom: 0;
			padding: 16px 20px;
			font-size: 15px;
			text-transform: uppercase;
			color: color("brand");
			font-family: $primary;
			font-weight: 300;
			background-color: #e6e7e8;
		}
		tbody {
			tr:nth-child(1) {
				td {
					background-image: none !important;
				}
			}
		}
		td {
			padding-top: 12px;
			background-image: linear-gradient(
				to right,
				#d6d6d5 33%,
				rgba(255, 255, 255, 0) 0%
			);
			background-position: top;
			background-size: 6px 1px;
			background-repeat: repeat-x;
			border-top: 0;
			border-bottom: 0;
			padding: 12px 20px;
			font-family: $secondary;
			font-size: 16px;
			background-color: white;
		}
	}
	&__related {
		background-color: #e4e4e4;
		padding: 50px 0;
		text-align: center;
		.o-module {
			padding-top: 36px;
			justify-content: center;
		}
		.c-resources-tile {
			text-align: left;
			h3 {
				font-size: 18px;
				line-height: 1.05;
				color: color("content");
				margin-bottom: 10px;
			}
		}
	}
}
