.c-slider {
	position: relative;
	&__pager {
		position: absolute;
		bottom: 18px;
		z-index: 105;
		display: block;
		width: 100%;
		line-height: 0;
		text-align: center;
		span {
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: 0 4px;
			border-radius: 24px;
			text-indent: -99999px;
			cursor: pointer;
			background: color("white");
			opacity: 0.4;
			&.cycle-pager-active {
				background: color("brand");
			}
		}
	}
}

.c-slide {
	width: 100%;
	height: 390px;
	color: #fff;
	background: #000;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	&__content {
		position: absolute;
		top: 45%;
		left: 50%;
		width: 100%;
		max-width: 610px;
		max-height: 490px;
		transform: translate(-50%, -50%);
	}
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	user-select: none;
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	a:focus {
		outline: 0;
	}
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;

	display: block;
}
.slick-track:before,
.slick-track:after {
	display: table;
	content: "";
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 200px;
	&:focus {
		outline: none;
	}
}
[dir="rtl"] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #000;
	// box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
	-webkit-appearance: none;
	cursor: pointer;
	border: 0;
	border-radius: 50px;
	z-index: 10;
	display: inline-block;
	background-color: transparent;
	svg {
		transition: 0.4s;
		border-radius: 50px;
		box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
		width: 40px;
		height: 40px;
		vertical-align: middle;
	}
	&:focus,
	&:hover {
		outline: none;
	}
	&:hover {
		svg {
			border-radius: 50px;
			transform: scale(1.08);
			// box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
		}
		color: rgba(0, 0, 0, 0.6);
	}
	&.next {
		right: -10px;
		@include mq(1400px) {
			right: -40px;
		}
		@include mq(desktop) {
			right: -70px;
		}
	}
	&.prev {
		left: -20px;
		@include mq(1400px) {
			left: -50px;
		}
		@include mq(desktop) {
			left: -80px;
		}
	}
	&.slick-hidden {
		display: none;
	}
}
.slick-wrapper {
	position: relative;
}
.slick-dots {
	position: absolute;
	bottom: 35px;
	left: 50%;
	z-index: 3;
	display: block;
	width: 100%;
	margin: 0;
	list-style: none;
	text-align: left;
	font-size: 0;
	transform: translateX(-50%);

	@extend .o-wrapper;
	li {
		position: relative;
		display: inline-block;
		padding: 0;
		border: 2px solid #fff;
		border-radius: 10px;
		width: 12px;
		height: 12px;
		margin-right: 12px;
		@include mq(tablet) {
			margin-right: 20px;
			width: 15px;
			height: 15px;
		}
		cursor: pointer;
		button {
			cursor: pointer;
			font-size: 0;
			line-height: 0;
			display: block;
			color: transparent;
			outline: none;
			border: 0;
			background: transparent;
		}
		&.slick-active {
			opacity: 1;
			background-color: #fff;
		}
		&:only-child {
			display: none;
		}
	}
}
