.c-internal {
	margin-top: 50px;
	&__content {
		h3 {
			color: color("brand");
			font-size: 24px;
			line-height: 1.04;
			margin-bottom: 20px;
		}
		ul,
		ol {
			list-style-position: outside;
			li {
				left: 1.2em;
				width: 95%;
				position: relative;
				margin-bottom: 5px;
			}
		}
	}
}
