.c-workout {
	h2 {
		margin-bottom: 25px;
	}
	&__features {
		padding: 60px 0 0px;
	}
	&__featured {
		height: 100%;
		width: 100%;
		position: relative;
		display: block;
		border-radius: 8px;
		overflow: hidden;
		&:after {
			content: "";
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.7) 100%
			);
		}
		&:hover {
			opacity: 1;
			.c-workout__featured-img {
				transform: translate(-50%, -50%) scale(1.04);
			}
		}
		&:after,
		&-img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			transform: translate(-50%, -50%);
			background-size: cover;
			background-position: center center;
			transition: 0.4s;
		}
		&-inner {
			padding: 24px;
			position: relative;
			z-index: 1;
			color: color("white");
			display: flex;
			flex-direction: column;
			height: 100%;
			h3 {
				margin-bottom: 10px;
				font-size: 20px;
				@include mq(tablet) {
					font-size: 24px;
					line-height: 1.2;
				}
			}
			p {
				margin-bottom: 0;
			}
		}
		&-icon {
			flex: 1;
			padding-bottom: 40px;
			text-align: center;
			display: block;
			padding-top: 8%;
		}
	}
	&__list {
		padding: 48px 0 48px;
		justify-content: center;
		&.o-module {
			overflow: visible;
		}
	}
	&__loadmore {
		text-align: center;
		margin-bottom: 48px;
	}
}
