.c-about {
	&__top {
		position: relative;
		height: 308px;
		color: color("content");
		background-size: cover;
		background-position: center center;
		h1 {
			@include font-size(72px, 69px);
			color: color("content");
		}

		@include mq($until: tablet) {
			height: 100vh;

			h1 {
				@include font-size(50px, 54px);
				margin-bottom: 43px;
			}
		}

		@include mq($until: tablet) {
			display: none;
		}
		&--mobile {
			display: none;

			@include mq($until: tablet) {
				display: block;
			}
		}
	}

	&__bg {
		background-color: rgba($color: #000000, $alpha: 0.65);
	}

	&__why {
		text-align: center;
		max-width: 746px;
		margin: 85px auto 0;
		h2 {
			@include font-size(72px, 69px);
		}

		p {
			@include font-size(18px, 22px);
			margin-bottom: 0;
		}

		@include mq($until: tablet) {
			margin-top: 44px;

			h2 {
				@include font-size(54px, 50px);
			}

			p {
				@include font-size(12px, 22px);
			}
		}
	}

	&__content {
		height: 100%;
		position: relative;
		padding-top: 71px;
		max-width: 726px;
		text-align: center;
		margin: 0 auto;
		p {
			font-family: $primary;
			text-transform: uppercase;
			@include font-size(26px, 31px);
		}

		@include mq($until: tablet) {
			display: flex;
			padding-top: 0;
			flex-direction: column;
			justify-content: center;
			height: 100%;

			p {
				@include font-size(20px, 22px);
			}
		}
	}

	&__pillar {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 76px;
		// &--0 {
		// 	> :first-child {
		// 		margin-right: 50px;
		// 		margin-left: 20px;
		// 	}
		// }
		// &--1 {
		// 	flex-direction: row-reverse;
		// 	> :first-child {
		// 		margin-left: 30px;
		// 	}
		// }

		// &--2 {
		// 	justify-content: flex-start;
		// 	> :first-child {
		// 		margin-right: 50px;
		// 	}
		// }

		@include mq($until: tablet) {
			flex-direction: column;
			margin-bottom: 50px;

			> :first-child {
				margin-right: 0;
				margin-left: 0;
			}
		}
	}

	&__pillar-content {
		max-width: 502px;
		@include mq($from: tablet) {
			flex: 50%;
			align-self: center;
			padding-right: 48px;
			.c-about__pillar:nth-of-type(odd) & {
				order: 1;
				padding-left: 48px;
			}
		}
		h4 {
			@include font-size(26px, 18px);
			margin-bottom: 5px;
			text-transform: uppercase;
			font-family: $primary;
		}

		p {
			@include font-size(18px, 22px);
		}

		h2 {
			@include font-size(54px);
		}

		svg {
			max-width: 16px;
		}

		a {
			text-transform: uppercase;
			@include font-size(26px, 1);
			font-family: $primary;
			text-decoration: none;
			color: color("black");
			@include underline-dark;
			position: relative;
			padding-right: 24px;
			display: inline-block;

			svg {
				position: absolute;
				right: 0;
				top: 2px;
			}
		}

		@include mq($until: tablet) {
			margin-top: 27px;

			h4 {
				@include font-size(28px, 34px);
			}

			h2 {
				@include font-size(54px, 50px);
			}

			p {
				@include font-size(12px, 22px);
			}

			a {
				padding-right: 18px;
				@include font-size(20px, 22px);
			}

			svg {
				top: 3px;
				max-width: 12px;
			}
		}
	}

	&__pillar-image {
		max-width: 596px;
		width: 100%;
		@include mq($from: tablet) {
			flex: 50%;
			.c-about__pillar:nth-of-type(even) & {
				order: 1;
			}
		}
		img {
			width: 100%;
			height: auto;
		}

		&--0 {
			max-width: 402px;
		}
		&--1 {
			max-width: 596px;
		}
		&--2 {
			max-width: 498px;
		}

		@include mq($until: tablet) {
			max-width: 100%;
			overflow: hidden;

			img {
				height: auto;
				width: 100%;
			}
		}
	}

	&__pillar-container {
		max-width: 1124px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 85px;
		margin-bottom: 140px;

		@include mq($until: tablet) {
			margin-top: 44px;
			margin-bottom: 100px;
		}
	}

	&__contact {
		text-align: center;
		@include font-size(54px, 65px);
		text-transform: uppercase;
		font-family: $primary;
		margin-bottom: 137px;
		transition: 0.24s;
		&:hover {
			color: color("brand");
			span {
				color: color("brand");
				text-decoration: underline;
			}
		}

		a {
			text-decoration: none;
			color: color("black");
		}

		@include mq($until: tablet) {
			margin-bottom: 100px;
			@include font-size(40px, 50px);

			span {
				display: block;
			}
		}
	}
}
