.c-application-form {
	position: relative;
	margin-top: 64px;

	&__upload {
		position: relative;
		margin-left: 12px;
		max-width: 270px;
		margin-bottom: 12px;

		@include mq($until: tabletWide) {
			max-width: 100%;
		}
	}

	p {
		margin-bottom: 12px;
		@include font-size(14px, 18px);
	}

	textarea {
		height: 125px;
	}

	&__upload-text {
		line-height: 18px;
		text-align: left;
		opacity: 0.5;
	}

	&__submit-inner {
		width: auto;
		position: relative;
		display: inline-block;
	}

	&__submit {
		text-align: left;
		margin-top: 13px;
		margin-left: 12px;

		input {
			font-family: $copy;
			border: 2px solid color("black");
			padding: 14px 27px;
			transition: 0.25s;
			background-color: color("black");
			color: #fff;
			text-decoration: none;
			display: inline-block;
			text-transform: uppercase;
			@include font-size(14px, 18px);

			&:hover {
				background: color("content");
				color: color("black");
				cursor: pointer;
			}
		}
	}
}
