.c-bar {
	&__top {
		margin-top: 85px;
		max-width: 614px;
		margin-bottom: 48px;
		h1 {
			margin-bottom: 0;
			@include mq($until: tablet) {
				line-height: 70px;
			}
		}

		p {
			@include font-size(18px, 22px);
			margin-bottom: 0;
		}
		h3 {
			margin-bottom: 19px;
		}
	}

	&__menu {
		position: relative;
		padding-top: 73px;
		padding-bottom: 48px;
		background-color: color("brand");
		h2 {
			@include font-size(54px, 65px);
			color: color("content");
			margin-bottom: 24px;
			transform: translateY(-24px);
		}
		h4 {
			color: color("content");
			margin-bottom: 26px;
		}
		@include mq($until: tablet) {
			h2,
			h4 {
				margin: 0;
			}
		}
	}

	&__menu-item {
		display: inline-block;
		margin-bottom: 8px;
		text-align: center;
		@include mq($until: tablet) {
			@include font-size(18px, 20px);
			text-align: left;
		}
	}
	&__menu-item-price {
		text-align: center;
		display: block;
		@include mq($until: tablet) {
			@include font-size(18px, 20px);
			text-align: right;
		}
	}

	&__menu-side {
		text-transform: uppercase;
		font-family: $primary;
		color: color("content");
		text-transform: uppercase;
		// text-align: center;
		@include font-size(26px, 31px);

		h4 {
			@include font-size(26px, 31px);
			@include mq($until: tablet) {
				@include font-size(18px, 20px);
				margin-left: 6px;
				text-align: right;
			}
		}
		// display: grid;
		// grid-template-columns: auto 1fr 1fr 1fr;
	}

	&__lower-link {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		@include underline-dark;
		@include font-size(23px, 33px);
		font-family: $primary;
		color: color("black");

		svg {
			color: color("black");
			height: 16px;
			width: 16px;
			margin-bottom: 4px;
			margin-left: 12px;
		}
	}

	&__lower-link-wrap {
		margin-bottom: 78px;
		text-align: right;
		@include mq($until: tablet) {
			margin-bottom: 50px;
		}
	}

	&__menu-image {
		position: absolute;
		top: 0;
		height: 100%;
		width: 33%;
		right: 0;
		background-size: cover;
		background-position: center center;
		@include mq($until: tablet) {
			display: none;
		}
	}

	&__lower-content {
		max-width: 734px;
		margin-top: 75px;
		margin-bottom: 57px;

		h2 {
			margin-bottom: 0;
			@include font-size(54px, 65px);
		}
	}

	&__menu-link {
		padding-top: 32px;
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		@include underline;
		@include font-size(26px, 31px);
		font-family: $primary;
		color: color("content");

		svg {
			color: color("content");
			height: 24px;
			width: 24px;
			margin-bottom: 4px;
			margin-left: 12px;
		}
	}

	&__link-wrap {
		padding-top: 31px;
	}
}
