.c-community {
	text-align: center;

	&__top-content {
		margin-top: 85px;
		margin-bottom: 79px;

		p {
			margin: 0 auto;
			max-width: 734px;
			@include font-size(18px, 22px);
		}

		h3 {
			max-width: 641px;
			margin: 0 auto;
		}
	}

	h1 {
		@include font-size(72px, 86px);
		@include mq($until: tablet) {
			@include font-size(52px, 1.2);
		}
	}

	h4 {
		@include font-size(26px, 22px);
		font-family: $primary;
		text-transform: uppercase;
	}

	&__signup-inner {
		h2 {
			color: color("content");
		}
	}

	&__signup {
		color: color("content");
		text-align: center;
		background-color: color("brand");
		margin-bottom: 113px;
		padding-top: 49px;
		padding-bottom: 33px;

		h3 {
			max-width: 634px;
			margin: 0 auto;
			color: color("content");
			margin-bottom: 25px;
		}

		.wpcf7-validation-errors {
			color: color("red");
		}
	}

	&__email {
		display: inline-block;
		max-width: 524px;
		margin-bottom: 28px;
		input[type="email"] {
			&::placeholder {
				color: color("content");
			}
			border-color: color("content");
		}
	}

	&__submit {
		display: inline-block;
		input {
			font-family: $copy;
			border: 2px solid color("content");
			padding: 11px 16px;
			transition: 0.25s;
			background-color: color("content");
			color: color("brand");
			text-decoration: none;
			display: inline-block;
			text-transform: uppercase;
			@include font-size(14px, 18px);

			&:hover {
				background: color("brand");
				border: 2px solid color("content");
				color: color("content");
				cursor: pointer;
			}
		}
	}

	&__instagram-content {
		max-width: 734px;
		margin: 0 auto;
		@include font-size(18px, 22px);
	}

	&__instagram {
		h3 {
			@include font-size(26px, 38px);
		}

		h2 {
			@include font-size(36px);
			margin-bottom: 12px;
		}

		a {
			text-decoration: none;
			@include underline-dark;
			color: color("black");
		}
	}

	&__disclaimer {
		margin: 0 auto;
		@include font-size(12px, 15px);
		text-align: left;
		max-width: 634px;
		opacity: 0.75;
		margin-bottom: 84px;
		text-align: center;

		@include mq($until: tablet) {
			margin-top: 14px;
		}
	}

	&__instagram-wrap {
		max-width: 832px;
		margin: 0 auto;
		padding-bottom: 130px;
		.wdi_feed_thumbnail_1 .wdi_feed_container,
		.wdi_feed_thumbnail_1 .wdi_photo_wrap_inner,
		.wdi_feed_thumbnail_1 .wdi_feed_thumbnail_1 .wdi_photo_wrap_inner,
		.wdi_feed_wrapper {
			border-width: 7px;
			border-color: color("content") !important;
			background-color: color("content") !important;
		}
		@include mq($until: tablet) {
			#sb_instagram .sbi_type_carousel .sbi_playbtn,
			#sb_instagram .sbi_type_carousel .svg-inline--fa.fa-play,
			#sb_instagram .sbi_type_video .sbi_playbtn,
			#sb_instagram .sbi_type_video .svg-inline--fa.fa-play,
			.sbi_type_carousel .fa-clone,
			.sbi_type_video .svg-inline--fa.fa-play,
			.sbi_playbtn {
				display: none !important;
			}
			#sbi_images {
				.sbi_item {
					width: 33.333% !important ;
				}
			}
		}
	}
}
