.c-contact {
	&__top {
		position: relative;
		height: 575px;
	}

	&__overlay {
		pointer-events: none;
	}

	&__top-content {
		pointer-events: all;
		position: absolute;
		left: 0;
		bottom: 85px;
		z-index: 2;

		@include mq($until: tablet) {
			bottom: 24px;
		}

		h1 {
			color: color("white");
			margin-bottom: 0;
		}

		p {
			@include font-size(18px, 22px);
			max-width: 502px;
			color: color("content");
		}
	}

	&__map {
		height: 575px;
	}

	&__grad {
		pointer-events: none;
		background: linear-gradient(
			46deg,
			rgba(0, 0, 0, 1) 0%,
			rgba(0, 0, 0, 0) 60%
		);
	}

	&__details {
		a {
			text-decoration: none;
			color: color("white");
			font-family: $primary;
			@include font-size(23px, 33px);
			text-transform: uppercase;
			display: block;
		}
	}

	&__body {
		margin-top: 60px;
		margin-bottom: 215px;
		text-align: center;
		max-width: 725px;
		margin-left: auto;
		margin-right: auto;

		@include mq($until: tablet) {
			padding-left: 24px;
			padding-right: 24px;
			margin-bottom: 96px;
		}

		p {
			@include font-size(18px, 22px);
			max-width: 670px;
			margin: 0 auto;
		}

		a {
			color: color("black");
		}
	}

	&__form-top {
		margin-bottom: 12px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		span {
			align-self: flex-end;
		}
	}
	.contacttype {
		position: relative;

		&::after {
			content: " ";
			background-image: url("/wp-content/themes/SmallTimeGroup/assets/img/inline/droparrow.svg");
			width: 12px;
			height: 11px;
			position: absolute;
			top: 18px;
			right: 13px;
			z-index: 2;
		}
	}

	textarea {
		height: 200px;
	}

	input[type="submit"] {
		font-family: $copy;
		border: 2px solid color("black");
		padding: 14px 27px;
		transition: 0.25s;
		background-color: color("black");
		color: #fff;
		text-decoration: none;
		display: inline-block;
		text-transform: uppercase;
		@include font-size(14px, 18px);

		&:hover {
			background: color("content");
			color: color("black");
		}
	}

	&__form {
		padding-top: 50px;
	}

	&__drop-down {
		max-width: 206px;
		color: color("grey");
	}

	&__submit-wrap {
		float: left;
	}

	.wpcf7-validation-errors {
		color: color("red");
		padding-top: 14px;
		@include font-size(14px, 18px);
		text-align: right;
		text-transform: uppercase;
	}
}
