.c-events {
	&__top {
		padding-top: 70px;
		padding-bottom: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq($until: tablet) {
			padding-top: 50px;
			flex-direction: column;
		}
	}

	&__title {
		margin-bottom: 0;
		@include font-size(72px, 106px);

		@include mq($until: tablet) {
			line-height: 78px;
			margin-bottom: 12px;
		}
	}

	&__link-wrap {
		text-align: right;
		margin-bottom: 72px;
	}

	&__more-link {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		@include underline-dark;
		@include font-size(23px, 33px);
		font-family: $primary;
		color: color("black");

		svg {
			color: color("black");
			height: 16px;
			width: 16px;
			margin-bottom: 4px;
			margin-left: 12px;
		}
	}
}
