.c-events-panel {
	margin-bottom: 20px;
	padding-top: 8px;
	.black {
		background-color: color("black");
	}
	.teal {
		background-color: color("brand");
		border: 16px solid color("white");
		a,
		h3 {
			color: color("white");
		}
		&:hover {
			border: 16px solid color("brand");
			background-color: color("white");
			a,
			h3 {
				color: color("brand");
			}
		}
	}
	.white {
		background-color: color("white");
		border: 16px solid color("brand");
		a,
		h3 {
			color: color("brand");
		}
		&:hover {
			border: 16px solid color("white");
			background-color: color("brand");
			a,
			h3 {
				color: color("white");
			}
		}
	}
	&__single {
		width: 100%;
		position: relative;
		text-align: left;
		background-color: color("black");
		padding: 16px 18px;
		transition: 0.3s ease;

		a {
			text-decoration: none;
			color: color("content");
		}

		h3 {
			color: color("content");
			margin-bottom: 14px;
			@include font-size(18px, 26px);
		}

		p {
			@include font-size(14px, 19px);
		}

		&:hover {
			background-color: color("brand");
		}
	}

	&__blurb {
		margin-bottom: 32px;
	}

	&__date {
		display: inline-block;
		@include font-size(15px, 19px);
	}

	&__image {
		background-size: cover;
		background-position: center center;
		height: 189px;
		margin-bottom: 25px;
	}

	&__link {
		position: absolute;
		left: 18px;
		bottom: 14px;
		display: inline-block;
		margin-top: 16px;
		font-family: $primary;
		text-transform: uppercase;
		text-decoration: underline;
		@include font-size(16px, 23px);
	}
}
