.c-feature-slider {
	&__slide {
		position: relative;
		height: 650px;

		// Hide the awkward load
		visibility: hidden;
		&:first-of-type {
			visibility: visible;
		}
	}

	&__content {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		max-width: 430px;
		padding-left: 33px;
		padding-right: 39px;
		padding-top: 37px;
		background-color: color("black");
		color: color("content");
		text-align: left;

		h3 {
			color: color("content");
		}

		@include mq($until: tablet) {
			max-width: 100%;
			width: 100%;
			height: 50%;
			top: initial;
			bottom: 0;
		}

		@include mq($until: tablet) {
			.hide-mob {
				display: none;
			}
		}
	}

	&__link {
		margin-top: 64px;
		color: color("content");
		@include font-size(24px, 29px);
		font-family: $primary;
		text-decoration: none;
		display: inline-block;
		@include underline;

		svg {
			color: color("content");
			height: 16px;
			width: 16px;
		}
		@include mq($until: tablet) {
			margin-top: 14px;
		}
	}

	&__header {
		font-weight: normal;
		font-family: $primary;
		color: color("content");
		@include font-size(52px, 60px);

		@include mq($until: tablet) {
			@include font-size(32px, 1.2);
		}
	}

	&__image {
		margin-left: 310px;
		display: inline-block;
		width: calc(100% - 310px);
		height: 100%;
		background-position: center center;
		background-size: cover;

		@include mq($until: tablet) {
			width: 100%;
			margin-left: 0;
			height: calc(100% - 300px);
		}
	}
}
