.c-filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 250px;
	width: 100%;

	&--tv {
		max-width: 192px;
	}

	&--flex-end {
		justify-content: flex-end;
	}

	&__single {
		cursor: pointer;
		@include underline-thin-dark;
		opacity: 0.6;
		transition: 0.25s;
		&.selected {
			opacity: 1;
			border-bottom: 1px solid color("black");
		}
	}
}
