.c-footer {
	flex-shrink: 0;
	background-color: color("black");
	color: color("content");
	padding-top: 40px;
	padding-bottom: 30px;

	@include mq($until: tablet) {
		padding-top: 48px;
		padding-bottom: 24px;
	}

	&__nav {
		@include mq($until: tablet) {
			display: none;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;

		@include mq($until: tablet) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq($until: tablet) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__contact {
		a {
			text-decoration: none;
			color: color("content");
			font-family: $primary;
			@include font-size(23px, 33px);
			text-transform: uppercase;
			display: block;
		}

		@include mq($until: tablet) {
			margin-bottom: 15px;
			a {
				@include font-size(20px, 22px);
			}
		}
	}

	&__logo {
		svg {
			width: 112px;
		}

		@include mq($until: tablet) {
			svg {
				width: 100px;
			}
			margin-bottom: 22px;
		}
	}

	&__copyright {
		align-self: flex-end;

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__hours {
		text-decoration: none;
		color: color("content");
		font-family: $primary;
		@include font-size(23px, 33px);
		text-transform: uppercase;
		display: block;
		p {
			margin-bottom: 0;
		}

		@include mq($until: tablet) {
			margin-bottom: 35px;
			@include font-size(20px, 22px);
		}
	}

	&__nav-wrap {
		display: none;
		list-style: none;
		margin: 0;
		li {
			margin-bottom: -3px;
		}
		a {
			text-decoration: none;
			@include font-size(14px, 22px);
			color: color("content");
		}
	}

	&__copy {
		display: flex;
		justify-content: space-between;
	}

	&__terms {
		text-align: right;
		@include font-size(14px, 18px);
		p {
			margin: 0;
		}
		a {
			text-decoration: none;
			@include underline-thin;
			color: color("content");
		}

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__mobile-terms {
		display: none;
		a {
			color: color("content");
			text-decoration: none;
		}

		p {
			margin-bottom: 0;
			margin-top: 24px;
		}

		span {
			display: inline-block;
			margin-top: 2px;
		}

		@include mq($until: tablet) {
			display: block;
		}
	}

	&__socials {
		flex: 1;
		max-width: 140px;
		margin-bottom: 6px;

		@include mq($until: tablet) {
			max-width: 288px;
			margin: 0 auto 35px;
		}

		.c-socials {
			max-width: 100px;
		}

		.c-socials--all {
			max-width: 100%;
		}

		@include mq($until: tablet) {
			.c-socials {
				max-width: 100%;
			}
		}
	}

	&__copy-links {
		color: color("dark-grey");
		text-decoration: none;
		transition: 0.3s;
		@include font-size(14px);
		&:hover {
			color: color("white");
		}
	}
}
