.c-header {
	background-color: color("black");
	padding: 24px 0;

	@include mq($until: tabletWide) {
		padding: 8px 0;
	}

	&__inner-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__hamburger {
		position: relative;
		width: 34px;
		margin-left: 26px;
		text-decoration: none;
		justify-self: flex-end;

		@include mq($from: tabletWide) {
			display: none;
		}
	}

	&__left {
		display: flex;
		align-items: center;
		flex: 1;
	}

	&__right {
		max-width: 206px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		@include mq($until: 1200px) {
			width: auto;
		}
	}

	&__socials {
		@include mq($until: 1200px) {
			display: none;
		}
		flex: 1;
		max-width: 140px;

		.c-socials {
			justify-content: space-evenly;
		}

		.c-socials--all {
			justify-content: space-between;
		}
	}

	&__nav {
		max-width: 1100px;
		width: 100%;
	}

	&__logo {
		display: inline-block;
		width: 31px;
		height: 34px;
		margin-right: 18px;
		transition: 0.25s;
		animation-fill-mode: forwards;
		svg {
			color: color("content");
		}

		&:hover {
			transform: scale(1.1);
		}

		@include mq($until: tabletWide) {
			svg {
				margin-top: 2px;
			}
		}
	}

	&__search {
		cursor: pointer;
		svg {
			color: color("content");
			width: 14px;
			transition: 0.25s;
			&:hover {
				transform: scale(1.1);
			}
		}

		@include mq($until: tabletWide) {
			svg {
				margin-top: 3px;
				width: 18px;
			}
		}
	}
}
