.c-home {
	position: relative;
	text-align: center;
	text-align: left;

	&__title {
		margin-top: 36px;
		margin-bottom: 36px;

		@include mq($until: tablet) {
			margin-bottom: 18px;
		}
	}

	&__tv {
		margin-top: 39px;
		margin-bottom: 68px;
	}

	&__events-link-wrap,
	&__tv-link-wrap {
		text-align: right;
	}

	&__events-link,
	&__tv-link {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		@include underline-dark;
		@include font-size(23px, 33px);
		font-family: $primary;
		color: color("black");
		svg {
			color: color("black");
			height: 16px;
			width: 16px;
			margin-bottom: 4px;
			margin-left: 12px;
		}
	}

	&__event-link {
		justify-content: flex-end;
	}

	&__about {
		position: relative;
		background-color: color("brand");
		margin-top: 45px;
	}

	&__about-content {
		min-height: 500px;
		max-width: 545px;
		padding-top: 80px;
		padding-bottom: 84px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h2,
		h3,
		p {
			color: color("content");
		}

		@include mq($until: tablet) {
			padding-top: 340px;
			padding-bottom: 50px;

			h2 {
				@include font-size(32px, 1.4);
			}
		}

		@include mq($from: tablet, $until: tabletWide) {
			max-width: 395px;
			h2 {
				@include font-size(32px, 1.4);
			}
		}

		@include mq($from: tabletWide, $until: 1155px) {
			max-width: 485px;
		}
	}

	&__events {
		margin-top: 40px;
		h2 {
			margin-bottom: 20px;
		}
	}

	&__about-link {
		text-decoration: none;
		color: color("content");
		font-family: $primary;
		display: inline-flex;
		width: fit-content;
		align-items: center;
		@include font-size(23px, 33px);
		@include underline;

		svg {
			color: color("content");
			height: 16px;
			width: 16px;
			margin-bottom: 4px;
			margin-left: 12px;
		}
	}

	&__about-image {
		position: absolute;
		height: 100%;
		width: 50%;
		right: 0;
		top: 0;
		background-size: cover;
		background-position: center center;
		@include mq($until: tablet) {
			height: 300px;
			width: 100%;
		}
	}
}
