.c-image-gallery {
	&--all {
		margin: 24px 0;
	}

	// Single Landscape Image
	&--landscape {
	}

	// 2 Images in a Row
	&--2images {
		&_left {
		}
		&_right {
		}
	}

	// 3 Images in a Row
	&--3images {
		&_first {
		}
		&_second {
		}
		&_third {
		}
	}

	// 1 Image on Left & 2 Images on Right
	&--1left-2right {
		&_left {
		}
		&_right {
			img {
				width: 100px;
				&:first-of-type {
					margin-bottom: 24px;
				}
			}
		}
	}

	// 2 Images on Left & 1 Image on Right
	&--2left-1right {
		&_left {
			img {
				width: 100px;
				&:first-of-type {
					margin-bottom: 24px;
				}
			}
		}
		&_right {
		}
	}
}
