.c-internal-event {
	position: relative;
	margin-bottom: 100px;

	&__inner-wrap {
		margin-top: 145px;
		display: flex;
		justify-content: space-between;

		@include mq($until: tablet) {
			display: block;
		}
	}
	&__content {
		max-width: 384px;
		margin-right: 54px;
		flex-shrink: 0;

		h1 {
			margin-top: 50px;
			margin-bottom: 0;
			margin-bottom: -15px;
		}

		@include mq($until: tablet) {
			margin-right: 0;
			margin-bottom: 24px;
			max-width: 100%;
		}
	}

	&__breadcrumbs {
		position: absolute;
		top: -40px;
		left: 0;
	}

	&__date {
		display: inline-block;
		margin-bottom: 20px;
		font-family: $primary;
		@include font-size(24px, 35px);
		text-transform: uppercase;
	}

	&__play {
		position: absolute;
		top: 16px;
		right: 16px;
		width: 40px;
		color: color("content");
	}

	&__image {
		background-position: center center;
		background-size: cover;
		height: 615px;
		width: 100%;

		@include mq($until: tablet) {
			height: 300px;
		}
	}

	&__artist-links {
		a {
			color: color("black");
		}
	}

	&__tickets {
		margin-top: 50px;
	}
}
