.c-mobile-nav {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 3;
	text-align: center;
	background-color: color("content");

	&__outer {
		height: 100%;
	}

	&__inner {
		display: flex;
		height: 100vh;
		justify-content: center;
		flex-direction: column;
	}

	ul {
		height: 100%;
		margin-bottom: 0;
		list-style: none;
	}

	li {
		margin-bottom: 12px;
	}

	a {
		font-family: $primary;
		@include font-size(28px, 41px);
		text-transform: uppercase;
		color: color("black");
		text-decoration: none;
	}

	&__close {
		position: absolute;
		top: 38px;
		right: 48px;
		cursor: pointer;
	}
}
