.c-skip {
	position: absolute;
	top: -10px;
	z-index: -999;
	width: 1px;
	height: 1px;
	overflow: hidden;
	@include attention() {
		top: $spacing-unit--small;
		left: 50%;
		z-index: 999;
		display: inline-block;
		width: auto;
		height: auto;
		transform: translateX(-50%);
	}
}

.c-site-nav {
}

.c-nav {
	margin-left: 24px;
	@include mq($until: tabletWide) {
		display: none;
	}

	&__inner {
		display: flex;
		list-style: none;
		margin: 0;
		align-items: center;
		justify-content: space-between;
	}

	a {
		text-decoration: none;
		color: color("content");
	}

	li {
		display: inline-block;
		text-transform: uppercase;
		font-family: $primary;
		padding-top: 4px;
		margin-right: 8px;
		border-top: 3px solid transparent;
		@include underline;
		line-height: 1;
		@include font-size(16px, 29px);
		@include mq(laptop) {
			@include font-size(20px, 29px);
		}
		&.current-menu-item {
			border-bottom: 3px solid color("content");
		}
		&.alt-color {
			border: 1px solid #fff;
			padding: 6px 12px 2px;
		}
	}
}

.c-page-nav {
	margin-top: 36px;
	padding-top: 12px;
	border-top: 1px solid color("brand");
	text-align: center;
	.page-numbers {
		display: inline-block;
		padding: 4px 6px;
		color: color("content");
		text-decoration: none;
		&:hover,
		&.current {
			color: shade(color("brand"), 30%);
		}
	}
}
