.c-page-panel {
	&__image {
		height: 328px;
		background-size: cover;
		background-position: center center;
	}

	&__single {
		a {
			text-decoration: none;
		}
	}

	&__title {
		padding-top: 15px;
		padding-bottom: 11px;
		padding-left: 17px;
		padding-right: 17px;
		background-color: color("black");
		@include font-size(23px, 33px);
		font-family: $primary;
		color: #fff;
		text-transform: uppercase;
	}
}
