.c-program {
	&__top {
		position: relative;
		padding-top: 85px;
		padding-bottom: 80px;
		background-color: color("brand");
		color: color("content");

		h1 {
			max-width: 681px;
			color: color("content");
			@include font-size(72px, 68px);
			margin-bottom: 20px;
		}

		h4 {
			font-weight: 400;
			max-width: 735px;
			color: color("content");
			font-family: $primary;
			text-transform: uppercase;
			margin-bottom: 6px;
			@include font-size(26px, 38px);
		}

		p {
			max-width: 727px;
			@include font-size(18px, 22px);
		}

		@include mq($until: tabletWide) {
			text-align: center;
			padding-bottom: 85px;

			h1 {
				@include font-size(54px, 50px);
			}

			h4 {
				@include font-size(20px, 22px);
			}

			p {
				@include font-size(12px, 22px);
				margin-bottom: 53px;
			}
		}
	}

	&__top-portrait,
	&__top-landscape,
	&__middle-portrait,
	&__middle-landscape,
	&__faq-image,
	&__below-image {
		background-size: cover;
		background-position: center center;
		width: 100%;
		img {
			object-fit: cover;
			min-width: 100%;
			min-height: 100%;
		}
	}

	&__top-inner {
		margin-right: 350px;

		@include mq($until: tabletWide) {
			margin-right: 0;
		}
	}

	&__top-portrait {
		position: absolute;
		right: 0;
		top: -24px;
		max-width: 278px;
		height: 256px;
		@include mq($until: tabletWide) {
			display: none;
		}

		&--mobile {
			top: 30px;
			left: 33px;
			max-width: 202px;
			height: 171px;

			display: none;
			@include mq($until: tabletWide) {
				display: block;
			}

			@include mq($from: mobile, $until: tabletWide) {
				left: 30%;
			}
		}
	}

	&__top-landscape {
		width: 100%;
		height: 212px;
		position: absolute;
		right: 25px;
		bottom: 0;
		max-width: 314px;

		@include mq($until: tabletWide) {
			display: none;
		}

		&--mobile {
			display: none;
			top: 227px;
			right: 33px;
			max-width: 224px;
			height: 171px;

			@include mq($until: tabletWide) {
				display: block;
			}

			@include mq($from: mobile, $until: tabletWide) {
				right: 30%;
			}
		}
	}

	&__middle-portrait {
		position: absolute;
		right: 0;
		top: 74px;
		max-width: 355px;
		height: 491px;

		@include mq($until: tabletWide) {
			display: none;
		}
	}

	&__middle-landscape {
		position: absolute;
		right: 98px;
		top: 550px;
		max-width: 405px;
		height: 256px;

		@include mq($until: tabletWide) {
			display: none;
		}
	}

	&__middle {
		position: relative;
	}

	&__link {
		text-decoration: none;
		color: color("content");
		font-family: $primary;
		text-transform: uppercase;
		@include underline;
		@include font-size(26px, 31px);
		display: inline-block;
		margin-top: 24px;
		svg {
			margin-left: 30px;
			height: 24px;
			width: 24px;
		}
	}

	&__email {
		display: inline-block;
		max-width: 335px;

		@include mq($until: tablet) {
			margin-bottom: 14px;

			input[type="email"] {
				text-align: center;
			}
		}

		input[type="email"] {
			height: 50px;
			color: color("content");
			&::placeholder {
				@include font-size(14px, 18px);
				opacity: 0.5;
				color: color("content");
			}

			border-color: color("content");
		}
	}

	&__submit {
		display: inline-block;

		input {
			font-family: $copy;
			border: 2px solid color("content");
			padding: 14px 23px;
			transition: 0.25s;
			background-color: color("content");
			color: color("brand");
			text-decoration: none;
			display: inline-block;
			text-transform: uppercase;
			@include font-size(14px, 18px);

			&:hover {
				background: color("brand");
				border: 2px solid color("content");
				color: color("content");
				cursor: pointer;
			}
		}
	}

	&__faq-image {
		@include mq($until: tabletWide) {
			height: 245px;
		}
	}

	&__faq-content {
		max-width: 554px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include mq($until: tabletWide) {
			max-width: 100%;
			margin-top: 16px;
			h3 {
				display: none;
			}
		}
	}

	&__faq-question {
		h5 {
			@include font-size(18px, 18px);
			margin-bottom: 6px;
		}

		p {
			@include font-size(14px, 18px);
		}
	}

	&__application {
		text-align: center;
		padding-top: 36px;

		@include mq($until: tabletWide) {
			padding-top: 50px;
		}
	}

	&__application-content {
		max-width: 592px;
		margin: 0 auto;

		h2 {
			@include font-size(54px, 59px);
			margin-bottom: 50px;
		}

		h3 {
			@include font-size(26px, 38px);
			margin-bottom: 46px;
		}

		@include mq($until: tabletWide) {
			h2 {
				@include font-size(42px, 1);
			}

			h3 {
				@include font-size(23px, 1);
			}
		}
	}

	&__faq {
		background-color: color("brand");
		color: color("content");
		padding: 50px 0;

		h3 {
			@include font-size(36px, 43px);
		}

		h3,
		h5 {
			color: color("content");
		}

		@include mq($until: tabletWide) {
			padding-bottom: 0;
			h5 {
				line-height: 22px;
			}
		}
	}

	&__pillar {
		margin-bottom: 45px;

		h3 {
			@include font-size(26px, 31px);
			margin-bottom: 8px;
		}

		p {
			@include font-size(14px, 18px);
		}
	}

	&__below-pillars {
		display: flex;
		margin-bottom: 126px;
		position: relative;

		@include mq($until: tabletWide) {
			flex-direction: column;
			margin-bottom: 36px;
		}
	}

	&__below-pillars-image {
		max-width: 512px;
		margin-right: 76px;
		width: 100%;

		@include mq($until: tabletWide) {
			max-width: 100%;
		}
	}

	&__below-image {
		max-width: 511px;
		height: 332px;
		margin-right: 75px;

		@include mq($until: tabletWide) {
			max-width: 100%;
			height: auto;
			margin-right: 0;
		}
	}

	&__application-form-wrap {
		max-width: 725px;
		margin: 0 auto;
		margin-bottom: 138px;
		position: relative;

		.wpcf7-validation-errors {
			position: absolute;
			right: 0;
			text-align: right;
			max-width: calc(50% - 12px);
			bottom: 0px;
			text-transform: uppercase;
			color: color("red");
		}
	}

	&__signup {
		position: relative;
	}

	&__below-pillars-content {
		max-width: 550px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		h2 {
			@include font-size(36px, 43px);
		}
		p {
			@include font-size(14px, 18px);
		}

		@include mq($until: tabletWide) {
			margin-top: 40px;
			max-width: 100%;
		}
	}

	&__pillars-wrap {
		padding-top: 126px;
		max-width: 581px;
		margin-bottom: 120px;
		h2 {
			@include font-size(36px, 41px);
			margin-bottom: 45px;
		}

		@include mq($from: tabletExtra, $until: laptop) {
			max-width: 422px;
		}
		@include mq($from: tabletWide, $until: tabletExtra) {
			max-width: 302px;
		}

		@include mq($until: tabletWide) {
			padding-top: 448px;
			margin-bottom: 0;
			max-width: 100%;
		}
	}
}
