.c-search {
	padding-top: 44px;
	h1 {
		margin-bottom: 22px;
	}

	h4 {
		font-weight: 400;
		@include font-size(26px, 38px);
		font-family: $primary;
		text-transform: uppercase;
		margin-bottom: 8px;
	}
	&__section {
		&--events {
			margin-bottom: 102px;
		}

		&--tv {
			margin-bottom: 32px;
		}

		&--pages {
			margin-bottom: 76px;
		}
	}
}
