.c-search-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: color("content");
	z-index: 10;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	&__close {
		position: absolute;
		top: 38px;
		right: 48px;
		cursor: pointer;
		width: 34px;

		@include mq($until: tablet) {
			top: 16px;
			right: 30px;
		}
	}

	form {
		width: 100%;
	}

	#search {
		border: 0;
		text-align: center;

		&.placeholder-light {
			&::placeholder {
				color: rgba($color: #000000, $alpha: 0.5);
			}
		}

		@include mq($from: 1360px) {
			font-size: 150px;
		}
		@include mq($from: 1200px, $until: 1360px) {
			font-size: 130px;
		}
		@include mq($from: 1000px, $until: 1200px) {
			font-size: 100px;
		}
		@include mq($from: 780px, $until: 1000px) {
			font-size: 100px;
		}
		@include mq($from: 550px, $until: 780px) {
			font-size: 50px;
		}
		font-size: 150px;
		font-family: $primary;
		color: color("black");

		&::placeholder {
			color: color("black");
		}

		@include mq($until: tablet) {
			font-size: 36px;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__prompt-submit {
		-webkit-appearance: none;
		-moz-appearance: none;
		background-color: color("content");
		box-shadow: 0;
		border-left: 0;
		border-top: 0;
		border-right: 0;
		padding: 0;
		border-bottom: 1px solid color("black");
		input {
			font-size: 14px;
			font-family: $copy;
		}
		cursor: pointer;
	}

	&__prompt {
		opacity: 0.5;
	}
}
