.c-slider {
	&__slide {
		position: relative;
	}

	&__content-inner {
		height: 600px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		max-width: 584px;
	}

	&__content {
		position: relative;
		color: color("content");
		z-index: 3;
		height: 100%;
	}

	&__header {
		color: color("content");
		margin-bottom: 16px;
		margin-bottom: 0;
		@include font-size(54px, 65px);
	}

	&__bg {
		z-index: 2;
		background: transparent
			linear-gradient(
				91deg,
				#000000 0%,
				#000000fd 0%,
				#000000f4 43%,
				#0000002e 100%
			)
			0% 0% no-repeat padding-box;
		opacity: 0.45;
	}

	&__image {
		z-index: 1;
		background-size: cover;
		background-position: center center;
	}
}
