.c-socials {
	display: flex;
	align-items: center;
	justify-content: space-between;

	transition: 0.25s;
	a {
		transition: 0.25s;
		&:hover {
			transform: scale(1.1);
		}
	}
	svg {
		height: 18px;
		width: 18px;
		color: color("content");
	}

	@include mq($until: tablet) {
		svg {
			width: 26px;
			height: 26px;
		}
	}
}
