.c-toggle-menu {
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 100%;
	height: 2px;
	max-width: 36px;
	background: color("content");
	border-radius: 1px;
	transform: translateY(-50%);

	&::before,
	&::after {
		content: " ";
		display: block;
		width: 100%;
		height: 2px;
		background: color("content");
		position: absolute;
		left: 0;
		transition: top 0.2s 0.2s, transform 0.2s;
	}

	&::before {
		top: -8px;
	}

	&::after {
		top: 8px;
	}

	.is-open & {
		background: transparent;
		z-index: 600;

		&::before,
		&::after {
			background: color("black");
			top: 0;
			transform: rotate(45deg);
			transition: top 0.2s, transform 0.2s 0.2s;
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
}
