.c-tv-panel {
	&__single {
		text-align: left;

		a {
			text-decoration: none;
			color: color("black");
		}

		h3 {
			margin-bottom: 14px;
		}

		p {
			@include font-size(14px, 19px);
		}
	}

	&__date {
		margin-bottom: 6px;
		display: inline-block;
		@include font-size(15px, 19px);
	}

	&__image-overlay {
		background-color: rgba($color: #000000, $alpha: 0.4);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
	}

	&__category,
	&__title {
		font-family: $primary;
		text-transform: uppercase;
		color: color("content");
		margin-left: 12px;
	}

	&__category {
		@include font-size(23px, 33px);
	}

	&__title {
		@include font-size(48px, 50px);
		@include mq($until: tabletWide) {
			@include font-size(44px, 46px);
		}
	}

	&__image {
		position: relative;
		background-size: cover;
		background-position: center center;
		height: 257px;
		margin-bottom: 22px;
	}

	&__link {
		font-family: $primary;
		text-transform: uppercase;
		text-decoration: underline;
		@include font-size(16px, 23px);
	}

	&__icon {
		position: absolute;
		top: 12px;
		right: 12px;
		svg {
			color: color("content");
			width: 32px;
		}

		&--podcast {
			svg {
				width: 18px;
			}
		}
	}
	.facebook {
		svg {
			color: color("content");
			width: 14px;
		}
	}
}
