.c-tv {
	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		background-size: cover;
		background-position: center center;
		position: relative;
		height: 690px;
		transition: 200;
		overflow: hidden;

		&.static {
			&::after {
				opacity: 0;
			}

			h1,
			h2,
			svg {
				opacity: 0;
			}
		}

		&::after {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color: #000000, $alpha: 0.5);
		}

		h1 {
			@include font-size(80px, 96px);

			@include mq($until: tabletWide) {
				@include font-size(54px, 64px);
			}
		}

		h1,
		h3 {
			position: relative;
			z-index: 2;
		}

		h3 {
			color: color("content");
			@include font-size(40px, 60px);
		}

		h2 {
			position: relative;
			z-index: 2;
			@include font-size(60px, 72px);
			color: color("content");
			@include mq($until: tabletWide) {
				@include font-size(40px, 64px);
				margin-left: 12px;
				margin-right: 12px;
			}
		}

		@include mq($from: tablet, $until: tabletWide) {
			h3 {
				@include font-size(36px);
			}
		}

		@include mq($from: mobile, $until: tablet) {
			h3 {
				@include font-size(32px);
			}
		}

		@include mq($until: tablet) {
			h1 {
				line-height: 1;
			}
		}

		@include mq($until: mobile) {
			h3 {
				@include font-size(26px);
			}
		}
	}

	&__play {
		svg {
			cursor: pointer;
			margin: 0 auto 50px;
			position: relative;
			z-index: 2;
			color: color("content");
			width: 140px;
			height: 140px;

			@include mq($until: tabletWide) {
				width: 100px;
				height: 100px;
				margin-bottom: 24px;
			}
		}
	}

	&__static,
	&__bg-static {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		left: 0;

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__live-badge {
		position: absolute;
		right: 0;
		top: 30px;
		width: 204px;
		height: 204px;

		@include mq($until: tabletWide) {
			display: none !important;
		}
	}

	&__title {
		color: color("content");
		margin-left: 33px;
		margin-right: 33px;
		@include font-size(80px, 117px);
	}

	&__countdown {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: center;
		transition: 0.2s;

		.days,
		.hours,
		.minutes,
		.seconds,
		.today,
		.separator {
			@include font-size(160px, 120px);
			color: color("content");
			font-family: $primary;
			margin-bottom: 0;

			p {
				margin-bottom: 0;
			}

			@include mq($from: tablet, $until: tabletWide) {
				@include font-size(120px);
			}
			@include mq($from: mobile, $until: tablet) {
				@include font-size(72px);
			}

			@include mq($until: mobile) {
				@include font-size(36px);
			}
		}

		@include mq($until: tablet) {
			.hide-mob,
			.seconds {
				display: none;
			}
		}
	}

	&__upcoming {
		padding-top: 52px;
		padding-bottom: 80px;
		h2 {
			color: color("content");
			margin-bottom: 47px;
		}
		background-color: color("brand");
		color: color("content");
	}

	&__single-broadcast {
		&:first-of-type {
			border-top: 3px solid color("content");
		}
		padding-top: 8px;
		padding-bottom: 3px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-bottom: 3px solid color("content");

		span,
		a {
			text-decoration: none;
			color: color("content");
			@include font-size(26px, 38px);
			text-transform: uppercase;
			font-family: $primary;
		}
		svg {
			width: 16px;
		}

		@include mq($until: tablet) {
			span,
			a {
				line-height: 1.2;
			}

			> :last-child {
				text-align: right;
			}
			> :first-child {
				max-width: 180px;
			}

			svg {
				display: none;
			}
		}
	}

	&__next-broadcast {
		position: relative;
		padding-top: 27px;
		padding-bottom: 35px;

		h2 {
			@include font-size(54px, 60px);
			margin-bottom: 0;
		}

		p {
			@include font-size(16px, 23px);
			margin-bottom: 10px;
			max-width: 885px;
		}

		a {
			color: color("black");
		}
	}

	&__upcoming-link-wrap {
		padding-top: 35px;
		text-align: right;
	}

	&__upcoming-link {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		@include underline;
		@include font-size(26px, 33px);
		font-family: $primary;
		color: color("content");

		svg {
			color: color("content");
			height: 16px;
			width: 16px;
			margin-bottom: 3px;
			margin-left: 8px;
		}

		.less {
			display: none;
		}

		&.open {
			.more {
				display: none;
			}

			.less {
				display: block;
			}
		}
	}

	&__past {
		padding-top: 118px;
	}

	&__past-top {
		margin-bottom: 42px;
		h1 {
			margin-bottom: 0;
		}
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__load-more-wrap {
		text-align: right;
		margin-top: 46px;
		margin-bottom: 68px;
	}

	&__stream {
		max-height: 690px;
	}

	&__load-more {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		@include underline-dark;
		@include font-size(23px, 33px);
		font-family: $primary;
		color: color("black");

		svg {
			color: color("black");
			height: 16px;
			width: 16px;
			margin-bottom: 4px;
			margin-left: 12px;
		}
	}
}
