// Apply ‘attention’ styles in one go.
@mixin attention($self: false) {
	@if ($self != false) {
		&,
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	} @else {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}
}

@mixin bg-image {
	background-size: cover;
	background-position: center center;
}

@mixin cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@mixin unstyle-button {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;
	background: transparent;
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

@mixin visuallyhidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

@mixin not-visuallyhidden {
	position: relative;
	width: auto;
	height: auto;
	overflow: auto;
	clip: auto;
}

// for image replacement
@mixin ir {
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	background-repeat: no-repeat;
}
