.o-btn {
	text-decoration: none;
	border-radius: 22px;
	display: inline-block;
	padding: 13px 32px;
	font-size: 13px;
	font-weight: 700;
	line-height: 1;
	background: color("brand alt");
	color: #fff;
	border: 1px solid;
	letter-spacing: 0.3px;
	transition: 0.25s;
	cursor: pointer;
	&:hover {
		//background: shade(color("brand alt"), 20%);
		background: transparent;
		color: color("brand alt");
	}
	&--transparent {
		background: none;
		color: color("brand alt");
		&:hover {
			background: color("brand alt");
			color: #fff;
		}
	}
}
