.o-wrapper {
	@include inuit-clearfix();
	max-width: $sitewidth;
	margin: 0 auto;
	padding: 0 $spacing-unit;
	@include mq(desktop) {
		padding: 0 $spacing-unit--large;
	}

	&--100 {
		max-width: 100%;
		@include mq($from: desktop) {
			padding: 0 100px;
		}
	}
}
