/**
 * Insert your styles with Liquid below.
 *
 * Import additional stylesheets into this sheet using CSS imports:
 * @import url('./global/form.scss');
 */
 @font-face {
     font-family: 'baskerville';
     src: url("{{ 'baskerville.woff2' | asset_url }}") format('woff2'),
          url("{{ 'baskerville.woff' | asset_url }}") format('woff');
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: 'condensed';
     src: url("{{ 'condensed-bold.woff2' | asset_url }}") format('woff2'),
          url("{{ 'condensed-bold.woff' | asset_url }}") format('woff');
     font-weight: bold;
     font-style: normal;
 }

[type="radio"] +label:after {
   background-image: url("{{ 'icon-tick.svg' | asset_url }}");
}
.slick-next {
    background-image: url("{{ 'icon-right.svg' | asset_url }}");
}
.slick-prev {
    background-image: url("{{ 'icon-left.svg' | asset_url }}");
}

#gs__toggle-box {
  background: transparent !important;
  color: #000 !important;
  font-family: "condensed", '"Times New Roman"', "Times", "serif";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#gs__toggle-box label {
  padding-top: 3px !important;
  color: #000 !important;
  font-family: "condensed", '"Times New Roman"', "Times", "serif";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#gsGroups {
  padding-top: 200px;
  padding-left: 145px;
  padding-right: 145px;
  max-width: 1440px;

  @media(max-width: 768px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @media(max-width: 767px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  .gs__add-shipping-address{
    display:none;
  }

  .gs__qty-wrapper{
    .gs__dropdown.icon{
      position: absolute;
      pointer-events: none;
      display: block !important;
    }
  }
}
.gs__m .ui.dividing.header {
	margin-bottom: 24px;
  font-size: 20px;
  font-family: "baskerville", '"Times New Roman"', "Times", "serif";
}

.gs__custom-address label {
  display: none !important;
}
.gs__m .ms__row input , .ms__select {
  font-family: "baskerville", '"Times New Roman"', "Times", "serif";
	border: none !important;
  border-bottom: 1px solid #000 !important;
  border-radius: 0 !important;
  font-size: 14px !important;
  padding-left: 0;
}
.gs__select  {
	margin-top: 0 !important;
  padding-top:0 !important;
}
#gsCrumbs li a {
  font-family: "condensed", '"Times New Roman"', "Times", "serif";
  color: #000 !important;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 5px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding-right: 15px !important;
}
#gsCrumbs li a svg {
	margin-top: -6px !important;
  margin-right: 5px !important;
}
.gs__row .selection.ms__dropdown .menu {
border: none !important;
}
.gs__set-shipping-address:hover {
	backgroound: #000;
}
.bottom-bar a {
  color: #fff !important;
  font-family: "condensed", '"Times New Roman"', "Times", "serif";
  background: #000 !important;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 10px !important;
  padding-bottom: 6px !important;
}
.gs__item-title ,
.gs__cart-price-wrapper {
  color: #000 !important;
  font-family: "condensed", '"Times New Roman"', "Times", "serif";
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.gs__t.gs__line td {
  color: #000 !important;
  font-family: "condensed", '"Times New Roman"', "Times", "serif";
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.gs__cart-row td {
  color: #000 !important;
  font-family: "condensed", '"Times New Roman"', "Times", "serif";
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.gs__m-bg.modal-open {
  background: rgba(0,0,0,.6) !important;
}
.gs__qty-wrapper {
  margin-right: 10px;
}
.gs__cart-qty ,.ms__amount input {
  font-family: "condensed", '"Times New Roman"', "Times", "serif";
  border: none !important;
  border-bottom: 1px solid #000 !important;
  border-radius: 0 !important;
}
.gs__amount input {
height: 47px;
}
.gs__cart-remove {
  font-family: "condensed", '"Times New Roman"', "Times", "serif";
  font-size: 14px;
  letter-spacing: 0.1em;
}
.gs__row .selection.gs__dropdown {
  font-family: "baskerville", '"Times New Roman"', "Times", "serif";
  border: none !important;
  border-bottom: 1px solid #000 !important;
  border-radius: 0 !important;
}
.gs__search-input {
  font-family: "baskerville", '"Times New Roman"', "Times", "serif";
  padding: 0;
}

.cart__subtotal-title, .cart__subtotal {
  color: #000 !important;
  font-family: "condensed", '"Times New Roman"', "Times", "serif";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.gs__btn {
  color: #fff !important;
  font-family: "condensed", '"Times New Roman"', "Times", "serif";
  background: #000 !important;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 10px !important;
  padding-bottom: 6px !important;
}
#gs__toggle-box {
  display: none !important;

  &.show {
    display: block !important;
  }
}
#gsCrumbs {
	width: 100% !important;
    margin-bottom: 20px;
}
.gs__cart-header th {
  font-family: "condensed", '"Times New Roman"', "Times", "serif";
  font-size: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.gs__address-wrapper {
 margin-right: 10px !important;
}
.gs__row input[type=text].gs__set-msg  {
    font-family: "baskerville", '"Times New Roman"', "Times", "serif";
	border: none !important;
  border-bottom: 1px solid #000 !important;
  border-radius: 0 !important;
  font-size: 14px !important;
  padding-left: 0 !important;
  margin-right: 10px !important;
}
