{% section 'collection-banner' %}
{%- section 'collection-products' -%}
{%- include 'section-product-builder' -%}
{% comment %}{%- section 'collection-build' -%}{% endcomment %}
{%- section 'collection-gift-link' -%}
{%- section 'collection-link' -%}
