{% comment %}
  QR code is rendered in `#QrCode`

  `gift_card.pass_url` is true if apple wallet is enabled for the shop
{% endcomment %}

{% layout 'gift_card' %}

<header role="banner" class="pt-3 text-center">
    <div class="max-w-container mx-auto text-center flex items-center justify-center mb-4">
      <h1 class="">
        <a href="{{ shop.url }}" class="text-black">
          {%- include 'gift-logo', class: '' -%}
        </a>
      </h1>
    </div>
</header>

<main class="giftcard {% if gift_card.expired or gift_card.enabled != true %} giftcard--disabled{% endif %} pt-4 px-3">
  <div class="max-w-container mx-auto text-center">
  <h2 class="font-baskerville text-4xl ">{{ 'gift_cards.issued.subtext' | t }}</h2>
  {% unless gift_card.enabled %}
    <span class="giftcard-tag">{{ 'gift_cards.issued.disabled' | t }}</span>
  {% endunless %}

  {%- assign gift_card_expiry_date = gift_card.expires_on | date: "%d/%m/%y" -%}

  {% if gift_card.expired and gift_card.enabled %}
    <span class="giftcard-tag">{{ 'gift_cards.issued.expired' | t: expiry: gift_card_expiry_date }}</span>
  {% endif %}

  {% if gift_card.expired != true and gift_card.expires_on and gift_card.enabled %}
    <span class="giftcard-tag giftcard-tag--active">{{ 'gift_cards.issued.active' | t: expiry: gift_card_expiry_date }}</span>
  {% endif %}

  <img src="{{ 'gift-card.png' | asset_url }}" alt="Gift card illustration" class="max-w-40 mx-auto">
  <div class="py-3">
    {% assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency %}

    <h2 class="font-condensed uppercase text-md tracking-md">{{ 'gift_cards.issued.initial_value' | t: value: formatted_initial_value }}</h2>

    {% assign formatted_current_balance = gift_card.balance | money %}

    {% if gift_card.balance != gift_card.initial_value %}
      <p class="font-condensed uppercase text-md tracking-md">{{ 'gift_cards.issued.remaining_html' | t: balance: formatted_current_balance }}</p>
    {% endif %}

    {%- assign code_size = gift_card.code | format_code | size -%}
    <span id="GiftCardDigits" class="giftcard__code font-condensed uppercase text-md tracking-md" data-gift-card-digits>Gift card Code: {{ gift_card.code | format_code }}</span>

    <p class="font-condensed uppercase text-md tracking-md">{{ 'gift_cards.issued.redeem' | t }}</p>

    {% comment %}<a href="{{ shop.url }}" class="button" target="_blank">{{ 'gift_cards.issued.shop_link' | t }}</a>{% endcomment %}
    <div class="flex justify-center items-center pt-2-4">
      <a class="link mx-auto mb-2" href="{{ shop.url }}" target="_blank">
        <div class="flex items-center font-condensed text-sxs tracking-md leading-none uppercase">
          <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span>
          <span>{{ 'gift_cards.issued.shop_link' | t }}</span>
        </div>
      </a>
    </div>

    <canvas id="QrCode" class="giftcard-qr mx-auto" data-identifier="{{ gift_card.qr_identifier }}" data-gift-card-qr></canvas>

    {% if gift_card.pass_url %}
      <a href="{{ gift_card.pass_url }}" class="apple-wallet">
        <img class="apple-wallet-image" src="{{ 'gift-card.png' | asset_url }}" class="max-w-50 mx-auto" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}">
      </a>
    {% endif %}
  </div>


  <button id="PrintGiftCard" class="print-giftcard border-link uppercase text-base font-condensed tracking-md" data-gift-card-print>
    {{ 'gift_cards.issued.print' | t }}
  </button>
</div>
</main>
