{% section 'collection-banner' %}


{% comment %} show all the product for collection page {% endcomment %}
<div id="collections-listing" class="max-w-container mx-auto px-6 ml:px-16-5 mt-5">
  <div class="flex flex-wrap md:-mx-1-6 tablet:-mx-3 xl:-mx-4-8">
    {% for product in collections.all.products %}
      {% if product.price > 0 %}
        <div class="w-full md:w-1/2 tablet:w-1/3 md:px-1-6   mb-4 md:mb-9-6">
          {% include 'product-block', product %}
        </div>
      {% endif %}
    {% endfor %}

    {% comment %} {% if collections.size > 0 %} 
      {% for collection in collections %}

        {% if collection.title contains "Individual" %}
        {% else %}
          <div class="{{ collection.handle }}-collection w-full md:w-1/2 tablet:w-1/3 md:px-1-6   mb-4 md:mb-9-6">
          <strong><a href="{{ collection.url }}">{{ collection.title | escape }}</a></strong>
          <small class="hint">{{ collection.products_count | pluralize: 'product', 'products' }}</small>
          </div>
        {% endif %}
      {% endfor %} 
    {% else %}
      <p>No Collections found...</p>
    {% endif %} {% endcomment %}

  </div>
</div>



{% comment %} {%- section 'collection-gift-link' -%} {% endcomment %}
{%- section 'collection-link' -%}
