{%- section 'contact' -%}
<!-- <section>
  <div class="max-w-container px-16 py-20">
    <div data-ballance></div>
    <div class="border border-black">
      <input type="text" class="border text-black border-black w-23" data-gift-code />
      <button class="bg-black text-white h-4 px-2 text-black" data-gift-submit>Send</button>
    </div>
  </div>
</section> -->
