{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}
<div class="password-content">
  <div>
  <h2>{{ 'general.password_page.opening_soon' | t }}</h2>

  {% unless shop.password_message == blank %}
    <p>
      {{ shop.password_message }}
    </p>
  {% endunless %}

  <a href="#Login" class="login" data-lity>
      {% include 'icon-lock' %}
    {{ 'general.password_page.password_link' | t }}
  </a>
</div>
</div>
