select,
textarea,
input {
	outline: none;
	font-family: inherit;
}
select,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"] {
	display: block;
	width: 100%;
	padding: 8px 16px;
	border: 1px solid color("content");
	border-radius: 0;
	background: transparent;
	box-shadow: 0 0 100px 100px white inset;
	appearance: none;
	@include font-size(12px, 1.5);
	&::-webkit-input-placeholder {
		color: tint(color("grey"), 20%);
	}
	&::-moz-placeholder {
		color: tint(color("grey"), 20%);
	}
	&::-ms-input-placeholder {
		color: tint(color("grey"), 20%);
	}
	&::-moz-placeholder {
		color: tint(color("grey"), 20%);
	}
	&::placeholder {
		color: tint(color("grey"), 20%);
	}
}

textarea {
	resize: none;
}
select {
	padding: 8px 56px 8px 16px;
	background-image: linear-gradient(
			45deg,
			transparent 50%,
			color("content") 50%
		),
		linear-gradient(135deg, color("content") 50%, transparent 50%),
		linear-gradient(to right, color("content"), color("content"));
	background-position: calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-repeat: no-repeat;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	box-shadow: none;
}

.input-wrap {
	display: inline-block;
	width: 100%;
	margin-bottom: 14px;
	vertical-align: top;
	color: color("grey");
	span.label {
		display: block;
		margin-bottom: 6px;
		font-size: 15px;
	}
	.hidden-label {
		position: absolute;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		width: 1px;
		margin: 0;
		padding: 0;
		border: 0;
	}
	&.half {
		@include mq(tablet) {
			float: left;
			width: 50%;
		}
	}
	&.left {
		@include mq(tablet) {
			padding-right: 12px;
		}
	}
	&.right {
		@include mq(tablet) {
			padding-left: 12px;
		}
	}
	&.submit {
		position: relative;
		text-align: left;
		margin-top: 6px;
		font-size: 13px;
	}
	select,
	textarea,
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"] {
		border: 0;
		background: #f4f5f4;
		font-size: 12px;
		padding: 12px 18px;
		transition: all 0.3s ease;
		box-shadow: none;
	}

	label {
		display: inline-block;
		line-height: 0;
	}
	&.radios {
		span.label {
			display: block;
			margin-bottom: 20px;
			font-weight: 600;
		}
		.wpcf7-list-item {
			position: relative;
			max-width: 170px;
			display: inline-block;
			&:not(:last-of-type) {
				margin-right: 60px;
				@include mq($until: mobileLandscape) {
					margin-right: 12px;
				}
			}
		}
		label {
			width: 100%;
		}
		input[type="radio"],
		input[type="checkbox"] {
			opacity: 0;
			cursor: pointer;
			width: 100%;
			position: absolute;
			height: 86%;
			& + span {
				width: 100%;
				line-height: 1;
				padding: 8px;
				display: inline-block;
				border: 1px solid #c3cbcd;
				font-size: 12px;
				margin-bottom: 4px;
				padding: 10px 60px;
				@include mq($until: mobileLandscape) {
					font-size: 11px;
					padding: 8px 36px;
				}
			}
			&:checked + span {
				font-weight: 700;
				color: color("brand");
				border-width: 2px;
				border-color: color("brand");
			}
		}
	}
	&.business-radios {
		display: none;
	}
	&.home-radios,
	&.business-radios {
		.wpcf7-list-item {
			display: inline-block;
			width: 25%;
		}
		label {
			width: 100%;
		}
		input[type="radio"] {
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
			& + span {
				width: 100%;
				line-height: 1;
				padding: 8px;
				display: inline-block;
				border: 1px solid #c3cbcd;
				font-size: 12px;
				margin-bottom: 4px;
				border-left-color: transparent;
				@include mq($until: mobile) {
					font-size: 11px;
					padding: 8px 7px;
				}
			}
			&:checked + span {
				font-weight: 700;
				color: color("brand");
				border-width: 2px;
				border-color: color("brand");
			}
		}
	}
	&.property-type-radios {
		margin-bottom: 0;
		.wpcf7-list-item {
			display: inline-block;
			width: 50%;
		}
		label {
			width: 100%;
		}
		input[type="radio"] {
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}
		input[value="Home"],
		input[value="Business"] {
			& + span {
				background-size: 92px 67px;
				background-position: center top;
				background-repeat: no-repeat;
				border: 0;
				padding-top: 80px;
				display: block;
				font-size: 12px;
				margin-bottom: 18px;
			}
			&:checked + span {
				font-weight: 700;
				color: color("brand");
			}
		}
		input[value="Business"] {
			& + span {
				background-image: url("../img/icon-business.png");
			}
			&:checked + span {
				background-image: url("../img/icon-business-active.png");
			}
		}
		input[value="Home"] {
			& + span {
				background-image: url("../img/icon-home.png");
			}
			&:checked + span {
				background-image: url("../img/icon-home-active.png");
			}
		}
	}

	textarea {
		background: #f4f4f4;
		height: 92px;
		box-shadow: none;
	}
}
.wpcf7-radio {
	.wpcf7-list-item.first {
		.wpcf7-list-item-label {
			border-left-color: #c3cbcd;
		}
		input:checked + span {
			border-left-color: color("brand");
		}
	}
}

// CONTACT FORM 7 SPECIFIC STYLES
.wpcf7 {
	display: inline-block;
	&-form-control-wrap {
		display: block;
		margin-bottom: 1px;
	}
	&-not-valid {
		.wpcf7-list-item-label {
			color: red;
			&::before {
				border-color: red;
			}
		}
	}
	.screen-reader-response {
		display: none !important;
	}
	&-not-valid-tip,
	&-validation-errors {
		color: color("brand alt");
	}
	&-not-valid-tip,
	&-response-output {
		display: block;
		text-align: left;
		@include font-size(12px, 1.2);
		margin-bottom: 12px;
		@include mq($from: tablet) {
			margin-top: 12px;
			margin-bottom: 0;
		}
	}
	&-mail-sent-ok {
		color: color("brand");
	}
}

.ajax-loader {
	pointer-events: none;
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	&:after {
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		display: block;
		width: 24px;
		height: 24px;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		border: 3px solid rgba(color("brand alt"), 0.1);
		border-top-color: color("brand alt");
		border-radius: 50%;
	}
	&.is-active {
		display: inline-block;
		opacity: 1;
		&:after {
			animation: spinLoader 1.5s infinite;
		}
	}
}

@keyframes spinLoader {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
