body {
	min-height: 100%;
	font-family: $primary;
	font-weight: 400;
	font-style: normal;
	@include font-size($base-font-size);
	color: color("content");
	background-image: url(../img/page-bg.png);
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

// Use https://github.com/willmcpo/body-scroll-lock, it's already in the scripts
.scroll-lock {
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
}

.is-blured {
	pointer-events: none;
	filter: blur(3px);
}

.c-default,
.c-404 {
	.c-cms-content {
		padding-top: 48px;
		padding-bottom: 60px;
		max-width: 980px;
		@include mq($from: tablet) {
			padding-top: 100px;
		}
		h1,
		h2,
		h3 {
			color: color("brand");
			font-weight: 800;
		}
	}
}
