/*------------------------------------*\
    #ALIASES
\*------------------------------------*/

$unit: $inuit-global-spacing-unit;
$unit-tiny: $inuit-global-spacing-unit-tiny;
$unit-small: $inuit-global-spacing-unit-small;
$unit-large: $inuit-global-spacing-unit-large;
$unit-big: $inuit-global-spacing-unit-large * 1.5;
$unit-huge: $inuit-global-spacing-unit-huge;

@mixin font-size($inuit-font-size, $inuit-line-height: auto) {
	@include inuit-font-size($inuit-font-size, $inuit-line-height);
}
