.o-btn {
	padding: 10px 38px 12px;
	background: transparent linear-gradient(180deg, #62C9E8 0%, #1DA4CB 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 5px;
	font-family: $primary;
	color: #FFF;
	transition: 0.25s;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	border: 0;
	@include font-size(15px, 17px);

	a {
		color: color('white');
		text-decoration: none;
	}

	&:hover {
		background: transparent linear-gradient(180deg, #28A8D0 0%, #0A73DD 100%) 0% 0% no-repeat padding-box;
	}

	&--white {
		padding-left: 30px;
		padding-right: 30px;
		display: inline-block;
		background: transparent;
		border: 1px solid white;
		color: color('white');
		letter-spacing: 1.7px;
		max-height: 40px;
		box-shadow: none;
		border-radius: 0;

		a {
			color: color('white');
		}

		&:hover {
			background: color('tertiary');
		}
	}

	&--full {
		width: 100%;
	}
}
