.o-main,
.o-side {
	// @include mq(lap) {
	//   float: left;
	// }
}

.o-layout {
	> .o-layout__item {
		margin-bottom: 24px;
	}
	
	&--help-form {
		> .o-layout__item {
			margin-bottom: 24px;
		}

		@include mq($until: tablet) {

			>.o-layout__item {
				margin-bottom: 12px;
			}
		}
	}
	&--large2 {
		margin-left: -60px;
		> .o-layout__item {
			margin-bottom: 60px;
			padding-left: 60px;
		}
		@include mq($until: tablet) {
			margin-left: -14px;

			>.o-layout__item {
				margin-bottom: 14px;
				padding-left: 14px;
			}
		}
	}
	&--home-content {
		margin-left: -60px;
		> .o-layout__item {
			margin-bottom: 60px;
			padding-left: 60px;
		}
		> .o-layout__item:first-child {
			margin-bottom: 60px;
			padding-left: 15px;
		}
		
		@include mq($until: tablet) {
			margin-left: -14px;
			>.o-layout__item:first-child {
				margin-bottom: 14px;
				padding-left: 14px;
			}
			> .o-layout__item {
				margin-bottom: 14px;
				padding-left: 14px;
			}
		}
	}
	&--large3 {
		margin-left: -54px;
		> .o-layout__item {
			margin-bottom: 54px;
			padding-left: 54px;
		}
		@include mq($until: tablet) {
			margin-left: -14px;

			>.o-layout__item {
				margin-bottom: 14px;
				padding-left: 14px;
			}
		}
	}
	&--about {
		margin-left: -60px;

		>.o-layout__item {
			margin-bottom: 60px;
			padding-left: 60px;
		}
		@include mq($until: tablet) {
			margin-left: -14px;

			>.o-layout__item {
				margin-bottom: 14px;
				padding-left: 14px;
			}
		}
	}
	&--flush {
		> .o-layout__item {
			margin-bottom: 0;
		}
	}
	&--flush-mob {
		@include mq($until: tablet) {
			> .o-layout__item {
				margin-bottom: 0;
			}
		}
	}
}
