// Apply ‘attention’ styles in one go.
@mixin attention($self: false) {
	@if ($self != false) {
		&,
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	} @else {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}
}

@mixin unstyle-button {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;
	background: transparent;
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

@mixin visuallyhidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

@mixin not-visuallyhidden {
	position: relative;
	width: auto;
	height: auto;
	overflow: auto;
	clip: auto;
}

// for image replacement
@mixin ir {
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	background-repeat: no-repeat;
}

@mixin h5 {
	@include font-size(size("sm"));
	@include mq("tablet") {
		@include font-size(size("b"), 1.3);
	}
}

//transition
@mixin easeOut {
	transition: all 0.5s ease-in-out;
}

@mixin btn-border-drawing(
	$color: #ccc,
	$hover: black,
	$width: 2px,
	$vertical: top,
	$horizontal: left,
	$duration: 0.25s
) {
	box-shadow: inset 0 0 0 $width $color;
	color: $color;
	transition: color $duration $duration/3;
	position: relative;

	&::before,
	&::after {
		border: 0 solid transparent;
		box-sizing: border-box;
		content: "";
		pointer-events: none;
		position: absolute;
		width: 0;
		height: 0;
		#{$vertical}: 0;
		#{$horizontal}: 0;
	}

	&::before {
		$h-side: if($horizontal == "left", "right", "left");
		border-#{$vertical}-width: $width;
		border-#{$h-side}-width: $width;
	}

	&::after {
		$v-side: if($vertical == "top", "bottom", "top");
		border-#{$v-side}-width: $width;
		border-#{$horizontal}-width: $width;
	}

	&:hover {
		color: $hover;
		&::before,
		&::after {
			border-color: $hover;
			transition: border-color 0s, width $duration, height $duration;
			width: 100%;
			height: 100%;
		}

		&::before {
			transition-delay: 0s, 0s, $duration;
		}
		&::after {
			transition-delay: 0s, $duration, 0s;
		}
	}
}
