h1 {
	margin-bottom: spacer(0.5, size("xxl"));
	font-size: 65px;
	line-height: 70px;
	font-weight: 300;
}

h2 {
	margin-bottom: 24px;
	font-size: 38px;
	line-height: 50px;
	font-weight: 400;
	@include mq($until: tablet) {
		font-size: 33px !important;
		line-height: 40px;
	}
}

h3 {
	margin-bottom: spacer(1, size("l"));
	font-weight: normal;
	@include font-size(size("l"));
}

h4 {
	margin: 0;
	font-size: 25px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
}
