// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

$brand: #1e1843;

$theme-colors: (
	"primary": $brand,
	"secondary": #d55d26,
	"primary-70": #5c5477,
	"primary-50": #87819b,
	"primary-30": #b5b1c1,
	"secondary-70": #e88f60,
	"secondary-50": #f2ae8a,
	"secondary-30": #f9ceb6,
	"brand": $brand,
	"link": $brand,
	"link hover": $brand,
	"grey": #e5e3e9,
	"white": #fff,
	"black": #000,
	"content": #221f20
);

// helper variables
$font-color: map-get($theme-colors, "brand");
$loud-color: map-get($theme-colors, "brand");
$header-grad: linear-gradient(
	rgba(
			$color: #000,
			$alpha: 0.5
		)
		0%,
	rgba(
			$color: #000,
			$alpha: 0.1
		)
		40%,
	transparent 66%,
	rgba(
			$color: #000,
			$alpha: 0
		)
		75%,
	rgba(
			$color: #000,
			$alpha: 0.15
		)
		80%,
	rgba(
			$color: #000,
			$alpha: 0.5
		)
		100%
);
