@font-face {
	font-family: "OpenSans Regular";
	font-style: normal;
	src: url("../fonts/OpenSans-Regular.eot") format("embedded-opentype"),
		url("../fonts/OpenSans-Regular.woff") format("woff"),
		url("../fonts/OpenSans-Regular.ttf") format("truetype"),
		url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
}

$primary: "OpenSans Regular", sans-serif;

@font-face {
	font-family: "VIC Regular";
	font-display: auto;
	src: url("../fonts/vic-regular.woff2") format("woff2"),
		url("../fonts/vic-regular.woff") format("woff"),
		url("../fonts/vic-regular.ttf") format("truetype"),
		url("../fonts/vic-regular.svg#vicregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "VIC Medium";
	font-display: auto;
	src: url("../fonts/vic-medium.woff2") format("woff2"),
		url("../fonts/vic-medium.woff") format("woff"),
		url("../fonts/vic-medium.ttf") format("truetype"),
		url("../fonts/vic-medium.svg#vicmedium") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "VIC Bold";
	font-display: auto;
	src: url("../fonts/vic-bold.woff2") format("woff2"),
		url("../fonts/vic-bold.woff") format("woff"),
		url("../fonts/vic-bold.ttf") format("truetype"),
		url("../fonts/vic-bold.svg#vicbold") format("svg");
	font-weight: normal;
	font-style: normal;
}

$font-reg: "VIC Regular", sans-serif;
$font-med: "VIC Medium", sans-serif;
$font-bold: "VIC Bold", sans-serif;
