<script>

/**
 * Module to ajaxify all add to cart forms on the page.
 *
 * Copyright (c) 2015 Caroline Schnapp (11heavens.com)
 * Dual licensed under the MIT and GPL licenses:
 * http://www.opensource.org/licenses/mit-license.php
 * http://www.gnu.org/licenses/gpl.html
 *
 */
 window.onload = function() {
Shopify.AjaxifyCart = (function($) {

  // Some configuration options.
  // I have separated what you will never need to change from what
  // you might change.
  var plus = '<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon"><path d="M12 24a1.85 1.85 0 001.85-1.85v-8.4h8a1.75 1.75 0 000-3.5h-8v-8.4a1.85 1.85 0 00-3.7 0v8.4h-8a1.75 1.75 0 000 3.5h8v8.4A1.85 1.85 0 0012 24z" fill-rule="evenodd"/></svg>';
  var minus = '<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon"><path d="M0 12a2 2 0 012-2h20a2 2 0 012 2 2 2 0 01-2 2H2a2 2 0 01-2-2z" fill="#1b1d1f"/></svg>';

  var _config = {

    // What you might want to change
    addToCartBtnLabel:             'Add to cart',
    addedToCartBtnLabel:           'Thank you!',
    addingToCartBtnLabel:          'Adding...',
    soldOutBtnLabel:               'Sold Out',
    howLongTillBtnReturnsToNormal: 1000, // in milliseconds.
    cartCountSelector:             '.cart-count, #cart-count a:first, #gocart p a, #cart .checkout em, .item-count',
    cartTotalSelector:             '#cart-price',
    // 'aboveForm' for top of add to cart form,
    // 'belowForm' for below the add to cart form, and
    // 'nextButton' for next to add to cart button.
    feedbackPosition:              'nextButton',

    // What you will never need to change
    addToCartBtnSelector:          '[type="submit"]',
    addToCartFormSelector:         'form[action="/cart/add"]',
    shopifyAjaxAddURL:             '/cart/add.js',
    shopifyAjaxCartURL:            '/cart.js'
  };

  // We need some feedback when adding an item to the cart.
  // Here it is.
  var _showFeedback = function(success, html, $addToCartForm) {
    $('.ajaxified-cart-feedback').remove();
    // var feedback = '<p class="ajaxified-cart-feedback ' + success + '">' + html + '</p>';
    // switch (_config.feedbackPosition) {
    //   case 'aboveForm':
    //     $addToCartForm.before(feedback);
    //     break;
    //   case 'belowForm':
    //     $addToCartForm.after(feedback);
    //     break;
    //   case 'nextButton':
    //   default:
    //     $addToCartForm.find(_config.addToCartBtnSelector).after(feedback);
    //     break;
    // }
    // If you use animate.css
    // $('.ajaxified-cart-feedback').addClass('animated bounceInDown');
    //$('.ajaxified-cart-feedback').slideDown();
  };
  var _setText = function($button, label) {
    if ($button.children().length) {
      $button.children().each(function() {
        if ($.trim($(this).text()) !== '') {
          $(this).text(label);
        }
      });
    }
    else {
      $button.val(label).text(label);
    }
  };
  var _init = function() {
    $(document).ready(function() {
      $(_config.addToCartFormSelector).submit(function(e) {
        e.preventDefault();
        var $addToCartForm = $(this);
        var $addToCartBtn = $addToCartForm.find(_config.addToCartBtnSelector);
        _setText($addToCartBtn, _config.addingToCartBtnLabel);
        $addToCartBtn.addClass('disabled').prop('disabled', true);
        // Add to cart.
        $.ajax({
          url: _config.shopifyAjaxAddURL,
          dataType: 'json',
          type: 'post',
          data: $addToCartForm.serialize(),
          success: function(itemData) {

             {% comment %} if(!Cookie.get('productsRecommended') && document.querySelector('#productsRecommended')) {
            if(window.outerWidth > 880) {
              window.theme.Cookie.set('productsRecommended', true, { expires: 10 });
              window.theme.lity(document.querySelector('#productsRecommended'))
            }else{
              location.reload();
            }
          }
          else {
            location.reload();
          } {% endcomment %}

          
 
              if(!window.theme.Cookie.get('productsRecommended') && document.querySelector('#productsRecommended')) { 
                    if(window.outerWidth > 880) {
                      window.theme.Cookie.set('productsRecommended', true, { expires: 10 });
                      window.theme.lity(document.querySelector('#productsRecommended'))
                    }else{
                       location.reload();
                    } 
                }else{
                    location.reload();
                } 

            /*
            disable the ajax add to cart
            $('[data-cart-count]').hide()
            // Re-enable add to cart button.
            $addToCartBtn.addClass('inverted');
            _setText($addToCartBtn, _config.addedToCartBtnLabel);
           _showFeedback('success','<i class="fa fa-check"></i> Added to cart! <a href="/cart">View cart</a> or <a href="/collections/all">continue shopping</a>.',$addToCartForm);
            window.setTimeout(function(){
              $addToCartBtn.prop('disabled', false).removeClass('disabled').removeClass('inverted');
              _setText($addToCartBtn,_config.addToCartBtnLabel);
            }, _config.howLongTillBtnReturnsToNormal);
            // Update cart count and show cart link.
            $.getJSON(_config.shopifyAjaxCartURL, function(cart) {
                //$('[data-cart-count]').text(cart.item_count);
                if(cart.item_count > 0) {
                    var html = '';
                    var cartTotalItems = 0;
                    const addSelection = document.querySelectorAll('[data-add-choc]')
                    const removeSelection = document.querySelectorAll('[data-remove-choc]')
                    const itemCountes = document.querySelectorAll('[data-type-count]')
                    if(addSelection && addSelection.length > 0) {
                      addSelection.forEach((item, i) => {
                        item.classList.remove('pointer-events-none')
                      });
                    }
                    if(removeSelection && removeSelection.length > 0) {
                      removeSelection.forEach((item, i) => {
                        item.classList.add('hidden')
                      //  item.parentElement.querySelector('[data-type-count]').parentElement.classList.add('opacity-0')
                      });
                    }
                    if(itemCountes) {
                      itemCountes.forEach((item, i) => {
                        item.parentElement.classList.add('opacity-0')
                      });
                    }
                    if(document.querySelector('[data-current-select]')) {
                      document.querySelector('[data-current-select]').innerText = 0
                    }
                    document.querySelector('[data-minicart] form').classList.remove('hidden')
                    document.querySelector('[data-empty-text]').classList.add('hidden')
                    cart.items.forEach(function(item,index) {
                        var qty = 0;
                        var individual = 'flex'
                        if(item.properties && item.properties.Box) {
                          individual = 'hidden'
                        }
                        else {
                          cartTotalItems++
                        }

                        var itemIndex = ++index;
                        html += '<div class="'+individual+' sm:items-center border-b border-black sm:py-0 pt-1-2 pb-2 relative" data-product-line="'+item.id+'" data-item-line="'+itemIndex+'">';
                        html += '<div class="w-9 sm:mr-2 mr-0-7"><a href="'+item.url+'"><img src="'+item.image+'" /></a></div>';
                        html += '<div class="flex-1 flex sm:items-center sm:flex-row flex-col">';
                        html += '<div class="flex-1 sm:py-1">';
                        html += '<div><div class="flex-1 sm:block flex">';
                        html += '<p class="font-condensed text-sm font-bold text-black leading-normal tracking-sm sm:flex-1 uppercase sm:pr-0 pr-2">'+item.product_title+'</p>';
                        var priceTax = item.line_price
                        var priceOrgTax = item.original_price
                        html += '<p class="font-condensed text-sm font-bold tracking-sm leading-normal text-black" data-mincart-lineprice="'+item.id+'" data-price-line="'+itemIndex+'" data-line-price="'+priceOrgTax+'">' + Shopify.formatMoney(priceTax, "{{ shop.money_format | remove: "'" | remove: '"' }}") + '</p>';
                        html += '</div></div>';
                        if(item.properties && item.properties.selection) {
                          var propertySelection = item.properties.selection
                          html += '<div class=""><div class="flex"><p class="uppercase text-1/2xs tracking-md font-condensed mr-0-5">Selection: </p><p class="uppercase text-1/2xs tracking-md font-condensed">'+propertySelection+'</p></div></div>';
                        }
                        html += '</div>'
                        html += '<div class="sm:pr-3 sm:pl-1">'
                        html += '<div class="flex items-center" data-id="'+item.id+'" data-max="" data-line="'+itemIndex+'">'
                        html += '<a class="font-condensed text-base tracking-md w-2 h-2-6 cursor-pointer flex justify-center items-center" data-mini-minus="">-</a>'
                        html += '<input type="number" value="'+item.quantity+'"  pattern="[0-9]*" class="w-5 mx-0-5 border-0 text-center font-condensed text-md tracking-md pointer-events-none" max="'+qty+'">'
                        html += '<a class="font-condensed text-base tracking-md w-2 h-2-6 cursor-pointer flex justify-center items-center" data-mini-plus>+</a>'
                        html += '</div></div>'

                        html += '<div class="sm:static absolute right-0 top-0 bottom-0 flex items-center"><a data-remove-item="'+item.id+'" class="font-condensed text-2xs font-bold tracking-md text-black text-opacity-50 uppercase cursor-pointer"><svg class="w-1-2 h-1-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M22.66 24L12 13.34 1.33 24 0 22.66 10.66 12 0 1.33 1.33 0 12 10.66 22.66 0 24 1.33 13.34 12 24 22.66 22.66 24z"></path></svg></a></div>';
                        html += '</div>';
                        html += '</div>';
                    });

                    //$('[data-cart-count]').text(cartTotalItems);
                    $('[data-cart-view]').html(html);
                    $('[data-minicart-checkout]').removeClass('hidden');
                    $('[data-empty-text]').addClass('hidden');
                    var subPriceTax = cart.total_price
                    $('[data-minicart-subtotal]').text(Shopify.formatMoney(subPriceTax, "{{ shop.money_format | remove: "'" | remove: '"' }}"));
                    $('[data-cart-subtotal]').text(Shopify.formatMoney(subPriceTax, "{{ shop.money_format | remove: "'" | remove: '"' }}"));
                    
                    setTimeout(function(){
                      $('[data-cart-count]').text(cart.item_count).show();
                      $('[data-minicart]').addClass('active');
                    },600);
                }

                if(!window.theme.Cookie.get('productsRecommended')) {
                  if(document.querySelector('#productsRecommended')) {
                    if(window.outerWidth > 880) {
                      window.theme.Cookie.set('productsRecommended', true, { expires: 10 });
                      window.theme.lity(document.querySelector('#productsRecommended'))
                    }
                  }
                }


                if($('body').hasClass('template-cart')) {
                  location.reload();
                }
              // if (_config.cartCountSelector && $(_config.cartCountSelector).size()) {
              //   var value = $(_config.cartCountSelector).html() || '0';
              //   $(_config.cartCountSelector).html(value.replace(/[0-9]+/,cart.item_count)).removeClass('hidden-count');
              // }
              // if (_config.cartTotalSelector && $(_config.cartTotalSelector).size()) {
              //   if (typeof Currency !== 'undefined' && typeof Currency.moneyFormats !== 'undefined') {
              //     var newCurrency = '';
              //     if ($('[name="currencies"]').size()) {
              //       newCurrency = $('[name="currencies"]').val();
              //     }
              //     else if ($('#currencies span.selected').size()) {
              //       newCurrency = $('#currencies span.selected').attr('data-currency');
              //     }
              //     if (newCurrency) {
              //       $(_config.cartTotalSelector).html('<span class=money>' + Shopify.formatMoney(Currency.convert(cart.total_price, "{{ shop.currency }}", newCurrency), Currency.money_format[newCurrency]) + '</span>');
              //     }
              //     else {
              //       $(_config.cartTotalSelector).html(Shopify.formatMoney(cart.total_price, "{{ shop.money_format | remove: "'" | remove: '"' }}"));
              //     }
              //   }
              //   else {
              //     $(_config.cartTotalSelector).html(Shopify.formatMoney(cart.total_price, "{{ shop.money_format | remove: "'" | remove: '"' }}"));
              //   }
              // };
            });*/
          },
          error: function(XMLHttpRequest) {
            var response = eval('(' + XMLHttpRequest.responseText + ')');
            response = response.description;
            if (response.slice(0,4) === 'All ') {
            //  _showFeedback('error', response.replace('All 1 ', 'All '), $addToCartForm);
              $addToCartBtn.prop('disabled', false);
              _setText($addToCartBtn, _config.soldOutBtnLabel);
              $addToCartBtn.prop('disabled',true);
            }
            else {
              _showFeedback('error', '<i class="fa fa-warning"></i> ' + response, $addToCartForm);
              $addToCartBtn.prop('disabled', false).removeClass('disabled');
              _setText($addToCartBtn, _config.addToCartBtnLabel);
            }
          }
        });
        return false;
      });
    });
  };
  return {
    init: function(params) {
        // Configuration
        params = params || {};
        // Merging with defaults.
        $.extend(_config, params);
        // Action
        $(function() {
          _init();
        });
    },
    getConfig: function() {
      return _config;
    }
  }
})(jQuery);

Shopify.AjaxifyCart.init();
 }
</script>

{% comment %}
  If you want to animate your feedback message.
{% endcomment %}

{% comment %}
{{ '//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css' | stylesheet_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' | stylesheet_tag }}
{% endcomment %}


<style>
.ajaxified-cart-feedback {
  display: block;
  line-height: 36px;
  font-size: 90%;
  vertical-align: middle;
}
.ajaxified-cart-feedback.success {
  color: #3D9970;
}
.ajaxified-cart-feedback.error {
  color: #FF4136;
}
.ajaxified-cart-feedback a {
  border-bottom: 1px solid;
}
</style>
