<div class="page-banner relative">
  {%- if article.metafields.accentuate.image != blank -%}
    {% assign bannerBg = article.metafields.accentuate.image | first %}
    <div style="background-image: url('{{bannerBg.cloudinary_src}}')" class="h-43-6 w-full bg-cover bg-no-repeat bg-center sm:block hidden"></div>
  {%- elsif section.settings.image != blank -%}
    <div style="background-image: url('{{section.settings.image | img_url: '1400x'}}')" class="h-43-6 w-full bg-cover bg-no-repeat bg-center sm:block hidden"></div>
  {%- endif -%}

  {%- if article.metafields.accentuate.banner_image_mobile != blank -%}
    {%- assign mobileBanner = article.metafields.accentuate.banner_image_mobile | first -%}
    <div style="background-image: url('{{mobileBanner.cloudinary_src}}')" class="h-34-4 w-full bg-cover bg-no-repeat bg-center sm:hidden block"></div>
  {%- else -%}
    {%- if article.metafields.accentuate.image != blank -%}
      <div style="background-image: url('{{bannerBg.cloudinary_src}}')" class="h-34-4 w-full bg-cover bg-no-repeat bg-center sm:hidden block"></div>
    {%- else -%}
      {%- if section.settings.mobile_image != blank -%}
        <div style="background-image: url('{{section.settings.mobile_image | img_url: '1400x'}}')" class="h-34-4 w-full bg-cover bg-no-repeat bg-center sm:hidden block"></div>
      {%- elsif section.settings.image != blank -%}
        <div style="background-image: url('{{section.settings.image | img_url: '1400x'}}')" class="h-34-4 w-full bg-cover bg-no-repeat bg-center sm:hidden block"></div>
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
  <div class="flex justify-center items-center absolute inset-0 text-center z-2 pt-10">
    <div>
        <h5 class="text-md font-condensed font-bold text-orange tracking-md leading-tightest mb-0-5 uppercase">News</h5>

      <h1 class="text-5xl font-baskerville font-normal leading-tight text-white uppercase">
        {{article.title}}
      </h1>
      <div class="flex justify-center items-center -mx-1-5">
        <div><p class="text-sm font-baskerville leading-normal tracking-md text-white mx-1-5">{{ article.published_at | time_tag: format: 'month_day_year' }}</p></div>
        <div>
          {% if article.tags.size > 0 %}
              {% for tag in article.tags %}
                <p class="text-sm font-baskerville leading-normal tracking-md text-white mx-1-5">{{ tag }}</p>
              {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
