<div class="article-block">
  {% if article.image %}
    <div class="relative overflow-hidden mb-4-2">
      <a href="{{ article.url }}" class="absolute inset-0 hover-image z-1"></a>
      <img src="{{article.image | img_url: '600x'}}" class="w-full" />
    </div>
  {% endif %}
  <div>
    <h3 class="text-2xl font-condensed uppercase tracking-md leading-none font-bold mb-1-8">
      <a href="{{ article.url }}">{{ article.title }}</a>
    </h3>
    <div class="rte mb-5">
      {% if article.excerpt.size > 0 %}
        {{ article.excerpt }}
      {% else %}
        <p>
          {{ article.content | strip_html | truncatewords: 100 }}
        </p>
      {% endif %}
    </div>
    <div class="flex">
      <a href="{{article.url}}" class="link text-center">
        <div class="flex items-center font-condensed text-md tracking-md leading-none uppercase">
          <!-- <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
          <span class="-mt-0-4 mr-1-2"><span class="flex w-2 h-0-1 bg-black"></span></span>
          <span class="text-black text">Read More</span>
        </div>
      </a>
    </div>
  </div>
</div>
