{%- if collection.metafields.accentuate.product_link != blank -%}
  <section style="background-color: {{collection.metafields.accentuate.featured_bg_colour}}" class="relative">
    {%- if collection.metafields.accentuate.featured_bg_image != blank -%}
      {%- assign bgImage = collection.metafields.accentuate.featured_bg_image | first -%}
      <div style="background-image: url('{{bgImage.cloudinary_src}}')" class="bg-cover bg-center bg-no-reapet absolute inset-0"></div>
    {%- endif -%}
    <div class="max-w-container mx-auto px-6 ml:px-16-5 text-{{collection.metafields.accentuate.text_colour}}">
      {%- if collection.metafields.accentuate.featured_title != blank -%}
        <h3 class="uppercase font-baskerville text-5xl text-center mb-6 pt-3 leading-none">{{collection.metafields.accentuate.featured_title}}</h3>
      {%- endif -%}
      <div class="flex flex-wrap md:-mx-3 ml:-mx-4-8">
        {%- assign values = collection.metafields.accentuate.product_select_variant | split: '|' -%}
        {% comment %}
        {%- for value in values -%}
          {%- assign variantId = value | split: ':' | last | times: 1 -%}
          {%- assign productHandle = value | split: ':' | first -%}

          <div class="w-full md:w-1/3 md:px-3 ml:px-4-8 mb-4 md:mb-9-6">
            {%- for variant in all_products[productHandle].variants -%}
              {%- if variant.id == variantId -%}
                <div class="product-block">
                  <div class="relative image mb-2-5 bg-white overflow-hidden flex items-center">
                    <div class="relative w-full">
                      <a href="{{variant.url}}" class="absolute inset-0 z-1"></a>
                      <div class="absolute inset-0 bg-cover bg-center bg-no-repeat {% if product.images.size > 1 %}main-image{% else %} zoom{% endif %} w-full" style="background-image: url('{{variant.image | img_url: '800x'}}')"></div>
                      <!-- <img src="{{variant.image | img_url: '800x' }}" class="{% if product.images.size == 1 %}zoom{% endif %}"/> -->
                      {%- if product.images.size > 1 and hover -%}
                        <img src="{{product.images[1] | img_url: '800x' }}" class="absolute inset-0 bg-cover bg-center bg-no-repeat hover-image" />
                        <!-- <div class="absolute inset-0 bg-cover bg-center bg-no-repeat hover-image" style="background-image: url('{{product.images[1] | img_url: '800x' }}')"></div> -->
                      {%- endif -%}
                    </div>
                  </div>

                  <div class="pl-2">
                    <h4 class="font-condensed leading-none mb-2 text-xl md:text-lg ml:text-xl tracking-lg uppercase font-bold">
                      <span class="block w-full">Select your own</span>
                      <span class="block w-full">{{variant.title}}</span>
                    </h4>
                    <a href="{{variant.url}}" class="link">
                      <div class="flex items-center font-condensed text-base tracking-md leading-none">
                        <!-- <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                        <span class="-mt-0-4 mr-1-2"><span class="flex w-2 h-0-1 bg-{{collection.metafields.accentuate.text_colour}}"></span></span>
                        <span class="text">{{ variant.price | money }}</span>
                      </div>
                    </a>
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        {%- endfor -%}
        {% endcomment %}

        {%- assign valueProducts =  collection.metafields.accentuate.product_link | split: '|' -%}
        {%- for value in valueProducts -%}
          {%- assign product = all_products[value] -%}

          {%- if product.tags.size > 0 -%}
            {%- for tag in product.tags -%}
              {%- assign tagHandle = tag | downcase -%}
              {%- if tagHandle contains 'size' -%}
                {%- assign selectedBoxSize = tagHandle | replace: 'size: ', '' -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
          <div class="w-full md:w-1/2 tablet:w-1/3 md:px-1-6   mb-4 md:mb-9-6">
            <div class="product-block">
              <div class="relative image mb-2-5 bg-white overflow-hidden flex items-center">
                <div class="relative w-full">
                  <a href="{% if collection.metafields.accentuate.main_product_link != blank %}{{all_products[collection.metafields.accentuate.main_product_link].url}}#{{selectedBoxSize}}{% endif %}" class="absolute inset-0 z-1"></a>
                  <div class="absolute inset-0 bg-cover bg-center bg-no-repeat {% if product.images.size > 1 %}main-image{% else %} zoom{% endif %} w-full" style="background-image: url('{{product.featured_image | img_url: '800x'}}')"></div>
                  <!-- <img src="{{variant.image | img_url: '800x' }}" class="{% if product.images.size == 1 %}zoom{% endif %}"/> -->
                  {%- if product.images.size > 1 and hover -%}
                    <img src="{{product.images[1] | img_url: '800x' }}" class="absolute inset-0 bg-cover bg-center bg-no-repeat hover-image" />
                    <!-- <div class="absolute inset-0 bg-cover bg-center bg-no-repeat hover-image" style="background-image: url('{{product.images[1] | img_url: '800x' }}')"></div> -->
                  {%- endif -%}
                </div>
              </div>

              <div class="pl-2">
                <h4 class="font-condensed leading-none mb-2 text-xl md:text-lg ml:text-xl tracking-lg uppercase font-bold">
                  <span class="block w-full">Select your own</span>
                  <span class="block w-full">{{product.title | replace: 'rectangle', '' | replace: 'Rectangle', '' }}</span>
                </h4>
                <a href="{% if collection.metafields.accentuate.main_product_link != blank %}{{all_products[collection.metafields.accentuate.main_product_link].url}}#{{selectedBoxSize}}{% endif %}" class="link">
                  <div class="flex items-center font-condensed text-base tracking-md leading-none">
                    <!-- <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                    <span class="-mt-0-4 mr-1-2"><span class="flex w-2 h-0-1 bg-{{collection.metafields.accentuate.text_colour}}"></span></span>
                    <span class="text">{{ product.price | money }}</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </section>
{%- endif -%}
