<div class="sm:flex items-center justify-center items-center mx-auto mb-4">
  <nav role="navigation">
    <ul class="sm:flex flex-wrap">
      {% for link in linklists[section.settings.footer_menu].links %}
        <li class="{% unless forloop.last %}sm:mr-3  mb-1 sm:mb-0{% endunless %}">
          {%- if template contains 'product' and link.handle contains 'shop' -%}
            {%- assign activeLink = true -%}
          {%- endif -%}
          <a href="{{ link.url }}" class="font-condensed font-bold text-white text-base uppercase tracking-xl border-link">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
