<svg class="{{class}} fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
{%- case type -%}
  {%- when 'cart' -%}
    <path d="M21.57,24H2.43L3.9,6.42H20.1ZM3.65,22.88h16.7L19.07,7.53H4.93Z"/><path d="M16.24,4.47H15.12A3.24,3.24,0,0,0,12,1.12,3.24,3.24,0,0,0,8.88,4.47H7.76A4.36,4.36,0,0,1,12,0,4.36,4.36,0,0,1,16.24,4.47Z"/>
  {%- when 'phone' -%}
    <path class="cls-1" d="M18.79,24c-1.92,0-4.48-1.14-7.4-3.35a40.6,40.6,0,0,1-8.07-8C0,8-.87,4.53.89,2.76c4.08-4,4.82-3.46,8.59.3h0a3.13,3.13,0,0,1,.91,2.37c0,1.62-1.17,2.66-2.21,3.58h0a52.54,52.54,0,0,0,6.88,6.79l.22-.23c.88-.93,1.87-2,3.37-2,1.84,0,5.35,3.2,5.35,5.35,0,1.65-1.53,3-2.65,4l-.25.22A3.34,3.34,0,0,1,18.79,24ZM5.07,1.52c-.66,0-1.46.7-3.09,2.33C.82,5,1.84,8.13,4.58,11.78a38.27,38.27,0,0,0,7.71,7.71c3.66,2.72,6.6,3.69,7.86,2.59.84-.75,2.32-2.07,2.32-3.14,0-1.34-2.89-3.82-3.82-3.82s-2,1.11-2.76,1.92l-.5.52-.26.26-.29-.23A52.16,52.16,0,0,1,6.48,9.13l-.22-.29.26-.26c.18-.18.39-.37.61-.57C7.94,7.27,9,6.35,9,5.43a1.54,1.54,0,0,0-.53-1.25l-.32-.32C6.62,2.37,5.8,1.55,5.1,1.53Z"/>
  {%- when 'down' -%}
    <path d="M12 18.04L0 7.37l1.26-1.41L12 15.51l10.74-9.55L24 7.37 12 18.04z"/>
  {%- when 'play' -%}
    <path d="M20.43,12,3.57,24V0Z"/>
  {%- when 'line' -%}
    <path d="M0 11.69h24v.62H0z"/>
  {%- when 'close' -%}
    <path d="M22.66 24L12 13.34 1.33 24 0 22.66 10.66 12 0 1.33 1.33 0 12 10.66 22.66 0 24 1.33 13.34 12 24 22.66 22.66 24z"/>
  {%- when 'nav' -%}
    <path d="M0 6.17h24v.69H0zM0 17.14h13.71v.69H0zM0 11.66h24v.69H0z"/>
  {%- when 'next' -%}
    <path d="M11.32 23.72a1 1 0 001.36 0l6.11-6.11a1 1 0 00-1.36-1.36L12 21.68l-5.43-5.43a1 1 0 00-1.36 1.36zM11 0v23h2V0z"/>
  {%- when 'email' -%}
    <path d="M.5 4.32a.41.41 0 00-.28.11.39.39 0 00-.11.28v14.58a.39.39 0 00.11.28.41.41 0 00.28.11h23a.38.38 0 00.39-.39V4.71a.39.39 0 00-.11-.28.39.39 0 00-.28-.11zm15 7.94l7 6.65H1.47l7-6.65 3.23 2.84a.38.38 0 00.25.09.43.43 0 00.26-.09zm-14-7.17h20.97L12 14.29zm-.61 13.3V5.57l7 6.18zm15.18-6.64l7-6.18v12.82z"/><path d="M23.5 19.79H.5a.5.5 0 01-.5-.49V4.71a.49.49 0 01.15-.36.48.48 0 01.35-.14h23a.48.48 0 01.35.14.49.49 0 01.15.36V19.3a.5.5 0 01-.5.49zM.5 4.42a.25.25 0 00-.2.09.28.28 0 00-.08.2V19.3a.27.27 0 00.08.19.25.25 0 00.2.09h23a.25.25 0 00.2-.09.27.27 0 00.08-.19V4.71a.28.28 0 00-.08-.2.25.25 0 00-.2-.09zM22.8 19H1.2l7.31-6.9 3.31 2.9a.3.3 0 00.36 0l3.31-2.91zm-21.06-.2h20.52l-6.77-6.39-3.16 2.77a.51.51 0 01-.66 0l-3.15-2.77zm21.48-.16l-7.31-6.89.09-.08 7.22-6.34zm-7-6.89L23 18.14V5.81zM.78 18.64V5.33l7.31 6.42-.09.08zM1 5.81v12.33l6.78-6.39zm11 8.63l-.07-.07L1.24 5h21.52zM1.82 5.2l10.18 9 10.18-9z"/>
{%- endcase -%}
</svg>
