{%- case type -%}
  {%- when 'payment' -%}
    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="46" height="54" viewBox="0 0 46 54"><path fill="white" d="M22.9 0l-.18.06L.36 10.66a.58.58 0 00-.26.23.6.6 0 00-.1.32v8.5A37.36 37.36 0 0022.74 54a.7.7 0 00.52 0A37.36 37.36 0 0046 19.71v-8.5a.6.6 0 00-.1-.32.58.58 0 00-.26-.23L23.28.07A.63.63 0 0022.9 0zm.1 1.32L44.72 11.6v8.11A36 36 0 0123 52.65 36 36 0 011.28 19.71V11.6zm11.44 17.5a.68.68 0 00-.38.18L19.81 32.38l-6.57-6.45a.6.6 0 00-.21-.14.71.71 0 00-.25-.06.69.69 0 00-.24.05.74.74 0 00-.21.13.8.8 0 00-.15.21.6.6 0 000 .48.6.6 0 00.14.21l7 6.91a.64.64 0 00.44.19.66.66 0 00.45-.17l14.7-13.82a.64.64 0 00.21-.34.61.61 0 00-.32-.68.64.64 0 00-.36-.08z"/></svg>
  {%- when 'certified' -%}
    <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" width="35" height="52" viewBox="0 0 34.98 52">
      <path fill="white" d="M0 .14A4.6 4.6 0 01.54 0a5.28 5.28 0 01.56 0h32.79C35 0 35 0 35 1.06v42.62c0 1.06-.1 1.16-1.18 1.16H15.43v6.25c0 .34 0 .68-.37.84s-.66 0-.94-.3c-1.11-1.05-2.24-2.1-3.37-3.14a2.65 2.65 0 00-.3-.25l-.35.26L7 51.42a3.12 3.12 0 01-.53.43.64.64 0 01-.9-.07.63.63 0 01-.15-.41 3.54 3.54 0 010-.56V44.9H1c-.83 0-1-.18-1-1V.86.14zm1.4 1.19l-.06.06a.24.24 0 00-.06.11.55.55 0 000 .18v41.68l.06.06h4v-.64-1.87A1.89 1.89 0 005 39.69a5.58 5.58 0 01-1-3.23 5.89 5.89 0 011.66-4.07 6.76 6.76 0 019.56-.15c.17.16.32.33.47.5a5.8 5.8 0 01.35 6.91 3.16 3.16 0 00-.67 2.29v1a3.93 3.93 0 00.06.48H33.6c.15-.76.11-41.62 0-42.09zm9.12 39.91a4.91 4.91 0 003.85-1.59 4.52 4.52 0 000-6.39l-.18-.17a5.46 5.46 0 00-7.09-.27 4.57 4.57 0 00-1.12 6 5.07 5.07 0 004.51 2.39zM6.8 49.67a2.86 2.86 0 00.3-.22c.86-.78 1.72-1.56 2.57-2.36.66-.61.86-.62 1.5 0l2.09 2c.23.22.48.39.81.16v-7.53c-2.9 1.23-4.32 1.22-7.27-.13z"/></svg>
  {%- when 'shipping' -%}
    <svg width="58" height="46" viewBox="0 0 58 46" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M43.8097 42.4084L44.0572 42.6559L44.3047 42.4084L55.5139 31.1992L56.9057 32.5374L44.0585 45.3846L37.9131 39.1716L39.243 37.8417L43.8097 42.4084Z" fill="white" stroke="#191818" stroke-width="0.7"/>
    <path d="M0.35 40.3949H30.3587V42.3208H0.35V40.3949Z" fill="white" stroke="#191818" stroke-width="0.7"/>
    <path d="M43.8097 27.0178L44.0572 27.2653L44.3047 27.0178L55.5091 15.8133L56.91 17.2142L44.0579 29.996L37.9096 23.8478L39.2479 22.456L43.8097 27.0178Z" fill="white" stroke="#191818" stroke-width="0.7"/>
    <path d="M43.8097 11.6994L44.0572 11.9469L44.3047 11.6994L55.5139 0.49017L56.9057 1.82846L44.0585 14.6757L37.9131 8.46265L39.243 7.13272L43.8097 11.6994Z" fill="white" stroke="#191818" stroke-width="0.7"/>
    <path d="M0.35 25.0766H30.3587V27.0025H0.35V25.0766Z" fill="white" stroke="#191818" stroke-width="0.7"/>
    <path d="M0.35 9.76016H30.3587V11.6861H0.35V9.76016Z" fill="white" stroke="#191818" stroke-width="0.7"/>
    </svg>
  {%- when 'return' -%}
    <svg width="48" height="41" viewBox="0 0 48 41" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.7262 0.000101176C10.5321 0.0028512 10.3469 0.0815497 10.2111 0.219059L0.405082 9.41528L0.386685 9.43349C0.268208 9.49695 0.16953 9.59141 0.101371 9.70658C0.0332114 9.82176 -0.00182323 9.95323 7.30933e-05 10.0868C0.00196941 10.2203 0.0407243 10.3508 0.112127 10.464C0.18353 10.5772 0.28485 10.6689 0.405082 10.729L10.2111 19.9435C10.355 20.0766 10.5464 20.1475 10.743 20.1406C10.9397 20.1338 11.1256 20.0497 11.2597 19.907C11.3939 19.7642 11.4654 19.5744 11.4585 19.3794C11.4516 19.1843 11.3669 19 11.2229 18.8669L2.59441 10.802H32.3067C40.3403 10.802 46.5282 17.2936 46.5282 25.4357C46.5282 33.5776 40.3719 39.5402 32.3067 39.5402H0.754639C0.657123 39.5388 0.560304 39.5567 0.469811 39.5928C0.379317 39.6289 0.296953 39.6824 0.227506 39.7503C0.158058 39.8182 0.102912 39.8992 0.0652719 39.9884C0.0276319 40.0776 0.00824899 40.1733 0.00824899 40.2701C0.00824899 40.3668 0.0276319 40.4626 0.0652719 40.5518C0.102912 40.6411 0.158058 40.722 0.227506 40.7899C0.296953 40.8578 0.379317 40.9113 0.469811 40.9474C0.560304 40.9835 0.657123 41.0013 0.754639 40.9999H32.3067C41.1123 40.9999 48 34.3163 48 25.4357C48 16.5549 41.1439 9.34226 32.3067 9.34226H2.59441L11.2229 1.27732C11.3357 1.17869 11.4153 1.04819 11.451 0.903373C11.4867 0.758552 11.4768 0.606341 11.4227 0.467239C11.3686 0.328137 11.2729 0.208818 11.1484 0.125296C11.0238 0.0417748 10.8765 -0.00193199 10.7262 6.55386e-05V0.000101176Z" fill="white"/>
    </svg>
{%- endcase -%}
