<section class="mini-cart absolute right-0 left-0 max-w-container mx-auto top-100 z-40 sm:mt-0 mt-1-6" data-minicart="">
    <div class="bg-white z-10 relative float-right w-full">
      <span class="triangle-top absolute top-0 right-10"></span>
      <div class="px-2 sm:py-2 pt-2-5 pb-3">
          {% comment %} move the cart btn to the head of mini cart to fix the mobile issue {% endcomment %}
          <a href="/cart" class="flex items-center justify-center bg-black w-full h-4 text-center text-white text-sxs tracking-md pt-0-5 font-bold font-condensed uppercase border border-black hover:bg-transparent hover:text-black transition-fast mb-1-8">
              cart & checkout
          </a>
          <div class="flex justify-center items-center">
              {% comment %} <h3 class="flex font-bold uppercase text-md tracking-2lg tracking-sm font-condensed text-center mb-2-2">Your cart</h3> {% endcomment %}
              <a class="text-grey-lightest icon-close cursor-pointer hidden" data-cart-close>{%- include 'icon', type: 'close' -%}</a>
          </div>
          <hr class="border-t border-black sm:block hidden" />
            <p class="font-baskerville tracking-sm text-base text-black pt-2 mb-1-4 {% if cart.item_count > 0 %}hidden{% endif %}" data-empty-text>You don't have any items in your cart.</p>
            <form action="/cart" method="post" novalidate>

                <div data-cart-view>
                  {%- if cart.item_count > 0 -%}
                      {% for item in cart.items %}
                        {% assign hideItem = false %}
                        {%- assign property_size = item.properties | size -%}
                        {% if property_size > 0 %}
                            {%- assign count = 1 -%}
                            {% for p in item.properties %}
                              {%- if p.first contains 'Box' -%}
                                  {% assign hideItem = true %}
                              {%- endif -%}
                            {% endfor %}
                        {% endif %}
                          <div class="{% if hideItem %}hidden{% else %}flex{% endif %} sm:items-center border-b border-black sm:py-0 pt-1-2 pb-2 relative" data-product-line="{{item.id}}" data-item-line="{{forloop.index}}">
                              <div class="w-9 sm:mr-2 mr-0-7">
                                  <a href="{{ item.url | within: collections.all }}">
                                  {{ item | img_url: '240x240' | img_tag: item.title }}
                                  </a>
                              </div>
                              <div class="flex-1 flex sm:items-center sm:flex-row flex-col">
                                <div class="flex-1 sm:py-1">
                                    <div class="">
                                        <div class="flex-1 sm:block flex">
                                          <p class="font-condensed text-sm font-bold text-black leading-normal mb-0-6 tracking-sm sm:flex-1 uppercase sm:pr-0 pr-2">{{ item.product.title }}</p>
                                          <p class="font-condensed text-sm font-bold tracking-sm leading-normal text-black overlay_min_cart_fix" data-mincart-lineprice="{{item.id}}" data-price-line="{{forloop.index}}" data-line-price="{{item.original_price  }}">{{item.line_price  | money }}</p>
                                        </div>
                                    </div>
                                    <div class="">
                                      {% if property_size > 0 %}
                                          {%- assign count = 1 -%}
                                          {% for p in item.properties %}
                                            {%- if p.first contains 'selection' -%}
                                              {% unless p.last == blank %}
                                                  <div class="flex">
                                                    <p class="uppercase text-1/2xs tracking-sm font-condensed mr-0-5">Selection: </p>
                                                    <p class="uppercase text-1/2xs tracking-sm font-condensed">{{ p.last }}</p>
                                                  </div>
                                              {% endunless %}
                                            {%- endif -%}
                                          {% endfor %}
                                      {% endif %}
                                    </div>
                                </div>
                                <div class="sm:pr-3 sm:pl-1">
                                  <div class="flex items-center" data-id="{{item.id}}" data-max="{{item.variant.inventory_quantity}}" data-line="{{forloop.index}}">
                                      <a class="font-condensed text-base tracking-md w-2 h-2-6 cursor-pointer flex justify-center items-center cursor-pointer" data-mini-minus="">-</a>
                                      <input type="number" value="{{item.quantity}}"  pattern="[0-9]*" class="w-5 mx-0-5 border-0 text-center font-condensed text-md tracking-md pointer-events-none">
                                      <a class="font-condensed text-base tracking-md w-2 h-2-6 cursor-pointer  flex justify-center items-center cursor-pointer" data-mini-plus>+</a>
                                  </div>
                                </div>
                                <div class="sm:static absolute right-0 top-0 bottom-0 flex items-center overlay_min_cart_fix"><a class="font-condensed text-2xs font-bold tracking-md text-black text-opacity-50 cursor-pointer" styledata-total-qty="{{item.quantity}}" data-remove-item="{{item.id}}" data-relevant-ids="{{item.properties['ids'] | join: ','}}">{%- include 'icon', type: 'close', class: 'w-1-2 h-1-2' -%}</a></div>
                              </div>
                          </div>
                      {% endfor %}
                    {%- endif -%}
                </div>
                <div class="{% if cart.item_count < 1 %}hidden{% endif %}" data-minicart-checkout> 
                    <div class="flex pb-1-4 pt-2 border-b border-grey-lightest ">
                        <p class="w-9 font-bold uppercase text-sm tracking-sm font-condensed leading-tight mr-2">Subtotal</p>
                        <p class="font-bold uppercase text-sm tracking-sm font-condensed leading-tight" data-cart-subtotal="{{cart.total_price}}"><span class="money">{{ cart.total_price  | money }}</span></p>
                    </div>
                    <div class="flex w-full items-center justify-end">
                      <div class="flex-1 w-1/2 hidden justify-end pt-0-4 ">
                        {% comment %}
                        <a class="link" data-cart-close>
                          <div class="flex items-center font-condensed text-sxs tracking-md leading-none uppercase">
                            <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span>
                            <span>Continue Shopping</span>
                          </div>
                        </a>{% endcomment %}
                        <a class="link" href="/cart">
                          <div class="flex items-center font-condensed text-sxs tracking-md leading-none uppercase">
                            <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span>
                            <span>View Cart</span>
                          </div>
                        </a>
                      </div>
                      {% comment %} move checkout btn to the top(to fix the issue with mobile) {% endcomment %}
                      {% comment %} <a href="/cart" class="flex items-center justify-center bg-black w-full h-4 text-center text-white text-sxs tracking-md pt-0-5 font-bold font-condensed uppercase border border-black hover:bg-transparent hover:text-black transition-fast">
                          cart & checkout
                      </a> {% endcomment %}
                        <!-- <button type="submit" name="checkout" >

                        </button> -->
                    </div>
                </div>
            </form>
      </div>
    </div>
    <div class="fixed inset-0 z-1 bg-grey-900 opacity-25" data-cart-close></div>
</section>
