<div class="mobile-menu bg-grey-200 fixed inset-x-0 top-0 z-2 overflow-auto" id="mobile-menu">
  {%- if section.settings.mobile_menu != blank -%}
    {%- assign mobileMenu = section.settings.mobile_menu -%}
  {%- else -%}
    {%- assign mobileMenu = section.settings.menu -%}
  {%- endif -%}
  <div class=" pt-10">
    <div class="mobile-nav items-center justify-center mx-auto flex px-2-5">
      <nav role="navigation" class="w-full">
        <ul class="">
          {% for link in linklists[mobileMenu].links %}
            {%- assign activeLink = false -%}
            {% if link.links != blank %}
              <li class="relative sub-mobile-menu ">
                <div class="flex border-b border-black">
                  <a href="{{ link.url }}" class="font-condensed font-bold transition-fast tracking-sm text-grey-600 text-md uppercase flex items-center pt-1-1 pb-1-1">
                    {{ link.title }}
                  </a>
                  <div class="flex-1 flex justify-end items-center" data-mobile-sub="{{link.handle}}">
                    <span class="font-condensed font-bold text-grey-600 uppercase tracking-sm text-sm icon">+</span>
                    <span class="font-condensed font-bold text-grey-600 uppercase tracking-sm text-sm icon open">-</span>
                  </div>
                </div>
                <div class="content" data-mobile-child="{{link.handle}}">
                  <div>
                    <ul class="pt-1-6 border-b border-black">
                      {% for childlink in link.links %}
                        <li class="mb-3">
                          <a href="{{ childlink.url }}" class="text-grey-600 tracking-sm uppercase font-condensed">
                            {{ childlink.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </li>
            {% else %}
              <li class="w-full border-b border-black">
                {%- if template contains 'product' and link.handle contains 'shop' -%}
                  {%- assign activeLink = true -%}
                {%- endif -%}
                <a href="{{ link.url }}" class="font-condensed font-bold transition-fast tracking-sm text-grey-600 text-md uppercase flex items-center pt-1-1 pb-1-1">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="flex w-full justify-center h-4 items-center">
      {%- assign social_accounts = 'facebook, linkedin, pinterest, instagram,' | split: ', ' -%}
      <ul class="flex justify-center">
        {% for social in social_accounts %}
          {%- assign social_handle = social | handleize -%}
          {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
          {% if settings[social_link] != blank %}
            <li class="{% unless forloop.last %}mr-1-5{% endunless %}">
              <a href="{{ settings[social_link] }}" target="_blank" title="{{ social_accounts }}" class="flex justify-center items-center bg-black text-white w-2-5 h-2-5 rounded-full transition-fast">
                {%- include 'social-icons', type: social_handle , class: 'w-1-3 h-1-3' -%}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
