<div class="items-center justify-center mx-auto lg:flex hidden">
  <nav role="navigation">
    <ul class="flex">
      {% for link in linklists[section.settings.menu].links %}
        {%- assign activeLink = false -%}
        {% if link.links != blank %}
          <li class="relative child-link hover:text-white {% unless forloop.last %}mr-3 xml:mr-4-3{% endunless %}" data-nav-child>
            <a href="{{ link.url }}" class="font-condensed font-bold pb-1-6 hover:text-white transition-fast tracking-sm {% if link.active or activeLink %}text-white{% else %}text-grey-600{% endif %} text-md uppercase flex items-center">
              {{ link.title }}
              <span class="ml-0-8 -mt-0-4">{% include 'icon', type: 'down', class: 'w-0-9 h-0-9' %}</span>
            </a>
            <div class="absolute top-full overflow-hidden bg-dark-choc {% if link.handle contains 'petit-bites' %}w-26{% else %}w-24{% endif %} sub-menu left-0 -ml-2 -mt-0-6">
              <ul class="py-1-8 px-2">
                {% for childlink in link.links %}
                  <li class="{% unless forloop.last %}mb-3{% endunless %}">
                    <a href="{{ childlink.url }}" class="text-grey-600 text-sm transition-fast hover:text-white tracking-sm uppercase font-condensed">
                      {{ childlink.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% else %}
          <li class="{% unless forloop.last %}mr-3 xml:mr-4-3{% endunless %}">
            {%- if template contains 'product' and link.handle contains 'shop' -%}
              {%- assign activeLink = true -%}
            {%- endif -%}
            <a href="{{ link.url }}" class="font-condensed pb-1-6 font-bold text-md uppercase hover:text-white tracking-sm transition-fast {% if link.active or activeLink %}text-white{% else %}text-grey-600{% endif %}">
              {{ link.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
