<div class="page-banner relative">
  <div {% if section.settings.image != blank %} style="background-image: url('{{section.settings.image | img_url: '1400x'}}')"{% endif %} class="h-43-6 w-full bg-cover bg-no-repeat bg-center sm:block hidden"></div>

  {%- if section.settings.mobile_image != blank -%}
    <div style="background-image: url('{{section.settings.mobile_image | img_url: '800x'}}')" class="h-34-4 w-full bg-cover bg-no-repeat bg-center sm:hidden block"></div>
  {%- else -%}
    <div style="background-image: url('{{section.settings.image | img_url: '800x'}}')" class="h-34-4 w-full bg-cover bg-no-repeat bg-center sm:hidden block"></div>
  {%- endif -%}
  <div class="flex justify-center items-center absolute inset-0 text-center z-2 pt-10">
    <div>
      {%- if text != blank -%}
        <h5 class="text-md font-condensed font-bold text-orange tracking-md leading-tightest mb-0-5 uppercase">{{text}}</h5>
      {%- elsif section.settings.text != blank -%}
        <h5 class="text-md font-condensed font-bold text-orange tracking-md leading-tightest mb-0-5 uppercase">{{section.settings.text}}</h5>
      {%- endif -%}
      <h1 class="text-5xl font-baskerville font-normal leading-tight text-white uppercase">
        {%- if title != blank -%}
          {{title}}
        {%- elsif section.settings.title != blank -%}
          {{section.settings.title}}
        {%- else -%}
          {{page.title}}
        {%- endif -%}
      </h1>
    </div>
  </div>
</div>
