{% comment %}{% form 'customer', id: formId, novalidate: 'novalidate', class: '' %}
    {%- if form.posted_successfully? -%}
        <p class="form-message form-message--success" tabindex="-1" data-form-status>
            {{ 'general.newsletter_form.confirmation' | t }}
        </p>
    {%- endif -%}
    <input type="hidden" name="contact[tags]" value="newsletter">
    <div class="input-group flex mb-2-5 -mx-0-8 sm:-mx-1-2 {% if form.errors %} input-group--error{% endif %}">
      <div class="w-1/2 mx-0-8 sm:mx-1-2">
        <input type="text"
          name="contact[Firstname]"
          id="ContactFormFirstName"
          placeholder="First Name"
          value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
          class="placeholder-black placeholder-opacity-60 text-xs font-baskerville bg-transparent tracking-md h-2-4 leading-none flex-1 mr-2-5 border-b border-black w-full">
      </div>

      <div class="w-1/2 mx-0-8 sm:mx-1-2">
        <input type="text"
          name="contact[Lastname]"
          id="ContactFormLastName"
          placeholder="Last Name"
          value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
          class="placeholder-black placeholder-opacity-60 text-xs font-baskerville bg-transparent tracking-md h-2-4 leading-none flex-1 mr-2-5 border-b border-black w-full">
      </div>
    </div>
    <div class="input-group mb-2-5 w-full items-end {% if form.errors %} input-group--error{% endif %}">
        <input type="email" name="contact[email]" id="{{ formId }}-email"
            class="placeholder-black placeholder-opacity-60 -mt-0-1 text-xs font-baskerville bg-transparent tracking-md h-2-4 w-full leading-none  mr-2-5 border-b border-black"
            value="{{ form.email }}" placeholder="Email"
            aria-label="Email" aria-required="true" required
            autocorrect="off" autocapitalize="off" {% if form.errors %} aria-invalid="true"
            aria-describedby="{{ formId }}-email-error" data-form-status {% endif %}>
    </div>
    <span class="flex items-center justify-center">
        <button type="submit" class="btn text-xs font-condensed bg-black flex justify-center items-center text-white border border-black font-bold uppercase w-11-5 hover:bg-transparent hover:text-black transition-fast" name="Subscribe">
            <span class="tracking-md leading-none block pt-1-4 pb-0-8 -mt-0-2">Subscribe</span>
        </button>
    </span>
    {% if form.errors contains 'email' %}
        <span id="{{ formId }}-email-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            {% include 'icon-error' %}
            <span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }}
                {{ form.errors.messages['email'] }}.</span>
        </span>
    {% endif %}
{% endform %}{% endcomment %}
<div style="margin:0 auto;" class="pxFormGenerator" id="OUpmUKcVxTQIayU33frBqg"></div>
