{%- assign current_variant = product.selected_or_first_available_variant -%}
{% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true', class: 'max-w-40 relative z-1' %}
  <noscript>
    <select name="id">
      {% for variant in product.variants %}
        <option
          {% if variant == current_variant %}selected="selected"{% endif %}
          {% unless variant.available %}disabled="disabled"{% endunless %}
          value="{{ variant.id }}">
            {{ variant.title }}
        </option>
      {% endfor %}
    </select>
  </noscript>
  <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js hidden">
    {% for variant in product.variants %}
      <option value="{{ variant.id }}"
        {%- if variant == current_variant %} selected="selected" {%- endif -%}
      >
        {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
      </option>
    {% endfor %}
  </select>
  <!-- <label for="Quantity">{{ 'products.product.quantity' | t }}</label> -->
  <input type="number" id="Quantity" name="quantity" value="1" min="1"  pattern="[0-9]*" class="hidden">

  {% unless product.metafields.accentuate.age_restriction %}
    <button
      type="submit"
      name="add"
      data-submit-button
      {% unless current_variant.available %}disabled="disabled"{% endunless %} class="w-full pt-0-8 pb-0-2 text-center text-white bg-black transition-fast text-base font-bold font-condensed uppercase transition-fast">
        <span data-submit-button-text class="flex items-center justify-center">
          {% if current_variant.available %}
            <span>add to cart</span><span class="pl-0-6 -mt-0-4">+</span>
          {% else %}
            sold out
          {% endif %}
        </span>
    </button>
  {% endunless %}

{% endform %}
