{%- assign giftCard = false -%}
{%- if product.collections.size > 0 -%}
  {%- for collection in product.collections -%}
  {%- if collection.handle contains 'gift-card' -%}
    {%- assign giftCard = true -%}
  {%- endif -%}
  {%- endfor -%}
{%- endif -%}
{%- if product.price > 0 -%}
  <div class="product-block">
    <div class="relative image mb-2-5 bg-white overflow-hidden flex items-center">
      <a href="{{product.url}}" class="absolute inset-0 z-3"></a>
      <div class="relative flex flex-col justify-center {% if product.handle contains 'gift' %}min-h-25 px-2 py-2-6{% endif %} w-full">
        {%- if giftCard -%}
          <img src="{{product.featured_image | img_url: '800x' }}" class="absolute inset-0 bg-cover bg-center bg-no-repeat m-auto w-9/12" />
        {%- else -%}
        {%- if product.images.size > 1 -%}
          {% comment %}<img src="{{product.images[1] | img_url: '800x' }}" class="absolute inset-0 bg-cover bg-center bg-no-repeat m-auto hover-image" />{% endcomment %}

          <div class="absolute inset-0 bg-cover bg-center bg-no-repeat hover-image z-1" style="background-image: url('{{product.images[1] | img_url: '800x' }}')"></div>
        {%- endif -%}
        {% comment %}<img src="{{product.featured_image | img_url: '800x' }}" class="{% if product.images.size > 1 %}main-image{% else %} zoom{% endif %} hidden {% if product.handle contains 'gift' %}px-3{% endif %} {% if product.images.size == 1 %}zoom{% endif %}"/>{% endcomment %}
        <div class="absolute inset-0 bg-cover bg-center bg-no-repeat z-0 {% if product.images.size > 1 %}main-image{% else %} zoom{% endif %} w-full" style="background-image: url('{{product.featured_image | img_url: '800x'}}')"></div>
        {%- endif -%}
      </div>
      <div class="absolute bottom-0 inset-x-0 z-4 product-form">
        {% include 'product-form' %}
      </div>
    </div>

    <div class="pl-2">
      <h4 class="font-condensed leading-none mb-2 text-xl md:text-lg ml:text-xl text-black tracking-lg uppercase font-bold">{{product.title}}</h4>
      <a href="{{product.url}}" class="link">
        <div class="flex items-center font-condensed text-base tracking-md leading-none">
          <!-- <span class="-mt-0-6 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
          <span class="-mt-0-6 mr-1-2"><span class="flex w-2 h-0-1 bg-black"></span></span>
          {%- assign selectPrice = current_variant.price -%}
          <span class="text">{{ selectPrice | money }}</span>
        </div>
      </a>
    </div>
  </div>
{%- endif -%}
