<section data-section-id="{{ section.id }}" data-section-type="collection-link" class="relative collection-link">
  <div class="relative z-1 mx-auto pb-5">
    <div class="flex flex-wrap relative {% if section.settings.position contains 'right' %}flex-row-reverse{% endif %}">
      <!-- <div class="image w-full md:w-1/2 relative">
        <img src="{{section.settings.image | img_url: '1000x'}}" />
      </div> -->
      <div class="image w-full md:w-1/2 relative">
        <img src="{{section.settings.image | img_url: '1000x'}}" class="block sm:hidden" />
        <div class="bg-cover bg-center bg-no-repeat h-72 sm:block hidden" style="background-image: url('{{section.settings.image | img_url: '1200x'}}')"></div>
      </div>

      <div class="max-w-container mx-auto md:absolute inset-0 flex {% if section.settings.position contains 'right' %}justify-start {% else %} justify-end {% endif %} md:py-0 py-6">
        <div class="flex items-center justify-center w-full md:w-1/2 text-center {% if section.settings.bg_colour %}text-white{% endif %} px-2-5 md:px-6 ml:px-11">
          <div>
            {%- if section.settings.title != blank -%}
              <h3 class="font-condensed font-bold text-2xl tracking-xl mb-4-5 uppercase text-center">{{section.settings.title}}</h3>
            {%- endif -%}

            {%- if section.settings.content != blank -%}
              <div class="rte">
                {{ section.settings.content }}
              </div>
            {%- endif -%}

            {%- if section.settings.link != blank and section.settings.link_label != blank -%}
              <div class="flex justify-center pt-4-5">
                <a href="{{section.settings.link}}" class="link text-center">
                  <div class="flex items-center font-condensed text-md tracking-md leading-none uppercase">
                    <!-- <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                    <span class="-mt-0-4 mr-1-2"><span class="flex w-2 h-0-1 {% if section.settings.bg_colour %}bg-white{% else %}bg-white{% endif %}"></span></span>
                    <span class="text">{{ section.settings.link_label }}</span>
                  </div>
                </a>
              </div>
            {%- endif -%}
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="background-dark absolute inset-0"></div>
</section>
