{%- if product.metafields.accentuate.purchase_products != blank -%}
  <section  id="productsRecommended" class="lity-hide">
    <button class="lity-close text-black w-4 h-4 flex justify-center items-center float-right mb-1-2 sm:p-0 pt-1-2 pr-1-2" type="button" aria-label="Close (Press escape to close)" data-close-lity>{%- include 'icon', type: 'close', class: 'text-black w-1-6 h-1-6' -%}</button>
    <div class="max-w-container mx-auto px-2-5 md:px-6 ml:px-4 bg-white py-6">
      <h3 class="uppercase font-baskerville text-2xl text-center mb-6 mb-3">Customers like you also enjoyed these products</h3>
      <div class="flex flex-wrap md:-mx-1">
        {%- assign allProducts = product.metafields.accentuate.purchase_products | split: '|' -%}
        {%- for productHandle in allProducts -%}
          {%- assign product = all_products[productHandle] -%}
          <div class="w-1/2 md:w-1/3 mb-3 lg:mb-0 px-1-6 lg:px-1">
              <div class="product-block">
                <div class="relative image mb-2-5 bg-white overflow-hidden flex items-center">
                  <a href="{{product.url}}" class="absolute inset-0 z-3"></a>
                  <div class="relative flex flex-col justify-center {% if product.handle contains 'gift' %}min-h-25 px-2 py-2-6{% endif %} w-full">

                    {%- if product.images.size > 1 -%}
                      {% comment %}<img src="{{product.images[1] | img_url: '800x' }}" class="absolute inset-0 bg-cover bg-center bg-no-repeat m-auto hover-image" />{% endcomment %}

                      <div class="absolute inset-0 bg-cover bg-center bg-no-repeat hover-image z-1" style="background-image: url('{{product.images[1] | img_url: '800x' }}')"></div>
                    {%- endif -%}
                    {% comment %}<img src="{{product.featured_image | img_url: '800x' }}" class="{% if product.images.size > 1 %}main-image{% else %} zoom{% endif %} hidden {% if product.handle contains 'gift' %}px-3{% endif %} {% if product.images.size == 1 %}zoom{% endif %}"/>{% endcomment %}
                    <div class="absolute inset-0 bg-cover bg-center bg-no-repeat z-0 {% if product.images.size > 1 %}main-image{% else %} zoom{% endif %} w-full" style="background-image: url('{{product.featured_image | img_url: '800x'}}')"></div>
                  </div>
                  <div class="absolute bottom-0 inset-x-0 z-4 product-form">
                    {% include 'product-form' %}
                  </div>
                </div>

                <div class="pl-2">
                  <h4 class="font-condensed leading-none mb-2 text-md md:text-lg ml:text-xl text-black tracking-lg uppercase font-bold">{{product.title}}</h4>
                  <a href="{{product.url}}" class="link">
                    <div class="flex items-center font-condensed text-base tracking-md leading-none">
                      <!-- <span class="-mt-0-6 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                      <span class="-mt-0-6 mr-1-2"><span class="flex w-2 h-0-1 bg-black"></span></span>
                      <span class="text">{{ product.price | money }}</span>
                    </div>
                  </a>
                </div>
              </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </section>
{%- elsif product.collections.size > 0 -%}
  {%- for collection in product.collections -%}
    {%- if forloop.first -%}
    <section id="productsRecommended" class="lity-hide">
      <button class="lity-close text-black w-4 h-4 flex justify-center items-center float-right mb-1-2 sm:p-0 pt-1-2 pr-1-2" type="button" aria-label="Close (Press escape to close)" data-close-lity>{%- include 'icon', type: 'close', class: 'text-black w-1-6 h-1-6' -%}</button>

      <div class="max-w-container mx-auto px-2-5 md:px-6 ml:px-4 bg-white py-6">
        <h3 class="uppercase font-baskerville text-2xl text-center mb-6 mb-3">Customers like you also enjoyed these products</h3>

        <div class="flex flex-wrap md:-mx-1">
          {%- if collection.metafields.accentuate.collection != blank -%}
            {%- assign allProducts = collections[collection.metafields.accentuate.collection].products -%}
          {%- else -%}
            {%- assign allProducts = collection.products -%}
          {%- endif -%}

          {%- for product in allProducts limit: 3 -%}
          <div class="w-1/2 mb-3 lg:mb-0 md:w-1/3 px-1-6 lg:px-1">
              <div class="product-block">
                <div class="relative image mb-2-5 bg-white overflow-hidden flex items-center">
                  <a href="{{product.url}}" class="absolute inset-0 z-3"></a>
                  <div class="relative flex flex-col justify-center {% if product.handle contains 'gift' %}min-h-25 px-2 py-2-6{% endif %} w-full">

                    {%- if product.images.size > 1 -%}
                      {% comment %}<img src="{{product.images[1] | img_url: '800x' }}" class="absolute inset-0 bg-cover bg-center bg-no-repeat m-auto hover-image" />{% endcomment %}

                      <div class="absolute inset-0 bg-cover bg-center bg-no-repeat hover-image z-1" style="background-image: url('{{product.images[1] | img_url: '800x' }}')"></div>
                    {%- endif -%}
                    {% comment %}<img src="{{product.featured_image | img_url: '800x' }}" class="{% if product.images.size > 1 %}main-image{% else %} zoom{% endif %} hidden {% if product.handle contains 'gift' %}px-3{% endif %} {% if product.images.size == 1 %}zoom{% endif %}"/>{% endcomment %}
                    <div class="absolute inset-0 bg-cover bg-center bg-no-repeat z-0 {% if product.images.size > 1 %}main-image{% else %} zoom{% endif %} w-full" style="background-image: url('{{product.featured_image | img_url: '800x'}}')"></div>
                  </div>
                  <div class="absolute bottom-0 inset-x-0 z-4 product-form">
                    {% include 'product-form' %}
                  </div>
                </div>

                <div class="pl-2">
                  <h4 class="font-condensed leading-none mb-2 text-md md:text-lg ml:text-xl text-black tracking-lg uppercase font-bold">{{product.title}}</h4>
                  <a href="{{product.url}}" class="link">
                    <div class="flex items-center font-condensed text-base tracking-md leading-none">
                      <!-- <span class="-mt-0-6 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                      <span class="-mt-0-6 mr-1-2"><span class="flex w-2 h-0-1 bg-black"></span></span>
                      <span class="text">{{ product.price | money }}</span>
                    </div>
                  </a>
                </div>
              </div>
          </div>

          {%- endfor -%}
        </div>
      </div>
    </section>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
