<div class="team">
  <div class="max-w-container mx-auto px-16-6 pt-5 pb-13">
    <div class="flex flex-wrap {% if block.settings.position contains 'right' %}flex-row-reverse{% endif %}">
      <div class="image w-full md:w-1/2 relative {% if block.settings.position contains 'right' %}pl-9 {% else %}pr-9{% endif %}" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-offset="100">
        <img src="{{block.settings.image | img_url: '800x'}}" />
      </div>

      <div class="flex w-full md:w-1/2 items-center {% if block.settings.position contains 'right' %}justify-start {% else %}justify-end{% endif %}" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-offset="100">
        <div class="{% if block.settings.bg_colour contains 'dark' %}text-white{% else %}text-black{% endif %}">
          <div class="text-left">
            {%- if block.settings.title != blank -%}
              <h3 class="font-condensed font-bold tracking-xl text-2xl mb-2 uppercase leading-normal">{{block.settings.title}}</h3>
            {%- endif -%}

            <div class="rte">
              {{block.settings.content}}
            </div>

            {%- if block.settings.link != blank and block.settings.link_label != blank -%}
              <div class="flex pt-4-5 {% if block.settings.alignment contains 'left' %}justify-start{% else %}justify-center{% endif %}">
                <a href="{{product.url}}" class="link text-center">
                  <div class="flex items-center font-condensed text-md tracking-md leading-none uppercase">
                    <!-- <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                    <span class="-mt-0-4 mr-1-2"><span class="flex w-2 h-0-1 {% if block.settings.bg_colour contains 'dark' %}bg-white{% else %}bg-black{% endif %}"></span></span>
                    <span class="text">{{ block.settings.link_label }}</span>
                  </div>
                </a>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
