{%- for block in section.blocks -%}
  <div class="flex items-center {% unless forloop.last %}mr-2 mlg:mr-8{% endunless %}">
    <div {% unless block.settings.icon contains 'certified' %}class="-mt-0-4"{% endunless %}>{%- include 'icon-footer', type: block.settings.icon -%}</div>
    <h4 class="text-md mlg:text-2lg uppercase font-condensed font-bold tracking-mlg text-white ml-1-7 uppercase leading-tightest">{{- block.settings.text -}}</h4>
  </div>
{%- endfor -%}
