<div class="team-heading bg-white">
  <div class="max-w-container mx-auto text-center text-black px-16-6 py-8">
    <div class="px-4 tablet:px-19" data-aos="fade-up" data-aos-delay="10" data-aos-duration="500" data-aos-offset="20">
      {%- if block.settings.title != blank -%}
        <h3 class="font-baskerville font-normal text-2-3xl mb-4 uppercase leading-none">{{block.settings.title}}</h3>
      {%- endif -%}

      <div class="rte">
        {{block.settings.content}}
      </div>
    </div>
  </div>
</div>
