<div class="{% if block.settings.bg_colour contains 'grey' %}bg-grey-200{% else %}bg-{{block.settings.bg_colour}}{% endif %}">
    {%- if block.settings.fullwidth -%}
      <div class="flex flex-col relative {% if block.settings.position contains 'right' %}md:flex-row-reverse{% endif %}
      {% unless block.settings.bg_colour contains 'dark' %}md:py-6 py-3 md:flex-row {% endunless %}">
        <div class="image w-full md:w-1/2 relative">
          <img src="{{block.settings.image | img_url: '1000x'}}" />
        </div>

        <div class="max-w-container mx-auto md:absolute inset-0 flex md:py-0 py-8 {% if block.settings.position contains 'right' %}justify-start{% else %}justify-end{% endif %}">
          <div class="flex items-center justify-center w-full md:w-1/2 text-center {% if block.settings.bg_colour %}text-white{% endif %} px-2-5 md:px-4 ml:px-11" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-offset="200">
            <div class="text-{{block.settings.alignment}} {% if block.settings.bg_colour contains 'dark' %}text-white{% else %}text-black{% endif %}">
              {%- if block.settings.title != blank -%}
                <h3 class="font-condensed font-bold text-2-3xl mb-3 uppercase tracking-xl leading-normal">{{block.settings.title}}</h3>
              {%- endif -%}

              <div class="rte">
                {{block.settings.content}}
              </div>

              {%- if block.settings.link != blank and block.settings.link_label != blank -%}
                <div class="flex pt-4-5 {% if block.settings.alignment contains 'left' %}justify-start{% else %}justify-center{% endif %}">
                  <a href="{{block.settings.link}}" class="link text-center">
                    <div class="flex items-center font-condensed text-md tracking-md leading-none uppercase">
                      <!-- <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                      <span class="-mt-0-4 mr-1-2"><span class="flex w-2 h-0-1 {% if block.settings.bg_colour contains 'dark' %}bg-white{% else %}bg-black{% endif %}"></span></span>
                      <span class="text">{{ block.settings.link_label }}</span>
                    </div>
                  </a>
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="flex flex-col-reverse relative max-w-container mx-auto px-2-5 md:px-4 ml:px-12 items-center {% if block.settings.position contains 'right' %} md:flex-row-reverse {% else %} md:flex-row{% endif %}
      {% unless block.settings.bg_colour contains 'dark' %} py-3 md:py-6{% endunless %}">
        <div class="image w-full md:w-1/2 relative md:px-3 mlg:px-4 md:mt-0 mt-3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="300" data-aos-offset="10">
          <img src="{{block.settings.image | img_url: '800x'}}" />
        </div>

        <div class="flex w-full md:w-1/2 md:px-3 mlg:px-4 {% if block.settings.position contains 'right' %}justify-start mlg:pl-8 {% else %}justify-end{% endif %}" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-offset="200">
          <div class="{% if block.settings.bg_colour contains 'dark' %}text-white{% else %}text-black{% endif %}">
            <div class="text-{{block.settings.alignment}}">
              {%- if block.settings.title != blank -%}
                <h3 class="font-baskerville font-normal text-2-3xl mb-3 uppercase leading-none">{{block.settings.title}}</h3>
              {%- endif -%}

              <div class="rte">
                {{block.settings.content}}
              </div>

              {%- if block.settings.link != blank and block.settings.link_label != blank -%}
                <div class="flex pt-4-5 {% if block.settings.alignment contains 'left' %}justify-start{% else %}justify-center{% endif %}">
                  <a href="{{block.settings.link}}" class="link text-center">
                    <div class="flex items-center font-condensed text-md tracking-md leading-none uppercase">
                      <!-- <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                      <span class="-mt-0-5 mr-1-2"><span class="flex w-2 h-0-1 {% if block.settings.bg_colour contains 'dark' %}bg-white{% else %}bg-black{% endif %}"></span></span>
                      <span class="text">{{ block.settings.link_label }}</span>
                    </div>
                  </a>
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
</div>
