{{article.metafields.accentuate.featured_image.src}} <br />

{%- if article.metafields.accentuate.featured_image != blank -%}
  {% assign test = article.metafields.accentuate.featured_image | first %}
  Here :::
  {{test.cloudinary_src}}
  <div class="mb-3 max-w-container mx-auto px-16-5 -mt-10">
    <img src="{{featuredImage.cloudinary_src}}" />
  </div>
{%- endif -%}

{% assign img = article.metafields.accentuate.article_main_image | first %}
<img src="{{ img.cloudinary_src }}" alt="{{ img.alt }}"/>
