<div class="image md:mb-0 mb-3" data-aos="fade-up" data-aos-delay="10" data-aos-duration="100" data-aos-offset="20">
  <img src="{{block.settings.image | img_url: '1600x' }}" class="w-full" />
</div>
