{%- if collection.metafields.accentuate.show_builder_section -%}
<section data-section-type="collection-build" class="collection-build bg-dark">
  <div class="relative z-1 mx-auto">
    <div class="flex flex-wrap relative {% if collection.metafields.accentuate.builder_position contains 'right' %}flex-row-reverse{% endif %}">
      <div class="image w-full md:w-1/2 relative">
        {%- if collection.metafields.accentuate.builder_image_mobile != blank -%}
          {%- assign mobileImage = collection.metafields.accentuate.builder_image_mobile | first -%}
          <img src="{{mobileImage.cloudinary_src}}" class="block sm:hidden" />
        {%- elsif collection.metafields.accentuate.builder_image != blank -%}
          {%- assign mobileImage = collection.metafields.accentuate.builder_image | first -%}
          <img src="{{mobileImage.cloudinary_src}}" class="block sm:hidden" />
        {%- endif -%}

        {%- if collection.metafields.accentuate.builder_image != blank -%}
          {%- assign bgImage = collection.metafields.accentuate.builder_image | first -%}
          <div class="bg-cover bg-center bg-no-repeat h-72 sm:block hidden" style="background-image: url('{{bgImage.cloudinary_src}}')"></div>
        {%- endif -%}

      </div>

      <div class="max-w-container mx-auto md:absolute inset-0 flex md:py-0 py-6 {% if collection.metafields.accentuate.builder_position contains 'right' %}justify-start{% else %}justify-end{% endif %}">
        <div class="flex md:flex-row flex-col items-center justify-center w-full md:w-1/2 text-center text-white px-2-5 md:px-6 ml:px-11">
          <div>
            {%- if collection.metafields.accentuate.builder_title != blank -%}
              <h3 class="font-condensed font-bold text-2xl tracking-xl text-white mb-4-5 uppercase text-center ">{{collection.metafields.accentuate.builder_title}}</h3>
            {%- endif -%}

            {%- if collection.metafields.accentuate.builder_table != blank -%}
              <div class="border-2 border-white w-31-4 py-2 px-3 collection-build-table">
                {%- if collection.metafields.accentuate.builder_table_title != blank -%}
                  <p class="font-baskerville tracking-md text-sxs text-white leading-tight mb-2 text-center">{{collection.metafields.accentuate.builder_table_title}}</p>
                  <hr class="border-white w-full mb-1-1" />
                {% endif %}
                <div class="rte">
                  {{collection.metafields.accentuate.builder_table}}
                </div>
              </div>
            {% endif %}

            {%- if section.blocks.size > 0 -%}
              <div class="border-2 border-white w-31-4 py-2 px-3">
                {%- if section.settings.table_title != blank -%}
                  <p class="font-baskerville tracking-md text-sxs text-white leading-tight mb-2 text-center">{{section.settings.table_title}}</p>
                {%- endif -%}
                <hr class="border-white w-full mb-1-1" />
                <div>
                  {%- for block in section.blocks -%}
                    <div class="flex text-white">
                      <p class="w-1/2 font-baskerville font-sxs tracking-md leading-tight leading-looser text-left">{{block.settings.title}}</p>
                      <p class="w-1/2 text-right font-baskerville font-sxs tracking-md leading-tight leading-looser">{{block.settings.price}}</p>
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            {%- endif -%}

            {%- if collection.metafields.accentuate.builder_link != blank and collection.metafields.accentuate.builder_link_label != blank -%}
              <div class="flex justify-center pt-4-5">
                <a href="/products/{{collection.metafields.accentuate.builder_link}}" class="link text-white text-center">
                  <div class="flex items-center font-condensed text-md tracking-md leading-none uppercase">
                    {% comment %}<span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span>{% endcomment %}
                    <span class="-mt-0-4 mr-1-2"><span class="flex w-2 h-0-1 bg-white"></span></span>
                    <span class="text">{{ collection.metafields.accentuate.builder_link_label }}</span>
                  </div>
                </a>
              </div>
            {%- endif -%}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{%- endif -%}
