{%- assign social_accounts = 'facebook, linkedin, pinterest, instagram,' | split: ', ' -%}
<ul class="flex items-center h-2-5">
  {% for social in social_accounts %}
    {%- assign social_handle = social | handleize -%}
    {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
    {% if settings[social_link] != blank %}
      <li class="{% unless forloop.last %}mr-0-7{% endunless %}">
        <a href="{{ settings[social_link] }}" target="_blank" title="{{ social_accounts }}" class="flex justify-center items-center hover:bg-opacity-70 bg-white text-black bg-opacity-50 w-2-5 h-2-5 rounded-full transition-fast">
          {%- include 'social-icons', type: social_handle , class: 'w-1-3 h-1-3' -%}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
