<svg class="{{class}} fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
{%- case type -%}
  {%- when 'facebook' -%}
    <path d="M17.9,0H14.64C11.39,0,9.36,2,9.36,5.69V9H5.69V13H9.36V24h4.47V13h3.66L17.9,9H13.83V5.69c-.41-.81,0-2,2-2h2.45V0Z"/>
  {%- when 'linkedin' -%}
    <path d="M5.37,7.5H0V24H5.37Z"/><path d="M20,7.69l-.18-.05-.21,0a4.67,4.67,0,0,0-1-.1,7.47,7.47,0,0,0-5.76,3.15V7.5H7.5V24h5.37V15s4.05-5.65,5.76-1.5V24H24V12.87A5.36,5.36,0,0,0,20,7.69Z"/><path d="M2.62,5.25A2.63,2.63,0,1,0,0,2.63,2.63,2.63,0,0,0,2.62,5.25Z"/>
  {%- when 'instagram' -%}
    <path d="M16.5,0h-9A7.5,7.5,0,0,0,0,7.5v9A7.5,7.5,0,0,0,7.5,24h9A7.5,7.5,0,0,0,24,16.5v-9A7.5,7.5,0,0,0,16.5,0Zm5.25,16.5a5.26,5.26,0,0,1-5.25,5.25h-9A5.26,5.26,0,0,1,2.25,16.5v-9A5.25,5.25,0,0,1,7.5,2.25h9A5.26,5.26,0,0,1,21.75,7.5Z"/><path d="M12,6a6,6,0,1,0,6,6A6,6,0,0,0,12,6Zm0,9.75A3.75,3.75,0,1,1,15.75,12,3.75,3.75,0,0,1,12,15.75Z"/><path d="M18.45,6.35a.8.8,0,1,0-.8-.8A.8.8,0,0,0,18.45,6.35Z"/>
  {%- when 'twitter' -%}
    <path d="M24 4.3c-.91.45-1.81.45-2.72.91a4.68 4.68 0 002.27-2.72 22.21 22.21 0 01-3.17 1.36 5.15 5.15 0 00-3.63-1.36 5 5 0 00-5 5v.91a13.4 13.4 0 01-10-5 4.07 4.07 0 00-.45 2.26 4.76 4.76 0 002.32 4.08c-.9 0-1.36-.46-2.26-.46A4.87 4.87 0 005 13.81H2.72A4.49 4.49 0 007.25 17a9.57 9.57 0 01-5.89 2.27H0a13.75 13.75 0 007.25 2.26A13.59 13.59 0 0020.83 7.92v-.45A10.53 10.53 0 0024 4.3z"/>
{%- endcase -%}
</svg>
