<!-- /snippets/social-sharing.liquid -->
<ul class="social-sharing flex -mx-0-3">
  {% if settings.share_facebook %}
    <li class="mx-0-3">
      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" class="w-2-5 h-2-5 flex items-center justify-center text-black text-opacity-50 bg-black bg-opacity-25 rounded-full hover:bg-opacity-50 transition-fast transition-fast">
        {% include 'social-icons', type: 'facebook', class: 'w-1-3 h-1-3' %}
      </a>
    </li>
  {% endif %}

  {% if settings.share_twitter %}
    <li class="mx-0-3 text-black">
      <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}" class="w-2-5 h-2-5 flex items-center justify-center text-black text-opacity-50 hover:bg-opacity-50 transition-fast bg-black bg-opacity-25 rounded-full transition-fast">
        {% include 'social-icons', type: 'twitter', class: 'w-1-3 h-1-3' %}
      </a>
    </li>
  {% endif %}

  {% if settings.share_pinterest %}
    <li>
      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}" class="btn btn--small btn--share share-pinterest">
        {% include 'icon-pinterest' %}
      </a>
    </li>
  {% endif %}

</ul>
