.c-case-studies {
	overflow: hidden;
	background: color("light-background");
	&.blue {
		background: color("light-brand");
	}

	&.grey {
		background: color("light-background");
	}

	.c-case-study-block &,
	.c-service-block & {
		padding: 56px 0 46px;
		@include mq("tablet") {
			padding: $unit-large 0 64px;
		}
	}

	.c-case-studies-block & {
		padding: 54px 0 120px;
		@include mq("tablet") {
			padding: 74px 0 228px;
		}
	}

	&__container {
		@include mq("laptopSmall") {
			margin: 0 auto;
			max-width: 1068px;
		}

		&:nth-chlid(1) {
			background-color: aqua;
		}
	}

	&__top-content {
		margin: 0 auto;
		margin-bottom: 38px;
		text-align: center;
		@include mq(tablet) {
			margin-bottom: $unit-large;
			max-width: 604px;
		}
		@include mq(tabletMeduim) {
			max-width: 844px;
		}
		@include mq(tabletWide) {
			max-width: 964px;
		}
		.page-template-page-about & {
			margin-bottom: 48px;
			@include mq(mobileLandscape) {
				margin-bottom: 60px;
			}
		}
	}

	&__heading {
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 0;
		color: color("teritory");
		font-family: $secondary;
		font-weight: 400;
		line-height: 40px;
		@include mq(tablet) {
			line-height: 50px;
			margin-bottom: $unit-tiny;
		}
	}

	&__intro {
		margin-bottom: 0;
		font-weight: normal;
		font-size: 20px;
		line-height: 28px;
		font-weight: 400;
		color: color("teritory");
		opacity: 0.65;
		@include mq(tablet) {
			font-size: 24px;
			line-height: 35px;
		}
		p {
			margin-bottom: 0;
		}
	}
}

.c-case-study {
	position: relative;
	.c-case-studies-block & {
		padding: 24px 0 28px;
		@include mq(tablet) {
			padding: 48px 0;
		}

		&:last-child {
			padding-bottom: 0;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.page-template-page-work & {
			padding: 0;
			@include mq(tablet) {
				padding: 0 30px;
			}
		}
	}

	&__intro {
		opacity: 1;
		padding-bottom: 32px;
		@include mq(tablet) {
			padding-bottom: 0;
		}
	}

	&__intro-home-page {
		opacity: 0.65;
	}

	&__intro,
	&__intro-home-page {
		@include font-size(size("base"));
		color: color("content");
		font-weight: 400;
		text-align: center;
		@include mq(tablet) {
			line-height: 30px;
			text-align: left;
		}
		p {
			margin-bottom: 0;
		}
	}

	&__title {
		color: color("brand");
		font-weight: 400;
		line-height: 35px;
		margin-bottom: 10px;
		text-align: center;
		@include easeOut;
		@include mq(tablet) {
			margin-bottom: 14px;
			line-height: 45px;
			text-align: left;
		}
	}

	.c-case-study-block &,
	.c-service-block & {
		&__title {
			color: color("teritory");
			margin-top: 48px;
		}
	}

	&__img-wrap {
		position: relative;
		border-radius: $unit-tiny;
		outline: 0;
		border: 0;
		filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
	}
	&__img-wrap-two {
		overflow: hidden;
		outline: 0;
		border: 0;
		border-radius: $unit-tiny;
		.home & {
			&:hover img {
				transform: scale(1.03);
				transform-origin: 50% 50%;
			}
		}
	}

	&__img {
		display: none;
		position: relative;
		z-index: 1;
		border-radius: $unit-tiny;
		transition: transform 1s ease-out;
		@include mq(tablet) {
			display: block;
		}
	}

	&__img-two {
		display: block;
		position: relative;
		z-index: 1;
		border-radius: $unit-tiny;
		transition: transform 1s ease-out;
		@include mq(tablet) {
			display: none;
		}
	}

	&__btn-wrap {
		display: flex;
		flex-flow: row;
		align-items: flex-start;
		padding-top: 32px;
		padding-bottom: 32px;
		@include mq(tablet) {
			display: block;
			padding-bottom: 0;
			padding-top: 40px;
		}
		.c-case-study-block &,
		.c-service-block & {
			padding-top: 34px;
		}
	}
}
