.c-directors {
	position: relative;
	overflow: hidden;
	background: color("light-brand");
	padding: $unit-large * 1.25 0 72px;
	@include mq(tablet) {
		padding: 96px 0 78px;
	}

	.home & {
		padding: $unit-large * 1.25 0;
		@include mq(tablet) {
			padding: 54px 0;
		}
	}

	&--vertical {
		padding: $unit-large * 1.25 0 54px;
		@include mq(tabletSmall) {
			padding: 76px 0 62px;
		}
		.c-director__name {
			text-align: center;
			@include mq(tablet) {
				text-align: left;
			}
		}
	}

	&__top-content {
		margin: 0 auto;
		margin-bottom: 38px;
		text-align: center;
		@include mq(tablet) {
			margin-bottom: $unit-large;
			max-width: 604px;
		}
		@include mq(tabletMeduim) {
			max-width: 834px;
		}
		.page-template-page-about & {
			margin-bottom: 48px;
			@include mq(mobileLandscape) {
				margin-bottom: 60px;
			}
			@include mq(tabletMeduim) {
				max-width: 604px;
			}
		}
	}

	&__heading {
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 0;
		color: color("teritory");
		font-family: $secondary;
		font-weight: 400;
		line-height: 60px;
		@include mq(tablet) {
			line-height: 80px;
			margin-bottom: $unit-tiny;
		}
	}

	&__intro {
		margin-bottom: 0;
		font-weight: normal;
		font-size: 20px;
		line-height: 28px;
		font-weight: 400;
		color: color("teritory");
		opacity: 0.65;
		p {
			margin-bottom: 0;
		}
		.home & {
			@include mq(tablet) {
				font-size: 24px;
				line-height: 35px;
			}
		}
	}

	&__title {
		margin-bottom: 8px;
		color: color("brand");
		letter-spacing: 0.06em;
		text-transform: uppercase;
		line-height: 28px;
		font-weight: bold;
		@include mq(tablet) {
			line-height: 24px;
			margin-bottom: 10px;
		}
	}

	&__btn {
		@include easeOut;
		margin-top: 0;
		@include mq(tablet) {
			margin-top: 24px;
		}
	}
}

.team-member {
	margin-top: 0;
	@include mq(tablet) {
		margin-top: $unit-tiny;
	}
	@include mq(tabletLarge) {
		margin-top: 0;
	}
}

.c-director {
	max-width: 872px;
	margin: 0 auto $unit-large;
	padding-bottom: 0px;
	@include mq(tablet) {
		margin: 0 auto 40px;
	}

	&--horizontal {
		position: relative;
		margin-bottom: 48px;
		@include mq(tablet) {
			max-width: 872px;
			margin-bottom: 32px;
		}
	}

	&__img--wrap {
		position: relative;
		margin-bottom: $unit;

		@include mq(tablet) {
			margin-bottom: $unit-small;
		}
		.c-director--horizontal:hover & ~ .c-director__content {
			@include mq(tablet) {
				background-color: rgba(color("brand"), 0.8);
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&__img-wrap-two {
		position: relative;
		overflow: hidden;
		z-index: 1;
		border-radius: $unit-tiny;
		margin: 0 auto;
		filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
		@include mq($until: tablet) {
			&:hover img {
				transform: scale(1.02);
				transform-origin: 50% 50%;
			}
		}
		.c-director--vertical & {
			&:hover img {
				transform: scale(1.02);
				transform-origin: 50% 50%;
			}
		}
	}

	&__img {
		filter: grayscale(100%);
		position: relative;
		margin: 0 auto;
		border-radius: $unit-tiny;
		height: auto;
		z-index: 1;
		transition: transform 1s ease-out;
		&:hover {
			transform: scale(1.02);
			transform-origin: 50% 50%;
		}
	}

	&__content {
		margin: 0 auto;
		font-family: $primary;
		@include mq(tablet) {
			padding-left: $unit;
		}
		.c-director--horizontal & {
			@include mq(tablet) {
				visibility: hidden;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 2;
				display: flex;
				flex-flow: column;
				align-items: center;
				justify-content: center;
				padding: 0 $unit-small * 1.75;
				background-color: rgba(color("brand"), 0);
				border-radius: $unit-tiny;
				color: color("white");
				transition: 0.5s;
				opacity: 0;
				.page-template-page-about & {
					padding: 0 $unit-small * 1.75 40px;
					justify-content: flex-end;
				}
			}
		}
	}

	&__name {
		padding-bottom: $unit-tiny;
		color: color("secondary");
		text-align: center;
		font-weight: 400;
		line-height: 35px;
		@include mq(tablet) {
			padding-bottom: $unit-small;
			line-height: 45px;
		}
		.c-director--horizontal & {
			@include mq(tablet) {
				margin-top: 96px;
			}
		}
		.page-template-page-about & {
			margin-top: 0;
		}
	}

	&__position {
		font-style: italic;
	}

	&__name,
	&__position,
	&__intro {
		.c-director--horizontal & {
			@include mq(tablet) {
				color: color("white");
			}
		}
	}

	&__position,
	&__intro {
		@include font-size(size("base"), 25px);
		font-weight: normal;
		text-align: center;
		color: rgba(color("content"), 0.8);
		@include mq(tablet) {
			text-align: left;
			line-height: 28px;
			@include font-size(size("sm"), 28px);
		}
		.c-director--horizontal & {
			@include mq(tablet) {
				text-align: center;
				@include font-size(size("base"), 25px);
			}
		}
	}

	&__intro {
		font-style: normal;
		font-weight: normal;
		text-align: center;
		color: rgba(color("content"), 0.8);
		margin-bottom: 0;
		@include mq(tablet) {
			margin-bottom: 0;
		}
		.c-director--vertical & {
			@include mq(tablet) {
				text-align: left;
			}
		}
	}

	&__social-links {
		display: block;
		text-align: center;
		@include mq(tablet) {
			text-align: left;
		}
		.c-director--horizontal & {
			@include mq(tablet) {
				position: absolute;
				top: 0;
				right: 0;
				color: color("white");
				z-index: 3;
			}
		}
	}

	&__social-link {
		display: inline-block;
		margin: 0 $unit * 1.25 0 0;
		text-decoration: none;
		&:last-child {
			margin-right: 0px;
		}
		&:hover svg {
			color: color("secondary");
		}
		svg {
			width: 24px;
			height: 24px;
			@include easeOut;
		}
		.c-director--horizontal & {
			margin-top: 24px;
			@include mq(tablet) {
				color: color("white");
				margin-right: 24px;
				margin-top: 24px;
			}
		}
	}
}
