.c-enquiry {
	.page-template-page-services & {
		background: color("light-brand");
	}
	.page-template-page-contact & {
		background: color("light-background");
	}

	&__container {
		max-width: 872px;
		margin: 0 auto;
		padding: 32px 0px 56px;
		@include mq(tablet) {
			padding: 86px 0;
		}
	}

	&__content {
		padding-bottom: 28px;
		@include mq(tablet) {
			padding-bottom: 54px;
		}
	}

	&__title-wrap {
		text-align: center;
		@include mq(tablet) {
			text-align: left;
		}
	}

	&__title {
		display: inline-block;
		margin-bottom: $unit-tiny;
		margin-top: 0;
		text-transform: uppercase;
		color: color("secondary");
		font-family: $secondary;
		font-weight: 400;
		line-height: 50px;
		@include easeOut;
		@include mq(tablet) {
			line-height: 80px;
		}
	}

	&__intro-wrap {
		.page-template-page-services & {
			@include mq(tablet) {
				max-width: 642px;
				margin: 0 auto;
			}
		}
		@include mq(tablet) {
			width: 100%;
		}
	}

	&__info {
		@include font-size(size("base"));
		display: inline-block;
		color: color("content");
		font-family: $primary;
		text-align: center;
		margin-top: 8px;
		line-height: 28px;
		@include mq(tablet) {
			@include font-size(size("b"));
			line-height: 35px;
		}
		@include mq(tablet) {
			margin-top: -8px;
			text-align: left;
		}
		.page-template-page-contact & {
			text-align: center;
		}
	}

	.o-layout--form > .o-layout__item {
		&:nth-child(1),
		&:nth-child(3) {
			@include mq(tablet) {
				padding-right: 34px;
			}
		}
	}

	&__btn-wrap {
		padding-top: $unit-small;
		text-align: center;
		@include mq(tablet) {
			text-align: right;
		}
		.page-template-page-services & {
			padding-top: 0;
		}
	}
}
