.c-404 {
	background-color: color("light-background");
	padding: $unit-big 0 200px;

	&__container {
		@include mq(tablet) {
			margin: 0 auto;
			max-width: 845px;
		}
	}

	p {
		text-align: center;
		@include font-size(size("base"));
		color: color("content");
		font-weight: 400;
		line-height: 28px;
		margin-bottom: 0;
	}

	p > a {
		@include easeOut;
		@include font-size(size("base"));
		color: color("brand");
		font-weight: 400;
		line-height: 28px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-align: center;
		color: color("content");
		font-weight: 400;
		line-height: 35px;
	}

	h1 {
		@extend .u-h1;
	}

	h2 {
		@extend .u-h2;
	}

	h3 {
		@extend .u-h3;
	}

	h4 {
		@extend .u-h4;
	}

	h5 {
		@extend .u-h5;
	}

	h6 {
		@extend .u-h6;
	}
}
