.c-footer {
	position: relative;
	background-color: color("secondary");
	&__container {
		padding: $unit 0 0;
		@include mq(tablet) {
			padding: 88px 0 44px;
			max-width: 1068px;
			margin: 0 auto;
		}
	}

	&__left-content {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		@include mq(tablet) {
			display: flex;
			align-items: flex-start;
		}
	}

	&__logo-wrap {
		display: inline-block;
		color: color("white");
		font-size: 0;
		line-height: 0;
	}

	&__logo {
		width: 153px;
		height: 62px;
		@include mq(tablet) {
			width: 212px;
			height: 86px;
		}
		@include easeOut;
		&:hover {
			transform: scale(1.03);
		}
		.home & {
			&:hover {
				transform: scale(1);
			}
		}
	}

	&__email {
		position: relative;
		padding-top: 54px;
		margin-bottom: 10px;
		color: color("brand");
		text-align: center;
		font-style: normal;
		font-weight: 400;
		text-decoration: none;
		@include font-size(size("sm"));
		line-height: 24px;
		&:after {
			content: "";
			position: absolute;
			width: 0;
			height: 1px;
			display: block;
			margin-top: -1px;
			right: 0;
			background: color("brand");
			transition: width 0.4s ease;
		}
		&:hover:after {
			width: 100%;
			left: 0;
			background: color("brand");
		}
		@include mq(tablet) {
			padding-top: 104px;
			text-align: left;
			@include font-size(size("base"));
			line-height: 28px;
		}
	}

	&__address {
		text-align: center;
		@extend %text;
		@include mq(tablet) {
			text-align: left;
		}
		p {
			margin-bottom: 0;
		}
	}

	&__links,
	.c-nav {
		list-style: none;
		margin-bottom: 0;
		display: none;
		@include mq(tablet) {
			display: block;
		}
	}

	.menu-item:first-child {
		display: none;
	}

	li.current-menu-item a {
		color: rgba(color("white"), 1);
	}

	&__link a,
	.menu-item a {
		position: relative;
		text-decoration: none;
		text-align: center;
		@extend %text;
		&:after {
			content: "";
			position: absolute;
			width: 0;
			height: 1px;
			display: block;
			margin-top: -1px;
			right: 0;
			background: color("white");
			transition: width 0.4s ease;
		}
		&:hover:after {
			width: 100%;
			left: 0;
			background: color("white");
		}
	}

	.twitter {
		display: none;
		height: 0;
		width: 0;
		margin: 0;
		padding: 0;
	}

	&__our-partners {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-top: 24px;
		margin: auto;
		max-width: 235px;
		@include mq(tablet) {
			margin-top: 32px;
			display: inline-block;
			text-align: left;
			max-width: none;
		}
	}

	&__title {
		padding-bottom: 10px;
		margin-top: 22px;
		@extend %text-simple;
		@include font-size(size("base"));
		color: rgba(color("white"), 0.4);
		display: none;
		@include mq(tablet) {
			display: inline-block;
		}
	}

	&__icon-wrap {
		@include easeOut;
		&:hover {
			transform: scale(1.05);
		}
	}

	&__icon {
		width: 100%;
		height: auto;
		height: 30px;
		margin-bottom: 34px;
		&:last-child {
			margin-bottom: 28px;
		}
		@include mq(tablet) {
			display: inline-block;
			height: 35px;
			width: auto;
			margin-bottom: 0px;
		}
	}

	&__icon-link {
		text-decoration: none;
		outline: none;
		border: 0;
		display: inline-block;
		font-size: 0;
		line-height: 1;
		@include mq(tablet) {
			display: block;
		}
	}
}

.footer-bottom {
	padding: 10px 0 $unit-tiny;
	background-color: color("primary");
	@include mq(tablet) {
		padding: 14px 0 18px;
	}

	&__container {
		@include mq(tablet) {
			max-width: 1068px;
			margin: 0 auto;
		}
	}

	&__copy-wrap {
		text-align: center;
		@include mq(tabletLarge) {
			text-align: left;
		}
	}

	&__copy {
		display: none;
		text-align: center;
		@include font-size(size("s"));
		@extend %text-simple;
		color: rgba(color("white"), 0.6);
		@include mq(tablet) {
			@include font-size(size("base"));
			display: block;
		}
		@include mq(tabletLarge) {
			text-align: left;
		}
	}

	&__copy-short {
		display: block;
		@extend %text-simple;
		color: rgba(color("white"), 0.6);
		@include font-size(size("s"));
		@include mq(tablet) {
			@include font-size(size("base"));
			display: none;
		}
	}

	&__page-links {
		text-align: center;
		@include mq(tabletLarge) {
			text-align: left;
		}
	}
	.space {
		color: rgba(color("white"), 0.6);
		&:first-child::after {
			content: " | ";
			padding: 0 $unit-small;
			@include mq(tabletLarge) {
				content: " ";
			}
		}
	}

	&__page-link {
		@extend %text-small;
		text-decoration: none;
		padding-left: 0;
	}
}

%text {
	color: rgba(color("white"), 0.6);
	@include easeOut;
	font-style: normal;
	font-weight: 400;
	@include font-size(size("base"));
	line-height: 24px;
	@include mq(tablet) {
		line-height: 28px;
	}
	&:hover {
		color: rgba(color("white"), 1);
	}
}
%text-small {
	color: rgba(color("white"), 0.6);
	@include easeOut;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	@include font-size(size("s"));
	@include mq(tablet) {
		@include font-size(size("base"));
		line-height: 28px;
	}
	&:hover {
		color: rgba(color("white"), 1);
	}
}
%text-simple {
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	@include mq(tablet) {
		line-height: 28px;
	}
}
