.c-top {
	position: relative;
	z-index: 2;
	&.pa-fixed-header {
		background-color: #fff !important;
		overflow: hidden;
		transition: background-color 2s ease-out;
		.c-header {
			position: fixed;
			background-color: #fff !important;
			padding-bottom: 16px;
			padding-top: 1px;
			@include mq(tablet) {
				padding-bottom: 24px;
				padding-top: 4px;
			}
		}
		.c-header__logo-wrap {
			color: color("black");
		}
		.c-header__nav-toggle span {
			background-color: color("black");
		}
		.c-header__logo {
			transform: scale(0.95);
		}
	}

	&.pa-fixed {
		background-color: transparent;
	}
}

.c-header {
	overflow: hidden;
	position: fixed;
	top: 15px;
	left: 0;
	right: 0;
	z-index: 2;
	padding-top: 16px;
	background-color: transparent;
	transition: 1s;
	@include mq(tablet) {
		top: 20px;
		padding-top: 42px;
	}
	&__container {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: flex-start;
		padding: 0;

		@include mq(tablet) {
			justify-content: space-between;
			padding: 0 42px;
		}
	}

	&__logo-wrap {
		position: relative;
		display: inline-block;
		color: color("white");
		font-size: 0;
		line-height: 0;
		z-index: 2;
		transition: 1s;
		padding-left: 10px;
		.is-active & {
			color: color("secondary");
		}
		@include mq(tablet) {
			padding-left: 0px;
		}
	}

	&__logo {
		width: 107px;
		height: 44px;
		@include mq(tablet) {
			width: 129px;
			height: 53px;
		}
	}

	&__nav-toggle-wrap {
		position: absolute;
		// top: 16px;
		right: 32px;
		width: 40px;
		height: 35px;
		z-index: 2;
		transition: 1s;
		@include mq(tablet) {
			position: relative;
			top: 0px;
			right: 0;
		}
		&:hover {
			span {
				&:nth-child(1) {
					margin-left: 60%;
				}
				&:nth-child(2) {
					margin-left: 40%;
				}

				&:nth-child(3) {
					margin-left: 20%;
				}
			}
		}
		.is-active &:hover {
			span {
				&:nth-child(1) {
					margin-left: 0%;
				}
				&:nth-child(2) {
					margin-left: 0%;
				}

				&:nth-child(3) {
					margin-left: 0%;
				}
			}
		}
	}

	&__nav-toggle {
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		border: 0;
		box-shadow: none;
		appearance: none;
		background-color: transparent;
		outline: none;
		cursor: pointer;
		span {
			display: block;
			background-color: color("white");
			// width: 40px;
			height: 3px;
			margin: 10px 0;
			position: relative;
			border-radius: 3px;
			z-index: 2;
			transform-origin: 3px 0px;
			transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
				background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
				opacity 0.55s ease, margin 0.5s ease;

			&:nth-child(1) {
				margin-top: 0;
				transform-origin: 0% 0%;
			}

			&:last-child {
				transform-origin: 0% 100%;
				margin-bottom: 0;
			}
		}
		.is-active & {
			span {
				background: color("secondary");
				&:nth-child(1) {
					opacity: 1;
					transform: rotate(45deg) translate(-2px, 0px);
				}
				&:nth-child(2) {
					opacity: 0;
					transform: rotate(0deg) scale(0.2, 0.2);
				}
				&:last-child {
					opacity: 1;
					transform: rotate(-45deg) translate(-1px, -1px);
				}
			}
		}
	}
}

.c-overlay-nav {
	position: fixed;
	top: 0;
	left: 100%;
	overflow: auto;
	z-index: 1;
	background-color: rgba(color("white"), 1);
	height: 100%;
	width: 100%;
	// opacity: 0;
	visibility: hidden;
	transition: 1s;
	overflow: auto;
	@include mq(tablet) {
		// padding: 20px;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		min-height: 100%;
	}

	&.is-active {
		visibility: visible;
		opacity: 1;
		left: 0;
	}

	&__menus {
		width: 100%;
		flex: 1 0 auto;
		display: flex;
		justify-content: center;
		padding: $unit-huge 0 $unit-large;
		@include mq(tablet) {
			padding: 132px 0;
		}
	}

	.c-nav {
		flex-flow: column;
		justify-content: center;
		text-align: center;
		list-style: none;
		margin-bottom: 0;
		display: flex;
	}

	.menu-item a {
		@include font-size(size("xxxl"));
		text-decoration: none;
		font-style: normal;
		font-weight: 400;
		text-transform: uppercase;
		font-family: $secondary;
		display: inline-block;
		@include easeOut;
		line-height: 50px;
		@include mq("tablet") {
			@include font-size(size("mh"));
			line-height: 100px;
		}
		&:hover {
			transform: scale(1.02);
			color: color("secondary");
		}
	}

	li.current-menu-item a {
		color: color("secondary");
	}

	&__bottom-icons {
		position: absolute;
		bottom: 40px;
		text-align: center;
		line-height: 0;
		transition: 1s;
		overflow: hidden;
		transform: scale(1);
		&:hover {
			transform: scale(1.1);
		}
		@include mq(tablet) {
			position: fixed;
			z-index: 99;
			right: -100%;
			.is-active & {
				right: 60px;
			}
		}
	}

	&__icon-link {
		display: inline-block;
		text-decoration: none;
		font-size: 0;
	}

	.twitter,
	.linkedin {
		display: none;
	}

	&__icon {
		width: 34px;
		height: 34px;
		@include mq(tablet) {
			width: 22px;
			height: 22px;
		}
	}
}
