.c-enquiry {
	&__map--wrap {
		width: 100%;
		height: 100%;
		margin: 0;
	}
	&__map {
		border: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
		min-height: 450px;
	}
}

/* The popup bubble styling. */
.popup-bubble {
	/* Position the bubble centred-above its parent. */
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50%, -100%);
	background-color: rgb(255, 255, 255);
	padding: 25px;
	border-radius: 5px;
	overflow-y: auto;
	// box-shadow: 0px 2px 10px 1px rgba(168, 123, 123, 0.05);
	font-weight: 400;
	@include font-size(size("s"));
	color: rgba(color("primary"), 0.8);
	font-family: $primary;
	width: 291px;
	max-height: 180px;
	@include easeOut;
	@include mq(tablet) {
		@include font-size(size("base"));
		width: 350px;
		max-height: 180px;
		padding: 30px;
	}
	&:hover {
		cursor: default;
		// color: color("brand");
	}
	p {
		margin-bottom: $unit-tiny;
		&:first-child {
			margin-bottom: 8px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
	/* Position the div a fixed distance above the tip. */
	position: absolute;
	width: 100%;
	bottom: 12px;
	left: 0;
}

/* This element draws the tip. */
.popup-bubble-anchor::after {
	content: "";
	position: absolute;
	top: -2px;
	left: 0;
	transform: translate(-50%);
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid rgb(255, 255, 255);
}

/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
	cursor: auto;
	height: 0;
	position: absolute;
	/* The max width of the info window. */
	width: 300px;
}
