.c-page-intro {
	padding: 54px 0;
	background: color("light-background");

	@include mq(tabletSmall) {
		padding: 66px 0;
	}

	&__title {
		margin-bottom: 8px;
		color: color("brand");
		letter-spacing: 0.06em;
		text-transform: uppercase;
		line-height: 28px;
		font-weight: 700;
		@include mq(tablet) {
			line-height: 24px;
			margin-bottom: 10px;
		}
	}

	&__heading {
		margin-bottom: 8px;
		color: color("teritory");
		font-family: $secondary;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 40px;
		@include mq(tablet) {
			line-height: 50px;
			margin-bottom: 10px;
		}
	}
	.home & {
		background: color("white");
		.c-page-intro__intro {
			font-size: 16px;
			line-height: 28px;
		}
		.c-page-intro__intro-home-page {
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 18px;
			@include mq(tablet) {
				font-size: 24px;
				line-height: 35px;
				margin-bottom: 12px;
			}
		}
	}

	&__intro {
		margin-bottom: 0;
		font-weight: normal;
		line-height: 28px;
		color: rgba(color("teritory"), 0.65);
		mix-blend-mode: normal;
		margin: 0 auto;
		line-height: 28px;
		font-size: 20px;
		margin: 0 auto;
		p {
			margin-bottom: 0;
		}
		@include mq(tablet) {
			max-width: 604px;
			line-height: 35px;
			font-size: 24px;
		}
		@include mq(tabletMeduim) {
			max-width: 844px;
		}

		.page-template-page-about &,
		.page-template-page-services & {
			margin: 0 auto;
			@include mq(tablet) {
				max-width: 800px;
			}
		}
	}

	&__btn {
		@include easeOut;
		margin-top: $unit;
	}
}
