.c-fullscreen-video {
	position: relative;
	word-wrap: break-word;
	overflow: hidden;
	padding: 199px $unit-small 110px;
	@include mq(tablet) {
		padding: 252px 0 174px;
	}

	&__container {
		position: fixed;
		top: 0;
		bottom: 15px;
		left: 15px;
		right: 15px;
		z-index: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		overflow: hidden;
		.is-scrolled & {
			position: absolute;
		}
		@include mq(tablet) {
			left: 20px;
			right: 20px;
			bottom: 20px;
		}
		&::before {
			width: 100%;
			content: "";
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			bottom: 0;
			background-color: rgba(color("black"), 0.4);
		}
	}

	video,
	&__video {
		object-fit: contain;
		overflow: hidden;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translate(-50%, -50%);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
}
.c-page-banner {
	position: relative;
	background-color: transparent;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding: 135px $unit-small 120px;
	body & {
		line-height: 0px;
	}

	@include mq(tablet) {
		padding: 222px 0 202px;
		&.has-intro {
			padding: 232px 0 158px;
		}
	}
	@include mq(mobileLandscape) {
		background-attachment: fixed;
	}

	&::before {
		width: 100%;
		content: "";
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(color("black"), 0.75);
		.home & {
			background-color: rgba(color("black"), 0.3);
		}
	}

	&__container {
		position: relative;
		z-index: 1;
		margin: 0 auto;
		color: color("white");
		@include mq(tablet) {
			max-width: 912px;
		}
		@include mq(tabletWide) {
			max-width: 1120px;
		}
	}

	&__title {
		width: 100%;
		text-transform: uppercase;
		font-style: normal;
		font-weight: 400;
		font-family: $secondary;
		text-align: center;
		margin-bottom: 0;
		margin: 0 auto;
		font-size: 65px;
		line-height: 55px;
		.home & {
			font-size: 70px;
			line-height: 60px;
			@include mq("tablet") {
				font-size: 120px;
				line-height: 100px;
			}
		}
		@include mq("tablet") {
			font-size: 120px;
			line-height: 100px;
			max-width: 612px;
		}
	}
	&__svg {
		width: 216px;
		height: auto;
		@include mq("mobileMeduim") {
			width: 324px;
		}
		@include mq("tablet") {
			width: 424px;
		}
	}
	&__intro {
		@include h5();
		line-height: $unit;
		text-align: center;
		color: rgba(color("white"), 0.8);
		margin: 0 auto;
		@include mq(tablet) {
			line-height: $unit * 1.5;
			max-width: 612px;
			display: inline-block;
		}
		.home & {
			margin-top: 28px;
			margin-bottom: 32px;
			@include mq(tablet) {
				margin-bottom: 38px;
				max-width: 476px;
				margin-top: 12px;
			}
		}
	}

	&__arrow {
		position: absolute;
		left: 50%;
		bottom: $unit * 1.25;
		transform: translateX(-50%);
		width: 29px;
		height: 30px;
		color: color("white");
		cursor: pointer;
		@include mq(tabletWide) {
			bottom: $unit-big;
		}
		svg {
			@include easeOut;
			&:hover {
				transform: scale(1.2);
				color: color("brand");
			}
		}
	}

	&__btn {
		@extend .o-btn;
		@extend .o-btn-primay;
	}
}
