.c-quote {
	position: relative;
	overflow: hidden;
	padding: $unit-big 0 $unit-large;
	background: color("secondary");
	@include mq(tablet) {
		padding: 108px 0 $unit-big * 1.25;
	}
	&__wrap {
		position: relative;
	}
	&__container {
		position: relative;
		font-family: $primary;
		font-weight: normal;
		margin: 0 auto;
		z-index: 1;
		@include mq(tablet) {
			max-width: 856px;
		}
		@include mq(tabletWide) {
			max-width: 1102px;
		}
	}

	&__quote {
		@include font-size(size("xxb"), $unit * 1.75);
		margin-bottom: 26px;
		font-size: size("xxb");
		color: color("white");
		@include mq(tablet) {
			margin-bottom: 32px;
			@include font-size(size("xl"), $unit-big);
		}
	}

	&__quote-by {
		color: color("brand");
		text-transform: uppercase;
		font-style: normal;
		font-weight: bold;
		line-height: 28px;
		text-align: center;
		letter-spacing: 0.06em;
	}

	&__curve1 {
		position: absolute;
		left: -75%;
		bottom: 70%;
		z-index: 0;
		animation: curve1 25s ease infinite alternate;
		@include mq(mobileMeduim) {
			left: -50%;
		}
		@include mq(mobileLandscape) {
			left: -20%;
			bottom: 75%;
		}
		@include mq(tablet) {
			left: -40%;
		}
		@include mq(tabletWide) {
			bottom: 65%;
		}
		@include mq(laptopSmall) {
			bottom: 45%;
		}
		@include mq(desktop) {
			// bottom: 35%;
		}
		svg {
			@include easeOut;
			width: 474px;
			height: 326px;
			@include mq(tablet) {
				width: 711px;
				height: 489px;
			}
			@include mq(tabletWide) {
				width: 948px;
				height: 652px;
			}
		}
	}

	&__curve2 {
		position: absolute;
		top: 0;
		right: 20%;
		bottom: 0;
		z-index: 0;
		animation: curve2 25s ease infinite alternate;
		@include mq(mobileMeduim) {
			right: 15%;
			top: 25%;
		}
		@include mq(mobileLandscape) {
			right: 20%;
		}
		@include mq(tablet) {
		}
		@include mq(tabletWide) {
			top: 10%;
		}
		@include mq(desktop) {
			top: -40%;
			right: 26%;
		}
		svg {
			@include easeOut;
			width: 469px;
			height: 526px;
			@include mq(tablet) {
				width: 703px;
				height: 789px;
			}
			@include mq(tabletWide) {
				width: 938px;
				height: 1052px;
			}
		}
	}

	&__curve3 {
		position: absolute;
		top: -30%;
		right: -50%;
		z-index: 0;
		animation: curve3 25s ease infinite alternate;
		@include mq(mobileMeduim) {
			right: -40%;
		}
		@include mq(mobileLandscape) {
			left: 70%;
		}
		@include mq(tablet) {
			left: 60%;
		}
		@include mq(tabletWide) {
			top: -40%;
			left: 70%;
		}
		@include mq(desktop) {
			top: -50%;
		}
		svg {
			@include easeOut;
			width: 444px;
			height: 611px;
			@include mq(tablet) {
				width: 666px;
				height: 916px;
			}
			@include mq(tabletWide) {
				width: 888px;
				height: 1222px;
			}
		}
	}
}
