.c-services-three-column {
	padding: 40px 0 0;
	background: color("light-background");

	@include mq(tabletSmall) {
		padding: 52px 0 121px;
	}
	&__container {
		margin: 0 auto;
		@include mq(tabletWide) {
			max-width: 1238px;
		}
	}

	&__header {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 42px;
		@include mq(laptopXSmall) {
			flex-flow: column;
			justify-content: flex-start;
			align-items: flex-start;
			margin-bottom: 0;
		}
	}

	&__heading {
		margin-bottom: $unit-tiny;
		display: inline-block;
		text-transform: uppercase;
		color: color("secondary");
		font-family: $secondary;
		font-style: normal;
		font-weight: 700;
		cursor: pointer;
		@include easeOut;
		border-bottom: 4px solid color("secondary");
		@include mq(tabletMeduim) {
			margin-top: -10px;
			margin-bottom: $unit;
		}
		@include mq(tablet) {
			line-height: 80px;
		}
		&:hover {
			border-bottom: 4px solid transparent;
		}
	}

	&__link {
		text-decoration: none;
		color: color("brand");
		font-weight: 700;
		@include font-size(size("base"));
		@include mq(tablet) {
			line-height: 28px;
		}
		transition-property: all;
		transition: 0.25s ease-in-out;
		&:hover {
			color: color("secondary");
			svg {
				color: color("secondary");
				transform: scale(0.96);
			}
			&::before {
				svg {
					transform: translateX(0);
				}
			}
		}
	}

	&__arrow {
		margin-left: 10px;
		width: 16px;
		height: 16px;
		color: color("brand");
		vertical-align: middle;
		transform: translateX(-6px);
		transition: all 0.3s ease;
	}
}

.c-service-three-column {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	margin-bottom: 40px;
	@include mq(tabletSmall) {
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		margin-bottom: 0px;
	}

	&__wrap-one {
		text-align: center;
		padding-left: 16px;
		@include mq(tabletSmall) {
			padding-left: 0;
		}
	}

	&__wrap-two {
		padding-left: 48px;
		@include mq(tabletSmall) {
			padding-left: 0;
		}
	}

	&__icon--wrap {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		@include easeOut;
		@include mq(tabletSmall) {
			margin-bottom: 20px;
		}
	}

	&__icon {
		display: inline;
		width: 46px;
		height: 46px;
		@include mq(tabletSmall) {
			width: 36px;
			height: 36px;
		}
	}

	&__title {
		@include font-size(size("base"));
		font-weight: 700;
		color: color("secondary");
		line-height: 28px;
		margin-bottom: 0;
		@include mq(tabletSmall) {
			line-height: 25px;
			margin-bottom: $unit-tiny;
		}
	}

	&__intro {
		@include font-size(size("base"));
		font-weight: normal;
		color: color("content");
		line-height: 28px;
		*:last-child {
			margin-bottom: 0;
		}
		@include mq(tabletSmall) {
			line-height: 25px;
		}
	}
}
