.c-services {
	background: color("light-background");
	padding: $unit 0 $unit-big;
	@include mq("tablet") {
		padding: $unit 0 90px;
	}

	&__container {
		@include mq("laptopSmall") {
			margin: 0 auto;
			max-width: 1184px;
		}
	}
}

.c-service {
	padding: 0 0 52px;
	@include mq("tablet") {
		padding: 0 0 90px;
	}
	&:last-child {
		padding-bottom: 0;
	}

	&:nth-child(2n) {
		.c-service__content {
			@include mq(tablet) {
				padding-left: 48px;
				padding-right: 28px;
			}
			@include mq(tabletWide) {
				padding-left: 120px;
				padding-right: 84px;
			}
		}
	}
	&:nth-child(odd) {
		.c-service__content {
			@include mq(tablet) {
				padding-right: 48px;
				padding-left: 28px;
			}
			@include mq(tabletWide) {
				padding-right: 120px;
				padding-left: 84px;
			}
		}
	}

	&__title {
		color: color("brand");
		font-weight: 400;
		text-decoration: none;
		margin-bottom: 8px;
		text-align: center;
		@include mq(tablet) {
			text-align: left;
			margin-bottom: 10px;
		}
	}

	&__intro {
		@include font-size(size("base"));
		color: color("content");
		opacity: 0.65;
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 32px;
		line-height: 28px;
		text-align: center;
		p {
			margin-bottom: 0;
		}
		@include mq(tablet) {
			text-align: left;
			margin-bottom: 0px;
			line-height: 30px;
		}
	}

	&__img-wrap {
		position: relative;
		outline: 0;
		border: 0;
	}

	&__img {
		display: none;
		position: relative;
		z-index: 1;
		transition: transform 1s ease-out;
		@include mq(tablet) {
			display: block;
		}
	}

	&__img-two {
		display: block;
		position: relative;
		z-index: 1;
		transition: transform 1s ease-out;
		border-radius: $unit-tiny;
		outline: 0;
		border: 0;
		filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
		@include mq(tablet) {
			display: none;
		}
	}
}
