.c-single-case-study {
	background: color("light-background");
	padding: 58px 0 44px;
	@include mq(tablet) {
		padding: 82px 0 128px;
	}

	&__container {
		@include mq(tabletWide) {
			margin: 0 auto;
			max-width: 845px;
		}
	}

	&__heading {
		margin-bottom: 0;
		text-transform: uppercase;
		color: color("brand");
		font-weight: 700;
		letter-spacing: 0.06em;
		@include mq(tablet) {
			margin-bottom: 10px;
		}
	}

	&__title {
		color: color("black");
		font-weight: 400;
		margin-bottom: 8px;
		@include mq(tablet) {
			margin-bottom: 32px;
		}
	}

	&__content,
	&__additional-content {
		@include font-size(size("base"));
		color: color("content");
		font-weight: 400;
		@include mq(tablet) {
			line-height: 28px;
		}
		p {
			margin-bottom: 0;
		}
	}

	&__content blockquote {
		@extend .u-h5;
		@include font-size(size("b"));
		font-family: $primary;
		font-weight: 400;
		font-style: normal;
		font-size: 24px;
		line-height: 35px;
		word-spacing: 1.6px;
		color: color("brand");
		margin-bottom: 0;
		&::before {
			content: open-quote;
			display: none;
		}
		&::after {
			content: close-quote;
			display: none;
		}
	}

	&__full-screen-image-wrap {
		margin-top: 34px;
		margin-bottom: 30px;
		filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
		@include mq(tablet) {
			margin-top: 78px;
			margin-bottom: 60px;
		}
	}

	&__full-screen-image {
		display: none;
		@include mq(tablet) {
			display: inline-block;
		}
	}
	&__mobile-screen-image {
		border-radius: 5px;
		display: inline-block;
		@include mq(tablet) {
			display: none;
		}
	}

	&__img-wrap {
		border-radius: $unit-tiny;
		margin-bottom: 24px;
		filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
	}

	&__img-wrap-two {
		position: relative;
		overflow: hidden;
		border-radius: $unit-tiny;
		margin-bottom: 24px;
		@include mq(tablet) {
			margin-bottom: 24px;
		}
		&:hover img {
			transform: scale(1.03);
			transform-origin: 50% 50%;
			filter: brightness(100%);
		}
	}

	&__img {
		border-radius: $unit-tiny;
		transition: filter 1s, transform 1s ease-out;
		filter: brightness(80%);
	}

	&__link-wrap {
		display: flex;
		flex-flow: row;
		justify-content: center;
		text-align: center;
		margin-top: 20px;
		@include mq(tablet) {
			justify-content: flex-start;
			text-align: left;
		}
	}

	&__link {
		text-decoration: none;
		color: color("brand");
		font-weight: 700;
		@include font-size(size("base"));
		@include easeOut;
		@include mq(tablet) {
			line-height: 28px;
		}
		&:hover {
			color: color("secondary");
			svg {
				color: color("secondary");
				transform: scale(0.96);
			}
			&::before {
				svg {
					transform: translateX(0);
				}
			}
		}
	}

	&__arrow {
		margin-right: 10px;
		width: 16px;
		height: 16px;
		color: color("brand");
		vertical-align: middle;
		transform: translateX(6px);
		transition: all 0.3s ease;
	}
}
