.c-terms-privacy {
	background-color: color("light-background");
	padding: 60px 0 $unit-big;
	@include mq(tablet) {
		padding: $unit-big 0 $unit-huge;
	}

	&__container {
		@include mq(tablet) {
			margin: 0 auto;
			max-width: 845px;
		}
	}

	p,
	li {
		@include font-size(size("base"));
		color: color("content");
		font-weight: 400;
		line-height: 28px;
		margin-bottom: 0;
	}

	p > a {
		@include easeOut;
		@include font-size(size("base"));
		color: color("brand");
		font-weight: 400;
		line-height: 28px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0;
		color: color("brand");
		text-transform: uppercase;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: 0.06em;
		margin-top: $unit;
		@include mq(tablet) {
			margin-bottom: $unit-tiny;
			margin-top: $unit * 1.5;
		}
	}

	h1 {
		@extend .u-h1;
	}

	h2 {
		@extend .u-h2;
	}

	h3 {
		@extend .u-h3;
	}

	h4 {
		@extend .u-h4;
	}

	h5 {
		@extend .u-h5;
	}

	h6 {
		@extend .u-h6;
	}
}
