.c-testimonial {
	background-color: color("white");
	padding: 34px 0 50px;
	@include mq(tablet) {
		padding: 34px 0 88px;
	}

	&__title {
		padding-bottom: 26px;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: color("brand");
		@include mq(tablet) {
			padding-bottom: 60px;
		}
	}

	&__quotes {
		margin: 0 auto;
		@include mq(tablet) {
			max-width: 812px;
		}
		@include mq(tabletWide) {
			max-width: 1026px;
		}
	}

	&__quote {
		padding-bottom: 32px;
		font-style: italic;
		font-weight: normal;
		@include font-size(size("m"));
		line-height: 30px;
		color: color("content");
		@include mq(tablet) {
			padding-bottom: 64px;
			@include font-size(size("xxxb"));
			line-height: 50px;
		}
		p {
			margin-bottom: 0;
		}
	}
}
.slick-dots li button:before {
	content: " ";
	width: 14px;
	height: 14px;
	font-size: 0px;
	border-radius: 50%;
	border: 2px solid color("brand");
}

li.slick-active button {
	background-color: color("brand");
	@include easeOut;
}

.slick-dots li button {
	border-radius: 50%;
	width: 14px;
	height: 14px;
	@include easeOut;
}

.slick-active .c-testimonial__quote {
	animation: fadeSimple ease 3000ms alternate;
}

@keyframes fadeSimple {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
