.c-three-columns {
	padding: $unit-huge 0 $unit-big;
	background: color("light-background");
	@include mq(tablet) {
		padding: $unit-big 0 $unit-huge;
	}
	&__container {
		margin: 0 auto;
		@include mq(tabletWide) {
			max-width: 1068px;
		}
	}
}
.c-three-column {
	margin-bottom: $unit-large * 1.05;
	font-family: $primary;
	&__icon--wrap {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background: color("white");
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: $unit;
		// box-shadow: 0px 2px 2px rgba(color("content"), 0.3);
		@include easeOut;
		&:hover {
			// box-shadow: 0px 2px 2px rgba(color("content"), 0.6);
		}
	}

	&__icon {
		display: inline;
		width: 50px;
		height: 52px;
	}

	&__title {
		margin-bottom: $unit-small * 1.5;
		font-weight: bold;
		color: color("brand");
		letter-spacing: 0.06em;
		text-transform: uppercase;
		line-height: 28px;
		@include mq(tablet) {
			margin-bottom: 8px;
		}
	}

	&__content {
		@include font-size(size("base"));
		font-weight: normal;
		color: color("content");
		line-height: 28px;
		*:last-child {
			margin-bottom: 0;
		}
	}
}
