.c-two-column {
	.page-template-page-about & {
		padding-top: 0;
		text-align: center;
		@include mq(tablet) {
			text-align: left;
		}
	}

	padding: 58px 0 48px 0;
	background: color("light-background");
	@include mq(tabletSmall) {
		padding: 62px 0;
	}

	&__container {
		margin: 0 auto;
		@include mq(tablet) {
			max-width: 1066px;
		}
	}

	&__content-one,
	&__content-two {
		margin-bottom: 0;
		font-weight: normal;
		font-size: 16px;
		line-height: 28px;
		color: rgba(color("content"), 0.65);
		mix-blend-mode: normal;
	}
	&__content-one {
		margin-bottom: 24px;
		@include mq(tablet) {
			margin-bottom: 0;
		}
	}
}
