
@font-face {
  font-family: 'FiraSans-Medium';
  src: url('FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('FiraSans-Medium.otf')  format('opentype'),
      url('FiraSans-Medium.woff') format('woff'),
      url('FiraSans-Medium.ttf')  format('truetype'),
      url('FiraSans-Medium.svg#FiraSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
