.c-skip {
	position: absolute;
	top: -10px;
	z-index: -999;
	width: 1px;
	height: 1px;
	overflow: hidden;
	@include attention() {
		top: $spacing-unit--small;
		left: 50%;
		z-index: 999;
		display: inline-block;
		width: auto;
		height: auto;
		transform: translateX(-50%);
	}
}

.c-site-nav {
}

.c-nav {
}

.c-page-nav {
	margin-top: 36px;
	padding-top: 12px;
	border-top: 1px solid color("content");
	text-align: center;
	.page-numbers {
		display: inline-block;
		padding: 4px 6px;
		color: color("content");
		text-decoration: none;
		&:hover,
		&.current {
			color: shade(color("content"), 30%);
		}
	}
}
