.o-btn {
	font-family: $copy;
	border: 2px solid color("black");
	padding: 11px 27px;
	transition: 0.25s;
	background-color: color("black");
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	@include font-size(14px, 18px);

	&:hover {
		background: color("content");
		// border: 2px solid color("black");
		color: color("black");
		cursor: pointer;
	}
}
