.o-module {
	.flexbox & {
		display: flex;
		display: -webkit-flex;
		display: -ms-flexbox;
		overflow: hidden;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
	}
	&__item {
		.flexbox & {
			display: flex;
			display: -webkit-flex;
			display: -ms-flexbox;
		}
	}
	&__content {
		.flexbox & {
			flex: 1;
		}
		&--bottom {
			.flexbox & {
				align-self: flex-end;
			}
		}
	}

	&--reverse-tabletWide {
		@include mq($until: tabletWide) {
			flex-direction: column-reverse;
		}
	}
}
