.o-wrapper {
	@include inuit-clearfix();
	max-width: $sitewidth;
	margin: 0 auto;
	padding: 0 33px;

	&--mid {
		padding: 0 70px;

		@include mq($until: tablet) {
			padding: 0 24px;
		}
	}

	&--small {
		padding: 0 106px;
		@include mq($until: tablet) {
			padding: 0 33px;
		}
	}

	&--releaseMobile {
		@include mq($until: tablet) {
			padding: 0;
		}
	}
}
