.c-automation-list {
	padding: 48px 0 60px;
	background-color: color("brand-dark");
	text-align: center;

	&__heading {
		margin-bottom: 26px;
		text-transform: uppercase;
		color: color("white");
	}

	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	&__link {
		max-width: 96px;
		display: block;
		text-align: center;
		text-decoration: none;
	}

	&__image-wrapper {
		opacity: 0.75;
		transition: all 0.25s ease 0s;
		max-width: 100px;
		width: 100%;
	}

	&__image {
		opacity: 0.8;
		display: block;
		width: 100%;
		height: auto;
		&:hover {
			opacity: 1;
		}
	}

	&__name {
		color: color("white");
		margin: 0 auto;
		font-size: 14px;
		line-height: 16px;
	}
}
