.c-footer {
	padding-top: 36px;
	background-color: rgb(16, 19, 56);
	height: auto;
	@include mq(tabletS) {
		padding-top: 44px;
	}
	li {
		list-style: none;
	}
	h5 {
		text-transform: uppercase;
		font-family: $heading;
		color: color("white");
		opacity: 0.85;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 21px;
	}

	.padding-right.o-layout__item {
		@include mq($until: tabletS) {
			padding-right: 0;
		}
	}
	&__contact {
		.location,
		.email {
			max-width: 160px;
		}
		.margin-bottom {
			margin-bottom: 0;
			@include mq(tabletS) {
				margin-bottom: 24px;
			}
		}
		a {
			@extend .top-content-text;
		}
		h5 {
			@include mq($until: tabletS) {
				display: none;
			}
		}
	}
	&__social-one,
	&__social-two {
		margin-top: 30px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		a {
			padding-right: 12px;
		}
	}
	&__social-one {
		display: none;
		@include mq(tabletS) {
			display: flex;
		}
	}
	&__social-two {
		margin-top: 32px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		@include mq(tabletS) {
			display: none;
		}
	}

	&__automation-types {
		a {
			@extend .top-content-text;
		}
	}

	&__smart-lives {
		a {
			@extend .top-content-text;
		}
	}

	&__subscribe-form {
		input[type="email"],
		input[type="text"],
		textarea {
			background: hsla(0, 0%, 100%, 0.15);
			box-shadow: none;
			color: #fff;
			border-color: transparent;
			font-size: 13px;
			border-radius: 0;
		}
		input::placeholder {
			color: #fff;
			opacity: 0.65;
		}
		input[type="email"],
		input[type="text"] {
			padding: 2px 11px;
		}
		input {
			display: inline-block;
			margin-bottom: 14px;
			width: 100%;
			max-width: 300px;
		}
		button {
			width: 100%;
		}
	}

	&__logo {
		margin: 0 auto;
	}
	&__bootom-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 36px 0 29px;
		line-height: 18px;
		@include mq(tabletS) {
			flex-direction: row;
			padding-top: 62px;
			padding-bottom: 34px;
			line-height: 24px;
		}
		p {
			margin-bottom: 0;
		}
	}
	&__top-arrow-img {
		display: inline-block;
		vertical-align: middle;
		width: 10px;
		height: 7px;
		margin-left: 10px;
	}
	&__copy-left,
	&__return-copy-top {
		display: inline-block;
		a {
			@extend .bottom-content-text;
			text-decoration: underline;
			transition: all 0.25s ease 0s;
			&:hover {
				opacity: 1;
			}
		}
	}
	&__return-copy-top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__copy-mid {
		display: inline-flex;
		flex-direction: row;
		p {
			@extend .bottom-content-text;
		}
		a {
			@extend .bottom-content-text;
			transition: all 0.25s ease 0s;
			text-decoration: none;
			&:hover {
				opacity: 1;
			}
		}
	}

	&__copy-right {
		display: inline-flex;
		text-align: right;
		@extend .bottom-content-text;
	}

	.wpcf7-valid-tip,
	.sent .wpcf7-response-output,
	form.sent {
		font-size: 12px;
		text-decoration: none;
		color: color("white");
		font-family: $primary-light;
	}

	.invalid input[type="text"],
	.invalid input[type="email"] {
		border: 1px solid;
		border-color: rgba(red, 0.5);
	}

	.wpcf7-not-valid-tip {
		display: none;
		visibility: hidden;
		height: 0;
		margin: 0;
		padding: 0;
	}
	.invalid .wpcf7-response-output {
		font-size: 12px;
		text-decoration: none;
		color: red;
		font-family: $primary-light;
	}
	.wpcf7-submit {
		margin-bottom: 0;
	}
}

.top-content-text {
	font-size: 12px;
	line-height: 25px;
	display: block;
	text-decoration: none;
	color: color("white");
	opacity: 0.8;
	transition: all 0.25s ease 0s;
	font-family: $primary-light;
	&:hover {
		opacity: 1;
	}
	@include mq(tabletS) {
		font-size: 14px;
	}
}
.bottom-content-text {
	color: color("white");
	font-family: $primary;
	font-size: 11px;
	opacity: 0.6;
	@include mq(tabletS) {
		font-size: 12px;
	}
}
