.c-header {
	position: absolute;
	top: 0px;
	width: 100%;
	transition: all 0.4s ease 0s;
	z-index: 10;
	&__HeaderInnerWrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 20px 0px;
		background: transparent;
	}

	&__logo-wrap {
		display: inline-block;
		color: color("white");
		font-size: 0;
		line-height: 0;
		color: color("white");
		text-decoration: none;
		cursor: pointer;
		background-color: transparent;
		overflow: hidden;
	}
	&__logo {
		cursor: pointer;
		background-color: transparent;
		width: 100px;
		height: auto;
		@include mq(tablet) {
		}
	}
	&__bm-overlay {
		position: fixed;
		z-index: 1000;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		opacity: 1;
		transition: opacity 0.3s ease 0s;
	}
}
.sidebar {
	position: fixed;
	right: -270px;
	top: 0;
	z-index: 9999;
	width: 270px;
	height: 100%;
	transition: all 0.5s ease 0s;
	background-color: color("white");
	&.is-active {
		opacity: 1;
		right: 0;
		visibility: visible;
	}
	overflow-y: auto;
	.current-menu-item a {
		color: rgb(251, 174, 23);
	}
	&__menu-inner {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		height: 100%;
		overflow-y: auto;
	}
	&__MenuLeft {
		display: inline-block;
		margin: 0px 10px;
		max-width: 172px;
		width: 100%;
		padding: 34px 0px 0px;
		text-align: center;
		&:first-of-type {
			margin-top: 0px;
		}
		section {
			margin-top: 26px;
			border-bottom: 1px solid rgba(112, 112, 112, 0.145);
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				border-bottom: 1px solid transparent;
			}
		}
		h5 {
			color: rgba(105, 105, 105, 0.46);
			font-weight: 400;
			letter-spacing: 1.2px;
			text-transform: uppercase;
			max-width: 96px;
			font-size: 12px;
			line-height: 14px;
			margin: 0px auto 21px;
		}
		li {
			list-style: none;
		}
		a {
			color: rgb(105, 105, 105);
			display: block;
			text-decoration: none;
			width: 100%;
			max-width: 140px;
			line-height: 18px;
			margin: 0px auto 18px;
			transition: all 0.25s ease 0s;
			&:hover {
				color: rgb(251, 174, 23);
			}
		}
	}
	&__MenuRight {
		max-width: 400px;
		width: 70px;
		display: inline-block;

		padding: 0px 25px;
		border-left: 1px solid rgba(112, 112, 112, 0.145);
		height: 100%;
		&:first-of-type {
			margin-top: 67px;
		}
		a {
			display: block;
			margin-top: 42px;
			margin-left: auto;
			margin-right: auto;
			transition: all 0.25s ease 0s;
			&:hover {
				text-decoration: none;
			}
			color: rgb(105, 105, 105);
			&:hover {
				color: rgb(251, 174, 23);
			}
		}
		.calendar-svg,
		.home-svg {
			width: 20px;
			height: 22px;
		}
		.cross-svg {
			cursor: pointer;
			width: 16px;
			height: 16px;
			fill: rgb(105, 105, 105);
			transition: all 0.5s ease;
			transform: rotate(-90deg);
			&:hover {
				transform: rotate(0deg);
			}
		}
	}
	&__MenuRight-inner {
		margin-top: 33px;
	}

	&__cross-button {
		&.is-active {
			display: none;
		}
	}
}
