.c-home-smart-lives {
	&__wrapper {
		text-align: center;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 232px;
		&:hover .c-home-smart-lives__bg {
			opacity: 0.2;
		}
		&:hover .c-home-smart-lives__background-image {
			transform: scale(1.1);
		}
	}

	&__background-image {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 232px;
		background-position: center center;
		background-size: cover;
		transition: all 0.25s ease 0s;
	}

	&__bg {
		position: absolute;
		inset: 0px;
		background-color: rgb(0, 0, 0);
		transition: all 0.25s ease 0s;
		opacity: 0;
	}

	&__btn {
		position: absolute;
		bottom: 32px;
		transform: translateX(-50%);
		left: 50%;
		cursor: pointer;
	}
}
.c-home-customer-section {
	background-color: rgb(243, 250, 253);
	padding: 52px 0px 34px;
	text-align: center;
	@include mq(tablet) {
		padding: 80px 0 56px;
	}

	&__title {
		font-family: $heading;
	}

	&__title,
	&__sub-title {
		@include mq(tablet) {
			max-width: 604px;
			margin: 0 auto;
		}
	}

	&__sub-title {
		margin-top: 22px;
		font-family: $primary-light;
	}

	&__main {
		max-width: 464px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		@include mq(tablet) {
			margin-top: 62px;
			max-width: 708px;
		}
		@include mq(tabletH) {
			max-width: 1008px;
		}
	}

	&__customer {
		&:first-child {
			@include mq(tabletS) {
				transform: translate(0, 78px);
			}
			@include mq(tablet) {
				transform: translate(0, 40px);
			}
			.c-home-customer-section__background-image {
				width: 222px;
				height: 187px;
				@include mq(tabletS) {
					width: 220px;
					height: 270px;
				}
				@include mq(tabletH) {
					width: 319px;
				}
			}
			.c-home-customer-section__customer-wrapper {
				align-items: center;
				@include mq(tablet) {
					align-items: flex-end;
				}
			}
		}
		&:nth-child(2) {
			.c-home-customer-section__background-image {
				width: 222px;
				height: 245px;
				@include mq(tabletS) {
					width: 220px;
					height: 345px;
				}
				@include mq(tabletH) {
					width: 314px;
				}
			}
		}
		&:nth-child(3) {
			@include mq(tablet) {
				transform: translate(0, 36px);
			}
			.c-home-customer-section__background-image {
				width: 222px;
				height: 182px;
				@include mq(tabletS) {
					width: 220px;
					height: 262px;
				}
				@include mq(tabletH) {
					width: 319px;
				}
			}
			.c-home-customer-section__customer-wrapper {
				align-items: center;
				@include mq(tablet) {
					align-items: flex-start;
				}
			}
		}
		&:nth-child(4) {
			@include mq(tablet) {
				transform: translate(0, -36px);
			}
			.c-home-customer-section__background-image {
				width: 222px;
				height: 208px;
				@include mq(tabletS) {
					width: 220px;
					height: 239px;
				}
				@include mq(tabletH) {
					width: 255px;
				}
			}
			.c-home-customer-section__customer-wrapper {
				align-items: center;
				@include mq(tablet) {
					align-items: flex-end;
				}
			}
		}
		&:nth-child(5) {
			.c-home-customer-section__background-image {
				width: 222px;
				height: 189px;
				@include mq(tabletS) {
					width: 220px;
					height: 267px;
				}
				@include mq(tabletH) {
					width: 314px;
				}
			}
		}
		&:nth-child(6) {
			@include mq(tabletS) {
				transform: translate(0, -23px);
			}
			@include mq(tablet) {
				transform: translate(0, -47px);
			}
			.c-home-customer-section__background-image {
				width: 222px;
				height: 270px;
				@include mq(tabletS) {
					width: 220px;
					height: 238px;
				}
				@include mq(tabletH) {
					width: 254px;
				}
			}
			.c-home-customer-section__customer-wrapper {
				align-items: center;
				@include mq(tablet) {
					align-items: flex-start;
				}
			}
		}
	}

	&__customer-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: stretch;
	}

	&__content-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		opacity: 1;
		transform: translate3d(0px, 0%, 0px);
		@include mq(tablet) {
			flex-direction: row;
		}
	}

	&__background-image {
		position: relative;
		width: 319px;
		height: 270px;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
		transition: all 0.25s ease 0s;
		opacity: 0.99;
		line-height: 0;
		font-size: 0;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		background-color: transparent;
		&:hover {
			transform: scale(1.08);
		}
	}

	&__name-btn {
		width: fit-content;
		position: absolute;
		bottom: 18px;
		left: 50%;
		max-width: 86%;
		padding: 8px 17px;
		text-transform: uppercase;
		font-family: $heading;
		transform: translateX(-50%);
		color: color("brand");
		background-color: color("white");
		font-size: 12px;
		line-height: 16px;
		@include mq(tablet) {
			font-size: 14px;
			padding: 9px 18px;
		}
	}
}

.c-home-automation-section {
	position: relative;
	padding: 30px 0 28px;
	overflow: hidden;
	opacity: 0.99;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@include mq(tablet) {
		padding: 80px 0 84px;
	}

	&::after,
	&::before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: opacity 0.5s ease 500ms;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&::before {
		z-index: -100;
		opacity: 1;
	}

	&::after {
		z-index: -101;
		opacity: 0;
	}

	&__section {
		position: relative;
		background: rgba(255, 255, 255, 0.9);
		max-width: 349px;
		margin-left: auto;
		text-align: center;
		padding: 27px 14px 14px;
		opacity: 1;
		transform: translate3d(0%, 0px, 0px);

		h3 {
			font-family: $heading;
			max-width: 100%;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 5px;
			@include mq(tablet) {
				margin-bottom: 15px;
				max-width: 256px;
			}
		}

		p {
			font-family: $primary-light;
			margin: 0px auto 8px;
			max-width: 243px;
			@include mq(tablet) {
			}
		}

		@include mq(tablet) {
			padding: 36px 38px 44px 35px;
		}
	}
	&__btn {
		a {
			letter-spacing: 1.5px;
		}
	}
}

.contact-section {
	padding-bottom: 24px;
	padding-top: 50px;
	text-align: center;
	@include mq(tablet) {
		padding-top: 85px;
		padding-bottom: 32px;
	}

	&__heading {
		font-family: $heading;
		text-align: center;
		@include mq(tablet) {
			text-align: right;
		}
	}

	&__wrapper {
		text-align: center;
		@include mq(tablet) {
			text-align: left;
		}
	}

	&__title {
		text-transform: uppercase;
		font-family: $heading;
		font-size: 20px;
		line-height: 24px;
		@include mq(tablet) {
			font-size: 22px;
			line-height: 26px;
		}
	}

	&__content {
		font-family: $primary-light;
		font-size: 16px;
		line-height: 24px;
		color: color("dark-blue");
		opacity: 0.8;
		margin-bottom: 24px;
		@include mq(tablet) {
			font-size: 16px;
			line-height: 26px;
		}
	}

	&__phone-link {
		width: 100%;
		font-family: $heading;
		color: rgb(251, 174, 23);
		text-transform: uppercase;
		text-decoration: none;
		font-size: 20px;
		line-height: 24px;
		margin-top: 6px;
		@include mq(tablet) {
			font-size: 22px;
			line-height: 26px;
			margin-top: 0px;
		}

		svg {
			max-width: 21px;
			height: 21px;
			margin-right: 15px;
			@include mq(tablet) {
				max-width: 22px;
				height: 22px;
			}
		}
	}
}
