.logo-slider {
	margin-bottom: 28px;
	&__heading {
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 18px;
		margin-top: 40px;
		@include mq(tablet) {
			margin-top: 58px;
		}
	}
	&__slider-wrap {
		position: relative;
		max-width: 1008px;
		margin: 0 auto;
		@include mq(laptop) {
			padding: 0 24px;
		}
	}
	&__left-arrow-svg {
		position: absolute;
		top: 50%;
		left: 0px;
		z-index: 2;
		width: 22px;
		height: 20px;
		transform: translateY(-50%);
	}
	&__right-arrow-svg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0px;
		z-index: 2;
		width: 22px;
		height: 20px;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
		max-width: 74px;
		margin: 0 auto;
		@include mq(tablet) {
			max-width: 120px;
		}
	}
	.slick-prev,
	.slick-next {
		display: block;
		&:before {
			content: "";
		}
	}
	.slick-list {
		max-width: 1008px;
		margin: 0 auto;
	}
}
