.alignleft,
.alignright,
.aligncenter,
.alignnone {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: spacer(0.5);
	// padding: $spacing-unit--small;
	// border-radius: $base-round;
	overflow: hidden; // fix caption margin
	background: color("white");
	box-shadow: 0 0 4px rgba(black, 0.1);
	// for caption
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.alignleft {
	@include mq(tablet) {
		float: left;
		width: 40%;
		max-width: 40%;
		margin-right: spacer(1);
		clear: left;
	}
}

.alignright {
	@include mq(tablet) {
		float: right;
		width: 40%;
		max-width: 40%;
		margin-left: spacer(1);
		clear: right;
	}
}

.aligncenter {
	margin-right: auto;
	margin-left: auto;
}

.alignnone {
	max-width: 100%;
	min-width: 100%;
}

.wp-caption-text {
	margin: $unit-tiny $unit-small;
	@include font-size(size("s"));
	font-style: italic;
	text-align: center;
}
