.content-blocks {
	position: relative;
	background-color: color("white");
}
.c-top-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 15px;
	background-color: color("white");
	overflow: hidden;
	z-index: 4;
	@include mq(tablet) {
		height: 20px;
	}
}
