.page-banner {
	position: relative;
	width: 100%;
	text-align: center;
	overflow: hidden;
	height: 570px;
	@include mq(laptop) {
		height: 670px;
	}

	&__background-image {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-position: center center;
		background-size: cover;
	}
	&__background-video {
		display: none;
		pointer-events: none;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 2;
		iframe {
			pointer-events: all;
		}
		& .page-banner__play-button-link:hover {
			visibility: visible;
		}
		&.is-active {
			display: block;
		}
	}
	.page-template-tmpl-privacy-policy &,
	.page-template-tmpl-terms-and-conditions &,
	.error404 & {
		height: 485px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		@include mq(tablet) {
			height: 570px;
		}
		.page-banner__heading {
			padding-top: 0px;
			max-width: 389px;
			margin: 0px auto 11px;
			@include mq(tablet) {
				max-width: 686px;
			}
		}
	}
	.single-smart_lives & {
		height: 375px;
		@include mq(tablet) {
			height: 728px;
		}
		.page-banner__content-wrap {
			position: absolute;
			left: 36px;
			bottom: 24px;
			text-align: left;
			@include mq(tablet) {
				left: 82px;
				bottom: 41px;
			}
		}

		.page-banner__heading {
			padding-top: 0px;
			margin-top: 9px;
			@include mq(tablet) {
			}
		}
		h3 {
			margin-bottom: 0;
		}
		.page-banner__play-button-link {
			&.is-active .page-banner & {
				display: none;
			}
		}
		.page-banner__play-button-svg {
			position: absolute;
			cursor: pointer;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: all 0.25s ease 0s;
			margin: 0 auto;
			width: 80px;
			height: auto;
			&:hover {
				transform: translate(-50%, -50%) scale(1.1);
			}
			@include mq(tablet) {
				width: 159px;
			}
		}
	}
	.page-template-tmpl-about & {
		height: 485px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		@include mq(tablet) {
			height: 570px;
		}
		.page-banner__heading {
			padding-top: 20%;
			max-width: 686px;
			margin: 0px auto 11px;
			@include mq(tablet) {
				padding-top: 0px;
			}
		}
		.page-banner__content-wrap-inner {
			margin: 0 auto;
			text-align: center;
			flex-direction: column;
		}
		.page-banner__intro {
			max-width: 389px;
			margin: 0px auto;
			margin-bottom: 30px;
			@include mq(tablet) {
				max-width: 489px;
			}
		}
	}
	.page-template-tmpl-contact &,
	.page-template-tmpl-showroom & {
		height: 485px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		@include mq(tablet) {
			height: 570px;
		}
		.page-banner__content-wrap-inner {
			margin: 0 auto;
			text-align: center;
			flex-direction: column;
		}
		.page-banner__heading {
			margin: 0 auto;
			padding-top: 0px;
		}
		.page-banner__intro {
			margin-top: 11px;
			max-width: 389px;
			@include mq(tablet) {
				max-width: 100%;
			}
		}
	}

	.single-automation_types & {
		height: 485px;
		@include mq(tablet) {
			height: 575px;
		}
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		.page-banner__btn {
			display: none;
			width: 0;
			height: 0;
			margin: 0;
			padding: 0;
		}
		.page-banner__heading {
			padding-top: 0px;
			max-width: 686px;
			margin: 0px auto 11px;
		}
		.page-banner__intro {
			margin: 0px auto;
			max-width: 686px;
			p {
				margin-bottom: 0;
			}
		}
	}

	&__single-wrapper {
		width: 100%;
	}

	&__content-wrap {
		margin: 0 auto;
		.single-automation_types &,
		.page-template-tmpl-about &,
		.page-template-tmpl-contact &,
		.page-template-tmpl-showroom &,
		.page-template-tmpl-privacy-policy &,
		.page-template-tmpl-terms-and-conditions &,
		.error404 &,
		.single-smart_lives & {
			.o-layout > .o-layout__item {
				margin-bottom: 0px;
			}
		}
	}

	&__heading {
		font-family: $heading;
		color: color("white");
		max-width: 780px;
		padding-top: 290px;
		margin: 0px auto 23px;
		margin-bottom: 0px;
		@include mq(desktop) {
			padding-top: 315px;
		}
	}

	&__content-wrap-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		@include mq(tablet) {
			flex-direction: row;
			text-align: right;
			max-width: 780px;
			margin: 0px auto 23px;
		}
	}

	&__intro {
		margin-bottom: 24px;
		font-size: 16px;
		max-width: 303px;
		margin-left: auto;
		margin-right: auto;
		color: color("white");
		line-height: 25px;
		margin-bottom: 0px;
		@include mq(mobileLandscape) {
			max-width: 403px;
			margin-left: 0;
			margin-right: 0;
		}
		@include mq(tablet) {
			max-width: 476px;
			margin-right: 22px;
			font-size: 20px;
		}
		p {
			margin-bottom: 24px;
			@include mq(tablet) {
				margin-bottom: 0px;
			}
		}
	}

	&__btn {
		margin-top: 8px;
		a {
			font-size: 18px;
			text-decoration: none;
		}
	}

	&__down-arrow-link {
		text-decoration: underline;
		cursor: pointer;
		&:hover {
			text-decoration: none;
		}
	}

	&__down-arrow-svg {
		position: absolute;
		left: 28px;
		bottom: 54px;
		width: 20px;
		height: 22px;
		@include mq(tablet) {
			bottom: 28px;
		}
	}
}
