.privacy-terms {
	background-color: color("light-blue-bg");
	padding-top: 80px;
	@include mq(tablet) {
		padding-top: 135px;
	}
	&__heading {
		text-align: center;
		margin-bottom: 0;
		@include mq(tablet) {
			text-align: right;
		}
	}
}
