.two-column {
	background-color: color("light-blue-bg");
	padding: 45px 0 56px;
	display: flex;
	align-items: center;
	@include mq(tablet) {
		padding: 120px 0 96px;
	}

	.margin {
		margin-bottom: 0;
	}

	&__title {
		max-width: 337px;
		margin-bottom: 0px;
		@include mq($until: tablet) {
			text-align: center;
			max-width: 100%;
			margin-bottom: 32px;
		}
	}

	&__intro {
		margin-bottom: 32px;
		font-family: $primary-light;
		max-width: none;
		@include mq($until: tablet) {
			text-align: center;
		}
	}

	&__btn {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		justify-content: flex-start;
		align-items: flex-start;
		@include mq($until: tablet) {
			align-items: center;
			justify-content: center;
		}
	}
}

.three-column {
	background-color: color("white");
	padding: 51px 0 18px;
	@include mq(tablet) {
		padding: 51px 0 18px;
	}

	&__title {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 18px;
		@include mq(tablet) {
			margin-bottom: 30px;
		}
	}

	&__content {
		text-align: center;
		font-family: $primary-light;
		margin-bottom: 24px;
		p {
			margin-bottom: 0;
		}
		@include mq(tablet) {
			margin-bottom: 0px;
		}
	}
}
