.help-form {
	background-color: color("light-blue-bg");
	padding: 0 0 14px;
	@include mq(tablet) {
		padding: 0 0 63px;
	}

	&__top-content {
		text-align: center;
		max-width: 881px;
		margin: 0 auto;
	}
	&__title {
		margin-bottom: 24px;
		@include mq($until: tablet) {
			font-size: 26px;
			margin-bottom: 8px;
		}
	}
	&__content {
		font-family: $primary-light;
		margin-bottom: 0;
	}
	&__phone-link {
		text-decoration: none;
		color: color("tertiary");
		text-transform: uppercase;
		font-family: $heading;
		font-size: 22px;
		@include mq($until: tabletWide) {
			display: flex;
			justify-content: center;
			margin: 12px 0 0;
		}
	}
	&__help-form {
		margin-top: 24px;
		@include mq($until: tablet) {
			margin-top: 0;
		}
	}
	&__column {
		width: 100%;
	}

	&__left-column {
		width: 100%;
		float: left;
		position: relative;
		text-align: center;
		overflow: hidden;
		pointer-events: all;
		@include mq(tablet) {
			width: 66.66667%;
		}
		textarea {
			height: 172px;
			resize: none;
		}
	}
	&__right-column {
		width: 100%;
		float: right;
		padding-left: 0;
		text-align: center;
		pointer-events: all;
		@include mq(tablet) {
			width: 33.3333%;
			padding-left: 35px;
		}
		input.wpcf7-text {
			@include mq($until: tablet) {
				margin-top: 24px;
			}
		}
		input.wpcf7-email {
			margin-top: 10px;
		}
		input.wpcf7-submit {
			white-space: normal;
			margin: 18px auto 0;
			width: 100%;
			max-width: 100%;
			@include mq($until: tablet) {
				max-width: 300px;
				margin: 20px auto 0;
			}
		}
	}
	.wpcf7-valid-tip,
	.sent .wpcf7-response-output,
	form.sent {
		width: 100%;
		display: inline-block;
		text-align: center;
		margin-top: 12px;
		font-size: 12px;
		color: green;
		@include mq(tablet) {
			text-align: left;
			font-size: 14px;
		}
	}

	.invalid,
	.wpcf7-not-valid-tip,
	.wpcf7-response-output {
		display: block;
		text-align: center;
		font-size: 12px;
		line-height: 24px;
		color: red;
		opacity: 0.8;
		pointer-events: none;
		@include mq(tablet) {
			text-align: left;
		}
	}
}
.automation-type-main-content {
	padding-top: 44px;
	padding-bottom: 48px;
	display: flex;
	align-items: center;
	@include mq(tablet) {
		padding-top: 70px;
		padding-bottom: 85px;
	}

	.margin {
		margin-bottom: 0;
	}

	&__title {
		margin-bottom: 12px;
		@include mq($until: tablet) {
			margin: 0 auto;
			text-align: center;
			max-width: 408px;
		}
		.margin & {
			margin-bottom: 12px;
		}
	}

	&__intro-one {
		display: none;
		margin-bottom: 0;
		font-family: $primary-light;
		max-width: none;
		@include mq(tablet) {
			display: block;
			max-width: 330px;
		}
		p {
			margin-bottom: 0;
		}
		@include mq($until: tablet) {
			margin: 0 auto;
			text-align: center;
		}
	}

	&__intro-two {
		display: block;
		margin-bottom: 0;
		text-align: center;
		font-family: $primary-light;
		font-size: 14px;
		line-height: 1.5rem;
		@include mq(tablet) {
			display: none;
		}
		p {
			margin-bottom: 0;
		}
	}

	&__image {
		margin-bottom: 0;
	}
}

.automation-type-content-blocks {
	@include mq($until: tablet) {
		padding-bottom: 32px;
	}

	&__title {
		text-align: center;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	&__image {
		margin-bottom: 24px;
	}

	&__intro {
		margin-bottom: 0;
		font-family: $primary-light;
		max-width: none;
		p {
			margin-bottom: 0;
		}
		@include mq($until: tablet) {
			margin-bottom: 36px;
		}
	}

	&__image {
		width: 100%;
	}
}

.automation-type-image-slider {
	position: relative;
	margin-bottom: -6px;
	overflow: hidden;

	.slick-prev {
		z-index: 2;
		opacity: 0.75;
		transition: all 0.25s ease 0s;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) rotate(180deg);
		left: 85px;
		color: color("white");
	}
	.slick-next {
		opacity: 0.75;
		transition: all 0.25s ease 0s;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 85px;
		color: color("white");
	}

	.slick-prev,
	.slick-next {
		display: block;
		&:before {
			content: "";
		}
	}

	&__right-arrow-svg,
	&__left-arrow-svg {
		width: 12px;
		height: 24px;
		z-index: 2;
		@include mq(tablet) {
			width: 20px;
			height: 40px;
		}
		@include mq(tabletWide) {
			width: 27px;
			height: 47px;
		}
	}

	&__image-wrap {
		position: relative;
		overflow: hidden;
		width: 100%;
		display: inline-block;
		height: auto;
		z-index: 1;
	}
	&__image {
		display: block;
	}
}
.automation-type-faq {
	background-color: color("light-blue-bg");
	padding-top: 60px;
	@include mq(tablet) {
		padding: 112px 0 48px;
	}

	&__title {
		text-align: center;
		margin-bottom: 52px;
	}
	&__question {
		text-transform: uppercase;
		text-align: center;
	}
	&__answer {
		text-align: center;
		font-family: $primary-light;
		margin-bottom: 24px;
		p {
			margin-bottom: 0;
		}
		@include mq(tablet) {
			margin-bottom: 0px;
		}
	}
}
