.about-two-column,
.showroom-two-column,
.contact-two-column {
	background-color: color("light-blue-bg");
	padding-top: 35px;
	padding-bottom: 32px;
	@include mq(tablet) {
		padding-top: 120px;
		padding-bottom: 43px;
	}
	.page-template-tmpl-showroom & {
		padding-top: 45px;
		padding-bottom: 62px;
		@include mq(tablet) {
			padding-bottom: 62px;
			padding-top: 132px;
		}
	}

	.page-template-tmpl-contact & {
		padding-bottom: 62px;
		@include mq(tablet) {
			padding-bottom: 26px;
		}
	}

	&__heading {
		font-family: $heading;
		text-align: center;
		@include mq(tablet) {
			max-width: 374px;
			margin-left: auto;
			text-align: right;
		}
		.page-template-tmpl-showroom & {
			margin-bottom: 41px;
			@include mq(tablet) {
				margin-bottom: 0;
			}
		}
	}

	&__wrapper {
		text-align: center;
		@include mq(tablet) {
			text-align: left;
		}
	}

	&__content,
	&__content-one,
	&__content-two {
		margin-bottom: 0px;
		font-family: $primary-light;
		color: color("dark-blue");
		opacity: 0.8;
		font-size: 16px;
		line-height: 24px;
		max-width: 100%;
		@include mq(tablet) {
			line-height: 26px;
			max-width: 445px;
			.page-template-tmpl-showroom & {
				max-width: 100%;
			}
		}

		p {
			a {
				color: #101338;
				font-family: $primary;
				opacity: 1;
			}
			margin-bottom: 24px;
			&:first-of-type {
				font-family: $primary;
				font-size: 18px;
				line-height: 26px;
				.page-template-tmpl-contact & {
					font-family: $primary-light;
					font-size: 16px;
					line-height: 24px;
					margin-top: 0px;
					@include mq(tablet) {
						line-height: 26px;
					}
				}
			}
		}
	}

	&__content-two {
		p {
			margin-top: 24px;
			margin-bottom: 0;
		}
	}

	&__phone-link {
		width: 100%;
		font-family: $heading;
		color: rgb(251, 174, 23);
		text-transform: uppercase;
		text-decoration: none;
		font-size: 20px;
		line-height: 24px;
		margin-top: 6px;
		@include mq(tablet) {
			font-size: 22px;
			line-height: 26px;
			margin-top: 0px;
		}

		svg {
			max-width: 21px;
			height: 21px;
			margin-right: 15px;
			@include mq(tablet) {
				max-width: 22px;
				height: 22px;
			}
		}
	}
}
