body.template-cart {
  background-color: #f5f5f5;

  .cart-wrapper {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }

  &.active_multishipping {
    .summery-cart {
      &:before {
        content: "";
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: .5;
        z-index: 9999;
      }

      &:after {
        content: "Please Wait...";
        position: fixed;
        top: 50%;
        left: 48%;
        z-index: 9999;
        font-weight: bold;
        font-size: 21px;
        color: #191919;
      }

    }
  }
}