.page-banner {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: linear-gradient(180deg, #000000 12.45%, rgba(0, 0, 0, 0) 48.15%), rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}
body.template-page {
  background-color: #F5F5F5;
}
.gm-style-mtc,
.gmnoprint, .gm-control-active, .gm-svpc {
  display: none;
}

.gm-style {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //border: 1px solid red;
    background: rgba(0,0,0,0.5);
  }
  > div {
    &:first-child {
      > div {
        &:first-child {
          &:after {
            content: '';
            position: absolute;
            top: -400px;
            left: -400px;
            right: 0;
            bottom: 0;
            width: 1000px;
            height: 1000px;
            //border: 1px solid red;
            background: rgba(0,0,0,0.5);

            @media (max-width: 640px) {
              background: rgba(0,0,0,0.6);
            }
          }
        }
      }
    }
  }

  > iframe {
    &+ div {
      display: none !important;
    }
  }
}

.tabs {
  .title-tab {
    &.active {
      opacity: 1;
    }
  }
}
.content-tab {
  display: none;

  &.active {
    display: block;
  }
}

.template-stockists {
  .rte {
    p {
      padding: 0;
    }
  }
}


ul.about-points {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 20px;
}