body.template-password {
  font-family: "condensed", '"Helvetica Neue"', "Arial";
  font-family: "baskerville", '"Helvetica Neue"', "Arial";
  background-color: #191818;
  color: #ffffff;
  //padding-top: calc(50% - 160px);
  height: 100vh;

  main {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    width: 200px;
    margin: auto;
    color: #ffffff;

    svg {
      fill: #ffffff;
    }
  }
  .lity {
    background-color: rgba(#191818,.5);
    .lity-container {
      background-color: #ffffff;
      max-width: 500px;
      background-color: #ffffff;
      width: 100%;
      text-align: center;
      padding: 40px 0;
      border-radius: 4px;

      h4 {
        font-family: "baskerville", '"Helvetica Neue"', "Arial";
        color: #000000;
        margin-top: 0;
        font-weight: normal;
        margin-bottom: 24px;
        font-size: 22px;
      }

      form {
        width: 100%;
        padding: 0 60px;
        display: inline-block;
      }

      input[type="password"]{
        font-family: "baskerville", '"Helvetica Neue"', "Arial";
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
        border-radius: 0;
        color: rgba(#333333,0.8);
        height: 50px;
        line-height: 50px;
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 16px;
      }

      [type="submit"] {
        font-family: "condensed", '"Helvetica Neue"', "Arial";
        background: #000000;
        color: #ffffff;
        border-radius: 0;
        font-size: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        border: 1px solid #000000;
        padding-top: 8px;
        height: 38px;
        font-weight: bold;
        width: 120px;
        float: right;
      }

      input {
        &:focus {
          outline: none !important;
        }
      }
    }

    .lity-content {
      &:after {
        display: none;
      }
    }
  }
}
.password-content {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: "baskerville", '"Helvetica Neue"', "Arial";
    font-size: 52px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
  }

  a.login {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    margin: auto;
    display: table;

    &:after{
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 0.75px;
      width: 0;
      background-color: #ffffff;
      transition: width .3s ease;
    }
    svg {
      width: 16px;
      height: 16px;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}
