body.selector {
  background-color: #F5F5F5;
  .background-dark {
    background: linear-gradient(180deg, #191818 0%, #000000 100%);
    height: calc(100% + 210px);
  }
}
.product-selector {
  .box-shadow {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }
  [type="radio"] {
    &+ label {
      &:before ,
      &:after {
        content: '';
        width: 14px;
        height: 14px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &:before {
        border: 1px solid #CFCFCF;
      }

      &:after {
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        left: 3px;
        top: -5px;
      }
    }

    &:checked {
      &+ label {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  .rte {
    p {
      font-size: 14px;
      line-height: 18px;
      padding: 0;
      color: #000;
      opacity: 0.6;
    }
  }

  .selection-image {
    .hover-image {
      opacity: 0;
      transition: all .3s;
    }
    .add-text {
      opacity: 0;
      transition: all .3s;
    }

    .hover-minus {
      [data-remove-box] {
        opacity: 0;
        transition: all .3s;
      }
      &:hover {
        [data-remove-box] {
          opacity: 1;
        }
      }
    }
    > div {
      // transform: translateY(-100%);
      // transition: all .2s;
    }
    &:hover {
      .hover-image {
        opacity: 1;
      }
      .add-text {
        opacity: 1;
      }
    }
  }

  [data-remove-choc],
  [data-add-choc] {
    &.pointer-events-none {
      span {
        background: rgba(0,0,0,0.25);
      }
    }
  }

  [data-submit] {
    &:hover {
      &+ a,
      &+ button {
        background-color: transparent;
        color: #000000;
      }
    }
  }
  .pointer-events-none {
    pointer-events: none;
  }
}

@media (max-width: 680px) {
  .box-overflow {
    height: 650px;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 0;
    position: relative;
  }


  .custom-scrollbar {
    position: absolute;
    background-color: #E6E6E6;
    width: 7px;
    height: 100%;
    border-radius: 8px;
    right: -7px;
    top: 0;
    bottom: 0;

    div {
      // position: absolute;
      // width: 3px;
      // height: 220px;
      // right: 0;
      // top: 0;
      //
      // background: rgba(0, 0, 0, 0.2);
      // border-radius: 8px;
    }
  }
  .scroll-icon{
    position: absolute;
    top: 85%;
    left: calc(50% - 26px);
    transition: all .3s;

    &.hide{
      opacity: 0;
      transition: all .3s;
    }
  }

  // .box-overflow::-webkit-scrollbar {
  //   -webkit-appearance: none;
  // 	width: 12.34px;
  // 	/* You can add other properties & values */
  // }
  //
  // .box-overflow::-webkit-scrollbar-track {
  // 	background-color: #123456;
  // 	/* You can add other properties & values */
  // }
  //
  // .box-overflow::-webkit-scrollbar-thumb {
  //    border-radius: 4px;
  // 	background: #123456;
  //     outline: 1px solid #654321;
  // box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  // 	/* You can add other properties & values */
  // }
}
