[data-slick="thumbnail"] {
  .slick-list {
    overflow: visible;
  }
  .slick-slide {
    .slide {
      width: auto !important;
      filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.12));
      transition: all .2s;
      border-radius: 2px;
      opacity: 0.4;
      cursor: pointer;
    }
    &.slick-current ,
    &:hover {
      .slide {
        opacity: 1;
      }
    }
  }

  .slide-thumb {
    img {
      display: none !important;
    }
  }

  .slick-track {
    transform: translate3d(0,0,0) !important;
    width: auto !important;
    display: flex;
    justify-content: center;


  }
  @media (max-width: 640px) {
    .slick-track {
      //flex-wrap: wrap;
    }
    .slick-list {
      padding: 0 !important;
    }
    .slide-thumb {
      img {
        display: block !important;
      }
    }
  }
}

[data-slick="product"] {
  .slick-slide {
    > div {
      display: flex;
    }
  }
  .slick-arrow {
    top: 0;
  }
}

body.template-product {
  .background-dark {
    background: linear-gradient(180deg, #191818 0%, #000000 100%);
    height: calc(100% + 210px);
  }

  &.acc-open {
    .float-height {
      height: 1200px;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }
  textarea {
    resize: none;
  }

  .rte {
    p{
      padding-bottom: 10px;
    }
    ul {
      padding-top: 10px;
      li {
        margin-left: 10px;
        margin-bottom: 0px;
        line-height: 20px;
        font-size: 17px;     
      }
    }

    @media (max-width: 640px) {
      ul {
        padding-top: 20px;
        li {
          margin-left: 0;
        }
      }
    }
  }

  .content {
    .rte {
      ul {
        margin-left: 35px;
      }
      @media (max-width: 640px) {
        ul {
          margin-left: 20px;
        }
      }
    }
  }
}

#gsAppContainer {
  display: none !important;
}
