{%- if section.settings.show_popup -%}
  <section id="announcementBanner" class="lity-hide" data-announcement_cookie="{{ section.settings.cookie_name}}">
    <div class="max-w-container mx-auto sm:px-10 md:px-16-5">
      <div class="m-auto relative bg-grey-200 zzz-w-10/12 pt-4 pb-3 radius-xs">
        <button class=" lity-close absolute top-0 right-0 text-black  w-4 h-4 flex justify-center items-center float-right mb-1-2 sm:p-0 pt-1-2 pr-1-2" type="button" aria-label="Close (Press escape to close)" data-close-lity>{%- include 'icon', type: 'close', class: 'text-black w-1-6 h-1-6' -%}</button>

      
        <div class="px-3 sm:px-4-4 sm:pt-0">
        
       
          {%- if section.settings.content != blank -%}
            <div class="rte text-center">
              {{section.settings.content}}
            </div>
          {%- endif -%}
          {%- if section.settings.link != blank and section.settings.link_label != blank -%}
            <div class="flex pt-4 justify-center">
              <a href="{{section.settings.link}}" class="link font-condensed text-md leading-tightest font-bold uppercase tracking-md text-black">
                <div class="flex items-center ">
                  <!-- <span class="-mt-0-6 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                  <span class="-mt-0-6 mr-1-2"><span class="flex w-2 h-0-1 bg-black"></span></span>
                  <span class="text">{{section.settings.link_label}}</span>
                </div>
              </a>
            </div>
          {%- endif -%}
          
        </div>
      </div>
    </div>
  </section>
{%- endif -%}
{% schema %}
  {
    "name": "Announcement",
    "settings": [
      {
        "type": "header",
        "content": "Popup"
      },
      {
        "type": "checkbox",
        "id": "show_popup",
        "label": "Show Popup"
      },
      {
        "type": "header",
        "content": "Popup Setting"
      },
      {
        "type": "text",
        "id": "cookie_name",
        "label": "Coookie name",
        "default": "announcement"
      },
      {
        "type": "paragraph",
        "content": "Rename the cookie to show it to all users, otherwise it only shows onece per customer"
      }, 
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "html",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "link_label",
        "label": "Link Label",
        "default": "Read More"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ]
  }
{% endschema %}
