<section data-section-id="{{ section.id }}" data-section-type="article" class="article">
  {%- if article.metafields.accentuate.image != blank or section.settings.image != blank -%}
    {%- include 'article-banner' -%}
  {%- endif -%}

  <div class="mx-auto relative z-1">

    {%- if article.metafields.accentuate.article_main_image != blank -%}
      {% assign article_main_image = article.metafields.accentuate.article_main_image | first %}
      <div class="max-w-container mx-auto md:px-6 ml:px-16-5 md:-mt-6">
        <img src="{{article_main_image.cloudinary_src}}" />
      </div>
    {%- endif -%}

    {%- if article.metafields.accentuate.c_image != blank or article.metafields.accentuate.c_title != blank or article.metafields.accentuate.c_content != blank -%}
     {% if article.metafields.accentuate.c_image[0] != blank %}
              {% assign contentImage = article.metafields.accentuate.c_image[0] | first %}
              <div class="image max-w-76 mx-auto md:-mt-5 w-full   relative " data-aos="fade-up" data-aos-delay="100" data-aos-duration="300" data-aos-offset="10">
                <img class="w-full" src="{{contentImage.cloudinary_src}}" />
              </div>
            {% endif %}
    {%- endif -%}



    <div class="mb-3 max-w-container mx-auto px-2-5 md:px-6 ml:px-16-5 pt-3 flex md:justify-start justify-center">
      <a href="/blogs/news" class="text-grey-600 mx-auto font-baskerville text-sm tracking-md underline hover:text-black transition-fast">Return To News</a>
    </div>
    <div>
      {%- if article.metafields.accentuate.left_content != blank or article.metafields.accentuate.right_content != blank  -%}
        <div class="max-w-container mx-auto px-2-5 md:px-6 ml:px-16-5 mb-10">
          <div class="flex md:flex-row flex-col -mx-4-8">
            {%- if article.metafields.accentuate.left_content != blank  -%}
              <div class="w-full md:w-1/2 px-4-8 md:mb-4">
                <div class="rte">{{article.metafields.accentuate.left_content}}</div>
              </div>
            {%- endif -%}
            {%- if article.metafields.accentuate.right_content != blank  -%}
              <div class="w-full md:w-1/2 px-4-8">
                <div class="rte">{{article.metafields.accentuate.right_content}}</div>
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
    </div>
    {%- if article.metafields.accentuate.c_image != blank or article.metafields.accentuate.c_title != blank or article.metafields.accentuate.c_content != blank -%}
      {% for value in article.metafields.accentuate.c_title %}
      <div class="{% if article.metafields.accentuate.bg_colour[forloop.index0] contains 'white' %}bg-white{% endif %} py-3 md:py-1">
        <div class="max-w-container mx-auto px-2-5 md:px-6 ml:px-8-5 mb-5-5">
          {% comment %} <div class="flex mlg:-mx-6 {% if article.metafields.accentuate.image_position[forloop.index0] contains 'right' %} md:flex-row-reverse flex-col-reverse {% else %} md:flex-row flex-col {% endif %} relative items-center"> {% endcomment %}
          <div class="  mlg:-mx-6 {% if article.metafields.accentuate.image_position[forloop.index0] contains 'right' %} md:flex-row-reverse flex-col-reverse {% else %} md:flex-row flex-col {% endif %} relative items-center">
            {% comment %} {% if article.metafields.accentuate.c_image[forloop.index0] != blank %}
              {% assign contentImage = article.metafields.accentuate.c_image[forloop.index0] | first %}
              <div class="image w-full md:w-1/2 relative mlg:px-6" data-aos="fade-up" data-aos-delay="100" data-aos-duration="300" data-aos-offset="10">
                <img src="{{contentImage.cloudinary_src}}" />
              </div>
            {% endif %} {% endcomment %}

            <div class="max-w-76  mx-auto flex w-full  " data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-offset="200">
              <div class="{% if block.settings.bg_colour contains 'dark' %}text-white{% else %}text-black{% endif %}">
                <div class="md-pt-0 pt-3">
                  <h3 class="font-condensed font-bold text-md mb-3 uppercase leading-tight">{{value}}</h3>

                  <div class="rte">
                    {{article.metafields.accentuate.c_content[forloop.index0]}}
                  </div>

                  {%- if article.metafields.accentuate.link[forloop.index0] != blank -%}
                    <div class="flex pt-4-5">
                      <a href="{{article.metafields.accentuate.link[forloop.index0]}}" class="link text-center">
                        <div class="flex items-center font-condensed text-md tracking-md leading-none uppercase">
                          {% comment %}<span class="-mt-0-5 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span>{% endcomment %}
                          <span class="-mt-0-5 mr-1-2"><span class="flex w-2 h-0-1 bg-black"></span></span>
                          <span class="text">Read More</span>
                        </div>
                      </a>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {%- endif -%}
  </div>
  {%- if section.settings.show_form -%}
    <div class="bg-white md:mb-6 md:p-0 pt-3 pb-6 px-2-5">
      <div class="flex md:flex-row-reverse flex-col relative flex-row-reverse">
        {%- if section.settings.form_image != blank -%}
          <div class="image w-full md:w-1/2 relative md:block hidden" data-aos="fade-up" data-aos-delay="100" data-aos-duration="300" data-aos-offset="10">
            <!-- <img src="{{section.settings.image | img_url: '1000x'}}" class="block sm:hidden" /> -->
            <div class="bg-cover bg-center bg-no-repeat h-50  sm:block hidden" style="background-image: url('{{section.settings.form_image | img_url: '1200x'}}')"></div>
            <img src="{{section.settings.form_image | img_url: '1000x'}}" class="block sm:hidden" />
          </div>
        {%- endif -%}
        <div class="max-w-container mx-auto md:absolute inset-0 flex justify-start">
          <div class="flex items-center justify-center w-full md:w-1/2 text-left md:pl-16-5 md:pr-14">
            <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="300" data-aos-offset="10">
              {%- if section.settings.form_title != blank -%}
                <h3 class="font-condensed font-bold text-2xl tracking-md mb-2 uppercase text-left">{{section.settings.form_title}}</h3>
              {%- endif -%}

              {%- if section.settings.form_content != blank -%}
                <div class="rte mb-5">
                  {{ section.settings.form_content }}
                </div>
              {%- endif -%}

              {%- include 'page-form' -%}
            </div>
          </div>

        </div>
      </div>
    </div>
  {%- endif -%}
</section>

{% schema %}
  {
    "name": "Template Article",
    "settings": [
        {
            "type": "header",
            "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Image (Mobile)"
        },
        {
          "type": "header",
          "content": "Form"
        },
        {
          "type": "checkbox",
          "id": "show_form",
          "label": "Show Form"
        },
        {
          "type": "text",
          "id": "form_title",
          "label": "Title"
        },
        {
          "type": "html",
          "id": "form_content",
          "label": "content"
        },
        {
          "type": "image_picker",
          "id": "form_image",
          "label": "Image"
        }
    ]
  }
{% endschema %}
