<section data-section-id="{{ section.id }}" data-section-type="awards" class="awards z-1 relative">
  <div class="max-w-conteiner px-2-5 md:px-6 ml:px-15 pt-6-7 pb-2-3">
    {%- if section.blocks.size > 0 -%}
      <div class="flex flex-wrap tablet:flex-no-wrap justify-center tablet:-mx-1-5 lg:-mx-3">
        {%- for block in section.blocks -%}
          <div class="max-w-full lg:max-w-13 tablet:flex-1 w-1/2 tablet:w-full tablet:mx-1-5 lg:mx-3 mb-3">
            {%- if block.settings.image != blank -%}
              <div class="bg-cover bg-center bg-no-repeat h-8 w-10-4 mb-1-5 mx-auto" style="background-image: url('{{block.settings.image | img_url: '200x'}}')"></div>
              <!-- <img src="{{block.settings.image | img_url: '200x' }}" class="mb-1-5" /> -->
            {%- endif -%}
            {%- if block.settings.title != blank -%}
              <h6 class="font-condensed font-bold uppercase font-base text-center text-grey-700 leading-tightest sm:px-0 px-2 ">{{block.settings.title}}</h6>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</section>


{% schema %}
{
  "name": "Awards",
  "max_blocks": 8,
  "blocks": [
    {
      "type": "image",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Awards",
      "category": "Content"
    }
  ]
}
{% endschema %}
