<section class="cart pt-12 sm:pt-14 flex h-full items-center w-full">
  <div class="max-w-container mx-auto px-2-5 md:px-6 ml:px-16-5 z-1 relative w-full lg:pt-12 pb-6 md:pb-16">
    <h1 class="sm:text-8xl text-5xl font-baskerville uppercase leading-none text-center mb-5 sm:mb-7">{{ 'cart.general.title' | t }}</h1>

    {% comment %} show the free shipping bar if the cart total less than the free shipping threshold {% endcomment %}
    {% assign free_shipping_value = 9900 %}
    {% assign cart_total = cart.total_price %} 
    {% if cart_total>6900 and cart_total < free_shipping_value %}
      {% assign free_shipping_value_left = free_shipping_value | minus: cart_total %}
      <h5 class="text-xs font-baskerville uppercase leading-none text-center bg-purpule text-white font-bold p-1-2" >YOU ARE {{ free_shipping_value_left | money }} AWAY FROM FREE SHIPPING</h5>
    {% endif %}


    {% if cart.item_count > 0 %}
      <div class="cart-wrapper bg-white py-4  px-1-2 sm:px-4">  
        <form action="/cart" method="post" class="w-full" novalidate>
          <div class="flex w-full lg:flex-row flex-col">
              <div class="w-full lg:w-8/12 sm:pr-2 lg:pb-0 pb-3">
                  {%- for item in cart.items -%}
                    {% assign hideItem = false %}
                    {% assign parentTitle = '' %}
                    {%- assign property_size = item.properties | size -%}
                    {% if property_size > 0 %}
                        {%- assign count = 1 -%}
                        {% for p in item.properties %}
                          {%- if p.first contains 'Box' -%}
                              {% assign hideItem = true %}
                              {% assign parentTitle = p.last %}
                          {%- endif -%}
                        {% endfor %}
                    {% endif %}
                    <!-- {% if hideItem %}hidden{% else %}flex{% endif %} -->
                    <div class="{% if hideItem %}hidden{% else %}flex{% endif %} relative {% unless forloop.last %}border-b border-grey-200 mb-3 pb-3 {% endunless %}" data-product-line="{{item.id}}" data-item-line="{{forloop.index}}" data-parent-title="{{parentTitle}}">
                      <div class="w-6 lg:w-16-6">
                        {% if item.image != blank %}
                          <a href="{{ item.url | within: collections.all }}">
                            <img src="{{item | img_url: '600x'}}" alt="{{item.title}}" />
                          </a>
                        {% endif %}
                      </div>
                      <div class="flex-1 px-1-6 relative">
                        <p class="font-baskerville uppercase text-md mb-1 md:pr-0 pr-9  sm:pr-4"><a href="{{ item.url }}">{{ item.product.title }}</a></p>
                        <div class="">
                          {%- if item.options_with_values -%}
                            {%- for option in item.options_with_values -%}
                              {%- assign optionHandle = option.name | split: '-' -%}
                              {%- assign optionValue = option.value | split: '/' -%}
                              {%- unless optionHandle contains 'Title' -%}
                                <p class="font-condensed text-base uppercase tracking-md leading-normal">{{optionValue[0]}}</p>
                              {%- endunless -%}
                            {%- endfor -%}
                          {%- endif -%}
                        </div>
                        <div>
                          {%- assign property_size = item.properties | size -%}
                          {%- assign productBox = false -%}
                          {% if property_size > 0 %}
                              {%- assign count = 1 -%}
                              {% for p in item.properties %}
                                {%- if p.first contains 'selection' -%}
                                  {% unless p.last == blank %}
                                      {%- assign productBox = true -%}
                                      <div class="flex pb-2">
                                        <p class="uppercase text-1/2xs tracking-md font-condensed mr-0-5">Selection: </p>
                                        <p class="uppercase text-1/2xs tracking-md font-condensed">{{ p.last }}</p>
                                      </div>
                                  {% endunless %}
                                {%- endif -%}
                              {% endfor %}
                          {% endif %}
                        </div>
                        <div class="flex items-start sm:hidden" data-id="{{item.id}}" data-max="{{item.variant.inventory_quantity}}" data-line="{{forloop.index}}">
                          <a class="flex justify-center items-center text-base tracking-md cursor-pointer font-condensed font-bold w-3-2 h-3-2" data-cart-minus="{{item.id}}">-</a>
                          <input type="number" name="quantity" value="{{item.quantity}}" min="1" max="{{item.variant.inventory_quantity}}" pattern="[0-9]*" data-max="{{item.variant.inventory_quantity}}" class="border-0 w-4 text-center font-condensed font-bold bg-transparent text-18 sm:text-md px-0 pointer-events-none">
                          <a class="flex justify-center items-center text-base tracking-md cursor-pointer font-condensed font-bold w-3-2 h-3-2" data-cart-plus="{{item.id}}">+</a>
                        </div>
                        <div class="lg:absolute bottom-0 lg:mt-0 mt-0-6" data-line="{{forloop.index}}">
                          <a class="font-condensed text-2xs font-bold tracking-md text-black uppercase border-link cursor-pointer" data-cart-total-qty="{{item.quantity}}" data-cart-remove-item="{{item.id}}" data-cart-relevant-ids="{{item.properties['ids'] | join: ','}}">
                            {{ 'cart.general.remove' | t }}
                          </a>
                        </div>
                      </div>

                      <div class="hidden sm:flex items-start" data-id="{{item.id}}" data-max="{{item.variant.inventory_quantity}}" data-line="{{forloop.index}}">
                        <a class="flex justify-center items-center flex-1 text-base tracking-md cursor-pointer font-condensed font-bold w-3-2 h-3-2" data-cart-minus="{{item.id}}">-</a>
                        <input type="number" name="quantity" value="{{item.quantity}}" min="1" max="{{item.variant.inventory_quantity}}" data-max="{{item.variant.inventory_quantity}}" class="border-0 w-4 text-center font-condensed font-bold bg-transparent text-18 sm:text-md px-0 pointer-events-none">
                        <a class="flex justify-center items-center flex-1 text-base tracking-md cursor-pointer font-condensed font-bold w-3-2 h-3-2" data-cart-plus="{{item.id}}">+</a>
                      </div>
                      <div class="flex lg:flex-row flex-col">
                        <div data-price-line="{{item.id}}" data-original-price="{{item.original_price }}" class="md:static absolute top-0 right-0 font-condensed text-sm font-bold tracking-md text-black flex pt-0-2 w-12 justify-end">
                          {{ item.line_price  | money }}
                        </div>
                      </div>

                    </div>
                  {%- endfor -%}
              </div>
              <div class="w-full lg:w-4/12 sm:pl-2 lg:border-l lg:border-grey-200 summery-cart">
                <div class="">
                  <hr class="border-t border-grey-200 w-full lg:hidden block mb-3" />
                  <h5 class="font-baskerville text-2-3xl leading-none mb-2 hidden lg:block">Summary</h5>
                  <div class="flex mb-1-6">
                    <p class="flex-1 font-condensed uppercase text-md tracking-md">Subtotal</p>
                    <p class="font-condensed uppercase text-md tracking-md" data-cart-subtotal>{{ cart.total_price | money }}</p>
                    {% if cart.total_discounts > 0 %}
                      <p class="font-condensed uppercase text-md tracking-md">{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
                    {% endif %}
                  </div>
                  <div class="mb-2">
                    <textarea name="note" rows="4" id="CartNote" placeholder="Gift Message"    class="w-full border border-black font-baskerville text-base" maxlength="200"></textarea>
                    <span class="block font-condensed text-right text-xs" ><span id="char_count">200</span> Characters left</span>
                    <!-- <textarea rows="5" name="properties[Gift Message]]" id="message"  data-message="200"  ></textarea> -->
                  </div>
                  <p class="font-condensed uppercase text-2xs tracking-md mb-1-2">{{ 'cart.general.shipping_at_checkout' | t }}</p>
                  <input type="submit" name="checkout" class="pt-0-2 bg-black w-full h-4 text-center text-white text-xs font-bold font-condensed tracking-mlg uppercase border border-black hover:bg-transparent hover:text-black transition-fast" value="Checkout">
                  {% comment %} <div class="pt-2 flex justify-center">
                    <a class="link" href="/collections">
                      <div class="flex font-condensed text-sxs tracking-md leading-none uppercase"> 
                        <span class="flex items-center -mt-0-5 mr-1-2"><span class="flex w-2 h-0-1 bg-black"></span></span>
                        <span class="text">Continue Shopping</span>
                      </div>
                    </a>
                  </div> {% endcomment %}
                </div>
              </div>

          </div>
              <div class="flex mt-2-4 " >
                <a class="link font-condensed leading-none text-1/2xs tracking-md uppercase border-1/5 px-1 pb-0-9 pt-1-4 mr-1" href="/collections">Continue Shopping</a>
                {% if  cart.items.size > 1 %}
                <a class="link font-condensed leading-none text-1/2xs tracking-md uppercase border-1/5 px-1 pb-0-9 pt-1-4" onclick="return confirm('Are you sure want to clear the cart?')" href="/cart/clear">Clear Cart</a>
                {% endif %}
            </div>
        </form> 

      </div>
    {% else %}
      <div class="supports-cookies text-center">
        <p class="text-md font-condensed tracking-md uppercase">{{ 'cart.general.empty' | t }}</p>
        <!-- <p class="text-base font-condensed tracking-md">{{ 'cart.general.continue_browsing_html' | t }}</p> -->
      </div>
    {% endif %}

  </div>
</section>
{%- comment -%}
{%- if section.blocks.size > 0 -%}
  {%- include 'cart-products' -%}
{%- endif -%}
{%- endcomment -%}
{% schema %}
{
  "name": "Template Cart",
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
}
{% endschema %}
