{%- comment -%}Sections/hero.liquid{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="collection-banner" class="collection-banner bg-black z-1">
  <div class="max-w-container mx-auto w-full relative bg-black tablet:h-65 overflow-hidden">
    <div class="absolute sm:h-full inset-x-0 top-0 max-w-container mx-auto px-2-5 md:px-6 ml:px-14-5 md:pb-3 z-1 sm:pt-0 pt-12">
      <div class="flex sm:h-full items-center text-white">
        <div class="w-full tablet:w-1/2 md:pr-10">
          <h1 class="text-5xl font-baskerville leading-none uppercase text-white mb-0-5">
           {%- if collection.title == blank -%}
           SHOP ONLINE 
          {%- endif -%}
          {{collection.title}}
          </h1>

          {%- if section.settings.sub_title != blank -%}
            <p class="text-orange text-md font-condensed uppercase tracking-md">{{section.settings.sub_title}}</p>
          {%- endif -%}

          {%- if collection.description != blank -%}
            <div class="rte pt-2-5">
              {{collection.description}}
            </div>
          {%- elsif section.settings.content != blank -%}
            <div class="rte pt-2-5">
              {{section.settings.content}}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>

    {%- if collection.image != balnk -%}
      <img src="{{collection.image | img_url: '1400x'}}" class="w-full sm:block hidden" />
    {%- endif -%}

    {%- if collection.metafields.accentuate.mobile_image != blank -%}
      {% assign mobileBannerImage = collection.metafields.accentuate.mobile_image | first %}
      <img src="{{mobileBannerImage.cloudinary_src}}" class="w-full sm:hidden block mt-6" />
    {%- elsif collection.image != balnk -%}
      <img src="{{collection.image | img_url: '1400x'}}" class="w-full sm:hidden block mt-6" />
      {%else%}
      {% comment %} Show the default image if image not set or is the /collections page {% endcomment %}
      <img src="//cdn.shopify.com/s/files/1/0483/0013/0469/files/Cacao-Products-Collections-02-2880x1300.jpg?v=1605157712" class="w-full sm:block hidden">
      <img src="//cdn.shopify.com/s/files/1/0483/0013/0469/files/collections-mobile.jpg?v=1605157711" class="w-full sm:hidden block mt-6">
    {%- endif -%}

  </div>
  <div class="bg-black w-full h-3 ml:h-12 absolute top-full md:hidden block"></div>
</section>

{% schema %}
  {
    "name": "Collection Banner",
    "settings": [
        {
            "type": "header",
            "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Image (Mobile)"
        },
        {
          "type": "checkbox",
          "id": "fullwidth",
          "label": "Full Width"
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Title",
            "default": "Free deliveries on orders over $99"
        },
        {
            "type": "html",
            "id": "content",
            "label": "Content",
            "default": "Our online store includes a selection of delicious chocolate products & macarons perfect for any gift or occasion. Browse the range & buy online today."
        }
    ]
  }
{% endschema %}
