<section data-section-id="{{ section.id }}" data-section-type="collection-lists" class="collection-lists z-1 relative">
  <div class="max-w-container mx-auto px-2-5 md:px-6 mlg:px-10 ml:px-21 xl:px-26 pb-10 z-1 relative">
    {%- if section.settings.title != blank or section.settings.sub_title != blank -%}
      <div class="text-center pt-3 sm:pt-4 text-black mb-4-5">
        {%- if section.settings.title != blank -%}
          <h3 class="font-baskerville text-3xl leading-tightest uppercase">{{section.settings.title}}</h3>
        {%- endif -%}
        {%- if section.settings.sub_title != blank -%}
          <p class="font-condensed text-base leading-tight uppercase tracking-md text-grey-600 pt-0-8">{{section.settings.sub_title}}</p>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if section.blocks.size > 0 -%}
      <div class="flex sm:flex-row flex-col {% if section.blocks.size == 2 %}sm:-mx-5-1{% else %}sm:-mx-1-6{% endif %}">
        {%- for block in section.blocks -%}
          {%- if block.settings.product != blank -%}
            {%- assign collection = all_products[block.settings.product] -%}
          {%- else -%}
            {%- assign collection = collections[block.settings.collection] -%}
          {%- endif -%}

          <div class="w-full sm:w-1/{{section.blocks.size}} {% if section.blocks.size == 2 %}sm:mx-5-1 sm:mb-0  mb-6{% else %}sm:mx-1-6 sm:mb-0  mb-4{% endif %}" data-aos="fade-up"
          {% if forloop.index == 2 %}data-aos-delay="200"{% elsif forloop.index == 3 %} data-aos-delay="400"{% endif %} data-aos-duration="500" data-aos-offset="100">
            <div class="relative overflow-hidden">
              {%- if block.settings.label != blank -%}
                <span class="absolute text-orange pt-1-9 pr-1-9 top-0 right-0 uppercase font-condensed font-bold text-base tracking-md z-2">{{ block.settings.label }}</span>
              {%- endif -%}
              <a href="{{collection.url}}" class="absolute inset-0 hover-image z-1"></a>
              {%- if block.settings.image != blank -%}
                <img src="{{block.settings.image | img_url: '800x'}}" class="w-full" />
              {%- elsif collection.image -%}
                <img src="{{collection.image | img_url: '800x'}}" class="w-full" />
              {%- endif -%}
            </div>
            <div class="relative z-1 {% if section.blocks.size == 2 %}sm:pl-6-5 pl-3 pt-2-5{% else %}sm:pl-2-5 pl-3 pt-3 {% endif %} text-black" data-aos="fade-up" data-aos-duration="400" data-aos-offset="20">
              {%- if block.settings.title != blank -%}
                <h3 class="font-condensed font-bold {% if section.blocks.size == 2 %}text-3xl mb-2-5{% else %}text-xl mb-2{% endif %} leading-none uppercase tracking-md">{{block.settings.title}}</h3>
              {%- else -%}
                <h3 class="font-condensed font-bold {% if section.blocks.size == 2 %}text-3xl mb-2-5{% else %}text-xl mb-2{% endif %} leading-none uppercase tracking-md">{{collection.title}}</h3>
              {%- endif -%}
              <a href="{{collection.url}}" class="link font-condensed text-base leading-tightest font-bold uppercase tracking-md">
                <div class="flex items-center">
                  <!-- <span class="-mt-0-6 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                  <span class="-mt-0-6 mr-1-2"><span class="flex w-2 h-0-1 bg-black"></span></span>
                  <span class="text">See All</span>
                </div>
              </a>
            </div>
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Collection list",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Product",
          "id": "product",
          "type": "product"
        },
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "category": "Collection"
    }
  ]
}
{% endschema %}
