{%- unless collection.metafields.accentuate.hide_gift_card or section.settings.show_section -%}
  <section data-section-id="{{ section.id }}" data-section-type="gift-card-link" class="relative gift-card-link bg-white">
    <div class="relative z-1 mx-auto">
      <div class="flex relative flex-col md:flex-row {% if section.settings.position contains 'right' %} md:flex-row-reverse{% endif %}">
        <div class="image w-full md:w-1/2 relative md:h-53 ml:h-72">
          <div class="bg-cover bg-center bg-no-repeat h-full md:block hidden" style="background-image: url('{{section.settings.image | img_url: '1000x'}}')"></div>
          {%- if section.settings.mobile_image != blank -%}
            <img src="{{section.settings.mobile_image | img_url: '1000x'}}" class="md:hidden block w-full"/>
          {%- else -%}
            <img src="{{section.settings.image | img_url: '1000x'}}" class="md:hidden block w-full"/>
          {%- endif -%}
          <!-- <img src="{{section.settings.image | img_url: '1000x'}}" class="w-full"/> -->
        </div>

        <div class="max-w-container mx-auto md:absolute inset-0 flex {% if section.settings.position contains 'right' %}justify-start{% else %}justify-end{% endif %} ">
          <div class="flex items-center justify-center w-full md:w-1/2 text-center px-2 tablet:px-5 ml:px-11 md:py-0 py-8">
            <div>
              {%- if section.settings.title != blank -%}
                <h3 class="font-condensed font-bold text-2xl tracking-xl mb-4-5 uppercase text-center">{{section.settings.title}}</h3>
              {%- endif -%}

              {%- if section.settings.content != blank -%}
                <div class="rte">
                  {{ section.settings.content }}
                </div>
              {%- endif -%}

              {%- if section.settings.link != blank and section.settings.link_label != blank -%}
                <div class="flex justify-center pt-4-5">
                  <a href="{{section.settings.link}}" class="link text-center">
                    <div class="flex items-center font-condensed text-md tracking-md leading-none uppercase">
                      <span class="-mt-0-4 mr-1-2"><span class="flex w-2 h-0-1 bg-black"></span></span>
                      <span class="text">{{ section.settings.link_label }}</span>
                    </div>
                  </a>
                </div>
              {%- endif -%}
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
{%- endunless -%}

{% schema %}
  {
    "name": "Gift Card",
    "settings": [
      {
        "type": "checkbox",
        "id": "hide_section",
        "label": "Hide Section",
        "default": true
      },
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image (Desktop)"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Image (Mobile)"
      },
      {
        "type": "select",
        "id": "position",
        "label": "Image Position",
        "default": "right",
        "options": [
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "left",
              "label": "Left"
            }
        ]
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Gift Card"
      },
      {
        "type": "text",
        "id": "link_label",
        "label": "Link Label",
        "default": "Read More"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "html",
        "id": "content",
        "label": "Content"
      }
    ]
  }
{% endschema %}
