{%- if collection.metafields.accentuate.product_link != blank -%}
  {%- if collection.metafields.accentuate.show_last_sections -%}
    {%- assign productLimit = 200 -%}
  {%- else -%}
    {%- assign productLimit = 200 -%}
  {%- endif -%}
  <section class="relative z-1 -mt-3 md:-mt-10">
    <div class="max-w-container mx-auto px-6 ml:px-16-5">
      <div class="flex flex-wrap md:-mx-1-6 tablet:-mx-3 xl:-mx-4-8">
        {%- paginate collection.products by 600 -%}
          {%- for product in collection.products limit: productLimit -%}
            {%- unless product.handle contains 'chocolate-select' -%}
              <div class="w-full md:w-1/2 tablet:w-1/3 md:px-1-6   mb-4 md:mb-9-6">
                  {% include 'product-block', product %}
              </div>
            {%- endunless -%}
          {%- endfor -%}
        {%- endpaginate -%}
      </div>
    </div>
  </section>


  {%- unless collection.metafields.accentuate.show_last_sections -%}
    {%- include 'featured-chocolate-selector', collection -%}
    {% comment %} <section class="relative z-1 mt-8">
      <div class="max-w-container mx-auto px-6 ml:px-16-5">
        <div class="flex flex-wrap md:-mx-1-6 tablet:-mx-3 xl:-mx-4-8">
          {%- paginate collection.products by 200 -%}
            {%- for product in collection.products offset: productLimit -%}
              {%- unless product.handle contains 'chocolate-select' -%}
                <div class="w-full md:w-1/2 tablet:w-1/3 md:px-1-6   mb-4 md:mb-9-6">
                    {% include 'product-block', product %}
                </div>
              {%- endunless -%}
            {%- endfor -%}
          {%- endpaginate -%}
        </div>
      </div>
    </section> {% endcomment %}
  {%- endunless -%}

  {%- if collection.metafields.accentuate.show_last_sections -%}
    {%- include 'featured-chocolate-selector', collection -%}
  {%- endif -%}

{%- else -%}
<section class="relative z-1 -mt-3 md:-mt-10">
  <div class="max-w-container mx-auto px-6 ml:px-16-5">
    <div class="flex flex-wrap md:-mx-1-6 tablet:-mx-3 xl:-mx-4-8">
      {%- paginate collection.products by 600 -%}
        {%- for product in collection.products -%}
          <div class="w-full md:w-1/2 tablet:w-1/3 md:px-1-6   mb-4 md:mb-9-6">
              {% include 'product-block', product %}
          </div>
        {%- endfor -%}
      {%- endpaginate -%}
    </div>
  </div>
</section>
{%- endif -%}


{%- include 'product-block-recommended' -%}
