<section data-section-id="{{ section.id }}" data-section-type="content" class="{% if section.settings.bg_dark %}bg-black{% endif %}">
  <div class="max-w-container px-2-5 md:px-6 ml:px-12 pt-6 mx-auto">
    <div class="relative w-full mlg:w-1/3 mx-auto {% if section.settings.bg_dark %}text-white{% endif %} text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" data-aos-offset="180">
      {%- if section.settings.title -%}
        <h4 class="font-condensed font-bold leading-toght text-2xl uppercase mb-2 tracking-xl">{{section.settings.title}}</h4>
      {%- endif -%}
      {%- if section.settings.content != blank -%}
        <div class="rte px-1">
          {{section.settings.content}}
        </div>
      {%- endif -%}
      {%- if section.settings.link != blank and section.settings.link_label != blank -%}
        <!-- <a href="{{section.settings.link}}" class="">
          <div class="flex items-center ">
            <span class="seprator w-2 mr-1-2 block -mt-0-8 {% if section.settings.bg_dark %}bg-white{% else %}bg-black{% endif %}"></span>
            <span>{{section.settings.link_label}}</span>
          </div>
        </a> -->
        <a href="{{section.settings.link}}" class="link inline-block text-md font-condensed font-bold leading-tight tracking-md uppercase mt-6 pb-1">
          <div class="flex items-center font-condensed text-md tracking-md leading-none uppercase">
            <!-- <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
            <span class="-mt-0-7 mr-1-2"><span class="flex w-2 h-0-1 {% if section.settings.bg_dark %}bg-white{% else %}bg-black{% endif %}"></span></span>
            <span class="text">{{ section.settings.link_label }}</span>
          </div>
        </a>
      {%- endif -%}
  </div>
</section>


{% schema %}
  {
    "name": "Content",
    "settings": [
        {
          "type": "header",
          "content": "Content"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "html",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        },
        {
            "type": "text",
            "id": "link_label",
            "label": "Link Label"
        },
        {
          "type": "checkbox",
          "id": "bg_dark",
          "label": "Show Dark Background"
        }
    ],
    "presets": [
      {
        "name": "Content",
        "category": "Content"
      }
    ]
  }
{% endschema %}
