<section data-section-id="{{ section.id }}" data-section-type="contact" class="contact">
  <div class="max-w-container px-2-5 md:px-6 ml:px-16-5 pt-10 sm:pt-12 lg:pt-26 mx-auto pb-6">
    <h1 class="font-baskerville text-5xl leading-tight text-center uppercase mb-2-5 sm:mb-4 shadow-xs radius-sx">
      {%- if section.settings.title != blank -%}
        {{section.settings.title}}
      {%- else -%}
        {{page.title}}
      {%- endif -%}
    </h1>
    <div class="flex lg:flex-row flex-col">
      <div class="bg-white w-full lg:w-1/2 px-2 md:px-4 xl:pl-6-5 xl:pr-7-5 pt-4-5 sm:pt-6 pb-3 sm:pb-6 tablet:pb-2 shadow-md tablet:mb-0 mb-4-5">
        <div>
          <div>
            {{section.settings.form}}
          </div>
          {% comment %}
          <ul class="tabs flex mb-4">
            {%- for block in section.blocks -%}
              <li><a data-tab-id="{{block.id}}" class="font-condensed cursor-pointer title-tab {% if forloop.first %}active{% endif %} {% unless forloop.last %}mr-3{% endunless %} text-black opacity-50 tracking-md text-md leading-tightest uppercase">{{block.settings.title}}</a></li>
            {%- endfor -%}
          </ul>
          {%- for block in section.blocks -%}
            <div class="content-tab {% if forloop.first %}active{% endif %}" id="{{block.id}}">
              <div>
                {{block.settings.form}}
              </div>
            </div>
          {%- endfor -%}
          {% endcomment %}
        </div>
      </div>

      <div class="w-full lg:w-1/2 tablet:min-h-72 relative">
        {%- include 'map' -%}
        <div class="sm:pl-4-2 absolute left-0 right-0 bottom-0 pb-6 sm:text-left text-center">
          <h4 class="text-md text-white font-condensed uppercase tracking-md uppercase mb-1-6">Head Office</h4>
          {%- if section.settings.address1 != blank or section.settings.address2 != blank  -%}
            <div class="mb-3 text-white">
              {%- if section.settings.address1 != blank -%}
                <p class="font-baskerville tracking-md text-sxs leading-tight ">{{section.settings.address1}}</p>
              {%- endif -%}
              {%- if section.settings.address2 != blank -%}
                <p class="font-baskerville tracking-md text-sxs leading-tight ">{{section.settings.address2}}</p>
              {%- endif -%}
            </div>
          {%- endif -%}
          {%- if section.settings.trading_day != blank or section.settings.trading_hours != blank  -%}
            <div class="text-white mb-3">
              {%- if section.settings.trading_day != blank -%}
                <p class="font-baskerville tracking-md text-sxs leading-tight ">{{section.settings.trading_day}}</p>
              {%- endif -%}
              {%- if section.settings.trading_hours != blank -%}
                <p class="font-baskerville tracking-md text-sxs leading-tight ">{{section.settings.trading_hours}}</p>
              {%- endif -%}
            </div>
          {%- endif -%}
          {%- if section.settings.phone != blank -%}
            <a href="tel:{{section.settings.phone}}" class="flex sm:justify-start justify-center text-grey-350 hover:text-white transition-fast flex items-center relative">
              {%- include 'icon', type: 'phone', class: 'w-1-8 h-1-8' -%}
              <p class="tracking-md text-sm font-condensed uppercase font-bold ml-1-2 pt-0-8">{{section.settings.phone}}</p>
            </a>
          {%- endif -%}
          {%- if section.settings.email != blank -%}
            <a href="mailto:{{section.settings.email}}" class="flex sm:justify-start justify-center text-grey-350 hover:text-white transition-fast flex items-center relative">
              {%- include 'icon', type: 'email', class: 'w-1-8 h-1-8' -%}
              <p class="tracking-md text-sm font-condensed uppercase font-bold ml-1-2 pt-0-8">{{section.settings.email}}</p>
            </a>
          {%- endif -%}
          {%- if section.settings.show_social -%}
            {%- assign social_accounts = 'facebook, linkedin, pinterest, instagram,' | split: ', ' -%}
            <ul class="flex pt-3 sm:justify-start justify-center">
              {% for social in social_accounts %}
                {%- assign social_handle = social | handleize -%}
                {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                {% if settings[social_link] != blank %}
                  <li class="{% unless forloop.last %}mr-0-7{% endunless %}">
                    <a href="{{ settings[social_link] }}" target="_blank" title="{{ social_accounts }}" class="flex justify-center items-center hover:bg-opacity-70 bg-white text-black w-2-5 h-2-5 rounded-full transition-fast">
                      {%- include 'social-icons', type: social_handle , class: 'w-1-3 h-1-3' -%}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Template Contact",
    "settings": [
        {
          "type": "header",
          "content": "Content"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Contact Us"
        },
        {
          "type": "header",
          "content": "Map"
        },
        {
          "type": "text",
          "id": "map_address",
          "label": "Map Address"
        },
        {
            "type": "text",
            "id": "api_key",
            "label": "Google Maps API key",
            "default": "AIzaSyBIRdt8Xy_4j2jxH0SX_lW3wvQHaujkb5E"
        },
        {
          "type": "header",
          "content": "Inormation Details"
        },
        {
            "type": "text",
            "id": "address1",
            "label": "Address 1"
        },
        {
            "type": "text",
            "id": "address2",
            "label": "Address 2"
        },
        {
            "type": "text",
            "id": "trading_day",
            "label": "Trading Day"
        },
        {
            "type": "text",
            "id": "trading_hours",
            "label": "Trading Hours"
        },
        {
            "type": "text",
            "id": "phone",
            "label": "Phone",
            "default": "1300 258 828"
        },
        {
            "type": "text",
            "id": "email",
            "label": "Email",
            "default": "info@cacao.com.au"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "Show Social Icons",
          "default": true
        },
        {
          "type": "html",
          "id": "form",
          "label": "Form"
        }
    ]
  }
{% endschema %}
