<section data-section-id="{{ section.id }}" data-section-type="featured-collection" class="featured-collection relative -mt-0-1">
  <div class="sm:block absolute w-full inset-x-0 top-0 h-10/12 sm:h-9/12" style="background: {{section.settings.bgcolour}}"></div>

  <div class="max-w-container z-1 mx-auto px-2-5 md:px-6 mlg:px-16 ml:px-21 xl:px-26 pb-4 sm:pb-6 tablet:pb-10 z-2 relative pt-4 sm:pt-5">
    {%- if section.settings.title != blank or section.settings.sub_title != blank -%}
      <div class="text-center text-{{section.settings.colour}} mb-2 sm:mb-4-5">
        {%- if section.settings.title != blank -%}
          <h3 class="font-baskerville text-3xl leading-tightest uppercase">{{section.settings.title}}</h3>
        {%- endif -%}
        {%- if section.settings.sub_title != blank -%}
          <p class="font-condensed text-base leading-tight uppercase tracking-md text-grey-600 pt-0-8">{{section.settings.sub_title}}</p>
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="flex {% if section.settings.first %}flex-col-reverse{% else %} flex-col{% endif %}">
      {%- if section.blocks.size > 0 -%}
        <div class="flex sm:flex-row flex-col {% if section.blocks.size == 2 %} sm:-mx-2 tablet:-mx-5-3 {% else %}sm:-mx-1-6{% endif %} {% unless section.settings.first %} pb-5 tablet:pb-9{% endunless %}">
          {%- for block in section.blocks -%}
            {%- assign collection = collections[block.settings.collection] -%}
            <div class="w-full sm:w-1/{{section.blocks.size}} {% if section.blocks.size == 2 %} sm:mx-2 tablet:mx-5-3 sm:mb-0  mb-6 {% else %}sm:mx-1-6 sm:mb-0  mb-4{% endif %}" data-aos="fade-up" data-aos-duration="500" {% if forloop.index == 2 %}data-aos-delay="200"{% elsif forloop.index == 3 %}data-aos-delay="400"{% endif %} data-aos-offset="100">
              <div class="relative overflow-hidden">
                {%- if block.settings.label != blank -%}
                  <span class="absolute text-orange pt-1-9 pr-1-9 top-0 right-0 uppercase font-condensed font-bold text-base tracking-md z-2">{{ block.settings.label }}</span>
                {%- endif -%}
                <a href="{{collection.url}}" class="absolute inset-0 hover-image z-1"></a>
                {%- if block.settings.image != blank -%}
                  <img src="{{block.settings.image | img_url: '800x'}}" />
                {%- elsif collection.image -%}
                  <img src="{{collection.image | img_url: '800x'}}" />
                {%- endif -%}
              </div>
              <div class="relative z-1 -mt-1-4 sm:-mt-2 {% if section.blocks.size == 2 %}sm:pl-6-5 pl-3 {% else %}sm:pl-2-5 pl-3 pt-3 {% endif %} text-{{section.settings.colour}}" data-aos="fade-up" data-aos-duration="400" data-aos-offset="10">
                {%- if block.settings.title != blank -%}
                  <h3 class="font-condensed font-bold {% if section.blocks.size == 2 %}text-3xl mb-2-5{% else %}text-xl mb-2{% endif %} leading-none uppercase tracking-md">{{block.settings.title}}</h3>
                {%- else -%}
                  <h3 class="font-condensed font-bold {% if section.blocks.size == 2 %}text-3xl mb-2-5{% else %}text-xl mb-2{% endif %} leading-none uppercase tracking-md mb-2-5">{{collection.title}}</h3>
                {%- endif -%}
                <a href="{{collection.url}}" class="link cursor-pointer font-condensed text-base leading-tightest font-bold uppercase tracking-md">
                  <div class="flex items-center">
                    {% comment %}<span class="-mt-0-6 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span>{% endcomment %}
                    <span class="-mt-0-6 mr-1-2"><span class="flex w-2 h-0-1 bg-{{section.settings.colour}}"></span></span>
                    <span class="text">See All</span>
                  </div>
                </a>
              </div>
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
      {%- if section.settings.collection != blank -%}
        {%- assign collection = collections[section.settings.collection] -%}
        <div class="w-full {% if section.settings.first %}mb-10{% endif %}" data-aos="fade-up" data-aos-duration="500" data-aos-offset="100">
          <div class="overflow-hidden relative">
            <a href="{{collection.url}}" class="absolute inset-0 hover-image z-1"></a>
            {%- if section.settings.image != blank -%}
              <div class="sm:block hidden">
                <img src="{{section.settings.image | img_url: '1200x'}}" class="w-full" />
              </div>
            {%- elsif collection.image -%}
              <div class="sm:block hidden">
                <img src="{{collection.image | img_url: '1200x'}}" class="w-full" />
              </div>
            {%- endif -%}

            {%- if section.settings.mobile_image != blank -%}
              <div class="sm:hidden block">
                <img src="{{section.settings.mobile_image | img_url: '800x'}}" class="w-full" />
              </div>
            {%- else -%}
              <div class="sm:hidden block">
                {%- if section.settings.image != blank -%}
                  <img src="{{section.settings.image | img_url: '800x'}}" class="w-full" />
                {%- elsif collection.image -%}
                  <img src="{{collection.image | img_url: '800x'}}" class="w-full" />
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
          <div class="sm:pl-6-5 pl-3 {% if section.settings.first %}-mt-1-6 text-white{% else %} mt-2-5 sm:mt-4 text-black{% endif %}" data-aos="fade-up" data-aos-duration="400" data-aos-offset="10">
            {%- if section.settings.ctitle != blank -%}
              <h3 class="font-condensed font-bold text-3xl leading-none uppercase tracking-md mb-2-5">{{section.settings.ctitle}}</h3>
            {%- else -%}
              <h3 class="font-condensed font-bold text-3xl leading-none uppercase tracking-md mb-2-5">{{collection.title}}</h3>
            {%- endif -%}
            <a href="{{collection.url}}" class="link font-condensed text-base leading-tightest font-bold uppercase tracking-md">
              <div class="flex items-center ">
                <!-- <span class="-mt-0-6 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                <span class="-mt-0-6 mr-1-2"><span class="flex w-2 h-0-1 {% if section.settings.first %}bg-white{% else %} bg-black{% endif %}"></span></span>
                <span class="text">See All</span>
              </div>
            </a>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>

  <!-- <div class="w-full" style="background-image: url('{{ 'bg-image.png' | asset_url }}')">
  </div> -->
</section>

{% schema %}
{
  "name": "Featured Collection",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "bgcolour",
      "label": "Background Colour",
      "default": "#211E1F"
    },
    {
      "type": "select",
      "id": "colour",
      "label": "Text Colour",
      "default": "white",
      "options": [
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "black",
            "label": "Black"
          }
      ]
    },
    {
      "type": "header",
      "content": "Featured Collection"
    },
    {
      "type" :"checkbox",
      "id": "first",
      "label": "Show First"
    },
    {
      "label": "Collection",
      "id": "collection",
      "type": "collection"
    },
    {
      "type": "text",
      "id": "ctitle",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Image (Mobile)"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
