<section data-section-id="{{ section.id }}" data-section-type="footer" class="relative">
  <div class="max-w-medium mx-auto bg-dark-choc px-2-5 md:px-6 mlg:px-9 xl:px-11-5 pt-4-4 md:pt-6-5 pb-5-5 relative z-1">
    <div class="flex tablet:hidden justify-center items-center mb-4">
      <a href="/" class="text-white">
        {%- include 'logo', class: 'w-13' -%}
      </a>
    </div>
    {%- if section.blocks.size > 0 -%}
      <div class="hidden tablet:flex mb-8-5">
        {%- include 'section-footer' -%}
      </div>
    {%- endif -%}
    <div class="flex lg:flex-row flex-col tablet:-mx-3-2 xl:-mx-4-5 mb-1 md:mb-0">
      <div class="tablet:mx-3-2 xl:mx-4-5 lg-accordion">
        <div class="flex items-center corsur-pointer lg:hidden w-full" data-accordion-title>
          <h5 class="text-white text-sm uppercase tracking-lg leading-tight flex-1 font-condensed">Cacao</h5>
          <div>
            <span class="font-condensed font-bold text-white uppercase tracking-lg text-sm icon">+</span>
            <span class="font-condensed font-bold text-white uppercase tracking-lg text-sm icon open">-</span>
          </div>
        </div>

        <h5 class="lg:block hidden text-white text-sm uppercase tracking-lg leading-tight font-condensed">Contact Us</h5>
        <hr class="border-t border-white border-opacity-50 my-2 lg:block hidden" />
        <div class="content w-24">
          <div class="pt-0-5 pb-3">
            <div class="mb-1-4">
              <div class="relative">
                {%- if section.settings.map_link != blank -%}
                  <a href="{{section.settings.map_link}}" class="text-white inline-block border-link cursor-pointer" target="_blank">
                {%- endif -%}
                {%- if section.settings.address1 -%}
                  <p class="font-baskerville leading-tight text-base text-white font-baskerville tracking-md">{{section.settings.address1}}</p>
                {%- endif -%}
                {%- if section.settings.address2 -%}
                    <p class="font-baskerville leading-tight text-base text-white font-baskerville tracking-md">{{section.settings.address2}}</p>
                {%- endif -%}
                {%- if section.settings.address3 -%}
                  <p class="font-baskerville leading-tight text-base text-white font-baskerville tracking-md">{{section.settings.address3}}</p>
                {%- endif -%}
                {%- if section.settings.map_link != blank -%}
                  </a>
                {%- endif -%}
              </div>

            </div>

            <div class="mb-1-4">
              {%- if section.settings.trading_day -%}
                <p class="font-baskerville leading-tight text-base text-white font-baskerville tracking-md">{{section.settings.trading_day}}</p>
              {%- endif -%}
              {%- if section.settings.trading_hours -%}
                <p class="font-baskerville leading-tight text-base text-white font-baskerville tracking-md">{{section.settings.trading_hours}}</p>
              {%- endif -%}
            </div>

            <div class="">
              {%- if section.settings.phone -%}
                <p class="font-baskerville leading-tight text-base text-white font-baskerville tracking-md">Tel: <a href="tel:{{section.settings.phone}}" class="border-link text-white">{{section.settings.phone}}</a></p>
              {%- endif -%}
              {%- if section.settings.email -%}
                <p class="font-baskerville leading-tight text-base text-white font-baskerville tracking-md">Email: <a href="mailto:{{section.settings.email}}" class="border-link text-white">{{section.settings.email}}</a></p>
              {%- endif -%}
            </div>
          </div>
        </div>
        <hr class="border-t border-white border-opacity-50 mb-4-4 lg:hidden block" />
      </div>

      <div class="tablet:mx-3-2 xl:mx-4-5 lg-accordion">
          <div class="flex items-center corsur-pointer lg:hidden w-full" data-accordion-title>
            <h5 class="text-white flex-1 text-sm uppercase tracking-lg leading-tight font-condensed">
                {%- if section.settings.guarantee_title != balnk -%}{{section.settings.guarantee_title}}{%- else -%}Product Guarantee{%- endif -%}
            </h5>
            <div>
              <span class="font-condensed font-bold text-white uppercase tracking-lg text-sm">+</span>
              <span class="font-condensed font-bold text-white uppercase tracking-lg text-sm hidden">-</span>
            </div>
          </div>
          <h5 class="lg:block hidden text-white text-sm uppercase tracking-lg leading-tight font-condensed">
            {%- if section.settings.guarantee_title != balnk -%}{{section.settings.guarantee_title}}{%- else -%}Product Guarantee{%- endif -%}
          </h5>
          <hr class="border-t border-white border-opacity-50 my-2 lg:block hidden" />
          {%- if section.settings.guarantee_content != blank -%}
            <div class="content">
              <div class="pt-0-5 pb-3 lg:pb-0">
                <p class="font-baskerville text-base leading-tight text-white font-baskerville tracking-md">{{section.settings.guarantee_content}}</p>
              </div>
            </div>
          {%- endif -%}
          <hr class="border-t border-white border-opacity-50 mb-4-4 lg:hidden block" />
      </div>

      <div class="tablet:mx-3-2 xl:mx-4-5 lg-accordion">
            <div class="flex items-center corsur-pointer lg:hidden w-full" data-accordion-title>
              <h5 class="flex-1 text-white text-sm uppercase tracking-lg leading-tight font-condensed">Newsletter</h5>
              <div>
                <span class="font-condensed font-bold text-white uppercase tracking-lg text-sm">+</span>
                <span class="font-condensed font-bold text-white uppercase tracking-lg text-sm hidden">-</span>
              </div>
            </div>

            <h5 class="lg:block hidden text-white text-sm uppercase tracking-lg leading-tight font-condensed">Newsletter</h5>

            <hr class="border-t border-white border-opacity-50 my-2 lg:block hidden" />
            <div class="content w-full md:w-37">
              <div class="pt-0-5 pb-3">
                {%- if section.settings.newsletter_content != blank -%}
                  <p class="font-baskerville leading-tight text-base text-white font-baskerville tracking-md mb-3">{{section.settings.newsletter_content}}</p>
                {%- endif -%}
                {% comment %}<div style="margin:0 auto;" class="pxFormGenerator" id="cIYIOHkNsgAmyaQ1QLTq0w"></div>
                {% include 'newsletter' %}{% endcomment %}
                <div style="margin:0 auto;" class="pxFormGenerator" id="cIYIOHkNsgAmyaQ1QLTq0w"></div>
              </div>
            </div>
            <hr class="border-t border-white border-opacity-50  mb-2-4  sm:mb-4-4 lg:hidden block" />
        </div>

    </div>

    {%- if section.settings.footer_menu != blank -%}
      {%- include 'footer-navigation' -%}
    {%- endif -%}

    <div class="sm:flex justify-center ">
      {%- if section.settings.show_social -%}
        <div class="flex items-center justify-around  sm:mr-4 sm:flex-none flex-1 mb-1 sm:mb-0">
          {%- include 'social-links' -%}
        </div>
      {%- endif -%}
      {% if section.settings.payment != blank %}
          {%- assign types = section.settings.payment | split: ', ' -%}
          <ul class="flex justify-center  mlg:justify-end items-center payment-icons h-3" >
            {% for type in types %}
              <li class="icon-payment mr-0-8">
                {%- include 'payment-icons', type: type  -%}
              </li>
            {% endfor %}
              <li class="icon-payment ">
                {%- include 'payment-icons', type: "afterpay"  -%}
              </li>
          </ul>
      {% endif %}
    </div>
  </div>
  <div class="bg-footer pt-2 pb-1-3 md:pt-3-5 md:pb-4-8">
    <div class="relative z-1 flex justify-center">
      {%- if section.settings.copyright != blank -%}
        <p class="text-grey-800 tracking-md text-xs font-baskerville">© {{ section.settings.copyright }}</p>
      {%- endif -%}
      <p class="text-grey-800 tracking-md text-xs font-baskerville">
        
      </p>
    </div>
  </div>

  {%- if template contains 'index' -%}
    <div class="bg-grey-200 w-full absolute bottom-0 h-51-6"></div>
  {%- endif -%}
  {%- if template contains 'about' -%}
    <div class="bg-white w-full absolute bottom-0 h-51-6"></div>
  {%- endif -%}

</section>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Cacao Information"
      },
      {
        "type": "header",
        "content": "Address"
      },
      {
        "type": "text",
        "id": "address1",
        "label": "Address 1",
        "default": "2 Kembla Street,"
      },
      {
        "type": "text",
        "id": "address2",
        "label": "Address 2",
        "default": "Cheltenham"
      },
      {
        "type": "text",
        "id": "address3",
        "label": "Address 3",
        "default": "VIC 3192 Australia"
      },
      {
        "type": "text",
        "id": "map_link",
        "label": "Google Map Link"
      },
      {
        "type": "text",
        "id": "trading_day",
        "label": "Trading Day",
        "default": "Monday - Friday"
      },
      {
        "type": "text",
        "id": "trading_hours",
        "label": "Trading Hours",
        "default": "9:00 AM to 5:00 PM EST"
      },
      {
        "type": "text",
        "id": "phone",
        "label": "Phone Number",
        "default": "Tel: 1300 258 828"
      },
      {
        "type": "text",
        "id": "email",
        "label": "Email",
        "default": "info@cacao.com.au"
      },
      {
        "type": "header",
        "content": "Product Guarantee"
      },
      {
        "type": "textarea",
        "id": "guarantee_title",
        "label": "Title",
        "default": "Product Guarantee"
      },
      {
        "type": "textarea",
        "id": "guarantee_content",
        "label": "Content"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "textarea",
        "id": "newsletter_content",
        "label": "Content"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show Social Icons"
      },
      {
        "type": "text",
        "id": "payment",
        "label": "Payments",
        "default": "applepay, googlepay, paypal, master, visa"
      },
      {
        "type": "link_list",
        "id": "footer_menu",
        "label": "Footer Menu"
      },
      {
        "type": "text",
        "id": "copyright",
        "label": "Copyright",
        "default": "2020 CACAO"
      }
    ],
    "blocks": [
      {
        "type": "link",
        "name": "Item",
        "settings": [
          {
              "type": "text",
              "id": "text",
              "label": "Text"
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "payment",
            "options": [
                {
                  "value": "payment",
                  "label": "Secured Payment"
                },
                {
                  "value": "certified",
                  "label": "Authenticity Certified"
                },
                {
                  "value": "shipping",
                  "label": "Insured Shipping"
                },
                {
                  "value": "return",
                  "label": "Return"
                }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
