<section data-section-id="{{ section.id }}" data-section-type="header"  class="z-10 fixed top-0 inset-x-0
{% if template == 'product' or template contains 'gift' or template contains 'cart' or template contains 'contact' or template == 'page' or template contains 'balance' or template contains 'stockists' or template contains '404' or template == blank %}bg-dark-choc{% endif %}">
  <div class="max-w-container mx-auto px-2-5 md:px-6 ml:px-14-5 sm:py-0 py-1-6">
    <div class="flex items-center relative">
      <div class="lg:hidden block flex-1 relative z-3">
        <a class="text-white" data-open-nav>{%- include 'icon', type: 'nav', class: 'w-3-5 h-3-5' -%}</a>
        <a class="text-black hidden" data-close-nav>{%- include 'icon', type: 'close', class: 'w-2 h-2' -%}</a>
      </div>
      {%- if section.settings.show_social -%}
        <div class="flex-1 pl-1-6 lg:block hidden">
          {%- include 'social-links' -%}
        </div>
      {%- endif -%}
      <div class="logo sm:py-2-5 mx-auto flex justify-center">
        <a href="/" class="text-white z-3">
          {%- include 'logo', class: 'w-13 sm:w-18-7 sm:h-3-5' -%}
        </a>
      </div>
      <div class="flex-1 flex justify-end items-center z-3 header-links">
        {%- if section.settings.phone != blank -%}
          <div class="flex mr-1-6 sm:mr-2 items-center relative sm:mt-0 mt-0">
            <a href="tel:{{section.settings.phone}}" class="absolute inset-0"></a>
            <p class="tablet:block hidden tracking-md text-grey-400 text-base font-condensed font-bold mr-0-6 pt-0-8">{{section.settings.phone}}</p>
            {%- include 'icon', type: 'phone', class: 'text-white w-1-8 h-1-8 sm:block hidden' -%}
            {%- include 'icon', type: 'phone', class: 'text-white w-2 h-2 sm:hidden block' -%}
          </div>
        {%- endif -%}
        <a {% if template contains 'cart' %}href="/cart"{% else %}data-minicart-open{% endif %} class="cart cursor-pointer w-3-8 h-3-8 flex justify-center items-center relative">
          <span class="relative text-white pr-0-8">
            {%- include 'icon', type: 'cart', class: 'w-2-1 h-2-1 sm:block hidden' -%}
              {%- include 'icon', type: 'cart', class: 'w-2 h-2 sm:hidden block' -%}
            <div class="absolute flex top-0 right-0 flex justify-center items-center">
              <span class="text-xs font-condensed font-bold -mt-0-3" data-cart-count>{{ cart.item_count }}</span>
            </div>
          </span>
          <!-- {{ 'layout.cart.title' | t }} -->
        </a>
        {% unless template contains 'cart' %}
            {% include 'mini-cart' %}
        {% endunless %}
      </div>
    </div>

    <hr class="hidden lg:block w-full border-t border-grey-500" />

    <div class="lg:block hidden pt-1-6">
      {%- include 'navigation' -%}
    </div>

    <div class="lg:hidden block">
      {%- include 'mobile-navigation' -%}
    </div>
  </div>

</section>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show Social Icons"
      },
      {
        "type": "text",
        "id": "phone",
        "label": "Phone Number",
        "default": "1300 258 828"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "mobile_menu",
        "label": "Mobile Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
