{%- comment -%}Sections/hero.liquid{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="hero" class="hero z-1 relative">
  <div class="relative w-full">
    {%- if section.settings.image != blank -%}
      <div class="hidden sm:block">
        <div class="bg-center bg-cover desktop-parallax h-76" data-speed="0.5" data-image-src="{{section.settings.image | img_url: '2600x'}}"></div>
      </div>
    {%- endif -%}
    {%- if section.settings.mobile_image != blank -%}
      <div class="sm:hidden block" style="background: {{section.settings.mobile_background}}">
        <img src="{{section.settings.mobile_image | img_url: '1000x'}}" class="w-full" />
      </div>
    {%- elsif section.settings.image != blank -%}
      <div class="sm:hidden block" style="background: {{section.settings.mobile_background}}">
        <img src="{{section.settings.image | img_url: '1000x'}}" class="w-full" />
      </div>
    {%- endif -%}
  </div>
  {%- if section.settings.background != blank -%}<div class="sm:block hidden absolute inset-0" style="background: {{section.settings.background}}"></div>{%- endif -%}

  <div class="max-w-container absolute inset-0 m-auto px-2-5 md:px-6 ml:px-18 sm:block flex pt-0 pb-0 {% if section.settings.position_mobile contains 'start' %}pt-10{% elsif section.settings.position_mobile contains 'end' %}pb-10{% endif %}" >
    {%- if section.settings.mobile_background != blank -%}<div class="sm:hidden block absolute inset-0 h-9/12" style="background: {{section.settings.mobile_background}}"></div>{%- endif -%}

      <div class="flex h-full {% if section.settings.position contains 'end' %}pb-10{% endif %} items-{{section.settings.position_mobile}} sm:items-center justify-start w-full z-1">
        <div class="mlg:w-1/2 lg:text-left text-center w-full table">
          {%- if section.settings.text != blank -%}
            <p class="text-orange text-md font-condensed uppercase tracking-md mb-0-5">{{section.settings.text}}</p>
          {%- endif -%}
          {%- if section.settings.title != blank -%}
            <h2 class="text-5xl sm:text-6xl font-baskerville leading-none uppercase text-grey-200">{{section.settings.title}}</h2>
          {%- endif -%}

          {%- if section.settings.link_label != blank or section.settings.link != blank -%}
            <div class="flex pt-4 sm:pt-3 lg:justify-start justify-center">
              <a href="{{section.settings.link}}" class="flex text-center border border-{{section.settings.colour}} text-{{section.settings.colour}} transition-fast
              {% if section.settings.colour contains 'white' %}hover:bg-white hover:text-black {% else %}hover:bg-black hover:text-white{% endif %} px-3 pt-1-3 text-xs uppercase tracking-mlg pb-0-9 font-condensed leading-none">
                {{ section.settings.link_label }}
              </a>
            </div>
          {%- endif -%}
        </div>
      </div>

  </div>
</section>

{% schema %}
  {
    "name": "Hero",
    "settings": [
        {
            "type": "header",
            "content": "Image"
        },
        {
          "type": "checkbox",
          "id": "heigher",
          "label": "Full Height Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Image (Mobile)"
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "link_label",
            "label": "Link Label"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        },
        {
            "type": "header",
            "content": "Styles"
        },
        {
          "type": "select",
          "id": "colour",
          "label": "Content Colour",
          "default": "white",
          "options": [
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "black",
              "label": "Black"
            }
          ]
        },
        {
          "type": "text",
          "id": "background",
          "label": "Background Gradient",
          "default": "linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 33%)"
        },
        {
            "type": "header",
            "content": "Mobile Styles"
        },
        {
          "type": "text",
          "id": "mobile_background",
          "label": "Background Colour (Mobile)",
          "default": "linear-gradient(180deg, #000000 53.54%, rgba(0, 0, 0, 0) 96.82%)"
        },
        {
          "type": "select",
          "id": "position_mobile",
          "label": "Content Position (Mobile)",
          "default": "center",
          "options": [
            {
              "value": "start",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Middle"
            },
            {
              "value": "end",
              "label": "Bottom"
            }
          ]
        }
    ],
    "presets": [
      {
        "name": "Hero",
        "category": "Image"
      }
    ]
  }
{% endschema %}
