<section data-section-id="{{ section.id }}" data-section-type="image bg-black">
  <div class="{% unless section.settings.fullwidth %}max-w-container{% endunless %}">
    <div class="-ml-3 sm:-ml-10">
      {%- if section.settings.image != blank -%}
        <!-- <div class="w-full bg-cover bg-center bg-no-repeat h-61" style="background-image: url('{{section.settings.image | img_url: '2000x600'}}')"></div> -->
        <img src="{{section.settings.image | img_url: '1800x'}}" class="w-full sm:block hidden" />
      {%- endif -%}
      {%- if section.settings.mobile_image != blank -%}
        <img src="{{section.settings.mobile_image | img_url: '800x'}}" class="w-full sm:hidden block" />
      {%- else -%}
        <img src="{{section.settings.image | img_url: '800x'}}" class="w-full sm:hidden block " />
      {%- endif -%}
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Image",
    "settings": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Background Image (Mobile)"
        },
        {
          "type": "checkbox",
          "id": "fullwidth",
          "label": "Full Width",
          "default": true
        }
    ],
    "presets": [
      {
        "name": "Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}
