{%- if section.settings.show_popup -%}
  <section id="popupBanner" class="lity-hide">
    <div class="max-w-container mx-auto {% if section.settings.show_form %} w-11/12 sm:w-50 {% else %} px-10 md:px-16-5{% endif %}">
      <div class="{% if section.settings.image != blank %}bg-white w-full mx-auto {% else %}bg-grey-200 w-10/12 pt-4{% endif %} pb-3 sm:pb-0 radius-xs">
        <button class="lity-close {% if section.settings.image != blank %}text-black  sm:text-white{% else %}text-black{% endif %} w-4 h-4 flex justify-center items-center float-right mb-1-2 sm:p-0 pt-1-2 pr-1-2" type="button" aria-label="Close (Press escape to close)" data-close-lity>{%- include 'icon', type: 'close', class: 'text-black w-1-6 h-1-6' -%}</button>

        {%- if section.settings.image != blank -%}
          <div class="bg-cover bg-center bg-no-repeat w-full h-16 sm:h-22 mb-2-5 sm:mb-4" style="background-image: url('{{section.settings.image | img_url: '600x'}}')"></div>
        {%- endif -%}
        <div class="px-3 sm:px-4-4 sm:pt-0 {% if section.settings.show_form %} sm:mb-0 -mb-4 {% endif %}">
          {%- if section.settings.title != blank -%}
            <h4 class="font-condensed text-md tracking-md leading-tight sm:leading-normal mb-1 sm:mb-1-6 uppercase text-center">{{section.settings.title}}</h4>
          {%- endif -%}
          {%- if section.settings.subtitle != blank -%}
            <h4 class="font-baskerville text-sxs tracking-md tracking-tight sm:leading-normal mb-2-8 sm:mb-5 text-center">{{section.settings.subtitle}}</h4>
          {%- endif -%}
          {%- if section.settings.content != blank -%}
            <div class="rte text-center">
              {{section.settings.content}}
            </div>
          {%- endif -%}
          {%- if section.settings.link != blank and section.settings.link_label != blank -%}
            <div class="flex pt-4 justify-center">
              <a href="{{section.settings.link}}" class="link font-condensed text-md leading-tightest font-bold uppercase tracking-md text-black">
                <div class="flex items-center ">
                  <!-- <span class="-mt-0-6 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                  <span class="-mt-0-6 mr-1-2"><span class="flex w-2 h-0-1 bg-black"></span></span>
                  <span class="text">{{section.settings.link_label}}</span>
                </div>
              </a>
            </div>
          {%- endif -%}
          {%- if section.settings.show_form -%}
            {%- include 'popups-form' -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </section>
{%- endif -%}
{% schema %}
  {
    "name": "Popup",
    "settings": [
      {
        "type": "header",
        "content": "Popup"
      },
      {
        "type": "checkbox",
        "id": "show_popup",
        "label": "Show Popup"
      },
      {
        "type": "checkbox",
        "id": "show_form",
        "label": "Show Forms"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "subtitle",
        "label": "Sub Title"
      },
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "html",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "link_label",
        "label": "Link Label",
        "default": "Read More"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ]
  }
{% endschema %}
