<section data-section-id="{{ section.id }}" data-section-type="collection-build" class="collection-build bg-dark-black relative">
  <div class="relative z-1 mx-auto pb-6">
    <div class="flex flex-wrap relative items-center {% if section.settings.position contains 'right' %}flex-row-reverse{% endif %}">
      <div class="image w-full tablet:w-1/2 relative ">
        <!-- <img src="{{section.settings.image | img_url: '1000x'}}" class-"w-full" /> -->
        <img src="{{section.settings.image | img_url: '1000x'}}" class="w-full block sm:hidden" />
        <div class="bg-cover bg-center bg-no-repeat md:h-58 mlg:h-72 w-full sm:block hidden" style="background-image: url('{{section.settings.image | img_url: '1200x'}}')"></div>
      </div>

      <div class="max-w-container mx-auto ml:w-full w-1/2 ml:absolute inset-0 flex {% if section.settings.position contains 'right' %}justify-start{% else %}justify-end{% endif %}">
        <div class="flex md:flex-row flex-col items-center justify-center w-full py-6 ml:w-1/2 text-center {% if section.settings.bg_colour %}text-white{% endif %} px-2-5 md:px-6 ml:px-11">
          <div>
            {%- if section.settings.title != blank -%}
              <h3 class="font-condensed font-bold text-2xl tracking-xl text-white mb-4-5 uppercase text-center ">{{section.settings.title}}</h3>
            {%- endif -%}

            {%- if section.blocks.size > 0 -%}
              <div class="border-2 border-white w-31-4 py-2 px-3">
                {%- if section.settings.table_title != blank -%}
                  <p class="font-baskerville tracking-md text-sxs text-white leading-tight mb-2 text-center">{{section.settings.table_title}}</p>
                {%- endif -%}
                <hr class="border-white border-xs w-full mb-1-1" />
                <div>
                  {%- for block in section.blocks -%}
                    <div class="flex text-white">
                      <p class="w-1/2 font-baskerville font-sxs tracking-md leading-tight leading-looser text-left">{{block.settings.title}}</p>
                      <p class="w-1/2 text-right font-baskerville font-sxs tracking-md leading-tight leading-looser">{{block.settings.price}}</p>
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            {%- endif -%}

            {%- if section.settings.link != blank and section.settings.link_label != blank -%}
              <div class="flex justify-center pt-4-5">
                <a href="{{section.settings.link}}" class="link text-white text-center">
                  <div class="flex items-center font-condensed text-md tracking-md leading-none uppercase">
                    <!-- <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                    <span class="-mt-0-4 mr-1-2"><span class="flex w-2 h-0-1 bg-white"></span></span>
                    <span class="text">{{ section.settings.link_label }}</span>
                  </div>
                </a>
              </div>
            {%- endif -%}
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="bg-dark-black absolute top-full inset-x-0 h-23 w-full"></div>
</section>

{% schema %}
  {
    "name": "Chocolate Selector",
    "settings": [
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image (Desktop)"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Image (Mobile)"
      },
      {
        "type": "select",
        "id": "position",
        "label": "Image Position",
        "default": "right",
        "options": [
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "left",
              "label": "Left"
            }
        ]
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Choose your own"
      },
      {
        "type": "text",
        "id": "link_label",
        "label": "Link Label",
        "default": "Chocolate selector"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "table_title",
        "label": "Table Title",
        "default": "Chocolate Boxes"
      }
    ],
    "blocks": [
      {
        "type": "box",
        "name": "Box",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "price",
            "label": "Price"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Chocolate Selector",
        "category": "Collection Builder"
      }
    ]
  }
{% endschema %}
