{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- assign typeBamboo =  false -%}

{%- if product.tags.size > 0 -%}
  {%- for tag in product.tags -%}
    {%- if tag contains 'size' or tag contains 'Size' -%}
      {%- assign tagSize = tag | replace: 'size: ', '' | replace: 'Size: ', '' -%}
    {%- endif -%}
    {%- if tag contains 'label' or tag contains 'Label' -%}
      {%- assign productLabel =  tag | replace: 'label: ', '' | replace: 'Label: ', '' -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
<section data-section-id="{{ section.id }}" data-section-type="product" class="gift-card relative pt-12 lg:pt-20 pb-0 sm:pb-0 overflow-hidden">
  <div class="max-w-container mx-auto px-2 sm:px-4 lg:px-6 mlg:px-10-3 relative z-1">
    <div class="flex md:flex-row flex-col ml:px-6">
        <div class="w-full md:w-4/6 md:pr-8 md:mb-0 mb-4">
          {% if product.images.size > 1 %}
            <div data-slick="product" class="slider-for">
              {%- for image in product.images -%}
                <div class="slide flex justify-center items-center" data-image="{{image.id}}">
                  <img src="{{image | img_url: '1200x'}}" class="w-full" />
                </div>
              {%- endfor -%}
            </div>
            <div data-slick="thumbnail" class="slider-nav" data-slide-show="{{product.images.size}}">
              {%- for image in product.images -%}
                <div class="slide flex justify-center items-center p-0-7" data-image="{{image.id}}">
                  <!-- <div class="p-2 cursor-pointer slide-thumb mx-1 md:mx-1-2 md:max-w-13 w-1/3 "></div> -->
                  <div class="slide-thumb  md:h-8 h-8 w-9-2">
                    <div style="background-image: url('{{image | img_url: '200x' }}')" class="w-full h-full bg-cover bg-center bg-no-repeat"></div>
                  </div>
                </div>
              {%- endfor -%}
            </div>
          {% else %}
            <div class="slide flex justify-center items-center">
              <img src="{{product.featured_image | img_url: '1000x' }}" class="w-full"/>
            </div>
          {% endif %}
        </div>

        <div class="w-full md:w-2/6 relative">
          <div class="">
            {%- if productLabel -%}
              <h5 class="font-condensed text-md text-orange uppercase tracking-md leading-tightest mb-0-5">{{productLabel}}</h5>
            {%- endif -%}
            <h1 class="text-black font-baskerville leading-normal font-normal text-5xl mb-0-8 uppercase">{{ product.title }}</h1>
            {%- if product.description != blank -%}
              <div class="rte pb-5">
                {{ product.description }}
              </div>
            {%- elsif section.settings.description != blank -%}
              <div class="rte pb-5">
                {{ section.settings.description }}
              </div>
            {%- endif -%}
          </div>
          <div class="">
              {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true', class: 'sm:max-w-40 relative z-1' %}
                <div class="flex flex-wrap">
                  <div class="flex-1 relative mr-4">
                    <div class="flex pb-0-8">
                      <p class="font-baskerville text-1/2xs leading-normal text-white">Select amount</p>
                    </div>
                    {%- assign newIndex = sizeIndex | plus: 1 -%}
                    {% assign newIndex = 'option' | append: newIndex %}
                    {% for option in product.options_with_values %}
                      {%- if option.name contains 'amount' or option.name contains 'Amount' -%}
                        <select id="Option0" name="options[amount]" class="absolute inset-x-0 bottom-0 pb-0-3 w-full font-condensed text-md uppercase tracking-md">
                        {%- for value in option.values -%}
                          {%- assign count = 0 -%}
                          {%- for variant in product.variants -%}
                              {%- if count < 1 and variant[newIndex] == value -%}
                                {%- assign count = count | plus: 1 -%}
                                <option value="{{ value }}" {% if option.selected_value == value %} selected="selected" {% endif %}>
                                  {{ value }}
                                </option>
                              {%- endif -%}
                          {%- endfor -%}
                        {%- endfor -%}
                        </select>
                      {%- endif -%}
                    {%- endfor -%}

                    <span class="absolute right-0 inset-y-0 flex items-center -mt-0-6 pointer-events-none">{% include 'icon', type: 'down', class: 'w-1-2 h-1-2' %}</span>
                    <hr class="relative z-1 w-full border-t border-black" />
                  </div>
                  <div class="hidden flex-1" data-price-wrapper>
                    <h3 class="text-black text-29 font-condensed leading-none font-bold tracking-md" data-product-price>{{ current_variant.price | money }}</h3>

                    {% if product.compare_at_price_max > product.price %}
                      <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                      <s data-compare-price>
                        {% if current_variant.compare_at_price > current_variant.price %}
                          {{ current_variant.compare_at_price | money }}
                        {% endif %}
                      </s>
                    {% endif %}
                  </div>
                  <div class="flex items-center -mt-0-4">
                    <a class="flex justify-center flex-1 text-base tracking-md cursor-pointer font-condensed font-bold" data-product-minus>-</a>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1" data-max="{{current_variant.inventory_quantity}}" pattern="[0-9]*" class="border-0 w-6 text-center font-condensed font-bold text-18 sm:text-md px-0">
                    <a class="flex justify-center flex-1 text-base tracking-md cursor-pointer font-condensed font-bold" data-product-plus>+</a>
                  </div>
                </div>
                <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js hidden">
                  {% for variant in product.variants %}
                    <option value="{{ variant.id }}"
                      {%- if variant == current_variant %} selected="selected" {%- endif -%}
                    >
                      {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                    </option>
                  {% endfor %}
                </select>

                <!-- <label for="Quantity">{{ 'products.product.quantity' | t }}</label> -->
                <!-- <input type="number" id="Quantity" name="quantity" value="1" min="1" class="hidden"> -->

                <button
                  type="submit"
                  name="add"
                  data-submit-button
                  {% unless current_variant.available %}disabled="disabled"{% endunless %} class="mt-6 mb-2 bg-black w-full h-4 text-center text-white text-xs font-bold tracking-mlg pt-0-4 font-condensed uppercase border border-black hover:bg-transparent hover:text-black transition-fast">
                    <span data-submit-button-text>
                      {% if current_variant.available %}
                        Add To Cart
                      {% else %}
                        Sold Out
                      {% endif %}
                    </span>
                </button>
              {% endform %}
            </div>
          <div class="flex share items-center">
            <h5 class="font-condensed tracking-md text-black uppercase text-xs w-6 mr-0-8 pt-0-5">Share:</h5>
            {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
          </div>

          {% comment %} <div class="flex pt-6">
            <a href="/pages/check-balance" class="link text-center">
              <div class="flex items-center font-condensed text-md tracking-md leading-none uppercase">
                <!-- <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                <span class="-mt-0-4 mr-1-2"><span class="flex w-2 h-0-1 bg-black"></span></span>
                <span class="text">CHECK VOUCHER BALANCE</span>
              </div>
            </a>
          </div> {% endcomment %}

          {%- if section.blocks.size > 0 -%}
            <div class="py-1-2 border-t border-b border-black accordion mt-4">
                <div class="flex items-center corsur-pointer" data-accordion-title>
                  <h5 class="flex-1 font-condensed font-bold text-black uppercase tracking-lg text-sm">Product information</h5>
                  <div>
                    <span class="font-condensed font-bold text-black uppercase tracking-lg text-sm">+</span>
                    <span class="font-condensed font-bold text-black uppercase tracking-lg text-sm hidden">-</span>
                  </div>
                </div>

                <div class="content">
                  <div class="pt-3">
                    {%- for block in section.blocks -%}
                      {%- if block.settings.title != blank -%}
                        <h5 class="font-condensed font-bold text-grey-600 leading-tight mb-1 uppercase tracking-lg text-sm">{{block.settings.title}}<h5>
                      {%- endif -%}
                      <div class="rte pb-3">
                        {%- if block.settings.content != blank -%}
                          {{block.settings.content}}
                        {%- endif -%}
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
            </div>
          {%- endif -%}
        </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "html",
        "id": "description",
        "label": "Product Description"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Information",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}
