{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- assign productType = 'chocolate' -%}
{%- if product.tags.size > 0 -%}
  {%- for tag in product.tags -%}
    {%- if tag contains 'label' or tag contains 'Label' -%}
      {%- assign productLabel =  tag | replace: 'label: ', '' | replace: 'Label: ', '' -%}
    {%- endif -%}
    {%- if tag contains 'type' or tag contains 'Type' -%}
      {%- assign productType =  tag | replace: 'type: ', '' | replace: 'Type: ', '' | downcase -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- for option in product.options_with_values -%}
  {%- assign name = option.name | downcase -%}
  {%- assign position = option.position | minus: 1 -%}
  {%- if name contains 'size' -%}
    {%- assign sizeIndex = position -%}
  {%- endif -%}
{%- endfor -%}

<section data-section-id="{{ section.id }}" data-section-type="product-boxes" class="product-selector product-selection">
  <div class="relative h-53 w-full bg-cover bg-center bg-no-repeat bg-black" {% if product.images.size > 1 %} style="background-image: url('{{ product.images[1] | img_url: '1200x' }}'); "{% endif %}>
      {%- if product.images.size > 0 -%}
      <div class="h-full w-full bg-cover bg-center bg-no-repeat" style="background-image: url('{{ product.images[0] | img_url: '1200x' }}')"></div>
      {%- endif -%}
      <div class="max-w-container mx-auto absolute inset-0 z-1 flex justify-center pt-10 md:pt-20 text-center">
        <div>
          {%- if productLabel -%}
            <h5 class="font-condensed text-md text-orange uppercase tracking-md leading-tightest mb-0-5">{{productLabel}}</h5>
          {%- endif -%}
          <h1 class="text-white font-baskerville leading-normal font-normal text-5xl uppercase mb-0-8">
            {{productLabel}} Selector
          </h1>
        </div>
      </div>
  </div>
  <div class=" md:mb-10 relative z-1">
    <div class="max-w-container mx-auto -mt-20 px-2 sm:px-4 lg:px-6 ml:px-16-5 pb-8">
      <div class="bg-white box-shadow px-3 tablet:px-6-5">
        <div class="flex md:flex-row flex-col relative">
          <div class="flex-1 py-6-6 md:pl-3">
            <h3 class="sm:text-left text-center font-condensed font-bold tracking-lg uppercase text-xl leading-none mb-2-5">STEP 1: select box size</h3>
            <div class="">
              {%- if productLabel contains 'Macaron' or productLabel contains 'macaron' -%}
                {% assign collectionHandle = 'macaron-boxes' %}
              {%- else -%}
                {% assign collectionHandle = 'chocolate-boxes' %}
              {%- endif -%}
              {%- for product in collections[collectionHandle].products -%}
                {%- if forloop.first -%}
                  {%- for tag in product.tags -%}
                    {%- assign tagHandle = tag | downcase -%}
                    {%- if tagHandle contains 'size' -%}
                      {%- assign selectedBoxSize = tagHandle | replace: 'size: ', '' -%}
                      {%- assign selectedBoxPrice = product.price | money -%}
                      {%- assign selectedMainPrice = product.price  -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}

                {%- if product.tags.size > 0 -%}
                  {%- for tag in product.tags -%}
                    {%- assign tagHandle = tag | downcase -%}
                    {%- if tagHandle contains 'size' -%}
                      {%- assign dataSize = tagHandle | replace: 'size: ', '' -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
                <div class="flex">
                  <div class="flex-1">
                    <input type="radio" id="{{product.selected_or_first_available_variant.id}}" name="options[Size]" data-size="{{dataSize}}" data-value-id="{{product.selected_or_first_available_variant.id}}" value="{{product.selected_or_first_available_variant.id}}" data-value-price="{{product.price}}" data-product-title="{{ product.title }}" class="hidden" {% if forloop.first %} checked {% endif %}>
                    <label for="{{product.selected_or_first_available_variant.id}}" class="md:leading-loose font-baskerville w-full relative pl-3-2 text-sxs tracking-md text-black  block transition-fast mb-2">{{ product.title }}</label>
                  </div>
                  <div class="price w-9 text-left">
                    <p class=" font-baskerville text-sxs tracking-md text-black md:leading-loose mb-2 text-right">{{product.price | money}}</p>
                  </div>
                </div>
              {%- endfor -%}
            </div>
          </div>

          <div class="relative w-full md:w-2/5 flex items-center overflow-hidden sm:pb-0 pb-4">
            {%- for product in collections[collectionHandle].products -%}
              {%- if product.tags.size > 0 -%}
                {%- for tag in product.tags -%}
                  {%- assign tagHandle = tag | downcase -%}
                  {%- if tagHandle contains 'size' -%}
                    {%- assign boxSize = tagHandle | replace: 'size: ', ''-%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
              <div class="{% unless forloop.first %} hidden{% endunless %} " data-image-id="{{product.selected_or_first_available_variant.id}}" data-variant="{{product.selected_or_first_available_variant.id}}" data-box="{{boxSize}}">
                <img src="{{product.images[0] | img_url: '1000x'}}" />
              </div>
            {%- endfor -%}
          </div>

          <div class="pt-1-5 sm:block hidden absolute right-0 bottom-0 pb-4">
            <a data-next-id="step2" class="text-base uppercase tracking-md font-condensed font-bold flex cursor-pointer items-center">
              <span>Next Step</span><span class="pl-0-4 -mt-0-4">{% include 'icon', type: 'next', class: 'w-1-2 h-1-2' %}</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white mb-6-3">
      <div class="max-w-container mx-auto px-2 sm:px-4 lg:px-6 mlg:px-16-5 pb-6-6 pt-5-6" id="step2">
        <div class="w-full relative flex flex-col ">
          <div class="flex">
            <h3 class="sm:text-left text-center flex-1 font-condensed font-bold tracking-lg uppercase text-xl leading-none mb-0-5">STEP 2: select individual&nbsp;{%- if productType contains 'chocolate' -%}chocolates {%- else -%}macarons {%- endif -%}</h3>
          </div>
          <div class="text-black text-xl tracking-xl uppercase font-condensed sm:order-first sm:text-left text-center order-2 sm:absolute top-0 right-0" data-box-counter>
            {%- assign baxNumb = current_variant[newIndex] | slice: 0, 2 | times: 1 -%}
            <span data-current-select>0</span>
            <span>/</span>
            <span data-total-select>{{selectedBoxSize}}</span>
          </div>
          <div class="rte mb-6 sm:text-left text-center">          
            <p>Click&nbsp;{%- if productType contains 'chocolate' -%} chocolates {%- else -%} macarons {%- endif -%}&nbsp;to add to box
               <br><br>Allergen dietary reference:<br>
               <br>A = Contains Alcohol
               <br>G = Contains Gluten
               <br>N = Contains Nuts
            </p>          
          </div>
          <div class="box-overflow">
            <div class="flex relative -mx-1-6 flex-wrap">
              {%- if productLabel contains 'Macaron' or productLabel contains 'macaron' -%}
                {% assign collectionHandleIndividual = 'individual-macaron' %}

                
              {%- else -%}
                {% assign collectionHandleIndividual = 'individual-chocolate' %}
              {%- endif -%}

              {%- for product in collections[collectionHandleIndividual].products -%}
                <div class="w-1/2 md:w-1/4 tablet:w-1/6 px-1-6 mb-3-2">
                  <div class="relative">
                    <div class="w-full overflow-hidden bg-cover bg-center pt-full mb-1-6 selection-image" style="background-image: url('{{ product.images[0] | img_url: '1000x' }}')" data-type="{{ product.images[0] | img_url: '1000x'}}" data-type-value="{{product.selected_or_first_available_variant.id}}">
                      {%- if product.images.size > 1 -%}<div class="bg-cover bg-center absolute inset-0 hover-image" style="background-image: url('{{ product.images[1] | img_url: '1000x' }}')"></div>{%- endif -%}


                      {% for tag in product.tags %}
                        {% if tag contains 'new' %}
                          <span class="block absolute top-0 ml-1 mt-1 new-product uppercase text-white bg-purpule font-bold tracking-lg font-condensed text-base  h-1-8   pl-0-4 pr-0-1 py-0 ">{{ tag }}</span>
                        {% endif %}
                      {% endfor %}

                      <div class="flex w-full absolute top-0 inset-x-0 z-2 -mt-0-8 justify-end hover-minus">
                          <span class="w-2-4 h-2-4 pl-0-2 bg-black rounded-full flex justify-center items-center opacity-0 text-center -mr-0-5 p-0">
                            <span class="font-condensed font-bold pt-0-6 text-md text-white text-center leading-none -ml-0-1" style="line-height: 0.5;" data-type-count></span>
                          </span>
                          <div class="w-2-4 h-2-4 flex justify-center items-start text-center cursor-pointer absolute top-0 right-0 z-1 -mr-0-6" data-remove-box="{{product.selected_or_first_available_variant.id}}">
                            <span class="font-condensed font-bold tracking-md text-md text-white w-2-4 h-2-4 bg-black rounded-full flex justify-center items-center pl-0-2 pt-0-2">-</span>
                          </div>
                      </div>
                      <div class="absolute inset-0 z-1 cursor-pointer" data-add-choc="{{product.selected_or_first_available_variant.id}}" data-product-title="{{product.title}}"></div>
                      <div class="absolute inset-x-0 bottom-0 z-0 add-text"><span class="font-condensed font-bold tracking-md uppercase text-base text-black flex justify-center items-center">Add To Box <span class="-mt-0-3 pl-0-4">+</span></span></div>
                    </div>
                  </div>
                  <div class="text-center">
                    <h5 class="font-condensed font-bold tracking-md uppercase text-sm mb-0-5 leading-tightest">{{product.title}}</h5>
                    <div class="rte">
                      {{product.description}}
                    </div>
                  </div>
                </div>
              {%- endfor -%}
              <div class="custom-scrollbar"></div>
            </div>
            <img src="{{ 'icon-scroll.svg' | asset_url }}" alt="Gift card illustration" class="max-w-40 mx-auto scroll-icon sm:hidden"  >
          </div>
        </div>
        <div class="pt-1-5 sm:flex justify-end hidden">
          <a data-next-id="step3" class="text-base uppercase tracking-md font-condensed font-bold flex cursor-pointer items-center">
            <span>Next Step</span><span class="pl-0-4 -mt-0-4">{% include 'icon', type: 'next', class: 'w-1-2 h-1-2' %}</span>
          </a>
        </div>


        <div class="sm:hidden block text-center pt-3">
          <div class="rte">
            {{product.description}}
          </div>
        </div>
      </div>
    </div>

    <div class="max-w-container mx-auto px-2 sm:px-4 lg:px-6 ml:px-16-5 pb-7" id="step3">
      <div class="bg-white box-shadow pt-6 pb-10 px-3 tablet:px-9-5">
        <h3 class="sm:text-left text-center flex-1 font-condensed font-bold tracking-lg uppercase text-xl leading-none mb-6">STEP 3: select amount of boxes and add to cart</h3>
        <div class="w-full">

          {%- assign baxNumb = current_variant[newIndex] | slice: 0, 2 | times: 1 -%}

          {%- if productType contains 'chocolate' -%}
            {%- assign maxBoxNumb = 25 -%}
          {%- else -%}
            {%- assign maxBoxNumb = 40 -%}
          {%- endif -%}

          {%- for product in collections[collectionHandle].products -%}
            {%- if product.tags.size > 0 -%}
              {%- for tag in product.tags -%}
                {%- assign tagHandle = tag | downcase -%}
                {%- if tagHandle contains 'size' -%}
                  {%- assign boxSize = tagHandle | replace: 'size: ', '' | times: 1 -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}

            {%- assign boxWidth = 'w-1/2 md:w-1/4 tablet:w-1/6' -%}
            {%- if boxSize == 4 -%}
              {%- assign width = 'md:w-2/6' -%}
              {%- assign boxWidth = 'w-1/2 md:w-1/2 tablet:w-1/2' -%}
            {%- elsif boxSize == 10 -%}
              {%- assign width = 'w-5/6' -%}
              {%- assign boxWidth = 'w-1/2 md:w-1/4 tablet:w-1/5' -%}
            {%- elsif boxSize == 16 -%}
              {%- assign width = 'md:w-47-5' -%}
              {%- assign boxWidth = 'w-1/2 md:w-1/4 tablet:w-11-4' -%}
            {%- elsif boxSize == 25 -%}
              {%- assign width = 'w-full tablet:w-58' -%}
              {%- assign boxWidth = 'w-1/2 md:w-1/5 tablet:w-11-4' -%}
            {%- elsif boxSize == 40 -%}
              {%- assign width = 'md:w-full' -%}
              {%- assign boxWidth = 'w-1/2 md:w-1/4 tablet:w-1/5' -%}
            {%- endif -%}
            <div class="flex flex-wrap -mx-1-2 mb-4 {% unless forloop.first %}hidden{% endunless %} {{width}}" data-variant-index="{{product.selected_or_first_available_variant.id}}">
              {%- for i in (1..boxSize) -%}
                <div class="w-1/2 md:w-1/4 {{boxWidth}} px-1-2 mb-2-4 relative" data-index="{{i}}">
                    <div class="flex justify-end items-start -mt-0-7 flex-1 text-center hidden cursor-pointer absolute inset-0 z-1 mx-1-2" data-product-title="{{product.title}}" data-remove-choc>
                      <span class="font-condensed font-bold tracking-md text-md text-white w-1-8 h-1-8 bg-black rounded-full flex justify-center items-center pl-0-2 pt-0-2 -mr-0-8">-</span></div>
                    <div class="border-2 border-grey-300 pt-full relative bg-selected"></div>
                </div>
              {%- endfor -%}
            </div>
          {%- endfor -%}
        </div>

        <div class="flex md:flex-row flex-col">
          <div class="w-full md:w-2/6">
            <div class="flex mb-4">
              <div class="flex flex-1" data-price-wrapper>
                <h3 class="text-black text-29 font-condensed leading-none font-bold tracking-md" data-product-price="{{product.selected_or_first_available_variant.id}}" data-main-price="{{selectedMainPrice}}">{{ selectedBoxPrice}}</h3>
              </div>
              <div class="flex items-center">
                <a class="flex justify-center flex-1 text-base tracking-md cursor-pointer font-condensed font-bold" data-product-minus="{{product.selected_or_first_available_variant.id}}">-</a>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" max="{{current_variant.inventory_quantity}}" data-max="{{current_variant.inventory_quantity}}" class="border-0 w-6 text-center font-condensed font-bold text-18 sm:text-md px-0">
                <a class="flex justify-center flex-1 text-base tracking-md cursor-pointer font-condensed font-bold" data-product-plus="{{product.selected_or_first_available_variant.id}}">+</a>
              </div>
            </div>

            <input id="selection" type="text" name="properties[selection]" class="hidden">
            <div class="relative">
              <a class="absolute inset-0 z-1" data-submit></a>
              <a class="mb-2 pt-0-5 bg-black w-full h-4 text-center text-white text-xs font-bold font-condensed tracking-mlg uppercase border border-black cursor-pointer hover:bg-transparent hover:text-black transition-fast flex items-center justify-center" data-add-cart>Add To Cart</a>
            </div>
            <div class="flex share items-center">
              <h5 class="font-condensed tracking-md text-black uppercase text-xs mr-1-2 pt-0-5">Share:</h5>
              {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
            </div>
          </div>
          <div class="w-4/6 pl-4 ml:pl-9-5 sm:block hidden">
            <div class="rte">
              {{product.description}}
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>


</section>
{%- if section.settings.show_section -%}
  {%- include 'product-links' -%}
{%- endif -%}

{%- include 'product-recommended' -%}

{% schema %}
{
  "name": "Template Product",
  "settings": [
      {
        "type": "text",
        "id": "product_title",
        "label": "Select your own chocolates"
      },
      {
        "type": "html",
        "id": "description",
        "label": "Product Description"
      },
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show Section",
      "default": true
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Image (Mobile)"
    },
    {
      "type": "select",
      "id": "position",
      "label": "Image Position",
      "default": "right",
      "options": [
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
      ]
    },
    {
      "type": "checkbox",
      "id": "bg_colour",
      "label": "Show Dark Background",
      "default": true
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Cacao"
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "Link Label",
      "default": "Read More"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "html",
      "id": "content",
      "label": "Content"
    }
  ]
}
{% endschema %}
