{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- assign typeBamboo =  false -%}

{%- if product.tags.size > 0 -%}
  {%- for tag in product.tags -%}
    {%- if tag contains 'size' or tag contains 'Size' -%}
      {%- assign tagSize = tag | replace: 'size: ', '' | replace: 'Size: ', '' -%}
    {%- endif -%}
    {%- if tag contains 'label' or tag contains 'Label' -%}
      {%- assign productLabel =  tag | replace: 'label: ', '' | replace: 'Label: ', '' -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

<section data-section-id="{{ section.id }}" data-section-type="product" class="relative">
  <div class="max-w-container mx-auto px-2 sm:px-4 lg:px-6 mlg:px-10-3 relative z-1">
    <div class="flex tablet:flex-row flex-col ml:px-6 sm:pt-0 pt-10">
        <div class="w-full tablet:w-4/6 tablet:pr-7 md:mb-0 mb-4 tablet:pb-12 bg-white float-height">

          <div class="top-0 z-1 sm:pt-14 lg:pt-20" data-sticky>
            {% if product.images.size > 1 %}
              <div data-slick="product" class="slider-for mb-2">
                {%- for image in product.images -%}
                  <div class="slide flex justify-center items-center" data-image="{{image.id}}">
                    <img src="{{image | img_url: '1200x'}}" class="w-full" />
                    <!-- {% include 'responsive-image' with
                      image: image,
                      max_width: 1200,
                      max_height: 1200,
                      class: 'w-full',
                    %} -->
                  </div>
                {%- endfor -%}
              </div>
              <div data-slick="thumbnail" class="slider-nav flex-no-wrap" data-slide-show="{{product.images.size}}">
                {%- for image in product.images -%}
                  <div class="slide flex justify-center sm:w-auto {% if product.images.size < 4 %}w-1/4{% else %}w-1/{{product.images.size}}{% endif %} items-center p-0-7" data-image-id="{{image.id}}">
                    <!-- <div class="p-2 cursor-pointer slide-thumb mx-1 md:mx-1-2 md:max-w-13 w-1/3 "></div> -->
                    <div class="slide-thumb bg-white md:h-8 sm:h-6-5 w-full sm:w-9-2">
                      <div style="background-image: url('{{image | img_url: '200x' }}')" class="w-full h-full bg-cover bg-center bg-no-repeat hidden sm:block"></div>
                      <img src="{{image | img_url: '130x' }}" class="max-w-full w-full sm:hidden block"/>
                    </div>
                      <!-- <img src="{{image | img_url: '130x' }}" class="max-w-full"/> -->

                  </div>
                {%- endfor -%}
              </div>
            {% else %}
              <img src="{{featured_image | img_url: '1200x'}}" class="w-full" />
              {% comment %}
               {% include 'responsive-image' with
                image: featured_image,
                max_width: 700,
                max_height: 800,
                image_attributes: "data-product-featured-image",
                wrapper_class: wrapper_class,
                wrapper_attributes: "data-product-image-wrapper",
              %}{% endcomment %}
            {% endif %}
          </div>
        </div>

        <div class="w-full tablet:w-2/6 relative sm:pt-14 lg:pt-20 pb-9 sm:pb-12">
          <div class="z-1">
            {%- for collection in product.collections -%}
              {%- if collection.handle contains 'chocolate' -%}
                {%- assign productLabel = 'Signature Chocolates' -%}
              {%- else -%}
                {%- assign productLabel = collection.title -%}
              {%- endif -%}
            {%- endfor -%}
            {%- if productLabel -%}
              <h5 class="font-condensed text-md text-orange uppercase tracking-md leading-tightest mb-0-5">{{productLabel}}</h5>
            {%- endif -%}
            <h1 class="text-black font-baskerville font-normal uppercase text-3xl mb-1-5 leading-none">{{ product.title }}</h1>
            {%- if product.description != blank -%}
              <div class="rte pb-5">
                {{ product.description }}
              </div>
            {%- elsif section.settings.description != blank -%}
              <div class="rte pb-5">
                {{ section.settings.description }}
              </div>
            {%- endif -%}
          </div>
          <div class="z-1">
              {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true', class: 'max-w-40 relative z-1 block' %}
                <div class="flex">
                  <div class="flex flex-1" data-price-wrapper>
                    {%- assign selectPrice = current_variant.price  -%}
                    <h3 class="text-black text-29 font-condensed leading-none font-bold tracking-md" data-product-price="{{product.id}}" data-main-price="{{selectPrice}}">{{ selectPrice | money }}</h3>

                    {% if product.compare_at_price_max > product.price %}
                      <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                      <s data-compare-price>
                        {% if current_variant.compare_at_price > current_variant.price %}
                          {{ current_variant.compare_at_price | money }}
                        {% endif %}
                      </s>
                    {% endif %}
                  </div>
                  <div class="flex items-center">
                    <a class="flex justify-center flex-1 text-base tracking-md cursor-pointer font-condensed font-bold w-3-2" data-product-minus="{{product.id}}">-</a>
                    <input type="number" id="Quantity" name="quantity" value="1" min="1" pattern="[0-9]*" class="border-0 w-6 text-center font-condensed font-bold bg-transparent text-18 sm:text-md px-0">
                    <a class="flex justify-center flex-1 text-base tracking-md cursor-pointer font-condensed font-bold w-3-2" data-product-plus="{{product.id}}">+</a>
                  </div>
                </div>

                <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js hidden">
                  {% for variant in product.variants %}
                    <option value="{{ variant.id }}"
                      {%- if variant == current_variant %} selected="selected" {%- endif -%} data-variant-id="{{variant.id}}"
                     data-qty="{{variant.inventory_quantity}}">
                      {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                    </option>
                  {% endfor %}
                </select>
                <!-- <noscript>
                  <select name="id">
                    {% for variant in product.variants %}
                      <option
                        {% if variant == current_variant %}selected="selected"{% endif %}
                        {% unless variant.available %}disabled="disabled"{% endunless %}
                        value="{{ variant.id }}">
                          {{ variant.title }}
                      </option>
                    {% endfor %}
                  </select>
                </noscript> -->

                <!-- <label for="Quantity">{{ 'products.product.quantity' | t }}</label> -->
                <!-- <input type="number" id="Quantity" name="quantity" value="1" min="1" class="hidden"> -->

                <div class="mt-2">
                  {%- if product.metafields.accentuate.age_restriction -%}
                    <input type="checkbox" id="age_restrictions" name="age_restrictions" value="1" required ><label for="age_restrictions"> I am over 18 years of old</label>
                  {% endif %}
                </div>
                <button
                  type="submit"
                  name="add"
                  data-submit-button
                  {% unless current_variant.available %}disabled="disabled"{% endunless %} class="main-form mt-2 mb-2 bg-black w-full h-4 text-center text-white text-xs font-bold tracking-mlg pt-0-4 font-condensed uppercase border border-black hover:bg-transparent hover:text-black transition-fast cursor-pointer">
                    <span data-submit-button-text>
                      {% if current_variant.available %}
                        Add To Cart
                      {% else %}
                        Sold Out
                      {% endif %}
                    </span>
                </button>
              {% endform %}
            </div>
          <div class="z-1 flex share items-center mb-4">
            <h5 class="font-condensed tracking-md text-black uppercase text-xs mr-1-2 pt-0-5">Share:</h5>
            {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
          </div>

          {%- if product.metafields.accentuate.allergens != blank or product.metafields.accentuate.shipping != blank or product.metafields.accentuate.storage != blank or section.settings.allergens_content != blank or section.settings.storage_content != blank or section.settings.shipping_content != blank -%}
            <div class="z-1 pt-1-2 pb-0-6 border-t border-black {% unless product.metafields.accentuate.additional_content != blank %}border-b {% endunless %} accordion">
                <div class="flex items-center cursor-pointer" data-accordion-title>
                  <h5 class="flex-1 font-condensed font-bold text-black uppercase tracking-lg text-sm">Product information</h5>
                  <div class="-mt-0-3">
                    <span class="font-condensed font-bold text-black uppercase tracking-lg text-sm icon">+</span>
                    <span class="font-condensed font-bold text-black uppercase tracking-lg text-sm icon open">-</span>
                  </div>
                </div>

                <div class="content">
                  <div class="pt-3">
                    {%- if product.metafields.accentuate.allergens != blank or section.settings.allergens_content != blank -%}
                      <h5 class="font-condensed font-bold text-grey-600 leading-tight mb-1 uppercase tracking-lg text-sm">
                        {%- if product.metafields.accentuate.allergens_title != lank -%}{{product.metafields.accentuate.allergens_title}}{%- else -%}Allergens{%- endif -%}<h5>
                      <div class="rte pb-3">
                        {%- if product.metafields.accentuate.allergens != blank -%}{{product.metafields.accentuate.allergens }}
                        {%- else -%}{{section.settings.allergens_content}}{%- endif -%}
                      </div>
                    {%- endif -%}
                    {%- if product.metafields.accentuate.shipping != blank or section.settings.shipping_content != blank -%}
                      <h5 class="font-condensed font-bold text-grey-600 leading-tight mb-1 uppercase tracking-lg text-sm">
                        {%- if product.metafields.accentuate.shipping_title != lank -%}{{product.metafields.accentuate.shipping_title}}{%- else -%}Shipping{%- endif -%}<h5>
                      <div class="rte pb-3">
                        {%- if product.metafields.accentuate.shipping != blank -%}{{product.metafields.accentuate.shipping }}
                        {%- else -%}{{section.settings.shipping_content}}{%- endif -%}
                      </div>
                    {%- endif -%}
                    {%- if product.metafields.accentuate.storage != blank or section.settings.storage_content != blank -%}
                      <h5 class="font-condensed font-bold text-grey-600 leading-tight mb-1 uppercase tracking-lg text-sm">
                        {%- if product.metafields.accentuate.storage_title != lank -%}{{product.metafields.accentuate.storage_title}}{%- else -%}Storage{%- endif -%}<h5>
                      <div class="rte pb-3">
                        {%- if product.metafields.accentuate.storage != blank -%}{{product.metafields.accentuate.storage }}
                        {%- else -%}{{section.settings.storage_content}}{%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                </div>
            </div>
          {%- endif -%}
          {%- if product.metafields.accentuate.additional_content != blank -%}
            <div class="z-1 pt-1-2 pb-0-6 border-t border-b border-black accordion">
                <div class="flex items-center cursor-pointer" data-accordion-title>
                  <h5 class="flex-1 font-condensed font-bold text-black uppercase tracking-lg text-sm">Product additional</h5>
                  <div class="-mt-0-3">
                    <span class="font-condensed font-bold text-black uppercase tracking-lg text-sm icon">+</span>
                    <span class="font-condensed font-bold text-black uppercase tracking-lg text-sm icon open">-</span>
                  </div>
                </div>

                <div class="content">
                  <div class="rte pt-3">
                    {{product.metafields.accentuate.additional_content}}
                  </div>
                </div>
            </div>
          {%- endif -%}
        </div>
    </div>
  </div>

  <!-- <div class="absolute inset-y-0 left-0 w-1/2 bg-white">
  </div> -->
</section>

{%- include 'product-recommended' -%}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "html",
        "id": "description",
        "label": "Product Description"
      },
      {
        "type": "header",
        "content": "Allergens"
      },
      {
        "type": "html",
        "id": "allergens_content",
        "label": "Allergens Content"
      },
      {
        "type": "header",
        "content": "Shipping"
      },
      {
        "type": "html",
        "id": "shipping_content",
        "label": "Shipping Content"
      },
      {
        "type": "header",
        "content": "Storage"
      },
      {
        "type": "html",
        "id": "storage_content",
        "label": "Storage Content"
      }
    ]
  }
{% endschema %}
