<section>
  <div class="team-heading bg-white">
    <div class="max-w-container mx-auto text-center text-black md:px-9 ml:px-16-6 pt-8 pb-8">
      <div class="px-4 tablet:px-19" data-aos="fade-up" data-aos-delay="10" data-aos-duration="500" data-aos-offset="20">
        {%- if section.settings.title != blank -%}
          <h3 class="font-baskerville font-normal text-2-3xl mb-4 uppercase leading-none">{{section.settings.title}}</h3>
        {%- endif -%}

        <div class="rte">
          {{section.settings.content}}
        </div>
      </div>
    </div>
  </div>
  <div class="team relative bg-grey-200">
    <div class="absolute inset-x-0 top-0 h-6 bg-white"></div>
    <div class="max-w-container mx-auto px-2-5 md:px-9 ml:px-16-6">
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
          <div class="flex flex-wrap md:mb-0 mb-8 {% if block.settings.position contains 'right' %}flex-row-reverse{% endif %} {% unless forloop.last %} md:pb-10 ml:pb-19{% else %} md:pb-10 ml:pb-13{% endunless %}">
            <div class="image w-full md:w-1/2 relative md:mb-0 mb-4 {% if block.settings.position contains 'right' %} md:pl-4-5 ml:pl-9 {% else %}md:pr-9{% endif %}" data-aos="fade-up" data-aos-delay="10" data-aos-duration="500" data-aos-offset="20">
              <img src="{{block.settings.image | img_url: '800x'}}" class="w-full" />
            </div>

            <div class="flex w-full md:w-1/2 min-h-56 items-center {% if block.settings.position contains 'right' %}justify-start {% else %}justify-end{% endif %}" data-aos="fade-up" data-aos-delay="10" data-aos-duration="500" data-aos-offset="20">
              <div class="{% if block.settings.bg_colour contains 'dark' %}text-white{% else %}text-black{% endif %} lg:pt-0 pt-4">
                <div class="text-left">
                  {%- if block.settings.title != blank -%}
                    <h3 class="font-condensed font-bold tracking-xl text-2xl mb-2 uppercase leading-normal">{{block.settings.title}}</h3>
                  {%- endif -%}

                  <div class="rte">
                    {{block.settings.content}}
                  </div>
                  
                  {%- if block.settings.link != blank and block.settings.link_label != blank -%}
                    <div class="flex pt-4-5 {% if block.settings.alignment contains 'left' %}justify-start{% else %}justify-center{% endif %}">
                      <a href="{{block.settings.link}}" class="link text-center">
                        <div class="flex items-center font-condensed text-md tracking-md leading-none uppercase">
                          <!-- <span class="-mt-0-4 mr-1-2">{% include 'icon', type: 'line', class: 'w-1-5'  %}</span> -->
                          <span class="-mt-0-4 mr-1-2"><span class="flex w-2 h-0-1 {% if block.settings.bg_colour contains 'dark' %}bg-white{% else %}bg-black{% endif %}"></span></span>
                          <span class="text-center">{{ block.settings.link_label }}</span>
                        </div>
                      </a>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Teams",
    "settings": [
        {
          "type": "header",
          "content": "Heading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Our Team"
        },
        {
          "type": "html",
          "id": "content",
          "label": "Content"
        }
    ],
    "blocks": [
      {
        "type": "team",
        "name": "Teams",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "position",
            "label": "Image Position",
            "default": "right",
            "options": [
                {
                  "value": "right",
                  "label": "Right"
                },
                {
                  "value": "left",
                  "label": "Left"
                }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}
