<section id="balance">
  <div class="max-w-90 mx-auto px-2-5 sm:px-4 pt-0 sm:pt-0 pb-16 sm:pb-10">
    <h1 class="font-baskerville text-5xl leading-tight text-center uppercase mb-8 mt-8  sm:mb-8 shadow-xs radius-sx">
        
        {% if page.title %}{{page.title}}{% else %}Check balance{% endif %}
    </h1>
    <div class="hidden sm:px-5" data-gift-error>
      <p class="text-base uppercase font-condensed tracking-md pb-3">Invalid details, Please try again!</p>
    </div>
    <div class="flex flex-wrap sm:flex-no-wrap justify-center sm:px-5">
      <input type="text" class="w-full sm:max-w-37 sm:mb-0 mb-2-5 w-full text-1/2xs text-black border-b border-black bg-transparent font-baskerville tracking-md placeholder-black placeholder-opacity-60 sm:mr-3" placeholder="Enter gift voucher code" data-gift-code />
      <a class="pt-0-3 cursor-pointer w-full sm:max-w-25 bg-black w-full h-4 text-center text-white text-xs font-bold font-condensed tracking-mlg uppercase border border-black hover:bg-transparent hover:text-black transition-fast flex items-center justify-center" data-gift-submit>Check balance</a>
    </div>
    <div class="hidden sm:px-5 pt-4 sm:pt-6" data-balance-wrapper>
      <p class="font-condensed uppercase text-md tracking-md">Balance: <span data-balance></span></p>
    </div>
  </div>
</section>
