<section data-section-id="{{ section.id }}" data-section-type="not-found" class="not-found mb-2-5">
    <div class="max-w-container mx-auto px-2-5 md:px-6 ml:px-14-5 mb-4 sm:mb-15 sm:pt-26 pt-20">
        <div class="">
            {%- if section.settings.title != blank -%}
                <div class="w-full">
                    <h1 class="sm:text-3xl text-mlg font-baskerville leading-tightest sm:leading-normal mb-1-4">{{ section.settings.title }}</h1>
                </div>
            {%- endif -%}
            {%- if section.settings.content != blank -%}
                <div class="w-full">
                    <div class="mb-3 leading-normal text-grey-400">
                      	{{section.settings.content | replace: '<p', '<p class="text-sm sm:text-18 leading-normal"' }}
                    </div>
                    {%- if section.settings.menu -%}
                      <ul>
                        {%- for link in linklists[section.settings.menu].links -%}
                            <li class="text-grey-400 mb-0-6">- &nbsp;<a href="{{link.url}}" class="link text-grey-400 text-base leading-normal inline-block">{{link.title}}</a></li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                </div>
            {%- endif -%}
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "404 Page",
    "settings": [
          {
              "type": "header",
              "content": "Title"
          },
          {
              "type": "text",
              "id": "title",
              "label": "Title"
          },
          {
              "type": "richtext",
              "id": "content",
              "label": "Content"
          },
          {
              "type": "header",
              "content": "Linklists"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }
    ]
  }
{% endschema %}
