<section data-section-id="{{ section.id }}" data-section-type="template-ingredients">
  {%- include 'page-banner', image: section.setting.image, mobileImage: section.setting.mobile_image, title: section.setting.title, text: section.setting.text -%}

  {% paginate blog.articles by 40 %}
  <div class="max-w-container mx-auto px-2-5 md:px-6 ml:px-16-5 pt-6">
  {%- assign blog_title = blog.title -%}

  <!-- {% if current_tags %}
    {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
  {% endif %} -->
  <div class="flex flex-col md:flex-row mb-5">
    {% if blog.all_tags.size > 0 %}
      <ul class="flex flex-1 h-4 items-center md:w-auto w-full md:mb-0 mb-2-6">
        {%- if current_tags -%}
          <li class="text-base text-black tracking-md font-condensed uppercase text-opacity-30 hover:text-opacity-100 mr-3 pt-0-3"><a href="/blogs/news/">All</a></li>
        {%- else -%}
          <li class="text-base text-black tracking-md font-condensed uppercase  mr-3 pt-0-3">All</li>
        {%- endif -%}
        {% for tag in blog.all_tags %}
          {% comment %}<li>{{ tag | link_to_tag: tag }}</li>{% endcomment %}
          {% if current_tags contains tag %}
            <li class="text-base text-black tracking-md font-condensed uppercase {% unless forloop.last %}mr-3{% endunless %} pt-0-3">{{ tag }}</li>
          {% else %}
            <li class="text-base text-black tracking-md font-condensed uppercase text-opacity-30 hover:text-opacity-100 {% unless forloop.last %}mr-3{% endunless %} pt-0-3">{{ tag | link_to_tag: tag }}</li>
          {% endif %}

        {% endfor %}
      </ul>
    {% endif %}
    <div class="flex md:w-auto w-full">
      <div class="md:flex-none flex-1  mr-3 md:w-23"><input type="text" class="border-b border-black border-opacity-50 w-full h-4 bg-transparent placeholder-black placeholder-opacity-60 font-baskerville" placeholder="Search news" data-search-value /></div>
      <a class="w-11 text-center bg-black text-white font-condensed text-1/2xs h-4 uppercase tracking-md flex justify-center items-center transition-fast pt-0-2 border cursor-pointer border-balck hover:bg-transparent hover:text-black" data-blog-search>Search</a>
    </div>
  </div>

  <div class="hidden py-5" data-search-info>
    <p class="font-condensed tracking-md font-bold text-md uppercase"></p>
  </div>

  <div class="flex flex-wrap -mx-1-5">
    {% for article in blog.articles %}
      <div class="w-full md:w-1/3 px-1-5 mb-5 md:mb-13 {% if forloop.index > 6 %} sm:block hidden {% endif %}{{forloop.index}}" data-article-id="{{article.handle}}-{{article.title | handle}}">
        {%- include 'article-block' -%}
      </div>
    {% endfor %}
    {%- if blog.articles.size > 6 -%}
      <a class="mb-5 text-center bg-black text-white font-condensed text-1/2xs h-4 w-full uppercase tracking-md sm:hidden flex justify-center items-center transition-fast pt-0-2 border cursor-pointer border-balck hover:bg-transparent hover:text-black" data-load>Load More</a>
    {%- endif -%}
  </div>
</div>
{% endpaginate %}

  {%- if section.settings.show_form -%}
    <div class="bg-white md:mb-6 md:p-0 pt-3 pb-6 px-2-5">
      <div class="flex md:flex-row flex-col relative flex-row-reverse">
        {%- if section.settings.form_image != blank -%}
          <div class="image w-full md:w-1/2 relative md:block hidden">
            <!-- <img src="{{section.settings.image | img_url: '1000x'}}" class="block sm:hidden" /> -->
            <div class="bg-cover bg-center bg-no-repeat h-50 lg:h-92 sm:block hidden" style="background-image: url('{{section.settings.form_image | img_url: '1200x'}}')"></div>
            <img src="{{section.settings.form_image | img_url: '1000x'}}" class="block sm:hidden" />
          </div>
        {%- endif -%}
        <div class="max-w-container mx-auto md:absolute inset-0 flex justify-end">
          <div class="flex items-center justify-center w-full md:w-1/2 text-left md:pl-16-5 md:pr-14">
            <div>
              {%- if section.settings.form_title != blank -%}
                <h3 class="font-condensed font-bold text-2xl tracking-md mb-2 uppercase text-left">{{section.settings.form_title}}</h3>
              {%- endif -%}

              {%- if section.settings.form_content != blank -%}
                <div class="rte mb-5">
                  {{ section.settings.form_content }}
                </div>
              {%- endif -%}

              {%- include 'page-form' -%}
            </div>
          </div>

        </div>
      </div>
    </div>
  {%- endif -%}
</section>

{% schema %}
  {
    "name": "Template News",
    "settings": [
        {
          "type": "header",
          "content": "Banner"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Latest News"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "News"
        },
        {
            "type": "header",
            "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Background Image (Mobile)"
        },
        {
          "type": "header",
          "content": "Form"
        },
        {
          "type": "checkbox",
          "id": "show_form",
          "label": "Show Form"
        },
        {
          "type": "text",
          "id": "form_title",
          "label": "Title"
        },
        {
          "type": "html",
          "id": "form_content",
          "label": "content"
        },
        {
          "type": "image_picker",
          "id": "form_image",
          "label": "Image"
        }
    ]
  }
{% endschema %}
