<section data-section-id="{{ section.id }}" data-section-type="template-about">
  {%- include 'page-banner', image: section.setting.image, mobileImage: section.setting.mobile_image, title: section.setting.title, text: section.setting.text -%}
  {%- if section.blocks.size > 0 -%}
    {%- for block in section.blocks -%}
      {%- if block.type == 'content' -%}
        {%- include 'section-content-image' -%}
      {% elsif block.type == 'image' %}
        {%- include 'section-image' -%}
      {% elsif block.type == 'teamheader' %}
        {%- include 'section-team-heading' -%}
      {% elsif block.type == 'team' %}
        {%- include 'section-teams' -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
</section>

{% schema %}
  {
    "name": "Template About",
    "settings": [
        {
          "type": "header",
          "content": "Banner"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Our Company"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "About Us"
        },
        {
            "type": "header",
            "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Background Image (Mobile)"
        }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Content & Image",
        "settings": [
          {
            "type": "checkbox",
            "id": "fullwidth",
            "label": "Full Width",
            "default": true
          },
          {
            "type": "select",
            "id": "bg_colour",
            "label": "Background Colour",
            "options": [
                {
                  "value": "white",
                  "label": "White"
                },
                {
                  "value": "grey",
                  "label": "Grey"
                },
                {
                  "value": "dark",
                  "label": "Dark"
                }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "link_label",
            "label": "Link Label",
            "default": "Read More"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "position",
            "label": "Image Position",
            "default": "right",
            "options": [
                {
                  "value": "right",
                  "label": "Right"
                },
                {
                  "value": "left",
                  "label": "Left"
                }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Text Alignment",
            "default": "left",
            "options": [
                {
                  "value": "center",
                  "label": "Center"
                },
                {
                  "value": "left",
                  "label": "Left"
                }
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image (Desktop)"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Image (Mobile)"
          }
        ]
      },
      {
        "type": "teamheader",
        "name": "Team Heading",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content"
          }
        ]
      },
      {
        "type": "team",
        "name": "Teams",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "position",
            "label": "Image Position",
            "default": "right",
            "options": [
                {
                  "value": "right",
                  "label": "Right"
                },
                {
                  "value": "left",
                  "label": "Left"
                }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}
