<section data-section-id="{{ section.id }}" data-section-type="template-page">
  <div class="max-w-90 mx-auto px-6-4 pt-21">
    {%- if page.metafields.accentuate.page_label != blank -%}
      <h5 class="text-md font-condensed font-bold text-orange tracking-md leading-tightest mb-0-5 uppercase">{{page.metafields.accentuate.page_label}}</h5>
    {%- endif -%}
    <h1 class="text-5xl font-baskerville font-normal leading-tight text-black uppercase mb-2-5">
      {%- if page.metafields.accentuate.page_title != blank -%}{{page.metafields.accentuate.page_title}}{%- else -%}{{page.title}}{%- endif -%}
    </h1>

    {%- if page.metafields.accentuate.page_content != blank -%}
      <div class="rte large mb-8">
        {{page.metafields.accentuate.page_content}}
      </div>
    {%- endif -%}

    {%- if section.settings.content != blank -%}
        <div class="rte large pb-7-6">
          {{section.settings.content}}
        </div>
    {%- endif -%}
    {%- if page.metafields.accentuate.content != blank -%}
        {%- for value in page.metafields.accentuate.content -%}
          {%- assign image = page.metafields.accentuate.image[forloop.index0] | first -%}
          <div class="mb-8">
            <h5 class="font-condensed uppercase tracking-md leading-tightest text-md mb-2-5">{{page.metafields.accentuate.title[forloop.index0]}}</h5>
            <div class="rte {% if image %}mb-7{% endif %}">
              {{value}}
            </div>
            {%- if image -%}
              <div class="mb-1-6">
                <img src="{{ image.cloudinary_src }}" />
              </div>
            {%- endif -%}
          </div>
        {%- endfor -%}
    {%- endif -%}
    {%- if page.content != blank -%}
      <div class="rte">
        {{ page.content }}
      </div>
    {%- endif -%}
  </div>
</section>


{% schema %}
  {
    "name": "Template Page"
  }
{% endschema %}
