<section data-section-id="{{ section.id }}" data-section-type="template-instructions">
  {%- include 'page-banner', image: section.setting.image, mobileImage: section.setting.mobile_image, title: section.setting.title, text: section.setting.text -%}
  {%- if section.settings.featured_image != blank -%}
      <div class="image max-w-76 mx-auto md:-mt-5 w-full relative aos-init aos-animate z-2">
        <div>
          <img src="{{section.settings.featured_image | img_url: '1200x'}}" class="w-full" />
        </div>
      </div>
  {%- endif -%}
  <div class="max-w-90 mx-auto px-6-4 pt-8">
    {%- if section.settings.content != blank -%}
        <div class="rte large pb-7-6">
          {{section.settings.content}}
        </div>
    {%- endif -%}
    {%- if page.metafields.accentuate.content != blank or page.metafields.accentuate.image != blank -%}
        {%- for value in page.metafields.accentuate.content -%}
          {%- assign image = page.metafields.accentuate.image[forloop.index0] | first -%}
          <div class="mb-8">
            <h5 class="font-condensed uppercase tracking-md leading-tightest text-md mb-2-5">{{page.metafields.accentuate.title[forloop.index0]}}</h5>
            <div class="rte {% if image %}mb-7{% endif %}">
              {{value}}
            </div>
            {%- if image -%}
              <div class="mb-1-6">
                <img src="{{ image.cloudinary_src }}" />
              </div>
            {%- endif -%}
          </div>
        {%- endfor -%}
    {%- endif -%}
  </div>
  {%- if section.settings.show_form -%}
    <div class="bg-white md:mb-6 md:p-0 pt-3 pb-6 px-2-5">
      <div class="flex md:flex-row-reverse flex-col relative flex-row-reverse">
        {%- if section.settings.form_image != blank -%}
          <div class="image w-full md:w-1/2 relative md:block hidden" data-aos="fade-up" data-aos-delay="100" data-aos-duration="300" data-aos-offset="10">
            <!-- <img src="{{section.settings.image | img_url: '1000x'}}" class="block sm:hidden" /> -->
            <div class="bg-cover bg-center bg-no-repeat h-50  sm:block hidden" style="background-image: url('{{section.settings.form_image | img_url: '1200x'}}')"></div>
            <img src="{{section.settings.form_image | img_url: '1000x'}}" class="block sm:hidden" />
          </div>
        {%- endif -%}
        <div class="max-w-container mx-auto md:absolute inset-0 flex justify-start">
          <div class="flex items-center justify-center md:p6-5 md:pl-1 md:w-1/2 sm:pr-3 text-left w-full">
            <div>
              {%- if section.settings.form_title != blank -%}
                <h3 class="font-condensed font-bold text-2xl tracking-md mb-2 uppercase text-left">{{section.settings.form_title}}</h3>
              {%- endif -%}

              {%- if section.settings.form_content != blank -%}
                <div class="rte mb-5">
                  {{ section.settings.form_content }}
                </div>
              {%- endif -%}

              {%- include 'page-form' -%}
            </div>
          </div>

        </div>
      </div>
    </div>
  {%- endif -%}


</section>

{% schema %}
  {
    "name": "Template Instructions",
    "settings": [
        {
          "type": "header",
          "content": "Banner"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Ingredients We Use"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "About"
        },
        {
          "type": "html",
          "id": "content",
          "label": "Content"
        },
        {
            "type": "header",
            "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Background Image (Mobile)"
        },
        {
            "type": "header",
            "content": "Featured Image"
        },
        {
          "type": "image_picker",
          "id": "featured_image",
          "label": "Featured Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "featured_mobile_image",
          "label": "Featured Image (Mobile)"
        },
        {
          "type": "header",
          "content": "Form"
        },
        {
          "type": "checkbox",
          "id": "show_form",
          "label": "Show Form"
        },
        {
          "type": "text",
          "id": "form_title",
          "label": "Title"
        },
        {
          "type": "html",
          "id": "form_content",
          "label": "content"
        },
        {
          "type": "image_picker",
          "id": "form_image",
          "label": "Image"
        }
    ]
  }
{% endschema %}
