<section data-section-id="{{ section.id }}" data-section-type="template-stockists" class="template-stockists">
  <div class="max-w-90 mx-auto px-4 pt-14 lg:pt-21 pb-17">

    {%- if section.settings.text != blank -%}
      <h5 class="text-md font-condensed font-bold text-orange tracking-md leading-tightest mb-0-5 uppercase">{{section.settings.text}}</h5>
    {%- endif -%}
    <h1 class="text-5xl font-baskerville font-normal leading-tight text-black uppercase mb-2-5">
      {%- if section.settings.title != blank -%}{{section.settings.title}}{%- else -%}{{page.title}}{%- endif -%}
    </h1>
    {%- if section.settings.content != blank -%}
        <div class="rte large pb-7-6">
          {{section.settings.content}}
        </div>
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      {%- assign count = 0 -%}
      {%- for block in section.blocks -%}
        {%- if block.type contains 'victoria' -%}
          {%- if count < 1 -%}
            <h5 class="text-md font-condensed font-bold text-orange tracking-md leading-tightest mb-2 uppercase">Victoria</h5>
          {%- endif -%}
          {%- assign count = count | plus: 1 -%}
          <div class="flex border-b border-black py-1">
            {%- if block.settings.title != blank -%}
              <p class="w-1/2 uppercase font-baskerville tracking-md pr-0-8 sm:pr-0">
                {%- if block.settings.link != blank -%}
                  <a href="{{block.settings.link}}" target="_blank">{{block.settings.title}}</a>
                {%- else -%}
                  {{block.settings.title}}
                {%- endif -%}
                </p>
            {%- endif -%}
            {%- if block.settings.content != blank -%}
              <div class="w-1/2 rte">
                {{block.settings.content}}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      {%- assign count = 0 -%}
      {%- for block in section.blocks -%}
        {%- if block.type contains 'tasmania' -%}
          {%- if count < 1 -%}
            <h5 class="text-md font-condensed font-bold text-orange tracking-md leading-tightest mb-2 uppercase pt-8">Tasmania</h5>
          {%- endif -%}
          {%- assign count = count | plus: 1 -%}
          <div class="flex border-b border-black py-1">
            {%- if block.settings.title != blank -%}
              <p class="w-1/2 uppercase font-baskerville tracking-md pr-0-8 sm:pr-0">
                {%- if block.settings.link != blank -%}
                  <a href="{{block.settings.link}}" target="_blank">{{block.settings.title}}</a>
                {%- else -%}
                  {{block.settings.title}}
                {%- endif -%}
                </p>
            {%- endif -%}
            {%- if block.settings.content != blank -%}
              <div class="w-1/2 rte">
                {{block.settings.content}}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      {%- assign count = 0 -%}
      {%- for block in section.blocks -%}
        {%- if block.type contains 'northern' -%}
          {%- if count < 1 -%}
            <h5 class="text-md font-condensed font-bold text-orange tracking-md leading-tightest mb-2 uppercase pt-8">Northern Territory</h5>
          {%- endif -%}
          {%- assign count = count | plus: 1 -%}
          <div class="flex border-b border-black py-1">
            {%- if block.settings.title != blank -%}
              <p class="w-1/2 uppercase font-baskerville tracking-md pr-0-8 sm:pr-0">
                {%- if block.settings.link != blank -%}
                  <a href="{{block.settings.link}}" target="_blank">{{block.settings.title}}</a>
                {%- else -%}
                  {{block.settings.title}}
                {%- endif -%}
                </p>
            {%- endif -%}
            {%- if block.settings.content != blank -%}
              <div class="w-1/2 rte">
                {{block.settings.content}}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      {%- assign count = 0 -%}
      {%- for block in section.blocks -%}
        {%- if block.type contains 'nsw' -%}
          {%- if count < 1 -%}
            <h5 class="text-md font-condensed font-bold text-orange tracking-md leading-tightest mb-2 uppercase pt-8">New South Wales</h5>
          {%- endif -%}
          {%- assign count = count | plus: 1 -%}
          <div class="flex border-b border-black py-1">
            {%- if block.settings.title != blank -%}
              <p class="w-1/2 uppercase font-baskerville tracking-md pr-0-8 sm:pr-0">
                {%- if block.settings.link != blank -%}
                  <a href="{{block.settings.link}}" target="_blank">{{block.settings.title}}</a>
                {%- else -%}
                  {{block.settings.title}}
                {%- endif -%}
                </p>
            {%- endif -%}
            {%- if block.settings.content != blank -%}
              <div class="w-1/2 rte">
                {{block.settings.content}}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

    {%- if section.blocks.size > 0 -%}
      {%- assign count = 0 -%}
      {%- for block in section.blocks -%}
        {%- if block.type contains 'south-australia' -%}
          {%- if count < 1 -%}
            <h5 class="text-md font-condensed font-bold text-orange tracking-md leading-tightest mb-2 uppercase pt-8">South Australia</h5>
          {%- endif -%}
          {%- assign count = count | plus: 1 -%}
          <div class="flex border-b border-black py-1">
            {%- if block.settings.title != blank -%}
              <p class="w-1/2 uppercase font-baskerville tracking-md pr-0-8 sm:pr-0">
                {%- if block.settings.link != blank -%}
                  <a href="{{block.settings.link}}" target="_blank">{{block.settings.title}}</a>
                {%- else -%}
                  {{block.settings.title}}
                {%- endif -%}
                </p>
            {%- endif -%}
            {%- if block.settings.content != blank -%}
              <div class="w-1/2 rte">
                {{block.settings.content}}
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

  </div>
</section>

{% schema %}
  {
    "name": "Template Stockists",
    "settings": [
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Our Stockists"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "About Us"
        },
        {
          "type": "html",
          "id": "content",
          "label": "Content"
        }
    ],
    "blocks": [
      {
        "type": "victoria",
        "name": "Victoria",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "tasmania",
        "name": "Tasmania",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "northern",
        "name": "Northern Territory",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "nsw",
        "name": "New South Wales",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      },
      {
        "type": "south-australia",
        "name": "South Australia",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "html",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          }
        ]
      }
    ]
  }
{% endschema %}
