<section data-section-id="{{ section.id }}" data-section-type="video" class="video">
  <div class="{% unless section.settings.fullwidth %}max-w-container{% endunless %} mx-auto">
    <div class="relative flex-col cursor-pointer">
      <a href="#video" class="absolute inset-0 z-1 link-hover flex items-center justify-center show-video" data-lity>
        <div class="text-white m-auto text-center transition-fast">
          {%- include 'icon', type: 'play', class: 'w-5-4 h-4-3 mx-auto' -%}
          <p class="font-condensed font-bold text-base tracking-md uppercase pt-1">Play video</p>
        </div>
      </a>
      {%- if section.settings.image != blank -%}
        <div class="bg-cover bg-center w-full h-37 sm:h-61" style="background-image: url('{{section.settings.image | img_url: '1400x'}}')"></div>
      {%- endif -%}
    </div>
  </div>
</section>

<div class="lity-hide" id="video">
  <div class="relative w-4/5 mx-auto">
    <div class="video-wrapper">
      <div class="relative ">
        <button class="lity-close text-white w-2-4 h-2-4 flex justify-end items-center float-right mb-0" type="button" aria-label="Close (Press escape to close)" data-close-lity>{%- include 'icon', type: 'close', class: 'w-1-6 h-1-6' -%}</button>
      </div>
      {%- if section.settings.master -%}
        <video width="100%"  controls loop class="homeVideo" >
          <source src="{{ 'Cacao_Master.mp4' | asset_url }}" type="video/mp4">
          Your browser does not support HTML video.
        </video>
      {%- else -%}
        <video width="100%" controls>
          <source src="{{section.settings.video | file_url }}" type="video/mp4">
          <source src="mov_bbb.ogg" type="video/ogg">
          Your browser does not support HTML video.
        </video>
      {%- endif -%}
      <div class="absolute inset-0 z-1 flex-col cursor-pointer hidden" data-video-play>
        {%- if section.settings.image != blank -%}
          <div class="bg-cover bg-center w-full h-full" style="background-image: url('{{section.settings.image | img_url: '1400x'}}')"></div>
        {%- endif -%}
        <div class="text-white absolute inset-0 m-auto text-center flex flex-col items-center justify-center flex-wrap">
          {%- include 'icon', type: 'play', class: 'w-5-4 h-4-3' -%}
          <p class="font-condensed font-bold text-base tracking-md uppercase pt-1">Play video</p>
        </div>
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Video",
    "settings": [
        {
            "type": "header",
            "content": "Content"
        },
        {
          "type": "checkbox",
          "id": "master",
          "label": "Show Cacao Master Video"
        },
        {
          "type": "checkbox",
          "id": "fullwidth",
          "label": "Full Width",
          "default": true
        },
        {
            "type": "text",
            "id": "video",
            "label": "Video Url",
            "info": "Upload video on Settins => Files"
        },
        {
            "type": "header",
            "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Background Image (Mobile)"
        }
    ],
    "presets": [
      {
        "name": "Video",
        "category": "Image"
      }
    ]
  }
{% endschema %}
