.animate {
}
.animated {
	opacity: 1;
	animation: fadeInUp 0.75s;
	animation-fill-mode: both;
}
.imgrotate {
	opacity: 1;
	animation: rotation 1s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
}
.imgrtl {
	opacity: 1;
	animation: roll-in-right 1s ease-out both;
	animation-delay: 0.3s;
}

.pre-animate {
	opacity: 0;
}

.visible {
	opacity: 1 !important;
}

.animate-delay {
	&-0 {
		animation-delay: 0s;
	}

	&-1 {
		animation-delay: 0.2s;
	}

	&-2 {
		animation-delay: 0.4s;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 30px, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes imganimate {
	0% {
		opacity: 0;
		transform: scale(1.1) translate3d(-10px, 0, 0);
	}
	100% {
		opacity: 1;
		transform: scale(1) translate3d(0, 0, 0);
	}
}

@keyframes fade-in-fwd {
	0% {
		// transform: translateZ(80px);
		opacity: 0;
	}
	100% {
		// transform: translateZ(0);
		opacity: 1;
	}
}

@keyframes scale-in-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes rotation {
	from {
		transform: rotate(-45deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes roll-in-right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
