.c-about {
	background-color: color("primary");
	color: #fff;

	h1,
	h2,
	h3,
	h4 {
		color: #fff;
	}

	@include mq($until: tablet) {
		margin-bottom: -12px;
	}

	&__head {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 25px;
		padding-top: 182px;

		h1 {
			margin-top: 10px;
		}

		@include mq($until: tablet) {
			padding-top: 132px;
			margin-bottom: 8px;
		}
	}

	&__content {
		display: inline-block;
		max-width: 660px;
	}

	&__lighthouse {
		display: inline-block;
		position: relative;
		right: 0;
		max-width: 182px;

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__tile {
		display: block;
		position: relative;
		background-color: #332b54;
		border-radius: 12px;
		height: 392px;
		transition: all 0.25s;

		&:hover {
			transform: scale(1.025);
		}

		@include mq($until: tablet) {
			height: 300px;
		}
	}

	&__tile-title {
		position: absolute;
		bottom: 90px;
		left: 50%;
		text-align: center;
		width: 80%;
		margin-bottom: 0;
		line-height: 42px;
		transform: translate(-50%, 50%);
		@include mq($until: tablet) {
			@include font-size(28px, 30px);
			width: 90%;
			bottom: 66px;
		}
	}

	&__boat {
		max-width: 204px;
		margin: 0 auto;
		padding-top: 44px;
		background-image: url("../img/BetterBoating-Illustrations-Parralax-Buoy-Background.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		@include mq($until: tablet) {
			padding-top: 25px;
			max-width: 168px;
		}
	}

	&__boat-1,
	&__boat-2,
	&__boat-3 {
		width: 150px;
		margin: auto;
		padding-bottom: 70px;
		animation-name: upAndDownBoat;
		animation-duration: 3s;
		animation-direction: linear;
		animation-iteration-count: infinite;
		@include mq($until: tablet) {
			padding-top: 25px;
			width: 100px;
		}
	}

	&__boat-2 {
		animation-delay: 0.8s;
	}
	&__boat-3 {
		animation-delay: 1.6s;
	}

	&__links {
		padding-top: 60px;
		padding-bottom: 22px;
		border-top: 1px solid #473f65;
		border-bottom: 1px solid #473f65;

		@include mq($until: tablet) {
			padding-top: 30px;
			padding-bottom: 5px;
		}
	}

	&__fund {
		margin-top: 60px;
		padding-bottom: 112px;

		@include mq($until: tablet) {
			padding-bottom: 36px;
		}
	}

	&__bank {
		max-width: 244px;
		margin: 0 auto;

		@include mq($until: mobileLandscape) {
			max-width: 164px;
			margin: 0;
		}

		@include mq($from: mobileLandscape, $until: tablet) {
			max-width: 204px;
			margin: 0;
		}
	}
}
