.c-boat-fees {
	padding-bottom: 90px;
	padding-top: 84px;

	@include mq($until: tablet) {
		padding-bottom: 0;
		padding-top: 40px;
	}

	&__breadcrumb {
		margin-bottom: 16px;
	}

	&__content {
		max-width: 672px;

		ul {
			padding-top: 8px;
			columns: 2;
			padding-left: 18px;
		}

		li {
			margin-bottom: 6px;
		}

		p:nth-child(2) {
			margin-bottom: 20px;
		}

		a {
			color: #e68f60;
		}

		.o-fluid-object {
			margin-top: 72px;
		}

		@include mq($until: tablet) {
			max-width: none;
			.o-fluid-object {
				margin-top: 52px;
			}

			ul {
				columns: 2;
			}
		}
		@include mq($until: mobileLandscape) {
			ul {
				columns: 1;
			}
		}
	}

	&__mob-swirl {
		display: none;
		transform: scaleX(-1);
		@include mq($until: tablet) {
			display: block;
		}
	}

	&__aside {
		margin-top: 50px;
		background-color: color("grey");
		padding: 30px 18px 22px;
		border-radius: 12px;
		max-width: 272px;

		img {
			max-width: 176px;
			margin-bottom: 25px;
		}

		p {
			@include font-size(15px, 26px);
			margin-bottom: 30px;
		}

		@include mq($until: tablet) {
			display: none;
		}
	}
}
