.c-breadcrumb {
	font-family: $font-reg;
	color: #fff;
	color: rgba($color: #fff, $alpha: 0.7);

	.post {
		text-transform: capitalize;
	}
	.item,
	a {
		color: rgba($color: #fff, $alpha: 0.7);
		text-decoration: none;
		transition: 0.25s;

		&:hover {
			color: #fff;
			// text-decoration: underline;
		}
	}

	&--dark {
		color: #918ba3;

		.item,
		a {
			color: #918ba3;

			&:hover {
				color: color("primary");
				text-decoration: none;
			}
		}
	}

	&--dark-to-white {
		color: #918ba3;

		.item,
		a {
			color: #918ba3;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&--mobile {
		display: none;
		@include mq($until: tablet) {
			display: block;
		}
	}

	&__arrow {
		margin-left: 8px;
		margin-right: 4px;
	}
}
