.c-contact {
	padding-bottom: 106px;

	@include mq($until: laptop) {
		padding-bottom: 36px;
	}

	&__content {
		max-width: 674px;
		h1 {
			margin-top: 0;
			max-width: 580px;
		}

		@include mq($until: laptop) {
			max-width: none;
		}
	}
	&__submit {
		margin-left: 24px;
		margin-top: 14px;

		&.invalid {
			opacity: 0.3;
			pointer-events: none;
		}

		@include mq($until: laptop) {
			margin-top: 28px;
		}
	}
	&__form-wrap {
		margin-top: 32px;

		@include mq($until: laptop) {
			margin-top: 25px;
		}
	}

	&__address {
		margin-bottom: 20px;
		max-width: 240px;
	}

	&__email {
		margin-bottom: 30px;
	}

	&__breadcrumb {
		padding-top: 310px;
		position: relative;
		z-index: 3;

		@include mq($until: laptop) {
			display: none;
		}

		&--mobile {
			padding-top: 0;
			display: none;
			@include mq($until: laptop) {
				display: block;
				margin-bottom: 10px;
			}
		}
	}

	&__aside {
		a {
			text-decoration: none;
			transition: 0.25s;

			&:hover {
				text-decoration: underline;
			}
		}

		@include mq($until: laptop) {
			display: none;
		}
	}

	&__feature-bgimage {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	&__feature-bg {
		background: $header-grad;
		z-index: 1;
	}

	.ajax-loader {
		display: none;
	}

	&__feature {
		position: relative;
		height: 350px;
		background-size: cover;
		background-position: center;
		width: 100%;
		overflow: hidden;

		@include mq($until: laptop) {
			height: 175px;
		}
	}

	&__main {
		padding-top: 68px;

		@include mq($until: laptop) {
			padding-top: 30px;
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		max-width: 114px;
		justify-content: space-between;

		a {
			text-decoration: none;
			flex: 1;
		}

		svg {
			transition: 0.25s;
			max-width: 28px;

			&:hover {
				transform: scale(1.1);
			}
		}

		.c-svgicon--Facebook-Icon {
			max-height: 25px;
		}

		.c-svgicon--Insta-Icon {
			max-width: 24px;
		}

		.c-svgicon--Twitter-Icon {
			max-width: 28px;
		}
	}
}
