.c-filters {
	&__filter-set {
		display: flex;
		justify-content: center;

		@include mq($until: tablet) {
			display: block;
		}
	}

	&__single {
		margin-right: 18px;
		padding: 8px 22px;
		@include font-size(18px, 26px);
		font-family: $font-med;
		color: color("primary-70");
		border-radius: 20px;
		text-align: center;
		background-color: color("grey");
		display: inline-block;
		transition: 0.25s;
		cursor: pointer;

		@include mq($until: tablet) {
			min-width: 0;
			padding: 8px 20px;
			margin-bottom: 14px;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover,
		&.current {
			transform: scale(1.04);
			background-color: color("primary");
			color: #fff;
		}
	}
}
