.c-header {
	position: fixed;
	top: 0;
	width: 100%;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 4px;
	z-index: 40;
	transition: 0.25s;
	border-bottom: 0px solid transparent;
	pointer-events: none;
	@include mq($until: tablet) {
		padding-top: 25px;
		padding-bottom: 19px;
	}

	&__left {
		float: left;
		width: 172px;
	}

	&__logo {
		pointer-events: all;
		svg {
			color: #fff;
			max-width: 172px;
			transition: 0.25s;
			display: none;
		}

		img {
			transition: 0.25s;
			margin-bottom: 28px;
		}

		@include mq($until: tablet) {
			svg,
			img {
				max-width: 124px;
			}
		}
	}

	.c-nav__burger {
		pointer-events: all;
	}

	&__right {
		float: right;
	}

	&.nav-up {
		top: -180px;
	}

	&.dark {
		svg {
			display: block;
			color: color("primary");
		}

		img {
			display: none;
		}
	}

	&.backing {
		svg {
			color: #fff;
			max-width: 112px;
			margin-top: -10px;
			display: none;
		}

		img {
			max-width: 112px;
			margin-top: -10px;
			display: block;
		}

		border-bottom: 6px solid color("secondary");
		background-color: color("primary");
	}
}
