.c-home {
	&__partnership-content {
		color: #fff;
		max-width: 638px;
		margin-right: 80px;
		padding-top: 5px;
		display: inline-block;
		h2 {
			color: #fff;
			@include font-size(40px, 42px);
			margin-bottom: 15px;
		}

		p {
			margin: 0;
		}

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__partnership {
		background-size: cover;
		background-position: center center;
		width: 100%;
		display: flex;
		background-color: rgba($color: #1e1843, $alpha: 0.5);
		padding: 66px 0;
		justify-content: space-between;
		position: relative;
		overflow: hidden;

		@include mq($until: tablet) {
			padding-top: 66px;
			padding-bottom: 66px;
		}
	}
	&__partnership-bgimage {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin-top: -200px;
		height: calc(100% + 200px);
	}

	&__partnership-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__partnership-mobile {
		max-width: 500px;
		display: none;
		color: #fff;
		text-align: center;

		font-family: $font-med;
		@include font-size(18px, 28px);

		img {
			max-width: 208px;
			margin: 0 auto 40px;
		}

		@include mq($until: tablet) {
			display: block;
		}
	}

	&__boating-vic {
		max-width: 330px;
		display: inline-block;
		background-color: color("grey");
		padding: 24px;
		border-radius: 12px;
		box-shadow: 0 5px 7px rgba($color: #000000, $alpha: 0.6);

		img {
			max-width: 208px;
		}

		p {
			margin-bottom: 12px;
			@include font-size(15px, 26px);
			margin-top: 24px;
		}

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__about {
		overflow: hidden;
		background-color: color("primary");
		color: #fff;
		padding-top: 66px;
		padding-bottom: 158px;

		@include mq($until: tablet) {
			padding-bottom: 48px;
		}

		h2 {
			color: #fff;
		}

		a {
			margin-top: 10px;
		}

		@include mq($from: mobileLandscape, $until: tablet) {
			padding-top: 0;
		}
	}

	&__about-inner {
		display: flex;
		align-items: center;
		@include mq($until: tablet) {
			display: block;
		}
	}

	&__drawings {
		width: 600px;
		height: auto;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		@include mq($until: laptop) {
			height: 400px;
		}
		@include mq($until: tablet) {
			position: relative;
			width: 320px;
			height: 266px;
			margin: 0px auto;
			margin-bottom: 52px;
			display: block;
			z-index: 6;
		}
		@include mq($until: mobileLandscape) {
			width: 220px;
			height: 180px;
			margin-bottom: 32px;
		}
	}

	&__about-content {
		max-width: 454px;
		display: inline-block;
		margin-left: 120px;

		.desktop {
			display: inline-block;
		}

		.mobile {
			display: none;
		}

		@include mq($until: laptop) {
			margin-left: 0;
		}
		@include mq($until: tabletWide) {
			margin-left: 60px;
		}
		@include mq($until: tablet) {
			max-width: 500px;
			text-align: center;
			margin: 0 auto;
			margin-left: auto;
			display: block;

			.desktop {
				display: none;
			}
			.mobile {
				display: inline-block;
			}
		}
	}

	&__hazard {
		width: 359px;
		position: absolute;
		top: 0;
		@include mq($until: laptop) {
			width: 288px;
		}
	}
	&__hazard-image {
		display: inline-block;
		margin: 0 auto;
		width: 359px;
		margin-top: 20px;
		z-index: 500px;
		animation: upAndDownBoat 3s infinite linear;
		@include mq($until: laptop) {
			width: 288px;
			margin-top: 0;
		}
		@include mq($until: tablet) {
			width: 288px;
			margin-top: 0;
		}
		@include mq($until: mobileLandscape) {
			width: 208px;
		}
	}

	&__speed-boat {
		width: 388px;
		position: absolute;
		top: 0;
		@include mq($until: laptop) {
			width: 288px;
		}
	}

	&__speed-boat-background {
		width: 388px;
		position: absolute;
		top: 0;
		// left: -44px;
		@include mq($until: laptop) {
			width: 288px;
		}
		@include mq($until: tablet) {
			width: 180px;
			left: 0;
		}
		@include mq($until: mobileLandscape) {
			width: 120px;
		}
	}

	&__speed-boat-image {
		position: absolute;
		width: 208px;
		margin-left: 85px;
		margin-top: 20px;
		z-index: 500px;
		animation: upAndDownBoat 3s infinite linear;
		@include mq($until: laptop) {
			width: 188px;
			margin-left: 40px;
			margin-top: 0;
		}
		@include mq($until: tablet) {
			width: 125px;
			margin-left: 25px;
			margin-top: 0;
		}
		@include mq($until: mobileLandscape) {
			width: 75px;
			margin-left: 20px;
		}
	}

	&__buoy {
		position: absolute;
		width: 166px;
		margin-left: 490px;
		margin-top: 90px;
		z-index: 500;
		@include mq($until: laptop) {
			width: 120px;
			margin-left: 370px;
			margin-top: 110px;
		}
		@include mq($until: tabletWide) {
			// width: 120px;
			margin-left: 320px;
			// margin-top: 110px;
		}
		@include mq($until: tablet) {
			margin-left: 210px;
			margin-top: 60px;
		}
		@include mq($until: mobileLandscape) {
			margin-left: 130px;
			margin-top: 30px;
		}
	}

	&__buoy-background {
		width: 166px;
		position: absolute;
		top: 0;
		@include mq($until: laptop) {
			width: 120px;
		}
		@include mq($until: tablet) {
			width: 100px;
			top: -20px;
			right: 10px;
		}
		@include mq($until: mobileLandscape) {
			width: 80px;
			top: -20px;
			right: 30px;
		}
	}

	&__buoy-image {
		position: absolute;
		left: 20px;
		top: -50px;
		width: 100px;
		transform-origin: 50% 100% 0;
		animation: upAndDownBuoy 5s infinite linear;
		@include mq($until: laptop) {
			width: 80px;
		}
		@include mq($until: tablet) {
			width: 70px;
			bottom: 0;
			right: 150px;
		}
		@include mq($until: mobileLandscape) {
			width: 50px;
			bottom: 0;
			right: 150px;
		}
	}

	&__small-boat {
		// width: 284px;
		position: absolute;
		margin-left: 340px;
		margin-top: 365px;
		@include mq($until: laptop) {
			width: 184px;
			margin-left: 240px;
			margin-top: 285px;
		}
		@include mq($until: tabletWide) {
			margin-top: 245px;
			margin-left: 170px;
		}
		@include mq($until: tablet) {
			top: 140px !important;
			left: 120px !important;
			margin-left: 0;
			margin-top: 0;
		}
		@include mq($until: mobileLandscape) {
			top: 80px !important;
		}
	}

	&__small-boat-background {
		width: 284px;
		position: absolute;
		top: 0;
		left: -44px;
		@include mq($until: laptop) {
			width: 184px;
		}
		@include mq($until: mobileLandscape) {
			width: 124px;
		}
	}

	&__small-boat-image {
		position: absolute;
		width: 200px;
		animation: upAndDownBoat 3s 1s infinite linear;
		@include mq($until: laptop) {
			width: 140px;
			left: -25px;
		}
		@include mq($until: mobileLandscape) {
			width: 90px;
		}
	}

	#list-builder {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: color("black");
		opacity: 0.4;
		display: none;
		z-index: 9999;
	}

	#popup-box {
		position: fixed;
		z-index: 9999;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: color("secondary");
		color: #ffffff;
		width: 90%;
		max-width: 600px;
		padding: 66px 18px 36px;
		border-radius: 5px;
		overflow: hidden;
		display: none;
		@include mq(mobile) {
			padding: 66px 24px 36px;
		}
		@include mq(tablet) {
			padding: 76px 44px 46px;
		}
	}
	#popup-box-content {
		margin: auto;
		text-align: center;
	}
	&__title {
		color: #fff;
		margin-bottom: 26px;
		@include mq($until: mobile) {
			margin-bottom: 24px;
		}
	}
	&__content {
		color: #fff;
		margin-bottom: 26px;
		@include mq($until: mobile) {
			margin-bottom: 24px;
		}
	}
	#popup-close {
		position: absolute;
		top: 24px;
		right: 28px;
		cursor: pointer;
		.c-svgicon--close {
			width: 30px;
			height: 31px;
			color: #fff;
			transition: all 0.5s linear;
			transform: rotate(-90deg);
			&:hover {
				transform: rotate(0deg);
			}
		}
	}
}

.c-internal__hazard {
	width: 174px;
	position: absolute;
	top: 30%;
}
.c-internal__hazard-image {
	display: inline-block;
	margin: 0 auto;
	width: 174px;
	z-index: 500px;
	animation: upAndDownBoat 3s infinite linear;
}
.page-template-tmpl-bsfp {
	.c-internal__content {
		max-width: 689px;
	}
	a.white {
		color: #fff !important;
	}
	.border-top {
		width: 100%;
		padding: 40px 0 0;
		display: flex;
		border-top: 1px solid #e5e3e9;
	}
	.margin-bottom {
		margin-bottom: 26px;
	}
}
