.c-home-slider {
	position: relative;
	background-color: color("primary");

	* {
		outline: 0;
	}

	&__swirl {
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 102vh;
		background-image: url("../img/inline/BetterBoating-Home-Slider-Curve.svg");
		background-size: cover;
		background-position: center bottom;

		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			/* IE10+ CSS styles go here */
			background-image: url("../img/BetterBoating-Home-Slider-Curve.png");
		}

		@include mq($until: tablet) {
			background-image: url("../img/inline/BetterBoating-Mobile-Home-Curl.svg");
			background-size: contain;
			background-repeat: no-repeat;
			height: 130vh;
		}
	}

	&__bg {
		position: relative;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 100vh;
		width: 100%;

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__mob-bg {
		display: none;
		position: relative;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 100vh;
		width: 100%;
		@include mq($until: tablet) {
			display: block;
			height: 122vh;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba($color: #000000, $alpha: 0.5);
			}
		}
	}

	&__content-slider {
		position: relative;
		z-index: 3;
		height: 100vh;
		display: flex;
		align-items: center;

		@include mq($until: tablet) {
			height: 120vh;
		}
	}

	&__image-slider {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;

		@include mq($until: tablet) {
			height: 120vh;
		}
	}

	&__content-inner {
		// max-width: 478px;
		color: #fff;
		padding-top: 260px;
		padding-bottom: 160px;
		p {
			max-width: 479px;
		}
		p:last-child {
			margin-bottom: 32px;
		}

		h1,
		h2 {
			max-width: 494px;
			margin-top: 0;
			text-transform: none;
			color: #fff;
		}

		@include mq($until: tablet) {
			padding-top: 0;
			padding-bottom: 20vh;
			text-align: center;
			margin: 0 auto;

			p:last-child {
				margin-bottom: 28px;
			}
		}
	}

	&__scroll {
		cursor: pointer;
		position: absolute;
		left: 80px;
		z-index: 3;
		bottom: 65px;
		width: 340px;
		@include font-size(17px, 35px);
		color: rgba($color: #fff, $alpha: 0.7);
		transition: 0.25s;

		&:hover {
			color: #fff;

			svg {
				opacity: 1;
			}
		}

		svg {
			transition: 0.25s;
			opacity: 0.7;
			max-width: 17px;
			margin-right: 12px;
			margin-bottom: -2px;
		}

		@include mq($until: tablet) {
			display: none;
		}

		@media only screen and (max-height: 640px) {
			bottom: 25px;
		}
		@media only screen and (max-height: 530px) {
			display: none;
		}

		@include mq($from: tablet, $until: laptop) {
			left: 40px;
		}
	}

	&__dots {
		position: absolute;
		right: 0;
		bottom: 12vh;
		height: 40px;
		width: 200px;
		z-index: 5;
		margin: 0;

		@include mq($until: tablet) {
			bottom: 30vh;
			right: 50%;
			transform: translateX(50%);
		}

		@include mq($from: tablet, $until: tabletWide) {
			bottom: 26vh;
		}

		@include mq($from: tabletWide, $until: laptop) {
			bottom: 17vh;
		}

		// @media only screen and (max-height: 640px) {
		// 	bottom: 25px;
		// }
	}

	.slick-list {
		padding-left: 6px;
		margin-left: -6px;

		@include mq($until: tablet) {
			padding-left: 0;
			margin-left: 0;
		}
	}

	.slick-dots {
		position: absolute;
		right: 80px;
		bottom: 0;
		list-style: none;
		cursor: pointer;
		margin-bottom: 0;
		display: inline-flex;
		justify-content: center;
		@include mq($until: laptop) {
			right: 50%;
			bottom: 0;
			transform: translateX(50%);
		}

		li {
			display: inline-block;
			margin-left: 14px;

			&:first-child {
				margin-left: 0;
			}

			&.slick-active {
				button {
					background: #fff;
				}
			}
		}

		button {
			background: rgba($color: #fff, $alpha: 0.5);
			border-radius: 50%;
			width: 20px;
			height: 20px;
			padding: 0;
			border: none;
			color: transparent;
			transition: 0.25s;
			cursor: pointer;
		}
	}

	&__feature {
		position: absolute;
		right: 4%;
		max-width: 290px;
		top: 50%;
		transform: translate(-50%, -50%);

		@include mq($until: tablet) {
			display: none !important;
		}

		@include mq($from: tabletWide, $until: laptop) {
			right: -5%;
		}
	}
}
