.c-internal {
	&--terms {
		border-top: 175px solid color("primary");
		border-top: 175px solid #fff;
	}
	&__stage {
		position: relative;
		padding-top: 330px;
		background-size: cover;
		margin-bottom: 40px;
		background-position: center bottom;

		&--library {
			background-position: center center;
		}

		@include mq($until: tablet) {
			padding-top: 175px;
			margin-bottom: 20px;
		}
	}

	&__side {
		max-width: 272px;
		margin-bottom: 80px;
		@include mq($until: tablet) {
			display: none;
		}
	}

	&__breadcrumb {
		padding-bottom: 16px;
		position: relative;
		z-index: 3;

		&--terms {
			padding-bottom: 10px;
		}

		@include mq($until: tablet) {
			display: none;
		}

		&--mobile {
			display: none;
			@include mq($until: tablet) {
				display: block;
				padding-left: 0;
				padding-bottom: 0;
			}
		}
	}

	&__stage-bg {
		background: $header-grad;
	}

	&__content {
		max-width: 672px;
		margin-bottom: 122px;
		margin-right: 40px;

		&--terms {
			> h1 {
				margin-top: 0;
			}
		}

		> h1 {
			@include mq($until: tablet) {
				margin-top: 8px;
			}
		}

		.intro-para {
			a {
				text-decoration: none;
				color: color("secondary");
				font-family: $font-med;

				&:hover {
					color: color("primary");
				}
			}
		}

		@include mq($until: tablet) {
			margin-bottom: 44px;
			margin-right: 0;
			max-width: none;
		}
	}

	&__links {
		margin-top: 26px;
		h4 {
			margin-bottom: 17px;
		}
	}

	&__ramp {
		margin-top: 36px;
	}

	&__second-content {
		margin-top: 62px;

		@include mq($until: tablet) {
			margin-top: 42px;
		}
	}

	&__next {
		margin-top: 42px;
		display: none;

		@include mq($until: tablet) {
			display: block;
		}
	}
}
