.c-latest-news {
	text-align: center;
	padding-bottom: 94px;
	padding-top: 56px;

	@include mq($until: tablet) {
		.last {
			display: none;
		}
	}

	@include mq($until: tabletWide) {
		padding-bottom: 56px;
	}

	&--grey {
		background-color: #f0f0f0;
	}

	&__mob-swirl {
		display: none;
		margin-bottom: -60px;
	}

	h2 {
		margin-bottom: 16px;
	}

	&__content {
		padding-bottom: 25px;
	}

	&__button {
		margin-top: 8px;
	}

	&__tile-content {
		padding: 20px 28px;
		position: relative;
		z-index: 3;
	}

	a {
		text-decoration: none;
	}

	&__tile-wrap {
		position: relative;
		transition: 0.25s;
		border-radius: 12px;

		a {
			text-decoration: none;
		}

		&:hover {
			transform: scale(1.04);
			box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
		}
	}

	&__tile {
		position: relative;
		height: 360px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background-size: cover;
		border-radius: 12px;
		text-align: left;
		background-position: center center;
		background-size: cover;

		h3 {
			color: #fff;
			margin-bottom: 12px;
		}
		a {
			text-decoration: none;
		}
	}

	&__mob-image {
		height: 180px;
		width: 100%;
		border-radius: 12px;
		background-position: center center;
		background-size: cover;
		display: none;
	}

	&__tile-date,
	&__tile-category {
		font-family: $font-reg;
		@include font-size(15px, 19px);
		color: rgba($color: #fff, $alpha: 0.7);
		span {
			color: #fff;
		}
	}

	&__bg {
		border-radius: 12px;
		background: linear-gradient(
			transparent,
			rgba($color: #000, $alpha: 0.5) 85%,
			rgba($color: #000, $alpha: 0.7) 100%
		);
		z-index: 1;
	}

	&__category {
		@include font-size(15px, 19px);
		color: #fff;
		position: absolute;
		z-index: 3;
		left: 105px;
		bottom: 21px;
	}
}
