.c-library {
	&__report-wrap {
		padding-top: 20px;
		padding-bottom: 168px;

		@include mq($until: tablet) {
			padding-bottom: 80px;
		}
	}

	&__head-content {
		font-family: $font-med;
		@include font-size(20px, 33px);
		margin-bottom: 42px;
	}
	hr {
		color: #e5e3e9;
		border-color: #e5e3e9;
		opacity: 0.1;
	}

	&__head {
		@include mq($until: tablet) {
			margin-top: 34px;
		}
		margin-top: 72px;
		max-width: 722px;
	}
}
