.c-map {
	height: 768px;
	height: 100vh;

	@include mq($until: tablet) {
		height: 555px;
	}

	&--home {
		height: 575px;
		@include mq($until: tablet) {
			height: 394px;
			height: 555px;
		}
	}

	&__outer-wrap {
		position: relative;
	}

	&__mob-swirl {
		display: none;
		width: 100%;
		position: absolute;
		bottom: 0;
		z-index: -1;
		transform: translateY(99%);

		@include mq($until: tablet) {
			display: block;
		}
	}

	&__content {
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		color: #fff;
		z-index: 1;

		&::after {
			@extend .cover;
			content: "";
			z-index: -1;
			background: rgb(30, 24, 67);
			background: linear-gradient(
				90deg,
				rgba(30, 24, 67, 0.94) 12%,
				rgba(30, 24, 67, 0.8) 28%,
				rgba(30, 24, 67, 0) 63%,
				rgba(30, 24, 67, 0) 69%
			);

			@include mq($until: tablet) {
				display: none;
			}
		}

		@include mq($until: tablet) {
			text-align: center;
		}

		h1 {
			margin-top: 0;
			color: #fff;
		}

		a {
			pointer-events: all;
			display: none;
		}

		@include mq($until: tablet) {
			position: relative;
			background-color: color("primary");
			padding-bottom: 0;
			padding-top: 150px;
		}

		&--home {
			@include mq($until: tablet) {
				padding-top: 40px;
			}

			a {
				display: inline-block;
			}
		}
	}

	&__inner-wrap {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;

		@include mq($until: tablet) {
			justify-content: center;
		}
	}

	&__content-wrap {
		max-width: 548px;
		position: relative;

		a {
			margin-top: 10px;
		}

		&--home {
			@include mq($until: tablet) {
				max-width: 500px;
			}
		}
	}

	&__scroll {
		pointer-events: visible;
		cursor: pointer;
		position: absolute;
		left: 80px;
		bottom: 65px;
		z-index: 3;
		width: 340px;
		@include font-size(17px, 35px);
		color: rgba($color: #fff, $alpha: 0.7);
		transition: 0.25s;

		&:hover {
			color: #fff;

			svg {
				opacity: 1;
			}
		}

		@include mq($until: laptop) {
			left: 40px;
			display: none;
		}

		svg {
			transition: 0.25s;
			opacity: 0.7;
			max-width: 17px;
			margin-right: 12px;
			margin-bottom: -2px;
		}
	}

	// img[src*="map-marker.svg"] {
	//     width: 30px !important;
	// }
}

.c-map-info {
	margin-left: 10px;
	margin-top: 5px;
	margin-right: 4px;

	&__image {
		width: 100%;
		height: 150px;
		background-size: cover;
		background-position: center center;
		margin-bottom: 20px;
		@include mq($until: tablet) {
			display: none;
		}
	}

	&__price {
		font-family: $font-med;
		@include font-size(15px, 22px);
		color: color("secondary");
		margin-bottom: 6px;
	}

	h4 {
		@include font-size(16px, 18px);
		margin-bottom: 6px;
	}

	p {
		font-family: $font-reg;
		@include font-size(12px, 14px);
		color: color("primary");

		@include mq($until: tablet) {
			margin-bottom: 12px;
		}
	}

	a {
		font-family: $font-med;
		@include font-size(15px, 22px);
		color: color("primary");
		text-decoration: none;
		padding-right: 20px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			background-image: url("../img/link@2x.png");
			top: 3px;
			right: 0;
			width: 14px;
			height: 14px;
			background-size: cover;
			background-position: center center;
		}
	}
}

// Override Styling the controls
.c-map {
	.gm-style .gm-style-iw-c {
		top: -15px;
		width: 235px;
		height: 320px;

		@include mq($until: tablet) {
			top: 0;
			height: initial;
			padding-bottom: 10px;
		}
	}

	.gm-style-iw.gm-style-iw-c {
		button {
			top: 17px !important;
			right: 20px !important;
			opacity: 1;
			&::after {
				@extend .centered;
				content: "";
				background-image: url("../img/close@2x.png");
				background-size: cover;
				background-position: center center;
				width: 15px;
				height: 15px;
				background-size: cover;
			}
		}
	}

	.gm-style .gm-style-iw-t::after {
		top: -16px;

		@include mq($until: tablet) {
			top: 0;
		}
	}
}
.gm-bundled-control-on-bottom {
	bottom: 124px !important;
	right: 58px !important;
	button {
		width: 29px !important;
	}

	div > div {
		width: 29px !important;
		border-radius: 4px !important;
		background-color: rgba($color: #fefefe, $alpha: 0.7) !important;
	}

	img {
		width: 15px !important;
		height: 15px !important;
	}

	div > div > div {
		margin: 0 !important;
		height: 2px !important;
		// background-color: color('primary') !important;
		background-color: #666666 !important;
	}
}
