.c-nav-overlay {
	display: none;
	position: fixed;
	height: 100vh;
	width: 100%;
	z-index: 30;
	background-color: color("primary");
	overflow-y: auto;
	&__nav {
		overflow-y: auto;
		width: 100%;
		max-height: 100%;
		margin: 48px 0;
	}
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		height: 100%;
		max-width: 50%;
		margin: 0 auto;

		@include mq($until: tablet) {
			transform: translateY(-40px);
			li {
				margin-bottom: 10px;
			}
		}

		li {
			margin-bottom: 6px;
			padding: 0;
		}

		.current-menu-item {
			a {
				color: #fff;
			}
		}

		a {
			@include font-size(40px, 50px);
			color: #938da5;
			font-family: $font-bold;
			text-decoration: none;
			transition: 0.25s;
			&:hover {
				color: color("secondary");
			}
			@include mq($until: tablet) {
				@include font-size(26px, 31px);
			}
		}
	}

	&__socials {
		text-align: center;
		position: fixed;
		left: 65px;
		bottom: 36px;
		color: #fff;
		display: flex;
		align-items: center;
		width: 114px;
		justify-content: space-between;

		a {
			text-decoration: none;
			flex: 1;
		}

		svg {
			transition: 0.25s;
			max-width: 28px;
			color: #fff;

			&:hover {
				transform: scale(1.04);
			}
		}

		.c-svgicon--Facebook-Icon {
			max-height: 25px;
		}

		.c-svgicon--Insta-Icon {
			max-width: 24px;
		}

		.c-svgicon--Twitter-Icon {
			max-width: 28px;
		}

		@include mq($until: tablet) {
			display: none;
		}

		&--mobile {
			display: none;

			@include mq($until: tablet) {
				display: block;
				position: relative;
				left: 0;
				bottom: 0;
				margin-top: 36px;
				width: 100%;
				a {
					margin: 0 6px;
				}
			}
		}
	}

	&__vic {
		position: fixed;
		right: 86px;
		bottom: 38px;
		max-width: 86px;

		@include mq($until: tablet) {
			left: 24px;
		}

		@include mq($from: tablet, $until: laptop) {
			right: 50px;
		}
	}

	&__boating {
		position: absolute;
		bottom: 44px;
		max-width: 120px;
	}
}
