.c-nav {
	&__list {
		list-style: none;
		display: inline-block;
		@include mq($until: tablet) {
			display: none;
		}

		li {
			display: inline-block;
			margin-left: 25px;

			&:last-child {
				margin-right: 38px;
			}
			&.current-page-ancestor,
			&.current-menu-item {
				a {
					color: #fff;
				}
			}
		}

		a {
			font-family: $font-med;
			color: rgba($color: #fff, $alpha: 0.7);
			@include font-size(20px, 35px);
			text-decoration: none;
			transition: 0.25s;

			&:hover {
				color: #fff;
			}
		}
	}

	&__burger {
		display: inline-block;
		position: relative;
		width: 55px;
		color: #fff;
		cursor: pointer;

		a {
			text-decoration: none;
			padding-left: 55px;
		}

		@include mq($until: tablet) {
			margin-top: 14px;
		}
	}

	.dark & {
		a {
			color: color("primary-70");
		}

		li {
			&.current-page-ancestor,
			&.current-menu-item,
			&:hover {
				a {
					color: color("primary");
				}
			}
		}
	}

	.backing & {
		a {
			color: rgba($color: #fff, $alpha: 0.7);
		}

		li {
			display: inline-block;
			margin-left: 25px;

			&:last-child {
				margin-right: 38px;
			}

			&.current-page-ancestor,
			&.current-menu-item,
			&:hover {
				a {
					color: #fff;
				}
			}
		}
	}
}
