.c-news {
	padding-bottom: 84px;

	@include mq($until: tablet) {
		padding-bottom: 4px;
	}
	&__content {
		padding-top: 36px;
		text-align: center;

		@include mq($until: tablet) {
			text-align: left;
			padding-top: 32px;
			h1 {
				margin-top: 0;
			}
		}
	}

	&__grid {
		margin-bottom: 40px;
		@include mq(mobileLandscape) {
			.o-layout__item {
				&:nth-child(odd) .o-animateup {
					animation-delay: 0.2;
				}
				&:nth-child(even) .o-animateup {
					animation-delay: 0.3s;
				}
			}
		}
		@include mq(tablet) {
			.o-layout__item {
				&:nth-child(3n + 1) .o-animateup {
					animation-delay: 0.2;
				}
				&:nth-child(3n + 2) .o-animateup {
					animation-delay: 0.3s;
				}
				&:nth-child(3n + 3) .o-animateup {
					animation-delay: 0.4s;
				}
			}
		}
	}

	&__filters {
		margin-bottom: 50px;
		margin-top: 36px;

		@include mq($until: tablet) {
			margin-bottom: 16px;
		}
	}

	&__top-spacer {
		width: 100%;
		height: 185px;
		background-color: color("primary");

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__stage {
		position: relative;
		@include mq($until: tablet) {
			height: 175px;
			background-size: cover;
			background-position: center bottom;
		}
	}

	&__stage-bg {
		background: $header-grad;
	}

	&__breadcrumb {
		display: none;

		@include mq($until: tablet) {
			display: block;
			margin-bottom: 10px;
		}
	}
}
