.c-newsletter {
	display: flex;
	position: relative;

	@include mq($until: tablet) {
		display: inline-flex;
	}

	&__email {
		input[type="email"] {
			height: 42px;
			background-color: color("primary-70");
			border-color: color("primary-70");
			max-width: 260px;
			border-radius: 4px 0 0 4px;
			color: #fff;

			&::placeholder {
				@include font-size(15px, 19px);
				font-family: $font-reg;
			}

			&::after {
				background-repeat: no-repeat;
				background-image: url("../img/inline/mail.svg");
				background-position: center;
				content: "";
				@extend .centered;
				width: 24px;
				height: 16px;
				z-index: 1;
			}
		}
	}

	&__send {
		display: inline-block;
		width: 54px;
		position: relative;
		height: 42px;
		border: 0;
		border-radius: 0 4px 4px 0;
		background-color: #fff;
		color: transparent;
		cursor: pointer;
	}

	p {
		position: relative;
		height: 42px;
		&::after {
			pointer-events: none;
			background-repeat: no-repeat;
			background-image: url("../img/inline/mail.svg");
			background-position: center;
			content: "";
			@extend .centered;
			width: 24px;
			height: 16px;
			z-index: 1;
		}
	}
}
