.c-footer {
	background-color: color("primary");
	padding-top: 70px;
	@include mq($until: tablet) {
		padding-top: 45px;
	}

	h4 {
		color: #fff;
	}

	ul {
		padding: 0;
		list-style-position: initial;
		max-width: 170px;
	}

	li {
		margin-bottom: 4px;
	}

	a {
		font-family: $font-reg;
		color: rgba($color: #fff, $alpha: 0.7);
		@include font-size(17px, 22px);
		text-decoration: none;
		transition: 0.25s;

		&:hover {
			color: #fff;
		}
	}

	&__left {
		a {
			font-family: $font-reg;
		}
	}
	&__brand-logo {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		@include mq($until: tablet) {
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
	}
	&__bbv-logo {
		margin-bottom: 42px;
		@include mq($until: tablet) {
			margin-bottom: 0px;
			padding-right: 16px;
		}
	}
	&__vfa-logo {
		@include mq($until: tablet) {
			padding-left: 16px;
		}
	}
	&__logo {
		max-width: 196px;

		@include mq($until: tablet) {
			margin-top: 25px;
			max-width: 160px;
		}
	}

	&__socials {
		margin-left: -4px;
		margin-top: 20px;
		color: #fff;
		display: flex;
		align-items: center;
		max-width: 136px;
		justify-content: space-between;

		@include mq($until: tablet) {
			margin: 25px auto 0;
		}

		a {
			text-decoration: none;
			flex: 1;
		}

		svg {
			color: #fff;
			transition: 0.25s;
			max-width: 28px;

			&:hover {
				color: #fff;
				transform: scale(1.1);
			}
		}

		.c-svgicon--Facebook-Icon {
			max-height: 25px;
		}

		.c-svgicon--Insta-Icon {
			max-width: 24px;
		}

		.c-svgicon--Twitter-Icon {
			max-width: 28px;
		}
	}

	&__inner-wrap {
		display: flex;
		justify-content: space-between;

		@include mq($until: tablet) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__newsletter {
		margin-top: 46px;

		@include mq($until: tablet) {
			margin-top: 36px;

			h4 {
				margin-bottom: 20px;
			}
		}
	}

	&__copy-wrap {
		padding-top: 30px;
		display: flex;
		justify-content: space-between;
		color: rgba($color: #fff, $alpha: 0.6);
		font-family: $font-reg;
		@include font-size(14px, 20px);

		a {
			@include font-size(14px, 20px);
			color: rgba($color: #fff, $alpha: 0.8);
			font-family: $font-reg;

			&:hover {
				color: #fff;
			}
		}

		@include mq($until: tablet) {
			a,
			p {
				@include font-size(12px, 20px);
			}
			flex-direction: column-reverse;
			align-items: center;
			text-align: center;
			padding-bottom: 20px;
			padding-top: 44px;
		}
	}

	&__copy {
		color: rgba($color: #fff, $alpha: 0.6);

		p {
			@include mq($until: tablet) {
				margin: 0;
			}
		}
	}

	.wpcf7-mail-sent-ok {
		color: #fff;
		margin-top: -2px;
		font-family: $font-reg;
	}

	&__departments {
		background-color: #fff;
		color: #000;

		a {
			color: #000;
			@include font-size(14px, 20px);
			font-family: $font-reg;
			margin-left: 30px;

			&:hover {
				color: rgba($color: #000000, $alpha: 0.7);
			}

			@include mq($from: mobileLandscape, $until: tabletWide) {
				@include font-size(12px, 20px);
				&:nth-child(2) {
					display: none;
				}
			}

			@include mq($until: mobileLandscape) {
				@include font-size(12px, 20px);
				&:not(:first-child) {
					display: none;
				}
			}
		}
	}

	&__state {
		max-width: 80px;
		float: left;
	}

	&__departments-inner {
		height: 85px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__upgrades {
		@include mq($until: tabletWide) {
			display: none;
		}
	}

	&__quick-links {
		@include mq($until: tablet) {
			display: none;
		}
	}
}
