.c-post {
	padding-bottom: 136px;
	padding-top: 192px;

	@include mq($until: tablet) {
		padding-top: 104px;
		padding-bottom: 0;
		margin-bottom: -6px;
	}

	&__feature {
		width: 100%;
		height: 350px;
		background-size: cover;

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__breadcrumb {
		margin-top: 30px;
		margin-bottom: 10px;
	}

	&__ramp-tile {
		margin-top: 70px;

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__info {
		margin-bottom: 20px;
		color: color("primary-70");

		span {
			color: color("primary");
			a {
				font-family: $font-reg;
				color: color("primary");
				@include font-size(15px, 19px);

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__content {
		max-width: 680px;

		h1 {
			margin-top: 0;
		}

		a {
			text-decoration: none;
			color: color("secondary");
			font-family: $font-med;
			&:hover {
				color: color("primary");
			}
		}

		@include mq($until: tablet) {
			max-width: none;
		}
	}
	&__form {
		max-width: 680px;
		margin-top: 72px;
		.cf7-submit:hover {
			.ajax-loader {
				transition: 0.3s;
			}
			&:hover {
				.ajax-loader {
					transform: scale(1.03);
				}
			}
		}
	}
}
