.c-ramp-upgrades {
	text-align: center;
	background-color: #f0f0f0;
	padding-bottom: 90px;
	padding-top: 58px;

	@include mq($until: tablet) {
		padding-bottom: 50px;
		padding-top: 40px;
	}

	h2 {
		margin-bottom: 55px;

		@include mq($until: tablet) {
			max-width: 320px;
			margin: 0 auto 35px auto;
		}
	}

	&__slider-wrap {
		position: relative;
		margin-bottom: 16px;

		@include mq($until: tablet) {
			margin-bottom: 12px;
		}
	}

	&__image-wrap {
		overflow: hidden;
	}

	&__slide {
		position: relative;
		text-align: left;
		margin: 0 19px;
		max-width: 326px;
		opacity: 0.2;
		transition: 0.25s;
		pointer-events: none;
		outline: 0;

		&:hover {
			img {
				transform: scale(1.08);
			}
		}

		img {
			transition: 0.25s;
		}

		* {
			outline: 0;
		}

		&.slick-active {
			opacity: 1;
			pointer-events: all;
		}

		a {
			text-decoration: none;
		}

		h3 {
			margin-top: 12px;
			margin-bottom: 5px;
		}

		p {
			@include font-size(15px, 26px);
		}

		@include mq($until: tablet) {
			max-width: 264px;
			margin: 0 9px;

			p {
				display: none;
			}

			&.slick-active {
				opacity: 0.2;
			}

			&.slick-current {
				opacity: 1;
			}

			h3 {
				@include font-size(26px, 31px);
			}

			&:hover {
				img {
					transform: none;
				}
			}
		}
	}

	&__slider-arrows {
		position: absolute;
		transform: translate(-50%, 50%);
		top: 162px;
		height: 14px;
		width: 39px;
		background-image: url("../img/inline/link-arrow.svg");
		background-position: cover;
		background-repeat: no-repeat;
		z-index: 10;
		transition: 0.25s;
		cursor: pointer;

		&.prev {
			left: 50px;
			transform: translate(-50%, 50%) rotate(180deg);
			&:hover {
				left: 40px;
			}
		}

		&.next {
			right: 50px;
			&:hover {
				right: 40px;
			}
		}

		@include mq($until: mobileLandscape) {
			display: none !important;
		}

		@include mq($until: tablet) {
			top: 132px;
		}
	}

	&__progress {
		color: color("secondary");
		@include font-size(15px, 22px);
		font-family: $font-med;
		margin-bottom: 20px;
		display: inline-block;
	}
}
