.c-ramp {
	background-color: color("primary");
	padding-top: 230px;

	@include mq($until: tablet) {
		padding-top: 130px;
	}

	h1,
	h2,
	h3,
	h4,
	p {
		color: #fff;
	}

	&__breadcrumbs {
		margin-bottom: 10px;
		@include mq($until: tablet) {
			margin-bottom: 8px;
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;

		h1 {
			margin-top: 0;
		}

		@include mq($until: tablet) {
			margin-bottom: 4px;
		}
	}

	&__head-content {
		max-width: 722px;
	}

	&__buoy {
		width: 165px;
		background-image: url("../img/BetterBoating-Illustrations-Parralax-Buoy-Background.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		@include mq($until: tablet) {
			display: none;
		}
	}

	&__buoy-image {
		animation: upAndDownBuoy 5s infinite linear;
		width: 125px;
		@include mq($until: tabletWide) {
			margin-top: 30px;
			margin-right: 20px;
		}

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__grid {
		padding-top: 88px;
		padding-bottom: 22px;

		@include mq(mobileLandscape) {
			.o-layout__item {
				&:nth-child(odd) .o-animateup {
					animation-delay: 0.2;
				}
				&:nth-child(even) .o-animateup {
					animation-delay: 0.3s;
				}
			}
		}
		@include mq(tablet) {
			.o-layout__item {
				&:nth-child(3n + 1) .o-animateup {
					animation-delay: 0.2;
				}
				&:nth-child(3n + 2) .o-animateup {
					animation-delay: 0.3s;
				}
				&:nth-child(3n + 3) .o-animateup {
					animation-delay: 0.4s;
				}
			}
		}
		@include mq($until: tablet) {
			display: block;
			padding-top: 30px;
			padding-bottom: 0;
		}
	}

	&__grid-tile {
		h3 {
			margin-bottom: 5px;
			margin-top: 12px;
			@include mq($until: tablet) {
				@include font-size(28px, 30px);
				margin-bottom: 0;
			}
		}

		img {
			transition: 0.25s;
		}

		&:hover {
			img {
				transform: scale(1.08);
			}
		}
	}

	&__grid-image-wrap {
		overflow: hidden;
	}

	&__progress {
		color: color("secondary");
		@include font-size(15px, 22px);
		font-family: $font-med;

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__slider-wrap {
		display: none;
		position: relative;
		height: 704px;

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__slider {
		&.slick-slider {
			position: absolute;
		}
		right: 0;
		top: 50px;
		width: 600px;
		overflow: hidden;
	}

	&__gallery {
		position: relative;
		border-bottom: 1px solid #473f65;
	}

	&__control {
		position: absolute;
		top: 26px;
		left: 0;
		z-index: 10;

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__hazard {
		width: 100%;
		max-width: 244px;
		display: inline-block;
		margin-right: 40px;

		@include mq($until: mobileLandscape) {
			max-width: 164px;
			margin-bottom: 0;
		}

		@include mq($from: mobileLandscape, $until: tablet) {
			max-width: 234px;
			margin-bottom: 40px;
		}
	}

	&__lower {
		padding-top: 50px;
		padding-bottom: 100px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@include mq($until: mobileLandscape) {
			display: block;
			padding-bottom: 0;
		}
	}

	&__lower-content {
		max-width: 684px;
		display: inline-block;
		margin: 0 auto;
	}

	&__slider-controls {
		position: absolute;
		left: 0;
		top: 105px;
		width: 385px;
	}

	&__block-control {
		display: inline-block;
		width: 35px;
		height: 35px;
		transition: 0.25s;
		background-color: #473f65;
		cursor: pointer;

		&:hover,
		&.active {
			background-color: rgba($color: #fff, $alpha: 0.4);
		}
	}

	&__grid-controls {
		display: inline-block;
		cursor: pointer;
		width: 35px;
		height: 35px;
		margin-right: 15px;
		line-height: 18px;
		color: #473f65;
		transition: 0.25s;
		&:hover,
		&.active {
			color: rgba($color: #fff, $alpha: 0.4);
		}
	}

	&__slide-title {
		cursor: pointer;
		display: block;
		font-family: $font-bold;
		@include font-size(40px, 42px);
		color: color("primary-50");
		text-decoration: none;
		transition: 0.25s;
		margin-bottom: -10px;

		.slick-active & {
			color: color("secondary");
		}

		&:hover {
			color: color("secondary");
		}
	}

	&__statement {
		padding-top: 40px;
		padding-bottom: 35px;
		border-top: 1px solid #473f65;
		border-bottom: 1px solid #473f65;
		p {
			@include font-size(40px, 42px);
			color: color("primary-50");
			margin-bottom: 15px;
			font-family: $font-bold;
			em {
				color: #fff;
				font-style: normal;
			}
		}

		@include mq($until: tablet) {
			padding-top: 22px;
			padding-bottom: 5px;
			p {
				@include mq($until: tablet) {
					@include font-size(28px, 32px);
				}
			}
		}
	}
}
