.c-report {
	font-family: $font-reg;
	&__top {
		border-radius: 12px 12px 0 0;
		height: 256px;
		@include bg-image;
		position: relative;
	}

	&__top-content {
		position: absolute;
		width: 100%;
		bottom: 0;
		color: color("white");
	}

	&__sub-title {
		@include font-size(16px, 28px);
		margin-bottom: 2px;
	}

	&__title {
		color: color("white");
		max-width: 410px;
	}

	&__top-content {
		padding: 0 24px;
	}

	&__bottom {
		position: relative;
		background-color: #eee;
		border-radius: 0 0 12px 12px;
		min-height: 256px;
		display: flex;
		padding: 24px;
		flex-direction: column;
		justify-content: space-between;
	}

	&__grad {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 192px;
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 1) 0%,
			rgba(0, 0, 0, 0) 100%
		);
		opacity: 0.61;
	}

	&__button {
	}
}
