.c-resources {
	padding-bottom: 80px;

	@include mq($until: tablet) {
		padding-bottom: 50px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 52px;

		@include mq($until: tablet) {
			display: block;
		}
	}

	&__breadcrumb {
		position: absolute;
		bottom: 17px;
		left: 80px;

		@include mq($until: tablet) {
			display: none;
		}

		@include mq($until: laptop) {
			left: 40px;
		}

		&--mobile {
			display: none;
			position: relative;
			left: 0;
			bottom: 0;
			margin-bottom: 8px;
			@include mq($until: tablet) {
				display: block;
			}
		}
	}

	&__content {
		max-width: 722px;

		h1 {
			margin-top: 0;
		}
	}

	&__stage {
		height: 400px;
		margin-bottom: 72px;
		background-size: cover;
		position: relative;
		background-position: center bottom;
		overflow: hidden;

		@include mq($until: tablet) {
			height: 175px;
			margin-bottom: 22px;
		}
	}
	&__stage-bgimage {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__single-content {
		max-width: 684px;
		margin-left: 100px;

		h3 {
			margin-bottom: 15px;
		}

		@include mq($until: ipad) {
			max-width: 100%;
			margin-left: 0;
			text-align: center;
		}
	}

	&__image-wrap {
		width: 260px;
		margin-left: 42px;
		position: relative;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		@include mq($until: ipad) {
			max-width: 220px;
			margin: 10px auto 32px auto;
			img {
				position: relative;
				top: 0;
				left: 0;
				transform: none;
			}
		}
	}

	&__single {
		padding: 44px 0 48px;
		display: flex;
		border-top: 1px solid #e5e3e9;

		@include mq($until: ipad) {
			display: block;
			padding: 30px 0 46px;
		}
	}

	&__boat {
		width: 192px;
		background-image: url("../img/BetterBoating-Illustrations-Parralax-Buoy-Background.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__boat-image {
		animation: upAndDownBoat 4s infinite linear;
		width: 125px;
		margin: auto;
		margin-top: 30px;
	}
}
