.c-sidelink {
	&__item {
		display: block;
		font-family: $font-med;
		text-decoration: none;
		padding: 10px 42px 10px 22px;
		@include font-size(17px, 20px);
		border: 1px solid transparent;
		border-left: 2px solid transparent;
		border-top-color: #e5e3e9;
		transition: 0.25s;

		&.current {
			border-left-color: color("secondary");
			color: color("secondary");
		}

		&:last-child {
			border-bottom-color: #e5e3e9;
		}

		&:hover {
			color: color("secondary");
		}
	}

	&__list {
		a {
			text-decoration: none;
			margin-left: 20px;
			transition: 0.25s;
		}

		li {
			padding: 10px 42px 10px 22px;
			display: block;
			font-family: $font-med;
			text-decoration: none;
			@include font-size(17px, 20px);
			border: 1px solid transparent;
			border-left: 2px solid transparent;
			border-top-color: #e5e3e9;
			transition: 0.25s;

			&.current-menu-item {
				a {
					color: color("secondary");
				}
				border-left-color: color("secondary");
			}

			&:last-child {
				border-bottom-color: #e5e3e9;
			}

			&:hover {
				a {
					color: color("secondary");
				}
			}
		}
	}
}
