.c-single-ramp {
	padding-bottom: 136px;
	padding-top: 192px;

	@include mq($until: tablet) {
		padding-top: 92px;
		padding-bottom: 34px;
	}

	&__breadcrumb {
		margin-top: 30px;
		margin-bottom: 10px;
	}

	&__aside {
		max-width: 272px;
		margin-top: 68px;

		:last-child {
			margin-bottom: 38px;
		}

		h4 {
			text-transform: none;
		}

		@include mq($until: tablet) {
			max-width: 100%;
			margin-top: 0;

			:last-child {
				margin-bottom: 30px;
			}
		}
	}

	&__links {
		@include mq($until: tablet) {
			display: none;
		}
	}

	&__content {
		max-width: 672px;
		border-bottom: 1px solid color("grey");
		margin-right: 40px;

		a {
			text-decoration: none;
			color: color("secondary");
			font-family: $font-med;
			@include font-size(15px, 26px);
		}

		h1 {
			margin-top: 0;
		}

		@include mq($until: tablet) {
			border-bottom: 0;
		}
	}

	&__info-tile {
		background-color: color("grey");
		padding: 24px 20px;
		border-radius: 12px;
		margin-top: 38px;

		h4 {
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 20px;
		}

		@include mq($until: mobileLandscape) {
			columns: 1;
			margin-bottom: 30px;
			margin-top: 0;
		}

		@include mq($from: mobileLandscape, $until: tablet) {
			margin-top: 0;
			columns: 2;
			margin-bottom: 30px;
		}
	}

	&__top-link {
		position: absolute;
		left: 80px;
		bottom: 0;
		@include font-size(18px, 26px);
		color: color("secondary");
		text-decoration: none;
		font-family: $font-med;

		@include mq($until: laptop) {
			left: 40px;
		}

		@include mq($until: tablet) {
			display: none;
		}
	}

	&__next-link {
		position: absolute;
		right: 124px;
		bottom: 0;

		@include mq($until: tablet) {
			position: relative;
			right: 0;
			bottom: 10px;
		}
	}
}
