.c-slider {
	position: relative;
	&__pager {
		position: absolute;
		bottom: 18px;
		z-index: 105;
		display: block;
		width: 100%;
		line-height: 0;
		text-align: center;
		span {
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: 0 4px;
			border-radius: 24px;
			text-indent: -99999px;
			cursor: pointer;
			background: color("white");
			opacity: 0.4;
			&.cycle-pager-active {
				background: color("brand");
			}
		}
	}
}

.c-slide {
	width: 100%;
	height: 390px;
	color: #fff;
	background: #000;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	@include mq(lap) {
		height: 490px;
	}
	&__content {
		position: absolute;
		top: 45%;
		left: 50%;
		width: 100%;
		max-width: 610px;
		max-height: 490px;
		transform: translate(-50%, -50%);
	}
}
