.c-toggle-menu {
	position: absolute;
	top: 10px;
	right: 0;
	display: block;
	width: 100%;
	height: 2px;
	max-width: 55px;
	background: #fff;
	border-radius: 1px;
	transform: translateY(-50%);
	cursor: pointer;

	&::before,
	&::after {
		content: " ";
		display: block;
		width: 100%;
		height: 2px;
		background: #fff;
		position: absolute;
		left: 0;
		transition: top 0.2s 0.2s, transform 0.2s;
	}

	&::before {
		top: -10px;
	}

	&::after {
		top: 10px;
	}

	.is-open & {
		background: transparent;

		&::before,
		&::after {
			top: 5px;
			transform: rotate(45deg);
			transition: top 0.2s, transform 0.2s 0.2s;
		}

		&::after {
			transform: rotate(-45deg);
		}
	}

	&--light-from-tablet {
		@include mq($from: tablet) {
			background: #fff;

			&::after,
			&::before {
				background: #fff;
			}
		}
	}

	.dark & {
		background: color("primary");

		&::after,
		&::before {
			background: color("primary");
		}
	}

	&--light,
	.backing & {
		background: #fff;

		&::after,
		&::before {
			background: #fff;
		}
	}
}
