// SETTINGS
@import 'partials/settings.defaults';
@import 'partials/settings.colors';
@import 'partials/settings.fonts';
@import 'partials/settings.responsive';
@import '../../bower_components/inuit-defaults/settings.defaults';

// TOOLS
@import '../../bower_components/inuit-functions/tools.functions';
@import 'partials/tools.functions';
@import '../../bower_components/inuit-mixins/tools.mixins';
@import 'partials/tools.mixins';
@import '../../bower_components/inuit-responsive-tools/tools.responsive';
@import 'partials/tools.aliases';

// GENERICS
@import '../../bower_components/inuit-normalize/generic.normalize';
@import '../../bower_components/inuit-reset/generic.reset';
@import '../../bower_components/inuit-box-sizing/generic.box-sizing';
@import 'partials/generic.shared';

// BASE
@import '../../bower_components/inuit-page/base.page';
@import 'partials/base.page';
$inuit-namespace: 'u-'; // namespace utility classes
@import 'partials/base.forms';
@import 'partials/base.headings';
@import 'partials/base.images';
@import 'partials/base.links';
@import 'partials/base.lists';
@import 'partials/base.quotes';
@import 'partials/base.tables';
@import 'partials/base.type';
@import 'partials/base.select2';
$inuit-namespace: null;

// OBJECTS
$inuit-namespace: 'o-';
$inuit-enable-layout--flush: true;
$inuit-enable-layout--tiny: true;
$inuit-enable-layout--small: true;
$inuit-enable-layout--large: true;
$inuit-layout-gutter--small:        round($inuit-base-line-height * .75);
$inuit-layout-gutter--large:        round($inuit-base-line-height * 1.5);
@import '../../bower_components/inuit-layout/objects.layout';
@import 'partials/objects.layout';
@import 'partials/objects.wrappers';
$inuit-namespace: null;

$inuit-btn-namespace:       'o-';
$inuit-btn-padding:         halve($inuit-base-spacing-unit) !default;
$inuit-btn-padding--small:  halve($inuit-btn-padding) !default;
$inuit-btn-padding--large:  double($inuit-btn-padding) !default;
$inuit-btn-background:      color('brand');
$inuit-btn-color:           color('white');
$inuit-btn-border-width:    0 !default;
$inuit-btn-border-style:    solid !default;
$inuit-btn-border-color:    $inuit-btn-background !default;
$inuit-btn-radius:          $base-round;
$inuit-enable-btn--small:   false !default;
$inuit-enable-btn--large:   false !default;
$inuit-enable-btn--full:    false !default;
$inuit-enable-btn--pill:    false !default;
// @import '../../bower_components/inuit-buttons/_objects.buttons';
@import 'partials/objects.buttons';
@import 'partials/objects.module';
@import 'partials/objects.intrinsic-ratios';

// COMPONENTS

@import 'partials/components.icons';
@import 'partials/components.page-nav';
@import 'partials/components.page-top';
@import 'partials/components.page-content';
@import 'partials/components.page-bottom';
@import 'partials/components.section';
@import 'partials/components.media';
@import 'partials/components.gallery';
@import 'partials/components.home';
@import 'partials/components.instagram';
@import 'partials/components.story';
@import 'partials/components.ethics';
@import 'partials/components.shop';
@import 'partials/components.products';
@import 'partials/components.product';
@import 'partials/components.cart';
@import 'partials/components.checkout';
@import 'partials/components.thankyou';
@import 'partials/components.slider';
@import 'partials/components.flickity';
@import 'partials/components.sizechart';
@import 'partials/components.faq';
@import 'partials/components.contact';
@import 'partials/components.animation';

// TRUMPS
$inuit-namespace: 'u-'; // namespace utility classes
@import '../../bower_components/inuit-clearfix/trumps.clearfix';
$inuit-use-fractions:   false;
@import 'partials/trumps.widths';
@import 'partials/trumps.widths-responsive';
@import 'partials/trumps.misc';