select,
textarea,
input {
	outline: none;
	font-family: $secondary;
	font-weight: normal;
}
select,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"] {
	display: block;
	width: 100%;
	padding: 8px 16px;
	border-radius: 0;
	appearance: none;
	@include font-size(16px, 1);
	&::-webkit-input-placeholder {
		color: tint(color("content"), 40%);
		line-height: normal !important;
	}
	&::-moz-placeholder {
		color: tint(color("content"), 40%);
		line-height: normal !important;
	}
	&::-ms-input-placeholder {
		color: tint(color("content"), 40%);
		line-height: normal !important;
	}
	&::-moz-placeholder {
		color: tint(color("content"), 40%);
		line-height: normal !important;
	}
	&::placeholder {
		color: tint(color("content"), 40%);
		line-height: normal !important;
	}
}

textarea {
	height: 120px;
	resize: none;
}
select {
	padding: 8px 56px 8px 16px;
	background-image: linear-gradient(
			45deg,
			transparent 50%,
			color("content") 50%
		),
		linear-gradient(135deg, color("content") 50%, transparent 50%),
		linear-gradient(to right, color("content"), color("content"));
	background-position: calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-repeat: no-repeat;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	box-shadow: none;
}

// THIS RADIO BUTTON STYLE IS SPECIFIC TO CONTACT FORM 7
input[type="radio"] {
	opacity: 0;
	appearance: none;

	&:checked {
		background: tint(color("content"), 20%);
	}
	+ span {
		display: inline-block;
		cursor: pointer;
		&:before {
			content: " ";
			display: inline-block;
			width: 13px;
			height: 13px;
			margin-right: 8px;
			border: 1px solid tint(color("content"), 20%);
			border-radius: 10px;
			vertical-align: middle;
		}
	}
	&:checked + span::before {
		background: tint(color("content"), 20%);
	}
	&:focus + span {
		outline: 1px dotted tint(color("content"), 20%);
		outline-offset: 2px;
	}
}

.form-row {
	margin-bottom: $spacing-unit;
	span {
		width: 100%;
	}
}

.row {
	&-left {
		@include mq(tablet) {
			width: 48.5%;
			float: left;
		}
	}
	&-right {
		@include mq(tablet) {
			width: 48.5%;
			float: right;
		}
	}
	&-full {
		clear: both;
	}
}

.form-submit {
	img {
		display: none;
	}
}
// CONTACT FORM 7 SPECIFIC STYLES
.wpcf7 {
	margin-bottom: $spacing-unit;
	padding: $spacing-unit * 1.6 $spacing-unit $spacing-unit;
	background-color: white;
	border-radius: 6.5px;
	clear: both;
	overflow: auto;
	::placeholder {
		font-family: $secondary;
	}
	&-text,
	&-textarea,
	&-select {
		padding: 13px 12px 12px;
		background-color: color("internalbg");
		border-radius: 2px;
		appearance: none;
		width: 100%;
		border: 0;
		color: #868786;
		&:focus {
			outline: 1px solid rgba(167, 165, 166, 0.3);
		}
	}
	&-textarea {
		resize: none;
		height: 130px;
	}
	.contact-msg {
		margin-bottom: 48px;
	}
	&-submit {
		background: none;
		border: none;
		appearance: none;
	}
	&-collection {
		position: relative;
		height: 44px;
		width: 100%;
		background-color: color("internalbg");
		border-radius: 2px;
		float: right;
		padding: 6px 12px 0;
		p {
			background-image: url("../img/select-arrow-pink.png");
			background-repeat: no-repeat;
			background-size: 8px;
			position: absolute;
			right: 18px;
			margin-bottom: 0;
			display: inline-block;
			width: 8px;
			height: 8px;
			top: 20px;
			transition: 0.25s;
		}
		&.flip {
			p {
				transform: rotate(180deg);
				top: 16px;
			}
		}
		@include mq(tablet) {
			width: auto;
		}
		h4 {
			margin-bottom: 0;
			vertical-align: bottom;
			color: #656565;
			font-weight: normal;
			@include font-size(size("sbase"), 1);
		}
		&-form-control-wrap {
			display: block;
			margin-bottom: 1px;
		}
		&-not-valid {
			.wpcf7-list-item-label {
				color: red;
				&::before {
					border-color: red;
				}
			}
		}
		.screen-reader-response {
			display: none !important;
		}
		&-not-valid-tip,
		&-validation-errors {
			color: red;
		}
		&-not-valid-tip,
		&-response-output {
			@include font-size(13px, 1.5);
		}
	}
}

.info-statement {
	position: relative;
	cursor: pointer;
	h4 {
		max-width: 100%;
		display: inline-block;
		padding-right: 24px;
	}
	&.flip {
		p {
			svg {
				transform: rotate(180deg);
			}
		}
	}
}

#contact-arrow {
	width: 8px;
	height: 6px;
}

.statement-copy {
	clear: both;
	background: white;
	padding: 12px;
	border-radius: 6px;
	display: none;
	h4 {
		margin-bottom: 12px;
	}
	p {
		color: grey;
		font-size: 12px;
		// font-style: italic;
		line-height: 1.7;
	}
}
.contact-help-tip {
	// color: #808080;
	// font-style: italic;
	display: block;
	a {
		color: #4c4c4c;
		transition: 0.25s;
		&:hover {
			color: #000000;
		}
	}
}

.wpcf7-mail-sent-ok {
	font-family: $secondary;
	width: 100%;
	display: inline-block;
}

.wpcf7-file {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
}

.wpcf7-select {
	background-image: url("../img/select-arrow-pink.png");
	background-repeat: no-repeat;
	background-position: center right 18px;
	background-size: 8px;
}

.wpcf7 {
	.o-btn--submit {
		width: 165px;
		height: 48px;
		padding: 0;
		position: relative;
		display: inline-block;
		font-size: inherit;
		.ajax-loader {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: -1;
			&.is-active {
				z-index: 2;
			}
		}
		input {
			width: 100%;
			height: 100%;
			color: #fff;
			font-family: $primary;
			font-weight: bold;
			text-transform: none;
			&:focus {
				outline: none;
			}
		}
	}
}

.upload-label {
	// height: 44px;
	// width: 211px;
	display: inline-block;
	background-color: color("internalbg");
	border-radius: 2px;
	background-image: url("../img/contact-file-upload.png");
	background-repeat: no-repeat;
	background-position: center right 18px;
	background-size: 10px;
	color: #666666;
	font-size: 16px;
	line-height: 15px;
	position: relative;
	@include mq(tablet) {
		margin-bottom: 48px;
	}
	#file-label {
		display: block;
		padding: 13px 12px;
		margin-right: 36px;
		font-weight: normal;
	}
}

.screen-reader-response,
.wpcf7-validation-errors {
	display: none !important;
}

.wpcf7-not-valid-tip {
	color: color("brand");
}
.wpcf7-response-output {
	clear: both;
	margin-top: 16px;
	display: block;
	font-size: 14px;
}
.name,
.email {
	.wpcf7-not-valid-tip {
		margin-top: 6px;
		display: inline-block;
	}
}
.reveal {
	display: block !important;
}
.ajax-loader {
	pointer-events: none;
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: color("brand");
	border-radius: 6px;
	&:after {
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		display: block;
		width: 24px;
		height: 24px;
		background-image: url("../img/icon-submit-loader.png");
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	&.is-active {
		display: inline-block;
		opacity: 1;
		&:after {
			animation: spinLoader 1.5s infinite;
		}
	}
}

@keyframes spinLoader {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
