h1,
h2,
h3,
h4,
h5 {
	font-family: $primary;
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
}
h1 {
	margin-bottom: 24px;
	@include font-size(size("xml"), 1);
	@include mq(tablet) {
		@include font-size(size("xxxl"), 1.1);
	}
	@include mq(tabletWide) {
		@include font-size(size("h"), 1.1);
	}
}

h2 {
	@include font-size(size("xl"), 1);
	margin-bottom: 24px;
	@include mq(tablet) {
		margin-bottom: spacer(0.5, size("xml"));
		@include font-size(size("xml"), 1.3);
	}
	&.h2--alt {
		@include font-size(size("xml"), 1);
		@include mq(tablet) {
			@include font-size(size("xxxl"), 1.1);
		}
		@include mq(tabletWide) {
			@include font-size(size("h"), 1.1);
		}
	}
}

h3 {
	margin-bottom: 24px;
	@include font-size(size("xxxb"), 1);
	@include mq(tablet) {
		margin-bottom: spacer(1, size("xl"));
		@include font-size(size("xl"), 1.3);
	}
}

.page-title {
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: 0;
}
