body {
	min-height: 100%;
	font-family: $secondary;
	@include font-size($base-font-size, 1.5);
	color: color("content");
	-webkit-font-smoothing: antialiased;
	background-color: rgba(229, 229, 229, 0.5);
	font-weight: 300;
	overflow: hidden;
}

// Use https://github.com/willmcpo/body-scroll-lock, it's already in the scripts
.scroll-lock {
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
}

.is-blured {
	pointer-events: none;
	filter: blur(2px);
}

.c-page-modified {
	border-top: 1px solid #d0d0d0;
	display: block;
	padding: 10px 0;
	@include mq(tablet) {
		padding-bottom: 60px;
	}
	span {
		color: #8a8a8a;
		font-style: italic;
	}
}

.c-default {
	&__content {
		margin-bottom: 50px;
		h2 {
			font-size: 32px;
		}
		h3 {
			font-size: 24px;
			line-height: 1.05;
			color: color("brand");
			margin-top: 36px;
		}
		h4,
		h5 {
			margin-bottom: 18px;
		}
		a {
			color: color("brand");
		}
		ul,
		ol {
			list-style-position: outside;
			li {
				left: 1.2em;
				width: 95%;
				position: relative;
				margin-bottom: 5px;
			}
		}
	}
}
