// Theme Check Required classes
.wp-caption {
}

.gallery-caption {
}

.clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.sticky {
}

.bypostauthor {
}

// Text meant only for screen readers.
.screen-reader-text {
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus {
	top: 5px;
	left: 5px;
	z-index: 100000; // Above WP toolbar.
	display: block;
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	border-radius: 3px;
	clip: auto !important;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: normal;
	color: #21759b;
	text-decoration: none;
	background-color: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}

.cover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.t {
	&-align {
		&-center {
			text-align: center;
		}

		&-left {
			text-align: left;
		}

		&-right {
			text-align: right;
		}
	}
}

ol {
	list-style-position: outside;
	padding-left: 18px;
}

.text-center {
	text-align: center;
}

.pb-1 {
	padding-bottom: 1rem;
}

.pb-2 {
	padding-bottom: 2rem;
}

.pb-3 {
	padding-bottom: 3rem;
}

.pb-4 {
	padding-bottom: 4rem;
}

.pb-5 {
	padding-bottom: 5rem;
}

.pt-1 {
	padding-top: 1rem;
}

.pt-2 {
	padding-top: 2rem;
}

.pt-3 {
	padding-top: 3rem;
}

.pt-4 {
	padding-top: 4rem;
}

.pt-5 {
	padding-top: 5rem;
}

.mb-1 {
	margin-bottom: 1rem;
}
.mb-2 {
	margin-bottom: 2rem;
}
.mb-3 {
	margin-bottom: 3rem;
}
.mt-1 {
	margin-top: 1rem;
}
.mt-2 {
	margin-top: 2rem;
}
.mt-3 {
	margin-top: 3rem;
}

.blue {
	color: color("blue");
}

.green {
	color: color("green");
}

.purple {
	color: color("purple");
}

article.page,
article.ra-service,
article.ra-news,
article.ra-vacancy,
article.ra-event {
	div.u-8\/10\@tabletWide {
		h3 {
			margin-bottom: 0.4em !important;
		}
	}
}

#wpadminbar {
	@media (max-width: 782px) {
		display: none;
	}
}
html,
* html body {
	@media screen and (max-width: 782px) {
		margin-top: 0 !important;
	}
}

/* page our community*/
article#post-92 {
	.c-content__content {
		padding-bottom: 0;
	}
	.content__content {
		.o-layout.o-layout--large3 {
			div.u-8\/10\@tabletWide {
				width: 100% !important;
				margin-bottom: 0;
			}
		}
	}
}
/*page careers volunteers*/
article#post-228 {
	.c-content__content {
		padding-bottom: 0;
	}
}
