<mjml>
  <mj-head>
    <mj-breakpoint width="800px" />
    <mj-style>
        @media all and (min-width: 800px) {
            .align div,
            .align td,
            .align table,
            .align * {
                text-align: left!important;
            }

            .align-right div {
                text-align: right!important;
            }
        }
        @media all and (max-width: 800px) {
            .mob-center div,
            .mob-center td,
            .mob-center table,
            .mob-center * {
                text-align: center!important;
            }
            .mob-center table {
                margin: 0 auto !important;
            }
        }

        @media screen and (max-width:800px){
            .mob-full {
                width: 100% !important;
            }
        }
    </mj-style>
    <mj-style inline="inline">
    .insta a {
        display: inline-block !important;
        font-size: 18px !important;
        text-decoration: none !important;
        font-weight: 800;
        color: #201847 !important;
        vertical-align: bottom !important;
    }
    .insta {
        display: inline-block !important;
        font-size: 18px !important;
        text-decoration: none !important;
        font-weight: 800;
        color: #201847 !important;
        vertical-align: bottom !important;
    }

    .footer-link {
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: block;
        opacity: .7;
        font-size: 14px;
        line-height: 20px;
        color: #f0f0f0;
    }
    .footer-heading {
        font-size: 20px;
        color: #FFF;
    }

    .spacer-12 {
        font-size: 12px;
        line-height: 12px;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .site-link {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        color: #201847;
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    </mj-style>
    <mj-attributes>
        <!-- if there is no right aligned text uncomment this to center all text on mobile -->
      <!-- <mj-text padding="0" css-class="align" align="center" /> -->
      <mj-text padding="0"  />

      <mj-class name="blue" color="blue" />
      <mj-class name="heading-1" font-size="26px" color="#201847" font-weight="800"/>
      <mj-class name="heading-2" font-size="19px" color="#f4bf48" font-weight="800"/>
      <mj-class name="heading-3" font-size="16px" color="#201847" font-weight="800"/>
      <mj-class name="button-blue" font-size="14px" background-color="#201847" color="#FFF" border-radius="0"/>
      <mj-class name="button-yellow" font-size="14px" background-color="#f4bf48" color="#FFF" border-radius="0"/>
      <mj-class name="button-blue-small" font-size="14px" padding-top="4px" padding-bottom="4px" inner-padding="4px 35px" background-color="#201847" color="#FFF" border-radius="0"/>
      <mj-class name="button-yellow-small" font-size="14px" inner-padding="4px 35px" background-color="#f4bf48" color="#FFF" border-radius="0"/>
      <mj-class name="content-large" font-size="14px" />
      <mj-all font-family="Verdana" font-size="14px" color="#6a6a6a" line-height="27px"/>
    </mj-attributes>
  </mj-head>
  <mj-body width="800px" background-color="#eaeaea">
    <mj-section background-color="#FFF" padding-right="77px" padding-left="77px">
        <mj-group>
            <mj-column>
               <mj-text mj-class="heading-1" css-class="align" align="center">LOGO</mj-text>
            </mj-column>
            <mj-column vertical-align="bottom">
                <mj-table width="135px" align="right" padding="0 0 18px 0">
                    <tr>
                        <td width="45px">
                            <a href="https://www.facebook.com/explorecareersaus">
                                <img align="right" width="12px" align="right" width="134px"  src="https://explorecareers.com.au/edm-assets/facebook.png" />
                            </a>
                        </td>
                        <td width="45px">
                            <a href="https://www.instagram.com/explore.careers/">
                                <img align="right" width="24px" align="right" width="134px"  src="https://explorecareers.com.au/edm-assets/instagram.png" />
                            </a>
                        </td>
                        <td width="45px">
                            <a href="https://www.facebook.com/explorecareersaus">
                                <img align="right" width="24px" align="right" width="134px"  src="https://explorecareers.com.au/edm-assets/linkedin.png" />
                            </a>
                        </td>
                    </tr>
                </mj-table>
            </mj-column>
        </mj-group>
    </mj-section>
    <mj-section padding="0">
        <mj-column>
            <cm-image padding="0" src="https://explorecareers.com.au/edm-assets/800x300.png">
        </mj-column>
    </mj-section>
    <cm-repeater>
      <cm-layout label="Heading 1">
        <mj-section background-color="#FFF" padding-left="48px" padding-right="48px">
          <mj-column>
            <mj-text mj-class="heading-1" css-class="align" align="center">
                <singleline>
                    Example Heading One
                </singleline>
            </mj-text>
          </mj-column>
        </mj-section>
      </cm-layout>
      <cm-layout label="Heading 2" >
        <mj-section background-color="#FFF" padding-left="48px" padding-right="48px">
          <mj-column>
            <mj-text mj-class="heading-2" css-class="align" align="center">
                <singleline>
                    Example Heading Two
                </singleline>
            </mj-text>
          </mj-column>
        </mj-section>
      </cm-layout>
      <cm-layout label="Heading 3">
        <mj-section background-color="#FFF" padding-left="48px" padding-right="48px">
          <mj-column>
            <mj-text mj-class="heading-3" css-class="align" align="center">
                <singleline>
                    Example Heading Three
                </singleline>
            </mj-text>
          </mj-column>
        </mj-section>
      </cm-layout>
      <cm-layout label="Content Large">
        <mj-section background-color="#FFF" padding-left="48px" padding-right="48px">
          <mj-column>
            <mj-text mj-class="content-large" css-class="align" align="center">
                <multiline>
                    Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                </multiline>
            </mj-text>
          </mj-column>
        </mj-section>
      </cm-layout>
      <cm-layout label="Content">
        <mj-section background-color="#FFF" padding-left="48px" padding-right="48px">
          <mj-column>
            <mj-text css-class="align" align="center">
                <multiline>
                    Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                </multiline>
            </mj-text>
          </mj-column>
        </mj-section>
      </cm-layout>
      <cm-layout label="spacer">
        <mj-section background-color="#FFF" padding-left="48px" padding-right="48px">
          <mj-column>
            <mj-text>
                <singleline>
                </singleline>
            </mj-text>
            <mj-spacer>
          </mj-column>
        </mj-section>
      </cm-layout>
      <cm-layout label="Line">
        <mj-section background-color="#FFF" padding-left="48px" padding-right="48px">
          <mj-column>
            <mj-text mj-class="heading-3">
                <singleline>
                </singleline>
                <hr/>
            </mj-text>
          </mj-column>
        </mj-section>
      </cm-layout>
      <cm-layout label="Full Image">
        <mj-section background-color="#FFF" padding-left="48px" padding-right="48px">
          <mj-column>
            <cm-image padding="0" src="https://explorecareers.com.au/edm-assets/700x290.png"/>
          </mj-column>
        </mj-section>
      </cm-layout>
      <cm-layout label="Two Column Content">
        <mj-section background-color="#FFF" padding-left="48px" padding-right="48px">
          <mj-column width="330px">
            <cm-image width="330px" fluid-on-mobile="true" padding="0" padding-bottom="10px" src="https://via.placeholder.com/330x206"/>
            <mj-text mj-class="heading-2" padding-bottom="10px" css-class="align" align="center">
                <singleline>
                    Example Heading Two
                </singleline>
            </mj-text>
            <mj-text css-class="align" padding-bottom="10px" align="center">
                <multiline>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum, justo et eleifend pulvinar, massa tortor dapibus felis, eget efficitur purus augue sed est. Curabitur viverra semper purus, nec molestie nunc fermentum efficitur.
                </multiline>
            </mj-text>
            <mj-button css-class="mob-center" padding="0" align="left" href="explore-careers" mj-class="button-yellow">
                VIEW ALL EMPLOYERS
            </mj-button>
          </mj-column>
          <mj-column width="38px">
          </mj-column>
          <mj-column width="330px">
            <cm-image  width="330px" fluid-on-mobile="true" width="330px" padding-bottom="10px" padding="0" src="https://explorecareers.com.au/edm-assets/330x206.png"/>
            <mj-text mj-class="heading-2" padding-bottom="10px" css-class="align" align="center">
                <singleline>
                    Example Heading Two
                </singleline>
            </mj-text>
            <mj-text css-class="align" align="center" padding-bottom="10px">
                <multiline>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum, justo et eleifend pulvinar, massa tortor dapibus felis, eget efficitur purus augue sed est. Curabitur viverra semper purus, nec molestie nunc fermentum efficitur.
                </multiline>
            </mj-text>
            <mj-button padding="0" align="left" css-class="mob-center" href="explore-careers" mj-class="button-blue">
                VIEW ALL EMPLOYERS
            </mj-button>
          </mj-column>
        </mj-section>
      </cm-layout>
      <cm-layout label="Image Left Content Right">
        <mj-section background-color="#FFF" padding-left="48px" padding-right="48px">
          <mj-column width="330px">
            <cm-image fluid-on-mobile="true" padding="0" src="https://explorecareers.com.au/edm-assets/330x206.png"/>
          </mj-column>
          <mj-column width="38px">
          </mj-column>

          <mj-column width="330px" vertical-align="middle">
            <mj-text mj-class="heading-3" padding-bottom="10px" css-class="align" align="center">
                <singleline>
                    Example Heading Three
                </singleline>
            </mj-text>
            <mj-text padding-bottom="10px" css-class="mob-center" css-class="align" align="left">
                <multiline>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum, justo et eleifend pulvinar, massa tortor dapibus felis, eget efficitur purus augue sed est. Curabitur viverra semper purus, nec molestie nunc fermentum efficitur.
                </multiline>
            </mj-text>
            <mj-button padding="20px 0 0" align="left" css-class="mob-center" href="explore-careers" mj-class="button-blue-small">
                LEARN MORE
            </mj-button>
          </mj-column>
        </mj-section>
      </cm-layout>
      <cm-layout label="Image right Content left">
        <mj-section background-color="#FFF" padding-left="48px" padding-right="48px">
          <mj-column width="330px" vertical-align="middle" >
            <mj-text align="right" padding-bottom="10px" mj-class="heading-3" css-class="align" align="center">
                <singleline>
                    Example Heading Three
                </singleline>
            </mj-text>
            <mj-text align="right" padding-bottom="10px" css-class="align" align="center">
                <multiline>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum, justo et eleifend pulvinar, massa tortor dapibus felis, eget efficitur purus augue sed est. Curabitur viverra semper purus, nec molestie nunc fermentum efficitur.
                </multiline>
            </mj-text>
            <mj-button align="left" padding="0" css-class="mob-center" href="explore-careers" mj-class="button-yellow-small">
                LEARN MORE
            </mj-button>
          </mj-column>
          <mj-column width="38px">
          </mj-column>
          <mj-column width="330px">
            <cm-image fluid-on-mobile="true" padding="0" src="https://explorecareers.com.au/edm-assets/330x206.png"/>
          </mj-column>
        </mj-section>
      </cm-layout>
    </cm-repeater>
    <mj-section padding-right="50px" padding-left="50px" background-color="#211947" padding-bottom="40px">
        <mj-column>
            <mj-table padding="0">
                <tr>
                    <td>
                        <h3 class="footer-heading">Contact us</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="footer-link" href="mailto:hello@explorecareers.com.au" title="Explore Careers Email Address" >hello@explorecareers.com.au</a>
                        <p class="spacer-12">
                            &nbsp;
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="footer-link" href="tel:+61 3 8630 3277" title="Explore Careers Phone Number" >+61 3 8630 3277</a>
                        <p class="spacer-12">
                            &nbsp;
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="footer-link" href="https://www.google.com/maps?q=Level 10, 611 Flinders Street, Docklands, Victoria, Australia" target="_blank" >Level 10, 611 Flinders Street,<br> Docklands, Victoria, Australia</a>
                    </td>
                </tr>
            </mj-table>
        </mj-column>
        <mj-column>
            <mj-table align="right" padding="0" padding-top="30px">
                <tr>
                    <td align="right">
                        <a href="https://www.explorecareers.com.au/">
                            <img width="182px" src="https://explorecareers.com.au/edm-assets/logo-white.png" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="right" border="0" cellpadding="12" width="145">
                            <tr>
                                <td align="right" class="mob-center" width="24">
                                    <p>
                                        <a class="td-none inline-block facebook" href="https://www.facebook.com/explorecareersaus" ><img alt="Like us on Facebook" class="b-0" height="24" src="https://explorecareers.com.au/edm-assets/facebook-white.png" width="12"/></a>
                                    </p>
                                </td>
                                <td align="right" class="mob-center" width="24" >
                                    <p>
                                        <a class="td-none inline-block instagram" href="https://www.instagram.com/explore.careers/"><img alt="Follow us on Instagram" class="b-0" height="24" src="https://explorecareers.com.au/edm-assets/instagram-white.png" width="24" /></a>
                                    </p>
                                </td>
                                <td align="right" class="mob-center" width="24">
                                    <p>
                                        <a class="td-none inline-block linkedin" href="https://www.linkedin.com/company/explorecareers/"><img alt="Follow us on Instagram" class="b-0" height="24" src="https://explorecareers.com.au/edm-assets/linkedin-white.png" width="24"  /></a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </mj-table>
        </mj-column>
    </mj-section>
    <mj-section>
        <mj-column>
            <cm-unsubscribe>
            </cm-unsubscribe>
        </mj-column>
    </mj-section>
  </mj-body>
</mjml>
