// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

$brand: #00515e;
$secondary: #f2f3ea;
$hover: #f7a120;

$theme-colors: (
	"brand": $brand,
	"dark-teal": #20545c,
	"very-light-yellow": #f4f4ec,
	"link": "",
	"link-hover": $hover,
	"content": $secondary,
	"white": #fff,
	"black": #000,
	"red": #e36565,
	"grey":
		rgba(
			$color: #000000,
			$alpha: 0.6
		),
	"dark-grey": #9a9a9a
);

// helper variables
$font-color: map-get($theme-colors, "brand");
$loud-color: map-get($theme-colors, "brand");
