@font-face {
	font-family: "Wilma Base";
	font-style: normal;
	src: url("../fonts/Wilma-Base.otf") format("openType"),
		url('("../fonts/type--tones_-_wilma-base-webfont.woff2') format("woff2"),
		url('("../fonts/type--tones_-_wilma-base-webfont.woff') format("woff");
}

@font-face {
	font-family: "Modern Era Mono";
	font-style: normal;
	src: url("../fonts/ModernEraMono-Regular.otf") format("openType"),
		url('("../fonts/moderneramono-regular-webfont.woff2') format("woff2"),
		url('("../fonts/moderneramono-regular-webfont.woff') format("woff");
}

$primary: "Wilma Base", sans-serif;
$copy: "Modern Era Mono", sans-serif;
