h1 {
	margin-bottom: spacer(0.5, size("xxl"));
	font-weight: normal;
	@include font-size(80px, 85px);
	text-shadow: 0px 3px 25px #00000055;
	color: #FFFFFF;
	font-family: $heading;
	text-transform: uppercase;
	color: color('white');
	
	@include mq($until: tablet) {
		@include font-size(40px, 35px);
	}
}

h2 {
	font-family: $heading;
	margin-bottom: spacer(0.5, size("xl"));
	font-weight: normal;
	@include font-size(50px, 60px);
	color: color('secondary');

	@include mq($until: tablet) {
		@include font-size(35px, 41px);
	}
}

h3 {
	font-family: $heading;
	margin-bottom: spacer(1, size("l"));
	font-weight: normal;
	color: color('secondary');
	@include font-size(38px, 45px);
	@include mq($until: tablet) {
		@include font-size(26px, 30px);
	}
}

h4 {
	color: color('brand');
	font-family: $heading;
	margin-bottom: spacer(1, size("l"));
	font-weight: normal;
	@include font-size(22px, 26px);
	@include mq($until: tablet) {
		@include font-size(20px, 24px);
	}
}
