body {
	min-height: 100%;
	font-family: $primary;
	@include font-size($base-font-size);
	color: #101338CB;
	-webkit-font-smoothing: antialiased;
}

html {
	scroll-behavior: smooth;
}

// Use https://github.com/willmcpo/body-scroll-lock, it's already in the scripts
.scroll-lock {
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
}

.is-blured {
	pointer-events: none;
	filter: blur(3px);
}
