// BUTTON CSS //

.o-btn {
	transition: 0.5s;
	font-family: $primary;
	padding: 16px 24px;
	border-radius: 8px;
	background-color: color("brand");
	color: #fff;
	@include font-size(size("base"), 1.04);
	font-weight: 300;
	display: inline-block;
	text-align: center;
	&:hover {
		opacity: 1;
		transform: scale(1.02);
		box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
	}
	&--pink {
		background-color: color("pink");
		font-weight: 500;
		color: #fff;
	}
	&--yellow {
		background-color: color("yellow");
		color: color("content");
	}
	&--nav {
		padding: 10px 15px 8px;
		text-decoration: none;
		color: color("content");
		border-radius: 3px;
		text-transform: uppercase;
		@include font-size(size("base"), 1);
	}
	&--submit {
		padding: 13px 24px 9px;
		input {
			// text-transform: uppercase;
		}
	}
	&--round {
		border-radius: 28px;
		border: 2px solid color("brand");
		border-radius: 28px;
		color: #fff;
		text-decoration: none;
	}
	&--round-outline {
		border-radius: 28px;
		background-color: transparent;
		color: color("brand");
		border: 2px solid color("brand");
		border-radius: 28px;
		text-decoration: none;
	}
	&--join {
		// text-transform: uppercase;
		text-decoration: none;
		display: block;
		text-align: center;
		line-height: 1.04;
		font-size: 18px;
		padding: 18px 12px;
		@include mq(tablet) {
			padding: 26px 12px;
			font-size: 24px;
		}
	}
	&--blue {
		padding: 16px 24px;
		background-color: color("blue");
		font-weight: 500;
		color: color("black");
	}
}
