.o-wrapper {
	@include inuit-clearfix();
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 $spacing-unit;
	width: 100%;
	@include mq(desktop) {
		padding: 0 $spacing-unit--large;
	}
	&--1025 {
		max-width: 1025px;
	}
	&--950 {
		max-width: 950px;
	}
}
