.o-btn {
	&--blue {
		position: relative;
		display: inline-block;
		border: 1px solid;
		outline: 0;
		border-radius: 2px;
		background-color: color("blue");
		color: #fff;
		text-transform: uppercase;
		font-weight: 500;
		padding: 20px 60px 19px;
		font-size: 16px;
		line-height: 1.2;
		transition: 0.3s;
		cursor: pointer;
		&:hover {
			background-color: transparent;
			color: color("blue");
		}
	}
	&--navy {
		position: relative;
		display: inline-block;
		border: 1px solid;
		outline: 0;
		border-radius: 2px;
		background-color: color("brand");
		color: #fff;
		text-transform: uppercase;
		font-weight: 500;
		padding: 20px 60px 19px;
		font-size: 16px;
		line-height: 1.2;
		transition: 0.3s;
		cursor: pointer;
		&:hover {
			background-color: transparent;
			color: color("brand");
		}
	}
	&--link {
		padding: 6px;
		background: transparent;
		color: color("blue");
		font-size: 18px;
		line-height: 1.25;
		font-weight: 500;
		transition: 0.25s;
		display: inline-block;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 50%;
			height: 2px;
			background-color: color("blue");
			transition: width 0.3s;
		}
		&:hover {
			&:after {
				width: 85%;
			}
		}
	}
	&--filter {
		padding: 8px 30px;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.2;
		border: 1px solid color("blue");
		color: color("blue");
		border-radius: 22px;
		transition: 0.3s;
		position: relative;
		display: inline-block;
		&:hover,
		&.active {
			color: #fff;
			background-color: color("blue");
		}
	}
}
