.o-main,
.o-side {
	// @include mq(lap) {
	//   float: left;
	// }
}

.o-layout {
	> .o-layout__item {
		margin-bottom: 24px;
	}
	&--large {
		margin-left: -20px;
		> .o-layout__item {
			margin-bottom: 20px;
			padding-left: 20px;
		}
		@include mq(tablet) {
			margin-left: -40px;
			> .o-layout__item {
				margin-bottom: 40px;
				padding-left: 40px;
			}
		}
	}
	&--large2 {
		margin-left: -48px;
		> .o-layout__item {
			margin-bottom: 48px;
			padding-left: 48px;
		}
	}
	&--large3 {
		margin-left: -52px;
		> .o-layout__item {
			margin-bottom: 52px;
			padding-left: 52px;
		}
	}
	&--flush {
		> .o-layout__item {
			margin-bottom: 0;
		}
	}
}
