.o-wrapper {
	@include inuit-clearfix();
	margin: 0 auto;
	padding: 0 $spacing-unit;
	// max-width: 1328px;
	max-width: calc(85% + 48px);
	@include mq(desktop) {
		max-width: 1376px;
	}
	@include mq(laptop) {
		padding: 0 $spacing-unit--large;
	}

	&--1100 {
		@include mq(laptop) {
			max-width: 1100px;
		}
	}
}
