.animate {
	// opacity: 0;
	// animation-delay: 0.2s;
	&:nth-child(3n + 1) {
		// animation-delay: 0.2s;
	}
	&:nth-child(3n + 2) {
		// animation-delay: 0.2s;
	}
	&:nth-child(3n + 3) {
		// animation-delay: 0.4s;
	}
}
.animated {
	opacity: 1;
	animation: fadeInUp 0.75s;
	animation-fill-mode: both;
}
.imganimate {
	opacity: 1;
	animation: imganimate 1.75s;
	animation-fill-mode: both;
}

.pre-animate {
	opacity: 0;
}

.visible {
	opacity: 1 !important;
}

.animate-delay {
	&-0 {
		animation-delay: 0s;
	}

	&-1 {
		animation-delay: 0.2s;
	}

	&-2 {
		animation-delay: 0.4s;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 30px, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes imganimate {
	0% {
		opacity: 0;
		transform: scale(1.1) translate3d(-10px, 0, 0);
	}
	100% {
		opacity: 1;
		transform: scale(1) translate3d(0, 0, 0);
	}
}
