.accordion {
  .icon {
    transition: transform .3s ease;
  }
  [data-accordion-title] {
    // p {
    //   transition: all .3s ease;
    // }
    .icon {
      display: flex;

      &.open {
        display: none;
      }
    }
  }
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
  }

  &.open {
    .icon {
      display: none;

      &.open {
        display: flex;
      }
    }
  }
}
@media (max-width: 1023px) {
  .lg-accordion {
    .icon {
      transition: transform .3s ease;
    }
    [data-accordion-title] {
      // p {
      //   transition: all .3s ease;
      // }
      .icon {
        display: flex;

        &.open {
          display: none;
        }
      }
    }
    .content {
      max-height: 0;
      overflow: hidden;
      transition: max-height .2s ease-out;
    }

    &.open {
      .icon {
        display: none;

        &.open {
          display: flex;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .tablet-accordion {
    .icon {
      transition: transform .3s ease;
    }
    [data-accordion-title] {
      // p {
      //   transition: all .3s ease;
      // }
      .icon {
        display: flex;

        &.open {
          display: none;
        }
      }
    }
    .content {
      max-height: 0;
      overflow: hidden;
      transition: max-height .2s ease-out;
    }

    &.open {
      .icon {
        display: none;

        &.open {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .mobile-accordion {
    .icon {
      transition: transform .3s ease;
    }
    [data-accordion-title] {
      // p {
      //   transition: all .3s ease;
      // }
      .icon {
        display: flex;

        &.open {
          display: none;
        }
      }
    }
    .content {
      max-height: 0;
      overflow: hidden;
      transition: max-height .2s ease-out;
    }

    &.open {
      .icon {
        display: none;

        &.open {
          display: flex;
        }
      }
    }
  }
}
