.mini-cart {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;

    > div {
      &:first-child {
        max-width: 475px;
      }
    }
    .icon-close {
        .icon {
            width: 16px;
            height: 16px;
        }
    }
    .icon-plus ,
    .icon-minus {
        .icon {
            width: 11px;
            height: 11px;
        }
    }

    .icon-right {
        .icon {
            width: 11px;
            height: 11px;
        }
    }

    &.active {
      opacity: 1;
      visibility: visible;
    }
    [data-cart-view] {
      overflow: auto;
      max-height: 400px;

    }

    > div {
      filter: drop-shadow(0px 4px 10px rgba(96, 96, 96, 0.1));
    }
}
.triangle-top {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 20px 14px;
    top: -16px;
    right: 10px;
    border-color: transparent transparent #FFFFFF transparent !important;

    @media (max-width: 640px) {
      top: -12px;
    }
}

#productsRecommended {
  > div {
    width: 1000px;
  }
}
