.product-block {
  .image {
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    transition: all .2s;
    > div:not(.product-form) {
      padding-top: 83%;
    }

    img {
      border-radius: 2px;
      transition: all .2s;
    }
  }

  .hover-image {
    opacity: 0;
    transition: all .2s;
  }

  #gsAppContainer {
    display: none !important;
  }

  &:hover {
    .image {
      box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    }

    .hover-image {
      opacity: 1;
    }
  }

  .product-form {
    opacity: 0;
    //transform: translateY(100%);
    transition: all .3s;
  }

  &:hover {
    .product-form {
      opacity: 1;
      //transform: translateY(0);
    }
  }
}
