/* Position and sizing of burger button */
.bm-burger-button {
	position: relative;
	width: 24px;
	height: 17px;
	&.is-active {
		display: none;
	}
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #fff;
	border-radius: 5px;
	height: 2px !important;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	width: 16px !important;
	height: 16px !important;
	top: 36px !important;
	right: 33px !important;

	@include mq($until: tablet) {
		top: 24px !important;
	}
}

/* Color/shape of close button cross */
// .bm-cross {
// }

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	top: 0;
	position: fixed;
	height: 100%;
}

/* General sidebar styles */
.bm-menu {
	background: #fff;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #fff;
}

/* Wrapper for item list */
.bm-item-list {
	color: #b8b7ad;
}

/* Individual item */
.bm-item {
	display: inline-block;
	height: 100%;
}

/* Styling of overlay */
.bm-overlay {
	background: transparent !important;
}
