body {
	min-height: 100%;
	font-family: $primary;
	@include font-size($base-font-size);
	color: #101338cb;
	-webkit-font-smoothing: antialiased;
}

html {
	scroll-behavior: smooth;
}
html,
body {
	&.is-fixed {
		height: 100%;
		overflow: hidden;
	}
	&.no-overflow {
		overflow: hidden;
	}
}
// Use https://github.com/willmcpo/body-scroll-lock, it's already in the scripts
.scroll-lock {
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
}

.is-blured {
	pointer-events: none;
	filter: blur(3px);
}

[data-aos="fade-animate"] {
	opacity: 1;
	transform: translate3d(0, 55%, 0);
}

[data-aos="fade-animate"].aos-animate {
	opacity: 0;
	transform: translate3d(0, 0%, 0);
}

[data-aos="blur"] {
	filter: blur(3px);
}

[data-aos="blur"].aos-animate {
	filter: blur(0px);
}
