
@font-face {
  font-family: 'FiraSans-Light';
  src: url('FiraSans-Light.eot?#iefix') format('embedded-opentype'),
      url('FiraSans-Light.otf')  format('opentype'),
      url('FiraSans-Light.woff') format('woff'),
      url('FiraSans-Light.ttf')  format('truetype'),
      url('FiraSans-Light.svg#FiraSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
