form {
  margin: 0;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

input,
textarea,
select {
  //font-size: 1.6rem;
  //max-width: 100%;
  //border-radius: 0;

  &[disabled] {
    cursor: default;
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
      color: #000000;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #000000;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #000000;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #000000;
  }
  ::placeholder { /* Recent browsers */
      color: #000000;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
input[type="text"] ,
input[type="email"] {
  // -webkit-appearance: none;
  // -moz-appearance: textfield;
  // border: none;
  // background: rgba(129, 129, 129, 0.2);
  // border-radius: 4px;
  // height: 50px;
  // line-height: 50px;
  // color: rgba(#333333,0.8);
  // font-size: 14px;
  // padding: 0 19px;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border: none;
  background: transparent;
  min-height: 100px;
  line-height: 18px;
  padding: 14px;
  color: #000000;
  border: 1px solid rgba(#000000,0.5);
  border-radius: 2px;
}

button,
input[type='submit'],
label[for] {
  cursor: pointer;
}
select {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
select::-ms-expand {
  display: none;
}
.div.form_submit_div button{
  padding-bottom: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   -webkit-box-shadow: 0 0 0 30px transparent inset !important;
  background-color: transparent !important;
}

// @font-face{font-family:'baskerville';src:url("//cdn.shopify.com/s/files/1/0483/0013/0469/t/3/assets/baskerville.woff2?v=4946961335481450224") format("woff2"),url("//cdn.shopify.com/s/files/1/0483/0013/0469/t/3/assets/baskerville.woff?v=16715548316134777835") format("woff");font-weight:normal;font-style:normal}@font-face{font-family:'condensed';src:url("//cdn.shopify.com/s/files/1/0483/0013/0469/t/3/assets/condensed-bold.woff2?v=16186629860669820250") format("woff2"),url("//cdn.shopify.com/s/files/1/0483/0013/0469/t/3/assets/condensed-bold.woff?2165") format("woff");font-weight:bold;font-style:normal}
// body {  -webkit-font-smoothing: antialiased;
//   text-size-adjust: 100%;}
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   -webkit-text-fill-color: #ffffff;
//   -webkit-box-shadow: 0 0 0px 1000px #191818 inset;
//   transition: background-color 5000s ease-in-out 0s;
// }
// .form-control {background: transparent; font-family: 'baskerville', "Helvetica Neue", Arial; height: 40px; font-size: 14px; letter-spacing: 0.1em; color: #ffffff; border:none; padding:0; border-bottom: 1px solid rgba(256,256,256,0.5);}
// input::-webkit-input-placeholder {color: #ffffff; opacity: 0.6;}
// input::-moz-placeholder {color: #ffffff; opacity: 0.6;}
// input::-moz-placeholder {color: #ffffff; opacity: 0.6;}
// input::-ms-input-placeholder {color: #ffffff; opacity: 0.6;}
// input::placeholder {color: #ffffff; opacity: 0.6;}
// div.form_submit_div button { font-family: 'condensed', "Helvetica Neue", Arial; font-size: 14px; text-transform: uppercase; letter-spacing: 0.1em; color: #ffffff; border: 1px solid #FFFFFF;}
// .form_container .form-group.col-sm-6 {width: 50% !important;}
