.seprator {
  height: 0.5px;
  transition: width .3s;
}
.bg-dark {
  background: linear-gradient(156.02deg, #242123 -3.56%, #050505 69.57%);
}
.link {
  cursor: pointer;
  span {
    transition: all .2s;
  }
  &:hover {
    // .seprator {
    //   width: 34px;
    // }
    .text {
        margin-left: 5px;
    }
  }
}
.transition-fast {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.border-link {
  position: relative;
  padding-bottom: 1px;
  border: none;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 1px;
    left: 0;
    margin: 0;
    bottom: 0;
    opacity: 0;
    background-color: #000000;
  }

  &.text-white {
    &:before,
    &:after {
      background-color: #ffffff;
    }
  }
  &:before {
    width: 0;
    opacity: 1;
  }
  &:hover {
    border: none;
    &:before {
      width: 0;
      opacity: 0;
    }
    &:after {
      transition: all 0.15s ease-in-out;
      transition-duration: 0.3s;
      width: 100%;
      opacity: 1;
    }
  }
}

.hover-image {
  &+ img ,
  &+ div img {
    transition: all .6s;
  }
  &:hover {
    &+ img ,
    &+ div img {
      transform: scale(1.05);
    }
  }
}

#popupBanner {
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  transition-duration: 1s;


  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.collection-build-table {
  .rte {
    > div {
      display: flex;
      p {
        flex: 1;
        width: 50%;
        padding-top: 0;
        line-height: 3;
        letter-spacing: 0.1em;
        &:last-child {
          text-align: right;
        }
        &:first-child {
          text-align: left;
        }
      }
    }
  }
}

// .featured-collection {
//   @media (max-width: 640px) {
//     .bg-black {
//       background: linear-gradient(169.41deg, #302B2E -4.33%, #181517 107.67%);
//     }
//   }
// }

// .gm-style {
//   img {
//     z-index: 9;
//   }
//   > div {
//     > div {
//       z-index: 4;
//       border: 1px solid red;
//     }
//     &:first-child {
//         &:after {
//           content: '';
//           position: absolute;
//           top: 0;
//           left: 0;
//           right: 0;
//           bottom: 0;
//           width: 100%;
//           filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.12));
//           border: 1px solid red;
//           background: linear-gradient(204.35deg, rgba(0, 0, 0, 0) 21.82%, rgba(0, 0, 0, 0.75) 100%);
//           z-index: 1;
//         }
//     }
//   }
// }

// #map {
//   position: relative;
//   &:after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     width: 100%;
//     filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.12));
//   }
// }
[data-slick="thumbnail"] {
  .slick-list {
    overflow: visible;
  }
  .slick-slide {
    .slide {
      width: auto !important;
      filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.12));
      transition: all .2s;
      border-radius: 2px;
      opacity: 0.4;
      cursor: pointer;
    }
    &.slick-current ,
    &:hover {
      .slide {
        opacity: 1;
      }
    }
  }

  .slide-thumb {
    img {
      display: none !important;
    }
  }

  .slick-track {
    transform: translate3d(0,0,0) !important;
    width: auto !important;
    display: flex;
    justify-content: center;


  }
  @media (max-width: 640px) {
    .slick-track {
      //flex-wrap: wrap;
    }
    .slick-list {
      padding: 0 !important;
    }
    .slide-thumb {
      img {
        display: block !important;
      }
    }
  }
}

[data-slick="product"] {
  .slick-slide {
    > div {
      display: flex;
    }
  }
  .slick-arrow {
    top: 0;
  }
}


#collections{
  background-color: #F5F5F5;
  .background-dark {
    background:  linear-gradient(180deg, #191818 0%, #000000 100%);
    height: calc(100% + 210px);
  }
}


body.template-product {
  .background-dark {
    background: linear-gradient(180deg, #191818 0%, #000000 100%);
    height: calc(100% + 210px);
  }

  &.acc-open {
    .float-height {
      height: 1200px;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }
  textarea {
    resize: none;
  }

  .rte {
    ul {
      li {
        margin-left: -15px;
        margin-bottom: 5px;
        line-height: 20px;
      }
    }

    @media (max-width: 640px) {
      ul {
        li {
          margin-left: 0;
        }
      }
    }
  }
}
