html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  outline: none !important;
  * {
    &:focus {
      outline: none !important;
    }
  }
}
body {
  opacity: 0;
  transition: opacity .4s ease;

  .wave-animation {
    opacity: 0;
    transition: opacity .4s ease;
  }


  &.loaded {
    opacity: 1;
    .wave-animation {
      opacity: 1;
    }
  }
}

main {
    //overflow: hidden !important;
    @media (max-width: 640px) {
      overflow: hidden !important;
    }
}
body {
  &.template-index {
    &:before {
      // content: '';
      // position: absolute;
      // top: 0;
      // left: 0;
      // right: 0;
      // height: 800px;
      // background-color: #000000;
      //background: linear-gradient(156.02deg, #242123 -3.56%, #050505 69.57%);
    }

    &:after {
      // content: '';
      // position: absolute;
      // top: 0;
      // left: 0;
      // right: 0;
      // height: 800px;
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
    }
  }

  &.template-collection {
    background-color: #EBEBEB;
  }
}
.overlay_min_cart_fix{
  padding-right: 1em;
}