body {
  // font-family: $font-body;
  // font-weight: $font-body-weight;
  // font-style: $font-body-style;
  // font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //font-family: $font-heading;
  margin: 0;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

.rte {
  font-family: "baskerville", '"Helvetica Neue"', "Arial";
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.1em;
  
  p {
    font-family: "baskerville", '"Helvetica Neue"', "Arial";
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.05em;

    &:not(:first-child) {
      padding-top: 20px;
    }
  }

  h4 {
    font-family: "condensed", '"Helvetica Neue"', "Arial";
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
  }

  ul {
    list-style: disc;
    margin-left: 17px;
    li {
        font-family: "baskerville", '"Helvetica Neue"', "Arial";
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
    }
  }

  &.large {
    p {
      font-size: 22px;
      line-height: 28px;
      &:not(:first-child) {
        padding-top: 24px;
      }
    }
  }
}
