select,
textarea,
input {
	outline: none;
}
select,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"] {
	display: block;
	width: 100%;
	padding: 7px 18px 8px;
	background: #ffffff;
	border: 2px solid transparent;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 200px;
	appearance: none;
	@include font-size(18px, 1);
	font-family: $primary;
	color: color("content");
	&::-webkit-input-placeholder {
		color: tint(color("content"), 40%);
	}
	&::-moz-placeholder {
		color: tint(color("content"), 40%);
	}
	&::-ms-input-placeholder {
		color: tint(color("content"), 40%);
	}
	&::-moz-placeholder {
		color: tint(color("content"), 40%);
	}
	&::placeholder {
		color: tint(color("content"), 40%);
	}
	&:focus {
		border-color: color("light-green");
	}
}

textarea {
	padding-top: 15px;
	height: 200px;
	resize: none;
	border-radius: 10px;
}
select {
	padding-right: 50px;
	background-image: url("../img/select-arrow.png");
	background-size: 15px 14px;
	background-position: calc(100% - 20px) 45%;
	background-repeat: no-repeat;
	line-height: 1.4;
	// color: tint(color("content"), 40%);
}

.checkbox-wrap,
.radio-wrap {
	position: relative;
	display: inline-block;
	font-size: 0;
	input[type="checkbox"],
	input[type="radio"] {
		appearance: none;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		& + span {
			display: inline-block;
			width: 20px;
			height: 20px;
			background-image: url("../img/radio-unchecked.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}
		&:checked + span {
			background-image: url("../img/radio-checked.png");
		}
	}
}
.checkbox-wrap {
	input[type="checkbox"] {
		& + span {
			background-image: url("../img/checkbox-unchecked.png");
		}
		&:checked + span {
			background-image: url("../img/checkbox-checked.png");
		}
	}
}

input[type="submit"] {
	font-family: inherit;
	cursor: pointer;
	@extend .o-btn;
}
button {
	&:focus {
		outline: none;
	}
}
// CONTACT FORM 7 SPECIFIC STYLES
.wpcf7 {
	@extend .clearfix;
	&-form-control-wrap {
		display: block;
		margin-bottom: 1px;
	}
	&-not-valid {
		.wpcf7-list-item-label {
			color: red;
			&::before {
				border-color: red;
			}
		}
	}
	.screen-reader-response {
		display: none !important;
	}
	&-not-valid-tip,
	&-validation-errors {
		color: red;
	}
	&-not-valid-tip,
	&-response-output {
		@include font-size(16px, 1.35);
		@include mq(tablet) {
			position: absolute;
		}
	}
	&-response-output {
		margin-top: 14px;
		@include mq($until: tablet) {
			text-align: center;
		}
	}
	.wpcf7-form.invalid {
		.wpcf7-response-output {
			color: red;
		}
	}
	.input-wraps {
		font-size: 0;
	}
}
.input-wrap {
	position: relative;
	display: inline-block;
	width: 100%;
	font-size: $base-font-size;
	vertical-align: top;
	margin-bottom: 30px;
	&.half {
		@include mq(tablet) {
			width: 50%;
		}
	}
	&.left {
		@include mq(tablet) {
			padding-right: 12px;
		}
	}
	&.right {
		@include mq(tablet) {
			padding-left: 12px;
		}
	}

	select,
	textarea,
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"] {
		&.wpcf7-not-valid {
			border-color: rgba(red, 0.4);
		}
	}
	span.label {
		position: absolute;
		top: 10px;
		left: 10px;
		display: block;
		@include font-size(14px, 1.4);
		opacity: 0.65;
	}
	.wpcf7-not-valid-tip {
		display: none !important;
	}
}
.submit-wrap {
	text-align: center;
	@include mq(tablet) {
		padding-top: 5px;
		text-align: right;
		float: right;
	}
	.submit {
		margin-left: 24px;
		position: relative;
		display: inline-block;
	}
}

.ajax-loader {
	pointer-events: none;
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
	border-radius: 25px;
	background: color("brand");
	&:after {
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		display: block;
		width: 24px;
		height: 24px;
		background-image: url("../img/icon-submit-loader.png");
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	&.is-active {
		display: inline-block;
		opacity: 1;
		&:after {
			animation: spinLoader 1s infinite;
		}
	}
}

@keyframes spinLoader {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
