h1,
h2,
h3,
h4 {
	font-family: $heading;
	font-weight: 700;
	color: $brand;
}
h1,
.h1-alt {
	margin-bottom: 20px;
	margin-top: 0;
	@include font-size(46px, 1);
	@include mq(tablet) {
		@include font-size(58px, 1.2);
	}
}

h2 {
	margin-bottom: 20px;
	@include font-size(42px, 1.2);
}

h3 {
	margin-bottom: 20px;
	@include font-size(36px, 1.2);
}

h4 {
	margin-bottom: 20px;
	@include font-size(22px, 1.2);
}

.page-title {
	font-family: $page-heading;
}
