ul,
ol,
dl {
	margin-left: 0;
	list-style-position: inside;
}
.c-cms-content li {
	@extend %li_markers;
}

ol {
	counter-reset: ol-counter;
}

%li_markers {
	list-style-position: outside;
	padding-bottom: 4px;
	padding-left: 6px;
	margin-left: 24px;
}

%ul_marker_custom,
%ol_marker_custom {
	position: relative;
	padding-left: 20px;
	list-style: none;
	&:after {
		position: absolute;
		left: 0;
		display: block;
	}
}

%ul_marker_custom {
	&:after {
		content: " ";
		top: 12px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: tint(color("content"), 40%);
	}
}

%ol_marker_custom {
	margin-bottom: 6px;
	padding-left: 30px;
	&:after {
		content: counter(ol-counter) ".";
		top: 0;
		width: 20px;
		text-align: right;
		counter-increment: ol-counter;
	}
}
