body {
	min-height: 100%;
	font-family: $primary;
	@include font-size($base-font-size);
	line-height: 1.6;
	color: color("content");
	overflow-x: hidden;
	background: url("../img/bg-texture-wood.jpg");
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
}

// Use https://github.com/willmcpo/body-scroll-lock, it's already in the scripts
.scroll-lock {
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
}

.is-blured {
	pointer-events: none;
	filter: blur(3px);
}

.c-default {
	.c-cms-content {
		margin-bottom: 80px;
	}
}
