.o-btn {
	padding: 17px 25px 14px;
	transition: 0.3s;
	@include font-size(size("bs"), 1);
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	font-weight: normal;
	border-radius: 4px;
	border: 2px solid color("green");
	color: color("green");
	background-color: transparent;
	position: relative;
	padding-right: 48px;
	svg {
		width: 12px;
		height: 12px;
		margin-left: 12px;
		transition: transform 0.2s;
		position: absolute;
		right: 24px;
		top: 50%;
		transform: translateY(-50%);
	}
	&:hover {
		background-color: color("green");
		color: #fff;
		svg {
			transform: translate(1px, -50%);
		}
	}

	&--alt {
		border: 2px solid color("white");
		color: color("white");
		&:hover {
			background-color: color("white");
			color: color("green");
		}
	}

	&__extend {
		&.down-arrow {
			&:hover svg,
			svg {
				transform: rotate(135deg);
				margin-left: 10px;
				transition: all 0.2s;
			}

			&.active svg,
			&.active:hover svg {
				transform: rotate(-45deg);
			}
		}
	}
	&--white {
		background-color: transparent;
		color: #fff;
		border: 2px solid color("white");
		&:hover {
			background-color: color("white");
			border: 2px solid transparent;
			color: color("green");
		}
	}
	&--green-home {
		background-color: color("green");
		border: 2px solid transparent;
		color: color("white");
		&:hover {
			background-color: transparent;
			color: #fff;
			border: 2px solid color("white");
		}
	}
	&--teal {
		background-color: color("green");
		border: 2px solid transparent;
		color: color("white");
		&:hover {
			background-color: transparent;
			color: color("green");
			border: 2px solid color("green");
		}
	}
	// &--red {
	// 	background-color: color("red");
	// 	color: #fff;
	// 	&:hover {
	// 		background-color: transparent;
	// 		border: 2px solid color("red");
	// 	}
	// }
	// &--green {
	// 	background-color: color("green");
	// 	color: #fff;
	// 	&:hover {
	// 		background-color: transparent;
	// 		border: 2px solid color("green");
	// 		// color: color("brand");
	// 	}
	// }
	// &--blue {
	// 	background-color: color("blue");
	// 	color: #fff;
	// 	&:hover {
	// 		background-color: transparent;
	// 		border: 2px solid color("blue");
	// 		color: color("brand");
	// 	}
	// }
	// &--outline {
	// 	background-color: transparent;
	// 	border: 2px solid color("blue");
	// 	border-radius: 4px;
	// 	&:hover {
	// 		background-color: color("blue");
	// 	}
	// }
}
