.o-main,
.o-side {
	// @include mq(lap) {
	//   float: left;
	// }
}

.o-layout {
	> .o-layout__item {
		margin-bottom: 24px;
	}
	&--large2 {
		margin-left: -48px;
		> .o-layout__item {
			margin-bottom: 48px;
			padding-left: 48px;
		}
	}
	&--large3 {
		margin-left: -52px;
		> .o-layout__item {
			margin-bottom: 52px;
			padding-left: 52px;
		}
	}
	&--flush {
		> .o-layout__item {
			margin-bottom: 0;
		}
	}
}
.o-order {
	@include mq(tablet) {
		&--tablet {
			display: flex;
		}
	}
	&__1\@tablet {
		@include mq(tablet) {
			order: 1;
		}
	}
	&__2\@tablet {
		@include mq(tablet) {
			order: 2;
		}
	}
	@include mq($until: tablet) {
		&--mob-only {
			display: flex;
			flex-direction: column;
		}
	}
	&__1\@mob-only {
		@include mq($until: tablet) {
			order: 1;
		}
	}
	&__2\@mob-only {
		@include mq($until: tablet) {
			order: 2;
		}
	}
}
