.o-wrapper {
	@include inuit-clearfix();
	max-width: $sitewidth;
	margin: 0 auto;
	padding: 0 $spacing-unit;
	@include mq(desktop) {
		padding: 0 $spacing-unit--large;
	}
	@include mq(tabletWide) {
		&--950 {
			max-width: 950px;
			margin: 0 auto;
		}
	}
	&--1200 {
		max-width: 1200px;
	}
	&--750 {
		max-width: 750px;
	}
	&--nopadmobile {
		@include mq($until: tablet) {
			padding: 0;
		}
	}
}
