.c-about {
	&__banner {
		background-size: cover;
		background-position: center;
		padding-bottom: 46.87%;
		width: 100%;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
	}
	&__intro {
		margin-bottom: 30px;
		@include mq(tablet) {
			margin-bottom: 60px;
		}
		&-heading {
			margin-bottom: 50px;
		}
		&-content {
			max-width: 680px;
			@include mq($until: tablet) {
				margin-bottom: 50px;
			}
			@include mq(tabletWide) {
				padding-left: 100px;
			}
			.intro-para {
				p {
					margin-bottom: 18px;
				}
				strong {
					font-weight: 300;
					color: color("blue");
				}
			}
		}
	}
	&__twoimgs {
		margin-bottom: 60px;
		@include mq(tablet) {
			margin-bottom: 60px;
		}
	}
	&__instagram {
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		&-heading {
			margin-bottom: 50px;
		}
		&-tiles {
			position: relative;
			#sb_instagram.sbi_col_4 #sbi_images .sbi_item {
				@include mq($until: tablet) {
					padding-left: 20px !important;
					padding-bottom: 20px !important;
					padding-right: 0 !important;
				}
				@include mq(tablet) {
					padding-bottom: 0px !important;
					padding-right: 40px !important;
				}
			}
			@include mq($until: tablet) {
				margin-left: -20px;
				#sb_instagram .sbi_type_carousel .sbi_playbtn,
				#sb_instagram .sbi_type_carousel .svg-inline--fa.fa-play,
				#sb_instagram .sbi_type_video .sbi_playbtn,
				#sb_instagram .sbi_type_video .svg-inline--fa.fa-play,
				.sbi_type_carousel .fa-clone,
				.sbi_type_video .svg-inline--fa.fa-play,
				.sbi_playbtn {
					display: none !important;
				}
				#sbi_images .sbi_item {
					width: 50% !important;
				}
			}
		}
		&-visit {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: 25%;
			height: 100%;
			right: 0;
			top: 0;
			background-color: color("green");
			text-align: center;
			@include mq($until: tablet) {
				width: calc(50% - 20px);
				height: calc(50% - 20px);
				top: 50%;
			}
			a {
				color: #fff;
				font-size: 16px;
				font-weight: 500;
				border-bottom: 2px solid #fff;
				transition: 0.3s;
				&:hover {
					border-bottom: 2px solid transparent;
				}
				@include mq($until: tablet) {
					font-size: 15px;
					margin: 0 6px;
					line-height: 1.2;
					border-bottom: 0;
				}
			}
		}
	}
	&__team {
		padding-bottom: 24px;
		border-bottom: 2px solid color("blue");
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		&-types {
			margin-bottom: 36px;
			a {
				margin-bottom: 12px;
				&:not(:first-of-type) {
					margin-left: 6px;
					@include mq(tablet) {
						margin-left: 20px;
					}
				}
			}
		}
		&-each {
			&:nth-child(4n + 2) {
				.c-about__team-bio {
					background-color: rgba(color("green"), 0.9);
				}
			}
			&:nth-child(4n + 3) {
				.c-about__team-bio {
					background-color: rgba(color("satin"), 0.9);
				}
			}
			&:nth-child(4n + 4) {
				.c-about__team-bio {
					background-color: rgba(color("orange"), 0.9);
				}
			}
			@include mq(tablet) {
				&:nth-child(3n + 2) {
					&.animate {
						animation-delay: 0.2s;
					}
				}
				&:nth-child(3n + 3) {
					&.animate {
						animation-delay: 0.4s;
					}
				}
			}
			&-wrap {
				position: relative;
			}
			.name {
				font-size: 25px;
				font-weight: 500;
				color: color("brand");
				display: block;
				// margin-bottom: 2px;
			}
		}
		&-content {
			position: relative;
			width: 100%;
			&:hover {
				.c-about__team-bio {
					opacity: 1;
				}
			}
		}
		&-img {
			background-size: cover;
			padding-bottom: 150%;
			width: 100%;
			margin-bottom: 20px;
		}
		&-bio {
			background-color: rgba(color("yellow"), 0.9);
			color: color("brand");
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			transition: 0.3s;
			overflow: auto;
			padding: 24px;
			@include mq(tabletWide) {
				padding: 40px;
			}
		}
	}
}
