.c-blog-tile {
	@include mq(tablet) {
		margin-bottom: 60px !important;
	}
	&__inner {
		background-color: #f5f5f5;
		position: relative;
		@include mq(tablet) {
			padding-bottom: 30px;
		}
	}
	&__wrap {
		overflow: hidden;
		display: inline-block;
		width: 100%;
		margin-bottom: 20px;
		@include mq(tablet) {
			margin-bottom: 30px;
		}
		&:hover {
			.c-blog-tile__img {
				transform: scale(1.04);
			}
		}
	}
	&__img {
		background-size: cover;
		background-position: center;
		background-color: color("satin");
		height: 100%;
		width: 100%;
		padding-bottom: 70%;
		transition: 0.5s;
		@include mq(tablet) {
			padding-bottom: 100%;
		}
	}
	&__content {
		padding: 0 24px 30px;
	}
	h3 {
		font-size: 25px;
		line-height: 1.2;
		margin-bottom: 20px;
		transition: 0.3s;
		a {
			transition: 0.3s;
			display: inline-block;
			width: 100%;
			&:hover {
				opacity: 0.75;
			}
		}
	}
	&__date {
		font-size: 16px;
		font-weight: 500;
		color: color("satin");
		margin-bottom: 10px;
		@include mq(tablet) {
			margin-bottom: 20px;
		}
	}
	&__link {
		font-weight: 300;
		font-size: 18px;
		border-bottom: 1px solid color("blue");
		color: color("blue");
		display: inline-block;
		transition: 0.3s;
		@include mq(tablet) {
			position: absolute;
			bottom: 30px;
		}
		&:hover {
			border-bottom: transparent;
		}
	}
}
