.c-blogs {
	padding-top: 110px;
	color: color("brand");
	@include mq(tablet) {
		padding-top: 200px;
	}
	&__header {
		position: relative;
		max-width: 750px;
	}
	&-top {
		background-color: #f5f5f5;
		// padding: 60px 0;
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		@include mq($until: tablet) {
			flex-direction: column;
		}
		&__img {
			max-width: 48%;
			height: 100%;
			width: 100%;
			display: inline-block;
			overflow: hidden;
			@include mq($until: tablet) {
				max-width: 100%;
			}
			&-bg {
				background-size: cover;
				background-position: center;
				background-color: color("satin");
				padding-bottom: 100%;
				transition: 0.5s;
				@include mq($until: tabletWide) {
					padding-bottom: 60%;
				}
			}
			&:hover {
				.c-blogs-top__img-bg {
					transform: scale(1.03);
				}
			}
		}
		&__content {
			padding: 24px 24px 30px;
			@include mq(tablet) {
				padding: 40px;
				max-width: 52%;
			}
			h3 {
				margin-bottom: 20px;
				a {
					transition: 0.3s;
					display: inline-block;
					width: 100%;
					&:hover {
						opacity: 0.75;
					}
				}
			}
			&-date {
				font-size: 16px;
				font-weight: 500;
				color: color("rose");
				margin-bottom: 20px;
			}
			p {
				margin-bottom: 20px;
			}
		}
	}
	&-latest {
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		&__tile {
			background-color: #f5f5f5;
			position: relative;
			@include mq(tablet) {
				padding-bottom: 60px;
			}
			&-wrap {
				overflow: hidden;
				display: inline-block;
				width: 100%;
				// height: 100%;
				margin-bottom: 20px;
				@include mq(tablet) {
					margin-bottom: 40px;
				}
				&:hover {
					.c-blogs-latest__tile-img {
						transform: scale(1.04);
					}
				}
			}
			&-img {
				background-size: cover;
				background-position: center;
				background-color: color("satin");
				height: 100%;
				width: 100%;
				padding-bottom: 68.62%;
				transition: 0.5s;
				@include mq($until: tabletWide) {
					padding-bottom: 70%;
				}
			}
			&-content {
				padding: 0 24px 30px;
			}
			h3 {
				margin-bottom: 20px;
				a {
					transition: opacity 0.3s;
					display: inline-block;
					width: 100%;
					&:hover {
						opacity: 0.75;
					}
				}
			}
			&-date {
				font-size: 16px;
				font-weight: 500;
				color: color("rose");
				margin-bottom: 20px;
			}
			.o-btn {
				@include mq(tablet) {
					position: absolute;
					bottom: 30px;
				}
			}
		}
	}
	&-form {
		text-align: center;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		h2 {
			margin-bottom: 50px;
		}
		.submit {
			padding-top: 25px;
		}
	}

	&__listing {
		margin-bottom: 50px;
		border-top: 2px solid color("orange");
		padding-top: 50px;
		@include mq(tablet) {
			margin-bottom: 60px;
		}
	}

	&__pagination {
		text-align: center;
		display: inline-block;
		width: 100%;
		margin-bottom: 60px;
		@include mq(tablet) {
			margin-bottom: 120px;
		}
		&-list {
			display: inline-block;
			@include mq(tablet) {
				padding: 0 60px;
			}
			a {
				font-size: 18px;
				line-height: 1;
				transition: 0.3s;
				color: color("satin");
				display: inline-block;
				&:not(:last-of-type) {
					margin-right: 20px;
					@include mq(tablet) {
						margin-right: 24px;
					}
				}
				&.is-active {
					color: color("brand");
				}
			}
			span {
				margin-right: 20px;
				@include mq(tablet) {
					margin-right: 24px;
				}
			}
		}
		&-arrows {
			display: inline-block;
			transition: 0.3s;
			color: color("brand") !important;
			&.inactive {
				pointer-events: none;
				color: color("satin") !important;
			}
			&.prev {
				@include mq(tablet) {
					margin-right: 60px !important;
				}
			}
			&.next {
				@include mq(tablet) {
					margin-left: 36px;
				}
			}
			svg {
				vertical-align: middle;
			}
			&:hover {
				opacity: 0.75;
				transform: scale(1.08);
			}
		}
	}
}
