.c-clients {
	margin-bottom: 50px;
	@include mq(tablet) {
		margin-bottom: 100px;
	}
	&__heading {
		margin-bottom: 40px;
		color: color("brand");
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -40px;
		&-each {
			text-align: center;
			padding-left: 40px;
			flex: 50%;
			max-width: 50%;
			margin-bottom: 24px;
			@include mq(tablet) {
				margin-bottom: 70px;
				flex: 25%;
				max-width: 25%;
			}
		}
		img {
			max-width: 120px;
			margin: auto;
			@include mq(tablet) {
				max-width: 180px;
			}
		}
	}
}
