.c-contact {
	padding-top: 110px;
	padding-bottom: 40px;
	color: color("brand");
	@include mq(tablet) {
		padding-top: 200px;
		padding-bottom: 60px;
	}
	&__content {
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 50px;
		}
	}
	&__heading {
		margin-bottom: 50px;
	}
	.intro-para {
		max-width: 400px;
	}
	&__form {
		@include mq(tablet) {
			margin-top: 100px;
			.submit-container {
				padding-top: 25px;
			}
		}
		.input-wrap.half {
			float: none;
			width: 100%;
		}
		.input-wrap.right,
		.input-wrap.left {
			padding-left: 0px;
			padding-right: 0px;
		}
		.input-wrap.checkbox-wrap {
			margin-top: 25px;
		}
		.input-wrap .submit {
			margin-top: 30px;
		}
		.t-center {
			text-align: left;
		}
		.wpcf7-response-output {
			text-align: left;
		}
	}
	&__left {
	}
	&__right {
		@include mq(laptop) {
			padding-left: 100px;
		}
	}
	&__sideimg {
		max-width: 400px;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-left: auto;
			margin-bottom: 100px;
		}
	}
	&__details {
		h3,
		strong {
			color: color("orange");
			margin-bottom: 18px;
		}
		a {
			font-size: 25px;
		}
	}
}
