.c-flexible-content {
	&__img-content {
		&-img {
			margin-bottom: 30px;
			@include mq(tablet) {
				margin-bottom: 100px;
			}
			background-size: cover;
			background-position: center;
			padding-bottom: 62.54%;
		}
		.content {
			max-width: 740px;
			margin-bottom: 50px;
			@include mq(tablet) {
				margin-bottom: 100px;
			}
			p {
				margin-bottom: 18px;
			}
			strong {
				font-weight: 500;
			}
		}
	}
	&__singleimg {
		margin-bottom: 30px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		&-img {
			background-color: color("satin");
			background-size: cover;
			background-position: center;
			padding-bottom: 64.9%;
		}
	}
	&__twoimg {
		&-img {
			margin-bottom: 10px;
			@include mq(tablet) {
				margin-bottom: 60px;
			}
			background-color: color("satin");
			background-size: cover;
			background-position: center;
			padding-bottom: 62.54%;
			width: 100%;
		}
	}

	&__two-col-img {
		&--bg {
			background-color: color("satin");
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 100%;
			padding-bottom: 60%;
			@include mq(tablet) {
				&.bgimg1 {
					padding-bottom: 54.79%;
				}
				&.bgimg2 {
					padding-bottom: 78.43%;
				}
			}
		}
	}
}
