.c-home {
	&-top {
		&__video {
			min-height: 100vh;
			min-width: 100%;
			overflow: hidden;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 30%;
				background: linear-gradient(
					180deg,
					rgba(255, 255, 255, 0) 0%,
					#ffffff 100%
				);
				z-index: 1;
				@include mq($until: mobileLandscape) {
					background: linear-gradient(
						180deg,
						rgba(255, 255, 255, 0) 0%,
						#fff 90%
					);
				}
			}
			@include mq($until: tablet) {
				min-height: calc(100vh - 50px);
			}
			.is-iphone & {
				@include mq($until: tablet) {
					min-height: calc(100vh - 110px);
				}
			}
			video {
				// width: 130%;
				// position: relative;
				// left: 50%;
				// transform: translateX(-50%);
				// @include mq(mobileLandscape) {
				position: absolute;
				width: 100%;
				height: auto;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				// }
			}
			.c-social {
				position: absolute;
				bottom: 30px;
				left: 36px;
				z-index: 10;
				a {
					display: block;
					color: #2e3947;
					font-size: 0;
					margin-bottom: 18px;
					&:last-of-type {
						margin-bottom: 0;
					}
					&:hover {
						opacity: 0.6;
					}
					svg {
						width: auto;
						height: 16px;
					}
				}

				@include mq($until: tablet) {
					left: 15px;
					bottom: 20px;
				}
			}
		}
		&__tel {
			position: absolute;
			right: 36px;
			bottom: 30px;
			display: inline-block;
			z-index: 10;
			@include mq($until: tablet) {
				right: 15px;
				font-size: 16px;
				bottom: 20px;
			}
		}
		&__scroll {
			position: absolute;
			left: 50%;
			transform: translateX(-50%) rotate(90deg);
			bottom: 30px;
			display: inline-block;
			z-index: 10;
			opacity: 0.6;
			transition: 0.3s;
			&:hover {
				opacity: 1;
			}
			svg {
				width: 15px;
				height: 25px;
			}
			@include mq($until: tablet) {
				bottom: 20px;
			}
		}
	}
	&-intro {
		padding: 60px 0;
		@include mq(tablet) {
			padding: 150px 0;
		}
		&__heading {
			max-width: 500px;
			color: color("brand");
			margin-bottom: 40px;
		}
		p {
			margin-bottom: 18px;
		}
		a,
		strong {
			color: color("blue");
			font-weight: 300;
		}
		&__content {
			@include mq(tablet) {
				display: flex;
			}
			.intro-para {
				@include mq(tablet) {
					flex: 60%;
					max-width: 620px;
					padding-right: 40px;
				}
			}
			.column2-content {
				@include mq(tablet) {
					flex: 40%;
					max-width: 360px;
				}
			}
		}
	}

	&-projects {
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		&__services {
			display: flex;
			&-tile {
				background-color: color("brand");
				color: #fff;
				padding: 30px;
				margin-bottom: 10px;
				transition: 0.3s;
				position: relative;
				flex: 50%;
				@include mq(tabletWide) {
					padding: 100px;
				}
				@include mq(tablet) {
					margin-bottom: 40px;
					display: flex;
					align-items: center;
					justify-content: left;
				}
				@include mq($until: tablet) {
					text-align: center;
				}
				&-wrap {
					position: relative;
					z-index: 1;
					@include mq(tablet) {
						display: flex;
						align-items: center;
						justify-content: left;
					}
				}
				&:first-child {
					margin-right: 10px;
					@include mq(tablet) {
						justify-content: flex-start;
						margin-right: 40px;
					}
					img {
						@include mq(tablet) {
							margin-right: 60px;
						}
					}
				}
				&:nth-child(2) {
					justify-content: flex-end;
					img {
						order: 1;
						@include mq(tablet) {
							margin-left: 40px;
						}
					}
				}
				img {
					max-width: 50px;
					max-height: 50px;
					width: auto;
					height: auto;
					@include mq($until: tablet) {
						margin: 0 auto 20px;
						max-height: 40px;
					}
				}
				&-bgimg {
					position: absolute;
					background-size: cover;
					background-position: center;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					transition: 0.3s;
					&:after {
						content: "";
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						transition: 0.3s;
					}
				}
				&-link {
					color: #fff;
					font-weight: 500;
					font-size: 16px;
					line-height: 1.25;
					border-bottom: 2px solid;
					padding-bottom: 6px;
				}
				&-content {
					max-width: 300px;
					h3 {
						margin-bottom: 20px;
						@include mq($until: tablet) {
							text-align: center;
							margin-bottom: 10px;
						}
					}
					p {
						margin-bottom: 20px;
						@include mq($until: tablet) {
							display: none;
						}
					}
				}
				&:hover {
					.c-home-projects__services-tile-bgimg:after {
						opacity: 0.8;
					}
				}
			}
			&:nth-of-type(6n + 2) {
				.c-home-projects__services-tile {
					&:nth-child(1) {
						color: color("brand");
						.c-home-projects__services-tile-bgimg:after {
							background-color: color("green");
						}
						.c-home-projects__services-tile-link {
							color: color("rose");
						}
					}
					&:nth-child(2) {
						color: color("white");
						.c-home-projects__services-tile-bgimg:after {
							background-color: color("orange");
						}
						.c-home-projects__services-tile-link {
							color: color("brand");
						}
					}
				}
			}
			&:nth-of-type(6n + 4) {
				.c-home-projects__services-tile {
					&:nth-child(1) {
						color: color("white");
						.c-home-projects__services-tile-bgimg:after {
							background-color: color("brand");
						}
						.c-home-projects__services-tile-link {
							color: color("satin");
						}
					}
					&:nth-child(2) {
						color: color("white");
						.c-home-projects__services-tile-bgimg:after {
							background-color: color("rose");
						}
						.c-home-projects__services-tile-link {
							color: color("yellow");
						}
					}
				}
			}
			&:nth-of-type(6n + 6) {
				.c-home-projects__services-tile {
					&:nth-child(1) {
						color: color("white");
						.c-home-projects__services-tile-bgimg:after {
							background-color: color("blue");
						}
						.c-home-projects__services-tile-link {
							color: color("yellow");
						}
					}
					&:nth-child(2) {
						color: color("brand");
						.c-home-projects__services-tile-bgimg:after {
							background-color: color("satin");
						}
						.c-home-projects__services-tile-link {
							color: color("blue");
						}
					}
				}
			}
		}
		&__btn {
			text-align: center;
			padding-top: 20px;
		}
	}
}
