.c-svgicon {
	&--full-logo {
		width: 180px;
		height: 37px;
	}
	&--logo {
		width: 42px;
		height: 42px;
	}
	&--facebook,
	&--instagram {
		width: 16px;
		height: 16px;
		@include mq(mobileLandscape) {
			width: 18px;
			height: 18px;
		}
	}
	&--next,
	&--prev {
		width: 18px;
		height: 32px;
	}
}
