.c-instagram {
	margin-bottom: 50px;
	@include mq(tablet) {
		margin-bottom: 100px;
	}
	&__heading {
		margin-bottom: 50px;
	}
	&__tiles {
		position: relative;
		#sb_instagram.sbi_col_4 #sbi_images .sbi_item {
			@include mq($until: tablet) {
				padding-left: 20px !important;
				padding-bottom: 20px !important;
				padding-right: 0 !important;
			}
			@include mq(tablet) {
				padding-bottom: 0px !important;
				padding-right: 40px !important;
			}
		}
		@include mq($until: tablet) {
			margin-left: -20px;
			#sb_instagram .sbi_type_carousel .sbi_playbtn,
			#sb_instagram .sbi_type_carousel .svg-inline--fa.fa-play,
			#sb_instagram .sbi_type_video .sbi_playbtn,
			#sb_instagram .sbi_type_video .svg-inline--fa.fa-play,
			.sbi_type_carousel .fa-clone,
			.sbi_type_video .svg-inline--fa.fa-play,
			.sbi_playbtn {
				display: none !important;
			}
			#sbi_images .sbi_item {
				width: 50% !important;
			}
		}
	}
	&__visit {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 25%;
		height: 100%;
		right: 0;
		top: 0;
		background-color: color("green");
		text-align: center;
		@include mq($until: tablet) {
			width: calc(50% - 20px);
			height: calc(50% - 20px);
			top: 50%;
		}
		a {
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			border-bottom: 2px solid #fff;
			transition: 0.3s;
			&:hover {
				border-bottom: 2px solid transparent;
			}
			@include mq($until: tablet) {
				font-size: 15px;
				margin: 0 6px;
				line-height: 1.2;
				// border-bottom: 0;
			}
		}
	}
}
