.c-latest-article {
	margin-bottom: 50px;
	text-align: center;
	@include mq(tablet) {
		margin-bottom: 100px;
	}
	h3 {
		text-align: center;
		&:hover {
			opacity: 0.7;
		}
	}
	&__heading {
		text-align: left !important;
		margin-bottom: 50px;
	}
	&__all {
		text-align: center;
		@include mq($until: tablet) {
			padding-bottom: 50px;
		}
	}
}
