.c-top {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.7) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	padding: 15px 0 10px;
	@include mq(tabletWide) {
		padding: 24px 0 10px;
	}
	&.menu-open {
		background-color: rgba(color("brand"), 0.9);
		width: 100%;
		height: 100%;
		overflow: hidden;
		animation: fade-in 0.6s;
		@media (max-height: 600px) {
			overflow: auto;
		}
	}
}

.c-header {
	padding: 0 15px;
	@include mq(tabletWide) {
		padding: 0 24px;
	}
	.menu-open & {
		position: absolute;
		top: 24px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 100%;
		z-index: 100;
	}
	.c-logo-wrap {
		display: inline-block;
		position: relative;
	}
	&__video {
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		position: absolute;
		overflow: hidden;
		@media (max-height: 600px) and (max-width: 700px) {
			height: 110%;
		}
		video {
			position: absolute;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(color("brand"), 0.8);
			z-index: 1;
		}
		.menu-open & {
			display: block;
		}
	}

	&__logo {
		width: 35px;
		height: 35px;
		color: color("brand");
		@include mq(tabletWide) {
			width: 42px;
			height: 42px;
		}
		.menu-open & {
			display: none;
		}
	}
	&__logo-nav {
		width: 206px;
		height: 42px;
		color: color("white");
		display: none;
		.menu-open & {
			display: block;
		}
	}
	&__toggle-nav {
		position: relative;
		z-index: 320;
		float: right;
		width: 35px;
		height: 35px;
		font-size: 0;
		margin-top: 3px;
		transition: 0.3s;
		@include mq(tablet) {
			margin-top: 11px;
		}
		&:hover {
			opacity: 0.8;
		}
		&:before,
		&:after,
		span {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: color("brand");
			display: block;
			transition: background-color 0.25s;
			// transition: top 0.25s 0.25s, transform 0.25s, opacity 0s 0.25s,
			// 	background-color 0.5s;
		}
		span {
			top: 16px;
		}
		&::before {
			top: 6px;
		}
		&::after {
			top: 26px;
		}
		&:hover {
			&:before,
			&:after,
			span {
				background-color: color("brand");
			}
		}
		.menu-open & {
			&:before,
			&:after,
			span {
				top: 16px;
				background-color: color("white");
				// transition: top 0.25s, transform 0.25s 0.25s, opacity 0s 0.25s,
				// 	background-color 0.5s;
			}
			span {
				opacity: 0;
			}
			&::before {
				transform: rotate(-45deg);
			}
			&::after {
				transform: rotate(45deg);
			}
		}
	}
	&__bottom {
		display: none;
		@media (min-height: 650px) {
			position: absolute;
			max-width: 1376px;
			margin: auto;
			bottom: 65px;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
		}
		color: color("white");
		font-size: 16px;
		@include mq($until: tablet) {
			bottom: 40px;
		}
		&-inner {
			padding: 0 30px;
			@include mq(tabletWide) {
				padding: 0 80px;
			}
			@include mq($until: tablet) {
				text-align: center;
			}
		}
		a {
			color: color("white");
		}
		&-copy {
			@include mq($until: tablet) {
			}
			@include mq(tablet) {
				float: right;
			}
			&-label {
				display: block;
				@include mq(tablet) {
					padding-right: 75px;
					margin-bottom: 0;
					display: inline-block;
				}
			}
			&-links {
				@include mq(tablet) {
					display: inline-block;
				}
				a {
					&:first-of-type {
						margin-right: 20px;
					}
				}
			}
		}
		.menu-open & {
			display: block;
		}
	}
}
