.c-skip {
	position: absolute;
	top: -10px;
	z-index: -999;
	width: 1px;
	height: 1px;
	overflow: hidden;
	@include attention() {
		top: $spacing-unit--small;
		left: 50%;
		z-index: 999;
		display: inline-block;
		width: auto;
		height: auto;
		transform: translateX(-50%);
	}
}

.c-site-nav {
	display: none;
	width: 100%;
	max-width: 900px;
	margin: auto;
	padding-top: 30px;
	@media (min-height: 650px) {
		padding: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.menu-open & {
		display: block;
		animation: fade-in 1s;
	}
	a {
		display: inline-block;
		color: inherit;
	}
	&__nav {
		margin-bottom: 0;
		list-style: none;
		@include mq($until: tablet) {
			display: block;
			text-align: center;
		}
		@include mq(tabletWide) {
			margin-left: -80px;
		}
		li {
			margin-bottom: 20px;
			@include mq(tablet) {
				display: inline-block;
				width: 48%;
				margin-bottom: 60px;
				padding-left: 80px;
			}
			a {
				font-weight: 500;
				line-height: 1.15;
				color: color("white");
				font-size: 40px;
				border-bottom: 2px solid transparent;
				transition: 0.3s;
				padding-bottom: 2px;
				@include mq(tablet) {
					font-size: 64px;
				}
			}
		}
		a:hover,
		.current-menu-item > a {
			color: color("white");
			border-bottom: 2px solid rgba(#fff, 0.8);
		}
	}
}
