.c-footer {
	&__container {
		color: color("brand");
		font-size: 16px;
		padding: 80px 0;
		border-top: 2px solid color("orange");
		.o-layout__item {
			font-size: 16px;
		}
		@include mq($until: tablet) {
			text-align: center;
			padding: 50px 0;
		}
	}
	&__logo {
		@include mq(tablet) {
			margin-bottom: 38px;
		}
	}
	&__heading {
		margin-bottom: 4px;
		font-size: 18px;
		@include mq(tablet) {
			font-weight: 500;
		}
	}
	&__links {
		list-style: none;
		margin-bottom: 24px;
		li {
			margin-bottom: 4px;
			font-size: 16px;
			a {
				transition: 0.2s;
				&:hover {
					text-decoration: underline;
				}
				@include mq($until: tablet) {
					font-weight: 500;
					font-size: 28px;
				}
			}
		}
	}
	&__td {
		text-decoration: underline;
		transition: 0.3s;
		&:hover {
			text-decoration: none;
		}
	}
	&__contact-details {
		overflow-wrap: break-word;
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__copy {
		@include mq(tablet) {
			text-align: right;
		}
		&-label {
			margin-bottom: 50px;
			display: block;
			@include mq(tablet) {
				padding-right: 75px;
				margin-bottom: 0;
				display: inline-block;
			}
		}
		&-links {
			@include mq(tablet) {
				display: inline-block;
			}
			a {
				&:first-of-type {
					margin-right: 20px;
				}
			}
		}
	}
	.c-social {
		margin-top: 24px;
		&__icon {
			display: inline-block;
			&:not(:last-of-type) {
				margin-right: 10px;
				@include mq(tabletWide) {
					margin-right: 16px;
				}
			}
			svg {
				color: #2e3947;
				width: 20px;
				height: 20px;
				@include mq(tabletWide) {
					width: 22px;
					height: 22px;
				}
			}
			&:hover {
				opacity: 0.6;
			}
		}
	}
}
