.c-project-tiles {
	display: flex;
	flex-wrap: nowrap;
	overflow-y: scroll;
	@include mq($until: tablet) {
		-webkit-overflow-scrolling: touch;
	}
	&.odd {
		.c-project-tiles__thumb {
			min-width: 60%;
			&-1,
			&-3 {
				flex: 60%;
				min-width: 60%;
			}
			&-1 {
				.bgimg {
					background-position: center right;
				}
			}
			&-2 {
				flex: 60%;
				width: 60%;
				order: 2;
			}
			&-3 {
				order: 3;
				margin-right: 0;
				.bgimg {
					background-position: center left;
				}
			}
		}
	}
	&.even {
		.c-project-tiles__thumb {
			&-1,
			&-2 {
				flex: 60%;
				min-width: 60%;
			}
			&-2 {
				margin-right: 0;
			}
			&-3 {
				display: none;
			}
		}
	}
	&__thumb {
		animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
		transition: 0.5s;
		margin-bottom: 10px;
		margin-right: 10px;
		overflow: hidden;
		@include mq(tablet) {
			margin-bottom: 40px;
			margin-right: 40px;
		}
		.bgimg {
			background-color: color("satin");
			background-size: cover;
			background-position: center center;
			padding-bottom: 71.42%;
			width: 100%;
			transform: scale(1);
			transition: 0.3s ease-in-out;
			@include mq(wideScreen) {
				padding-bottom: 60%;
			}
		}
		&:hover {
			.bgimg {
				transform: scale(1.05);
			}
		}
	}
}
