.c-projects {
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	padding-top: 110px;
	padding-bottom: 50px;
	@include mq(tablet) {
		padding-top: 200px;
		padding-bottom: 100px;
	}
	&__heading {
		text-align: center;
		margin-bottom: 50px;
		color: color("brand");
	}
	&__categories {
		text-align: center;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		&-desk {
			@include mq($until: tablet) {
				display: none;
			}
		}
		&-mob {
			display: block;
			@include mq(tablet) {
				display: none;
			}
		}
		a {
			padding: 8px 30px;
			border-radius: 22px;
			border: 1px solid color("rose");
			font-weight: 500;
			font-size: 16px;
			line-height: 1.25;
			color: color("rose");
			transition: 0.3s;
			margin-bottom: 20px;
			display: inline-block;
			&:not(:first-of-type) {
				margin-left: 20px;
			}
			&:hover,
			&.is-active {
				color: #fff;
				background: color("rose");
			}
		}
		select {
			display: inline-block;
			width: auto;
			background: transparent;
			border: 1px solid color("rose");
			border-radius: 30px;
			text-align: center;
			color: color("rose");
			font-weight: 500;
			background: url("../img/select-arrow.png") no-repeat;
			background-size: 15px 9px;
			background-position: calc(100% - 30px) center;
			padding: 10px 30px;
			padding-right: 50px;
			option {
				text-align: center;
			}
		}
	}
	&__list {
		&-wrapper {
			// .has-scroll-smooth & {
			// 	min-height: 100px;
			// }
		}
	}

	&__loadmore {
		text-align: center;
		a {
			padding-top: 60px;
			display: inline-block;
			&[hidden] {
				display: none;
			}
		}
	}
}
