.c-services {
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	padding-top: 110px;
	@include mq(tablet) {
		padding-top: 200px;
	}
	&__heading {
		text-align: center;
		margin-bottom: 50px;
		color: color("brand");
	}
	&__list {
		@include mq(tablet) {
			margin-top: 100px;
			margin-bottom: 50px;
		}
	}
}

.c-service-tile {
	color: #fff;
	&__link {
		color: #fff;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.25;
		border-bottom: 2px solid;
		padding-bottom: 6px;
	}
	&__wrap {
		background-color: color("brand");
		width: 100%;
		height: 100%;
		display: inline-block;
		position: relative;
		padding: 30px;
		overflow: hidden;
		color: inherit;
		@include mq(tabletWide) {
			padding: 150px 100px 200px;
		}
		h3,
		p {
			margin-bottom: 20px;
			max-width: 300px;
		}
		&:hover {
			.c-service-tile__bgimg:after {
				opacity: 0.8;
			}
			.bgimg {
				opacity: 1;
			}
		}
	}

	&__bgimg {
		position: absolute;
		background-size: cover;
		background-position: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		transition: 0.3s;
		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: 0.3s;
		}
	}
	&__content {
		position: relative;
		z-index: 10;
	}
	&:nth-of-type(8n + 1) {
		.c-service-tile__bgimg:after {
			background-color: color("green");
		}
		color: color("brand");
		.c-service-tile__link {
			color: color("rose");
		}
	}
	&:nth-of-type(8n + 2),
	&:nth-of-type(8n + 5) {
		.c-service-tile__bgimg:after {
			background-color: color("orange");
		}
		color: color("white");
		.c-service-tile__link {
			color: color("brand");
		}
	}
	&:nth-of-type(8n + 3) {
		.c-service-tile__bgimg:after {
			background-color: color("brand");
		}
		color: color("white");
		.c-service-tile__link {
			color: color("satin");
		}
	}
	&:nth-of-type(8n + 4) {
		.c-service-tile__bgimg:after {
			background-color: color("yellow");
		}
		color: color("brand");
		.c-service-tile__link {
			color: color("rose");
		}
	}
	&:nth-of-type(8n + 6) {
		.c-service-tile__bgimg:after {
			background-color: color("rose");
		}
		color: color("white");
		.c-service-tile__link {
			color: color("yellow");
		}
	}
	&:nth-of-type(8n + 7) {
		.c-service-tile__bgimg:after {
			background-color: color("blue");
		}
		color: color("white");
		.c-service-tile__link {
			color: color("yellow");
		}
	}
	&:nth-of-type(8n + 8) {
		.c-service-tile__bgimg:after {
			background-color: color("satin");
		}
		color: color("brand");
		.c-service-tile__link {
			color: color("blue");
		}
	}
}
