.c-single-blog {
	&__banner {
		background-color: color("satin");
		background-size: cover;
		background-position: center;
		padding-bottom: 46.87%;
		// height: 600px;
		width: 100%;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
	}
	&__intro {
		text-align: center;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
	}
	&__date {
		font-size: 16px;
		color: color("rose");
		text-transform: uppercase;
		margin-bottom: 30px;
		font-weight: 500;
		text-align: center;
	}
	&__heading {
		text-align: center;
	}
	.c-cms-content {
		max-width: 740px;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		p {
			margin-bottom: 18px;
			&:first-of-type {
				font-size: 25px;
				line-height: 1.2;
			}
		}
		strong {
			font-weight: 500;
		}
	}
}
