.c-single-project {
	&__banner {
		background-color: color("satin");
		background-size: cover;
		background-position: center;
		padding-bottom: 46.87%;
		width: 100%;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
	}
	&__intro {
		text-align: center;
		margin-bottom: 40px;
		@include mq(tablet) {
			margin-bottom: 80px;
		}
	}
	&__client {
		font-size: 16px;
		color: color("rose");
		text-transform: uppercase;
		margin-bottom: 30px;
		font-weight: 500;
		text-align: center;
	}
	&__heading {
		text-align: center;
	}
	&__category {
		padding: 8px 30px;
		border-radius: 22px;
		border: 1px solid color("rose");
		font-weight: 500;
		font-size: 16px;
		line-height: 1.25;
		color: color("rose");
		transition: 0.3s;
		margin-bottom: 6px;
		display: inline-block;
		&:not(:last-of-type) {
			margin-right: 6px;
		}
	}
	.c-cms-content {
		max-width: 740px;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		p {
			margin-bottom: 18px;
			&:first-of-type {
				font-size: 25px;
				line-height: 1.2;
			}
		}
	}

	&__nextproj {
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		h3 {
			border-top: 2px solid color("orange");
			padding-top: 50px;
			margin-bottom: 50px;
		}
		&-all {
			margin-top: 60px;
			text-align: center;
		}
	}
	&__form {
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		h2 {
			margin-bottom: 50px;
			text-align: center;
		}
		@include mq(tablet) {
			.html-container {
				margin-top: -180px;
			}
			.checkbox-container {
				margin-top: -140px;
			}
			.recaptcha-container {
				margin-top: -90px;
			}
			.submit-container,
			.nf-error-msg,
			.ninja-forms-req-symbol,
			.nf-response-msg {
				text-align: center;
			}
			.submit-container {
				padding-top: 50px;
			}
			.nf-field-element textarea {
				height: 250px;
			}
		}
	}
}
