.c-single-service {
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	padding-top: 110px;
	@include mq(tablet) {
		padding-top: 200px;
	}
	&__heading {
		margin-bottom: 30px;
		color: color("brand");
	}
	&__intro {
		max-width: 750px;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		.intro-para {
			p {
				margin-bottom: 18px;
			}
		}
	}
	&__content {
		margin-bottom: 30px;
		@include mq(tablet) {
			margin-bottom: 60px;
		}
		&-imgs {
			position: relative;
			padding: 0 40px;
			@include mq(tablet) {
				padding: 0 20px;
			}
			img {
				padding: 6px;
				height: 400px;
				width: 100%;
				object-fit: cover;
				@include mq(tablet) {
					height: 240px;
				}
				@include mq(tabletWide) {
					height: 260px;
				}
			}
			.up,
			.down {
				visibility: hidden;
				opacity: 0;
				@include mq(tablet) {
					visibility: visible;
					opacity: 1;
				}
			}
			.prev,
			.next {
				visibility: visible;
				opacity: 1;
				@include mq(tablet) {
					visibility: hidden;
					opacity: 0;
				}
			}
			.up {
				svg {
					transform: rotate(-90deg);
				}
			}
			.down {
				svg {
					transform: rotate(90deg);
				}
			}
		}
		&-title {
			color: color("orange");
			margin-bottom: 18px;
		}
		&-details {
			@include mq(tablet) {
				padding-left: 40px;
			}
			.content {
				strong {
					font-weight: 500;
				}
				p {
					margin-bottom: 18px;
				}
			}
		}
	}
	&__features {
		margin-bottom: 30px;
		@include mq(tablet) {
			margin-bottom: 60px;
		}
		&-title {
			color: color("green");
			margin-bottom: 18px;
		}
		.content {
			@include mq(tablet) {
				max-width: 290px;
			}
			strong {
				font-weight: 500;
			}
			p {
				margin-bottom: 18px;
			}
			ul {
				margin-left: 24px;
			}
			ul li {
				list-style: disc;
				&::marker {
					color: rgba(color("orange"), 0.8);
				}
			}
			li {
				padding-left: 8px;
			}
		}
	}
	&__projects {
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		&-btn {
			padding-top: 60px;
			text-align: center;
		}
	}
	&__work-with {
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		&-heading {
			margin-bottom: 50px;
		}
		&-list {
			background-color: color("brand");
			color: #fff;
			padding: 30px;
			width: 100%;
			height: 100%;
			@include mq(tablet) {
				padding: 40px;
			}
			@include mq(tabletWide) {
				padding: 60px;
			}
			@include mq(laptop) {
				padding: 70px 100px;
			}
			&-title {
				margin-bottom: 10px;
			}
		}
	}

	&__related {
		position: relative;
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		&-list {
			// &:after{
			// 	content: '';
			// 	position: absolute;
			// 	top: 0;
			// 	right: 0;
			// 	width: 60%;
			// 	height: 100%;
			// 	background: linear-gradient(-180deg, rgba(255, 255, 255, 0.3) 0%, #FFFFFF 100%);
			// }
		}
		.slick-list {
			overflow: visible;
			position: relative;
		}
		.slick-track {
			display: flex;
		}
		.slick-slide {
			height: auto;
			margin-right: 20px;
			@include mq(tablet) {
				margin-right: 40px;
			}
		}
		.s-next {
			position: absolute;
			right: 12px;
			top: 60%;
			@include mq(tablet) {
				top: 55%;
			}
			@include mq(laptop) {
				top: 55%;
				right: 24px;
			}
			svg {
				margin-left: 3px;
			}
		}
		.s-prev {
			position: absolute;
			left: 12px;
			top: 60%;
			@include mq(tablet) {
				top: 55%;
			}
			@include mq(laptop) {
				top: 55%;
				left: 24px;
			}
			&:hover {
				box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
			}
			svg {
				margin-left: 0;
				margin-right: 3px;
				transform: rotate(180deg);
			}
		}
		.c-service-tile__wrap {
			@include mq(tablet) {
				padding: 100px 60px 100px;
			}
		}
	}
}
