.c-slider {
	position: relative;
	&__pager {
		position: absolute;
		bottom: 18px;
		z-index: 105;
		display: block;
		width: 100%;
		line-height: 0;
		text-align: center;
		span {
			display: inline-block;
			width: 16px;
			height: 16px;
			margin: 0 4px;
			border-radius: 24px;
			text-indent: -99999px;
			cursor: pointer;
			background: color("white");
			opacity: 0.4;
			&.cycle-pager-active {
				background: color("brand");
			}
		}
	}
}

.c-slide {
	width: 100%;
	height: 390px;
	color: #fff;
	background: #000;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	@include mq(tablet) {
		height: 490px;
	}
	&__content {
		position: absolute;
		top: 45%;
		left: 50%;
		width: 100%;
		max-width: 610px;
		max-height: 490px;
		transform: translate(-50%, -50%);
	}
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	user-select: none;
	touch-action: pan-y;
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	@include mq($until: tablet) {
		overflow: visible !important;
	}
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before,
.slick-track:after {
	display: table;
	content: "";
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
	animation: fade-in 1s;
	&:focus {
		outline: none;
	}
}
[dir="rtl"] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-dots {
	position: absolute;
	bottom: -42px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	li {
		position: relative;
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 0 3px;
		padding: 0;
		cursor: pointer;
		button {
			/* font-size: 0; */
			line-height: 0;
			display: block;
			width: 10px;
			height: 10px;
			padding: 5px;
			cursor: pointer;
			color: transparent;
			border: 0;
			outline: none;
			background: transparent;
			&:before {
				content: "•";
				font-family: "slick";
				font-size: 24px;
				line-height: 20px;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				text-align: center;
				opacity: 0.25;
				color: color("blue");
			}
		}
	}
}
.slick-dots li.slick-active button:before {
	opacity: 0.75;
}
.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-appearance: none;
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
	transition: 0.3s;
	cursor: pointer;
	border: 0;
	border-radius: 50px;
	z-index: 10;
	line-height: 0;
	font-size: 0;
	color: color("brand");
	width: 35px;
	height: 35px;
	@include mq(tablet) {
		width: 45px;
		height: 45px;
	}
	&:hover {
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
	}
	svg {
		margin-left: 3px;
		width: 10px;
		height: 18px;
		@include mq(tablet) {
			width: 14px;
			height: 22px;
		}
	}

	&:focus,
	&:hover {
		outline: none;
	}

	&.slick-disabled {
		opacity: 0;
		transition: 0.4s;
	}
	&:hover {
		color: rgba(0, 0, 0, 0.6);
	}
}
.slick-arrow-up {
	top: -3%;
	right: 50%;
	transform: translateX(50%);
}
.slick-arrow-down {
	top: 97%;
	right: 50%;
	transform: translateX(50%);
}
.slick-arrow.next {
	right: -20px;
	@include mq(tabletWide) {
		right: -25px;
	}
}
.slick-arrow.prev {
	left: -20px;
	svg {
		margin-right: 3px;
		margin-left: 0;
		transform: rotate(180deg);
	}
	@include mq(tabletWide) {
		left: -25px;
	}
}
.slick-arrow.slick-hidden {
	display: none;
}
.slick-wrapper {
	position: relative;
}
