select,
textarea,
input {
	outline: none;
}

select,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="file"],
input[type="text"] {
	display: block;
	width: 100%;
	padding: 8px 16px;
	border: 2px solid color("black");
	border-radius: 0;
	background-color: transparent;
	font-family: $copy;
	color: color("black");
	transition: 0.2s;
	// box-shadow: 0 0 100px 100px white inset;
	appearance: none;
	@include font-size(16px, 1.5);
	&::-webkit-input-placeholder {
		color: color("grey");
	}
	&::-moz-placeholder {
		color: color("grey");
	}
	&::-ms-input-placeholder {
		color: color("grey");
	}
	&::-moz-placeholder {
		color: color("grey");
	}
	&::placeholder {
		color: color("grey");
	}
	&.wpcf7-not-valid {
		border-color: color("red");
	}
}

input[type="submit"] {
	display: inline-block;
	text-align: left;
}

input[type="file"] {
	position: relative;
	color: transparent;
	height: 50px;
	text-align: center;

	&::-webkit-file-upload-button {
		visibility: hidden;
	}

	&::before {
		position: absolute;
		left: 28px;
		top: 16px;
		@include font-size(14px, 18px);
		content: "Upload Audio Recording";
		color: color("black");
		text-transform: uppercase;
		text-align: center;
		@include mq($until: tabletWide) {
			left: 16px;
		}
	}

	&::after {
		content: "";
		background-image: url("/wp-content/themes/SmallTimeGroup/assets/img/inline/Upload-Button.svg");
		height: 24px;
		width: 24px;
		right: 15px;
		top: 11px;
		position: absolute;
		z-index: 2;
	}

	&.has-file {
		&::before {
			content: "File Loaded";
		}
	}
}

textarea {
	height: 120px;
	resize: none;

	&.wpcf7-not-valid {
		border-color: #e36565;
	}
}

select {
	padding: 8px 56px 8px 16px;
	background-image: linear-gradient(
			45deg,
			transparent 50%,
			color("content") 50%
		),
		linear-gradient(135deg, color("content") 50%, transparent 50%),
		linear-gradient(to right, color("content"), color("content"));
	background-position: calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-repeat: no-repeat;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	box-shadow: none;
	&.wpcf7-not-valid {
		border-color: color("red");
	}
}

// THIS RADIO BUTTON STYLE IS SPECIFIC TO CONTACT FORM 7
input[type="radio"] {
	opacity: 0;
	appearance: none;

	&:checked {
		background: tint(color("content"), 20%);
	}
	+ span {
		display: inline-block;
		cursor: pointer;
		&:before {
			content: " ";
			display: inline-block;
			width: 13px;
			height: 13px;
			margin-right: 8px;
			border: 1px solid tint(color("content"), 20%);
			border-radius: 10px;
			vertical-align: middle;
		}
	}
	&:checked + span::before {
		background: tint(color("content"), 20%);
	}
	&:focus + span {
		outline: 1px dotted tint(color("content"), 20%);
		outline-offset: 2px;
	}
}

// CONTACT FORM 7 SPECIFIC STYLES
.wpcf7 {
	&-form {
		display: block;
		justify-content: center;
		@include mq($until: tablet) {
			flex-direction: column;
		}
	}
	&-form-control-wrap {
		display: block;
		margin-bottom: 1px;
	}
	&-not-valid {
		.wpcf7-list-item-label {
			color: color("link");
			&::before {
				border-color: color("link");
			}
		}
	}
	.screen-reader-response {
		display: none !important;
	}
	&-not-valid-tip,
	&-validation-errors {
		padding-top: 8px;
		margin-bottom: 12px;
		display: inline-block;
		color: color("white");
	}
	&-not-valid-tip {
		@include font-size(13px, 1.5);
		display: none;
	}
	&-response-output {
		@include font-size(13px, 1.5);
		display: none;
	}
	&-mail-sent-ok {
		padding-top: 16px;
		@include font-size(16px);
	}
}

.ajax-loader {
	pointer-events: none;
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: color("brand");
	&::after {
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		display: block;
		width: 24px;
		height: 24px;
		background-image: url("../img/icon-submit-loader.png");
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	&.is-active {
		display: inline-block;
		opacity: 1;
		&::after {
			animation: spinLoader 1.5s infinite;
		}
	}
}

@keyframes spinLoader {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
