h1 {
	margin-bottom: spacer(0.5, size("xl"));
	font-weight: normal;
	font-family: $primary;
	color: color("black");
	@include font-size(54px, 65px);
	margin-top: 0;

	&.large {
		@include font-size(72px, 86px);
	}

	&.title {
		@include font-size(265px);
		margin-bottom: 0;
	}
}

h2 {
	font-family: $primary;
	color: color("black");
	margin-bottom: spacer(0.5, size("xl"));
	font-weight: normal;
	@include font-size(42px, 62px);

	&.large {
		@include font-size(52px, 60px);
	}
}

h3 {
	font-family: $primary;
	color: color("black");
	margin-bottom: spacer(1, size("l"));
	font-weight: normal;
	@include font-size(23px, 28px);
}

h4 {
	font-weight: normal;
	font-family: $primary;
	color: color("black");
	@include font-size(21px);
}
h5 {
	font-weight: normal;
	font-family: $primary;
	color: color("black");
	@include font-size(18px);
}
