html {
	background-color: color("content");
	height: 100%;
	scroll-behavior: smooth;
}

.site-wrap {
	flex: 1 0 auto;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: $copy;
	@include font-size(14px, 18px);
	color: color("black");
	-webkit-font-smoothing: antialiased;
	background-position: calc(100% - -220px) calc(100% - -100px);
}

// Use https://github.com/willmcpo/body-scroll-lock, it's already in the scripts
.scroll-lock {
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
}

.is-blured {
	pointer-events: none;
	filter: blur(3px);
}

.c-default {
	padding-top: 50px;
	@include mq(tablet) {
		padding-top: 100px;
	}
	h1 {
		margin-bottom: 50px;
	}
	iframe {
		border: 0;
	}
}
