// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

$brand: #3098d4;

$theme-colors: (
	"brand": $brand,
	"link": $brand,
	"link hover": $brand,
	"primary": #1b1d1f,
	"secondary": #13222c,
	"white": #fff,
	"black": #000,
	"content": #525e66,
	"light-background": #f6f7f7,
	"valid": #30be89,
	"invalid": #f05a46,
	"light-brand": #eaf5fb,
	"teritory": #1a1e1e
);

// helper variables
$font-color: map-get($theme-colors, "brand");
$loud-color: map-get($theme-colors, "brand");
