// Typography
$base-font-size: 16px;
$base-line-height: 24px;

//Maintain a typographic modular scale by only choosing font-size form the following map
//See tools.functions for size() helper function.

$modular_scale: (
	"s": 14px,
	"base": $base-font-size,
	"sm": 18px,
	"m": 20px,
	"b": 24px,
	"xb": 25px,
	"xxb": 30px,
	"xxxb": 35px,
	"l": 40px,
	"xl": 45px,
	"xxl": 50px,
	"xxxl": 55px,
	"sh": 60px,
	"lh": 70px,
	"mh": 110px,
	"h": 120px
);

// Z-index management. Read the following article.
// http://www.smashingmagazine.com/2014/06/12/sassy-z-index-management-for-complex-layouts/
// Also see tools.functions for z() helper function.
$site-elements: sidebar, slider, slider-controls, top, site-nav, access;

// Measurements and common values
$sitewidth: 1338px;

//border radius
$base-round: 3px;

// set inuit config
$inuit-global-font-size: $base-font-size;
$inuit-global-line-height: $base-line-height;

// spacing sizes
$inuit-spacing-sizes: (
	null: $inuit-global-spacing-unit,
	"-tiny": $inuit-global-spacing-unit-tiny,
	"-small": $inuit-global-spacing-unit-small,
	"-large": $inuit-global-spacing-unit-large,
	"-big": $inuit-global-spacing-unit-large * 1.5,
	"-huge": $inuit-global-spacing-unit-huge,
	"-none": 0
);
// Add responsive widths
$inuit-fractions: 1 2 3 4 5 6 7 8 !default;
