///*------------------------------------*\
//    #SETTINGS-RESPONSIVE
//\*------------------------------------*/

// Hold our breakpoint aliases and conditions in a list.
//
// These can be invoked later on via the `mq()` mixin found in
// `_tools.responsive`. Or the 'mq()' alias.

$mq-breakpoints: (
	mobile: 375px,
	mobileMeduim: 520px,
	mobileLandscape: 600px,
	tabletSmall: 670px,
	tablet: 770px,
	tabletMeduim: 870px,
	tabletLarge: 900px,
	tabletXLarge: 940px,
	tabletWide: 1080px,
	laptopSmall: 1140px,
	laptopXSmall: 1150px,
	laptopMeduim: 1230px,
	laptop: 1280px,
	laptopLarge: 1380px,
	desktop: 1440px,
	wideScreen: 1600px,
	// Old Breakpoints
		// 'palm':         260px,
		// 'medium-palm':  319px,
		// 'wide-palm':    459px,
		// 'x-wide-palm':  500px,
		// 'only-palm':    671px,
		// 'lap':          672px,
		// 'lap-wide':     800px,
		// 'desk':         960px,
		// 'deskplus':     1025px,
		// 'wall':         1250px,
		// 'wall-wide':    1800px,
);
// $mq-show-breakpoints: (mobile, tablet, laptop, desktop);

// If we have included this file, set a variable to tell the rest of the
// framework that we have some responsive settings.
$inuit-responsive-settings: true;
