<style>
	a {
		text-decoration: none;
		color: #a58449;
	}
</style>
<div style="margin: 0; font-family: Helvetica, sans-serif; font-size: 11px;line-height: 1; -webkit-font-smoothing: antialiased; color: #a58449; background: #FFFFFF;">
	<table border="0" style="border-sapcing: 0; border-collapse: collapse; width: 330px; max-width:330px;" width="330">
		<tr>
			<td valign="top" width="100">
				<img style="outline:0; width: 85px; max-width: 85px; height: 138px; max-height: 138px;" width="85" height="138" src="http://rockagency.com.au/edm-assets/suk/suk-logo.png"
				 alt="SUK Logo">
			</td>
			<td valign="middle" width="230">
				<span style="display: block; font-family: Helvetica, sans-serif; font-size: 14px; line-height: 1; font-weight: normal; text-transform: uppercase; letter-spacing: 1px; -webkit-font-smoothing: antialiased; color: #a58449;">Mimosa L Schmidt</span>
				<span style="display: block; font-family: Helvetica, sans-serif; font-size: 14px; line-height: 1; font-weight: lighter; letter-spacing: 1px; -webkit-font-smoothing: antialiased; color: #a58449;">Creative Director</span>
				<span style="font-size: 4px; line-height: 1; ">
					<br />
				</span>
				<a style="display: inline-block;  color: #a58449;" href="tel:+61401062611">
					<span style="font-family: Helvetica, sans-serif; font-size: 11px; line-height: 1; font-weight: normal; -webkit-font-smoothing: antialiased;">+61 401 062 611</span>
				</a>
				<br />
				<span style="font-size: 8px; line-height: 1;">
					<br />
				</span>
				<a style="display: inline-block; color: #a58449; text-decoration: underline;" href="mailto:mimosa@sukworkwear.com.au">
					<span style="font-family: Helvetica, sans-serif; font-size: 11px; line-height: 0.6; font-weight: lighter;  -webkit-font-smoothing: antialiased;">mimosa@sukworkwear.com.au</span>
				</a>
				<a style="display: inline-block; color: #a58449; text-decoration: underline; -webkit-font-smoothing: antialiased;" href="http://sukworkwear.com.au/">
					<span style="font-family: Helvetica, sans-serif; font-size: 11px; line-height: 0.6; font-weight: lighter; -webkit-font-smoothing: antialiased;">sukworkwear.com.au</span>
				</a>
				<br />
				<span style="font-size: 11px; line-height: 1;">
					<br />
				</span>
				<span style="display: block; font-family: Helvetica, sans-serif; font-size: 11px; line-height: 1; font-weight: lighter; color: #a58449; -webkit-font-smoothing: antialiased;">Level 10, Tower 4, World Trade Center,</span>
				<span style="display: block; font-family: Helvetica, sans-serif; font-size: 11px; line-height: 1; font-weight: lighter; color: #a58449; -webkit-font-smoothing: antialiased;">611 Flinders Street, Melbourne, Victoria 3000</span>
				<span style="font-size: 7px; line-height: 1;">
					<br />
				</span>
				<a style="vertical-align: top; display: inline-block; outline: none; border: 0; width: 15px; max-width: 15px; font-size: 11px; line-height: 0.6; text-decoration: none; "
				 href="https://www.instagram.com/sukworkwear/">
					<img style="outline:none; border: 0; height:15px; max-height:15px; width: 15px; max-width: 15px; margin-right: 12px;"
					 src="http://rockagency.com.au/edm-assets/suk/instagram.png" width="15" height="15" alt="Instagram">&nbsp;</a>
				<a style="vertical-align: top; display: inline-block; outline: none; border: 0; width: 12px; max-width: 12px; text-decoration: none;"
				 href="https://www.facebook.com/sukworkwear/">
					<img style="outline:none;  border: 0; height:15px; max-height:15px; width: 15px; max-width: 15px;" src="http://rockagency.com.au/edm-assets/suk/facebook.png"
					 width="15" height="15" alt="Facebook">
				</a>
				<br />
			</td>
		</tr>
	</table>
</div>