// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

$brand: #2e3947;

$theme-colors: (
	"brand": $brand,
	"link": $brand,
	"link hover": $brand,
	"white": #fff,
	"black": #000,
	"blue": #1b9dac,
	"green": #9fcc90,
	"satin": #d8cec1,
	"yellow": #fadb51,
	"orange": #f59f7e,
	"rose": #ad6e81,
	"content": #333333
);

// helper variables
$font-color: map-get($theme-colors, "brand");
$loud-color: map-get($theme-colors, "brand");
