@font-face {
	font-family: "GT Walsheim";
	src: url("../fonts/GTWalsheim-Light.woff2") format("woff2"),
		url("../fonts/GTWalsheim-Light.ttf") format("truetype"),
		url("../fonts/GTWalsheim-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GT Walsheim";
	src: url("../fonts/GTWalsheim-Medium.woff2") format("woff2"),
		url("../fonts/GTWalsheim-Medium.ttf") format("truetype"),
		url("../fonts/GTWalsheim-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

$primary: "GT Walsheim", sans-serif;
