///*------------------------------------*\
//    #SETTINGS-RESPONSIVE
//\*------------------------------------*/

// Hold our breakpoint aliases and conditions in a list.
//
// These can be invoked later on via the `mq()` mixin found in
// `_tools.responsive`. Or the 'mq()' alias.

$mq-breakpoints: (
	mobile: 375px,
	mobileLandscape: 600px,
	tablet: 770px,
	tabletWide: 1000px,
	laptop: 1280px,
	laptopWide: 1280px,
	desktop: 1440px,
	wideScreen: 1600px,
	// Old Breakpoints
		// 'palm':         260px,
		// 'medium-palm':  319px,
		// 'wide-palm':    459px,
		// 'x-wide-palm':  500px,
		// 'only-palm':    671px,
		// 'lap':          672px,
		// 'lap-wide':     800px,
		// 'desk':         960px,
		// 'deskplus':     1025px,
		// 'wall':         1250px,
		// 'wall-wide':    1800px,
);
// $mq-show-breakpoints: (mobile, tablet, laptop, desktop);

// If we have included this file, set a variable to tell the rest of the
// framework that we have some responsive settings.
$inuit-responsive-settings: true;
