.o-btn {
	padding: 11px 40px 13px;
	background-color: color("light-green");
	border: 2px solid color("light-green");
	@include font-size(18px, 0.95);
	border-radius: 200px;
	box-shadow: 4px 10px 20px rgba(41, 82, 52, 0.25);
	color: #fff;
	display: inline-block;
	text-decoration: none;
	transition: 0.25s;
	@include mq($until: mobileMed) {
		padding: 11px 24px 13px;
		width: 100%;
		line-height: 1;
	}
	&:hover {
		background-color: color("brand");
		border-color: color("brand");
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
	&--white {
		background-color: color("white");
		border: 2px solid color("white");
		color: color("brand");
		&:hover {
			color: color("white");
		}
	}
	&--outline {
		background-color: transparent;
		color: color("white");
		border: 2px solid color("white");
		&:hover {
			background-color: color("white");
			border-color: color("white");
			color: color("brand");
		}
	}
	&--video {
		svg {
			@include mq(mobileLarge) {
				margin-right: 10px;
			}
		}
	}
}
