.o-wrapper {
	@include inuit-clearfix();
	max-width: 1216px;
	margin: 0 auto;
	padding: 0 24px;
	@include mq(desktop) {
		padding: 0 48px;
	}
	&--mid {
		max-width: 1016px;
	}
	&--small {
		max-width: 826px;
	}
	&--large {
		max-width: 1376px;
	}
}
