h1,
h2,
h3,
h4,
h5 {
	font-family: $header-font;
	font-weight: bold;
	color: color('brand');
}

h3,
h4,
h5 {
	&.alt {
		margin-bottom: 24px;
		font-family: $text-font;
		font-weight: normal;
		letter-spacing: 1px;
		color: inherit;
	}
}

h1,
.#{$inuit-namespace}alpha {
	margin-bottom: 18px;
	letter-spacing: 1px;
	@include font-size(size('xxl'), .9);
	@include respond-to(lap) {
		@include font-size(size('xxxl'), .9);
	}
}

h2,
.#{$inuit-namespace}beta {
	margin-bottom: 12px;
	@include font-size(size('l'), 1);
	@include respond-to(lap) {
		@include font-size(size('xl'), 1.3);
	}
}

h3,
.#{$inuit-namespace}gamma {
	margin-bottom: 10px;
	@include font-size(size('b'), 1.3);
	@include respond-to(lap) {
		@include font-size(size('bl'), 1.3);
	}
}

h4 {
	@include font-size(size('sb'), 1.5);
	@include respond-to(lap) {
		@include font-size(size('b'), 1.5);
	}
	
}

h5 {
	@include font-size(size('s'), 1.3);
	@include respond-to(lap) {
		@include font-size(size('sb'), 1.3);
	}
}