strong,
b,
th {
	font-family: $text-imp-font;
	font-weight: bold;
}

small,
.u-flydirt {
	$size: size('xs');
	@include font-size($size, .75);
}

.u-minortext {
	$size: size('s');
	@include font-size($size);
}

.has-minortext {
	li,
	p {
		@extend .u-minortext;
	}
}
