// links
a {
	position: relative;
	color: color('white');
	text-decoration: none;
	cursor: pointer;
	@include font-size(size('sm'), 1.8);
	@include respond-to(lap) {
		@include font-size(size('base'), 1.8);
	}
	&::after {
		content: ' ';
		position: absolute;
		bottom: -2px;
		left: 50%;
		width: 0;
		height: 2px;
		background-color: color('text');
		opacity: 0;
		transform: translateX(-50%);
		transition: width .25s, opacity .25s;
		.c-nav-secondary & {
			height: 1px;
		}
	}
}