body {
	min-height: 100%;
	font-family: $body-font;
	color: color('text dark');
	@include font-size(size('sm'), 1.8);
	@include respond-to(lap) {
		@include font-size(size('base'), 1.8);
	}
	p {
		margin-bottom: 8px;
	}
	.imp,
	.imp p,
	.imp a {
		@extend h4;
		@extend h4.alt;
	}

	.medium,
	.medium p,
	.medium a {
		font-family: $text-font;
		letter-spacing: 1px;
		@include font-size(size('base'), 1.5);
		@include respond-to(lap) {
			@include font-size(size('s'), 1.5);
		}
	}
}

body,
html {
	// display: none;
	background-color: color('text');
}
.preload * {
	// -webkit-transition: none !important;
	// -moz-transition: none !important;
	// -ms-transition: none !important;
	// -o-transition: none !important;
	// transition: none !important;
}

.scroll-lock {
	overflow: hidden;
}

.is-blured {
	filter: blur(5px);
}