input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: color('brand');
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 5000s ease-in-out 0s;
}
input,
textarea {
	border: 0;
	font-family: $text-imp-font;
	color: color('brand');
	background: #f8f4ec;
	@include font-size(size('sm'), 1);
	&::-webkit-input-placeholder {
		color: rgba(color('brand'), .5);
	}
	&::-ms-input-placeholder {
		color: rgba(color('brand'), .5);
	}
	&::-moz-placeholder {
		color: rgba(color('brand'), .5);
	}
	&::placeholder {
		color: rgba(color('brand'), .5);
	}
	.c-footer__newsletter & {
		@include font-size(size('s'), 1);
		background-color: transparent;
		&::-webkit-input-placeholder {
			color: color('brand');
		}
		&::-ms-input-placeholder {
			color: color('brand');
		}
		&::-moz-placeholder {
			color: color('brand');
		}
		&::placeholder {
			color: color('brand');
		}
	}

	&:focus {
		outline: none;
	}
}
input[type=text],
input[type=email],
textarea {
	width: 100%;
	padding: 11px 12px;
	.c-footer__newsletter & {
		max-width: 430px;
		padding: 0 0 6px;
		border-bottom: 2px solid color('brand2');
		
	}
}
input[type=submit] {
	transition: color .5s;
	.c-contact & {
		display: inline-block;
		width: 196px;
		height: 47px;
		margin-top: 34px;
		border: 2px solid color('brand');
		font-family: $header-font;
		font-weight: bold;
		background-color: transparent;
		transition: .25s;
	}
	@include respond-to(lap) {
		.c-contact & {
			font-size: 19px;
			&:hover {
				color: color('text');
				background: color('brand');
			}
		}
	}
	.c-footer__newsletter & {
		position: absolute;
		top: 3px;
		margin-left: -53px;
	}
}

.screen-reader-response {
	display: none;
}
.wpcf7 {
	&-form {
		position: relative;
		&-control-wrap {
			position: relative;
			display: block;
			.c-footer__newsletter & {
				display: inline;
			}
		}
		label {
			font-family: $text-font;
			color: color('brand');
			@include font-size(14px, 1);
		}
	}
	&-validation-errors,
	&-mail-sent-ok,
	&-not-valid-tip {
		margin-top: 6px;
	}
	&-validation-errors,
	&-not-valid-tip {
		color: red;
		@include font-size(size('xs'), 1);
	}
	&-not-valid-tip {
		display: block;
		.c-footer__newsletter & {
			display: none;
		}
	}
}

// Custom Radio button & Checkbox
label.custom-radio,
label.custom-checkbox {
	position: relative;
	display: block;
	margin: 8px 0;
	padding-left: 24px;
	@include font-size(15px, 1.5);
	color: color('brand2');
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	span, a {
		@include font-size(15px, 1.5);
	}

	&:hover {
		input ~ .checkmark {
			background-color: rgba(color('brand2'), .4);
		}
	}
	input {
		position: absolute;
		cursor: pointer;
		opacity: 0;
		&:checked {
			~ .checkmark {
				&::after {
					display: block;
				}
			}
		}
	}

	.checkmark {
		position: absolute;
		top: 6px;
		left: 0;
		width: 11px;
		height: 11px;
		border: 1px solid color('brand2');
		background-color: color('text');
		&::after {
			content: "";
			position: absolute;
			top: 1px;
			left: 1px;
			display: none;
			width: 7px;
			height: 7px;
			background: color('brand2');
		}
	}
}

// Custom Radio Button
label.custom-radio {
	.checkmark,
	.checkmark::after {
		border-radius: 50%;
	}
}

// Custom Checkbox button
label.custom-checkbox {
	.checkmark,
	.checkmark::after {
		border-radius: 2px;
	}
}

// // Custom Select
// /* The container must be positioned relative: */
// .custom-select {
// 	position: relative;
// 	select {
// 		display: none; /*hide original SELECT element: */
// 	}
// }

// /* style the items (options), including the selected item: */
// .select-items div,
// .select-selected {
// 	padding: 8px 16px;
// 	border: 1px solid transparent;
// 	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
// 	color: color('brand2');
// 	cursor: pointer;
// }
// .select-selected {
// 	background-color: color('text');
// 	/* Style the arrow inside the select element: */
// 	&::after {
// 		content: "";
// 		position: absolute;
// 		top: 14px;
// 		right: 10px;
// 		width: 0;
// 		height: 0;
// 		border: 6px solid transparent;
// 		border-color: color('brand2') transparent transparent transparent;
// 	}
// 	&.select-arrow-active {
// 		&::after {
// 			border-color: transparent transparent color('brand2') transparent;
// 			top: 7px;
// 		}
// 	}
// }
// /* Style items (options): */
// .select-items {
// 	z-index: 99;
// 	background-color: color('text');
// }
// /* Hide the items when the select box is closed: */
// .select-hide {
// 	display: none;
// }
// .select-items div:hover,
// .same-as-selected {
// 	background-color: rgba(0, 0, 0, 0.1);
// }

// Button loading ajax
.ajax-loader {
	display: inline-block;
	width: 196px;
	height: 47px;
	pointer-events: none;
	background-color: color('brand');
	opacity: 0;
	transition: opacity .25s;
	&::after {
		content: " ";
		display: block;
		width: 22px;
		height: 22px;
		border: 2px solid color('text');
		border-top: 0;
		border-left: 0;
		border-radius: 100px;
		opacity: 0;
		animation: spin 1s linear infinite;
	}
	&.is-active {
		opacity: 1;
		&::after {
			opacity: 1;
		}
	}
	.c-contact &,
	#backorder-notification-container & {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 12px 30px;
		text-align: center;
		&::after {
			position: absolute;
			top: 32%;
			left: 44%;
		}
	}
	.c-footer__newsletter & {
		position: relative;
		width: 60px;
		height: 18px;
		margin-top: 0;
		margin-left: -53px;
		background-color: color('background');
		&::after {
			margin-left: 20px;
			border: 2px solid color('brand');
		}
	}
	
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}