.select2-selection__rendered,
.select2-selection__placeholder {
	padding: 0 !important;
	line-height: 1.5 !important;
	color: color('brand') !important;
}

.select2-selection,
.select2-selection--single {
	position: relative;
	height: unset !important;
	margin: 0 !important;
	border: 0 !important;
	background-color: #fbfaf6 !important;
	outline: 0;
}

.select2-container,
.select2-container--default,
.select2-selection--single,
.select2-selection__arrow {
	padding: 0;
	b {
		border-color: color('brand') transparent transparent transparent !important;
	}
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: -4px;
}
// .select2-container--default .select2-selection--single .select2-selection__placeholder