ul,
ol,
dl {
	margin-left: 0;
	list-style-position: inside;
}

%li_markers {
	padding-left: 16px;
	text-indent: -15px;
}

.c-cms-content li {
	@extend %li_markers;
}

%list-style-1 {
	position: relative;
	padding-left: 16px;
	list-style: none;
	&::after {
		content: ' ';
		position: absolute;
		top: 8px;
		left: 0;
		display: block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: color('brand');
	}
}