.c-story {
	a {
		color: color('brand');
		text-decoration: underline;
		@include respond-to(lap) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__stage {
		position: relative;
		padding: 140px 0 30px;
		overflow: hidden;
		color: color('text');
		@include respond-to(lap) {
			padding: 190px 0 120px;
		}
		&__bg {
			background-position: center center;
			background-size: cover;
		}
	}
	&__content {
		padding: 48px 0 0;
		@include respond-to(lap) {
			padding: 70px 0 0;
			.content {
				margin-bottom: 48px;
			}
		}
		.o-layout.even-item {
			.o-layout__item {
				&:first-of-type {
					@include respond-to(lap) {
						float: right;
					}
				}
			}
		}
	}
	&__container {
		position: relative;
		width: 100%;
		margin: 0 auto;
		img {
			margin-bottom: 24px;
			@include respond-to(lap-wide) {
				display: none !important;
			}
		}
		.c-story__stage &,
		.c-story__ambassadors & {
			max-width: 700px;
		}
	}
	&__image {
		display: none;
		@include respond-to(lap-wide) {
			display: inline-block; 
		}
	}
	&__ambassadors {
		.medium {
			margin-bottom: 48px;
			color: color('background');
			@include respond-to(lap) {
				margin-bottom: 60px;
			}
		}
		&_img,
		&_link {
			display: inline-block;
			@include respond-to(lap) {
				&:hover {
					img,
					svg {
						transform: scale(1.1);
					}
				}
			}
		}
		&_img {
			margin-bottom: 16px;
			overflow: hidden;
			img {
				transition: transform .25s;
			}
		}
		&_copy {
			h3 {
				margin-bottom: 0;
				color: color('text dark');
			}
			p {
				margin-bottom: 16px;
				font-family: $text-font;
				line-height: 1.5;
				color: color('brand');
			}
		}
	}
}