.c-instagram {
	margin-top: 60px;
	line-height: 0;

	&__each {
		position: relative;
		display: inline-block;
		padding-bottom: 100%;
		&_img {
			background-position: center right;
			background-size: cover;
		}
		&::after {
			display: none;
		}
		@include respond-to(lap) {
			&:hover {
				.shade {
					background-color: rgba(color('background'), .6);
				}
				.o-btn {
					opacity: 1;
				}
			}
		}
	}
	.o-btn {
		padding: 7px 33px;
		opacity: 0;
		transition: opacity .5s;
		@include font-size(17px, 1);
	}
	.shade {
		background-color: rgba(color('background'), 0);
		transition: background-color .5s;
	}
}

.wdi_feed_thumbnail_1 .wdi_photo_wrap_inner,
.wdi_feed_theme_1 .wdi_feed_wrapper,
.wdi_feed_container {
	border: 0 !important;
	background: transparent !important;
}
.wdi_feed_wrapper {
	width: calc(100% + 24px) !important;
	margin-left: -24px !important;
}
.wdi_feed_item {
	padding-left: 24px !important;
}
@include respond-to(only-palm) {
	#sb_instagram .sbi_type_carousel .sbi_playbtn, #sb_instagram .sbi_type_carousel .svg-inline--fa.fa-play, #sb_instagram .sbi_type_video .sbi_playbtn, #sb_instagram .sbi_type_video .svg-inline--fa.fa-play, .sbi_type_carousel .fa-clone,
	.sbi_type_video .svg-inline--fa.fa-play, .sbi_playbtn{
		display: none !important;
	}
	#sbi_images{
		.sbi_item{
			width: 33.333% !important ;
		}
	}
}

.spinner {
	position: relative;
	width: 40px;
	height: 40px;
	margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: color('brand2');
	opacity: .6;
	animation: sk-bounce 2s infinite ease-in-out;
	-webkit-animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
	animation-delay: -1.0s;
	-webkit-animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(0.0)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}