.c-sizechart {
	padding-top: 160px;
	&__container {
		h3,
		.cm {
			margin-bottom: 24px;
			color: color('brand2');
		}
		.cm {
			font-family: $text-imp-font;
		}
	}
	.product-link {
		position: relative;
		z-index: 100;
		display: inline-block;
		margin-bottom: 48px;
		&:hover {
			@include respond-to(lap) {
				text-decoration: underline;
			}
		}
	}
	
	&__body {
		position: relative;
		margin: 0 -12px 30px;
		padding: 0 24px;
		overflow-x: scroll;
		@include respond-to(lap) {
			margin: 0 0 30px;
			padding: 0 36px;

		}
		.cm {
			position: absolute;
			top: 50%;
			left: -48px;
			transform: rotate(-90deg) translateY(-50%);
		}
		.table-wrapper,
		tr,
		th,
		td {
			border: 0 !important;
			text-align: center;
		}

		th,
		td {
			&:first-of-type {
				padding-left: 12px;
				text-align: left;
			}
			&:last-of-type {
				padding-right: 12px;
			}
		}
		.table-wrapper {
			font-family: $text-font;
			font-size: 13px;
			background-color: #e8e0d1;
			tr {
				&:nth-child(odd) {
					background-color: #e4dac8;
				}
				th {
					font-family: $text-imp-font;
					background-color: color('white');
					vertical-align: bottom;
					&:first-of-type {
						font-size: 16px;
						color: color('brand2');
					}
				}
				td {
					border: 0;
					&:first-of-type {
						width: 250px;
						font-family: $text-imp-font;
					}
				}
			}
		}
	}
}

.c-sizechart-diagram {
	background-color: color('text');
	&__container {
		padding: 36px 0 0;
		&.even {
			background-color: color('white');
		}
	}
	&__content,
	&__tag {
		padding-top: 24px;
	}
	&__image {
		&-tag {
			.tag,
			.title {
				display: inline-block;
			}
			.tag {
				width: 20px;
				margin-right: 8px;
				padding: 3px;
				border-radius: 50%;
				@include font-size(14px, 1);
				font-family: $header-font;
				color: white;
				vertical-align: text-bottom;
				background: color('brand2');
			}
			.title {
				font-family: $text-imp-font;
				color: color('brand2');
			}
			.t-small {
				margin-bottom: 16px;
				padding-left: 31px;
			}
		}
		img {
			width: 134px;
			margin: 0 auto;
		}
	}
}