.c-section {
	padding: 48px 0;
	&--pad {
		padding: 100px 0 0;
		@include respond-to(lap) {
			padding: 180px 0 0;
		}
	}
	&--overlay {
		position: fixed !important;
		width: 100vw;
		overflow: auto;
		pointer-events: none;
		background-color: rgba(color('text'), .9);
		opacity: 0;
		&.is-open {
			z-index: 1000;
			pointer-events: all;
			opacity: 1;
		}
		a {
			font-family: $text-imp-font;
			color: color('brand2');
		}
		&__close {
			position: absolute;
			top: 24px;
			right: 24px;
			@include respond-to(desk) {
				top: 48px;
				right: 48px;
			}
		}
		&__container {
			position: relative;
			z-index: 100;
			overflow: hidden;
		}
		&__copy {
			padding: 0 12px;
			color: #091a1f;
		}
		&__body {
			padding: 36px 0 0;
		}
	}
}