.c-content {
	overflow: hidden;
}
.c-default {
	margin: 0 auto;
	p:first-of-type {
		@extend h4, h4.alt;
	}
	a {
		color: color('brand2');
		text-decoration: underline;
		@include respond-to(lap) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&.c-cart,
	&.c-checkout {
		a {
			text-decoration: none;
		}
	}
}