.c-skip {
	position: absolute;
	top: -10px;
	z-index: -999;
	width: 1px;
	height: 1px;
	overflow: hidden;
	@include attention() {
		top: $spacing-unit--small;
		left: 50%;
		z-index: 999;
		display: inline-block;
		width: auto;
		height: auto;
		transform: translateX(-50%);
	}
}

.c-site-nav {
	vertical-align: middle;
	@include respond-to(lap-wide-max) {
		display: none;
		.menu-toggle & {
			// position: absolute;
			// top: 50%;
			// left: 24px;
			display: block;
			// transform: translateY(-50%);
			.c-nav {
				.menu-item,
				&-cart {
					padding: 8px 0;
					a {
						@include font-size(size('b'), 1.5);
					}
				}
				&-cart {
					margin-bottom: 24px;
					.header-cart-count {
						&.bag-full {
							width: 56px;
						}
					}
				}
				&-cart,
				&-secondary {
					display: block;
				}
				&-secondary {
					a {
						@include font-size(size('sm'), 2);
						font-family: $body-font;
					}
				}
			}
		}
	}
	@include respond-to(lap-wide) {
		display: inline-block;
		width: 100%;
		&__primary,
		&__secondary {
			margin-top: 20px;
		}
		&__primary {
			float: left;
			padding-left: 170px;
		}
		&__secondary {
			float: right;
		}
		.c-nav {
			li {
				display: inline;
				margin-right: 30px;
			}
			&-secondary {
				display: none !important;
			}
			.header-cart-count {
				&.bag-full {
					width: 48px;
				}
			}
		}
	}
	.c-nav {
		margin-bottom: 0;
		list-style: none;
		&-cart {
			a {
				position: relative;
				&::after {
					display: none;
				}
			}
			.header-cart-count {
				display: inline-block;
				&.bag-empty {
					width: 24px;
				}
				&.bag-full {
					width: 48px;
				}
				.count {
					font-family: $header-font;
					font-weight: bold;
				}
			}
		}

		li {
			&.current-menu-item {
				a::after {
					width: 100%;
					opacity: 1;
				}
			}
		}
	}
}

.c-nav-toggle {
	position: absolute;
	top: 24px;
	right: 24px;
	display: inline-block;
	padding: 10px 0;
	line-height: 0;
	@include respond-to(lap-wide) {
		display: none;
	}
}

.menu-lable,
.menu-lable::after,
.menu-lable::before {
	content: " ";
	display: block;
	width: 40px;
	height: 2px;
	background-color: color('text');
}

.menu-lable {
	position: relative;
	transition: background-color .5s;

	&::before,
	&:after {
		position: absolute;
		left: 0;
		transition: transform .2s, top .2s .2s;
	}
	&::before {
		top: -8px;
	}
	&::after {
		top: 8px;
	}

	&.menu-toggle {
		background-color: transparent !important;
		&::before,
		&::after {
			top: 0;
			transition: top .2s, transform .2s .2s;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
	}
}