.c-home {
	padding: 48px 0;
	@include respond-to(lap) {
		padding: 80px 0;
	}

	&--video {
		padding: 0;
		@include respond-to(lap) {
			padding: 0;
		}
	}

	&__stage,
	&__story {
		position: relative;
		overflow: hidden;
		&__bg {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&__container {
			position: relative;
			width: 100%;
		}
	}

	&__stage-video-wrap {
		position: relative;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}

	&__stage-video {
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
	}

	&__stage {
		position: relative;
		height: 100vh;

		&__bg {
			&.cover {
				left: -100px;
				@include respond-to(x-wide-palm) {
					left: 0;
				}
			}
		}

		&__container {
			position: absolute;
			max-width: 80%;
			h1 {
				font-size: 65px;
				color: color('text');
			}
			@include respond-to(lap) {
				width: 100%;
				max-width: 920px;
				h1 {
					font-size: 100px;
					text-shadow: 1px 1px 15px #555;
				}
				.o-btn {
					margin-top: 18px;
				}
			}
		}
		&__shade {
			width: unset;
			background: linear-gradient(45deg, rgba(color('background'), .7) 0%, rgba(color('background'), 0) 100%);
			@include respond-to(desk) {
				background: linear-gradient(45deg, rgba(color('background'), .3) 0%, rgba(color('background'), 0) 100%);
			}
		}
	}

	&__story {
		@include respond-to(deskplus) {
			padding: 190px 0;
		}
		&__bg {
			top: -350px !important;
			background-position: center top;
			@include respond-to(lap) {
				top: -400px !important;
			}
		}
		&__shade {
			pointer-events: none;
			background-color: rgba(#040d0f, .6);
		}
		&__container {
			max-width: 520px;
			margin: 0 auto;
			color: color('text');
		}
	}

	&__products {
		// .imp {
		// 	max-width: 700px;
		// 	margin: 0 auto;
		// }
		.c-shop	{
			padding: 0 0 20px;
			@include respond-to(lap) {
				padding: 0 0 60px;
			}
			.c-products {
				&__each {
					width: 300px;
					height: 420px;
					margin: 0 12px;
					@include respond-to(lap) {
						width: 422px;
						height: 590px;
					}
				}
			}
		}
	}
}