.c-svgicon {
	transition: color .25s;
	&--logo {
		width: 87px;
		.c-footer & {
			width: 115px;
		}
		@include respond-to(lap-wide) {
			width: 112px;
		}
	}
	&--footerlogo {
		width: 108px;
		height: 172px;
	}
	&--bag,
	&--bag-full {
		position: absolute;
		top: 2px;
		right: 0;
		width: 21px;
		height: 21px;
		
		@include respond-to(lap) {
			top: -3px;
			margin-left: 8px;
			vertical-align: sub;
		}
	}
	&--bag-full {
		color: color('brand');
	}
	&--fbicon,
	&--twittericon,
	&--instaicon,
	&--websiteicon {
		width: 27px;
		height: 27px;
		margin: 0 6px;
		transition: transform .25s;
		
		.c-story__ambassadors &,
		.c-contact__left &,
		.c-footer__instagram & {
			width: 21px;
			height: 21px;
			margin-right: 12px;
			margin-left: 0;
			vertical-align: middle;
		}
		.c-story__ambassadors & {
			color: #70858b;
		}
	}

	&--close {
		width: 40px;
		height: 40px;
	}
	&--sizechart {
		width: 16px;
		height: 16px;
		margin-right: 6px;
		vertical-align: sub;
		transition: unset;
	}
}