.c-cart .product-variation,
.c-cart .product-quantity,
.c-cart .product-subtotal,
.c-cart__actions__left label,
.c-cart .coupon label,
.c-cart__actions__right span,
.c-cart .shop-link,
.checkout #pwgc-redeem-form label {
	font-family: $header-font;
	font-weight: bold;
}

.c-cart .product-variation .title,
.c-cart .product-quantity .title,
.c-cart .product-subtotal,
.c-cart .shop-link,
.c-cart__actions__left label,
.c-cart .coupon label,
.c-cart .woocommerce-error,
.checkout #pwgc-redeem-form label {
	color: color('brand2');
}

.c-cart {
	&__product {
		padding: 48px 0;
	}
	&__each {
		position: relative;
		margin-bottom: 24px;
		@include respond-to(lap) {
			&:hover {
				.c-cart__description {
					background-color: #fbfaf6;
					.product-name {
						transform: translateY(0);
					}
					.product-variation,
					.product-quantity {
						opacity: 1;
						transform: translateY(0);
					}
				}
				.product-remove {
					width: 20px;
				}
			}
		}
		.product-remove {
			position: absolute;
			top: 0;
			right: 0;
			width: 20px;
			height: 100%;
			background: #eb4221;
			transition: width .25s;
			img {
				height: 100%;
			}
			a {
				background-image: url('../img/cart-close.png');
				background-size: 25px;
				background-repeat: no-repeat;
				background-position: center;
			}

			@include respond-to(lap) {
				width: 0;
			}
		}
	}
	&__thumb {
		width: 25%;
		@include respond-to(wide-palm) {
			width: 10%;
		}
		.o-module__content {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	&__description {
		position: relative;
		width: 75%;
		padding: 12px 24px;
		background-color: #f8f4ec;
		transition: background-color .25s;
		@include respond-to(wide-palm) {
			width: 90%;
			padding: 24px 45px 12px 30px;
		}
		&__left {
			display: inline-block;
		}

		&__right {
			margin-bottom: 0 !important;
			@include respond-to(lap) {
				position: absolute;
				top: 50%;
				right: 45px;
				transform: translateY(-50%);
			}
		}

		.product-name {
			display: block;
			transition: .5s;
			@include respond-to(lap) {
				transform: translateY(16px);
			}
		}
		.product-quantity,
		.product-variation {
			margin-right: 24px;
			font-size: 15px;
			transition: .5s;
			@include respond-to(lap) {
				display: inline-block;
				height: 0;
				opacity: 0;
				transform: translateY(10px);
			}
			.quantity {
				display: inline-block;
			}
			.qty_plus,
			.qty_minus {
				display: inline-block;
				width: 20px;
				font-size: 20px;
				line-height: 1;
				color: color('brand');
			}
			.qty_minus {
				text-align: center;
			}
			input.qty {
				width: 20px;
				border: 0;
				background: transparent;
				outline: 0;
			}
			input[type=number] {
				color: color('text dark');
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
				}
			}
		}
	}
	.return-to-shop {
		margin-bottom: 60px;
	}

	.wc-backward,
	.wc-forward {
		text-decoration: none;
	}
	.woocommerce-notices-wrapper {
		.woocommerce-message {
			@include font-size(14px, 1.2);
			color: rgba(color('text dark'), .6);
		}
	}
}
.c-cart__actions {
	margin: 48px auto;
	background-color: color('white');
}

.c-cart__actions__left,
.c-cart .coupon,
.c-checkout .add_gift_card_form,
.c-checkout #pwgc-redeem-gift-card-form {
	position: relative;
	padding: 15px;
	background: white;
	@include respond-to(lap) {
		padding: 10px 24px;
	}
	label {
		display: block;
		margin-bottom: 12px;
		font-size: 19px;
	}
	button,
	input {
		padding: 0;
		border: 0;
		font-family: $text-imp-font;
		font-size: 15px;
		line-height: 1.4;
		color: color('brand');
		background-color: color('white');
		&:focus {
			outline: none;
		}
		&-text::-webkit-input-placeholder {
			color: color('brand');
		}
		&-text::-moz-placeholder {
			color: color('brand');
		}
		&-text::-ms-input-placeholder {
			color: color('brand');
		}
		&-text::-moz-placeholder {
			color: color('brand');
		}
		&-text::placeholder {
			color: color('brand');
		}
	}
	input[type=text] {
		width: 100%;
		border-bottom: 2px solid color('brand2');
	}
	button,
	input[type=submit] {
		display: inline-block;
		position: absolute;
		right: 24px;
		bottom: 18px;
		width: 120px;
		height: 24px;
		margin: 0 !important;
		padding: 0;
		text-align: right;
		transition: color .5s;
		@include respond-to(lap) {
			&:hover {
				color: color('brand2') !important;
			}
		}
	}
}

.c-checkout #wc_gc_cart_redeem_form {
	position: relative;
	margin-bottom: 0;
	button {
		background-color: transparent;
		right: 0;
		bottom: 4px;
		width: 46px !important;
	}
}

.c-checkout .add_gift_card_form,
.c-checkout #pwgc-redeem-gift-card-form {
	background: #f8f4ec;
	input {
		background: #f8f4ec;
	}

}
.c-cart__actions__right {
	padding: 24px;
	@include respond-to(lap) {
		padding: 32px 24px;
	}
	background-color: color('brand');
	span {
		&.t-float-left {
			font-size: 19px;
			color: color('text');
		}
		&.t-float-right {
			font-size: 25px;
			line-height: 25px;
			color: color('white');
		}
	}
	.cart-discount {
		.t-float-left,
		.t-float-right {
			font-size: 16px;
			.woocommerce-Price-amount {
				margin-right: 18px;
			}
			.woocommerce-remove-coupon {
				&::before {
					left: -18px;
				}
			}
		}
	}
}

.update-cart {
	display: none;
}
.processing {
	background-color: transparent !important;
}