.c-faq {
	&.c-section--overlay {
		padding: 160px 0;
	}
	a {
		color: color('brand2');
		text-decoration: underline;
		@include respond-to(lap) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__section {
		padding: 24px 0 12px;
		&_each {
			margin-bottom: 12px;
		}
	}
	&__border {
		&:not(:last-of-type) {
			border-bottom: 1px solid rgba(color('background'), .2);
		}
	}
}