.c-thankyou,
.c-thankyou .woocommerce-customer-details,
.c-thankyou .woocommerce-order-details {
	margin-top: 48px;
	@include respond-to(lap) {
		margin-top: 60px;
	}
}
.c-thankyou {
	.woocommerce-thankyou-order-received,
	h3,
	.woocommerce-order-details .product-name li strong {
		color: color('text dark');
	}

	&__order h5.value,
	.product-quantity,
	.woocommerce-order-details .product-name li p  {
		color: color('brand2') !important;
	}

	ul {
		margin: 0;
		li {
			list-style: none;
		}
	}

	.order-receive-text {
		font-family: $text-font;
	}

	&__order {
		.order-details {
			padding: 12px;
			background: #f8f4ec;
		}
		ul li {
			h5 {
				display: inline;
				&.title {
					color: color('brand');
				}
			}
		}
	}
	
	// ORDER DETAILS
	.woocommerce-order-details {
		margin-top: 48px;
		.order-row,
		.order-heading,
		.order-extra {
			margin: 0 -48px;
			padding: 14px 48px 10px;
		}
		
		.order-row,
		.order-extra {
			.product-name,
			.product-name .product-quantity,
			.product-name a,
			.product-total {
				@extend h5;
			}
		}
		.order-heading,
		.order-extra {
			border-bottom: 2px solid color('brand');
			* {
				color: color('text dark') !important;
			}
		}

		.order-row {
			border-bottom: 1px solid color('brand');
			background: #f8f4ec;
		}
		
		.product-name,
		.product-name *,
		.product-total {
			margin-bottom: 0 !important;
			line-height: 1;
		}
		.product-total {
			float: right;
			width: 30%;
			text-align: right;
		}
		.product-name {
			float: left;
			width: 68%;
			li {
				display: inline;
				margin-right: 12px;
				padding-left: 0;

				strong, p {
					display: inline;
					@include font-size(size('sm'), 1);
				}
			}
		}
	}

	// CUSTOMER DETAILS
	.woocommerce-customer-details {
		address {
			font-style: normal;
			@extend h5;
			color: color('text dark');
			
			p,
			p:first-of-type {
				margin-bottom: 0;
				@extend h5;
				color: color('text dark');
			}
		}
	}
}

