.c-product {
	&__single {
		z-index: 99;
		pointer-events: all;
	}
	&--description {
		position: relative;
		z-index: 99;
		.label,
		.qty_lable,
		.price,
		.added_to_cart::after,
		.shop-link,
		.c-product__sbox-total {
			margin: 18px 0 0;
			font-family: $text-imp-font;
			color: color('brand2');
		}
		.woocommerce-product-details__short-description,
		.short_desc_expand,
		.quantity,
		select,
		.extra-link a {
			color: color('text dark');
		}
		.price,
		.quantity,
		select,
		.c-product__sbox-total,
		.added_to_cart {
			font-family: $header-font;
			font-weight: bold;
		}
		.extra-link a,
		.shop-link {
			display: table;
			@include font-size(14px, 1.5);
		}
		
		h2 {
			position: relative;
			display: inline;
		}
		.price {
			display: inline-block;
			margin-top: 0;
			margin-left: 12px;
			font-size: 31px;
		}
		.woocommerce-product-details__short-description {
			height: 100%;
			max-height: 85px;
			margin-top: 18px;
			overflow: hidden;
			transition: max-height .75s;
			@include respond-to(lap) {
				max-height: 88px;
			}
			&.is-open {
				max-height: 500px;
			}
			ul {
				margin: 12px 0;
				li {
					@extend %list-style-1;
				}
			}
		}
		.short_desc_expand,
		.extra-link .delivery,
		.shop-link {
			@include respond-to(lap) {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.short_desc_expand {
			display: inline-block;
			margin: 6px 0 12px;
			line-height: 1.2;
		}
		.value {
			position: relative;
			display: inline-block;
			padding-right: 12px;
			border: 1px solid color('brand');
			.ajaxerrors {
				position: absolute;
				bottom: -32px;
				font-size: 13px;
				color: color('brand2');
			}
		}
		select {
			width: 188px;
			padding: 4px 32px 4px 12px;
			border: 0;
			font-size: 15px;
			background-color: transparent;
			background-image: url('../img/select.png');
			background-position: center right;
			background-repeat: no-repeat;
			background-size: 8px 6px;
			outline: 0;
			-webkit-appearance: none;
		}
		.shop-link {
			margin-top: 0px;
		}
	}
	&__sbox {
		position: relative;

		&-total {
			margin-bottom: 24px !important;
			@include font-size(20px, 1.2);
		}
		&__qty {
			margin-left: -10px !important;
			.qty_minus,
			.qty_plus {
				display: inline-block;
				width: 30px;
				margin-bottom: 0;
				color: color('brand2');
				text-align: center;
				vertical-align: text-bottom;
			}
			.quantity {
				display: inline-block;
				vertical-align:	text-bottom;
				input.qty {
					width: 30px;
					border: none;
					color: color('brand');
					text-align: center;
					background: transparent;
				}
				input[type=number]::-webkit-inner-spin-button,
				input[type=number]::-webkit-outer-spin-button {
					margin: 0;
					-webkit-appearance: none;
				}
			}
		}
	}
	.wc-backward,
	.wc-forward {
		display: block;
		margin-bottom: 12px;
		font-family: $text-font;
		letter-spacing: 1px;
		color: color('brand2');
		@include font-size(16px, 1.3);
		@include respond-to(x-wide-palm) {
			@include font-size(18px, 1.3);
			float: right;
		}
		@include respond-to(lap) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.woocommerce-notices-wrapper {
		margin-bottom: 12px;
		.woocommerce-message {
			@include font-size(14px, 1.2);
			color: rgba(color('text dark'), .6);
		}
	}

	&--addtocart {
		width: 188px;
		height: 42px;
		padding: 8px;
		border: 2px solid color('brand');
		font-family: $header-font;
		font-size: 19px;
		color: color('white');
		text-align: center;
	}
	.stock {
		margin-top: 6px;
		@include font-size(15px, 1.3);
	}
}

.cart-message-is-open {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100vh;
	background: rgba(255, 255, 255, 0.95);
	.c-svgicon {
		width: 30px;
		height: 30px;
	}
}

.c-product-slider {
	position: relative;
	height: 740px;

	&__wrapper {
		overflow: hidden;
	}

	&__coming-soon {
		background-color: rgba($color: #000000, $alpha: .5);
		z-index: 120;
		padding: 4px 12px;
		font-family: $text-imp-font;
	}
	@include respond-to(desk) {
		&:hover {
			.c-product-slider__prev,
			.c-product-slider__next {
				opacity: 1;
			}
		}
	}
	@include respond-to(desk) {
		height: 908px;
	}
	
	&__prev,
	&__next {
		position: absolute;
		top: 38%;
		z-index: 101;
		width: 38px;
		height: 45px;
		cursor: pointer;
		background: rgba(color('text'), .8);
		transition: opacity .4s;
		@include respond-to(desk) {
			top: 0;
			width: 45px;
			height: 800px;
			opacity: 0;
		}
		span {
			position: absolute;
			top: 50%;
			width: 12px;
			height: 2px;
			transform: translate(-50%, -50%);
			@include respond-to(lap) {
				left: 50%;
			}
			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: color('black');
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
	&__prev {
		left: 0;
		span {
			@include respond-to(only-palm) {
				left: 44%;
			}

			&::before {
				top: 3px;
			}
			&::after {
				top: -4px;
			}
		}
	}
	&__next {
		right: 0;
		span {
			@include respond-to(only-palm) {
				left: 56%;
			}

			&::before {
				top: -4px;
			}
			&::after {
				top: 3px;
			}
		}
	}
	&__pager {
		position: absolute;
		bottom: 0;
		z-index: 101;
		display: flex;
		width: 100%;
		overflow-x: auto;
		justify-content: center;
		background: transparent;
		a {
			position: relative;
			display: inline-block;
			height: 100px;
			max-width: 80px;
			margin-right:8px;
			border: 1px solid transparent;
			overflow: hidden;
			background-color: transparent;
			@include respond-to(wide-palm) {
			}
		}
		.cycle-pager-active {
			border-color: color('brand');
		}
	}
}
.c-product-slide {
	display: block;
	width: 100%;
	height: 630px;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	@include respond-to(desk) {
		height: 800px;
	}
}

// Back in stock notification
.cwginstock-subscribe-form {
	margin-top: 24px;
	.panel-primary.cwginstock-panel-primary {
		border: 1px solid color('brand');
		
		.panel-heading.cwginstock-panel-heading {
			border: 1px solid color('brand');
			background: color('brand');
		}

		.form-group.center-block {
			display: inline-block;
			margin-bottom: 0;
			&:first-of-type {
				float: left;
				width: 70%;
			}
			&:nth-of-type(2) {
				float: right;
				width: 30%;
			}
		}
		input {
			padding: 11px 12px;
			border: 2px solid color('brand');
			
			&[type="submit"] {
				@extend .o-btn;
				padding: 11px 22px 10px;
				border-left: 0;
				color: color('brand');
			}
		}

		.cwgstock_output {
			.cwginstocksuccess {
				color: color('brand') !important;
			}
		}
	}
}