.c-slider {
	position: relative;
	// padding-bottom: 58%;
	.c-slide {
		position: absolute;
		right: 0;
		left: 0;
	}

	&__pager {
		position: absolute;
		bottom: 12px;
		left: 50%;
		transform: translateX(-50%) scale(2);
	}
}