.o-animate-pageitem,
.o-animateup {
	opacity: 0;
}

.animated {
	opacity: 1;
	animation: fadeInUp 0.5s;
	animation-fill-mode: both;
}
.o-animation-delay {
	&-1 {
		animation-delay: 0.5s;
	}
	&-2 {
		animation-delay: 1s;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 60px, 0);
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
