.c-top {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100vw;
	min-height: 0;
	transition: opacity .75s, background-color .5s, min-height .25s, top .5s;
	a,
	.c-logo-wrap {
		font-family: $text-font;
		color: color('text');
		@include respond-to(lap-wide) {
			font-family: $text-imp-font;
		}
	}
	.c-logo-wrap {
		display: inline-block;
		line-height: 0;
		color: color('text');
		&::after {
			display: none;
		}
	}
	@include respond-to(lap-wide) {
		.c-logo-wrap {
			position: absolute;
			top: 45%;
			transform: translateY(-50%);
		}
		a:hover {
			&:after {
				width: 100%;
				opacity: 1;
			}
		}
	}
	&--default,
	&.nav-down {
		.c-site-nav a {
			color: color('text dark');
			&::after {
				background-color: color('text dark');
			}
		}
		.c-logo-wrap {
			color: color('brand2');
		}
		.menu-lable,
		.menu-lable::after,
		.menu-lable::before {
			background-color: color('brand2');
		}
	}
	&.nav-up {
		top: -100px;
		opacity: 0;
	}
	&.nav-down {
		top: 0;
		opacity: 1;
	}
	&.menu-toggle {
		min-height: 100vh;
		background-color: rgba(color('background'), .9) !important;
		transition: opacity .25s, background-color .5s;
		.c-logo-wrap,
		.c-site-nav a {
			color: color('white');
		}
		a::after,
		.menu-lable::after,
		.menu-lable::before {
			background-color: color('white') !important;
		}
	}
	&__banner {
		position: relative;
		display: none;
		width: 100% !important;
		padding: 10px 48px 12px 24px;
		line-height: 1.3;
		color: color('text');
		background: color('background');
		@include respond-to(lap) {
			padding: 15px 48px;
			text-align: center;
		}
		p {
			margin: 0;
		}
		a {
			color: color('brand');
		}
		.o-btn {
			&:after {
				content: none;
			}
		}
		&-close {
			position: absolute;
			top: 14px;
			right: 14px;
			font-size: 0;
			color: color('text');
			&:hover {
				color: color('brand');
			}
			&:after {
				content: none;
			}
			svg {
				width: 24px;
				height: 24px;
				@include respond-to(lap) {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}
.c-header {
	position: relative;
	padding: 8px 0;
}