.alignleft,
.alignright,
.aligncenter,
.alignnone {
	display: block;
	height: auto;
	margin-bottom: spacer(.5);
	// padding: $spacing-unit--small;
	border-radius: $base-round;
	overflow: hidden; // fix caption margin
	background: color('white');
	box-shadow: 0 0 4px rgba(black, .1);
	// for caption
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.alignleft {
	width: 100%;
	margin-bottom: spacer(.5);
	@include respond-to(wide-palm) {
		float: left;
		width: 40%;
		max-width: 40%;
		margin-right: spacer(1);
		clear: left;
	}
	// for caption
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.alignright {
	width: 100%;
	margin-bottom: spacer(.5);
	@include respond-to(wide-palm) {
		float: right;
		width: 40%;
		max-width: 40%;
		margin-left: spacer(1);
		clear: right;
	}
}

.aligncenter {
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.alignnone {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}

.wp-caption-text {
	margin: $spacing-unit--tiny $spacing-unit--small;
	@include font-size(size('s'));
	font-style: italic;
	text-align: center;
}