.c-checkout {
	a {
		color: color('brand2');
	}

	// Checkout fields
	.woocommerce-billing-fields,
	.woocommerce-shipping-fields {
		width: 100%;
	}
	.woocommerce-billing-fields,
	.woocommerce-shipping-fields,
	.woocommerce-checkout-review-order,
	.woocommerce-checkout-payment {
		margin: 48px auto 0;
	}
	.woocommerce-billing-fields__field-wrapper,
	.woocommerce-terms-and-conditions-wrapper,
	.woocommerce-additional-fields__field-wrapper,
	.woocommerce-shipping-fields__field-wrapper {
		margin-left: -36px;
	}
	.form-row {
		width: 100%;
		margin-bottom: 24px !important;
		padding-left: 36px;
		letter-spacing: unset !important;
		@include respond-to(lap) {
			display: inline-block;
			width: 50%;
			// margin-left: 3%;
		}
		.screen-reader-text {
			position: unset !important;
			width: unset;
			height: unset;
		}

		&#billing_first_name_field,
		&#billing_company_field,
		&#billing_address_1_field,
		&#billing_state_field,
		&#billing_phone_field,
		&#shipping_first_name_field,
		&#shipping_company_field,
		&#shipping_address_1_field,
		&#shipping_state_field,
		&#shipping_phone_field {
			// margin-right: 3%;
			// margin-left: 0;
		}

		&#billing_address_2_field,
		&#shipping_address_2_field {
			.optional {
				display: none !important;
			}
		}
		abbr {
			display: none !important;
		}

		label {
			display: block;
			margin-bottom: 6px;
			font-family: $text-font;
			font-size: 14px;
			color: color('brand');
		}

		input,
		.select2 {
			width: 100%;
			height: 40px;
			padding: 10px 20px;
			border: 0;
			font-family: $text-imp-font;
			font-size: 15px;
			line-height: 1.5;
			color: color('brand');
			background-color: #fbfaf6;
			outline: 0;

			&::-webkit-input-placeholder {
				font-family: $text-imp-font;
				font-size: 15px;
				color: #c4af89
			}
			&::-ms-input-placeholder {
				font-family: $text-imp-font;
				font-size: 15px;
				color: #c4af89
			}
			&::-moz-placeholder {
				font-family: $text-imp-font;
				font-size: 15px;
				color: #c4af89
			}
			&::placeholder {
				font-family: $text-imp-font;
				font-size: 15px;
				color: #c4af89
			}
		}
	}
	#ship-to-different-address {
		margin-bottom: 24px;
	}

	// Order details
	.woocommerce-checkout-review-order {
		.cart_item {
			margin-bottom: 24px;
		}
		.product-name,
		.product-quantity,
		.product-variation,
		.product-total,
		.shipping,
		.order-total {
			font-family: $header-font;
			font-size: 20px;
			font-weight: bold;
			line-height: 1.3;
			color: color('brand');
		}

		.product-variation,
		.product-quantity,
		.order-total {
			color: color('brand2');
		}
		.product-variation {
			display: inline-block;
			margin-right: 24px;
			font-size: 15px;
		}
		.order-total {
			font-size: 25px;
		}
		.shipping {
			margin: 24px -24px;
			padding: 12px 24px;
			border: 2px solid color('brand');
			border-right: 0;
			border-left: 0;

			.woocommerce-Price-amount {
				float: right;
				@include font-size(20px, 1.5);
				color: color('brand');
			}
			.woocommerce-shipping-methods {
				li {
					padding-left: 0;
					text-indent: 0;
					list-style: none;
				}
			}
		}
	}

	// Payment Methods
	.woocommerce-checkout-payment {
		padding: 48px 0;
		.wc_payment_methods {
			margin: 48px 0 24px;
			li {
				padding: 6px 12px;
				border-top: 1px solid color('brand');
				text-indent: 0;
				list-style: none;
				background: #f8f4ec;
				&:first-of-type {
					border-top: 2px solid color('brand');
				}
				&:last-of-type {
					border-bottom: 2px solid color('brand');
				}
			}
			label {
				img {
					display: none;
				}
				a {
					@include font-size(size('xs'), 1.2);
					margin-left: 12px;
					color: color('text dark');
					text-decoration: underline;
				}
			}
			.payment_box {
				padding-left: 28px;
				p {
					@include font-size(size('sm'), 1.2);
					margin-bottom: 6px;
				}
				#wc-braintree-credit-card-credit-card-form {
					border: 0;
				}
				.img-wrapper {
					width: 40px;
					margin: 5px auto 0;
				}
			}
		}
		.o-btn {
			margin-top: 48px;
			padding: 12px 36px;
		}
		.woocommerce-terms-and-conditions-wrapper {
			.woocommerce-terms-and-conditions {
				border: 1px solid color('brand');
				padding: 16px;
			}
		}
	}
}

.woocommerce-error,
.woocommerce-message {
	color: color('brand2');
}

.cart-discount {
	.t-float-left,
	.t-float-right {
		font-family: $header-font;
		font-size: 20px;
		font-weight: bold;
		color: color('brand');
		.woocommerce-Price-amount {
			margin-right: -4px;
		}
	}
	.woocommerce-remove-coupon {
		position: relative;
		display: inline-block;
		font-size: 0px;
		color: transparent;
		&::before {
			content: '';
			position: absolute;
			top: -14px;
			left: 6px;
			width: 18px;
			height: 18px;
			background-image: url('../img/inline/close.svg');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

.blockUI.blockOverlay {
	background: rgba(color('text'), .9) !important;
}
