.c-contact {
	&__left {
		a, span {
			font-family: $text-font;
			font-size: 19px;
			@include font-size(19px, 1.2);
			color: color('brand');
		}
		a {
			text-decoration: underline;
		}
		
		.address,
		.c-footer__social {
			padding-top: 16px;
		}
	}
	&__left,
	&__right {
		@include respond-to(lap) {
			max-width: 500px;
			a:hover {
				opacity: .7;
			}
		}
	}
}