.c-shop {
	&-cat {
		position: relative;
		display: block;
		width: 100%;
		padding-bottom: 140%;
		&:hover {
			&:after {
				background-color: rgba(#000, .55);
			}
		}
		&:after,
		&__img {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&__img {
			z-index: 1;
		}
		&:after {
			content: '';
			z-index: 2;
			background-color: rgba(#000, .35);
			opacity: 1;
			transform: none;
			transition: .25s;
		}
		&__title {
			position: absolute;
			top: 50%;
			left: 24px;
			z-index: 3;
			width: calc(100% - 48px);
			font-size: 22px;
			color: color('text');
			text-align: center;
			transform: translateY(-50%);
		}
	}
	&__header {
		margin-bottom: 36px;
	}
	&--filter {
		* {
			font-family: $text-imp-font;
			@include font-size(size('base'), 1.9);
		}
		.filter-title  {
			position: relative;
			img {
				position: absolute;
				top: 20px;
				right: 24px;
				width: 10px;
				transform: rotate(0);
				transition: transform .5s;
			}
			span {
				text-transform: capitalize;
			}
		}
		ul {
			list-style: none;
		}
		@include respond-to(only-palm) {
			max-height: 44px;
			margin: 0 -24px;
			overflow: hidden;

			transition: max-height .5s;
			&.is-open {
				max-height: 500px;
				.filter-title img {
					transform: rotate(180deg);
				}
			}
			a {
				display: block;
				padding: 8px 24px;
				border-bottom: 1px solid rgba(color('text'), .5);
				color: color('text');
				background: rgba(color('background'), .8);
				&.is-active {
					background: rgba(color('background'), .9);
				}
			}
			.filter-title {
				color: color('text');
				background: color('background');
			}
		}
		@include respond-to(lap) {
			.filter-title {
				color: color('text dark');
				pointer-events: none;
				img, span {
					display: none;
				}
			}
			ul {
				li a {
					display: inline-block;
					color: #848c8f;
					&.is-active,
					&:hover {
						color: color('brand2');
					}
				}
			}
		}
	}
}