.c-products {
	min-height: 52vh;
	&__item {
		position: relative;
		display: block;
		@include respond-to(lap) {
			overflow: hidden;
			&:hover {
				.c-products__item_each .product-img-hover,
				.c-products__item_each .coming-soon-hover {
					opacity: 1;
				}
				.c-products__info {
					bottom: 0;
					background: color('text');
					opacity: 1;
				}
			}
		}
		&_each {
			position: relative;
			height: 100%;
			padding-bottom: 140%;
			.onsale {
				display: none;
			}
			.product-img,
			.product-img-hover {
				width: 100%;
				height: 100%;
				transition: opacity .5s;
			}
			.product-img-hover {
				opacity: 0;
			}
			.coming-soon-hover {
				opacity: 1;
				background-color: rgba($color: #000000, $alpha: .5);
				z-index: 2;
			}
		}
	}
	&__info {
		position: absolute;
		right: -1px;
		bottom: -1px;
		left: -1px;
		display: block;
		padding: 12px 1px 0;
		background: color('text');
		opacity: 1;
		transition: .5s;
		@include respond-to(lap) {
			bottom: -100px;
			background: transparent;
			opacity: 0;
		}
		h2, .price {
			margin-bottom: 0;
			line-height: 1;
		}
		h2 {
			display: inline;
			@extend h4;
			color: color('text dark') !important;
			@include respond-to(wall) {
				float: left;
				width: 70%;
			}
			.c-home & {
				@extend h3;
			}
		}
		.price {
			float: right;
			text-align: right;
			@include respond-to(wall) {
				width: 29%;
			}
			del {
				display: none;
			}
			ins {
				border: 0;
			}
		}
	}
}