.c-footer {
	font-family: $text-font !important;
	color: rgba(color('text'), .75);
	background-color: color('brand');
	a {
		display: inline-block;
		color: rgba(color('text'), 1);
		@include font-size(size('s'), 1.9);
		transition: color .25s, text-decoration .25s;
	}
	ul {
		list-style: none;
	}

	&__instagram {
		padding: 60px 0;
		color: color('brand');
		background-color: color('text');
		@include respond-to(lap) {
			padding: 115px 0 60px;
		}
		h2 {
			color: color('brand2');
			@include respond-to(deskplus) {
				font-size: 40px;
			}
		}
	}

	&__newsletter {
		padding: 32px 0 13px;
		background-color: color('background');
		@include respond-to(lap) {
			padding: 52px 0 56px;
		}
		h3 {
			color: color('text');
		}
	}
	&__content {
		padding: 48px 0 24px;
		@include respond-to(desk) {
			padding: 72px 0 48px;
		}
	}

	&__menu {
		display: none;
		@include respond-to(desk) {
			display: inline-block;
			padding-top: 20px;
		}
		li {
			a {
				&::after {
					bottom: 2px;
					background-color: color('text');
				}
				@include respond-to(lap) {
					&:hover {
						&:after {
							@include respond-to(lap) {
								width: 100%;
								opacity: 1;
							}
						}
					}
				}
			}
		}
		&-2 {
			li {
				margin: 0 auto;
				margin-left: 10%;
			}
		}
	}
	&__social {
		padding-top: 16px;
		@include respond-to(desk) {
			padding-top: 75px;
		}
		li {
			display: inline-block;
		}
		a {
			@include respond-to(lap) {
				&:hover {
					.c-svgicon {
						transform: scale(1.2);
					}
				}
			}
		}
	}
	&__contact,
	&__copy {
		a {
			text-decoration: underline;
			@include respond-to(lap) {
				&.phone {
					text-decoration: none;
					pointer-events: none;
				}
				&:hover {
					color: rgba(color('text'), .75);
				}
			}
		}
	}
	&__contact {
		margin: 0 auto;
		text-align: center;
		@include respond-to(desk) {
			padding-top: 50px;
			text-align: right;
		}
		h3 {
			color: color('text');
		}
		
		span,
		a,
		p {
			margin-bottom: 0;
			@include font-size(size('base'),1.5);
		}
		span {
			font-family: $header-font !important;
			font-weight: bold;
		}
	}
	&__copy {
		padding-bottom: 24px;
		line-height: 1.4;

		@include respond-to(desk) {
			padding-bottom: 40px;
		}

		span,
		p,
		a {
			@include font-size(size('xs'), 1.3);
			display: inline;
		}
	}
}

