.c-ethics {
	a {
		color: color('brand');
		text-decoration: underline;
		@include respond-to(lap) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__stage {
		position: relative;
		padding: 85px 0;
		overflow: hidden;
		color: color('text');
		@include respond-to(lap) {
			padding: 155px 0;
		}
		&__bg {
			background-position: center center;
			background-size: cover;
		}
	}
	&__content {
		padding: 48px 0;
		@include respond-to(lap) {
			padding: 70px 0 24px;
		}
	}
}