/*! Flickity v2.2.0
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
	position: relative;
}

.flickity-enabled:focus {
	outline: none;
}

.flickity-viewport {
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
	border: 0;
	color: color('black');
	cursor: pointer;
	background: transparent;
}

.flickity-button:focus {
	outline: none;
}

.flickity-button:active {
	opacity: 1;
}

.flickity-button:disabled {
	opacity: 0;
	cursor: auto;
	pointer-events: none;
}

.flickity-button-icon {
	fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
	position: absolute;
	top: 36%;
	width: 38px;
	height: 45px;
	background: rgba(color('text'), .6);
	@include respond-to(lap) {
		top: 0;
		width: 45px;
		height: 100%;
	}
}

.flickity-prev-next-button.previous {
	left: 0;
}
.flickity-prev-next-button.next {
	right: 0;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
	right: 0;
	left: auto;
}
.flickity-rtl .flickity-prev-next-button.next {
	right: auto;
	left: 0;
}

.flickity-prev-next-button .flickity-button-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 35%;
	height: 50%;
	transform: translate(-50%, -50%);
}

/* ---- page dots ---- */

.flickity-page-dots {
	display: none;
}

.flickity-rtl .flickity-page-dots {
	direction: rtl;
}
