.o-wrapper {
	@extend .clearfix;
	width: 100%;
	max-width: 1286px;
	margin: 0 auto;
	padding: 0 $spacing-unit;
	@include respond-to(desk) {
		padding: 0 $spacing-unit--large;
	}
	&--small {
		max-width: 1116px;
	}
	&--mini {
		max-width: 776px;
	}
	&--large {
		max-width: 1816px;
	}
	&--full {
		max-width: 100%;
		@include respond-to(wall-wide) {
			padding: 0 86px;
		}
	}
	
}