.o-btn {
	display: inline-block;
	padding: 8px 40px;
	border: 2px solid color('brand');
	border-radius: 0;
	font-family: $header-font;
	font-weight: bold;
	line-height: 1;
	color: color('text dark');
	background-color: transparent;
	transition: .25s;
	@include respond-to(deskplus) {
		padding: 12px 30px;
		font-size: 19px;
	}
	&:focus {
		outline: 0;
	}
	&:hover {
		color: #FFF;
		background-color: color('brand');
		&::after {
			opacity: 0;
		}
	}
	&--white {
		color: inherit;
	}
	&__cart {
		margin-bottom: 12px;
		color: color('white');
		background-color: color('brand');
		&:focus,
		&:hover {
			color: color('brand');
			background-color: color('text');
			outline: none;
		}
	}

	&--brand {
		border: 0;
		color: #fff;
		background: color('brand');
		&:hover {
			background: tint(color('brand'), 20%);
		}
	}

	&--checkout {
		display: table;
		margin: 48px auto 12px;
		color: color('brand');
	}
	&--sizeChart {
		margin-bottom: 16px;
		padding: 6px 18px;
		border: 1px solid color('brand2');
		&:hover {
			color: white !important;
			background: color('brand2');
		}
	}
}