.o-main,
.o-side {
	// @include respond-to(lap) {
	//   float: left;
	// }
}

.o-layout {
	> .o-layout__item {
		margin-bottom: 24px;
		padding-left: 24px;
	}
	&--flush {
		margin-left: 0;
		> .o-layout__item {
			margin-bottom: 0;
			padding-left: 0;
		}
	}
	@include respond-to(lap) {
		&--small {
			margin-left: -16px;
			> .o-layout__item {
				margin-bottom: 16px;
				padding-left: 16px;
			}
		}
		&--large {
			margin-left: -48px;
			> .o-layout__item {
				margin-bottom: 24px;
				padding-left: 48px;
			}
		}
		&--huge {
			margin-left: -80px;
			> .o-layout__item {
				margin-bottom: 60px;
				padding-left: 80px;
			}
		}
	}
}