// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

$brand: #eb4221;

$theme-colors: (
	'brand2': $brand,
	'brand': #a58449,
	'link': #a58449,
	'link hover': $brand,
	'white': #FFF,
	'black': #000,
	'text': #f1eada,
	'text dark': #091a1f,
	'background': #11343d,
);


// helper variables
$font-color: map-get($theme-colors, 'brand');
$loud-color: map-get($theme-colors, 'brand');
