@font-face {
	font-family: 'AvenierNext Medium';
	font-style: normal;
	src:
		url('../fonts/AvenierNext-Medium.eot') format('embedded-opentype'),
		url('../fonts/AvenierNext-Medium.woff') format('woff'), 
		url('../fonts/AvenierNext-Medium.ttf')  format('truetype'),
		url('../fonts/AvenierNext-Medium.svg#AveneirNext-Medium') format('svg');
}

@font-face {
	font-family: 'AvenierNext Demi';
	font-style: normal;
	src:
		url('../fonts/AvenierNext-Demi.eot') format('embedded-opentype'),
		url('../fonts/AvenierNext-Demi.woff') format('woff'), 
		url('../fonts/AvenierNext-Demi.ttf')  format('truetype'),
		url('../fonts/AvenierNext-Demi.svg#AvenierNext-Demi') format('svg');
}

@font-face {
	font-family: 'AvenierNext Regular';
	font-style: normal;
	src:
		url('../fonts/AvenirNextLTPro-Regular.eot') format('embedded-opentype'),
		url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), 
		url('../fonts/AvenirNextLTPro-Regular.ttf')  format('truetype'),
		url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
}

@font-face {
    font-family: 'matrixbold';
    src: url('../fonts/matrix_bold.eot');
    src: url('../fonts/matrix_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/matrix_bold.woff2') format('woff2'),
         url('../fonts/matrix_bold.woff') format('woff'),
         url('../fonts/matrix_bold.ttf') format('truetype'),
         url('../fonts/matrix_bold.svg#matrixbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

$text-font: "AvenierNext Medium", sans-serif;
$text-imp-font: "AvenierNext Demi", sans-serif;
$header-font: "matrixbold", serif;
// $header-font: "matrix-ii", serif;
$body-font: "AvenierNext Regular", sans-serif;