// Typography
$base-font-size: 16px;
$base-line-height: 24px;

//Maintain a typographic modular scale by only choosing font-size form the following map
//See tools.functions for size() helper function.

$modular_scale: (
	'xs':   13px,
	'sm':	15px,
	'base': $base-font-size,
	's':    18px,
	'sb':	20px,
	'b':    22px,
	'bl':	25px,
	'l':    32px,
	'xl':   40px,
	'xxl':  48px,
	'xxxl': 65px
);

// Z-index management. Read the following article.
// http://www.smashingmagazine.com/2014/06/12/sassy-z-index-management-for-complex-layouts/
// Also see tools.functions for z() helper function.
$site-elements: sidebar, slider, slider-controls, top, site-nav, access;


// Measurements and common values
$sitewidth:        100%;
$max-side-width:   400px;
$base-round:       3px;

// set inuit config
$inuit-base-font-size:              $base-font-size;
$inuit-base-line-height:            $base-line-height;