// Whole
.u-one-whole			{ width: 100%; }

//  Halves
.u-one-half,
.u-two-quarters,
.u-three-sixths,
.u-four-eighths,
.u-five-tenths,
.u-six-twelfths			{ width: 50%; }

//  Thirds
.u-one-third,
.u-two-sixths,
.u-three-ninths,
.u-four-twelfths		{ width: 33.3333333%; }
.u-two-thirds,
.u-four-sixths,
.u-six-ninths,
.u-eight-twelfths		{ width: 66.6666666%; }

//  Quarters
.u-one-quarter,
.u-two-eighths,
.u-three-twelfths		{ width: 25%; }
.u-three-quarters,
.u-six-eighths,
.u-nine-twelfths		{ width: 75%; }

// Fifths
.u-one-fifth,
.u-two-tenths			{ width: 20%; }
.u-two-fifths,
.u-four-tenths			{ width: 40%; }
.u-three-fifths,
.u-six-tenths			{ width: 60%; }
.u-four-fifths,
.u-eight-tenths			{ width: 80%; }

// Sixths
.u-one-sixth,
.u-two-twelfths			{ width: 16.6666666%; }
.u-five-sixths,
.u-ten-twelfths			{ width: 83.3333333%; }

// Eights
.u-one-eighth			{ width: 12.5%; }
.u-three-eighths		{ width: 37.5%; }
.u-five-eighths			{ width: 62.5%; }
.u-seven-eighths		{ width: 87.5%; }

// Ninths
.u-one-ninth			{ width: 11.1111111%; }
.u-two-ninths			{ width: 22.2222222%; }
.u-four-ninths			{ width: 44.4444444%; }
.u-five-ninths			{ width: 55.5555555%; }
.u-seven-ninths			{ width: 77.7777777%; }
.u-eight-ninths			{ width: 88.8888888%; }

// Tenths
.u-one-tenth			{ width: 10%; }
.u-three-tenths			{ width: 30%; }
.u-seven-tenths			{ width: 70%; }
.u-nine-tenths			{ width: 90%; }

// Twelves
.u-one-twelfth			{ width:  8.3333333%; }
.u-five-twelfths		{ width: 41.6666666%; }
.u-seven-twelfths		{ width: 58.3333333%; }
.u-eleven-twelfths		{ width: 91.6666666%; }
