// Theme Check Required classes
.wp-caption {

}

.gallery-caption {

}

.sticky {

}

.bypostauthor {

}

// Text meant only for screen readers.
.screen-reader-text {
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:focus {
	top: 5px;
	left: 5px;
	z-index: 100000; // Above WP toolbar.
	display: block;
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	border-radius: 3px;
	clip: auto !important;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: normal;
	color: #21759b;
	text-decoration: none;
	background-color: #f1f1f1;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}

.cover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hide-on-mobile {
	display: none !important;
	@include respond-to(x-wide-palm) {
		display: inline-block;
	}
}

.t {
	&-align {
		&-center {
			text-align: center;
		}
		&-left {
			text-align: left;
		}
		&-right {
			text-align: right;
		}
	}
	&-float {
		&-left {
			float: left;
		}
		&-right {
			float: right;
		}
	}
	&-small {
		@include font-size(size('xs'), 1.5);
		p, a, li, span {
			@include font-size(size('xs'), 1.5);
		}
	}
}