.o-btn {
	display: inline-block;
	padding: 7px 22px;
	background: color("secondary");
	transition: 0.25s;
	text-decoration: none;
	border-radius: 6px;
	box-shadow: 0;
	border: 1px solid color("secondary");
	@include font-size(18px, 26px);
	transition: 0.3s;
	font-family: $font-med;
	color: #fff;
	cursor: pointer;

	&:hover {
		transform: scale(1.03);
		box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
	}

	&--secondary {
		color: color("primary");
		background-color: color("white");
		border-color: color("primary");

		&:hover {
			background-color: color("white");
		}
	}
	&--tertiary {
		color: color("white");
		background-color: color("primary");
		border-color: color("primary");

		&:hover {
			border-color: color("white");
			background-color: color("white");
			color: color("primary");
		}
	}

	&--med {
		padding: 7px 16px;
	}

	&--no-border {
		border-color: transparent;
	}

	&--full {
		padding: 7px 10px;
		width: 100%;
		text-align: center;
	}

	&--full-desktop {
		padding: 7px 10px;
		width: 100%;
		text-align: center;

		@include mq($until: tablet) {
			padding: 7px 22px;
			width: initial;
		}
	}

	&--no-shadow {
		&:hover {
			box-shadow: none;
		}
	}
}

.o-arrow {
	@include font-size(18px, 28px);
	color: color("primary");
	font-family: $font-med;
	position: relative;
	text-decoration: none;

	&:hover {
		&::after {
			right: -60px;
		}
	}

	&::after {
		background-image: url("../img/inline/link-arrow.svg");
		content: "";
		position: absolute;
		right: -50px;
		top: 50%;
		background-position: cover;
		transform: translateY(-50%);
		height: 14px;
		width: 39px;
		background-repeat: no-repeat;
		transition: 0.25s;
	}
}
