.o-main,
.o-side {
	// @include mq(lap) {
	//   float: left;
	// }
}

.o-layout {
	> .o-layout__item {
		margin-bottom: 24px;
	}
	&--grid {
		margin-left: -38px;
		> .o-layout__item {
			margin-bottom: 32px;
			padding-left: 38px;
		}

		@include mq($until: tablet) {
			> .o-layout__item {
				margin-bottom: 24px;
			}
		}
	}

	&--reports {
		margin-left: -34px;

		> .o-layout__item {
			margin-bottom: 30px;
			padding-left: 34px;
		}
	}

	&--med {
		margin-left: -38px;
		text-align: center;
		> .o-layout__item {
			margin-bottom: 38px;
			padding-left: 38px;
		}

		@include mq($until: tablet) {
			margin-left: -24px;

			> .o-layout__item {
				margin-bottom: 24px;
				padding-left: 24px;
			}
		}
	}
	&--large2 {
		margin-left: -48px;
		> .o-layout__item {
			margin-bottom: 48px;
			padding-left: 48px;
		}
	}
	&--large3 {
		margin-left: -52px;
		> .o-layout__item {
			margin-bottom: 52px;
			padding-left: 52px;
		}
	}
	&--flush {
		> .o-layout__item {
			margin-bottom: 0;
		}
	}
	&--contact {
		@include mq($until: tablet) {
			> .o-layout__item {
				margin-bottom: 10px;
			}
		}
	}
}
