.o-wrapper {
	@include inuit-clearfix();
	max-width: 1368px;
	margin: 0 auto;
	padding: 0 40px;
	@include mq($until: tablet) {
		padding: 0 24px;
	}
	@include mq(laptop) {
		padding: 0 80px;
	}

	&--small {
		max-width: 1204px;
	}

	&--release {
		@include mq($from: desktop) {
			max-width: 100%;
		}
	}
}
