// ul, ol, dl {
//   margin-left: 0;
//   list-style-position: inside;
// }

// %li_markers {
//   padding-left: 16px;
//   text-indent: -15px;
// }

// .c-cms-content li {
//   @extend %li_markers;
// }

ul, ol, dl {
  margin-left: 0;
  list-style-position: initial;
  padding-left: 17px;
}

%li_markers {
  padding-left: 16px;
  text-indent: -15px;
}

.c-cms-content li {
  // @extend %li_markers;
}