body {
  position: relative;
  font-family: $primary-font;
  @include font-size($base-font-size);
  line-height: 1.6;
  min-height: 100%;
}

html {
  // color: color("brand");
  // background-color: #000;
  &.black-theme {
   background-color: color('black');
  }
}

.main-container {
   min-height: 100vh;
   overflow: hidden;
   display: block;
   position: relative;
   /* height of footer */
   padding-bottom: 400px;
   @include respond-to(lap) {
     padding-bottom: 270px;
   }
}

.overflowstop, .lock-body-scroll {
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
  max-height: 100%;
}

.scroll-lock--bio {
  overflow: hidden;
  max-height: 100%;
}

.scroll-lock-landing {
  overflow: hidden;
  max-height: 100%;
}
.change-stage-color {

  &--white-bg {
    position: relative;
    z-index: 20;
    background-color: white;
  }
}
.destroy {
  height: 0 !important;
  padding: 0 !important;
}

.displayhide {
  display: none;
}

.topfill {
  transition: .375s .675s;
  margin-top: 72px;
}

.quickkill {
  color: transparent !important;
  transition: color .6s .4s;
}
