h1,
.#{$inuit-namespace}alpha {
  margin-bottom: spacer(.5, size("xxl"));
  font-weight: bold;
  font-family: $primary-bold;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: .1em;
  animation: comeup .5s;
  @include font-size(size("l"), 1.3);
  @include respond-to(lap) {
    @include font-size(size("xxl"), 1.3);
  }
}

h2,
.#{$inuit-namespace}beta {
  margin-bottom: spacer(.5, size("xl"));
  font-weight: bold;
  font-family: $primary-bold;
  text-transform: uppercase;
  color: #FFF;
  @include font-size(size("l"), 1.3);
  @include respond-to(lap) {
    @include font-size(size("ml"), 1.3);
  }
}

h3,
.#{$inuit-namespace}gamma {
  // margin-bottom: spacer(1, size("l"));
  font-weight: normal;
  font-family: $primary-bold;
  text-transform: uppercase;
  @include font-size(size("l"));
}

h4,
.#{$inuit-namespace}gamma {
  margin-bottom: spacer(1, size("l"));
  font-weight: normal;
  @include font-size(size("b"));
}