
.c-impact{
    position: relative;
    background-color: #000;
	&__intro {
		position: relative;
		padding-top: 196px;
		padding-bottom: 45px;
		padding: 196px 24px 45px;
		max-width: 603px;
		margin: 0 auto;
		line-height: 2;
		color: #FFF;

		svg {
			color: #FFF;
			width: 24px;
			margin-bottom: 16px;
		}
		h3{
			margin-bottom: 18px;
		}
		p {
			font-size: 16px;
			line-height: 2;
			max-width: 603px;
		}

		@include respond-to(lap) {
			padding-top: 155px;
			padding-bottom: 60px;
			padding-right: 0;
			padding-left: 0;
		}
	}
	&__img{
		padding-bottom: 100px;
		img{
			max-width: 400px;
			margin: 0 auto;
		}
	}
	&__table{
		max-width: 1280px;
		color: #000;
		font-size: 14px;
		line-height: 1.2;
		text-transform: uppercase;
		font-family: $primary-bold;
		font-weight: bold;
		background-color: #fff;
		border: 2px solid #000;
		position: relative;
		margin-bottom: 100px;
		margin-left: -15px;
		padding: 12px;
		@include respond-to(wall) {
			margin: 0 auto;
		}
		@include respond-to(lap) {
			padding: 24px;
			margin-bottom: 150px;
			padding-right: 50px;
		}
		&:after{
			content: '';
			position: absolute;
			background-color: #fff;
			right: -15px;
			top: 6px;
			width: 15px;
			height: calc(100% + 2px);
			border: 2px solid #000;
			border-right: 0;
			transform: skewY(45deg);
		}
		&:before{
			content: '';
			position: absolute;
			background-color: #fff;
			left: 6px;
			bottom: -15px;
			width: calc(100% + 2px);
			height: 15px;
			border: 2px solid #000;
			border-bottom: 0;
			transform: skewX(45deg);
		}
		&-wrap{
			overflow: auto;
			table{
				@include respond-to(lap) {
					table-layout: fixed;
				}
				td{
					border-bottom: 2px solid #000;
					padding: 6px 8px;
					@include respond-to(lap) {
						padding: 12px 8px;
					}
				}
			}
		}
		&-caption{
			border: 2px solid #000;
			display: inline-block;
			padding: 10px 10px 8px;
		}
	}
}