.c-nav {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background-color: #000;
	text-transform: uppercase;
	display: none;

	&__wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	ul {
		list-style: none;
		margin: 0 auto;
		padding: 0;
	}

	li {
		margin-bottom: 2px;
		text-align: center;
		list-style: none;
		font-family: $primary-bold;
		font-size: 27px;
		transition: all .2s ease;
		color: #666;

		@include respond-to(lap) {
			color: rgba($color: #FFF, $alpha: .45);
		}

		&.current-menu-item {
			a {
				color: #FFF;	
			}
		}
	}

	a {
		padding-bottom: 5px;
		text-decoration: none;
		letter-spacing: 0.05em;

		&:hover {
			color: #FFF;
		}
	}

	&__socials {
		margin: 50px auto 0;
		max-width: 58px;

		a {
			&:first-of-type {
				margin-right: 22px;
			}
		}

		svg {
			width: 15px;
			height: 15px;
			color: #666;
			transition: all .2s ease;

			&:hover {
				color: #FFF;
			}
		}
	}
}