.u-footer-spacing {
	margin-bottom: 0;
	
	@include respond-to(lap) {
		margin-bottom: 268px;
	}
}


.c-footer {
	position: relative;
	bottom: 0;
	width: 100%;
	z-index: 1;
	padding-top: 90px;
	text-align: center;
	background-color: #FFF;
	
	a {
		text-decoration: none;
		&:hover {
			color: #000;
		}
	}
	
	@include respond-to(lap) {
		position: fixed;
		z-index: -10;
		text-align: left;
		padding-top: 82px;
		padding-left: 32px;
	}

	&__logo {
		width: 52px;
		margin: 0 auto 40px;

		@include respond-to(lap) {
			float: right;
			margin:	18px 100px 0 0;
		}

		a {
			svg {
				height: 64px;
				color: #000;
			}
		}
	}

	&__left {
		@include respond-to(lap) {
			float: left;
			display: inline-block
		}
	}

	&__copy {
		display: none;
		max-width: 409px;
		margin-bottom: 12px;
		font-family: $primary-md;
		font-size: 20px;
		line-height: 29px;
		text-transform: uppercase;

		@include respond-to(lap) {
			display: block;
		}
	}

	&__mail {
		display: block;
		margin-bottom: 6px;
		
		svg {
			height: 13px;
			width: 17px;
			color:rgba($color: #000000, $alpha: .6);
			vertical-align: -5%;
		}
		
		@include respond-to(lap) {
			margin-bottom: 38px;
			display: inline-block;
			margin-right: 38px;

			svg {
				margin-right: 8px;
			}
		}
	}

	&__phone {
		display: block;
		margin-bottom: 18px;
		
		svg {
			width: 14px;
			height: 15px;
			vertical-align: -11%;
			color:rgba($color: #000000, $alpha: .6);
		}
		
		span {
			margin-left: 12px;
		}
		
		@include respond-to(lap) {
			display: inline-block;
			margin-bottom: 26px;
			svg {
				margin-left: 0;
				margin-right: 6px;
			}

			span {
				margin-left: 0;
			}
		}
	}

	&__socials {
		margin-bottom: 30px;

		a {
			&:first-of-type {
				margin-right: 22px;
			}
		}

		svg {
			width: 15px;
			height: 15px;
			color: #000;
		}

		@include respond-to(lap) {
			display: none;
		}
	}

	&__copyright {
		font-size: 11px;
		letter-spacing: 0.02rem;
		color: rgba($color: #000000, $alpha: .3);
		
		a {
			color: rgba($color: #000000, $alpha: .6);
			text-decoration: none;
		}

		@include respond-to(lap) {
			margin-bottom: 36px;
			color: rgba($color: #000000, $alpha: .3);

			br {
				display: none;
			}

			a {
				text-decoration: none;
			}
		}
	}

	&__copyright-breaker {
		display: none;

		@include respond-to(lap) {
			display: inline-block;
		}
	}

	&--dark {
		background-color: #000;
		.c-footer__logo {
			a {
				svg {
					color: #FFF;
				}
			}
		}

		svg {
			color: #666;
		}

		a {
			color: rgba($color: #000000, $alpha: .6);

			&:hover {
				span,
				svg {
					color: #FFF;
				}
			}
		}
		
		.c-footer__copy {
			color: #FFF;
		}

		.c-footer__phone,
		.c-footer__mail {
			span,
			svg {
				color:rgba($color: #FFF, $alpha: .6);
			}
		}

		.c-footer__copyright {
			color: #666;

			a {
				color: #999;

				&:hover {
					color: #FFF;
				}
			}
		}
	}
}