.c-stage {
	position: relative;
	&.hide {
		// opacity: 0;
	}
	&.on-back {
		z-index: -3;
	}
	&__taboologo {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 120;
		background: rgba(color("white"), 1);
		transition: opacity .5s .75s;
		&-container {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 1;
			transition: opacity .75s;
			max-width: 320px;
			width: 100%;
			&-video {
				max-width: 640px;
				width: 100%;
			}
			.hide & {
				opacity: 0;
			}
			.on-back & {
				display: none;
			}
			video {
				margin-left: -2px;
				margin-right: -2px;
			}
			img, video {
				width: 100%;
			}
		}
		&.hide {
			opacity: 0;
			img {
				opacity: 0;
			}
		}
		&.on-back {
			z-index: -3;
		}
	}
	&__skip {
		position: absolute;
		top: 94vh;
		z-index: 1000;
		right: 24px;
		@include respond-to(x-wide-palm) {
			right: 60px;
		}
		&.hide {
			opacity: 0;
		}
		
		a {
			text-decoration: none;
			color: #000;
			letter-spacing: .025em;
			font-family: 'berthold_akzidenz_grotesk_bMd', sans-serif;
			font-size: 17px;
			font-size: 1.0625rem;
			line-height: 1.2;
			&:hover {
				color: #666;
			}
		}
	}
	&__container {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100;
		background: rgba(color("white"), .8);
		transition: opacity .75s;
		.hide & {
			opacity: 0;
		}
	}
	&__logo {
		width: 226px;
		height: 38px;
		margin-bottom: $spacing-unit--small*1.5;
		.animate & {
			animation: comeup .75s;
		}
	}
	&__content {
		position: absolute;
		top: 50%;
		z-index: 100;
		left: 50%;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
		text-align: center;
		@include font-size(size("xxl"), 1.2);
		max-width: 620px;
		min-width: 320px;
		padding: $spacing-unit;
		padding-top: $spacing-unit--large;
		opacity: 0;
		transition: padding .5s 1.1s, opacity .5s 1s;
		&.animate {
			opacity: 1;
			padding-top: $spacing-unit;
			.hide & {
				transition: opacity .6s;
				opacity: 0;
			}
		}
		h2 {
			margin-bottom: $spacing-unit;
			@include respond-to(lap) {
				font-size: 31px;
				line-height: 1.3;
			}
		}
		.o-btn {
			background: transparent;
			border: 1px solid color("black");
			color: color("black");
			font-weight: 400;
			border-radius: 2px;
			padding: $spacing-unit--small $spacing-unit;
			margin: 0 $spacing-unit--tiny $spacing-unit--small;
			@include font-size(size("base"), 1.2);
			@include attention {
				background: color("black");
				color: color("white");
			}
		}
	}
	&__close {
		position: absolute;
		bottom: $spacing-unit;
		left: 50%;
		transform: translateX(-50%);
		svg {
			transition: .25s;
		}
		@include attention() {
			svg {
				transform: scale(1.1);
			}
		}
	}
}