.c-landing {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    background-color: #000;
    color: rgba($color: #FFF, $alpha: .6);

    &__hero {
        position: absolute;
        width: 100%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond-to(lap) {
            top: 48%;
            width: 75%;
        }

        @media screen and (min-width: 1400px) and (max-height: 700px) {
			width: 55%;
		}
    }

    &__arrows {
        position: relative;
        left: -20px;
        top: 5px;

        svg {
            position: absolute;
            width: 7px;
        }

        :nth-child(1) {
            top: 0
        }

        :nth-child(2) {
            top: 5px;
            transition-delay: .1s;
        }

        :nth-child(3) {
            top: 10px;
            transition-delay: .2s;
        }


    }

    &__showreel {
        position: absolute;
        bottom: 25%;
        padding: 8px;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 206px;
        font-size: 13px;
        color: rgba($color: #FFF, $alpha: .6);
        transition: all .2s;

        @include respond-to(lap) {
            bottom: 18%;
        }

        @include respond-to(deskplus) {
            bottom: 10%;
        }

        a,
        svg {
            color: rgba($color: #FFF, $alpha: .6);
        }

        &:hover {
            color: #FFF;
            border-color: #FFF;

            svg {
                color: #FFF;
            }
        }
    }

    &__scroll {
        position: absolute;
        bottom: 10%;
        left: 50%;
        padding-left: 10px;
        transform: translate(-50%, -50%);
        text-decoration: none;
        transition: all .2s ease;
        color: rgba($color: #FFF, $alpha: .6);

        &:hover {
            color: #FFF;

            svg {
                color: #FFF;
            }
        }

        @include respond-to(deskplus) {
            bottom: 4%;
        }
    }

    .c-svgicon--scroll-arrows {
        width: 8px;
    }

    .c-svgicon--play-arrow {
        width: 8px;
        position: relative;
        left: -3px;
        top: 1px;
    }
}