.c-project-list {
    position: relative;
    text-decoration: none;
    text-align: center;

    &__container {
        padding-top: 0;
        padding-bottom: 95px;
        transition: all 2s ease-out;
        
        @include respond-to(lap) {
            padding-top: 95px;
        }
    }

    &__spacer {
        height: 0;
        width: 100%;
        transition: all .8s ease;
        background-color: #000;

        @include respond-to(lap) {
            height: 355px;
        }
    }
    
    &__intro {
        position: relative;
        padding-top: 197px;
        padding-right: 38px;
        padding-left: 78px;
        padding-bottom: 11px;
        margin: 0 auto;
        background-color: #000;
        color: #FFF;
        transition: all .8s;
        
        @include respond-to(lap) {
            position: fixed;
            top: 0;
            width: 100%;
            padding-top: 140px;
            padding-right: 38px;
            padding-left: 78px;
            padding-bottom: 33px;
        }

        h1 {
            font-size: 20px;
            padding-bottom: 30px;
            letter-spacing: 0.05em;
            
            @include respond-to(lap) {
                font-size: 23px;
            }
        }

        p {
            font-size: 16px;
            line-height: 31px;
            padding-bottom: 24px;
            color: rgba($color: #FFF, $alpha: .75);
            
            @include respond-to(lap) {
                font-size: 18px;
                line-height: 1.9;
            }
        }
        
        h1,
        p {
            max-width: 603px;
            margin: 0 auto;
        }

        &--large {
            height: 100vh;
        }
    }

    &__side-text {
        display: block;
        top: 211px;
        left: -2px;
        position: absolute;
        transform: rotate(-90deg);
        font-family: $primary-font;
        color: color('content light');
        text-transform: uppercase;
        font-size: 12px;
        
        @include respond-to(lap-desk) {
            top: 153px;
            font-size: 13px;
            left: 13px;
        }

        @include respond-to(lap-desk-end) {
            top: 153px;
            left: 86px;
        }

        &--museum {
            
            top: 252px;
            @include respond-to(lap) {
                top: 195px;
            }
        }
    }

    &__box {
        overflow: hidden;

        &.row-1 {
            transition: .65s .70s;
        }

        &.row-2 {
            transition: .85s .70s;
        }

        &.row-3 {
            transition: 1s .70s;
        }

        &.row-4 {
            transition: 1.25s .70s;
        }

        &.row-5 {
            transition: 1.5s .70s;
        }

        &.animate {
            margin-top: 100px;
            transform: scale(0.75);

            &-fast {
                animation: comeup .75s;
            }
        }
    }

    &__thumbnail {
        width: 100%;
        height: auto;
        display: block;
        transform: scale(1);
        transition: .25s ease-out;

        .hover & {
            filter: blur(5px);

            @include respond-to(lap) {
                filter: none;
            }
        }
    }

    &__image {
        display: none;
    }

    &__thumbnail-shift {
        transition: transform .25s ease-out;
    }

    &__text {
        margin: 10px auto;
        padding: $spacing-unit--tiny*1.5 0;

        @include respond-to(lap) {
            padding: 0;
            margin-top: 0;
        }

        h2,
        h3 {
            margin: 0;
        }

        h2 {
            color: color('brand');
            @include font-size(size('sm'), 1);
            text-transform: uppercase;
            margin-bottom: 0;
            letter-spacing: .1em;
        }

        h3 {
            @include font-size(size("xxs"), 1);
            color: color('content light');
            display: none;
            letter-spacing: .025em;
            text-transform: capitalize;

            @include respond-to(lap) {
                display: block;
            }
        }
    }

    &__spaceholder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        pointer-events: none;
    }

    @include respond-to(lap) {
        &__content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            background-color: rgba(255, 255, 255, .75);
            color: color("black");
            transition: opacity .25s;

            .hover & {
                opacity: 1;
            }
        }

        &__info {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            padding: $spacing-unit;
            transform: translate(-50%, -50%) translateZ(20px);
            text-align: center;
        }

        &__image {
            width: 20%;
            max-width: 164px;
            margin: 0 auto;
            display: block;

            @include respond-to(desk) {
                margin: 0 auto;
            }
        }

        &__text {
            margin: 0 auto;

            strong {
                display: block;
                margin-bottom: $spacing-unit--tiny;
                font-size: 19px;
            }

            h2 {
                @include font-size(size("ms"), 1.1);
                font-family: $primary-font;
            }

            h3 {
                @include font-size(size("ms"), 1.3);
            }

            @include respond-to(desk) {

                h2 {
                    @include font-size(size("ms"), 1.1);
                }

                h3 {
                    @include font-size(size("ms"), 1.3);
                }
            }
        }
    }
}
