.c-contact {
	position: relative;
	margin-top: 194px;
	margin-right: 38px;
	margin-left: 78px;
	padding-bottom: 78px;
	color: #FFF;
	background-color: #000;
	
	@include respond-to(lap) {
		// margin-top: 236px;
		margin-top: 150px;
		margin-left: 0;
		margin-right: 0;
	}

	&__content {
		margin: 0 auto;

		@include respond-to(lap) {
			max-width: 603px;
		}
	}

	a {
		text-decoration: none;
		color: rgba($color: #FFF, $alpha: .6);

		&:hover {
			color: #FFF;
			
			svg {
				color: #FFF;
			}
		}
	}

	ul {
		padding: 0;
		list-style: none;
	}


	li {
		padding-bottom: 11px;
		line-height: 23px;
		font-size: 15px;
		color: rgba($color: #FFF, $alpha: .6);

		&:last-of-type {
			padding-bottom: 0;
		}
	}

	h1 {
		margin-bottom: 28px;
		font-size: 20px;
		letter-spacing: 0.05em;
		
		@include respond-to(lap) {
			font-size: 23px;
		}
	}

	h2 {
		font-size: 15px;
		font-family: $primary-md;
		margin-bottom: 24px;
	}

	&__copy {
		margin-bottom: 47px;
		line-height: 35px;

		p {
			margin-bottom: 0;
			font-size: 16px;
			line-height: 31px;
			color: rgba($color: #FFF, $alpha: .75);
			
			@include respond-to(lap) {
				font-size: 18px;
				line-height: 1.9;
			}
		}

		@include respond-to(lap) {
			margin-bottom: 39px;
		}
	}

	&__freelance,
	&__hq,
	&__general {
		margin-bottom: 22px;
	}

	&__hq {
		span {
			max-width: 200px;
		}
		
		li {
			text-indent: -30px;
			margin-left: 30px;
			align-items: baseline;
		}
	}

	&__social {
		span {
			display: inline-block;
			vertical-align: text-bottom
		}
	}

	&__general,
	&__freelance {
		a {
			display: flex;
			align-items: center;
			svg {
				width: 17px;
			}
		}
		
	}

	&__side-text {
		display: block;
		position: absolute;
		font-size: 12px;
		top: 14px;
		left: -77px;
		transform: rotate(-90deg);
		font-family: $primary-font;
		color: color('content light');
		text-transform: uppercase;

		@include respond-to(lap) {
			font-size: 13px;
			left: 85px;
		}

		@media screen and (min-width: 672px) and (max-width: 920px) {
			display: none;
		}
	}

	svg {
		width: 15px;
		height: 15px;
		margin-right: 12px;
		color: color('content light');
	}
}