.c-bio-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	z-index: 100;
	background-color: rgba($color: #000000, $alpha: .9);
	color: #FFF;
	cursor: url(../img/close-cursor.png),
	pointer;
	overflow: auto;

	&::after {
		content: '';
		position: fixed;
		width: 20px;
		height: 20px;
		top: 20px;
		right: 24px;
		background-image: url(../img/close-cursor.png);
		background-size: cover;

		@include respond-to(lap) {
			display: none;
		}
	}

	&__content {
		position: absolute;
		top: 80px;
		left: 24px;
		margin-right: 24px;
		min-width: 300px;
		cursor: auto;
		overflow: auto;

		@include respond-to(lap) {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 0;
		}
	}

	p {
		color: rgba($color: #FFF, $alpha: .6);
		font-size: 17px;
		line-height: 34px;
	}

	h3 {
		font-family: $primary-bold;
		font-size: 23px;
		line-height: 36px;
	}

	span {
		display: block;
		font-family: $primary-font;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 12px;
	}
}