.hide-me {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.a-animated-1 {
    // animation-delay: 0s;
}

.a-animated-2 {
    animation-delay: 0.3s;
}

.a-animated-3 {
    animation-delay: 0.6s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 15%, 0);
    }

    50% {
        opacity: .85;
        // opacity: 1;
        transform: none;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}