.c-top {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
}

.c-header {
	width: 100%;
	padding-top: 23px;
	transition: all .4s ease;
	
	@include respond-to(lap) {
		padding-top: 31.5px;
	}

	&.nav-up {
		background-color: transparent;
		
		.c-header__title,
		.c-header__side-text-mask,
		.c-header__logo,
		.c-header__hamburger {
			opacity: 0;
		}

		@include respond-to(lap) {
			.c-header__logo,
			.c-header__hamburger {
				opacity: 1;
			}
		}
	}
	
	&.nav-down,
	&.nav-open {

		.c-header__side-text-mask {
			opacity: 1;
		}

		background-color: transparent;
		position: fixed;
		z-index: 30;
		top: 0;
		transition: all 0s;
	}

	&.nav-down {
		.c-header__title {
			opacity: 1;
			display: none;

			@include respond-to(lap) {
				display: block;
			}
		}

		@include respond-to(lap){
			.c-header__title {
				display: block;
			}
		}
	}

	a {
		text-decoration: none;
	}

	&__logo {
		position: fixed;
		top: 30px;
		left: 24px;
		display: inline-block;
		z-index: 250;
		
		svg {
			width: 16px;
			height: 20px;
			color: #FFF;
		}

		@include respond-to(lap) {
			top: 41px;
			left: 41px;
			svg {
				width: 25px;
				height: 23.4px;
			}
		}
	}

	&__side-text-mask {
		position: fixed;
		top: 0;
		left: 4px;
		width: 50px;
		height: 90px;
		opacity: 0;
		box-shadow: 0 0 10px 10px;
		background-color: #000;
		transition: all .6s ease;
	}

	&__title {
		position: relative;
		z-index: 10;
		float: left;
		margin-left: 23px;
		transition: all .3s ease;
		
		svg {
			margin-top: 7px;
			height: 20.4px;
			color: #FFF;

			@include respond-to(only-palm){
				padding-left: 0px;
			}

			@include respond-to(lap) {
				margin-top: 9px;
				height: 24px;
				padding-left: 22px;
			}

			@include respond-to(desk) {
				padding-left: 0px;
			}
		}
		
	}

	&__hamburger {
		position: relative;
		float: right;
		width: 34px;
		margin-top: 10px;
		
		@include respond-to(lap) {
			margin-top: 16px;
		}
	}

	&--dark {

		.c-header__side-text-mask {
			background-color: #FFF;
			box-shadow: 0 0 10px 10px rgba($color: #FFF, $alpha: 1.0);
		}

		.c-header__title,
		.c-header__logo,
		.c-header__hamburger {
			color: #000;

			svg {
				color: #000;
			}
			h1 {
				color: #000;
			}
			.toggle-menu {
				&::before,
				&::after {
					background: #000;
				}
			}
		}
	}
}
