.c-content {
  transition: margin .25s;
  margin-top: 56px;
  margin-bottom: 105px;
  background: color("white");
  h1,
  h2 {
    color: #000;
  }
  h3 {
    margin-bottom: 1em;
  }
  @include respond-to(lap) {
    margin-top: 74px;
    // margin-bottom: 67px;
  }
  &--default {
    padding-top: $spacing-unit--large;
    padding-bottom: $spacing-unit;
    margin-bottom: 268px;
  }
  h2 {
    margin-bottom: $spacing-unit--small;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    @include respond-to(lap) {
      margin-bottom: $spacing-unit*.9;
    }
  }
  &__hero {
    overflow: hidden;
    background: color('offblack');
    max-height: 500px;
    text-align: center;
    vertical-align: middle;
    animation: comeup 1.75s;
    img {
      width: 100%;
      height: auto; 
      display: block;
    }
  }
  &__back {
    text-align: center;
    a {
      margin-left: -4px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      color: color('content');
      @include font-size (size('b'));
    }
    span {
      display: block;
      text-indent: -2px;
    }
  }
  &__homeicon {
    height: 37px;
    width: 40px;
    color: color('content');
    transition: transform .25s;
    @include attention() {
      transform: scale(1.2);
    }
  }
  &__title {
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .1em;
    animation: comeup .5s;
    font-family: $primary-font;
  }
  &__tagline {
    margin-bottom: $spacing-unit*1.2;
    @include font-size(size("ml"), 1.2);
    color: color("content light");
    font-family: $primary-font;
    font-style: italic;
    font-weight: normal;
    text-transform: initial;
    animation: comeup .85s;
  }
  &__container {
    animation: comeup .95s;
  }
  &__image {
    display: block;
    width: 100%;
    margin-bottom: $spacing-unit;
    @include respond-to(lap) {
      margin-bottom: $spacing-unit*2;
    }
  }
  &__video {
    margin-bottom: $spacing-unit;
    position: relative; 
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    @include respond-to(lap) {
      margin-bottom: $spacing-unit*2;
    }
    iframe,
    object,
    embed { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  }
  &__media {
    margin: $spacing-unit--small 0;
    @include respond-to(lap) {
      margin: $spacing-unit--big 0;
    }
  }
  &-404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .025em;
    margin-top: 0;
    &__container {
      max-width: 700px;
      min-width: 320px;
      padding: $spacing-unit;
    }
  }
}

.c-cms-content {
  animation: comeup .5s;
}

@keyframes comeup {
  0% {
    margin-top: 100px;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    margin-top: 0px;
  }
}

