.c-project {
    &__intro {
        // margin-top: 350px;
        padding-bottom: 35px;
        background-color: #000;
        color: #FFF;
        transition: all .2s;
        @include respond-to(desk) {
            margin-top: 412px;
        }
    }
    &__banner {
        position: relative;
        top: 0;
        z-index: -10;
        width: 100%;
        height: 150px;
        background-size: cover;
        background-position: center center;
        @include respond-to(lap) {
            height: 280px;
        }
        @include respond-to(desk) {
            position: fixed;
            height: 412px;
        }
    }
    &__caption {
        color: rgba($color: #000000, $alpha: .7);
        margin-top: 18px;
        font-family: $primary-font;
        font-size: 14px;
        text-align: left;
        margin-top: 18px;
        margin-left: 18px;
        @include respond-to(lap) {
            margin-left: 0;
        }
        &--video {
            margin: -32px 80px 20px;
        }

        &--vimeo {
            margin: -71px 18px 20px;

            @include respond-to(lap) {
                margin: -74px 80px 20px;
            }
        }
        
        &--wide {
            margin: 0 18px 0px;
            position: absolute;
            bottom: 20px;

            @include respond-to(lap) {
                bottom: -26px;
                margin: -74px 80px 0;
            }
        }
    }
    &__description,
    &__copy {
        max-width: 905px;
        margin: 0 auto;
    }
    &__description {
        margin-bottom: 54px;
        padding-top: 56px;
        @include respond-to(lap) {
            padding-top: 80px;
        }
        a {
            display: block;
            margin-bottom: 20px;
            margin-left: -20px;
            font-size: 13px;
            text-decoration: none;
            color: rgba($color: #FFF, $alpha: .5);
            transition: all .2s;
            &:hover {
                color: #FFF;
                svg {
                    color: #FFF;
                    transform: rotate(270deg) translateY(-6px);
                }
            }
        }
        h1 {
            margin-bottom: 0;
            letter-spacing: 0.05em;
            @include respond-to(lap) {
                display: inline-block;
                font-size: 23px;
            }
        }
        h3 {
            margin-bottom: 8px;
            font-family: $primary-font;
            font-size: 20px;
            text-transform: uppercase;
            @include respond-to(lap) {
                display: inline-block;
                margin-left: 8px;
                font-size: 23px;
            }
        }
        p {
            font-family: $primary-font;
            font-size: 18px;
            font-style: italic;
            color: rgba($color: #FFF, $alpha: .5);
        }
        svg {
            height: 26px;
            width: 66px;
            margin-bottom: -9px;
            transform: rotate(270deg);
            color: rgba($color: #FFF, $alpha: .5);
        }
        span {
            margin-left: -8px;
        }
    }
    &__copy {
        // margin-bottom: 42px;
        h2 {
            margin-bottom: 12px;
            font-size: 15px;
            letter-spacing: 0.5px;
            font-family: $primary-md;
        }
        p {
            color: rgba($color: #FFF, $alpha: .75);
        }
        li {
            color: rgba($color: #FFF, $alpha: .75);
        }
        @include respond-to(lap) {
            margin-bottom: 32px;
            h2 {
                position: relative;
                display: inline-block;
                float: left;
            }
            p {
                display: inline-block;
                float: right;
                width: 67%;
            }
            ul {
                display: inline-block;
                float: right;
                width: 67%;
            }
        }
    }
    &__media-gallery {
        position: relative;
        text-align: center;
        max-width: 1365px;
        margin: 0 auto;
        a {
            display: block;
            padding-top: 38px;
            padding-bottom: 32px;
        }
        svg {
            height: 26px;
            width: 68px;
            &:hover {
                transform: translateY(-6px);
            }
        }
        @include respond-to(lap) {
            padding-top: 40px;
            padding-bottom: 136px;
            a {
                position: absolute;
                right: 6px;
                bottom: 0;
            }
        }
    }
    &__media-wrap {
        margin-top: 12px;
        
        @include respond-to(lap) {
            margin-right: 80px;
            margin-bottom: 40px;
            margin-left: 80px;

            &--left {
                margin-right: 15px;
            }

            &--right {
                margin-left: 15px;
            }
        }
    }
    &__video-media {
        margin-bottom: $spacing-unit;
        position: relative; // padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;
        margin-bottom: 90px;

        &:first-of-type {
            padding-bottom: 56.25%;
        }
        
        &--wide {
            &:first-of-type {
                padding-bottom: 41.25%;
                margin-bottom: 61px;
                @include respond-to(lap) {
                    padding-bottom: 37.25%;
                    margin-bottom: 15px;
                }
            }
        }
        
        @include respond-to(lap) {
            margin-bottom: $spacing-unit*2;
        }
        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__filter {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: rgba($color: #000000, $alpha: .5);
        transition: all .3s ease;
    }
    &__image-wrap {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-position: center center;
        transition: all .3s linear;
    }
    &__related {
        position: relative;
        min-height: 360px;
        margin-bottom: -26px;
        text-align: center;
        overflow: hidden;
        &:hover {
            .c-project__filter {
                background-color: rgba($color: #000000, $alpha: .3);
            }
        } // a {
        // 	display: flex;
        // 	flex-direction: column;
        // 	justify-content: center;
        // 	align-items: center;
        // 	min-height: 360px;
        // }
        a,
        span,
        h2,
        h3,
        p {
            position: relative;
            z-index: 10;
            color: #FFF;
        }
        img {
            transition: all .3s ease;
            object-fit: cover;
        }
        p {
            margin: 0;
        }
        a {
            text-decoration: none;
        }
        span {
            display: block;
            padding-top: 95px;
            padding-bottom: 10px;
            font-size: 13px;
            @include respond-to(lap) {
                padding-top: 145px;
            }
        }
        h2 {
            display: inline-block;
            padding-right: 8px;
            padding-bottom: 10px;
        }
        h3 {
            display: inline-block;
            padding-bottom: 10px;
            font-family: $primary-font;
        }
        p {
            font-size: 17px;
            font-style: italic;
        }
    }
}