.toggle-menu {
    position: absolute;
    top: 35%;
    right: 0;
    display: block;
    width: 100%;
    height: 2px;
    max-width: 26px;
    background: #FFF;
    border-radius: 1px;
    transform: translateY(-50%);


    &::before,
    &::after {
        content: ' ';
        display: block;
        width: 100%;
        height: 2px;
        background: #FFF;
        position: absolute;
        left: 0;

        transition: top .2s .2s, transform .2s;
    }

    &::after {
        top: 6px;
    }

    .is-open & {
        background: transparent;

        &::before,
        &::after {
            top: 0;
            transform: rotate(45deg);
            transition: top .2s, transform .2s .2s;
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}
