.c-archive {
  transition: margin .25s;
  &__container {
  }
  &__content {
    display: block;
    margin-bottom: $spacing-unit*1.2;
    text-decoration: none;
    text-transform: uppercase;
    color: color("brand");
    opacity: .7;
    transition: transform .025s;
    @include attention() {
      opacity: 1;
      transform: scale(1.004);
    }
    h2 {
      @include font-size(size('sb'), 1.4);
      margin-bottom: 0;
    }
    h3 {
      @include font-size(size('sm'), 1.4);
      margin-bottom: 0;
      &.c-archive__tagline {
        text-transform: initial;
        @include font-size(size('base'), 1.4);
        font-style: italic;
      }
    }
  }
}