.c-svgicon {
	&--tabooicon {
		width: 30px;
		height: 36px;
	}
	&--close {
		width: 20px;
		height: 20px;
		color: color("white");
		@include respond-to(lap) {
			width: 26px;
			height: 26px;
		}
	}
	&--mouse {
		width: 20px;
		height: 32px;
	}
}