.c-shopify {
	&__logo {
		margin: auto;
		max-width: 200px;
		margin-bottom: 48px;
		@include respond-to(lap) {
			max-width: 300px;
			margin-bottom: 72px;
		}
	}
	&__intro {
		margin-bottom: 48px;
		@include respond-to(lap) {
			max-width: 750px;
			margin: auto;
			margin-bottom: 72px;
		}
	}
	&__products {
		margin-bottom: 96px;
	}
	&__product {
		margin-bottom: 136px;
		&-slider {
			@include respond-to(lap) {
				margin-right: 18px;
			}
		}
		.c-shopify__product-name {
			margin-top: 8px;
			margin-bottom: 24px;
			@include respond-to(lap) {
				margin-top: 28px;
			}
		}
		.c-shopify__product-price {
			margin: 0;
		}
		&-content {
			font-size: 14px;
			p {
				margin-bottom: 12px;
			}
		}
		&-bottom {
			text-align: right;
			margin-top: 36px;
			margin-right: -12px;
		}
		&-button {
			display: inline-block;
			vertical-align: middle;
			padding-right: 12px;
		}
		&-price {
			vertical-align: middle;
			display: inline-block;
			margin: 0;
			padding-right: 12px;
		}
	}
}

.shopify-buy-frame {
	max-width: 500px !important;
	&.is-active {
		width: auto;
		bottom: 12px !important;
		top: unset !important;
		transform: none !important;
	}
}
.shopify-buy-frame--product {
	iframe {
		width: 270px !important;
		@include respond-to(lap) {
			width: 360px !important;
		}
	}
}
.shopify-buy-cart-wrapper {
	iframe {
		min-width: 320px;
		width: 500px;
	}
}