.c-load-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    opacity: 0;
    pointer-events: none;
    background-color: #000;
    transition: all .4s ease-in; 

    &--visible {
        opacity: 1;
    }
}