.c-about {
	position: relative;
	background-color: #000;

	&__container {
		position: relative;
	}

	&__intro {
		position: relative;
		padding-top: 196px;
		padding-right: 38px;
		padding-bottom: 45px;
		padding-left: 78px;
		max-width: 603px;
		margin: 0 auto;
		line-height: 36px;
		font-size: 18px;
		color: rgba($color: #FFF, $alpha: .75);

		svg {
			color: #FFF;
			width: 24px;
			margin-bottom: 16px;
		}
		
		p {
			font-size: 16px;
			line-height: 31px;
			max-width: 603px;

			@include respond-to(lap) {
				font-size: 18px;
				line-height: 1.9;
			}
		}

		@include respond-to(lap) {
			padding-top: 155px;
			padding-bottom: 106px;
			padding-right: 0;
			padding-left: 0;
		}
	}

	&__about-side,
	&__we-do-side,
	&__clients-side {
		// display: none;
		position: absolute;
		transform: rotate(-90deg);
		font-family: $primary-font;
		color: color('content light');
		text-transform: uppercase;
		font-size: 12px;

		@include respond-to(lap) {
			display: block;
			font-size: 13px;
		}
	}

	&__about-side {
		left: 8px;
		top: 203px;

		@include respond-to(lap) {
			left: 94px;
			top: 168px;
		}
	}

	&__we-do-side {
		left: -11px;
		top: 113px;

		@include respond-to(lap) {
			left: 76px;
			// top: 218px;
			top: 188px;

		}
	}

	&__clients-side {
		left: 5px;
		top: 17px;

		@include respond-to(lap) {
			left: 92px;
		}
	}

	&__clients-side,
	&__we-do-side,
	&__about-side {
		@media screen and (min-width: 672px) and (max-width: 920px) {
			display: none;
		}
	}

	&__photo {
		position: relative;
		overflow: hidden;

		img {
			transform: scale(1.5);
		}
	}

	&__gradient {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 50%;
		background: linear-gradient(black, 10%, transparent);
		@include respond-to(lap) {
			background: linear-gradient(black, 30%, transparent);
		}
	}

	&__we-do {
		position: relative;
		padding-top: 80px;
		padding-right: 38px;
		padding-bottom: 91px;
		padding-left: 78px;
		max-width: 603px;
		margin: 0 auto;
		color: #FFF;

		h2 {
			margin-bottom: 30px;
			max-width: 603px;
		}

		ul {
			list-style: none;
			padding: 0;
			
			@include respond-to(lap-desk-end) {
				min-width: 737px;
			}
		}

		p {
			margin-bottom: 1.5em;
			max-width: 603px;
			margin-bottom: 50px;
			font-size: 17px;
			line-height: 34px;
			color: rgba($color: #FFF, $alpha: .75);
		}
		
		li {
			font-family: $primary-md;
			text-transform: uppercase;
			font-size: 14px;
			margin-bottom: 18px;
			transition: all .2s ease;
			
			&:hover {
				transform: translateX(6px)
			}
		}
		
		@include respond-to(lap) {
			// padding-top: 180px;
			padding-top: 150px;
			padding-right: 0;
			// padding-bottom: 180px;
			padding-bottom: 150px;
			padding-left: 0;
			
			ul {
				column-count: 2;
			}
		}
	}
	
	&__we-do-list {
		p {
			color: rgba($color: #FFF, $alpha: .50);
		}
		
		span {
			font-family: $primary-md;
			text-transform: uppercase;
			font-size: 14px;
			margin-bottom: 18px;
			color: #FFF;
		}
	}

	&__clients {
		position: relative;
		max-width: 603px;
		margin: 0 auto;
		padding-right: 38px;
		padding-bottom: 76px;
		padding-left: 78px;
		color: #FFF;
		
		p {
			font-size: 17px;
			color: rgba($color: #FFF, $alpha: .75);
		}

		h2 {
			margin-bottom: 30px;
		}

		img {
			padding-right: 20px;
			@include respond-to(lap) {
				padding-right: 40px;
			}
		}

		@include respond-to(lap) {
			padding-bottom: 146px;
			padding-right: 0;
			padding-left: 0;

			h2 {
				margin-bottom: 15px;
			}

			p {
				margin-bottom: 34px;
			}
		}
	}

	&__clients-logos {
		min-width: 750px;
	}
}