.c-menu {
  background: color('white');
  color: color('content');
  padding-top: 56px;
  padding-bottom: $spacing-unit;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  overflow-y: scroll;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  width: 100%;
  transition: left .25s;
  @include font-size(size('s'), 1.4);
  .theme-transition & {
    transition: .25s
  }
  p {
    margin-bottom: $spacing-unit--small;
  }
  &__content {
    padding: 8% 7% 7%;
    @include respond-to(wide-palm) {
      padding: 48px 9%;
    }
  }
  &__about-link {
    @include font-size(size('xxs'), 1);
  }
  &__product-link {
    display: block;
    margin-bottom: $spacing-unit;
    @include font-size(size('xxs'), 1);
    @include respond-to(lap) {
      @include font-size(size('sm'));
    }
  }
  &__contact {
    @include font-size(size('sm'), 1);
    text-transform: uppercase;
    p {
      margin-bottom: $spacing-unit--small;
      font-weight: bold;
      letter-spacing: .1em;
    }
  }
  &.is-open {
    left: 0%;
    visibility: visible;
    [data-lazy-src] {
      display: block;
    }
  }
  [data-lazy-src] {
    display: none;
  }
  @include respond-to(lap) {
    @include font-size(size('l'));
    padding-top: 75px;
    padding-bottom: $spacing-unit--huge;
    width: 50vw;  
    left: 100%;
    &.is-open {
      left: 50%;
    }
    p{
      margin-bottom: $spacing-unit;
    }
    &__about-link {
      @include font-size(size('sm'), 1)
    }
    &__product-link {
      // display: block;
    }
    &__contact {
      @include font-size(size('base'), 1.5)
      p {
        margin-bottom: $spacing-unit--small;
      }
    }
  }
}

.is-active {
  width: 50vw;
  background-color: white;
}

.c-client {
  background-color: color('taboogrey');
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transition: none;
  &:nth-child(4n) {
    border-right-color: transparent;
  }
  &__logo {
    width: 100%;
    height: auto;
    opacity: .8;
    padding: $spacing-unit--tiny $spacing-unit--small;
    @include attention() {
      opacity: 1;
    }
  }
  @include respond-to(lap) {
    &__logo {
      padding: $spacing-unit--small $spacing-unit;
      @include respond-to(desk) {
        padding: $spacing-unit--small $spacing-unit--big;
      }
    }
  }
}

.c-social {
  margin-top: $spacing-unit;
  @include respond-to(lap) {
    margin-top: $spacing-unit *1.2;
  }
}