.c-team {
	padding-top: 194px;
	background-color: #000;

	@include respond-to(lap) {
		// padding-top: 236px;
		padding-top: 150px;
	}

	&__content {
		position: relative;
		padding-right: 38px;
		padding-bottom: 50px;
		padding-left: 78px;
		margin: 0 auto;
		font-size: 16px;
		line-height: 31px;
		color: rgba($color: #FFF, $alpha: .75);

		h1 {
			font-size: 20px;
			letter-spacing: 0.05em;
			margin-bottom: 28px;

			@include respond-to(lap) {
				font-size: 23px;
			}
		}

		@include respond-to(lap) {
			max-width: 603px;
			padding-right: 0;
			padding-left: 0;
			// padding-bottom: 128px;
			padding-bottom: 108px;
			font-size: 18px;
			line-height: 1.9;

		}
	}

	&__people-side,
	&__management-side, 
	&__management-side-2 {
		// display: none;
		position: absolute;
		transform: rotate(-90deg);
		font-family: $primary-font;
		color: color('content light');
		text-transform: uppercase;
		font-size: 12px;

		@include respond-to(lap) {
			display: block;
			font-size: 13px;
		}

		@media screen and (min-width: 672px) and (max-width: 920px) {
			display: none;
		}
	}

	&__people-side {
		top: 217px;
		left: -3px;

		@include respond-to(lap) {
			// top: 266px;
			top: 180px;
			left: 85px;
		}
	}

	&__management-side {
		top: 134px;
		left: -31px;

		@include respond-to(lap) {
			top: 143px;
			left: 54px;
		}
	}
	&__management-side-2 {
		display: none;
		
		@include respond-to(lap) {
		    display: block;
		    top: 53px;
		    left: -117px;
		    position: absolute;
		}
	}

	&__group-photo {
		position: relative;
		cursor: grab;
	}

	&__gradient {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 50%;
		background: linear-gradient(black, 30%, transparent);
	}

	&__members {
		position: relative;
		padding-top: 86px;
		padding-right: 24px;
		padding-bottom: 33px;
		padding-left: 81px;
		background-color: #FFF;

		@include respond-to(lap) {
			padding-right: 82px;
			padding-left: 172px;
		}
	}

	&__photo-container {
		position: relative;
		min-height: 260px;
	}

	&__single-member {
		margin-bottom: 40px;
		text-decoration: none;

		h3 {
			margin-top: 17px;
			font-size: 14px;
		}

		p {
			color: rgba($color: #000000, $alpha: .6);
			font-size: 13px;
			line-height: 1.4;
		}

		//This is the element that was getting called only getting 3 images in the array
		
		// &:nth-of-type(n+4) {
		// 	display: none;
		// }

		@include respond-to(lap) {
			&:nth-of-type(n+4) {
				display: inline-block;
			}
		}
	}
}