.c-section {
  &--singleproject, &--archive {
    padding: $spacing-unit*1.2  0;
    width: 89%;
    text-align: center;
    @include respond-to(lap) {
      text-align: left;
      width: 80%;
      padding: $spacing-unit--large*1.25  0;
    }
    .u-lap-one-half {
      min-width: 40vw;
    }
  }
  &--about {
    padding-top: $spacing-unit--huge*1.25;
    background-color: rgba 255,255,255, 0.9;
    color: color("brand");
    @include respond-to(lap) {
      padding-top: $spacing-unit--huge*2.5;
    }
  }
  &--archive {
    padding-top: $spacing-unit--huge*1.6;
    text-align: left;
  }
  &--content {
  }
}

.dot {
  width: 2px;
  height: 2px;
  background-color: black;
  position: absolute;
}