.o-aspect {
  position: relative;

  &:before {
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 100%;
    float: left;
  }

  &--69 {
    &:before {
      padding-bottom: 69%;
    }
  }

  &--4by3 {
    &:before {
      padding-bottom: 66.667%;
    }
  }
  &--16by9 {
    &:before {
      padding-bottom: 56.25%;
    }
  }
  &--custom {
    &:before {
      padding-bottom: 35%;
    }
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.o-fluid-object {
  position: relative;
  width: 100%;
  padding-bottom: 69%;
  margin-bottom: $spacing-unit;
  iframe, object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &--69 {
    padding-bottom: 69%;
  }
  &--56 {
    padding-bottom: 56%;
  }
  &--4by3 {
    padding-bottom: 66.667%;
  }
  &--16by9 {
    padding-bottom: 56.25%;
  }
}