.o-btn {
  border-radius: 2px;
	border: 1px solid rgba($color: #FFF, $alpha: .6);
	border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: color('content');
	transition: all .2s ease;
  @include attention() {
    background: color("brand");
  }
  &--museum {
    background-color: #FFF;
    color: #000;
    border-color: #000;
    font-weight: normal;
    &:hover {
      background-color: #000;
      color: #FFF;
      border-color: #000;
    }
  }
}