.o-wrapper {
  @extend .clearfix;
  max-width: $sitewidth;
  margin: 0 auto;
  padding: 0 $spacing-unit;
  @include respond-to(desk) {
    padding: 0 $spacing-unit--large;
  }
  &--1000 {
  	max-width: 1000px;
  }
}