// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$brand: #000000;

$theme-colors: (
  "brand": $brand,
  "link hover": $brand,
  "content": #262626,
  "content light": #666666,
  "white": #FFF,
  "black": #000,
  "link": #4C4C4C,
  "taboogrey": #F5F5F5,
  "offblack": #0c0c0c,
  "offwhite": #FAFAFA,
  "headergrey": #FAFAFA,
  "invertgrey": #E5E5E5,
  "invertblack": #191919,
  "hoverblack": #333333,
  "social": #B3B3B3,
  
  "menu bg": #F7F7F7,
  "about title": #cccccc,
  "team bg": #141212,
  
  "dark-theme light-grey": #E5E5E5,
  "dark-theme grey": #808080,
  "dark-theme clients-bg": #191919,

  "footer content": #9f9f9f,
  "footer link": #727272
);


// helper variables
$font-color: map-get($theme-colors, "brand");
$loud-color: map-get($theme-colors, "brand");
