// Typography
$base-font-size: 16px;
$base-line-height: 24px;

//Maintain a typographic modular scale by only choosing font-size form the following map
//See tools.functions for size() helper function.
$modular_scale: (
  "xxs":    9px,
  "xs":    11px,
  "sm":    12px,
  "s":     13px,
  "ms":    14px,
  "base": $base-font-size,
  "sb":    17px,
  "b":     18px,
  "l":     20px,
  "ml":    23px,
  "xl":    25px,
  "xxlm":  26px,
  "xlm":   32px,
  "xxl":   36px,
  "h":     38px
);


// Z-index management. Read the following article.
// http://www.smashingmagazine.com/2014/06/12/sassy-z-index-management-for-complex-layouts/
// Also see tools.functions for z() helper function.
$site-elements: sidebar, slider, slider-controls, top, site-nav, access;


// Measurements and common values
$sitewidth:        100%;
$max-side-width:   400px;

$base-round:       3px;

// set inuit config
$inuit-base-font-size:              $base-font-size;
$inuit-base-line-height:            $base-line-height;