@font-face {
  font-family: 'berthold_akzidenz_grotesk_bRg';
  src: url('../fonts/akzidenzgroteskbe-regular-webfont.woff2') format('woff2'),
       url('../fonts/akzidenzgroteskbe-regular-webfont.woff') format('woff'),
       url('../fonts/AkzidenzGroteskBE-Regular') format('otf'),
       url('../fonts/akzidenzgroteskbe-regular-webfont.svg#berthold_akzidenz_grotesk_bRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'berthold_akzidenz_grotesk_bBd';
  src: url('../fonts/akzidenzgroteskbe-bold-webfont.woff2') format('woff2'),
       url('../fonts/akzidenzgroteskbe-bold-webfont.woff') format('woff'),
       url('../fonts/AkzidenzGroteskBE-Bold.otf') format('otf'),
       url('../fonts/akzidenzgroteskbe-bold-webfont.svg#berthold_akzidenz_grotesk_bBd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'berthold_akzidenz_grotesk_bMd';
  src: url('../fonts/akzidenzgroteskbe-md-webfont.woff2') format('woff2'),
       url('../fonts/akzidenzgroteskbe-md-webfont.woff') format('woff'),
       url('../fonts/AkzidenzGroteskBE-Md.otf') format('otf'),
       url('../fonts/akzidenzgroteskbe-md-webfont.svg#berthold_akzidenz_grotesk_bMd') format('svg');
  font-weight: normal;
  font-style: normal;
}

$primary-font: 'berthold_akzidenz_grotesk_bRg', sans-serif;
$primary-bold: 'berthold_akzidenz_grotesk_bBd', sans-serif;
$primary-md: 'berthold_akzidenz_grotesk_bMd', sans-serif;