// Apply ‘attention’ styles in one go.
@mixin attention($self: false) {

  @if($self != false) {

    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }

  }

  @else {

    &:hover,
    &:active,
    &:focus {
      @content;
    }

  }

}

@mixin unstyle-button {
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1;
  background: transparent;
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

@mixin visuallyhidden {
  position: absolute;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}

@mixin not-visuallyhidden {
  height: auto;
  width: auto;
  overflow: auto;
  position: relative;
  clip: auto;
}

// for image replacement
@mixin ir {
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}