// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

$brand: #312b7b;

$theme-colors: (
	"brand": $brand,
	"link": $brand,
	"link hover": $brand,
	"light brand": #909bec,
	"bright brand": #5561b4,
	"white": #fff,
	"brand alt": #dd233e,
	"black": #000,
	"grey": #373f41,
	"content": #737b7d
);

// helper variables
$font-color: map-get($theme-colors, "brand");
$loud-color: map-get($theme-colors, "brand");
