$primary: muli, sans-serif;

// Muli Regular
// font-family: muli, sans-serif;
// font-weight: 400;
// font-style: normal;

// Muli SemiBold
// font-family: muli, sans-serif;
// font-weight: 600;
// font-style: normal;

// Muli Bold
// font-family: muli, sans-serif;
// font-weight: 700;
// font-style: normal;

// Muli ExtraBold
// font-family: muli, sans-serif;
// font-weight: 800;
// font-style: normal;
