select,
textarea,
input {
	outline: none;
}
select,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"] {
	display: block;
	width: 100%;
	padding: 8px 16px;
	border-radius: 0;
	background: transparent;
	background: #ffffff;
	border: 1px solid rgba(25, 25, 25, 0.2);
	box-sizing: border-box;
	border-radius: 5px;
	appearance: none;
	@include font-size(16px, 1.5);
	&::-webkit-input-placeholder {
		color: color("light grey");
	}
	&::-moz-placeholder {
		color: color("light grey");
	}
	&::-ms-input-placeholder {
		color: color("light grey");
	}
	&::-moz-placeholder {
		color: color("light grey");
	}
	&::placeholder {
		color: color("light grey");
	}
}
textarea {
	height: 220px;
	resize: none;
}
select {
	padding: 8px 56px 8px 16px;
	background-image: linear-gradient(
			45deg,
			transparent 50%,
			color("content") 50%
		),
		linear-gradient(135deg, color("content") 50%, transparent 50%),
		linear-gradient(to right, color("content"), color("content"));
	background-position: calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-repeat: no-repeat;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	box-shadow: none;
}

// THIS RADIO BUTTON STYLE IS SPECIFIC TO CONTACT FORM 7
input[type="radio"],
input[type="checkbox"] {
	opacity: 0;
	appearance: none;
	&:checked {
		background: tint(color("content"), 20%);
	}
	+ span {
		display: inline-block;
		cursor: pointer;
		line-height: 1.6;
		&:before {
			content: " ";
			display: inline-block;
			width: 25px;
			height: 25px;
			margin-right: 10px;
			background: #ffffff;
			border: 1px solid rgba(25, 25, 25, 0.2);
			box-sizing: border-box;
			border-radius: 5px;
			vertical-align: middle;
			transition: 0.25s;
		}
	}
	&:checked + span::before {
		background: tint(color("blue"), 20%);
		border-color: color("blue");
	}
	&:focus + span {
		// outline: 1px dotted tint(color("content"), 20%);
		// outline-offset: 2px;
	}
}
.input-wrap {
	display: inline-block;
	width: 100%;
	margin-bottom: 24px;
	vertical-align: top;
	span.label {
		text-align: left;
		display: block;
		margin-bottom: 6px;
	}
	.hidden-label {
		position: absolute;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		width: 1px;
		margin: 0;
		padding: 0;
		border: 0;
	}
	&.half {
		@include mq(tablet) {
			float: left;
			width: 50%;
		}
	}
	&.left {
		@include mq(tablet) {
			padding-right: 8px;
		}
	}
	&.right {
		@include mq(tablet) {
			padding-left: 8px;
		}
	}
	&.no-mb {
		margin-bottom: 4px;
	}
	&.submit {
		position: relative;
		display: inline-block;
		width: auto;
		input[type="submit"] {
			text-transform: uppercase;
			display: inline-block;
			text-decoration: none;
			font-weight: normal;
			border: 0;
			background: transparent;
			line-height: 1.25;
		}
	}
}

// CONTACT FORM 7 SPECIFIC STYLES
.wpcf7 {
	&-checkbox {
		display: block;
		max-width: 630px;
	}
	&-list-item {
		margin-bottom: 20px;
		display: inline-block;
		min-width: 210px;
		&:not(:last-of-type) {
			margin-right: 24px;
		}
	}
	&-form-control-wrap {
		display: block;
		margin-bottom: 1px;
	}
	&-not-valid {
		border-bottom: 1px solid color("red") !important;
		.wpcf7-list-item-label {
			color: red;
			&::before {
				border-color: red;
			}
		}
	}
	.screen-reader-response {
		display: none !important;
	}
	&-not-valid-tip {
		display: none;
	}
	&-not-valid-tip,
	&-validation-errors {
		color: red;
	}
	&-not-valid-tip,
	&-response-output {
		@include font-size(16px, 1.5);
	}
}

.ajax-loader {
	pointer-events: none;
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	&:after {
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		display: block;
		width: 24px;
		height: 24px;
		background-image: url("../img/icon-submit-loader.png");
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	&.is-active {
		display: inline-block;
		opacity: 1;
		&:after {
			animation: spinLoader 1.5s infinite;
		}
	}
}

@keyframes spinLoader {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

// Ninja form styling

.nf-form-cont {
	nf-field {
		display: inline;
	}
	.input-wrap {
		clear: initial;
	}
	.nf-form-content label {
		text-align: left;
		display: block;
		margin-bottom: 6px;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.3;
	}
	.nf-form-content .list-select-wrap .nf-field-element > div,
	.nf-form-content input:not([type="button"]),
	.nf-form-content textarea {
		display: block;
		width: 100%;
		padding: 8px 16px;
		border-radius: 0;
		background: transparent;
		background: #ffffff;
		border: 1px solid rgba(25, 25, 25, 0.2);
		box-sizing: border-box;
		border-radius: 5px;
		appearance: none;
		@include font-size(16px, 1.5);
		&::-webkit-input-placeholder {
			color: color("light grey");
		}
		&::-moz-placeholder {
			color: color("light grey");
		}
		&::-ms-input-placeholder {
			color: color("light grey");
		}
		&::-moz-placeholder {
			color: color("light grey");
		}
		&::placeholder {
			color: color("light grey");
		}
	}
	.label-hidden .nf-field-label {
		height: auto;
		margin: 0 !important;
		width: 100%;
		visibility: visible;
	}
	.nf-error.field-wrap .nf-field-element:after,
	.nf-error .nf-error-msg,
	.nf-form-fields-required {
		display: none;
	}
	.nf-field-element {
		p {
			margin-bottom: 10px;
		}
	}
	.three-col-list ul li {
		@include mq($until: laptop) {
			float: left;
			width: 50%;
			@include mq($until: mobileLandscape) {
				width: 100%;
			}
		}
	}
	// .checkbox-wrap .nf-field-label label:after,
	.list-checkbox-wrap .nf-field-element,
	.checkbox-wrap {
		input[type="checkbox"] {
			opacity: 0;
			appearance: none;
			position: absolute;
		}
		li input[type="checkbox"] + label,
		.nf-field-label label {
			font-size: 18px;
			margin-left: 0;
			cursor: pointer;
		}
		li input[type="checkbox"] + label:before,
		.nf-field-label label:before {
			content: " ";
			display: inline-block;
			width: 25px;
			height: 25px;
			margin-right: 15px;
			background: #ffffff;
			border: 1px solid rgba(25, 25, 25, 0.2);
			box-sizing: border-box;
			border-radius: 5px;
			vertical-align: middle;
		}
		li input[type="checkbox"] + .nf-checked-label:before,
		.nf-field-label .nf-checked-label:before {
			background: tint(color("blue"), 20%);
			border-color: color("blue");
		}
	}
	.label-right .nf-field-label {
		padding-left: 0;
		order: 0;
	}
	.submit {
		margin-top: 25px;
		margin-bottom: 40px;
	}
	.nf-form-content input[type="button"] {
		padding: 17px 30px 14px;
		transition: 0.3s;
		@include font-size(size("bs"), 1);
		text-transform: uppercase;
		display: inline-block;
		font-family: inherit;
		text-decoration: none;
		font-weight: normal;
		border-radius: 4px;
		border: 2px solid color("green");
		color: color("green");
		position: relative;
		background-color: transparent;
		text-align: center;
		cursor: pointer;
		&:hover {
			background-color: color("green");
			color: color("white");
		}
	}
	.nf-field-container {
		&.unknown-container {
			margin: 0;
			height: 0;
		}
	}
	.nf-error-msg,
	.ninja-forms-req-symbol {
		color: #e80000;
		margin-bottom: 20px;
	}
	.nf-after-field {
		display: none;
	}
	.nf-error.listimage-wrap .nf-field-element ul,
	.nf-error .ninja-forms-field {
		border-bottom: 1px solid #e80000 !important;
	}
	// .recaptcha-container{
	// 	opacity: 0;
	// 	display: none;
	// }
}
