h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	line-height: 1.25;
}
h1 {
	margin-bottom: spacer(0.5, size("xxl"));
	font-weight: bold;
	@include font-size(size("xxl"), 1.3);
	margin-top: 0;
}

h2,
.u-h2 {
	margin-bottom: 24px;
	font-weight: bold;
	@include font-size(size("m"), 1.2);
	@include mq(tablet) {
		@include font-size(size("xls"), 1.2);
	}
}

h3 {
	margin-bottom: spacer(1, size("l"));
	font-weight: bold;
	@include font-size(size("l"), 1.2);
}

.page-title {
	font-size: 100px;
	font-weight: normal;
	line-height: 0.9;
	max-width: 530px;
	margin-top: 0;
	margin-bottom: 24px;
	@include mq($until: tabletWide) {
		font-size: 100px;
	}
	@include mq($until: tablet) {
		font-size: 68px;
	}
	&-alt {
		font-size: 100px;
		font-weight: normal;
		line-height: 0.9;
		max-width: 750px;
		margin-bottom: 24px;
		@include mq($until: tablet) {
			font-size: 52px;
		}
	}
}
