body {
	min-height: 100%;
	font-family: $primary;
	font-weight: 300;
	@include font-size($base-font-size, 1.6);
	color: color("content");
	-webkit-font-smoothing: antialiased;
	// background-color: #f4f4f4;
	background-color: #f6f6f5;
	overflow-x: hidden;
}

// Use https://github.com/willmcpo/body-scroll-lock, it's already in the scripts
.scroll-lock {
	height: 100%;
	// max-height: 100vh;
	overflow: hidden;
}

.is-blured {
	pointer-events: none;
	filter: blur(3px);
}

.intro-para p:first-of-type {
	max-width: 830px;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 24px;
	line-height: 1.25;
	strong {
		color: color("green");
		font-weight: bold;
	}
	@include mq($until: tablet) {
		font-size: 24px;
	}
}
.page-scroll {
	display: inline-block;
	position: absolute;
	z-index: 10;
	right: -5px;
	top: 230px;
	@include mq(tablet) {
		// top: 45%;
		// transform: translate(-45%);
		top: 0;
		right: 0px;
	}
	svg {
		width: 15px;
		height: 116px;
		transition: 0.3s;
		@include mq(tablet) {
			width: 18px;
			height: 174px;
		}
	}
	&:hover {
		svg {
			transform: translateY(8px);
		}
	}
}
.page-contact-bottom {
	text-align: center;
	padding: 50px 0;
	background-color: #fff;
	@include mq(tablet) {
		padding: 100px 0;
	}
	p {
		font-weight: bold;
		line-height: 1.1;
		max-width: 800px;
		margin: 0 auto 36px;
		font-size: 32px;
		@include mq(tablet) {
			font-size: 50px;
		}
	}
}

.c-default {
	margin-bottom: 100px;
	.c-cms-content {
		h2,
		h3,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 24px;
		}
		h4,
		h5 {
			font-size: 24px;
		}
		h2,
		h3 {
			font-size: 36px;
		}
		a {
			color: color("pink");
		}
	}
}

// mailchimp widget

.home .mc-modal,
.home .mc-banner {
	display: none !important;
}
.mc-modal {
	.content__titleDescription {
		margin-top: 10px !important;
	}
	.content__button {
		.button {
			@extend .o-btn;
		}
	}
}
