.animate {
	// opacity: 0;
	// animation-delay: 0.2s;
	&:nth-child(3n + 1) {
		// animation-delay: 0.2s;
	}
	&:nth-child(3n + 2) {
		// animation-delay: 0.2s;
	}
	&:nth-child(3n + 3) {
		// animation-delay: 0.4s;
	}
}
.animated {
	opacity: 1;
	animation: fadeInUp 0.75s;
	animation-fill-mode: both;
}

.u-animation-delay {
	&-0 {
		animation-delay: 0s;
	}

	&-1 {
		animation-delay: 0.2s;
	}

	&-2 {
		animation-delay: 0.4s;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 60px, 0);
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
