.accordions {
	& > ul {
		margin: 0;
		list-style: none;
		padding-left: 0;
		& > li {
			border-bottom: solid 1px #ccc;
			opacity: 1 !important;
			.question {
				font-weight: 500;
				font-size: 20px;
				line-height: 30px;
				position: relative;
				padding: 25px 35px 25px 0;
				cursor: pointer;
				&:after {
					content: "";
					background: url("../img/down-arrow-faq.svg") no-repeat
						center;
					background-size: 19px;
					width: 19px;
					height: 11px;
					position: absolute;
					right: 5px;
					top: 50%;
					transition: all 0.5s ease;
					transform: translate(0, -50%);
				}
				&.active {
					&:after {
						transform: rotate(180deg);
					}
				}
				h3 {
					margin: 0;
				}
			}
			&:first-child {
				.question {
					border-top: solid 1px #ccc;
				}
			}
			.answer {
				display: none;
				a {
					color: #333;
				}
				li {
					padding: 7px 0;
				}
				h4 {
					font-size: 20px;
					font-weight: 400;
				}
			}
		}
	}
}
