.c-amenities {
	padding: 60px 0 30px;
	position: relative;
	h2 {
		font-size: 38px;
		line-height: 50px;
	}
	&__bg {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: -1;
		width: 200vw;
		left: -50%;
		background-color: #05adb5;
	}
	h2,
	p,
	a {
		opacity: 1;
		font-family: $primary;
		color: white;
	}
	a {
		display: block;
		margin-bottom: 12px;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
	}
	&__container {
		.o-layout--medium > .o-layout__item {
			@include mq($until: tablet) {
				margin-bottom: 12px;
			}
		}
	}
	&__item {
		display: flex;
		.c-svgicon--icon {
			@include mq($until: tablet) {
				width: 18px;
				height: 18px;
				transform: translateY(3px);
			}
		}
	}
	&__content {
		max-width: calc(100% - 52px);
		h4 {
			font-size: 18px;
			line-height: 20px;
			font-weight: bold;
			color: white;
		}
		p {
			margin-bottom: 0;
			opacity: 0.8;
			@include mq($until: tablet) {
				line-height: 1.5;
			}
		}
	}
}
