.breadcrumb {
	color: #a0a0a0;
	margin-bottom: 24px;
	@include mq($until: tablet) {
		display: none;
	}
	span {
		color: #424242;
		a {
			color: #a0a0a0;
			& > span {
				color: #a0a0a0;
			}
		}
	}
	span.separator {
		display: inline-block;
		padding: 0 10px;
		line-height: 12px;
	}
}
.breadcrumb a {
	color: #a0a0a0;
}
