.c-categorylist {
	padding-bottom: 48px;
	&__item {
		width: 100%;
		text-align: center;
		background: #ffffff;
		border: 1px solid #ececec;
		box-shadow: 0px 4px 10px rgba(173, 173, 173, 0.25);
		border-radius: 4px;
		min-height: 100px;
		display: flex;
		transition: 0.25s;
		flex-direction: column;
		justify-content: space-around;
		font-size: 16px;
		line-height: 30px;
		@include mq($until: tablet) {
			min-height: 56px;
		}
		&:hover {
			border: 1px solid #a0a0a0;
			a {
				color: #00ab47;
			}
		}
		a {
			height: 100%;
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			background: none;
			text-decoration: none;
			font-weight: bold;
			color: #424242;
			transition: 0.25s;
			padding: 0 15px;
			line-height: 22px;
			span {
				max-width: 198px;
				margin: auto;
			}
		}
	}
	&__button {
		display: none !important;
		&.active {
			display: flex !important;
		}
	}
	&__location {
		margin-bottom: 48px;
		@include mq($until: tablet) {
			margin-bottom: 24px;
		}
		h4 {
			font-size: 14px;
			line-height: 30px;
			color: #424242;
			font-weight: bold;
		}
		&_links {
			margin-left: -6px;
			@include mq(tablet) {
				margin-left: -12px;
			}
			a {
				display: inline-block;
				padding: 5px 16px;
				height: 38px;
				border: 2px solid #a0a0a0;
				border-radius: 100px;
				text-decoration: none;
				color: #424242;
				transition: 0.25s;
				background: transparent;
				margin-left: 6px;
				margin-bottom: 8px;
				@include mq(tablet) {
					margin-left: 12px;
				}
				&.active {
					color: white;
					border: 2px solid #424242;
					background: #424242;
				}
			}
		}
	}
	&__container {
		&.o-layout--medium,
		.o-layout--medium {
			> .o-layout__item {
				@include mq($until: tablet) {
					margin-bottom: 12px;
				}
			}
		}
	}
}

.categoryListsCustom {
	@include mq($until: tablet) {
		margin-bottom: 12px !important;
	}
}
