.c-contactlist {
	padding: 3rem 0 0;
	overflow: hidden;
	p {
		max-width: 850px;
		margin-bottom: 60px;
	}
	h6 {
		font-size: 16px;
		line-height: 30px;
		margin-bottom: 12px;
	}
	&__container {
		max-width: 850px;
	}
	&__item {
		position: relative;
		margin-bottom: 18px;
		padding-bottom: 18px;
		border-bottom: 1px solid rgba(160, 160, 160, 0.3);
		p,
		a,
		span {
			display: inline-block;
			margin-bottom: 0;
			font-size: 16px;
			line-height: 30px;
			opacity: 0.8;
			color: #1b1d1f;
			text-decoration: none;
			transition: all 0.4s ease;
		}
		a:hover {
			color: color("green");
		}
		&:not(:nth-child(3n + 4)) {
			&:after {
				content: "";
				background: rgba(160, 160, 160, 0.3);
				position: absolute;
				left: 0;
				height: 109px;
				width: 1px;
				top: 0;
			}
		}
		&:first-of-type {
			&:after {
				content: "";
				background: rgba(160, 160, 160, 0);
			}
		}
		&:nth-last-child(-n + 3):nth-child(3n + 1),
		&:nth-last-child(-n + 3):nth-child(3n + 1) ~ & {
			border-bottom: none;
		}
	}
}

.contactFormHolder {
	padding-top: 3rem;
}
