.c-contactform {
	span {
		font-weight: bold;
		font-size: 16px;
		line-height: 30px;
		color: #424242;
		opacity: 0.8;
	}
	.wpcf7-submit {
		float: right;
		padding: 5px 95px;
		appearance: none;
		background: white;
		border: 2px solid color("purple");
		box-sizing: border-box;
		border-radius: 30px;
		opacity: 1;
		transition: 0.25s;
		font-size: 16px;
		line-height: 30px;
		font-weight: bold;
		color: color("purple");
		text-decoration: none;
		@include mq($until: tablet) {
			float: none;
		}
		&:hover {
			background-color: color("purple");
			color: #fff;
		}
	}
	.wpcf7-select {
		color: #424242;
		font-family: $primary;
		font-size: 16px;
		line-height: 30px;
		border: 1px solid #a0a0a0;
		border-radius: 4px;
		height: 44px;
	}
	.wpcf7-not-valid {
		border: 2px solid #ffba00;
	}
	.wpcf7-not-valid-tip {
		display: none;
	}

	div.submitButton {
		text-align: center;
	}
}

.wpcf7-response-output {
	margin-left: 126px;
	color: #ffba00;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
}

.row-drop {
	label {
		span {
			display: inline-block;
			&:first-of-type {
				vertical-align: middle !important;
				width: 193px !important;
			}
			&:last-of-type {
				width: calc(100% - 203px) !important;
				@include mq($until: tablet) {
					width: 100% !important;
				}
			}
		}
	}
}

.row-left {
	width: 48.5%;
	float: left;
	@include mq($until: tablet) {
		width: 100%;
	}
}

.row-right {
	width: 48.5%;
	float: right;
	@include mq($until: tablet) {
		width: 100%;
	}
}

.form-row {
	margin-bottom: 24px;
	input {
		height: 100%;
	}
	textarea {
		display: inline-block;
		height: 216px;
	}
	input,
	textarea {
		background: #ececec;
		box-shadow: none;
		background-image: none;
		border-radius: 4px;
		border: none;
	}
	label {
		position: relative;
		overflow: auto;

		span {
			display: inline-block;
			&:first-of-type {
				vertical-align: top;
				width: 116px;
				margin-right: 10px;
			}
			&:last-of-type {
				width: calc(100% - 126px);
				height: 50px;
				@include mq($until: tablet) {
					width: 100%;
				}
			}
		}
		span:first-child {
			@include mq($until: tablet) {
				width: 100%;
				display: block;
			}
		}
	}
}

.row-full {
	clear: both;
	label {
		span {
			&:last-of-type {
				width: calc(100% - 131px);
				height: auto;
				margin-left: -5px;
				@include mq($until: tablet) {
					width: 100%;
				}
			}
		}
	}
}

.row-clear {
	clear: both;
}
