.c-director {
	//margin-top: 72px;
	img {
		margin-bottom: 20px;
	}
	h6 {
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 20px;
		font-weight: 500;
	}

	&__wrap {
		margin-bottom: 44px;
		@include mq(tablet) {
			margin-bottom: 56px;
		}
	}

	&__name {
		color: color("black");
	}

	&__position {
		color: rgba(color("charcoal"), 0.8);
	}

	p {
		font-size: 16px;
		line-height: 30px;
		color: rgba(color("charcoal"), 0.8);
	}

	// span {
	// 	display: block;
	// 	margin-bottom: 12px;
	// 	font-size: 18px;
	// 	font-weight: 500;
	// 	line-height: 20px;
	// }
	// p,
	// span {
	// 	color: color("charcoal");
	// 	opacity: 0.8;
	// }
}

.morecontent span {
	display: none;
}

a.morelink {
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-top: 20px;
	color: color("blue");
}

.more {
	opacity: 0.8;
}
