.c-events {
	margin-top: 3rem;
	.o-module__item {
		padding-top: 10px;
		padding-right: 5px;
	}
	&__news {
		&_bubble {
			background: white;
			box-shadow: 0px 0 4px 4px rgba(96, 96, 96, 0.04);
			border-radius: 4px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&_wrapper {
				padding: 26px 20px;
			}
			&_header {
				margin-bottom: 16px;
				span,
				a {
					color: #424242;
					opacity: 0.8;
					font-size: 14px;
					line-height: 20px;
				}
				a {
					margin-right: 12px;
					padding: 3px 24px;
					text-decoration: none;
					border: 1px solid #424242;
					box-sizing: border-box;
					border-radius: 30px;
				}
				span {
					font-weight: 500;
				}
			}
			&_content {
				h4 {
					font-size: 25px;
					line-height: 30px;
					margin-bottom: 10px;
					color: #039199;
					text-align: left;
					a {
						color: #039199;
						font-weight: 500;
						text-decoration: none;
						font-size: 25px;
					}
				}
				p {
					line-height: 30px;
					color: color("charcoal");
					opacity: 0.8;
					margin-bottom: 12px;
				}
				a {
					color: #039199;
					font-size: 14px;
					line-height: 22px;
					font-weight: bold;
				}
			}
			img {
				border-radius: 0 0 4px 4px;
				margin-bottom: 32px;
			}

			.eventImage {
				min-height: 220px;
				border-radius: 5px;
				margin-bottom: 25px;
			}

			div.shortInfo {
				font-size: 14px;
				line-height: 22px;
			}

			.readMore {
				a {
					text-decoration: none;
					transition: all 0.4s ease;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.eventDate {
		font-size: 13px;
		font-weight: 500;
		padding-bottom: 15px;
	}
}

body.page-id-99,
body.page-id-228,
body.page-id-92 {
	.u-8\/10\@tabletWide {
		width: 100% !important;
		margin-bottom: 0;
	}
	div.headingHolder,
	div.subHeadingHolder {
		max-width: 960px;
	}
}

div.headingHolder,
div.subHeadingHolder,
.copyText {
	max-width: 960px;
}

.eventComponent {
	background: color("blue");
	padding: 3rem 0;
	.c-home__news_header {
		h2,
		a {
			color: #fff;
		}
	}
	.c-events__news_bubble {
		box-shadow: 0px 0 4px 4px rgba(0, 0, 0, 0.07);
	}
}
