.c-faq {
	.o-layout {
		margin-left: -22px;
	}
	&__table {
		overflow: hidden;
		max-height: 0;
		opacity: 0;
		transition: opacity 0.25s;
		pointer-events: none;
		&.active {
			max-height: 100vh;
			opacity: 1;
			pointer-events: auto;
		}
	}
	&__header {
		h2 {
			display: inline-block;
		}
		&_links {
			float: right;
		}
		&_link {
			display: inline-block;
			padding: 8px 16px;
			height: 44px;
			border: 2px solid #a0a0a0;
			border-radius: 100px;
			text-decoration: none;
			color: #424242;
			&:not(:last-of-type) {
				margin-right: 18px;
			}
		}
	}
	h6 {
		margin-bottom: 9px;
	}
	p {
		margin-bottom: 24px;
	}
}
