.gform_wrapper {
	display: block !important;
}

.gform_wrapper .gfield_radio li label {
	margin: 4px 0 4px 4px !important;
}

.gform_body {
	* {
		font-family: "Montserrat", sans-serif;
	}
	input.button {
		background: #fff;
		border: solid 2px color("green");
		color: color("green");
		display: inline-block;
		padding: 8px 2rem;
		border-radius: 100px;
		transition: all 0.5s ease;
		&:hover,
		&:focus {
			background: color("green");
			color: #fff;
		}
	}
	ul.gform_fields {
		li {
			padding-bottom: 25px;
			label.gfield_label {
				font-weight: bold;
				color: #222;
				padding-bottom: 15px;
			}
			div.ginput_container {
				span {
					& > label {
						text-transform: uppercase;
						font-weight: 600;
						padding-bottom: 7px;
					}
				}

				span.ginput_left,
				span.ginput_right,
				.ginput_full {
					margin-bottom: 15px;
				}
			}
			div.gfield_description {
				text-transform: uppercase;
				font-weight: 600;
				padding-bottom: 7px;
			}
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="tel"],
	textarea {
		background-color: #f7f7f7;
		border: none;
		border-radius: 4px;
		box-shadow: none;
		padding: 10px !important;
	}

	select {
		background-color: #f7f7f7;
		height: 44px;
		border: none;
		border-radius: 5px;
		padding-left: 10px !important;
	}
	.gform_delete {
		display: inline-flex;
		flex-direction: row;
		width: 14px;
		height: 14px;
		margin-right: 4px;
	}
}

.gfield_checkbox {
	li {
		position: relative;
		padding-left: 40px;
		label {
			padding-left: 30px !important;
			font-weight: 600;
			&:after {
				content: "";
				background: color("blue");
				width: 20px;
				height: 20px;
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				border-radius: 3px;
				z-index: 0;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				width: 6px;
				height: 12px;
				border: solid #fff;
				border-width: 0 3px 3px 0;
				left: 7px;
				top: 4px;
				transform: rotate(45deg);
				opacity: 0;
				z-index: 1;
				transition: all 100ms;
			}
		}
	}
}

input[type="checkbox"] {
	opacity: 0;
	outline: none;
	z-index: 100;
	width: 27px;
	height: 27px;
	top: 0;
	left: 0;
	position: absolute;
	appearance: none;
	cursor: pointer;
	+ label {
		cursor: pointer;
	}
	&:checked + label {
		&:before {
			opacity: 1;
			top: 3px;
		}
	}
}

//radio button styles

input[type="radio"] {
	display: none;
}

input[type="radio"] label {
	position: relative;
	cursor: pointer;
}

input[type="radio"] + label:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0px 8px 0 0;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid color("blue");
}

input[type="radio"]:checked + label {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: -1px;
		left: -3px;
		width: 24px;
		height: 24px;
		border: 1px solid color("blue");
		border-radius: 50%;
		display: inline-block;
		cursor: pointer;
	}

	&:before {
		background-color: color("blue");
	}
}
