.c-svgicon {
	&--back-arrow {
		width: 13px;
		float: right;
	}
	&--people {
		width: 54px;
	}
	&--tooth {
		width: 47px;
	}
	&--health-icon {
		width: 36px;
	}
	&--scope {
		width: 51px;
	}
	&--walker {
		width: 55px;
	}
	&--search-icon {
		width: 24px;
	}
	&--arrow-icon {
		width: 14px;
	}
	&--icon {
		width: 36px;
		height: 36px;
		color: white;
		margin-right: 16px;
	}
}
