.c-imageslider {
	padding: 40px 0 0;
	position: relative;
}

.c-slide {
	padding: 6px 6px 24px;
	display: inline-block;
	margin: 0 9px;
	background: #ffffff;
	box-shadow: 0px 4px 15px rgba(96, 96, 96, 0.2);
	border-radius: 4px;
	h4 {
		color: black;
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
	}
	p {
		color: black;
		font-size: 16px;
		line-height: 30px;
		opacity: 0.8;
	}
	img {
		margin-bottom: 18px;
	}
}

.slick-list {
	max-width: 100%;
}
