.c-leadership {
	position: relative;
	margin-top: 72px;
	padding-top: 60px;
	padding-bottom: 48px;
	h2 {
		color: color("purple");
		margin-bottom: 72px;
	}
	img {
		margin-bottom: 20px;
		border: 4px;
	}
	h6 {
		margin-bottom: 6px;
		font-size: 18px;
		font-weight: bold;
		line-height: 20px;
		&:last-of-type {
			margin-bottom: 12px;
		}
	}
	span {
		display: block;
		margin-bottom: 12px;
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
	}
	p,
	span {
		color: color("charcoal");
		opacity: 0.8;
	}
	&__background {
		position: absolute;
		top: 0;
		right: 50%;
		bottom: 0;
		left: 50%;
		width: 200vw;
		background: #a0a0a0;
		opacity: 0.1;
		margin-left: -100%;
	}
}
