body.page-id-70 {
	.c-content__content {
		.u-8\/10\@tabletWide {
			width: 100% !important;
			margin-bottom: 1rem;
		}
		.c-contactlist__container {
			max-width: 100%;
			display: flex;
		}
	}
}

.locationLists {
	padding-top: 10px;
	padding-bottom: 10px;

	& > div.locationHolder {
		text-align: center;
		box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.08);
		padding: 15px;
		height: 100%;
		width: 100%;

		a {
			display: block;
			width: 100%;
			text-decoration: none;
			overflow: hidden;
			h6 {
				font-size: 25px;
				margin: 0;
				padding: 5px 0 15px;
				font-weight: 300;
			}
			&:hover {
				.locationImgHolder {
					transform: scale(1.05);
				}
			}
		}

		.locationImgHolder {
			min-height: 200px;
			width: 100%;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: cover;
			transition: all 0.5s ease;
		}
	}
}

.locationLists:nth-child(3n + 1) {
	a {
		color: color("green");
	}
}
.locationLists:nth-child(3n + 2) {
	a {
		color: color("blue");
	}
}
.locationLists:nth-child(3n + 3) {
	a {
		color: color("purple");
	}
}

.locationContainer {
	margin-left: -20px;
	padding-right: 10px;
	padding-top: 2.5rem;
	@include mq($until: tablet) {
		padding-right: 5px;
	}
}

.locationLists {
	&:after {
		background: none !important;
	}
}

article.post-76,
article.post-74,
article.post-72 {
	.c-categorylist {
		padding-bottom: 30px !important;
	}
}
