.c-lookup {
	margin-bottom: 38px;
	max-width: 450px;
	position: relative;
	@include mq($until: mobileLandscape) {
		max-width: 375px;
	}
	&__input {
		padding: 8px 12px 8px 46px !important;
		display: inline-block !important;
		max-width: 350px !important;
		height: 60px !important;
		//background: white !important;
		border: 0 !important;
		border-radius: 4px !important;
		box-shadow: 0px 4px 15px rgba(96, 96, 96, 0.2) !important;
		font-size: 16px;
		line-height: 30px;
		color: rgba(66, 66, 66, 0.8) !important;
		font-family: $primary !important;
		background: url("../img/search-icon-banner.svg") no-repeat 12px center
			#fff !important;
		@include mq($until: tablet) {
			height: 50px !important;
		}
		&::placeholder {
			color: rgba(66, 66, 66, 0.8) !important;
			font-family: $primary !important;
			@include mq($until: tablet) {
				color: transparent !important;
			}
		}
	}
	&__submit {
		position: absolute;
		cursor: pointer;
		right: 0;
		top: 0;
		height: 100%;
		background-color: color("purple");
		font-weight: 600;
		font-size: 22px;
		line-height: 30px;
		color: white;
		font-family: $primary;
		box-shadow: 4px 0px 15px 4px rgba(96, 96, 96, 0.2) !important;
		border-radius: 0 4px 4px 0;
		@media (max-width: 600px) {
			font-size: 16px;
		}

		// position: relative;
		// left: -5px;
		// top: 3px;
		// margin: 0;
		// height: 60px;
		// padding: 13px 42px;
		// border-radius: 0 4px 4px 0;
		// background-color: color("purple");
		// font-weight: 600;
		// font-size: 25px;
		// line-height: 30px;
		// color: white;
		// font-family: $primary;
		// box-shadow: 4px 0px 15px 4px rgba(96, 96, 96, 0.2) !important;
		&:hover {
			opacity: 1;
		}
	}
	&__service {
		font-size: 16px;
		font-weight: 600;
		line-height: 30px;
		color: #ffffff;
		text-decoration: none;
		position: relative;
		padding-bottom: 2px;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 1px;
			background: #fff;
			transition: width 0.2s ease;
		}
		&:hover {
			&:after {
				width: 100%;
			}
		}
	}
	&__form {
		position: relative;
		svg {
			position: absolute;
			top: calc(50% + 2px);
			transform: translateY(-50%);
			color: #424242;
			left: 20px;
			opacity: 0.6;
			width: 16px;
		}
	}
}

.viewBtn {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	a.downArrow {
		@media (min-width: 601px) {
			display: none;
		}
		img {
			width: 32px;
		}
	}
}
