body.page-id-94 {
	.u-8\/10\@tabletWide {
		width: 100% !important;
		margin-bottom: 0;
	}
	div.headingHolder,
	div.subHeadingHolder {
		max-width: 960px;
	}
}

.newsImage {
	a.imgHolder {
		min-height: 220px;
		display: block;
	}
}

.newsHolder {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	.c-home__news_bubble {
		box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.04) !important;
	}
}
