.c-notification {
	text-align: center;
	position: relative;
	a {
		padding: 10px 0 9px;
		width: 100%;
		display: block;
		color: white;
		font-size: 16px;
		line-height: 30px;
		font-family: $primary;
	}
	a#close {
		position: absolute;
		right: 15px;
		width: 20px;
		height: 100%;
		top: 0;
		display: flex;
		align-items: center;
		@include mq($until: tablet) {
			right: 24px;
		}
		svg,
		img {
			width: 20px;
			height: 20px;
		}
	}
	&__content {
		@include mq($until: tablet) {
			padding-right: 24px;
		}
	}
	a.desktop {
		@include mq($until: tablet) {
			display: none;
		}
	}
	a.mobileOnly {
		@include mq(tablet) {
			display: none;
		}
	}
}
