.c-content {
	&__header {
		position: relative;
		padding: 0;
		background-image: url("../img/ncn-about-background-overlay.png");
		background-size: cover;
		display: flex;
		align-items: center;

		h1 {
			max-width: 420px;
			margin-bottom: 48px;
			color: white;
			@include mq($until: tablet) {
				margin-bottom: 12px;
				max-width: 310px;
				width: 100%;
				padding: 0 24px;
			}
		}
		&_image {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			background-image: url("../img/ncn-stock-image-about-header.jpg");
			background-size: cover;
			background-position: center;
		}
		.o-wrapper {
			width: 100%;
			position: relative;
			z-index: 1;
			@include mq($until: tablet) {
				padding-right: 0;
				padding-left: 0;
			}

			.coloredBg {
				display: flex;
				min-height: 355px;
				align-items: center;
				position: relative;
				max-width: 990px;
				@include mq($until: tablet) {
					align-items: flex-start;
					justify-content: flex-end;
					flex-flow: column wrap;
				}
				&:before {
					content: "";
					position: absolute;
					left: -1000%;
					width: 1000%;
					height: 100%;
				}
				h1 {
					@include mq(desktop) {
						font-size: 60px;
					}
					@include mq($until: tablet) {
						font-weight: 400;
						font-size: 32px;
						line-height: 34px;
					}
				}
			}
			.banner-blue {
				@include mq($until: tablet) {
					background: url("../img/header-1.svg") no-repeat right
						top/cover !important;
				}

				&:before {
					background-color: #05adb5;
				}
			}
			.banner-green {
				@include mq($until: tablet) {
					background: url("../img/header-2.svg") no-repeat right
						top/cover !important;
				}
				&:before {
					background-color: #00c269;
				}
			}
			.banner-purple {
				@include mq($until: tablet) {
					background: url("../img/header.svg") no-repeat right
						top/cover !important;
				}
				&:before {
					background-color: #5e2eab;
				}
			}
		}
	}
	&__content {
		overflow-x: hidden;
		padding: 24px 0 90px;
		&.has-latest-news {
			padding-bottom: 0;
		}
		h2 {
			&:not(:first-of-type) {
				margin-top: 60px;
			}
		}
		h4 {
			margin-bottom: 6px;
			text-align: left;
		}
		h5 {
			color: color("charcoal");
			opacity: 0.9;
			margin-bottom: 18px;
			font-weight: normal;
			font-size: 20px;
			line-height: 28px;
		}
		p {
			font-weight: normal;
			font-size: 16px;
			line-height: 30px;
			color: color("charcoal");
			opacity: 0.8;
		}
	}
}

.mobile-breadcrumb {
	display: block;
	padding: 0 24px 18px;
	@include mq(tablet) {
		display: none;
	}
	span {
		display: inline-block;
		color: #fff;
		font-size: 14px;
	}
	// span.separator {
	// 	display: inline-block;
	// 	padding: 0 10px;
	// }
	a {
		color: #fff;
		font-size: 14px;
		display: inline-block;
		background-image: url("../img/breadcrumb-arrow.png");
		background-size: 8px 8px;
		background-position: center left;
		background-repeat: no-repeat;
		padding-left: 14px;
		opacity: 0.85;
		span {
			text-decoration: underline;
		}
	}
	> span {
		display: none;
	}
	> span:nth-last-child(3) {
		display: inline-block;
	}
}
