.c-subscribe {
	padding: 60px 48px 36px;
	background-color: color("charcoal");
	@include mq($until: tablet) {
		padding: 48px 18px 26px;
		text-align: center;
	}
	.wpcf7-form {
		&.sent {
			p {
				display: none;
			}
			> .wpcf7-response-output {
				position: relative;
				top: 15px;
			}
		}
	}
	.wpcf7 {
		p {
			display: inline-block;
			margin-bottom: 9px;
		}
	}
	.wpcf7-response-output {
		margin-left: 0;
		font-style: italic;
		font-weight: normal;
	}
	.wpcf7-not-valid-tip {
		display: none;
	}
	.wpcf7-not-valid {
		border-bottom: 2px solid #ffba00 !important;
	}
	&__copy {
		margin: 0 auto;
		max-width: 494px;
		font-size: 25px;
		line-height: 30px;
		color: white;
		font-weight: 500;
		text-transform: uppercase;
	}
	.your-email {
		display: inline-block;
	}
	.wpcf7-email {
		font-family: $primary;
		display: inline-block;
		max-width: 259px;
		margin: 0 70px 0 0;
		border: none;
		border-bottom: 2px solid #ffffff;
		background: none;
		box-shadow: none;
		padding: 0 0 6px 0;
		font-size: 16px;
		line-height: 30px;
		color: white;
		@include mq($until: tablet) {
			margin: 0;
			text-align: center;
		}
		&::placeholder {
			font-size: 16px;
			font-family: $primary;
			line-height: 30px;
			color: white;
		}
	}
	.wpcf7-submit {
		padding: 0 40px;
		height: 40px;
		background: none;
		border: 2px solid #ffffff;
		border-radius: 30px;
		font-weight: bold;
		font-size: 16px;
		line-height: 30px;
		color: white;
		font-family: $primary;
	}
}

.c-emergency {
	padding: 10px 0;
	background-color: black;
	a {
		text-decoration: none;
	}
	h4 {
		color: color("yellow");
		@include mq($until: mobileLandscape) {
			font-size: 16px;
			line-height: 24px;
			font-weight: 600;
		}
	}
}

.c-bottom {
	padding: 40px 0 24px;
	background: url("../img/footer-bg.svg") no-repeat center/cover;
	&__flex {
		display: flex;
		@include mq($until: tablet) {
			display: block;
		}
	}
	&__flexer {
		display: inline-flex;
		justify-content: space-between;
		flex-direction: column;
	}
	&__logo {
		width: 306px;
		margin-bottom: 60px;
		@include mq($until: tablet) {
			max-width: 280px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 24px;
		}
	}
	&__flag {
		display: inline-block;
		width: 37px;
		margin-right: 12px;
		&:last-of-type {
			margin-right: 24px;
		}
	}
	&__content {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 18px;
		@include mq($until: tablet) {
			max-width: 380px;
			margin-left: auto;
			margin-right: auto;
		}
		p {
			max-width: 264px;
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
			color: white;
		}
		span {
			font-weight: bold;
			color: white;
			font-size: 16px;
			line-height: 30px;
		}
		&.socialLinks {
			@include mq($until: tablet) {
				text-align: center;
				justify-content: center;
			}
			&Desk {
				@include mq($until: tablet) {
					display: none;
				}
			}
			&Mobile {
				margin-bottom: 30px;
				@include mq(tablet) {
					display: none;
				}
			}
		}
	}
	&__social {
		img {
			display: inline-block;
			width: 11px;
			margin-left: 18px;
		}
		&:last-of-type {
			img {
				width: 21px;
				margin-left: 30px;
			}
		}
	}
	&__linklists {
		display: flex;
		justify-content: space-between;
		@include mq($until: tablet) {
			display: none;
		}
		ul {
			list-style-type: none;
			li {
				font-weight: bold;
				color: white;
				font-size: 16px;
				line-height: 30px;
				&:first-of-type {
					margin-bottom: 12px;
				}
				a {
					color: white;
					opacity: 0.8;
					font-weight: normal;
					text-decoration: none;
					transition: 0.25s;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
	&__extra {
		position: relative;
		@include mq($until: tablet) {
			text-align: center;
		}
		ul {
			list-style-type: none;
			color: white;
			margin-left: -36px;
			@include mq(tablet) {
				margin-left: -46px;
			}
		}
		li {
			display: inline-block;
			margin-left: 36px;
			margin-bottom: 6px;
			opacity: 0.8;
			@include mq(tablet) {
				margin-left: 46px;
			}
		}
		a {
			color: white;
		}
		.scrollTop {
			position: absolute;
			right: 25px;
			top: -80px;
			width: 44px;
			@include mq($until: mobileLandscape) {
				display: none;
			}
		}
	}
}

.socialLinks {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	span {
		line-height: normal;
		padding-right: 30px;
		a {
			display: inline-block;
			img {
				max-height: 21px;
				width: auto !important;
				margin: 0 !important;
			}
		}
	}
	span:last-child {
		padding-right: 0;
	}
}

a.scrollTopBtn {
	position: fixed;
	width: 44px;
	height: 44px;
	right: 25px;
	bottom: 50px;
	z-index: 500;
	border-radius: 1000px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
	display: none;
	&.hide {
		display: none !important;
	}
}

.subscribeFormHolder {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	.inputHolder {
		min-width: 280px;
		input[type="email"] {
			font-family: "Montserrat", "OpenSans Regular", sans-serif;
			display: inline-block;
			max-width: 259px;
			border: none;
			border-bottom: 2px solid #ffffff;
			background: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			padding: 0 0 6px 0;
			font-size: 16px;
			line-height: 30px;
			color: white;
		}
		::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			color: white;
		}
		::-moz-placeholder {
			/* Firefox 19+ */
			color: white;
		}
		:-ms-input-placeholder {
			/* IE 10+ */
			color: white;
		}
		:-moz-placeholder {
			/* Firefox 18- */
			color: white;
		}
	}
	& > div {
		padding: 10px 15px;
	}
}
