.c-services {
	&__header {
		position: relative;
		padding: 124px 0 24px;
		background-image: url("../img/ncn-services-background-overlay.png");
		background-size: cover;
		.breadcrumb a {
			color: #d3f2e3;
		}
		h1 {
			max-width: 340px;
			margin-bottom: 48px;
			color: white;
		}
		&_image {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			background-image: url("../img/ncn-stock-image-services-header.jpg");
			background-size: cover;
		}
	}
	&__content {
		padding: 60px 0 128px;
	}
}
