.c-home {
	&__header {
		position: relative;
		padding: 60px 0 60px;
		background-image: url("../img/ncn-home-page-header-overlay.png");
		background-size: cover;
		background-position: center;
		@include mq($until: mobileLandscape) {
			padding: 40px 0;
			background-size: 265%;
		}

		&_content {
			max-width: 670px;
			@include mq($until: tabletWide) {
				max-width: 400px;
			}
			h1 {
				margin-bottom: 50px;
				color: white;
				font-weight: 300;
				@include mq($until: tabletWide) {
					font-size: 38px;
					line-height: 42px;
				}
				@include mq($until: mobileLandscape) {
					margin-bottom: 30px;
					margin-top: 150px;
				}
			}
		}
		&_image {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -2;
			//background-image: url("../img/ncn-stock-image-homepage-header.jpg");
			background-size: cover;
			background-position: center;
			&:before {
				content: "";
				//background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.7));
				background: linear-gradient(
					rgba(0, 0, 0, 0) 0%,
					rgba(0, 0, 0, 0.2) 25%,
					rgba(0, 0, 0, 0.3) 50%,
					rgba(0, 0, 0, 0.35) 75%,
					rgba(0, 0, 0, 0.8) 100%
				);
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
			}
		}
		.o-wrapper {
			position: relative;
			z-index: 2;
		}
	}
	&__services {
		padding: 72px 0;
		//background-image: url("../img/ncn-services-background.jpg");
		//background-size: cover;
		text-align: center;
		background: rgba(160, 160, 160, 0.1);
		@include mq($until: tablet) {
			padding: 40px 0;
		}
		h2 {
			margin-bottom: 42px;
		}
		.o-layout {
			margin-bottom: 60px;
			@include mq($until: tablet) {
				margin-bottom: 30px;
			}
		}
		&_bubble {
			position: relative;
			width: 100%;
			padding: 12px 14px;
			background: white;
			text-decoration: none;
			// box-shadow: 0px 4px 15px rgba(96, 96, 96, 0.2);
			border-radius: 4px;
			transition: all 0.3s ease;
			@include mq($until: tablet) {
				padding: 24px 14px;
				text-align: left;
				padding-right: 48px;
				box-shadow: 0px 4px 10px rgba(173, 173, 173, 0.25);
			}
			.c-svgicon--back-arrow {
				@include mq($until: tablet) {
					position: absolute;
					top: 50%;
					right: 18px;
					transform: translateY(-50%);
					width: 17px;
					height: 16px;
					color: color("purple");
				}
			}
			p {
				margin: 0;
				font-weight: bold;
				font-size: 16px;
				line-height: 20px;
				@include mq(tablet) {
					margin-top: 6px;
					margin-bottom: 24px;
				}
			}
			svg {
				margin: 0 auto;
			}
			.iconBox {
				font-size: 0;
				text-align: center;
				@include mq($until: tablet) {
					width: 30%;
				}
			}
			svg g,
			svg path {
				opacity: 1;
			}
			img {
				height: 54px;
				width: auto;
				display: inline-block;
			}
			svg,
			p {
				color: color("charcoal");
				opacity: 0.8;
				transition: 0.25s;
				@include mq($until: tablet) {
					opacity: 1;
				}
			}
			svg,
			svg path {
				@include mq($until: tablet) {
					fill: color("purple");
				}
			}
			&:hover {
				svg,
				p {
					color: color("purple");
					opacity: 1;
				}
				svg path {
					fill: color("purple");
				}
			}
			&_content {
				display: flex;
				height: 100%;
				@include mq(tablet) {
					margin-top: 16px;
					justify-content: space-between;
					flex-direction: column;
				}
				@include mq($until: tablet) {
					align-items: center;
				}
			}
			&:hover {
				box-shadow: 0px 4px 15px rgba(96, 96, 96, 0.2);
			}
		}
	}
	&__news {
		&.bg-grey {
			background-image: none;
			background-color: rgba(color("grey"), 0.1);
			.c-home__news_header {
				h2,
				a {
					color: color("purple");
				}
			}
		}

		&.bg-blue {
			background-image: none;
			background-color: rgba(color("blue"), 0.1);
			.c-home__news_header {
				h2,
				a {
					color: color("blue");
				}
			}
			.c-home__news_bubble_content {
				h4 {
					color: color("blue");
				}
				a {
					color: color("blue");
				}
			}
		}
		&.bg-purple {
			background-image: none;
			background-color: rgba(color("purple"), 0.1);
			.c-home__news_header {
				h2,
				a {
					color: color("purple");
				}
			}
			.c-home__news_bubble_content {
				h4 {
					color: color("purple");
				}
				a {
					color: color("purple");
				}
			}
		}
		&.bg-green {
			background-image: none;
			background-color: rgba(color("green"), 0.1);
			.c-home__news_header {
				h2,
				a {
					color: color("green");
				}
			}
			.c-home__news_bubble_content {
				h4 {
					color: color("green");
				}
				a {
					color: color("green");
				}
			}
		}
		padding: 72px 0 48px;
		background-image: url("../img/ncn-news-background.jpg");
		background-size: cover;
		@include mq(tablet) {
			padding: 72px 0 96px;
		}
		&_header {
			overflow: auto;
			h2,
			a {
				color: white;
			}
			h2 {
				margin-bottom: 42px;
				float: left;
			}
			a {
				float: right;
			}
		}
		&_bubble {
			background: white;
			box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
			border-radius: 4px;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&_wrapper {
				padding: 26px 20px;
			}
			&_header {
				margin-bottom: 20px;
				span,
				a {
					color: #424242;
					opacity: 0.8;
					font-size: 14px;
					line-height: 20px;
					@media (max-width: 360px) {
						font-size: 11px !important;
					}
					@media (max-width: 475px) {
						font-size: 12px;
						padding: 3px 7px !important;
					}
				}
				.tagc-home__news_bubble {
					margin-right: 12px;
					padding: 3px 18px;
					text-decoration: none;
					border: 1px solid #424242;
					box-sizing: border-box;
					border-radius: 30px;
				}
				span {
					display: inline-block;
					font-weight: 500;
				}
			}
			&_content {
				h4 {
					font-size: 25px;
					line-height: 30px;
					margin-bottom: 12px;
					color: color("purple");
					font-weight: 500;
					text-align: left;
					a {
						text-decoration: none;
						color: color("purple");
					}
				}
				p {
					line-height: 30px;
					color: color("charcoal");
					opacity: 0.8;
					margin-bottom: 12px;
				}
				a.readmore {
					color: color("purple");
					font-size: 16px;
					line-height: 22px;
					font-weight: 500;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			img {
				border-radius: 0 0 4px 4px;
			}
		}
	}
	&__maps {
		padding: 72px 0;
		//background-image: url("../img/ncn-maps-background.jpg");
		background-size: cover;
		&_header {
			overflow: auto;
			h2 {
				margin-bottom: 42px;
				float: left;
			}
			a {
				float: right;
			}
		}
		&_map {
			padding-top: calc(50% + 24px);
			// margin-bottom: 24px;
		}
		&_item {
			h4 {
				color: color("blue");
				margin-bottom: 24px;
			}
			img {
				margin-bottom: 24px;
			}
			p {
				text-align: center;
				color: color("charcoal");
				opacity: 0.8;
				line-height: 30px;
			}
		}
	}
	&__values {
		padding: 72px 0 96px;
		background-image: url("../img/ncn-values-background.jpg");
		background-size: cover;
		@media (max-width: 770px) {
			background-color: #ececec;
			background-repeat: no-repeat;
			background-position: 0 100%;
			background-size: contain;
		}
		h2 {
			margin-bottom: 42px;
			font-size: 38px;
			font-weight: 400;
			line-height: 50px;
		}
		&_bubble {
			padding: 36px 60px;
			background: white;
			box-shadow: 0px 4px 15px rgba(96, 96, 96, 0);
			border-radius: 4px;
			transition: 0.25s;
			&:hover {
				transform: scale(1.015);
				box-shadow: 0px 4px 15px rgba(96, 96, 96, 0.2);
			}
			h4 {
				margin-bottom: 12px;
			}
			p {
				max-width: 241px;
				margin: 0 auto;
				color: color("charcoal");
				line-height: 30px;
				text-align: center;
				opacity: 0.8;
			}
		}
	}
}

ul.newsCat {
	padding-left: 0;
	display: inline-block;
	list-style: none;
	margin: 0 5px 0 0;
	@media (max-width: 375px) {
		margin: 0;
	}
	a,
	span {
		border: solid 1px #ccc;
		border-radius: 100px;
		padding: 2px 8px;
		text-decoration: none !important;
	}
}

.c-home__news_header,
.c-home__maps_header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	@media (max-width: 480px) {
		flex-flow: column wrap;
	}
	h2 {
		margin: 0;
	}
}
.c-home__values {
	h2 {
		@include mq($until: tablet) {
			text-align: center;
		}
	}
}
