.c-top {
	padding: 12px 0;
	background-color: color("light-grey");
	@include mq($until: tabletWide) {
		display: none;
	}
}

.c-header {
	display: flex;
	flex: 1;
	align-items: flex-end;
	flex-direction: column;
	ul {
		display: flex;
		margin: 0;
		list-style-type: none;
		li {
			margin-right: 24px;
		}
		a {
			text-decoration: none;
			line-height: 30px;
			font-size: 16px;
			position: relative;
			display: inline-block;
			padding-bottom: 1px;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 1px;
				background: #424242;
				transition: width 0.2s ease;
			}
			&:hover {
				&:after {
					width: 100%;
				}
			}
		}
	}
}

.c-banner {
	background-color: white;
	z-index: 2;
	position: relative;
	box-shadow: 0px 4px 10px rgba(96, 96, 96, 0.15);
	z-index: 105;
	&__logo {
		margin: 12px 0;
		display: inline-block;
		width: 208px;
		float: left;
		@include mq($until: tablet) {
			width: 151px;
		}
	}
	&__right {
		display: inline-block;
		flex: 1;
		align-items: flex-end;
		flex-direction: column;
		float: right;
		&_icon {
			position: relative;
			top: 8px;
			display: inline-block;
			height: 24px;
			text-decoration: none;
			svg {
				margin-right: 40px;
				color: color("charcoal");
				@media (min-width: 1000px) and (max-width: 1199px) {
					margin-right: 20px;
				}
				@media (max-width: 1000px) {
					margin-right: 0;
				}
			}
		}
		ul {
			margin: 0;
			list-style-type: none;
			li {
				display: inline-block;
				border-left: 1px solid rgba(160, 160, 160, 0.2);
				&:last-of-type {
					border-right: 1px solid rgba(160, 160, 160, 0.2);
					margin-right: 30px;
				}
				a {
					text-decoration: none;
					padding-right: 30px;
					color: #424242;
					font-weight: 600;
					@media (min-width: 1000px) and (max-width: 1199px) {
						padding-right: 20px;
					}
					svg {
						margin-left: 30px;
						margin-right: 6px;
						@media (min-width: 1000px) and (max-width: 1199px) {
							margin-left: 20px;
						}
					}
				}
			}
		}
	}
}

.extraNav {
	@media (min-width: 1000px) and (max-width: 1199px) {
		display: none;
	}
}

.c-site-mobile,
a.forMobile {
	@media (min-width: 1001px) {
		display: none;
	}
}
.c-banner__right {
	@media (max-width: 1000px) {
		display: none;
	}
}

nav.c-site-mobile {
	display: none;
	background: white;
	position: fixed;
	height: 100%;
	width: 100%;
	overflow: hidden;
	left: 0;
	top: 0;
	z-index: 100;

	.mobileMenu {
		height: 100%;
		display: flex;
		flex-flow: column wrap;
		padding: 0 24px;
		overflow: hidden;

		.navHolder {
			overflow: auto;
			height: 100%;
			position: relative;
			width: 200%;
			ul.c-nav-mobile {
				width: 100%;
				& > li {
					font-size: 22px;
					line-height: 30px;
					border-bottom: 2px solid #ececec;
					padding: 14px 0;
					font-weight: 500;

					ul.sub-menu {
						display: none;
						position: relative;
						height: auto;
						top: auto;
						left: auto;
						width: 50%;
						margin-left: 50%;
						padding-top: 35px;
						& > li {
							width: 100%;
							margin: 0;
							border: none;
							margin: 0 0 5px !important;
							background: #f5f5f5;
							font-weight: 400;
							padding: 8px 15px;
							font-size: 18px;
							& > a {
								margin: 0;
								padding: 0;
							}
						}

						& > li.blackBg {
							background-color: #424242;
							& > a {
								color: #fff;
								font-size: 16px;
								font-weight: 600;
								text-transform: uppercase;
								&:before {
									content: "";
									background: url("../img/arrow_back_24px.svg")
										no-repeat center/contain;
									background-size: 12px;
									width: 18px;
									height: 12px;
									display: inline-block;
									margin-right: 12px;
								}
							}
						}

						& > li:first-child {
							background: none;
							font-weight: 500;
							font-size: 22px;
							& > a {
								color: color("purple");
								&:before {
									content: "";
									background: url("../img/purple-caret-down.svg")
										no-repeat;
									background-size: 16px;
									width: 24px;
									height: 12px;
									display: inline-block;
								}
							}
						}
						&:before {
							content: "Back";
							position: absolute;
							top: -30px;
							left: 0;
							width: 100%;
							padding-top: 14px;
							padding-bottom: 14px;
							border-top: solid 2px #ececec;
							border-bottom: solid 2px #ececec;
							background: url("../img/caret-left.svg") no-repeat
								left center;
							background-size: 10px;
							padding-left: 20px;
						}
					}
				}
				& > li.menu-item-has-children {
					position: static !important;
					// padding-left: 25px;
					&:before {
						content: "";
						background: url("../img/caret-right.svg") no-repeat;
						// position: absolute;
						// left: 0;
						// top: 20px;
						background-size: 10px;
						width: 24px;
						height: 16px;
						display: inline-block;
					}
				}
			}
			.socialLinksMobile {
				position: relative;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 15px 0;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				div.quicksocialLinks {
					a {
						display: inline-block;
						margin: 0 10px;
						img {
							max-height: 20px;
							width: auto;
						}
					}
				}
			}
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			font-size: 22px;
			line-height: 30px;

			a {
				color: #424242;
				text-decoration: none;
			}
		}
	}
}

.mobileNavWrapper {
	width: 50%;
	overflow: hidden;
}
.navHolder.showingChildMenu {
	ul.c-nav-mobile {
		& > li {
			border: none !important;
			overflow: hidden;
			padding: 0 !important;
			height: 0 !important;
			overflow: hidden !important;
		}
		& > li.active {
			height: auto !important;
			overflow: auto !important;
		}
	}
	.socialLinksMobile {
		display: none !important;
	}
}

body.overflowHidden {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.c-notification {
		display: none !important;
	}
	.c-banner {
		position: relative;
		z-index: 101;
		box-shadow: none;
	}
}

a.forMobile {
	position: absolute;
	right: 90px;
	top: 50%;
	transform: translate(0, -50%);
}

a.c-banner__right_icon:hover {
	.mainSearch {
		fill: #5e2eab;
	}
}
