.c-nav {
	display: inline-block;
	position: relative;
	z-index: 31;
	> li {
		padding: 36px 0px;
		& > a {
			&:hover {
				color: color("purple");
				.arrow {
					fill: color("purple");
				}
			}
		}
	}
	* > {
		z-index: 30;
	}
	&__services {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 16px 0;
		background: #424242;
		color: white !important;
		transition: all 0.4s ease;
		svg {
			position: relative;
			top: 2px;
			margin-left: 26px !important;
			margin-right: 12px !important;
		}
		&:hover {
			background-color: #222;
		}
	}
	@include mq($until: tablet) {
		display: none;
	}
}

#menu-item-216 {
	> ul {
		padding: 22px 26px 60px;
	}
}

.menu-item {
	position: relative;
}

.sub-menu {
	position: absolute;
	width: 598px;
	padding: 22px 26px 16px;
	left: 0;
	top: 96px;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	text-align: left;
	visibility: hidden;
	.menu-item {
		width: 248px;
		margin: 0 0 12px 0 !important;
		border-left: 0 !important;
		border-right: 0 !important;
		border-bottom: 1px solid rgba(160, 160, 160, 0.2);
		@include mq(tabletWide) {
			font-size: 15px;
		}

		&:not(:nth-of-type(2n)) {
			margin-right: 48px !important;
		}
		a {
			display: block;
			padding: 0 0 6px 0;
			svg {
				display: none;
			}
			&:hover {
				color: color("purple");
			}
		}
	}
}

li.one-column {
	ul.sub-menu {
		width: auto;
		li {
			width: 100%;
			display: block;
			margin-right: 0 !important;
			border-bottom: 1px solid rgba(160, 160, 160, 0.2) !important;
		}
		.menu-item:not(:nth-of-type(2n)) {
			margin-right: 0 !important;
		}
	}
}
