.partnershipList {
	max-width: 890px;
	padding: 2rem 0 4.5rem 0;
	.partnershipBlock {
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.015);
		padding: 20px;
		margin-bottom: 1.5rem;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		div.imgBlock {
			flex: 0 0 25%;
			@include mq($until: mobileLandscape) {
				flex: 0 0 100%;
				min-height: 160px;
				max-width: 280px;
				margin: 0 auto 25px;
			}
		}
		div.contentBlock {
			flex: 0 0 72%;
			padding-left: 25px;
			@include mq($until: mobileLandscape) {
				flex: 0 0 100%;
				padding-left: 0;
			}
		}
	}
}
