.c-resources {
	padding: 72px 0;
	position: relative;
	h2 {
		font-size: 38px;
		line-height: 50px;
	}
	&__bg {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: -1;
		width: 200vw;
		left: -50%;
		background-color: color("purple");
	}
	h2,
	p,
	a {
		opacity: 1;
		font-family: $primary;
		color: white;
	}
	a {
		display: block;
		margin-bottom: 12px;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
	}
}
