// SEARCH CSS //

html {
	&.overlay-open {
		overflow: hidden;
	}
}

.c-search {
	padding-bottom: 60px;
	@include mq(tablet) {
		padding-bottom: 120px;
	}
	h4 {
		text-align: left;
	}
	.o-layout {
		padding-top: 24px;
	}
	&__container {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding-top: $spacing-unit--large * 1.5;
		padding-bottom: $spacing-unit--large * 2;
		background: rgba(white, 0.96);
		z-index: -1;
		transform: scale(1.1);
		transition: transform 0.2s ease;
		opacity: 0;
		pointer-events: none;
		@include mq(tablet) {
			overflow: auto;
		}
		&.is-active {
			pointer-events: all;
			transform: scale(1);
			z-index: 600;
			opacity: 1;
			top: 0 !important;
			right: 0 !important;
			bottom: 0 !important;
			left: 0 !important;
		}
	}
	&__form {
		text-align: center;
		width: 100%;
		max-width: 800px;
		@media (min-height: 400px) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__label {
		display: block;
		margin-bottom: spacer(0.52);
		color: color("brand");
		font-family: $primary;
		text-transform: uppercase;
		@include font-size(size("xxl"));
		@include mq(tablet) {
			@include font-size(size("xxl"));
		}
	}
	&__title {
		text-align: center;
		margin: 24px 0 0;
		@include mq(tablet) {
			text-align: left;
		}
	}
	&__input[type="search"] {
		display: block;
		width: 100%;
		max-width: 100%;
		padding: 0;
		border: none;
		box-shadow: none;
		background: transparent;
		font-family: $primary;
		color: #000;
		font-weight: 300;
		text-align: center;
		@include font-size(size("xl"), 1);
		margin-bottom: 50px;
		@include mq(tablet) {
			margin-bottom: 100px;
			@include font-size(size("xxl"), 1);
		}
		@include attention() {
			box-shadow: none;
		}
		&::placeholder {
			color: #000 !important;
		}
		&:focus {
			outline: none;
		}
	}
	&__submit {
		padding: 8px 40px;
	}
}

.c-overlay__close {
	top: 20px;
	right: 20px;
	position: absolute;
	z-index: 99;
	width: 25px;
	height: 25px;
}

body.search-results {
	background-color: #f6f6f6;
}

.pageSearchHolder {
	.pageSearchBox {
		background: #fff;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
		padding: 20px;
		border-radius: 5px;
		margin-top: 20px;
	}
	h5,
	a {
		color: color("blue");
		text-decoration: none;
	}
	h5 {
		margin: 0;
		padding-bottom: 5px;
	}
	.permalink {
		a {
			font-size: 16px;
		}
	}
}

div.serviceSearchHolder.servicesList {
	background: none !important;
}
