.serviceWrapper {
	padding-top: 24px;

	.introService {
		p {
			font-size: 18px;
			color: #424242;
			opacity: 0.9;
		}
	}
}

.servicesList {
	background: rgba(160, 160, 160, 0.1);
	padding: 3rem 0;
	.titleLists {
		display: flex;
		flex-flow: row wrap;
		margin: 0 -12px;
		overflow: hidden;
		& > .titleName {
			flex: 0 0 25%;
			padding: 0 12px;
			margin-bottom: 25px;
			@include mq($until: tablet) {
				margin-bottom: 13px;
			}

			@include mq($until: tabletWide) {
				flex: 0 0 33.33%;
			}
			@include mq($until: tablet) {
				flex: 0 0 50%;
			}
			@include mq($until: mobileLandscape) {
				flex: 0 0 100%;
			}
			a {
				text-decoration: none;
				font-weight: 600;
				font-size: 15px;
				line-height: 20px;
				color: #424242;
				background: #ffffff;
				border: 1px solid #ececec;
				box-shadow: 0px 4px 10px rgba(173, 173, 173, 0.25);
				border-radius: 4px;
				min-height: 100px;
				display: block;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				padding: 0 15px;
				transition: all 0.4s ease;
				@include mq($until: tablet) {
					min-height: 55px;
				}
				&:hover {
					color: color("green");
					border: solid 1px #ddd;
				}
			}
		}
	}
}

.serviceFilter {
	display: flex;
	flex-flow: row wrap;

	& > div.filterBlock {
		label {
			font-weight: 600;
			font-size: 14px;
			line-height: 30px;
			text-transform: uppercase;
			display: block;
			padding-bottom: 10px;
			font-family: "Montserrat";
		}
		input,
		select {
			background-color: #fff;
			border: none;
			border-radius: 5px;
			font-family: "Montserrat", sans-serif;
		}
	}
	& > div.searchBlock {
		span {
			display: block;
		}
		input {
			width: 100%;
		}
	}
	& > div.searchBlock,
	& > div.searchByCat {
		flex: 0 0 23%;
		padding-right: 30px;
		@media (min-width: 1101px) and (max-width: 1200px) {
			flex: 0 0 29%;
		}
		@media (min-width: 1201px) {
			flex: 0 0 31%;
		}
		@media (max-width: 600px) {
			flex: 0 0 100%;
			padding-right: 0;
		}
		@media (min-width: 600px) and (max-width: 1100px) {
			flex: 0 0 30%;
		}
	}
	& > div.searchByLocation {
		flex: 0 0 50%;
		@media (min-width: 1101px) and (max-width: 1200px) {
			flex: 0 0 42%;
		}
		@media (min-width: 1201px) {
			flex: 0 0 37%;
		}
		@media (max-width: 600px) {
			flex: 0 0 100%;
		}
		@media (min-width: 600px) and (max-width: 1100px) {
			flex: 0 0 100%;
		}
		.facetwp-facet-service_location,
		.facetwp-facet-vacancy_location,
		.facetwp-facet-news_categories {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;

			@media (max-width: 1100px) {
				justify-content: flex-start;
			}
			div.facetwp-radio {
				background: none;
				display: inline-block;
				padding: 5px 16px;
				height: 38px;
				border: 2px solid #a0a0a0;
				border-radius: 100px;
				text-decoration: none;
				color: #424242;
				margin: 5px 3px;
				font-size: 16px;
				font-weight: 600;
				color: #a0a0a0;
				span.facetwp-counter {
					display: none;
				}
				&.checked {
					background: #424242;
					color: #fff;
					border: solid 2px #424242;
				}
			}
		}
	}
}

.loadMore {
	button.facetwp-load-more {
		background: none;
		border: none;
		color: color("purple");
		text-decoration: underline;
		font-weight: 600;
		font-size: 16px;
		font-family: "Montserrat", sans-serif;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}
}

.facetwp-icon {
	opacity: 1 !important;
	&:before {
		background-image: url("../img/search-icon.svg") !important;
		width: 38px !important;
	}
}

.facetSelections {
	.facetwp-selections {
		ul {
			li {
				display: block;
				font-size: 14px;
				padding: 5px 0;
				span.facetwp-selection-label {
					font-weight: 600;
				}
			}
		}
	}
}
