.c-sidenav {
	list-style-type: none;
	.current_page_item {
		border-left: 3px solid #05adb5;
		a {
			color: color("charcoal");
		}
	}
	li {
		padding: 6px 0 6px 12px;
		//border-bottom: 1px solid rgba(160, 160, 160, 0.3);
		&:first-of-type {
			border-top: 1px solid rgba(160, 160, 160, 0.3);
		}
		a {
			text-decoration: none;
			color: rgba(66, 66, 66, 0.7);
			font-weight: bold;
			font-size: 18px;
			line-height: 20px;
		}
	}

	ul.sideNavList {
	}
}
.sideNavigation {
	@media (min-width: 1200px) and (max-width: 1399px) {
		padding-left: 30px !important;
	}

	@media (min-width: 1400px) {
		padding-left: 80px;
	}
}
.parentTitle {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: #424242;
	@media (min-width: 1400px) {
		min-width: 265px;
	}
}

ul.sideNavLists {
	list-style: none;
	margin: 0;
	padding: 0;
	@media (min-width: 1400px) {
		min-width: 265px;
	}
	li {
		border-bottom: solid 1px rgba(160, 160, 160, 0.3);
		a {
			display: block;
			padding: 10px 10px 10px 0;
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: rgba(66, 66, 66, 0.7);
			text-decoration: none;
			&:hover {
				background: #f6f6f6;
			}
		}
		ul.children {
			list-style: none;
			& > li {
				& > a {
					font-weight: 400;
					font-size: 16px;
				}
			}
			& > li:last-child {
				border-bottom: none;
			}
		}
	}
	li.page_item_has_children {
		position: relative;
		&:after {
			content: "↓";
			position: absolute;
			right: 0;
			top: -2px;
			font-size: 30px;
		}
	}
}
