.c-sidebyside {
	margin-top: 60px;
	&__content {
		flex-direction: column;
		justify-content: space-around;
		h2 {
			margin-bottom: 12px;
		}
		p {
			color: #424242;
			opacity: 0.8;
			font-size: 16px;
			line-height: 30px;
			&:first-of-type {
				font-weight: normal;
				font-size: 20px;
				line-height: 28px;
				margin-bottom: 12px;
			}
			&:last-of-type {
				margin-bottom: 24px;
			}
		}
		a {
			display: inline-block;
			margin-top: 10px;
			padding: 8px 30px;
		}
	}
	figure {
		padding: 0;
		margin: 0;
	}
	& > div:nth-child(odd) {
		@include mq($until: tablet) {
			flex-direction: column-reverse;
			.c-sidebyside__block {
				padding-top: 3rem;
			}
		}
	}
	& > div.o-layout--sidebyside > div {
		@include mq($until: tablet) {
			margin-bottom: 40px !important;
			div.c-sidebyside__block {
				padding-top: 3rem;
			}
		}
	}
}
