.c-single {
	&__header {
		position: relative;
		height: 354px;
		> div {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-size: cover;
		}
	}
	&__articleinfo {
		margin-bottom: 40px;
		color: #424242;
		opacity: 0.8;
	}
	&__bubble {
		display: inline-block;
		height: 32px;
		padding: 3px 16px;
		margin-right: 18px;
		border: 1px solid #424242;
		box-sizing: border-box;
		border-radius: 30px;
		color: #424242;
		opacity: 0.8;
		text-decoration: none;
	}
}
