.vacancyLists {
	display: flex;
	flex-flow: row wrap;
	margin: 0 -12px;
	overflow: hidden;

	& > .listHolder {
		flex: 0 0 33.33%;
		padding: 0 12px;
		margin-bottom: 25px;
		@include mq($until: tabletWide) {
			flex: 0 0 50%;
		}
		@include mq($until: tablet) {
			flex: 0 0 50%;
		}
		@include mq($until: mobileLandscape) {
			flex: 0 0 100%;
		}

		.listContent {
			overflow: hidden;
			text-decoration: none;
			font-weight: 600;
			font-size: 15px;
			line-height: 30px;
			color: #424242;
			background: #ffffff;
			border: 1px solid #ececec;
			border-top: solid 5px color("green");
			box-shadow: 0px 4px 10px rgba(173, 173, 173, 0.25);
			border-radius: 4px;
			min-height: 100px;
			display: block;
			width: 100%;
			height: 100%;
			padding: 0 15px 5px;
			.title {
				a {
					font-weight: 500;
					font-size: 23px;
					line-height: 30px;
					text-decoration: none;
					color: color("green");
				}
			}
			.location {
				span {
					display: inline-block;
					&:after {
						content: ",";
					}
				}
				span:last-child {
					&:after {
						content: "";
					}
				}
			}
			.shortInfo {
				font-weight: normal;
				font-size: 16px;
			}
			.thumbnail {
				margin: 20px 0;
				a {
					display: block;
					min-height: 200px;
					border-radius: 5px;
				}
			}
			.readMore {
				margin-bottom: 35px;
				a.o-btn {
					border-color: color("green");
					color: color("green");
					padding: 10px 35px;
					transition: all 0.5s ease;
					&:hover {
						background: color("green");
						color: #fff;
					}
				}
			}
		}
	}
}

.applicationProcess {
	h2 {
		cursor: pointer;
		color: color("blue");
		&:after {
			content: "";
			display: inline-block;
			margin-left: 25px;
			transition: all 0.5s ease;
			background: url("../img/chevron-down.svg") no-repeat center;
			width: 20px;
			height: 20px;
		}
		&.active {
			&:after {
				transform: rotate(180deg);
			}
		}
	}
	.accordionContent {
		display: none;
		h4 {
			text-align: left;
			padding-bottom: 15px;
		}
	}
}

.vacancyComponent {
	background: rgba(160, 160, 160, 0.1);
	padding: 3rem 0;
	.c-home__news_header {
		h2,
		a {
			color: #000;
		}
	}
}
