// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

$brand: #000000;

$theme-colors: (
	"brand": $brand,
	"link": $brand,
	"link hover": $brand,
	"white": #fff,
	"black": #000,
	"light-grey": #ececec,
	"purple": #5e2eab,
	"green": #00c269,
	"blue": #05adb5,
	"content": #221f20,
	"yellow": #ffba00,
	"charcoal": #424242,
	"grey": #a0a0a0
);

// helper variables
$font-color: map-get($theme-colors, "brand");
$loud-color: map-get($theme-colors, "brand");
