@font-face {
	font-family: "OpenSans Regular";
	font-style: normal;
	src: url("../fonts/OpenSans-Regular.eot") format("embedded-opentype"),
		url("../fonts/OpenSans-Regular.woff") format("woff"),
		url("../fonts/OpenSans-Regular.ttf") format("truetype"),
		url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	src: url("../fonts/Montserrat-Regular.woff") format("woff"),
		url("../fonts/Montserrat-Regular.woff2") format("woff2"),
		url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

$primary: "Montserrat", "OpenSans Regular", sans-serif;
