
@font-face {
  font-family: 'FilsonSoft-Regular';
  src: url('FilsonSoftRegular.eot?#iefix') format('embedded-opentype'),
      url('FilsonSoftRegular.otf')  format('opentype'),
      url('FilsonSoftRegular.woff') format('woff'),
      url('FilsonSoftRegular.ttf')  format('truetype'),
      url('FilsonSoftRegular.svg#FilsonSoftRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
