// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

$brand: #000000;

$theme-colors: (
	"brand": #28a8d0,
	"secondary": #1e2054,
	"link": #1e2054,
	"tertiary": #fbae17,
	"white": #fff,
	"black": #000,
	"content": #221f20,
	"dark-blue": #101338,
	"brand-dark": #0099b4,
	"light-blue-bg": #f3fafd
);

// helper variables
$font-color: map-get($theme-colors, "brand");
$loud-color: map-get($theme-colors, "brand");
