// @font-face {
// 	font-family: "OpenSans Regular";
// 	font-style: normal;
// 	src: url("../fonts/OpenSans-Regular.eot") format("embedded-opentype"),
// 		url("../fonts/OpenSans-Regular.woff") format("woff"),
// 		url("../fonts/OpenSans-Regular.ttf") format("truetype"),
// 		url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
// }

@font-face {
	font-family: "Raleway Regular";
	font-style: normal;
	src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Brown Bold";
	src: url("../fonts/brown-bold-webfont.woff2") format("woff2"),
		url("../fonts/brown-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Brown Light";
	src: url("../fonts/brown-light-webfont.woff2") format("woff2"),
		url("../fonts/brown-light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Brown Regular";
	src: url("../fonts/brown-regular-webfont.woff2") format("woff2"),
		url("../fonts/brown-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

$heading: "Brown Bold", sans-serif;
$primary: "Brown Regular", sans-serif;
$primary-light: "Brown Light", sans-serif;
