.c-404 {
	&__overlay {
		background: url("../img/404.jpg");
		background-size: cover;
		background-position: center;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 500;
		width: 100%;
		height: 100%;
		&-content {
			text-align: center;
			padding: 5vh 24px 200px;
			@media (min-height: 1000px) {
				padding: 25vh 24px 200px;
			}
			h1 {
				line-height: 1;
				font-size: 120px;
				color: #ffffff;
				margin-bottom: 24px;
				@include mq(tablet) {
					font-size: 200px;
				}
			}
			h3 {
				margin-bottom: 50px;
			}
		}
	}
	&__product {
		max-width: 48vh;
		position: absolute;
		bottom: -35vh;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		@media (min-height: 1000px) {
			max-width: 48vh;
			padding: 25vh 24px 200px;
			bottom: -48vh;
		}
	}
}
