.c-about {
	background: #ecf1e4;
	position: relative;
	padding: 125px 0 110px;
	@include mq(tablet) {
		padding: 160px 0 150px;
	}
	&:before {
		content: "";
		background-image: url("../img/stripes.png");
		background-size: cover;
		background-position: center bottom;
		width: 100%;
		height: 60%;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
	}
	&:after {
		content: "";
		background: url("../img/bg-texture-wood.jpg");
		background-attachment: fixed;
		pointer-events: none;
		width: 100%;
		height: 75px;
		position: absolute;
		bottom: -35px;
		left: 0;
		border-radius: 20px 20px 0 0;
		box-shadow: 0px -5px 6px rgba(0, 0, 0, 0.02);
		@include mq(tablet) {
			border-radius: 40px 40px 0 0;
		}
	}
	&__wrap {
		position: relative;
	}
	&__title {
		text-align: center;
		margin-bottom: 45px;
	}
	&__contents {
		text-align: center;
	}
	&__story {
		width: 100%;
		position: relative;
		// margin-bottom: 70px;
		.slick-list {
			overflow: visible;
		}
		&-item {
			background-size: cover;
			background-position: center;
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
			transform: rotate(-1.49deg);
			position: relative;
			border: 10px solid #ffffff;
			padding: 120px 0 24px;
			margin-right: 24px;
			margin-bottom: 20px;
			@include mq(tablet) {
				padding: 320px 0 65px;
				min-height: 460px;
				margin-right: 40px;
				border: 20px solid #ffffff;
			}
			&:nth-child(even) {
				transform: rotate(2.81deg);
			}
			&:after {
				content: "";
				background-image: linear-gradient(
					0deg,
					rgba(39, 39, 39, 0.44),
					rgba(39, 39, 39, 0.44)
				);
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				pointer-events: none;
			}
			&-content {
				padding: 0 24px;
				color: #ffffff;
				h3 {
					margin-bottom: 5px;
					color: #ffffff;
				}
				@include mq(tablet) {
					position: absolute;
					bottom: 0;
				}
				@include mq($until: tablet) {
					display: none;
				}
			}
		}
		.slick-arrow {
			// top: calc(50% - 75px);
			&.slick-prev[aria-disabled="false"],
			&.slick-next[aria-disabled="false"] {
				filter: brightness(3) grayscale(1);
			}
		}
		&-nav {
			display: flex;
			width: 100%;
			justify-content: space-between;
			position: relative;
			padding-top: 20px;
			margin-bottom: 40px;
			@include mq(tablet) {
				margin-bottom: 80px;
			}
			&:before {
				content: "";
				background: url("../img/slider-asset-1.png") no-repeat;
				background-position: center top;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 50px;
				left: 10px;
				// z-index: -1;
				pointer-events: none;
				transition: 0.4s;
				background-size: 100% 16px;
				@include mq(tablet) {
					background-size: 100% 22px;
					top: 40px;
				}
			}
			&.nav-bgchange {
				&:before {
					background: url("../img/slider-asset-1-alt.png") no-repeat;
					background-size: 100% 16px;
					background-position: right top;
					width: 100%;
					left: unset;
					right: 20px;
					@include mq(tablet) {
						right: 30px;
						top: 40px;
						background-size: 100% 22px;
					}
				}
			}
			&-item {
				width: auto;
				height: auto;
				padding-left: 0;
				margin-left: 0;
				padding-top: 15px;
				position: relative;
				display: block;
				transition: 0.3s;
				// opacity: 0.3;
				.nav-bgchange & {
					text-align: right;
				}
				&.slick-slide {
					&:focus {
						outline: 0 !important;
					}
					a {
						transition: 0.3s;
						transform: scale(0.75);
					}
					@include mq($until: tablet) {
						opacity: 1;
					}
				}
				&.slick-current {
					a {
						transition: 0.4s 0.3s;
						transform: scale(1);
						color: color("light-green");
					}
				}
				a {
					display: inline-block;
					font-family: $heading;
					font-weight: bold;
					line-height: 1.2;
					text-align: center;
					position: relative;
					padding-top: 50px;
					color: #c4d6a4;
					font-size: 18px;
					@include mq(tablet) {
						font-size: 24px;
					}
					&:focus {
						outline: 0 !important;
					}
					svg {
						cursor: pointer;
						position: absolute;
						left: 0;
						z-index: 1;
						width: 37px;
						height: 34px;
						top: 0;
						@include mq(tablet) {
							top: -5px;
							width: 46px;
							height: 43px;
						}
					}
				}
			}
		}
	}
}
