.c-contact {
	position: relative;
	&__contents {
		text-align: center;
		max-width: 540px;
		margin: 0 auto;
		position: relative;
		h3 {
			margin-bottom: 6px;
		}
	}
	&__form {
		margin-bottom: 55px;
	}
}
