.c-faqs {
	padding-bottom: 85px;
	position: relative;
	.c-faqs__list {
		margin-bottom: 80px;
		&-each {
			&:last-of-type {
				border-bottom: 1px solid color("brand");
			}
		}
		&-question {
			border-top: 1px solid color("brand");
			display: block;
			padding: 12px 0;
			font-size: 22px;
			line-height: 1.2;
			font-family: $heading;
			font-weight: 700;
			position: relative;
			padding-right: 36px;
			transition: 0.3s;
			&:after {
				content: "+";
				font-size: 22px;
				line-height: 1.2;
				font-family: $heading;
				font-weight: 700;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			&:hover,
			&.is-active {
				color: color("light-green");
			}
			&.is-active:after {
				content: "-";
			}
		}
		&-answer {
			display: none;
			width: 100% !important;
		}
	}
	&__cta {
		text-align: center;
	}
}
