.c-footer {
	background-color: color("brand");
	background-size: 100%;
	background-repeat: repeat;
	color: rgba(color("white"), 0.75);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	line-height: 1;
	position: relative;
	z-index: 5;
	border-radius: 20px 20px 0px 0px;
	margin-top: -20px;
	padding: 45px 0 100px;
	@include mq(tablet) {
		margin-top: -40px;
		padding: 45px 0;
		border-radius: 40px 40px 0px 0px;
		text-align: center;
	}
	a {
		color: rgba(color("white"), 0.75);
		display: inline-block;
		transition: 0.3s;
		&:hover {
			color: #fff;
		}
	}
	&__top {
		border-bottom: 1px solid rgba(#fff, 0.5);
		padding-bottom: 40px;
		margin-bottom: 50px;
		@include mq(tablet) {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	&__logo {
		max-width: 120px;
		width: 100%;
		display: inline-block;
		img {
			max-width: 120px;
			width: 100%;
		}
		@include mq($until: tablet) {
			max-width: 195px;
			position: absolute;
			top: -55px;
			left: 50%;
			transform: translateX(-50%);
			pointer-events: none;
			img {
				max-width: 100%;
			}
		}
	}
	&__links {
		width: 100%;
		@include mq($until: tablet) {
			display: flex;
			margin-top: 100px;
		}
		a {
			text-transform: uppercase;
			font-weight: 700;
			border-bottom: 2px solid transparent;
			padding-bottom: 4px;
			&:hover {
				border-bottom: 2px solid #fff;
			}
		}
		ul {
			list-style: none;
			margin-bottom: 0;
			li {
				@include mq(tablet) {
					display: inline-block;
				}
				&:not(:first-of-type) {
					@include mq(tablet) {
						margin-left: 20px;
					}
				}
			}
		}
		&-top {
			margin-bottom: 16px;
			line-height: 0;
			@include mq($until: tablet) {
				flex: 50%;
			}
			a {
				font-size: 15px;
				line-height: 1;
				@include mq($until: tablet) {
					margin-bottom: 20px;
				}
			}
		}
		&-bottom {
			line-height: 0;
			@include mq($until: tablet) {
				flex: 50%;
			}
			a {
				font-size: 12px;
				line-height: 1;
				@include mq($until: tablet) {
					margin-bottom: 15px;
				}
			}
		}
	}
	.c-social {
		@include mq(tablet) {
			max-width: 120px;
			width: 100%;
		}
		@include mq($until: tablet) {
			width: 50%;
			margin-left: auto;
			margin-top: -120px;
		}
		a {
			transition: transform 0.4s;
			display: block;
			margin-bottom: 24px;
			@include mq(tablet) {
				margin-bottom: 0;
				display: inline-block;
				&:not(:first-of-type) {
					margin-left: 12px;
				}
			}
			&:hover {
				transform: scale(1.06);
			}
		}
		&__svg {
			background-color: color("white");
			display: inline-block;
			border-radius: 30px;
			padding: 6px;
			width: 28px;
			height: 28px;
			text-align: center;
			color: color("brand");
			line-height: 0;
			.green & {
				color: #fff;
				color: rgba(color("brand"), 0.75);
			}
			@include mq($until: tablet) {
				display: inline-block;
			}
		}
		&__label {
			display: none;
			@include mq($until: tablet) {
				color: rgba(#fff, 0.7);
				display: inline-block;
				margin-left: 12px;
				font-size: 15px;
			}
		}
	}
	&__copy {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 12px;
		line-height: 1.2;
		p {
			text-align: center;
			span {
				display: inline-block;
				@include mq(tablet) {
					&:not(:first-of-type) {
						margin-left: 28px;
					}
				}
				@include mq($until: tablet) {
					display: block;
					&:first-of-type {
						margin-bottom: 18px;
					}
				}
			}
		}
	}
}
