.c-top {
	padding: 12px 0;
	// position: relative;
	// background-color: transparent;
	transition: 0.3s;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 500;
	background-color: transparent;
	@include mq(tablet) {
		padding: 20px 0;
	}
	&--ontop {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 500;
		background-color: transparent;
	}
	&.fixed {
		opacity: 1;
		background: #ffffff;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 500;
		padding: 3px 0 0;
		min-height: 46px;
		@include mq(tabletWide) {
			border-radius: 0px 0px 20px 20px;
			padding: 6px 0;
			min-height: auto;
		}
	}
	@include mq($until: tabletWide) {
		&.menu-open {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 500;
			overflow-y: auto;
			background-color: color("brand");
			background-image: url("../img/menu-stripesbg.png");
			background-size: cover;
		}
	}
}
.c-header {
	line-height: 1;
	@include mq(tabletWide) {
		display: flex;
		align-items: center;
		min-width: 115px;
	}
	.c-logo-wrap {
		display: inline-block;
		@include mq(tablet) {
			transition: 0.3s;
			&:hover {
				transform: scale(1.03);
			}
		}
		@include mq($until: tabletWide) {
			.fixed & {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	&__logo {
		max-width: 162px;
		.fixed & {
			max-width: 60px;
			@include mq(tabletWide) {
				max-width: 90px;
			}
		}
		@include mq($until: tabletWide) {
			float: left;
			max-width: 100px;
		}
	}
	&__nav-toggle {
		display: none;
		color: color("white");
		position: relative;
		z-index: 320;
		float: right;
		width: 35px;
		height: 30px;
		font-size: 0;
		margin-top: 3px;
		transition: 0.3s;
		@include mq($until: tabletWide) {
			display: inline-block;
			text-align: right;
			float: right;
			margin-top: 12px;
			.fixed & {
				margin-top: 6px;
				width: 22px;
				height: 20px;
			}
		}
		&:before,
		&:after,
		span {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: color("white");
			transition: background-color 0.25s;
			border-radius: 30px;
			.green &,
			.fixed & {
				color: #fff;
				background-color: color("brand");
			}
		}
		span {
			top: 16px;
			.fixed & {
				top: 13px;
			}
		}
		&::before {
			top: 6px;
		}
		&::after {
			top: 26px;
			.fixed & {
				top: 20px;
			}
		}
		.menu-open & {
			&:before,
			&:after,
			span {
				top: 16px;
				background-color: color("white");
			}
			span {
				opacity: 0;
			}
			&::before {
				transform: rotate(-45deg);
			}
			&::after {
				transform: rotate(45deg);
			}
		}
	}
	&__social {
		@include mq($until: tabletWide) {
			display: none;
			.menu-open & {
				display: inline-block;
			}
		}
		&-mobile {
			display: none;
			.menu-open & {
				display: none;
			}
			@include mq($until: tabletWide) {
				.fixed & {
					display: block;
					float: left;
					padding: 8px 0;
					.c-social__svg {
						display: inline-block;
						padding: 0;
						padding-top: 4px;
						width: 20px;
						height: 20px;
						color: #fff;
						background-color: color("brand");
						svg {
							width: 11px;
							height: 11px;
						}
					}
				}
			}
		}
	}

	.c-social {
		margin-left: -12px;
		a {
			display: inline-block;
			transition: transform 0.4s;
			&:hover {
				transform: scale(1.06);
			}
			.menu-open & {
				display: block;
				margin-bottom: 16px;
			}
		}
		&__svg {
			display: inline-block;
			border-radius: 30px;
			padding: 6px;
			width: 28px;
			height: 28px;
			text-align: center;
			margin-left: 12px;
			line-height: 0;
			background-color: color("white");
			color: color("brand");
			@include mq(tablet) {
				.green &,
				.fixed & {
					color: #fff;
					background-color: color("brand");
				}
			}
			.menu-open & {
				display: inline-block;
			}
		}
		&__label {
			display: none;
			.menu-open & {
				color: #fff;
				display: inline-block;
				margin-left: 12px;
			}
		}
	}
}
