.c-home {
	position: relative;
	&-top {
		position: relative;
		&__scroll {
			position: absolute;
			right: 8%;
			bottom: 100px;
			z-index: 10;
			color: #fff;
			font-size: 14px;
			a {
				color: #fff;
				svg {
					color: color("brand");
					vertical-align: middle;
					margin-left: 10px;
				}
			}
			@include mq($until: tablet) {
				display: none;
			}
		}
	}
	&-title {
		margin-bottom: 0;
		@include mq(tablet) {
			margin-bottom: 15px;
		}
	}
	&-copy {
		max-width: 600px;
		margin: 0 auto;
	}
	&-products {
		background-color: color("off-white");
		background-blend-mode: color;
		position: relative;
		text-align: center;
		padding: 45px 0 80px;
		border-radius: 20px 20px 0 0;
		margin-top: -20px;
		z-index: 2;
		@include mq(tablet) {
			margin-top: -40px;
			border-radius: 40px 40px 0 0;
			padding: 100px 0 140px;
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 40px 40px 0 0;
			background-image: url("../img/bg-texture-dust.jpg");
			background-size: cover;
			opacity: 0.3;
		}

		&__list {
			position: relative;
			margin-top: 65px;
		}
		&__slider {
			@include mq(tablet) {
				padding: 0 60px;
				text-align: center;
			}
			.slick-list {
				overflow: visible !important;
				margin: 0 auto;
				text-align: center;
			}
			.slick-arrow {
				top: calc(50% - 50px);
			}
			.slick-prev {
				left: 0;
			}
			.slick-next {
				right: 0;
			}
		}
		&__slide {
			position: relative;
		}
		&__cta {
			margin-top: 10px;
			@include mq(tablet) {
				margin-top: 60px;
			}
		}
	}
	&-about {
		position: relative;
		text-align: center;
		background: url("../img/bg-texture-wood.jpg");
		background-attachment: fixed;
		background-size: contain;
		box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.05);
		padding: 60px 0;
		margin-top: -20px;
		border-radius: 20px 20px 0 0;
		z-index: 2;
		@include mq(tablet) {
			padding: 100px 0 200px;
			margin-top: -40px;
			border-radius: 40px 40px 0 0;
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 60%;
			top: 40px;
			left: 0;
			background-blend-mode: multiply;
			background-image: url("../img/bg-texture-dust.jpg");
			background-size: cover;
			opacity: 0.4;
		}
		&__image {
			transform: rotate(-2.09deg);
			background-color: rgba(#f9f9f9, 0.7);
			margin-top: 40px;
			padding: 10px;
			transition: 0.3s;
			filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
			@include mq(tablet) {
				padding: 20px;
			}
			&:hover {
				filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.25));
			}
		}
		&__cta {
			position: relative;
			margin-top: 60px;
		}
	}
}
