.c-home-banner {
	position: relative;
	width: 100%;
	&__wrap {
		overflow: hidden;
		position: relative;
		background-color: color("light-green");
		background-image: url("../img/bg-paper-texture.png");
		background-size: cover;
		background-blend-mode: overlay;
		min-height: 830px;
		z-index: 1;
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			background-image: none !important;
			background-blend-mode: unset !important;
		}
		@include mq(laptop) {
			min-height: 920px;
		}
		@include mq(tablet) {
			@media (max-height: 700px) {
				min-height: 700px;
				.c-home-banner__product-thumb {
					bottom: 180px;
					padding-top: 180px;
					max-width: 280px;
					@include mq(laptop) {
						bottom: 120px;
						padding-top: 150px;
						max-width: 330px;
					}
				}
			}
			@media (min-height: 690px) and (max-height: 980px) {
				min-height: 100vh;
				height: calc(100vh + 40px);
				.c-home-banner__product-thumb {
					bottom: 24vh;
					padding-top: 26vh;
					max-width: 42vh;
					@include mq(laptop) {
						bottom: 15vh;
						padding-top: 23vh;
						max-width: 45vh;
					}
				}
				.c-home-banner__products-2 {
					max-width: 29vh;
					bottom: 24vh;
					@include mq(laptop) {
						max-width: 32vh;
						bottom: 18vh;
					}
				}
				.c-home-banner__explosion-1,
				.c-home-banner__explosion-2,
				.c-home-banner__explosion-3 {
					max-width: 19vh;
					@include mq(laptop) {
						max-width: 20vh;
					}
				}
			}
		}

		&:before {
			content: "";
			position: absolute;
			top: -200px;
			left: 0;
			width: 100%;
			height: 0%;
			overflow-y: auto;
			background-image: url("../img/stripes-white.png");
			background-position: center;
			opacity: 0;
			z-index: 1;
			pointer-events: none;
			transition: 0.5s;
		}
		&.animate-special.animate::before {
			top: 0;
			height: 60%;
			opacity: 0.9;
		}
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__sidebg {
		position: absolute;
		right: -24px;
		bottom: -24px;
		max-width: 50%;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 2;
		border-radius: 95% 0px 0px 0px;
		&-img {
			background-size: cover;
			background-repeat: no-repeat;
			border-radius: 95% 0px 0px 0px;
			width: 100%;
			height: 100%;
			background-position: center center;
			@include mq($until: tablet) {
				background-position: center center !important;
			}
		}
		@include mq(laptop) {
			top: 0;
			height: 100%;
		}
		@include mq($until: tablet) {
			height: 55%;
			max-width: 100%;
		}
	}
	&__left-deco {
		@include mq($until: tablet) {
			display: none;
		}
		& * {
			position: absolute;
		}
		&--img-1 {
			position: absolute;
			max-width: 400px;
			bottom: -400px;
			left: -140px;
			transform: rotate(78.9deg);
			opacity: 0;
			transition: opacity 0.4s 0.35s, bottom 0.4s 0.35s;
			.animate-slide & {
				opacity: 1;
				bottom: -80px;
				left: -140px;
			}
		}
		&--img-2 {
			position: absolute;
			left: 25px;
			top: 20%;
			max-width: 45px;
			transform: rotate(-107.65deg);
		}
		&--img-3 {
			position: absolute;
			left: 40%;
			bottom: 80px;
			max-width: 50px;
			transform: rotate(-15deg);
		}
		&--img-4 {
			position: absolute;
			left: 35%;
			bottom: 140px;
			max-width: 35px;
			transform: rotate(-75deg);
		}
	}
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow-y: auto;
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.55),
				rgba(0, 0, 0, 0.5)
			);
			z-index: 1;
			pointer-events: none;
		}
		video {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
		}
	}
	&__newtag {
		display: block;
		font-size: 0;
		margin: auto;
		margin-top: -95px;
		text-align: left;
		max-width: 630px;
		transform: translate(-60px, 0);
		padding-left: 30px;
		@include mq($until: laptopMed) {
			padding-left: 40px;
			max-width: 460px;
			margin-top: -45px;
		}
		@include mq($until: tablet) {
			display: none;
		}
	}
	&__contents {
		text-align: center;
		padding: 0 24px;
		max-width: 100%;
		position: relative;
		padding-top: 80px;
		z-index: 4;
		opacity: 0;
		.animate-slide & {
			opacity: 1;
			animation: fade-in-fwd 0.4s;
		}
		@include mq($until: tablet) {
			.c-home-banner__video-wrap & {
				padding-top: 160px;
			}
		}
		@include mq(tablet) {
			padding-top: 0;
			position: absolute;
			top: 45%;
			z-index: 4;
			transform: translateY(-50%);
			max-width: 60%;
			width: 100%;
		}
		h2 {
			font-size: 60px;
			line-height: 1;
			text-transform: uppercase;
			color: #fff;
			text-shadow: 5px 5px color("brand");
			max-width: 670px;
			margin: 0 auto 16px;
			@include mq(mobileLandscape) {
				font-size: 66px;
			}
			@include mq(tabletWide) {
				margin: 0 auto 24px;
				font-size: 80px;
			}
			@include mq(laptop) {
				font-size: 92px;
			}
		}
		p {
			color: color("brown");
			max-width: 320px;
			margin: 0 auto 16px;
			@include mq(tablet) {
				margin: 0 auto 24px;
			}
			.c-home-banner__video-wrap & {
				color: color("white");
			}
		}
		.o-btn {
			margin-bottom: 12px;
			&:not(:first-of-type) {
				margin-left: 6px;
				@include mq(mobileLarge) {
					margin-left: 15px;
				}
			}
			@include mq($until: tablet) {
				width: auto;
				padding: 11px 18px 13px;
			}
		}
	}
	&__product-thumb {
		position: absolute;
		width: 100%;
		right: 30%;
		bottom: 60px;
		z-index: 3;
		transform: rotate(-18deg);
		padding-top: 150px;
		max-width: 260px;
		opacity: 0;
		transition: 0.3s;

		@include mq(tablet) {
			padding-top: 200px;
			right: 18%;
			bottom: 190px;
			max-width: 300px;
		}
		@include mq(laptop) {
			right: 20%;
			max-width: 420px;
			bottom: 150px;
		}
		@include mq($until: mobileMed) {
			left: 0;
		}
		.animate-slide & {
			opacity: 1;
		}
	}
	&__products {
		&-1 {
			position: relative;
			z-index: 3;
			.slick-slide & {
				transform: scale(0);
				transition: 0.3s;
			}
			.animate-slide .img-loaded & {
				transform: scale(1);
			}
			&:hover {
				transform: scale(1.03);
			}
		}
		&-2 {
			position: absolute;
			bottom: 60px;
			z-index: 2;
			max-width: 160px;
			right: 2%;
			transform: scale(0) rotate(18deg);
			transition: 0.3s 0.4s;
			.animate-slide .img-loaded & {
				transform: scale(1) rotate(18deg);
			}
			&:hover {
				transform: scale(1.03) rotate(18deg);
			}
			@include mq(tablet) {
				right: 1%;
				max-width: 200px;
				bottom: 190px;
			}
			@include mq(laptop) {
				bottom: 140px;
				right: 6%;
				max-width: 280px;
			}
		}
	}
	&__explosion {
		&-1,
		&-2,
		&-3,
		&-4,
		&-5 {
			position: absolute;
			opacity: 0;
			max-width: 100px;
			@include mq(tablet) {
				max-width: 140px;
			}
			@include mq(laptop) {
				max-width: 180px;
			}
		}
		&-1 {
			top: 50px;
			left: 0px;
			transform: rotate(-18deg);
			transition: opacity 0.6s 0.4s, top 0.6s 0.4s;
			@include mq(laptop) {
				top: 0;
			}
			.animate-slide .img-loaded & {
				opacity: 1;
				top: 0;
				@include mq(laptop) {
					top: -50px;
				}
			}
		}
		&-2 {
			top: 60px;
			left: 50%;
			transform: translateX(-50%);
			transition: opacity 0.6s 0.3s, top 0.6s 0.3s;
			@include mq(laptop) {
				top: 10px;
			}
			.animate-slide .img-loaded & {
				opacity: 1;
				top: 40px;
				@include mq(laptop) {
					top: -40px;
				}
			}
		}
		&-3 {
			top: 100px;
			right: 40px;
			transform: rotate(18deg);
			transition: opacity 0.6s 0.4s, top 0.6s 0.4s;
			@include mq(laptop) {
				top: 60px;
			}
			.animate-slide .img-loaded & {
				opacity: 1;
				top: 40px;
				@include mq(laptop) {
					top: 10px;
				}
			}
		}
		&-4 {
			top: 50px;
			left: 50px;
			max-width: 55px;
			animation: none;
			transition: opacity 0.6s 0.4s, top 0.6s 0.4s, left 0.6s 0.4s;
			.animate-slide .img-loaded & {
				top: -100px;
				left: -120px;
				opacity: 1;
			}
		}
		&-5 {
			top: 150px;
			right: 50px;
			max-width: 45px;
			transition: opacity 0.6s 0.4s, top 0.6s 0.4s, right 0.6s 0.4s;
			@include mq($until: tablet) {
				display: none !important;
			}
			.animate-slide .img-loaded & {
				top: 43px;
				right: -185px;
				opacity: 1;
			}
		}
	}
	&__badges {
		position: absolute;
		right: 8%;
		bottom: 0px;
		z-index: 3;
		max-width: 100%;
		opacity: 0;
		transition: opacity 0.4s 0.35s, bottom 0.4s 0.35s;
		.animate-slide & {
			opacity: 1;
			bottom: 140px;
		}
		@include mq(laptop) {
			max-width: 60%;
		}
		svg,
		&-custom {
			transition: 0.5s;
			background: #fff;
			display: inline-block;
			margin-left: 12px;
			width: 85px;
			height: 85px;
			color: color("light-green");
			border-radius: 50%;
			transform: scale(1.0001);
			&:hover {
				transform: scale(1.05);
			}
		}
		&-custom {
			position: relative;
			&-text {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				padding: 3px 5px;
				transform: translate(-50%, -50%);
				display: block;
				font-size: 12px;
				font-weight: 700;
				line-height: 1;
				text-align: center;
				text-transform: uppercase;
				// line-break: anywhere;
			}
		}
		@include mq($until: tablet) {
			display: none;
		}
	}
	.slick-dots {
		text-align: center;
		bottom: 100px;
		@include mq($until: tablet) {
			bottom: 40px;
		}
		@include mq(tablet) {
			max-width: 60%;
		}
	}
}

@keyframes pop1 {
	0% {
		opacity: 0;
		top: 50px;
		left: 50px;
	}
	12% {
		top: -95px;
		left: -110px;
		opacity: 1;
	}
	100% {
		top: -100px;
		left: -120px;
		opacity: 1;
	}
}
