.c-svgicon {
	&--facebook,
	&--instagram,
	&--email,
	&--twitter {
		width: 16px;
		height: 16px;
		vertical-align: middle;
	}
	&--scroll-down {
		width: 22px;
		height: 23px;
	}
	&--close {
		width: 20px;
		height: 20px;
	}
	&--star-full {
		width: 16px;
		height: 16px;
	}
	&--play {
		width: 12px;
		height: 12px;
		@include mq(mobileLarge) {
			width: 16px;
			height: 16px;
		}
	}
	&--new-tag {
		width: 65px;
		height: 66px;
		@include mq(laptopMed) {
			width: 95px;
			height: 96px;
		}
	}
	&--list-style {
		width: 18px;
		height: 18px;
		vertical-align: middle;
	}
	&--lessfat,
	&--plantbased,
	&--nothingartificial,
	&--noaddedsugar,
	&--noaddedmsg,
	&--glutenfree,
	&--100sunfloweroil {
		width: 80px;
		height: 80px;
	}

	&--next,
	&--prev {
		width: 30px;
		height: 30px;
	}
	&--flip {
		width: 25px;
		height: 18px;
		vertical-align: middle;
		margin-left: 12px;
	}
}
