// .c-instagram {
// 	a {
// 		height: 33.3333333vw;
// 		background-position: center center;
// 		background-repeat: no-repeat;
// 		background-size: 105%;
// 		@include mq(desk) {
// 			height: 16.6666666vw;
// 		}
// 	}
// }

.instagram-pics {
	margin: 0;
	padding: 0;
	line-height: 0;
	li {
		display: inline-block;
		width: 33.333%;
		@include mq(desktop) {
			width: 16.666%;
		}
	}
}
