.c-loading {
	background-color: color("light-green");
	background-image: url("../img/bg-paper-texture.png");
	background-size: cover;
	background-blend-mode: overlay;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 600;
	&.hided {
		z-index: -1;
		pointer-events: none;
		opacity: 0;
	}
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		background-image: none !important;
		background-blend-mode: unset !important;
	}
	&:before {
		content: "";
		position: absolute;
		top: 0px;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		background-image: url("../img/stripes-white.png");
		background-repeat: repeat-x;
		background-position: top center;
		opacity: 0.9;
		z-index: -1;
		pointer-events: none;
		transition: 0.5s;
	}
	&__content {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		img {
			max-width: 250px;
			animation: zoominout 2s ease-out both infinite;
		}
	}
}
