.c-skip {
	position: absolute;
	top: -10px;
	z-index: -999;
	width: 1px;
	height: 1px;
	overflow: hidden;
	@include attention() {
		top: $spacing-unit--small;
		left: 50%;
		z-index: 999;
		display: inline-block;
		width: auto;
		height: auto;
		transform: translateX(-50%);
	}
}

.c-site-nav {
	flex: 1;
	margin-left: 35px;
	@include mq($until: tabletWide) {
		display: none;
		margin-top: 45px;
		width: 100%;
		margin-left: 0;
		.menu-open & {
			display: inline-block;
			animation: fadeInUp 0.75s;
		}
	}
}

.c-nav {
	list-style: none;
	@include mq(tabletWide) {
		display: flex;
		align-items: center;
		margin-bottom: 0;
	}
	@include mq($until: tabletWide) {
	}
	li {
		@include mq(tabletWide) {
			&:not(:first-of-type) {
				margin-left: 20px;
			}
		}
		@include mq($until: tabletWide) {
			.menu-open & {
				display: block;
			}
		}
		a {
			text-transform: uppercase;
			font-size: 18px;
			line-height: 1;
			font-weight: 700;
			color: rgba(color("white"), 0.75);
			border-bottom: 2px solid transparent;
			padding-bottom: 4px;
			display: inline-block;
			transition: 0.3s;
			&:hover,
			.current-menu-item & {
				color: color("white");
				border-bottom: 2px solid color("white");
			}
			.green &,
			.fixed & {
				color: rgba(color("brand"), 0.75);
				@include mq(tablet) {
					&:hover {
						color: color("brand");
						border-bottom: 2px solid color("brand");
					}
				}
			}
			.fixed & {
				font-size: 16px;
			}
			@include mq($until: tabletWide) {
				.menu-open & {
					font-size: 28px;
					line-height: 1.25;
					margin-bottom: 10px;
					color: color("white");
					font-family: $heading;
				}
			}
		}
		&.current-menu-item {
			a {
				color: color("white");
				border-bottom-color: color("white");
			}
			@include mq(tablet) {
				.green & a,
				.fixed & a {
					color: color("brand");
					border-bottom-color: color("brand");
				}
			}
		}
	}
}
