.c-news-tile {
	@include mq(tablet) {
		&:nth-child(3n + 1) {
			&.animate {
				animation-delay: 0.2s;
			}
		}
		&:nth-child(3n + 2) {
			&.animate {
				animation-delay: 0.4s;
			}
		}
		&:nth-child(3n + 3) {
			&.animate {
				animation-delay: 0.6s;
			}
		}
	}
	&__wrap {
		cursor: pointer;
		display: inline-block;
		width: 100%;
		position: relative;
		color: color("content");
		background-color: rgba(255, 255, 255, 0.6);
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		transition: 0.5s;
		overflow: hidden;
		&:hover {
			transform: scale(1.02);
			box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
			.c-news-tile__img {
				transform: scale(1.03);
			}
		}
	}
	&__img {
		background-color: #ddd;
		background-size: cover;
		background-position: center center;
		padding-bottom: 47.14%;
		width: 100%;
		border-radius: 10px 10px 0 0;
		transition: 0.5s;
		overflow: hidden;
	}
	&__content {
		margin: 20px;
		font-size: 12px;
		h4 {
			margin-bottom: 6px;
			line-height: 1;
		}
	}
	&__date {
		font-weight: 700;
		margin-bottom: 6px;
	}
	&__category {
		display: inline;
		color: color("light-green");
		strong {
			color: color("content");
			padding-left: 5px;
		}
	}
	&__copy {
		margin-top: 15px;
		margin-bottom: 0;
	}
	&__more {
		display: inline-block;
		color: color("light-green");
	}
}
