.c-news {
	position: relative;
	padding: 125px 0 80px;
	@include mq(tablet) {
		padding: 160px 0 150px;
	}
	&__ads {
		text-align: center;
		position: relative;
		margin-bottom: 50px;
		width: 100% !important;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
		&-close {
			position: absolute;
			top: 20px;
			right: 20px;
			color: #fff;
			z-index: 1;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
		&-wrap {
			display: block;
			width: 100%;
			background-color: color("orange");
			background-size: cover;
			background-position: center;
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
			border-radius: 10px;
			color: #fff;
			padding: 35px 24px;
			background-image: attr(data-src url);
			@include mq($until: tablet) {
				background-image: attr(data-mob-src, url);
			}
			@include mq(tablet) {
				padding: 100px 24px;
			}
			&-content {
				position: relative;
				z-index: 1;
				span {
					display: block;
					font-weight: 700;
				}
				h2 {
					color: #fff;
					text-shadow: 2px 3px color("brown");
					margin-bottom: 30px;
					@include mq($until: tablet) {
						font-size: 35px;
						line-height: 1;
					}
				}
			}
		}
		&-videowrap {
			background-image: none !important;
			position: relative;
			overflow: hidden;
			video {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: auto;
				height: auto;
				min-width: 100%;
				min-height: 100%;
			}
			&:after {
				content: "";
				background: linear-gradient(
					0deg,
					rgba(44, 82, 52, 0.4),
					rgba(44, 82, 52, 0.4)
				);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	&__title {
		margin-bottom: 5px;
	}
	&__contents {
		margin-bottom: 36px;
		text-align: center;
		position: relative;
		z-index: 1;
	}
	&__search {
		text-align: center;
		margin-bottom: 48px;
		position: relative;
		z-index: 1;
		input {
			background-color: transparent;
			background-image: url("../img/input-search.png");
			background-repeat: no-repeat;
			background-position: 20px center;
			background-size: 20px 20px;
			border: 2px solid color("brand");
			padding-left: 60px;
			max-width: 450px;
			width: 100%;
			margin: auto;
			box-shadow: none;
			color: color("brand");
			&::placeholder {
				color: tint(color("brand"), 40%);
			}
		}
	}
	&__categories {
		text-align: center;
		margin-bottom: 24px;
		position: relative;
		z-index: 1;
		&-each {
			border: 2px solid color("brand");
			margin-bottom: 10px;
			border-radius: 100px;
			display: inline-block;
			transition: 0.3s;
			padding: 3px 15px 5px;
			@include mq(tablet) {
				padding: 3px 24px 5px;
			}
			&:not(:first-of-type) {
				margin-left: 6px;
				@include mq(tablet) {
					margin-left: 12px;
				}
			}
			&:hover,
			&.is-active {
				box-shadow: 4px 10px 20px rgba(41, 82, 52, 0.25);
				background-color: color("light-green");
				border-color: color("light-green");
				color: #ffffff;
			}
		}
	}
	&__list-wrap {
		position: relative;
	}
	&__list {
		padding-top: 12px;
		@include mq(tablet) {
			padding-top: 60px;
		}
		&.o-module {
			overflow: visible;
			justify-content: center;
		}
		&-notfound {
			text-align: center;
			justify-content: center;
			color: color("brand");
			// font-weight: 700;
		}
	}
	&__loadmore {
		text-align: center;
		.o-btn {
			margin-top: 50px;
			@include mq(tablet) {
				margin-top: 100px;
			}
		}
	}
}
