.c-page-banner {
	background-color: #fff;
	width: 100%;
	position: relative;
	text-align: center;
	padding: 120px 0 100px;
	overflow: hidden;
	@include mq(tablet) {
		margin-bottom: 35px;
		padding: 150px 0 120px;
	}
	&:after {
		content: "";
		// background: #f5f5f5;
		background: url("../img/bg-texture-wood.jpg");
		background-attachment: fixed;
		pointer-events: none;
		width: 100%;
		height: 75px;
		position: absolute;
		bottom: -35px;
		left: 0;
		border-radius: 20px 20px 0 0;
		@include mq(tablet) {
			border-radius: 40px 40px 0 0;
		}
	}
	&__img {
		position: absolute;
		top: -20px;
		left: 0;
		width: calc(100% + 40px);
		height: calc(100% + 40px);
		background-size: cover;
		background-position: center;
		&:before {
			content: "";
			background: linear-gradient(
					90deg,
					rgba(0, 0, 0, 0.5) 0%,
					rgba(0, 0, 0, 0) 37.24%
				),
				linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
			width: 100%;
			height: 100%;
			position: absolute;
			pointer-events: none;
			top: 0;
			left: 0;
		}
	}
	&__title {
		position: relative;
		z-index: 1;
		margin-top: 0;
		color: #ffffff;
		text-shadow: 5px 5px color("brand");
	}
}
