.c-popcorn {
	position: absolute;
	width: 70px;
	height: 56px;
	right: 0;
	top: 0;
	// pointer-events: none;
	// z-index: -1;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	span {
		display: block;
		width: 100%;
		height: 100%;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url("../img/popcorn.png");
			background-repeat: no-repeat;
			background-size: contain;
			width: 100%;
			height: 100%;
		}
	}
	@include mq($until: tablet) {
		display: none;
	}
	&--home-banner-1 {
		left: 0px;
		top: 20%;
		opacity: 0;
		transition: opacity 0.3s 0.35s, left 0.3s 0.35s;
		.animate-slide & {
			opacity: 1;
			left: 25px;
		}
	}
	&--home-banner-2 {
		width: 55px;
		height: 50px;
		left: 40%;
		bottom: 0px;
		top: unset;
		transition: opacity 0.3s 0.35s, bottom 0.3s 0.35s;
		opacity: 0;
		.animate-slide & {
			opacity: 1;
			bottom: 80px;
		}
		span::before {
			// transform: rotate(-75.03deg);
			background-image: url("../img/popcorn2.png");
		}
	}
	&--home-banner-3 {
		width: 35px;
		height: 30px;
		left: 35%;
		bottom: 00px;
		top: unset;
		transition: opacity 0.3s 0.35s, bottom 0.3s 0.35s;
		opacity: 0;
		.animate-slide & {
			opacity: 1;
			bottom: 140px;
		}
		span::before {
			background-image: url("../img/popcorn5.png");
		}
	}
	&--home-banner-4 {
		width: 55px;
		height: 50px;
		left: 45%;
		top: 150px;
		span::before {
			// transform: rotate(-75.03deg);
			// background-image: url("../img/popcorn5.png");
		}
	}
	&--home-banner-5 {
		width: 50px;
		height: 45px;
		right: 12%;
		top: 140px;
		z-index: 3;
		span::before {
			background-image: url("../img/popcorn4.png");
		}
	}

	&--home-1 {
		left: 75px;
		top: 50%;
	}
	&--home-2 {
		width: 30px;
		height: 25px;
		left: 20px;
		top: 46%;
		span::before {
			transform: rotate(-75.03deg);
		}
	}
	&--home-3 {
		width: 35px;
		height: 34px;
		left: 50px;
		top: 58%;
		span::before {
			transform: rotateX(125deg);
			background-image: url("../img/popcorn2.png");
		}
	}
	&--home-4 {
		width: 60px;
		height: 50px;
		right: 50px;
		top: -150px;
		span::before {
			transform: rotateX(125deg);
		}
	}
	&--home-5 {
		width: 35px;
		height: 34px;
		right: 20px;
		top: -80px;
		span::before {
			background-image: url("../img/popcorn2.png");
		}
	}
	&--home-6 {
		width: 60px;
		left: 75px;
		top: 10px;
		span::before {
			background-image: url("../img/popcorn4.png");
		}
	}
	&--home-7 {
		width: 30px;
		height: 25px;
		left: 20px;
		top: 100px;
		span::before {
			transform: rotate(-75.03deg);
		}
	}
	&--footer-1 {
		right: 80px;
		top: 0;
		span::before {
			transform: rotate(-165deg);
		}
	}
	&--footer-2 {
		width: 36px;
		height: 34px;
		right: 50px;
		top: 100px;
		span::before {
			transform: rotate(30.52deg);
			background-image: url("../img/popcorn5.png");
		}
	}
	&--footer-3 {
		left: 30px;
		top: unset;
		bottom: 500px;
		span::before {
			transform: rotate(-165deg);
			background-image: url("../img/popcorn5.png");
		}
	}
	&--footer-4 {
		width: 36px;
		height: 34px;
		left: 10px;
		top: unset;
		bottom: 600px;
		span::before {
			transform: rotate(30.52deg);
			background-image: url("../img/popcorn4.png");
		}
	}
	&--product-1 {
		right: 40px;
		top: 260px;
		span::before {
			transform: rotate(-115deg);
		}
	}
	&--product-2 {
		width: 41px;
		height: 34px;
		right: 80px;
		top: 370px;
		span::before {
			transform: rotate(80deg);
			background-image: url("../img/popcorn2.png");
		}
	}
	&--product-3 {
		width: 70px;
		height: 56px;
		left: 30px;
		top: 500px;
		span::before {
			// transform: rotateX(130deg) rotateY(-10deg);
			background-image: url("../img/popcorn5.png");
		}
	}
	&--product-4 {
		left: 80px;
		top: 57%;
		span::before {
			transform: rotate(-115deg);
		}
	}
	&--product-5 {
		width: 41px;
		height: 34px;
		left: 30px;
		top: 60%;
		span::before {
			transform: rotateX(-10deg) rotateY(-50deg);
		}
	}
	&--product-6 {
		right: 50px;
		top: 70%;
		span::before {
			transform: rotate(-115deg);
			background-image: url("../img/popcorn4.png");
		}
	}
	&--product-7 {
		width: 41px;
		height: 34px;
		right: 30px;
		top: 75%;
		span::before {
			transform: rotateX(-10deg) rotateY(-50deg);
		}
	}
	&--s-product-1 {
		right: 40px;
		bottom: 0px;
		top: unset;
		span::before {
			transform: rotate(-75deg);
		}
	}
	&--s-product-2 {
		width: 41px;
		height: 34px;
		right: 80px;
		bottom: -80px;
		top: unset;
		span::before {
			transform: rotate(80deg);
		}
	}
	&--s-product-3 {
		width: 70px;
		height: 54px;
		left: 30px;
		top: 500px;
		span::before {
			transform: rotate(180deg);
			background-image: url("../img/popcorn5.png");
		}
	}
	&--s-product-4 {
		width: 50px;
		height: 40px;
		right: 50px;
		top: 0;
		span::before {
			transform: rotate(95deg);
			background-image: url("../img/popcorn2.png");
		}
	}
	&--about-1 {
		left: 30px;
		top: 50%;
		span::before {
			transform: translateY(-50%) rotate(-120.7deg);
		}
	}
	&--about-2 {
		width: 30px;
		height: 25px;
		left: 5px;
		top: 55%;
		span::before {
			transform: translateY(-50%) rotate(-10.7deg);
		}
	}
	&--about-3 {
		right: 20px;
		top: -60px;
		span::before {
			transform: translateY(-50%) rotate(-120.7deg);
			background-image: url("../img/popcorn2.png");
		}
	}
	&--about-4 {
		width: 40px;
		height: 30px;
		right: 20px;
		top: 30px;
		span::before {
			transform: translateY(-50%) rotate(-10.7deg);
		}
	}
	&--news-1 {
		width: 60px;
		height: 50px;
		right: 40px;
		top: -200px;
		span::before {
			transform: rotate(100deg);
		}
	}
	&--news-2 {
		width: 41px;
		height: 34px;
		right: 80px;
		top: -80px;
		span::before {
			// transform: rotate(80deg);
			background-image: url("../img/popcorn2.png");
		}
	}
	&--news-3 {
		width: 70px;
		height: 56px;
		left: 30px;
		bottom: 200px;
		top: unset;
		span::before {
			transform: rotateX(130deg) rotateY(-10deg);
			background-image: url("../img/popcorn4.png");
		}
	}
	&--news-4 {
		width: 41px;
		height: 34px;
		left: 40px;
		top: -20px;
		span::before {
			// transform: rotate(80deg);
		}
	}
	&--news-5 {
		width: 70px;
		height: 56px;
		left: 20px;
		top: 100px;
		span::before {
			transform: rotateX(130deg) rotateY(-10deg);
			background-image: url("../img/popcorn4.png");
		}
	}
	&--s-news-1 {
		right: 40px;
		top: 20%;
		span::before {
			transform: rotate(-115deg);
		}
	}
	&--s-news-2 {
		width: 41px;
		height: 34px;
		right: 80px;
		top: 23.5%;
		span::before {
			transform: rotate(80deg);
		}
	}
	&--s-news-3 {
		left: 20px;
		top: 50%;
		span::before {
			transform: rotate(-115deg);
			background-image: url("../img/popcorn4.png");
		}
	}
	&--s-news-4 {
		width: 41px;
		height: 34px;
		left: 50px;
		top: 60%;
		span::before {
			transform: rotate(80deg);
		}
	}
	&--faq-1 {
		width: 41px;
		height: 34px;
		left: 40px;
		top: 450px;
		span::before {
			transform: rotate(80deg);
		}
	}
	&--faq-2 {
		width: 60px;
		height: 50px;
		right: 50px;
		top: 600px;
		span::before {
			transform: rotateX(125deg);
		}
	}
	&--faq-3 {
		width: 35px;
		height: 34px;
		right: 20px;
		top: 700px;
		span::before {
			background-image: url("../img/popcorn2.png");
		}
	}
	&--faq-4 {
		width: 60px;
		height: 50px;
		left: 50px;
		top: unset;
		bottom: 250px;
		span::before {
			transform: rotateX(125deg);
		}
	}
	&--faq-5 {
		width: 35px;
		height: 34px;
		left: 20px;
		top: unset;
		bottom: 350px;
		span::before {
			background-image: url("../img/popcorn4.png");
		}
	}
	&--contact-1 {
		width: 51px;
		height: 44px;
		left: 40px;
		top: 450px;
		span::before {
			transform: rotate(80deg);
			background-image: url("../img/popcorn2.png");
		}
	}
}
