.c-product-tile {
	@include mq(tablet) {
		&:nth-child(3n + 2) {
			&.animate {
				animation-delay: 0.2s;
			}
		}
		&:nth-child(3n + 3) {
			&.animate {
				animation-delay: 0.4s;
			}
		}
	}
	@include mq(tabletWide) {
		&:nth-child(4n + 2) {
			&.animate {
				animation-delay: 0.2s;
			}
		}
		&:nth-child(4n + 3) {
			&.animate {
				animation-delay: 0.4s;
			}
		}
		&:nth-child(4n + 4) {
			&.animate {
				animation-delay: 0.6s;
			}
		}
	}
	padding-bottom: 12px;
	@include mq(tablet) {
		padding-bottom: 60px;
	}
	.home & {
		padding-bottom: 36px;
		@include mq(tablet) {
			padding-bottom: 100px;
		}
	}
	&__img {
		display: inline-block;
		width: 100%;
		transition: 0.3s;
		position: relative;
		@include mq(tablet) {
			margin-bottom: 20px;
		}
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 1px;
			height: 1px;
			border-radius: 0;
			z-index: -1;
			opacity: 0;
			transition: 0.3s;
			box-shadow: 15px 40px 20px 70px rgba(0, 0, 0, 0.2);
			@include mq(laptopWide) {
				box-shadow: 20px 60px 35px 90px rgba(0, 0, 0, 0.2);
			}
		}
		&:focus {
			outline: 0;
		}
		&:hover {
			.c-product-tile__thumb {
				transform: scale(1.02);
				filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.2));
			}
			// & + .c-product-tile__info {
			.c-product-tile__info {
				opacity: 1;
				transform: translateY(0px);
			}
			.c-product-tile__garnish-left {
				left: -30px;
				opacity: 1;
			}
			.c-product-tile__garnish-right {
				right: -30px;
				opacity: 1;
			}
			.c-product-tile__badge {
				opacity: 1;
			}
			&:after {
				// opacity: 1;
			}
		}
		.slick-slide & {
			opacity: 0;
			transform: scale(0.6);
			transition: 0.5s 1.5s;
			backface-visibility: hidden;
			@include mq($until: tablet) {
				opacity: 1;
			}
		}
		.slick-active &,
		.slick-current & {
			opacity: 1;
			transform: scale(1);
			transition: 0.5s 1.5s;
			backface-visibility: hidden;
		}
	}

	&__thumb {
		display: block;
		margin: 0 auto;
		max-width: 220px;
		max-height: 220px;
		width: auto;
		height: auto;
		transition: 0.3s;
		filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0));
		@include mq(tablet) {
			max-width: 250px;
			max-height: 250px;
		}
	}
	&__badge {
		opacity: 0;
		transition: 0.3s;
		svg,
		&-custom {
			background: linear-gradient(
				158.66deg,
				color("light-green") 14.75%,
				color("brand") 122.27%
			);
			display: inline-block;
			width: 80px;
			height: 80px;
			padding: 1px;
			color: #fff;
			border-radius: 50%;
			position: absolute;
			top: -20px;
			left: 20px;
			transition: 0.3s;
		}
		&-custom {
			// position: relative;
			&-text {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				padding: 3px 5px;
				transform: translate(-50%, -50%);
				display: block;
				font-size: 12px;
				font-weight: 700;
				line-height: 1;
				text-align: center;
				text-transform: uppercase;
				// line-break: anywhere;
			}
		}
		@include mq($until: tablet) {
			display: none;
		}
	}
	&__garnish {
		&-left {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0px;
			z-index: -1;
			max-width: 130px;
			opacity: 0;
			transition: 0.3s;
			@include mq($until: tablet) {
				display: none !important;
			}
		}
		&-right {
			position: absolute;
			top: 40px;
			right: 40px;
			z-index: -1;
			max-width: 130px;
			opacity: 0;
			transition: 0.3s;
			@include mq($until: tablet) {
				display: none !important;
			}
		}
	}
	&__info {
		font-size: 14px;
		line-height: 1.5;
		transition: all 0.3s;
		text-align: center;
		padding: 0px 12px;
		.home & {
			width: 100%;
			padding-top: 12px;
			@include mq(tablet) {
				position: absolute;
				transform: translateY(-20px);
				padding: 0 10px;
				padding-bottom: 30px;
				top: 110%;
				opacity: 0;
			}
		}
	}
	&__brand {
		margin-bottom: 5px;
		display: block;
	}
	&__title {
		display: inline-block;
		width: 100%;
		font-weight: 700;
		margin-bottom: 12px;
		font-family: $heading;
		@include font-size(24px, 1);
	}
	&__more {
		display: inline-block;
		color: color("light-green");
		transition: 0.3s;
		cursor: pointer;
		&:hover {
			color: color("brand");
		}
	}
}
