.c-products {
	text-align: center;
	position: relative;
	padding: 125px 0 50px;
	@include mq(tablet) {
		padding: 160px 0 60px;
	}
	&__title {
		margin-bottom: 36px;
	}
	&__categories {
		text-align: center;
		margin-bottom: 36px;
		&-each {
			border: 2px solid;
			margin-bottom: 12px;
			border-radius: 100px;
			display: inline-block;
			transition: 0.4s;
			padding: 3px 15px 5px;
			color: #ffffff;
			@include mq(tablet) {
				padding: 3px 24px 5px;
			}
			&:not(:first-of-type) {
				margin-left: 6px;
				@include mq(tablet) {
					margin-left: 12px;
				}
			}
			&.all {
				border: 2px solid color("brand");
				background-color: color("brand");
				&:hover,
				&.is-active {
					color: color("brand");
				}
			}
			&:hover,
			&.is-active {
				box-shadow: 4px 10px 20px rgba(41, 82, 52, 0.25);
				background-color: transparent;
				// color: #ffffff;
			}
		}
	}
	&__diet-filter {
		position: relative;
		// display: flex;
		align-items: center;
		justify-content: center;
		max-width: 420px;
		width: 100%;
		margin: 0 auto;
		color: color("brand");
		position: relative;
		z-index: 5;
		padding: 14px 0;
		// padding-right: 30%;
		span {
			display: block;
			max-width: 40%;
			line-height: 1;
		}
	}
	&__diet-list {
		position: absolute;
		top: 0;
		right: 0;
		background: url("../img/bg-texture-wood.jpg");
		border: 2px solid color("brand");
		border-radius: 25px;
		text-align: left;
		list-style: none;
		padding: 6px 18px;
		width: 100%;
		max-width: 60%;
		li {
			display: block;
			line-height: 1;
			padding: 4px 0 6px;
			cursor: pointer;
			&.label {
				background-image: url("../img/select-arrow.png");
				background-position: right 5px;
				background-size: 15px 14px;
				background-repeat: no-repeat;
			}
			&.value {
				display: none;
				transition: color 0.25s;
				&.is-active,
				&:hover {
					color: color("light-green");
				}
			}
		}
	}
	&__list {
		padding-top: 50px;
		@include mq(tablet) {
			padding-top: 100px;
		}
		.o-module {
			overflow: visible;
			justify-content: center;
		}
		&-notfound {
			text-align: center;
			justify-content: center;
			color: color("brand");
			// font-weight: 700;
		}
	}
}
