.c-review-form {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	overflow: auto;
	&__close {
		position: absolute;
		top: 30px;
		right: 30px;
	}
	&__container {
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translateX(-50%);
		background: #ffffff;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
		border-radius: 20px;
		max-width: 600px;
		width: 100%;
		padding: 50px 70px 25px;
		text-align: center;
		p {
			max-width: 290px;
			margin: 0 auto 36px;
		}
	}
	&__form {
		text-align: left;
		.invalid {
			border-color: rgba(red, 0.4);
		}
	}
	&__msg {
		display: block;
		max-width: 100%;
		font-size: 16px;
		line-height: 1.1;
		&.error {
			color: red;
		}
	}
	&__rating {
		position: relative;
		&-stars {
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
			position: relative;
			input {
				position: absolute;
				width: 0px;
				height: 0px;
				opacity: 0;
				appearance: none;
			}
			label {
				display: inline-block;
				color: transparent;
				margin-right: 10px;
				margin-bottom: 4px;
				svg {
					width: 34px;
					height: 32px;
					transition: 0.25s;
				}
			}
			label:hover,
			label:hover ~ label,
			input:focus ~ label svg,
			input:checked ~ label svg {
				color: color("light-green");
			}
			input:checked + label {
				animation: scaleup 1s;
			}
		}
		.label {
			margin-bottom: 10px;
			color: rgba(0, 0, 0, 0.7);
			&.invalid {
				color: rgba(red, 0.4);
			}
		}
		@keyframes scaleup {
			from {
				transform: scale(1.2);
			}
			to {
				transform: scale(1);
			}
		}
	}
}
