.c-single-product {
	position: relative;
	padding-bottom: 60px;
	&__stage {
		background-color: color("light-green");
		background-image: url("../img/bg-paper-texture.png");
		background-size: cover;
		background-blend-mode: overlay;
		position: relative;
		color: color("white");
		padding: 130px 0 80px;
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			background: color("light-green");
		}

		@include mq(tablet) {
			padding: 160px 0 120px;
		}
		&:before {
			content: "";
			position: absolute;
			top: -200px;
			left: 0;
			width: 100%;
			height: 0%;
			opacity: 0;
			background-image: url("../img/stripes-white.png");
			background-position: center;
			pointer-events: none;
			transition: 0.5s;
		}
		&.animate-special.animate::before {
			height: 60%;
			top: 0;
			opacity: 1;
		}
		&:after {
			content: "";
			background: url("../img/bg-texture-wood.jpg");
			background-attachment: fixed;
			pointer-events: none;
			width: 100%;
			height: 80px;
			position: absolute;
			bottom: -15px;
			left: 0;
			border-radius: 20px 20px 0 0;
			box-shadow: -50px -80px 50px 50px rgba(0, 0, 0, 0.1);
			@include mq(tablet) {
				border-radius: 40px 40px 0 0;
			}
		}
		&-title {
			color: #fff;
			line-height: 1.1;
			text-shadow: 3px 4px color("brand");
		}
		&-more {
			color: color("brand");
			display: inline-block;
			padding: 3px 0;
		}
		&-content {
			max-width: 480px;
			margin-bottom: 36px;
			line-height: 1.4;
			@include mq(tablet) {
				margin-bottom: 60px;
			}
			h1,
			h2,
			h3,
			h4 {
				color: #fff;
				font-size: 18px;
				margin-bottom: 12px;
				font-family: $primary;
				line-height: 1.4;
				@include mq(tablet) {
					font-size: 22px;
				}
			}
			p {
				margin-bottom: 12px;
				&:first-child {
					font-weight: 700;
					@include mq(tablet) {
						font-size: 22px;
					}
				}
			}
		}
		&-brief {
			overflow: hidden;
			transition: 0.3s;
			height: 169px;
			position: relative;
			&.content-readmore {
				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: -10px;
					width: 100%;
					height: 40px;
					pointer-events: none;
					background: linear-gradient(
						180deg,
						rgba(#8ca914, 0) 0%,
						rgba(#8ca914, 1) 100%
					);
				}
			}
			@include mq(tablet) {
				height: 171px;
			}
		}
		&-ctas {
			.o-btn {
				display: inline-block;
				width: auto;
				margin-bottom: 12px;
				@include mq($until: tablet) {
					padding: 11px 20px 13px;
				}
				&:not(:first-of-type) {
					margin-left: 12px;
					@include mq(laptop) {
						margin-left: 25px;
					}
				}
			}
		}
		&-right {
			display: flex;
			align-items: center;
		}
		&-thumb {
			position: relative;
			z-index: 1;
			max-width: 60%;
			margin-left: -24px;
			padding-top: 24px;
			@include mq(tablet) {
				max-width: 70%;
			}
			&-main {
				transition: 0.4s;
				filter: drop-shadow(30px 30px 13px rgba(0, 0, 0, 0.25));
				&:hover {
					transform: scale(1.03);
				}
			}
			// &:after {
			// 	content: "";
			// 	position: absolute;
			// 	top: 50%;
			// 	left: 50%;
			// 	width: 1px;
			// 	height: 1px;
			// 	border-radius: 0;
			// 	transition: 0.3s;
			// 	z-index: -1;
			// 	box-shadow: 50px 100px 30px 100px rgba(0, 0, 0, 0.2);
			// }
		}
		&-badge {
			svg,
			&-custom {
				width: 140px;
				height: 140px;
				color: #fff;
				position: absolute;
				top: -60px;
				left: 0px;
				transition: 0.3s;
				transform: rotate(-13.77deg);
				filter: drop-shadow(2px 4px 20px rgba(0, 0, 0, 0.5));
				&.c-svgicon--nothingartificial {
					left: -40px;
				}
				&.c-svgicon--noaddedmsg,
				&.c-svgicon--lessfat {
					left: -40px;
				}
			}
			&-custom {
				// position: relative;
				background-color: #fff;
				color: color("brand");
				border-radius: 50%;
				width: 100px;
				height: 100px;
				padding: 0;
				top: -40px;
				transform: none;
				&-text {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					padding: 3px 5px;
					max-width: 140px;
					transform: translate(-50%, -50%);
					display: block;
					font-size: 14px;
					font-weight: 700;
					line-height: 1;
					text-align: center;
					text-transform: uppercase;
					// line-break: anywhere;
				}
			}
			@include mq($until: tablet) {
				display: none;
			}
		}
		&-features {
			max-width: 48%;
			line-height: 1.3;
			font-size: 14px;
			@include mq(tablet) {
				font-size: 18px;
				max-width: 40%;
				width: 100%;
				margin-left: -15px;
			}
			p {
				margin-bottom: 12px;
				padding-left: 21px;
				font-weight: 700;
				line-height: 1.3;
				position: relative;
				svg {
					position: absolute;
					left: -10px;
					top: 3px;
				}
			}
			&-label {
				font-size: 16px;
				padding-left: 0 !important;
				color: rgba(255, 255, 255, 0.7);
			}
		}
		&-nav {
			padding-top: 24px;
			display: inline-block;
			width: 100%;
			@include mq($until: tablet) {
				margin-bottom: 24px;
			}
			a {
				color: #ffffff;
				display: inline-block;
				transition: 0.3s;
				&:hover {
					transform: scale(1.1);
				}
			}
			&-next {
				float: right;
			}
			&-prev {
				float: left;
			}
		}
	}
	&__intro-content {
		position: relative;
		text-align: center;
		color: rgba(0, 0, 0, 0.7);
		margin-bottom: 30px;
		@include mq(tablet) {
			margin-bottom: 100px;
		}
	}

	&__ing {
		margin-bottom: 25px;
		position: relative;
		@include mq(tablet) {
			margin-bottom: 20px;
		}
		&-conainer {
			overflow: hidden;
			position: relative;
		}
		&-title {
			margin: 0 0 15px;
		}
		&-img {
			display: flex;
			align-items: center;
			justify-content: center;
			@include mq(tablet) {
				margin-top: 30px;
			}
			img {
				max-width: 48%;
				filter: drop-shadow(20px 25px 13px rgba(0, 0, 0, 0.3));
				@include mq(laptop) {
					max-width: 300px;
				}
				transition: 0.4s;
				&:hover {
					transform: scale(1.03);
				}
				&:last-of-type {
					margin-left: -24px;
				}
			}
		}
		&-content {
			// padding: 48px 36px 6px;
		}
		&-available {
			text-align: center;
			margin-top: 24px;
			h4 {
				margin-bottom: 6px;
			}
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				font-size: 0;
				margin-left: -6px;
				@include mq(tablet) {
					margin-left: -12px;
				}
				li {
					display: inline-block;
					vertical-align: middle;
					padding-left: 6px;
					margin-bottom: 6px;
					@include mq(tablet) {
						padding-left: 12px;
						margin-bottom: 12px;
					}
				}
				img {
					width: auto;
					height: auto;
					max-width: 100px;
					margin: -15px 0;
					// max-height: 40px;
					@include mq(tablet) {
						max-width: 140px;
						margin: -24px 0;
						// max-height: 50px;
					}
				}
				a {
					overflow: hidden;
					display: inline-block;
					transition: 0.25s;
					@include mq(tablet) {
						border-radius: 20px;
						padding: 6px 12px;
						&:hover {
							background: #ffffff;
							box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
						}
					}
				}
			}
		}

		&-tabcontent {
			width: 100% !important;
		}
		&-tabinner {
			padding: 1px 0;
			font-size: 14px;
			@include mq(tablet) {
				font-size: 16px;
				max-width: 510px;
			}
			table {
				margin-left: -12px;
				line-height: 1.4;
				tr,
				td {
					border: 0;
				}
				tbody tr:first-child {
					td {
						padding-top: 8px;
					}
				}
				th {
					padding: 6px 12px 10px;
					border-bottom: 1px solid rgba(color("brand"), 0.2);
					font-size: 14px;
					line-height: 1.2;
					@include mq(tablet) {
						font-size: 16px;
					}
				}
				td {
					padding: 0 12px;
					font-size: 12px;
					@include mq(tablet) {
						font-size: 14px;
					}
					&:first-child {
						font-weight: bold;
					}
				}
			}
		}
		&-tablinks {
			margin: 0;
			padding: 0;
			margin-left: -12px;
			@include mq(tablet) {
				margin-top: 36px;
			}
			li {
				display: inline-block;
				padding-left: 12px;
				margin-bottom: 12px;
				&:only-child {
					display: none;
				}
			}
		}
		&-tablink {
			display: inline-block;
			padding: 7px 24px 10px;
			color: color("light-green");
			border: 2px solid color("light-green");
			box-sizing: border-box;
			border-radius: 200px;
			transition: 0.25s;
			@include font-size(18px, 1.3);
			min-width: 135px;
			text-align: center;
			&:last-of-type {
				@include mq(laptopMed) {
					padding: 7px 53px 10px;
				}
			}
			&.is-active,
			&:hover {
				color: #fff;
				background-color: color("light-green");
				box-shadow: 4px 10px 20px rgba(41, 82, 52, 0.25);
			}
		}
	}
	&__sharelinks {
		position: relative;
		margin-bottom: 30px;
		clear: both;
		text-align: right;
		@include mq(tablet) {
			margin-bottom: 120px;
		}
		span {
			font-weight: 700;
		}
		a {
			display: inline-block;
			border-radius: 30px;
			padding: 6px;
			width: 28px;
			height: 28px;
			text-align: center;
			margin-left: 12px;
			line-height: 0;
			background-color: color("brand");
			color: color("white");
			transition: transform 0.4s;
			&:hover {
				transform: scale(1.06);
				opacity: 1;
			}
		}
	}
	&__reviews {
		text-align: center;
		position: relative;
		margin-bottom: 80px;
		@include mq(tablet) {
			margin-bottom: 120px;
		}
		&-title {
			padding: 0 24px;
		}
		&-msg {
			padding: 30px 24px 50px;
		}
		.slick-slider .slick-track,
		.slick-slider .slick-list {
			display: flex !important;
			overflow: visible;
			padding: 0 !important;
		}
		.slick-slide {
			height: 100%;
			overflow: hidden;
		}
		.slick-arrow {
			@include mq(tablet) {
				top: -40px;
			}
			&.slick-prev {
				left: 12px;
				@include mq(tablet) {
					left: 60px;
				}
			}
			&.slick-next {
				right: 12px;
				@include mq(tablet) {
					right: 60px;
				}
			}
		}
		&-list {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 30px 0 45px;
			@include mq(tablet) {
				padding: 60px 0;
			}
		}
		&-each {
			background: #ffffff;
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
			border-radius: 20px;
			margin: 0 12px 12px;
			padding: 24px;
			width: 100%;
			&.is-centerMode {
				opacity: 0.5;
			}
			&.slick-center {
				opacity: 1;
			}
			&.slick-slide {
				transform: scale(0.7);
				transition: 0.3s;
				@include mq($until: tablet) {
					opacity: 1;
				}
			}
			&.slick-active,
			&.slick-center {
				transform: scale(1);
				transition: 0.4s 0.25s;
			}
			@include mq(tablet) {
				padding: 40px;
				margin: 0 15px 30px;
			}

			span {
				display: block;
				margin-bottom: 12px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&-cta {
			padding: 0 24px;
		}
	}
	&__related {
		position: relative;
		text-align: center;
		.slick-arrow {
			top: calc(50% - 70px);
		}
		&-title {
			margin-bottom: 30px;
			@include mq(tablet) {
				margin-bottom: 60px;
			}
		}
	}

	&__overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 500;
		background: rgba(#000000, 0.7);
		overflow: auto;
		display: none;
		&-close {
			position: absolute;
			top: 30px;
			right: 24px;
			z-index: 100;
			color: #ffffff;
			cursor: pointer;
			@include mq(tablet) {
				top: 50px;
				right: 35px;
			}
			svg {
				width: 35px;
				height: 33px;
			}
		}
		&-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			// max-width: 600px;
			// width: 100%;
			text-align: center;
		}
		img {
			animation: flip-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

			width: auto;
			height: auto;
			max-width: calc(100vw - 48px);
			max-height: calc(100vh - 100px);
			margin: auto;
		}
		&-back {
			display: none;
		}
		.o-btn {
			margin-top: 60px;
			@include mq($until: tablet) {
				width: auto;
				margin-top: 30px;
			}
		}
	}
}
