.c-single-news {
	position: relative;
	padding: 125px 0 60px;
	@include mq(tablet) {
		padding: 160px 0 100px;
	}
	&__title {
		margin-bottom: 8px;
		line-height: 1.1;
	}
	&__date {
		margin-bottom: 50px;
		@include mq($until: tablet) {
			font-size: 14px;
			margin-bottom: 24px;
		}
	}
	&__category {
		color: color("light-green");
		strong {
			color: color("content");
		}
		@include mq(tablet) {
			margin-left: 30px;
		}
	}
	&__banner {
		border-radius: 10px;
		background-size: cover;
		background-position: center;
		padding-bottom: 46%;
		margin-bottom: 40px;
		@include mq(tablet) {
			margin-bottom: 50px;
			padding-bottom: 30.36%;
		}
	}
	&__contents {
		p {
			&:first-child {
				font-size: 22px;
			}
		}
		img {
			border-radius: 10px;
			margin-bottom: 36px;
		}
		a {
			&:hover {
				opacity: 0.7;
			}
		}
	}
	&__getin {
		clear: both;
		display: block;
		font-weight: 700;
		padding-top: 12px;
		a {
			color: color("content");
		}
	}
	&__sharelinks {
		clear: both;
		span {
			font-weight: 700;
		}
		a {
			display: inline-block;
			border-radius: 30px;
			padding: 6px;
			width: 28px;
			height: 28px;
			text-align: center;
			margin-left: 12px;
			line-height: 0;
			background-color: color("brand");
			color: color("white");
			transition: transform 0.4s;
			&:hover {
				transform: scale(1.06);
				opacity: 1;
			}
		}
	}
}
