.c-social-posts {
	padding-bottom: 150px;
	position: relative;
	display: inline-block;
	width: 100%;
	// z-index: 4;
	@include mq(tablet) {
		padding-bottom: 40px;
		margin-bottom: -180px;
		// margin-top: -180px;
	}
	&__wrap {
		position: relative;
		// margin-bottom: -200px;
	}
	&__top {
		margin-bottom: 40px;
		@include mq($until: tablet) {
			text-align: center;
		}
	}
	&__header {
		h1 {
			margin-bottom: 0;
		}
		a {
			display: inline-block;
			color: color("content");
			span {
				margin-right: 12px;
				display: inline-block;
				background-color: color("brand");
				border-radius: 30px;
				padding: 6px;
				width: 28px;
				height: 28px;
				text-align: center;
				color: color("white");
				line-height: 0;
				transition: transform 0.4s;
			}
		}
	}
	&__list {
	}
	&__fade {
		position: absolute;
		left: 0px;
		bottom: 114px;
		pointer-events: none;
		height: 120px;
		width: 100%;
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0) 0%,
			#f9f9f9 100%
		);
		@include mq(tablet) {
			height: 300px;
			bottom: 160px;
			background: linear-gradient(
				180deg,
				rgba(255, 255, 255, 0) 0%,
				rgba(#f9f9f9, 0.9) 100%
			);
		}
	}
	.sbi_load_btn {
		padding: 13px 40px 15px !important;
		background: color("light-green") !important;
		font-size: 18px !important;
		line-height: 0.95 !important;
		border-radius: 200px !important;
		box-shadow: 4px 10px 20px rgba(41, 82, 52, 0.25) !important;
		color: #fff !important;
		display: inline-block !important;
		text-decoration: none !important;
		transition: 0.25s;
		margin-top: 50px !important;
		@include mq($until: mobileMed) {
			width: 100% !important;
		}
		@include mq(tablet) {
			position: absolute !important;
			top: 25px;
			right: 0;
			margin-top: 0 !important;
		}
		&:hover {
			background: shade(color("brand"), 20%) !important;
			text-decoration: none;
		}
	}
	#sb_instagram .sbi_photo {
		border-radius: 20px;
	}
	#sb_instagram .sbi_type_carousel .sbi_playbtn,
	#sb_instagram .sbi_type_carousel .svg-inline--fa.fa-play,
	#sb_instagram .sbi_type_video .sbi_playbtn,
	#sb_instagram .sbi_type_video .svg-inline--fa.fa-play,
	.sbi_type_carousel .fa-clone,
	.sbi_type_video .svg-inline--fa.fa-play,
	.sbi_playbtn {
		display: none !important;
	}
	@include mq($until: tablet) {
		#sbi_images .sbi_item {
			width: 50% !important;
		}
	}
	#sbi_images {
		margin-left: -20px;
		width: calc(100% + 40px) !important;
		@include mq($until: tablet) {
			max-height: 320px;
			overflow: hidden !important;
		}
	}
}
