.c-video-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 700;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	&__close {
		display: block;
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 700;
		color: #fff;
	}
	&__container {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
		border-radius: 20px;
		max-width: 850px;
		padding: 0 24px;
		width: 100%;
		top: 100px;
		@include mq(tablet) {
			top: 200px;
		}
		video {
			border-radius: 20px;
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
}
