.c-wtob {
	position: relative;
	padding-bottom: 60px;
	text-align: center;
	h3 {
		margin-bottom: 6px;
	}
	&__list {
		margin-bottom: 30px;
		// @include mq(tablet) {
		// 	margin-bottom: 80px;
		// }
		&-header {
			max-width: 680px;
			margin: auto;
		}
		.o-module {
			justify-content: center;
			overflow: visible;
		}
		.o-layout > .o-layout__item {
			vertical-align: middle;
		}
		&-each {
			display: inline-block;
			width: 100%;
			border-radius: 10px;
			transition: all 0.3s;
			padding: 6px;
			background-color: #f9f9f9;
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
			@include mq(tablet) {
			}
			&.no-link {
				cursor: default;
			}
			&:hover {
				box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
				transform: scale(1.03);
				span {
					opacity: 1;
				}
			}
			img {
				max-width: 100%;
				width: auto;
				height: auto;
				margin: -15px auto;
				@include mq(tablet) {
					max-width: 180px;
				}
			}
			span {
				display: block;
				line-height: 1.2;
				color: color("content");
				transition: 0.3s;
				margin-bottom: 18px;
			}
		}
	}
}
