select,
textarea,
input {
	outline: none;
}

select,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"] {
	display: block;
	width: 100%;
	padding: 12px 14px 11px;
	border-radius: 0;
	appearance: none;
	border: 0;
	background: color("white");
	@extend %text-form;
	color: rgba(color("content"), 0.8);
	font-weight: 400;
	&::placeholder {
		@extend %text-form;
		color: rgba(color("content"), 0.5);
		font-weight: 400;
		text-align: left;
		vertical-align: center;
	}
}
// CONTACT FORM 7 SPECIFIC STYLES
.wpcf7 {
	position: relative;
	&-form-control-wrap {
		display: block;
		margin-bottom: 20px;
		@include mq(tablet) {
			margin-bottom: 18px;
		}
	}
	label {
		@extend %text-form;
		display: inline-block;
		color: rgba(color("content"), 0.8);
		font-weight: 700;
		padding-bottom: 8px;
	}

	textarea {
		height: 345px;
		resize: none;
		@include mq(tablet) {
			height: 215px;
		}
	}
	.wpcf7-submit.wpcf7-submit {
		display: inline-block;
	}

	.screen-reader-response {
		display: none !important;
	}

	.wpcf7-not-valid-tip {
		display: inline-block;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.wpcf7-not-valid-tip,
	.wpcf7-response-output {
		@include font-size(size("s"));
		font-style: normal;
		letter-spacing: 1px;
		color: color("invalid");
		@include mq(tablet) {
			@include font-size(size("base"));
		}
	}

	.wpcf7-response-output {
		margin-top: 24px;
		text-align: center;
		@include mq(tablet) {
			text-align: right;
		}
	}

	.wpcf7-valid-tip,
	.sent .wpcf7-response-output,
	form.sent {
		color: color("valid");
	}

	.wpcf7-response-output[aria-hidden="true"] {
		display: none;
	}
	.page-template-page-services & {
		label {
			display: none;
		}
	}
	.page-template-page-services & {
		.wpcf7-form-control-wrap {
			margin-bottom: 32px;
			@include mq(tablet) {
				margin-bottom: 54px;
			}
		}
		.wpcf7-submit {
			margin-top: 0px;
			@include mq(tablet) {
				margin-top: -22px;
			}
		}
	}
}

.ajax-loader {
	pointer-events: none;
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(color("content"), 0.2);
	&:after {
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		display: block;
		width: 24px;
		height: 24px;
		background-image: url("../img/icon-submit-loader.png");
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	&.is-active {
		display: inline-block;
		opacity: 1;
		&:after {
			animation: spinLoader 1.5s infinite;
		}
	}
}

@keyframes spinLoader {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
