body {
	min-height: 100%;
	font-family: $primary;
	@include font-size($base-font-size, 20px);
	color: color("black");
	-webkit-font-smoothing: antialiased;
	padding: 0px $unit-small * 1.25;
	@include mq("tablet") {
		padding: 0px 20px;
	}
}

html,
body {
	&.is-fixed {
		height: 100%;
		overflow: hidden;
	}
	&.no-overflow {
		overflow: hidden;
	}
}
// Use https://github.com/willmcpo/body-scroll-lock, it's already in the scripts
.scroll-lock {
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
}

.is-blured {
	pointer-events: none;
	filter: blur(3px);
}

.space-top {
	padding: $unit-small * 1.25 0 0;
	@include mq("tablet") {
		padding: 20px 0 0;
	}
}

.space-bottom {
	padding: 0 0 $unit-small * 1.25;
	@include mq("tablet") {
		padding: 0 0 20px;
	}
}

[data-aos="fade-scale"] {
	transform: scale(0.8) translate3d(-10px, 10px, -10px);
}

[data-aos="fade-scale"].aos-animate {
	transform: scale(1) translate3d(0, 0, 0);
}
[data-aos="fade-animate"] {
	opacity: 1;
	transform: translate3d(0, 55%, 0);
}

[data-aos="fade-animate"].aos-animate {
	opacity: 0;
	transform: translate3d(0, 0%, 0);
}
