$table-border: color("brand");

table {
	width: 100%;
}

th,
td {
	padding: $unit-tiny;
	vertical-align: top;
}
th {
	border-bottom: 2px solid $table-border;
	text-align: left;
	tbody & {
		border-bottom: 1px solid $table-border;
		font-weight: normal;
	}
}
td {
	border-bottom: 1px solid $table-border;
}
