strong,
b,
th {
	font-weight: bold;
}

small,
.u-flydirt {
	$size: size("s");
	@include font-size($size, 0.75);
}

.u-minortext {
	$size: size("s");
	@include font-size($size);
}

.has-minortext {
	li,
	p {
		@extend .u-minortext;
	}
}
