// .o-main,
// .o-side {
// 	@include mq(lap) {
// 	  float: left;
// 	}
// }

.o-layout {
	> .o-layout__item {
		margin-bottom: 24px;
	}

	&--help-form {
		> .o-layout__item {
			margin-bottom: 24px;
		}

		@include mq($until: tablet) {
			> .o-layout__item {
				margin-bottom: 12px;
			}
		}
	}
	&--large2 {
		margin-left: -60px;
		> .o-layout__item {
			margin-bottom: 60px;
			padding-left: 60px;
		}
		@include mq($until: tablet) {
			margin-left: -14px;

			> .o-layout__item {
				margin-bottom: 14px;
				padding-left: 14px;
			}
		}
	}
	&--home-content {
		margin-left: -60px;
		> .o-layout__item {
			margin-bottom: 60px;
			padding-left: 60px;
		}
		> .o-layout__item:first-child {
			margin-bottom: 60px;
			padding-left: 15px;
		}

		@include mq($until: tablet) {
			margin-left: -14px;
			> .o-layout__item:first-child {
				margin-bottom: 14px;
				padding-left: 14px;
			}
			> .o-layout__item {
				margin-bottom: 14px;
				padding-left: 14px;
			}
		}
	}
	&--large3 {
		margin-left: -54px;
		> .o-layout__item {
			margin-bottom: 54px;
			padding-left: 54px;
		}
		@include mq($until: tablet) {
			margin-left: -14px;

			> .o-layout__item {
				margin-bottom: 14px;
				padding-left: 14px;
			}
		}
	}
	&--about {
		margin-left: -60px;

		> .o-layout__item {
			margin-bottom: 60px;
			padding-left: 60px;
		}
		@include mq($until: tablet) {
			margin-left: -14px;

			> .o-layout__item {
				margin-bottom: 14px;
				padding-left: 14px;
			}
		}
	}
	&--flush {
		> .o-layout__item {
			margin-bottom: 0;
		}
	}
	&--flush-mob {
		@include mq($until: tablet) {
			> .o-layout__item {
				margin-bottom: 0;
			}
		}
	}
}

.o-order {
	display: flex;
	&__1\@tabletS {
		@include mq(tabletS) {
			order: 1;
		}
	}
	&__2\@tabletS {
		@include mq(tabletS) {
			order: 2;
		}
	}
	&__3\@tabletS {
		@include mq(tabletS) {
			order: 3;
		}
	}
	&__3\@tablet {
		@include mq(tablet) {
			order: 3;
		}
	}
	&__4\@tablet {
		@include mq(tablet) {
			order: 4;
		}
	}
	&__4\@tabletWide {
		@include mq(tabletWide) {
			order: 4;
		}
	}
	&__5\@tabletWide {
		@include mq(tabletWide) {
			order: 5;
		}
	}
}

.u-show\@tabletWide {
	display: none;
	@include mq(tabletWide) {
		display: inline-block;
	}
}
.u-show\@tabletM {
	display: none;
	@include mq(tabletM) {
		display: inline-block;
	}
}
.u-show\@tabletS {
	display: none;
	@include mq(tabletS) {
		display: inline-block;
	}
}
.u-hide\@tabletS {
	display: inline-block;
	@include mq(tabletS) {
		display: none;
	}
}
.u-max-width-1\@tabletS {
	@include mq($until: tabletS) {
		max-width: 148px;
	}
}
.u-max-width-2\@tabletS {
	@include mq($until: tabletS) {
		max-width: 162px;
		margin-top: 24px;
	}
}
.o-order-center {
	@include mq($until: tabletS) {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		align-content: flex-start;
	}
}
.u-align-start {
	text-align: center;
	@include mq(tabletS) {
		text-align: start;
	}
}

.u-align-center {
	text-align: center;
}

.u-align-end {
	text-align: center;
	@include mq(tabletS) {
		text-align: end;
	}
}

.o-layout {
	&--flush {
		> .o-layout__item {
			margin-bottom: 0;
		}
	}
	&--flush-footer-bottom {
		> .o-layout__item {
			margin-bottom: 0;
			padding: 0;
		}
	}
}
