.o-wrapper {
	@include inuit-clearfix();
	max-width: $sitewidth;
	margin: 0 auto;
	padding: 0 82px;
	@include mq($until: tablet) {
		padding: 0 36px;
	}
	&::after {
		content: "" !important;
		display: block !important;
		clear: both !important;
	}
}
