/**
 * #SETTINGS
 */
@import "partials/settings.defaults";
@import "partials/settings.colors";
@import "partials/settings.fonts";
@import "partials/settings.responsive";
@import "../../bower_components/inuit-defaults/settings.defaults";

/**
 * #TOOLS
 */
@import "../../bower_components/inuit-functions/tools.functions";
@import "partials/tools.functions";
@import "../../bower_components/inuit-mixins/tools.mixins";
@import "partials/tools.mixins";
@import "../../bower_components/inuit-responsive-tools/tools.responsive";
@import "partials/tools.aliases";

/**
 * #GENERIC
 */
@import "../../bower_components/inuit-normalize/generic.normalize";
@import "../../bower_components/inuit-reset/generic.reset";
@import "../../bower_components/inuit-box-sizing/generic.box-sizing";
@import "partials/generic.shared";

/**
 * #BASE
 */
@import "../../bower_components/inuit-page/base.page";
@import "partials/base.page";
$inuit-namespace: "u-"; // namespace utility classes
@import "partials/base.headings";
@import "partials/base.type";
@import "partials/base.links";
@import "partials/base.lists";
@import "partials/base.forms";
@import "partials/base.quotes";
@import "partials/base.tables";
@import "partials/base.images";
$inuit-namespace: null;

/**
 * #OBJECTS
 */
$inuit-namespace: "o-";
$inuit-enable-layout--flush: true;
$inuit-enable-layout--tiny: true;
$inuit-enable-layout--small: true;
$inuit-enable-layout--large: true;
$inuit-enable-layout--huge: true;
$inuit-layout-gutter--small:        round($inuit-base-line-height * .75);
$inuit-layout-gutter--large:        round($inuit-base-line-height * 2);
$inuit-layout-gutter--huge:        round($inuit-base-line-height * 3.4);
@import "../../bower_components/inuit-layout/objects.layout";
@import "partials/objects.layout";
@import "partials/objects.wrappers";
@import "partials/objects.intrinsic-ratios";
$inuit-namespace: null;

$inuit-btn-namespace:       "o-";

$inuit-btn-padding:         halve($inuit-base-spacing-unit) !default;
$inuit-btn-padding--small:  halve($inuit-btn-padding) !default;
$inuit-btn-padding--large:  double($inuit-btn-padding) !default;
$inuit-btn-background:      color("brand");
$inuit-btn-color:           color("white");
$inuit-btn-border-width:    0 !default;
$inuit-btn-border-style:    solid !default;
$inuit-btn-border-color:    $inuit-btn-background !default;
$inuit-btn-radius:          $base-round;

$inuit-enable-btn--small:   false !default;
$inuit-enable-btn--large:   false !default;
$inuit-enable-btn--full:    false !default;
$inuit-enable-btn--pill:    false !default;
@import "../../bower_components/inuit-buttons/_objects.buttons";
@import "partials/objects.buttons";

/**
 * #COMPONENTS
 */

@import "partials/components.animation";
@import "partials/components.icons";
@import "partials/components.page-nav";
@import "partials/components.page-top";
@import "partials/components.page-content";
@import "partials/components.page-bottom";
@import "partials/components.media";
@import "partials/components.gallery";
@import "partials/components.sections";
@import "partials/components.project";
@import "partials/components.stage";
@import "partials/components.menu";
@import "partials/components.invert";
@import "partials/components.about";
@import "partials/components.contact";
@import "partials/components.archive";
@import "partials/components.toggle-menu";
@import "partials/components.nav";
@import "partials/components.team";
@import "partials/components.project-list";
@import "partials/components.landing";
@import "partials/components.svgicon";
@import "partials/components.load-overlay";
@import "partials/components.bio-overlay";
@import "partials/components.slider";
@import "partials/components.home";
@import "partials/components.shopify";
@import "partials/components.impact";


/**
 * #TRUMPS
 */
$inuit-namespace: "u-"; // namespace utility classes
@import "../../bower_components/inuit-clearfix/trumps.clearfix";
$inuit-use-fractions:   false;
@import "partials/trumps.widths";
@import "partials/trumps.widths-responsive";
@import "partials/trumps.misc";