select,
textarea,
input {
	outline: none;
	font-family: $primary;
}
select,
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"] {
	display: block;
	width: 100%;
	padding: 16px;
	border: 1px solid #f0f0f0;
	border-radius: 0;
	background: #f0f0f0;
	box-shadow: none;
	appearance: none;
	font-weight: 300;
	&.wpcf7-not-valid {
		border-bottom: 1px solid red;
	}
	@include font-size(16px, 1.67);
	&::-webkit-input-placeholder {
		color: tint(color("brand"), 60%);
	}
	&::-moz-placeholder {
		color: tint(color("brand"), 60%);
	}
	&::-ms-input-placeholder {
		color: tint(color("brand"), 60%);
	}
	&::-moz-placeholder {
		color: tint(color("brand"), 60%);
	}
	&::placeholder {
		color: tint(color("brand"), 60%);
	}
}

textarea {
	height: 200px;
	resize: none;
}
select {
	padding: 8px 56px 8px 16px;
	background-image: linear-gradient(
			45deg,
			transparent 50%,
			color("content") 50%
		),
		linear-gradient(135deg, color("content") 50%, transparent 50%),
		linear-gradient(to right, color("content"), color("content"));
	background-position: calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-repeat: no-repeat;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	box-shadow: none;
}

// THIS RADIO BUTTON STYLE IS SPECIFIC TO CONTACT FORM 7
input[type="radio"] {
	opacity: 0;
	appearance: none;

	&:checked {
		background: tint(color("content"), 20%);
	}
	+ span {
		display: inline-block;
		cursor: pointer;
		&:before {
			content: " ";
			display: inline-block;
			width: 13px;
			height: 13px;
			margin-right: 8px;
			border: 1px solid tint(color("content"), 20%);
			border-radius: 10px;
			vertical-align: middle;
		}
	}
	&:checked + span::before {
		background: tint(color("content"), 20%);
	}
	&:focus + span {
		outline: 1px dotted tint(color("content"), 20%);
		outline-offset: 2px;
	}
}
input[type="checkbox"] {
	opacity: 0;
	appearance: none;
	position: absolute;
	&:checked {
		background: tint(color("content"), 20%);
	}
	+ span {
		display: inline-block;
		cursor: pointer;
		font-size: 0;
		&:before {
			content: " ";
			display: inline-block;
			width: 25px;
			height: 25px;
			margin-right: 15px;
			border: 1px solid #898989;
			background-color: #f1f1f1;
			vertical-align: middle;
		}
	}
	&:checked + span::before {
		background: tint(color("content"), 20%);
	}
}
.t-center {
	text-align: center;
}
.input-wrap {
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
	vertical-align: top;
	span.label {
		text-align: left;
		display: block;
		margin-bottom: 6px;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.3;
	}
	.hidden-label {
		position: absolute;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		height: 1px;
		width: 1px;
		margin: 0;
		padding: 0;
		border: 0;
	}
	&.checkbox-wrap {
		@include mq(tablet) {
			margin-top: -120px;
		}
	}
	&.half {
		clear: initial;
		@include mq(tablet) {
			float: left;
			width: 50%;
		}
	}
	&.left {
		@include mq(tablet) {
			padding-right: 20px;
		}
	}
	&.right {
		@include mq(tablet) {
			padding-left: 20px;
		}
	}
	&.no-mb {
		margin-bottom: 4px;
	}
	& .submit {
		position: relative;
		text-align: center;
		display: inline-block;
		width: auto;
		text-align: center;
		margin-top: 50px;
		@include mq(tablet) {
			margin-top: 80px;
		}
		input[type="submit"] {
			position: relative;
			border: 1px solid;
			outline: 0;
			border-radius: 2px;
			background-color: color("blue");
			color: #fff;
			text-transform: uppercase;
			font-weight: 500;
			padding: 20px 60px 19px;
			font-size: 16px;
			transition: 0.3s;
			cursor: pointer;
			&:hover {
				background-color: transparent;
				color: color("blue");
			}
		}
	}
}

// CONTACT FORM 7 SPECIFIC STYLES
.wpcf7 {
	&-form-control-wrap {
		display: block;
		margin-bottom: 1px;
		&.checkbox-signup {
			display: inline-block;
		}
	}
	&-form-control {
		&.wpcf7-checkbox {
			display: inline-block;
			font-size: 0;
			vertical-align: middle;
		}
	}

	&-not-valid {
		.wpcf7-list-item-label {
			color: red;
			&::before {
				border-color: red;
			}
		}
	}
	.screen-reader-response {
		display: none !important;
	}
	&-not-valid-tip,
	&-validation-errors {
		color: red;
		display: none;
	}
	&-not-valid-tip,
	&-response-output {
		@include font-size(16px, 1.5);
		text-align: center;
	}
}

.ajax-loader {
	pointer-events: none;
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: color("blue");
	border-radius: 2px;
	&:after {
		content: " ";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		display: block;
		width: 24px;
		height: 24px;
		background-image: url("../img/icon-submit-loader.png");
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	&.is-active {
		display: inline-block;
		opacity: 1;
		&:after {
			animation: spinLoader 1.5s infinite;
		}
	}
}

@keyframes spinLoader {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

// Ninja form styling

.nf-form-cont {
	nf-field {
		display: inline;
	}
	.nf-form-content label {
		text-align: left;
		display: block;
		margin-bottom: 6px;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.3;
	}
	.nf-form-content .list-select-wrap .nf-field-element > div,
	.nf-form-content input:not([type="button"]),
	.nf-form-content textarea {
		display: block;
		width: 100%;
		padding: 16px;
		border: 1px solid #f0f0f0;
		border-radius: 0;
		background: #f0f0f0;
		box-shadow: none;
		appearance: none;
		font-weight: 300;
	}
	.label-hidden .nf-field-label {
		height: auto;
		margin: 0 !important;
		width: 100%;
		visibility: visible;
	}
	.nf-error.field-wrap .nf-field-element:after,
	.nf-error .nf-error-msg,
	.nf-form-fields-required {
		display: none;
	}
	.nf-field-element {
		p {
			margin-bottom: 10px;
		}
	}
	// .checkbox-wrap .nf-field-label label:after,
	.checkbox-wrap {
		input[type="checkbox"] {
			opacity: 0;
			appearance: none;
			position: absolute;
		}
		.nf-field-label label:before {
			content: " ";
			display: inline-block;
			width: 25px;
			height: 25px;
			margin-right: 15px;
			border: 1px solid #898989;
			background-color: #f1f1f1;
			vertical-align: middle;
		}
		.nf-field-label .nf-checked-label:before {
			background-color: tint(color("content"), 20%);
		}
	}
	.label-right .nf-field-label {
		padding-left: 0;
		order: 0;
	}
	.nf-form-content input[type="button"] {
		position: relative;
		border: 1px solid;
		outline: 0;
		border-radius: 2px;
		background-color: color("blue");
		color: #fff;
		text-transform: uppercase;
		font-weight: 500;
		padding: 21px 60px 19px;
		font-size: 16px;
		transition: 0.3s;
		cursor: pointer;
		&:hover {
			background-color: transparent;
			color: color("blue");
		}
	}
	.nf-field-container {
		&.unknown-container {
			margin: 0;
			height: 0;
		}
	}
	.nf-after-field {
		display: none;
	}
	.nf-error.listimage-wrap .nf-field-element ul,
	.nf-error .ninja-forms-field {
		border-bottom: 1px solid #e80000 !important;
	}
	// .recaptcha-container{
	// 	opacity: 0;
	// 	display: none;
	// }
}
