h1 {
	margin-bottom: spacer(0.5, size("xxl"));
	font-weight: 500;
	@include font-size(40px, 1.15);
	@include mq(tablet) {
		@include font-size(64px, 1.15);
	}
}

h2 {
	margin-bottom: spacer(0.5, size("xl"));
	font-weight: 500;
	@include font-size(34px, 1.15);
	@include mq(tablet) {
		@include font-size(40px, 1.15);
	}
}

h3 {
	margin-bottom: spacer(1, size("l"));
	font-weight: 500;
	@include font-size(28px, 1.15);
	@include mq(tablet) {
		@include font-size(30px, 1.15);
	}
}

.page-title {
	margin-top: 0;
	color: color("brand");
	margin-bottom: 30px;
}
