html {
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

body {
	min-height: 100%;
	font-family: $primary;
	font-weight: 300;
	@include font-size($base-font-size);
	line-height: 1.6;
	color: color("content");
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}

// Use https://github.com/willmcpo/body-scroll-lock, it's already in the scripts
.scroll-lock {
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
}

.is-blured {
	pointer-events: none;
	filter: blur(3px);
}

.intro-para {
	font-size: 25px;
	line-height: 1.2;
}
.c-404 {
	padding-top: 110px;
	padding-bottom: 50px;
	color: color("brand");
	@include mq(tablet) {
		padding-top: 200px;
		padding-bottom: 100px;
	}
}
.c-default {
	padding-top: 110px;
	padding-bottom: 50px;
	color: color("brand");
	@include mq(tablet) {
		padding-top: 200px;
		padding-bottom: 100px;
	}
	h1 {
		text-align: center;
		margin-bottom: 50px;
	}
	.c-cms-content {
		strong {
			font-weight: 500;
		}
	}
}
.grecaptcha-badge {
	display: none !important;
}
.home .mc-modal,
.home .mc-banner {
	display: none !important;
}
.iframe#_hjRemoteVarsFrame {
	font-family: $primary !important;
	font-weight: 300 !important;
	.mc-layout__modalContent {
		font-family: $primary !important;
		font-weight: 300 !important;
	}
	.content__titleDescription > div {
		margin-bottom: 0 !important;
		margin-top: 10px !important;
		font-family: $primary !important;
		font-weight: 300 !important;
	}
}
