h1 {
	font-weight: normal;
	@include font-size(40px, 42px);
	@include mq($until: tablet) {
		@include font-size(36px, 38px);
	}
}

h2 {
	@include font-size(34px, 42px);
	font-weight: normal;

	&.large {
		@include font-size(40px, 42px);
	}

	@include mq($until: tablet) {
		&.large {
			@include font-size(28px, 32px);
		}

		&.large-mob {
			@include font-size(36px, 38px);
		}
		@include font-size(28px, 32px);
	}
}

h3 {
	@include font-size(26px, 31px);
	font-weight: normal;

	@include mq($until: tablet) {
		@include font-size(21px, 24px);

		&.large-mob {
			@include font-size(28px, 32px);
		}
	}
}

h4 {
	@include font-size(21px, 24px);
	font-weight: normal;

	@include mq($until: tablet) {
		@include font-size(21px, 24px);
	}
}

h5 {
	@include font-size(20px, 35px);
	font-weight: normal;

	@include mq($until: tablet) {
		@include font-size(18px, 25px);
	}
}

h6 {
	@include font-size(15px, 42px);
	font-weight: normal;

	@include mq($until: tablet) {
		@include font-size(15px, 22px);
	}
}

.alt-head {
	@include font-size(53px, 55px);
	font-weight: normal;
	font-family: $font-bold;

	@include mq($until: tablet) {
		@include font-size(40px, 42px);
	}
}

.heading {
	span:last-child {
		color: color("secondary");
	}
}

.heading-mob {
	@include mq($until: tablet) {
		span:last-child {
			color: color("secondary");
		}
	}
}

h1,
h2,
h3,
h4 {
	font-family: $font-bold;
}

h5,
h6 {
	font-family: $font-med;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	em {
		font-style: normal;
		color: color("secondary");
	}

	margin-bottom: 20px;
	color: color("primary");
	text-transform: capitalize;

	@include mq($until: tablet) {
		margin-bottom: 15px;
	}
}
