body {
	min-height: 100%;
	font-family: $primary;
	@include font-size($base-font-size);
	color: color("primary");
	-webkit-font-smoothing: antialiased;
	p {
		margin-bottom: 20px;

		@include mq($until: tablet) {
			margin-bottom: 15px;
		}
	}

	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6 {
		margin-top: 30px;
		@include mq($until: tablet) {
			margin-top: 15px;
		}
	}

	p + a.o-btn {
		margin-top: 10px;
	}

	p + ul {
		margin-top: -10px;

		@include mq($until: tablet) {
			margin-top: -5px;
		}
	}
}

a {
	text-decoration: none;
	color: color("primary");
}

// Use https://github.com/willmcpo/body-scroll-lock, it's already in the scripts
.scroll-lock {
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
}

.is-blured {
	pointer-events: none;
	filter: blur(3px);
}

.hide {
	display: none;
}

.c-default {
	border-top: 185px solid color("primary");
	padding-bottom: 80px;
}

.intro-para {
	p:first-child {
		font-family: $font-med;
		margin-bottom: 20px;
		@include font-size(20px, 33px);

		@include mq($until: tablet) {
			@include font-size(18px, 28px);
			margin-bottom: 15px;
		}
	}

	img {
		margin: 50px 0;
	}
}
